{% extends "ru/templates/page.html" %}

{% block link %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Содержание /</small></a></li>
    <li class="active"><small><strong> Список сокращений</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/glossary.jpg);
    background-position-y: 25%;
{% endblock %}

{% block  titleText %}
    Список сокращений
{% endblock %}

{% block  subtitleText %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <strong>АЭС</strong> &ndash; атомная электростанция
            <br><br>
            <strong>ГЦТ</strong> &ndash; главный циркуляционный трубопровод
            <br><br>
            <strong>КПЭ</strong> &ndash; ключевой показатель эффективности
            <br><br>
            <strong>ЛСР</strong> &ndash; лимит самостоятельной работы
            <br><br>
            <strong>МКУМ</strong> &ndash; минимальный контролируемый уровень мощности
            <br><br>
            <strong>МТР</strong> &ndash; материально-технические ресурсы
            <br><br>
            <strong>НИР</strong> &ndash; научно-исследовательская работа
            <br><br>
            <strong>НМЦ</strong> &ndash; начальная максимальная цена договора
            <br><br>
            <strong>НП</strong> &ndash; некоммерческое партнерство
            <br><br>
            <strong>ОВОС</strong> &ndash; оценка воздействия на окружающую среду
            <br><br>
            <strong>ОИАЭ</strong> &ndash; объекты использования атомной энергии
            <br><br>
            <strong>ООБ</strong> &ndash; отчет по обоснованию безопасности
            <br><br>
            <strong>ОПД</strong> &ndash; основные показатели деятельности
            <br><br>
            <strong>ОЯТ</strong> &ndash; отработавшее (облученное) ядерное топливо
            <br><br>
            <strong>ПИР</strong> &ndash; проектно-изыскательные работы 
            <br><br>
            <strong>ПООБ</strong> &ndash; предварительный отчет обоснования безопасности
            <br><br>
            <strong>ПОРА</strong> &ndash; программа оптимизации расходов
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <strong>ПСР</strong> &ndash; Производственная система «Росатом»
            <br><br>
            <strong>РАО</strong> &ndash; радиоактивные отходы
            <br><br>
            <strong>РВ</strong> &ndash; радиоактивные вещества
            <br><br>
            <strong>РД</strong> &ndash; рабочая документация
            <br><br>
            <strong>РМС</strong> &ndash; Русатом – Международная сеть
            <br><br>
            <strong>РСТ</strong> &ndash; договор о патентной кооперации (patent cooperation treaty)
            <br><br>
            <strong>РУ</strong> &ndash; реакторная установка
            <br><br>
            <strong>СМР</strong> &ndash; строительно-монтажные работы
            <br><br>
            <strong>ССДП</strong> &ndash; скорректированный свободный денежный поток
            <br><br>
            <strong>СФР</strong> &ndash; сметно-финансовый расчет
            <br><br>
            <strong>ТРО</strong> &ndash; твердые радиоактивные отходы
            <br><br>
            <strong>ФМБА России</strong> &ndash; Федеральное медико-биологическое агентство России
            <br><br>
            <strong>ЦФО</strong> &ndash; центр финансовой ответственности
            <br><br>
           <strong>Э/б</strong> &ndash; энергоблок
            <br><br>
            <strong>ЯТЦ</strong> &ndash; Ядерный топливный цикл
        </div>
    </div>

{% endblock %}