{% extends "ru/templates/page.html" %}

{% block link %}
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/fm.revealator.jquery.min.css">
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Содержание /</small></a></li>
    <li class="active"><small><strong>О компании</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/оКомпании.jpg);
    background-position-y: 20%;
{% endblock %}

{% block  titleText %}
    О компании
{% endblock %}

{% block  subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-1">102-1</a></span>
            <span class="hidden-gri">Наименование организации</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-2">102-2</a></span>
            <span class="hidden-gri">Главные бренды, продукты, услуги</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-3">102-3</a></span>
            <span class="hidden-gri">Расположение штаб-квартиры организации</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-5">102-5</a></span>
            <span class="hidden-gri">Характер собственности и организационно-правовая форма</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-16">102-16</a></span>
            <span class="hidden-gri">Ценности, принципы, стандарты и нормы поведения</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-4">102-4</a></span>
            <span class="hidden-gri">География операционной деятельности</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-6">102-6</a></span>
            <span class="hidden-gri">Рынки, на которых работает организация</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-13">102-13</a></span>
            <span class="hidden-gri">Членство в ассоциациях</span>
        </span>
    </li>
</ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="blockLineLeftTxt">
                <span class="color_GOST">( GRI <span id="gri-102-1">102–1</span>, <span id="gri-102-2">102-2</span>, <span id="gri-102-3">102-3</span>, <span id="gri-102-5">102–5</span> )</span> 
                <span class="block">
                    <span class="hover">Инжиниринговый</span>
                    <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
                </span>
                дивизион Госкорпорации «Росатом» включает в себя четыре ключевые организации:
                
                <ul>
                    <li class="mt-4">АО ИК «АСЭ» (г. Нижний Новгород) – управляющая компания,</li>
                    <li>АО АСЭ (г. Нижний Новгород),</li>
                    <li>АО «Атомэнергопроект» (г. Москва),</li>
                    <li>АО «АТОМПРОЕКТ» (г. Санкт-Петербург).</li>
                </ul>
            </div>
            <div class="blockLineLeftTxt mt-4">
                <h4><strong>Наше видение</strong></h4>
                <p class="mt-4">Мы стремимся построить конкурентоспособный бизнес, успешно реализующий проекты по сооружению и управлению сооружением сложных инженерных объектов и нацеленный на максимизацию акционерной стоимости</p>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="blockLineLeftTxt">
                <h4><strong>Основные направления деятельности</strong></h4>

                <div class="row direction-icons mb-3">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                        <img class="icon-markets" src="/img/about_company/2.jpg" alt="">

                        1
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                        <img class="icon-markets" src="/img/about_company/1.jpg" alt="">

                        2
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                        <img class="icon-markets" src="/img/about_company/3.jpg" alt="">

                        3
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                        <img class="icon-markets" src="/img/about_company/4.jpg" alt="">

                        4
                    </div>
                </div>

                <div class="row">
                    <ol>
                        <li>Основное ядро. Проектирование и строительство атомных электростанций.</li>
                        <li>Сервисные услуги.</li>
                        <li>Сооружение и модернизация объектов обращения с радиоактивными отходами и отработанным ядерным топливом и вывод из эксплуатации ядерных радиационных объектов.</li>
                        <li>Цифровые продукты на базе платформы Multi-D и услуги по управлению проектами.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
        

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="blockLineLeftTxt mt-4">
                <h4><strong>Наша миссия</strong></h4>
                <p class="mt-4">Мы управляем сооружением сложных инженерных объектов, основываясь на широком опыте реализации проектов в атомной отрасли.</p>
                <p>Мы создаем стоимость для акционера и обеспечиваем реализацию его целей на российском и международном рынках.</p>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="blockLineLeftTxt mt-4">
                <h4><strong>Наши ценности: </strong></h4>
                <span class="color_GOST">(GRI <span id="gri-102-16">102-16</span>)</span>
                
                <p class="mt-4">Ценности <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона соответствуют ценностям Госкорпорации «Росатом» и ориентированы на выполнение миссии и обеспечение устойчивого развития.</p>
                <ul>
                    <li>Безопасность</li>
                    <li>Ответственность за результат</li>
                    <li>Эффективность</li>
                    <li>Единая команда</li>
                    <li>На шаг впереди</li>
                    <li>Уважение</li>
                </ul>
            </div>
        </div>
    </div>

    <br><br>
    <hr class="zas">

    <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12" style="margin: auto;">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/chapters/2.4_human.jpg" style="width: 100%; height: 350px;">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/chapters/about_company.jpg" style="width: 100%; height: 350px;">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/бизнес_модель.png" style="width: 100%; height: 350px;">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/ключевые_события_3.png" style="width: 100%; height: 350px;">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/белорусская.jpg" style="width: 100%; height: 350px;">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                </div>

        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
            <h4 class="mt-4"><strong>Конкурентные преимущества Дивизиона:</strong></h4>
            <ul class="mt-4">
                <li>Наличие референций на российском и зарубежных рынках</li>
                <li>Наличие безопасных типовых проектов с реакторами типа VVER поколения III/III+, конкурентоспособных по параметрам 
                <span class="block">
                    <span class="hover">LCOE,</span>
                    <span class="hidden">
                        Приведенная стоимость электроэнергии [кВт*ч] на всем жизненном цикле и выражается в денежной единице за производство 1 кВт*час. 
                        <br>Определяется как величина платы за электроэнергию путем суммирования всех расходов (капитальные вложения, операционные затраты, в т.ч. затраты на топливо, затраты обращения с 
                        <span class="block">
                            <span class="hover">ОЯТ</span>
                            <span class="hidden">отработавшее (облученное) ядерное топливо</span>
                        </span>  
                        и 
                        <span class="block">
                            <span class="hover">РАО,</span>
                            <span class="hidden">радиоактивные отходы</span>
                        </span>  
                        расходы на персонал, затраты на ремонты, оплата услуг сторонних организаций, страхование и налоги, отчисления на ВЭ 
                            <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span>  и прочие затраты)на всем жизненном цикле станции  (с учетом фактора временной ценности денег) и соотнесенных к (проектной или фактической) мощности 
                            <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span> .
                    </span>
                </span>
                капитальным затратам, срокам сооружения;</li>
                <li>Развитая система управления проектами 
                    <span class="block">
                        <span class="hover">сооружения АЭС</span>
                        <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                    </span>  и других сложных инженерных объектов
                </li>
                <li>Комплексная промышленно-технологическая платформа Multi-D управления объектом капитального строительства</li>
                <li>Высокий уровень компетенций управленческой команды и операционного персонала, обладающего многолетним опытом 
                    <span class="block">
                        <span class="hover">сооружением АЭС</span>
                        <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                    </span> и других сложных инженерных объектов
                </li>
                <li>Собственные проектные мощности</li>
                <li>Мощная инженерно-техническая база</li>
            </ul>
        </div>
    </div>

    <br>
    <hr class="zas">

    <h4 class="mt-4"><strong>Регионы присутствия</strong></h4>
    <p class="mt-4">Мы ведем деятельность в 23 странах мира, филиалы и представительства Компании находятся в 13 странах. <span class="color_GOST">(GRI <span id="gri-102-4">102-4</span>, <span id="gri-102-6">102-6</span>)</span></p>

    <small class="color_GOST">*Нажмите на страну для получения подробной информации</small>
    <div class="revealator-slideup revealator-once">{% include "./map.html" %}</div>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12"><img src="/img/map/blue_ring.png" class="mapIcon"> Филиалы</div>
        <div class="col-lg-5 col-md-5 col-sm-12"><img src="/img/map/blue_circle.png" class="mapIcon"> 
            <span class="block">
                <span class="hover">Сооружение АЭС</span>
                <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
            </span> 
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12"><img src="/img/map/green_circle.png" class="mapIcon"> Вывод из эксплуатации ядерно- и радиационно- опасных объектов, объекты обращения с 
            <span class="block">
                <span class="hover">РАО</span>
                <span class="hidden">радиоактивные отходы</span>
            </span>  
            и 
            <span class="block">
                <span class="hover">ОЯТ</span>
                <span class="hidden">отработавшее (облученное) ядерное топливо</span>
            </span> 
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-2 col-md-2 col-sm-12"><img src="/img/map/light_blue_circle.png" class="mapIcon"> Сервис</div>
        <div class="col-lg-5 col-md-5 col-sm-12"><img src="/img/map/purple_circle.png" class="mapIcon"> Консультационные услуги по управлению проектом</div>
        <div class="col-lg-5 col-md-5 col-sm-12"><img src="/img/map/green_ring.png" class="mapIcon"> Представительства</div>
    </div>


    <h4 class="mt-4"><strong>Членство в ассоциациях: </strong></h4><span class="color_GOST">(GRI <span id="gri-102-13">102-13</span>)</span>
    <ul class="mt-4">
        <li>Союз работодателей атомной промышленности, энергетики и науки России,</li>
        <li>Ассоциация инновационного проектирования,</li>
        <li>Клуб европейских эксплуатирующих организаций,</li>
        <li>
            Саморегулируемая организация 
            <span class="block">
                <span class="hover">НП</span>
                <span class="hidden">некоммерческое партнерство</span>
            </span>
            «Объединение организаций, выполняющих инженерные изыскания при архитектурно-строительном проектировании, строительстве, реконструкции, капитальном ремонте объектов атомной отрасли «СОЮЗАТОМГЕО»,</li>
        <li>
            Саморегулируемая организация
            <span class="block">
                <span class="hover">НП</span>
                <span class="hidden">некоммерческое партнерство</span>
            </span>
            «Объединение организаций, выполняющих архитектурно-строительное проектирование объектов атомной отрасли «СОЮЗАТОМПРОЕКТ»,</li>
        <li>Национальная Ассоциация инженеров-консультантов в строительстве,</li>
        <li>Чешский ядерный форум,</li>
        <li>Ассоциация «Саморегулируемое региональное отраслевое объединение работодателей «Объединение нижегородских строителей» (с 2017 года).</li>
    </ul>

    <p><em>Информацию об организационной структуре АО ИК «АСЭ» и операционных активах организаций в контуре управления АО ИК «АСЭ» см. в <a href="../../appendix/6.pdf" target="_blank">Приложениях 6</a> и <a href="../../appendix/7.pdf" target="_blank">7</a> Книги приложений</em></p>

{% endblock %}

{% block scripts %}
    <script src="/js/map.js"></script>
    <script src="/js/about_company.js"></script>
    <script src="/js/fm.revealator.jquery.min.js"></script>
{% endblock %}