{% extends "ru/templates/page.html" %}

{% block link %}
    <link rel="stylesheet" href="/css/table.css">
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Содержание /</small></a></li>
    <li class="active"><small><strong> Приложения</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/annex.jpg);
    background-position-y: 78%;
{% endblock %}

{% block  titleText %}
    Приложения
{% endblock %}

{% block  subtitleText %}
{% endblock %}

{% block content %}
    Все приложения к настоящему отчету представлены в Книге приложений см.  <a href="http://www.niaep.ru/information_disclosure/Annual_reports/:">http://www.niaep.ru/information_disclosure/Annual_reports/:</a>
    <br><br>
    <a href="../../appendix/1.pdf" target="_blank">Приложение 1   Таблица раскрытия индикаторов GRI SRS и таблица соответствия Стандарту <ИО>.</a>
    <br><a href="../../appendix/2.pdf" target="_blank">Приложение 2    Заключение службы внутреннего контроля и аудита.</a>   
    <br><a href="../../appendix/3.pdf" target="_blank">Приложение 3    Заключение нефинансового аудитора.</a>
    <br><a href="../../appendix/4.pdf" target="_blank">Приложение 4    Заключение об общественном заверении Совета по нефинансовой отчетности Российского союза промышленников и предпринимателей.</a>
    <br><a href="../../appendix/5.pdf" target="_blank">Приложение 5    Заключение об общественном заверении Российской Региональной Сети по интегрированной отчетности.</a>
    <br><a href="../../appendix/6.pdf" target="_blank">Приложение 6    Организационная структура АО ИК «АСЭ».</a>	
    <br><a href="../../appendix/7.pdf" target="_blank">Приложение 7    Операционные активы организаций в контуре управления АО ИК «АСЭ».</a>
    <br><a href="../../appendix/8.pdf" target="_blank">Приложение 8    Корпоративное управление в АО «НИКИМТ-Атомстрой», ООО «Трест РосСЭМ» и ПАО «Энергоспецмонтаж».</a>
    <br><a href="../../appendix/9.pdf" target="_blank">Приложение 9    Информация о членах Советов директоров.</a>
    <br><a href="../../appendix/10.pdf" target="_blank">Приложение 10    Отчеты Советов директоров о результатах деятельности.</a>	
    <br><a href="../../appendix/11.pdf" target="_blank">Приложение 11    Информация о крупных сделках и сделках, в совершении которых имелась заинтересованность.</a>
    <br><a href="../../appendix/12.pdf" target="_blank">Приложение 12    Дополнительная информация к разделу «Человеческий капитал».</a>
    <br><a href="../../appendix/13.pdf" target="_blank">Приложение 13    Дополнительная информация к разделу «Производственный капитал» (результаты внедрения ПСР).</a>
    <br><a href="../../appendix/14.pdf" target="_blank">Приложение 14    Дополнительные экологические показатели.</a>  
{% endblock %}