{% extends "ru/templates/page.html" %} {% block breadcrumb %}
<li>
  <a href="/content">
    <small>Содержание /</small>
  </a>
</li>
<li>
  <a href="#">
    <small>Глава 1 /</small>
  </a>
</li>
<li class="active">
  <small><strong>1.2</strong></small>
</li>
{% endblock %} 

{% block picture %}
    background-image: url(../img/chapters/1.2_change.jpg);
    background-position-y: 48%;
{% endblock %}

{% block titleText%} 1.2. Бизнес-модель {% endblock %}
{% block subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-9">102-9</a></span>
            <span class="hidden-gri">Цепочка поставок</span>
        </span>
    </li>
</ul>
{% endblock %}
{% block content %}
<div>
  <p>
    <div id="Context">
      <p> <span class="color_GOST">(GRI <span id="gri-102-9">102-9</span>)</span> Осознавая значимость своей деятельности для экономики и общества, <span class="block">
	<span class="hover">Инжиниринговый</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизион ставит перед собой задачу устойчивого развития бизнеса, в том числе за счет увеличения его совокупной стоимости/ценности для Дивизиона, широкого круга заинтересованных сторон и общества в целом. Под понятием «стоимость/ценность» подразумеваются не только создаваемые продукты, оказываемые услуги и финансовые результаты, но и совокупность экономического, социального и экологического влияния Компании на окружающий мир.</p>
    <p>Цепочка создания стоимости <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона (в основном ядре бизнеса) является составной частью единой цепочки создания стоимости атомной отрасли.</p>
    </div>
  </p>

  <img src="/img/business1.jpg" style="width: 100%;">

  <p class="mt-4">Дивизион определяет бизнес-модель как систему, обеспечивающую создание стоимости в кратко-, средне- и долгосрочной перспективе и направленную на достижение стратегических целей. В основе бизнес-модели Компании лежит ее
    <abbr title="В процессе трансформации Инжинирингового дивизиона в цифровую компанию возможна трансформация бизнес-модели.">долгосрочная стратегия</abbr>.
  </p>
</div>
<div>
  {% include "./business2.html" %}
</div>
{% endblock %}