{% extends "ru/templates/page.html" %}

{% block link %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Содержание /</small></a></li>
    <li class="active"><small><strong> Заключение об общественном/стейкхолдерском заверении Отчета</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/conclusion.jpg);
    background-position-y: 65%;
{% endblock %}

{% block  titleText %}
    Заключение об общественном/стейкхолдерском заверении Отчета
{% endblock %}

{% block  subtitleText %}
{% endblock %}

{% block content %}
    <h4 class="mt-5"><strong>Вводная информация</strong></h4>
    
    <p class="mt-5"><span class="block">
        <span class="hover">Инжиниринговый</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span>  дивизион Госкорпорации «Росатом» (далее – <span class="block">
        <span class="hover">Инжиниринговый</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span>  дивизион, Дивизион, Компания) предложил нам оценить Годовой отчет за 2017 год (далее – Отчет), в том числе полноту и существенность раскрытой в нем информации и реагирование Компании на запросы заинтересованных сторон. Для этого нам и нашим представителям была предоставлена возможность участвовать в Общественных консультациях по проекту Отчета, которые прошли 18.04.2018, а также в двух диалогах с заинтересованными сторонами:</p>
    
    <ul class="mt-4">
        <li class="mt-2">диалоге по определению существенных тем для раскрытия в Отчете, который состоялся 07.11.2017;</li>
        <li class="mt-2">диалоге по приоритетным темам Отчета, который состоялся 27.02.2018.</li>
    </ul>

    <h4 class="mt-5"><strong>Процедура оценки Отчета</strong></h4>

    <p class="mt-5">Наше заключение основывается на сравнительном анализе двух версий Отчета (проект Отчета для Общественных консультаций и заключительная версия Отчета) и предоставленных нам материалах по итогам проведенных диалогов и консультаций с заинтересованными сторонами (протоколы мероприятий, таблицы учета замечаний), а также на комментариях, полученных от руководства и сотрудников 
    <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span>  дивизиона в ходе мероприятий по общественному заверению.</p>
    <p>В процессе общественного заверения Отчета мы не ставили задачу проверки системы сбора и анализа информации в Компании – достоверность представленных в Отчете фактических и прогнозных данных не является предметом заверения.</p>
    <p>Все участники общественного заверения имели полную возможность свободно выражать свое мнение.</p>
    <p>Мы не получали от Компании вознаграждения за участие в процедуре общественного заверения.</p>

    <h4 class="mt-5"><strong>Оценки, замечания и рекомендации</strong></h4>

    <p class="mt-5">Мы едины в положительной оценке Отчета – его формата и объема представленной в нем информации. Интегрированный характер Отчета позволил комплексно раскрыть отчетную информацию по итогам основной деятельности Компании, ее результативности в области устойчивого развития, стратегии и планах на будущее.</p>
    <p>В 2018 году Отчет во второй раз подготовлен в широких границах: в него включена отчетная информация по всем ключевым организации Дивизиона (АО ИК «АСЭ», АО «Атомэнергопроект», АО «АТОМПРОЕКТ» и АО АСЭ) и ряду дочерних организаций в контуре управления.</p>
    <p>Дивизион ведет свою деятельность в 23 странах мира. За счет расширения контура управления круг заинтересованных сторон увеличился. Поэтому для Компании столь важно продолжать готовить отчеты с использованием международных стандартов и быть максимально прозрачной, в том числе и для представителей своих зарубежных стейкхолдеров.</p>
    <p>Отчет подготовлен в соответствии с Международным стандартом интегрированной отчетности (International < IR > Framework), стандартами серии АА1000 (Institute of Social and Ethical AccountAbility) и Руководством в области устойчивого развития (Global Reporting Initiative SRS, уровень расширенный).</p>
    <p>В 2018 году Компания впервые провела диалог с заинтересованными сторонами на площадке строительства – на Нововоронежской АЭС‑2 с подключением по видеосвязи Московского филиала АО ИК «АСЭ». На диалоге обсуждались приоритетные темы Отчета: «Трансформация 
    <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span>  дивизиона в цифровую компанию» и «Подготовка и повышение квалификации кадров Компании в условиях цифрового перехода». Рекомендуем продолжить в дальнейшем практику проведения диалогов на объектах Компании, считаем ее очень полезной.</p>
    <p>Также считаем правильным выбор приоритетных тем Отчета. Рекомендуем и в дальнейших отчетах подробно раскрывать тему цифровизации, особенно результаты внедрения базовой технологии Multi-D.</p>
    <p>В Отчете показана приверженность целям в области устойчивого развития до 2030 года, принятым Организацией Объединенных Наций (далее – ООН) и вклад 
    <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span>  дивизиона в реализацию этих целей. В дальнейших отчетах рекомендуем показать обоснование выбора этих пяти целей, более детальную связь с задачами, заявленными ООН и решаемыми в рамках этих целей, а также связь заявленных целей со стратегическим целями Дивизиона.</p>
    <p>С удовлетворением отмечаем, что 
    <span class="block">
        <span class="hover">Инжиниринговый</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span>  дивизион, являясь одним из лидеров корпоративной отчетности, продолжает поиск наиболее эффективных и полезных для своих стейкхолдеров форм отчетности. В 2018 году впервые в пилотном режиме подготовлены буклеты по итогам года по двум площадкам строительства – АЭС «Руппур» (Бангладеш) и АЭС «Пакш» (Венгрия). Надеемся в следующем Отчете увидеть анализ этого пилотного проекта и решение Компании о продолжении этой практики.</p>
    <p>Также выражаем надежду, что в ближайшие годы, решая задачи трансформации 
    <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span>  дивизиона в цифровую компанию, Компания внесет свой вклад в цифровизацию процессов отчетности.</p>

    <h4 class="mt-5"><strong>Существенность и полнота информации</strong></h4>

    <p class="mt-5">Мы считаем, что 
    <span class="block">
        <span class="hover">Инжиниринговый</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span>  дивизион учел требования международных стандартов по определению существенности. Для определения существенных тем третий раз была применена технология 
    <span class="block">
        <span class="hover">Rapid Foresight</span>
        <span class="hidden">Технология, которая позволяет кругу лиц, которые участвуют в форсайте, договориться по поводу образа будущего, своих действий по поводу этого будущего, и своего желаемого будущего. Основа методики: совместная работа участников на карте времени; работа не с текстами, а с образами и схемами</span>
    </span> , которая позволила топ-менеджменту Компании и представителям заинтересованных сторон в короткие сроки (на одном мероприятии) провести полный цикл работ по формированию матрицы существенных тем для раскрытия в Отчете.</p>
    <p>Выбранные существенные темы были сопоставлены с темами GRI SRS. Информация по существенным темам раскрыта в Отчете достаточно полно. Вся важная информация по приоритетным темам («Трансформация 
    <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span>  дивизиона Госкорпорации «Росатом» в цифровую компанию», «Подготовка и повышение квалификации кадров Компании в условиях цифрового перехода») раскрыта.</p>
    <p>На наш взгляд, Дивизион последовательно соблюдает принципы существенности и краткости отчетной информации и это позитивно сказывается на объеме Отчета и значимости размещенной в нем информации.</p>

    <h4 class="mt-5"><strong>Реагирование на запросы заинтересованных сторон</strong></h4>

    <p class="mt-5">В процессе подготовки Отчета Компания продемонстрировала высокий уровень готовности вести открытый диалог с заинтересованными сторонами по различным направлениям своей деятельности. Большинство высказанных рекомендаций к проекту Отчета было учтено, или Компания взяла на себя обязательства учесть их в последующих циклах отчетности. Также в Отчете размещена информация о выполнении обязательств, принятых Компанией в предыдущих циклах отчетности, что является, по нашему мнению, хорошим образцом для других компаний.</p>
    <p>Проводимая Дивизионом практика диалогов, на наш взгляд, является хорошим примером повышения уровня прозрачности и открытости со стороны Компании, как в части публичной отчетности, так и в целом обеспечения общественной приемлемости развития атомных технологий.</p>
    <p>Надеемся, что 
    <span class="block">
        <span class="hover">Инжиниринговый</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span>  дивизион и далее продолжит практику информационной открытости по всем ключевым общественно-значимым вопросам и направлениям деятельности Компании и с каждым годом будет совершенствовать механизмы публичной отчетности.</p>

    <img src="/img/signatures.jpg" style="width: 100%;">

{% endblock %}