{% extends "ru/templates/page.html" %} 

{% block breadcrumb %}
<li class="active">
  <small>
    <strong>Содержание</strong>
  </small>
<li>
{% endblock %} 

    {% block link %}
    <link rel="stylesheet" href="/css/content.css">
    {% endblock %}
    {% block picture %}
      background-image: url(../img/chapters/содержание.jpg);
    {% endblock %}

    {% block titleText%} Содержание {% endblock %} {% block subtitleText %} {% endblock %}
    
    {% block content %}
    <div id="contentAccordion">
        
        <div>
            <a href="/about_company">О компании</a>
        </div>
        <div>
            <a href="/info_about_report">Информация об отчёте</a>
        </div>
        <div>
            <a href="/key_event">Ключевые события 2017 года</a>
        </div>
        <div>
            <a href="/president">Обращение Руководителя Инжинирингового дивизиона Госкорпорации «Росатом»</a>
        </div>
        <div id="headingOne">
            <a href="" class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapseO" aria-expanded="false"
                aria-controls="collapseO">
                <b>Глава 1.</b> Стратегический обзор
            </a>
        </div>
        <div id="collapseO" class="collapse-content collapse" aria-labelledby="headingOne" data-parent="#contentAccordion">
            <div>
                <a href="/division_strategy">1.1. Стратегия Инжинирингового дивизиона и КПЭ ее реализации</a>
            </div>
            <div>
                <a href="/business_model">1.2. Бизнес-модель</a>
            </div>
            <div>
                <a href="/markets_of_presence">1.3. Рынки присутствия</a>
            </div>
            <div>
                <a href="/digital_transformation">1.4. Цифровая трансформация Инжинирингового дивизиона</a>
            </div>
            <div>
                <a href="/risks_and_opportunities">1.5. Риски и возможности</a>
            </div>
            <div>
                <a href="/corporate_governance">1.6. Корпоративное управление</a>
            </div>
        </div>
        <div id="headingTwo">
            <a href="" class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">
                <b>Глава 2.</b> Ключевые результаты деятельности
            </a>
        </div>
        <div id="collapseTwo" class="collapse-content collapse" aria-labelledby="headingTwo" data-parent="#contentAccordion">
            <div>
                <a href="/financial_capital">2.1. Финансовый капитал</a>
            </div>
            <div>
                <a href="/productive_capital">2.2. Производственный капитал </a>
            </div>
            <div>
                <a href="/intellectual_capital">2.3. Интеллектуальный капитал</a>
            </div>
            <div>
                <a href="/human_capital">2.4. Человеческий капитал. Подготовка кадров в условиях цифрового перехода</a>
            </div>
            <div>
                <a href="/natural_capital">2.5. Природный капитал</a>
            </div>
            <div>
                <a href="/soc_rep_capital">2.6. Социально-репутационный капитал</a>
            </div>
        </div>
        <div>
            <a href="/engagement">Взаимодействие с заинтересованными сторонами в ходе подготовки Отчета</a>
        </div>
        <div>
            <a href="/conclusion">Заключение об общественном/стейкхолдерском заверении Отчета</a>
        </div>
        <div>
            <a href="/gri">Таблица раскрытия индикаторов GRI SRS и таблица соответствия Стандарту <ИО></a>
        </div>
        <div>
            <a href="/glossary">Глоссарий</a>
        </div>
        <div>
            <a href="/abbreviations">Список сокращений</a>
        </div>
        <div>
            <a href="/annex">Список приложений</a>
        </div>
        <div>
            <a href="/interactive">Ключевые показатели 2017 года</a>
        </div>
    </div>
    {% endblock %}