{% extends "ru/templates/page.html" %} 

{% block link %}
    <link rel="stylesheet" href="/css/fm.revealator.jquery.min.css">
{% endblock %}

{% block breadcrumb %}
<li>
    <a href="/content">
        <small>Содержание /</small>
    </a>
</li>
<li>
    <a href="#">
        <small>Глава 1 /</small>
    </a>
</li>
<li class="active">
    <small><strong>1.6</strong></small>
</li>
{% endblock %} 

{% block picture %}
    background-image: url(../img/chapters/1.6.jpg);
    background-position-y: 45%;
{% endblock %}

{% block titleText%} 1.6. Корпоративное управление {% endblock %}

{% block subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-10">102-10</a></span>
            <span class="hidden-gri">Существенные изменения в границе организации и ее цепочке поставок</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-17">102-17</a></span>
            <span class="hidden-gri">Механизмы сообщения о неэтичном или незаконном поведении</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-18">102-18</a></span>
            <span class="hidden-gri">Структура корпоративного управления</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-19">102-19</a></span>
            <span class="hidden-gri">Делегирование полномочий</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-22">102-22</a></span>
            <span class="hidden-gri">Cостав высшего руководящего органа и его комитетов</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-23">102-23</a></span>
            <span class="hidden-gri">Председатель высшего руководящего органа</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-7">102-7</a></span>
            <span class="hidden-gri">Масштаб организации</span>
        </span>
    </li>
</ul>
{% endblock %}

{% block content %}
<div id="under">
    <strong>1.6.1. Система корпоративного управления 
    <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span>
    дивизиона</strong>
</div>

<div>
    <div><img src="/img/control_loop.jpg" style="width: 100%;"></div>
    <div>
        <br>
        <small>
            <strong>Таблица 6. Основные принципы корпоративного управления акционерных обществ Дивизиона</strong>
        </small>
        <table class=" table table-borderless table-responsive">
            <tr>
                <td>Принцип защиты прав и интересов акционеров</td>
                <td>
                    Корпоративное управление в обществах основано на принципе защиты и уважения прав и законных интересов акционеров и способствует эффективной деятельности обществ, в том числе росту активов и поддержанию финансовой стабильности и прибыльности. Акционеры имеют права, предусмотренные Федеральным законом «Об акционерных обществах» и Уставом обществ.
                    <br>Корпоративное управление обеспечивает акционерам реальную возможность осуществлять свои права, связанные с участием в управлении обществами. Порядок обмена информацией между обществами и акционерами регулируется действующим законодательством РФ, Уставом, отраслевыми и внутренними документами обществ.
                </td>
            </tr>
            <tr>
                <td>Принцип эффективного управления Советом директоров</td>
                <td>
                    Деятельность Совета директоров (СД) строится на основе максимального соблюдения и реализации интересов акционеров и ответственности за деятельность обществ.
                    <br>СД действует добросовестно и в интересах акционеров и обществ. Совет директоров обеспечивает полную прозрачность своей деятельности перед акционерами.
                </td>
            </tr>
            <tr>
                <td>Принцип прозрачности и объективности раскрытия информации о деятельности обществ</td>
                <td>
                    Общества в целях обеспечения возможности принятия акционерами обоснованных решений, а также доведения до сведения заинтересованных лиц информации о деятельности обществ, обеспечивают своевременное раскрытие перед акционерами и заинтересованными лицами достоверной информации, в том числе о финансовом положении, экономических показателях, результатах деятельности, структуре собственности и управления.
                    <br>При раскрытии и/или публикации какой-либо информации учитываются положения законодательства о государственной и коммерческой тайне.
                </td>
            </tr>
            <tr>
                <td>Принцип законности и этики</td>
                <td>
                    Общества действуют в строгом соответствии с законодательством, общепринятыми принципами деловой этики, Уставами обществ и договорными обязательствами.
                    <br>Отношения между акционерами и членами Совета директоров строятся на взаимном доверии, уважении, подотчетности и контроле.
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12">

            <h4><strong>Ключевые результаты 2017 года в области корпоративного управления:</strong></h4>

            <ul class="mt-4">
                <li>
                    утверждены новые редакции Уставов ключевых организаций <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона, в которых компетенция органов управления частично перераспределена в соответствии с изменениями в Федеральном законе «Об акционерных обществах», вступившими в силу с 01.01.2017;
                </li>
                <li>
                    в связи с истечением 31.03.2017 срока полномочий управляющей организации АО АСЭ – АО ИК «АСЭ» (договор о передаче полномочий единоличного исполнительного органа АО АСЭ от 27.03.2014) заключен договор о передаче полномочий единоличного исполнительного органа АО АСЭ между АО АСЭ и АО ИК «АСЭ» от 31.03.2017 сроком на 5 лет с 01.04.2017;
                </li>
                <li>
                    <span class="color_GOST">(GRI <span id="gri-102-10">102-10</span>)</span> с 29.12.2017 изменился состав акционеров в АО ИК «АСЭ», АО «АТОМПРОЕКТ» и ПАО «Энергоспецмонтаж»:
                </li>
                <table class="  table table-borderless table-responsive">
                    <tr class="centerCol">
                        <th>Состав акционеров </th>
                        <th>по состоянию на 01.01.2017</th>
                        <th>по состоянию на 29.12.2017</th>
                    </tr>
                    <tr>
                        <th colspan="3">АО ИК «АСЭ»:</th>
                    </tr>
                    <tr class="centerCol">
                        <td>АО «Атомэнергопром»</td>
                        <td>27,2 %</td>
                        <td>-</td>
                    </tr>
                    <tr class="centerCol">
                        <td>АО АСЭ</td>
                        <td>72,8 %</td>
                        <td>100 % минус 1 акция</td>
                    </tr>
                    <tr class="centerCol">
                        <td>АО «Атомэнергопроект»</td>
                        <td>-</td>
                        <td>1 акция</td>
                    </tr>
                    <tr>
                        <th colspan="3">АО «АТОМПРОЕКТ»:</th>
                    </tr>
                    <tr class="centerCol">
                        <td>АО «Атомэнергопром»</td>
                        <td>100 %</td>
                        <td>-</td>
                    </tr>
                    <tr class="centerCol">
                        <td>АО АСЭ</td>
                        <td>-</td>
                        <td>100 % минус 1 акция</td>
                    </tr>
                    <tr class="centerCol">
                        <td>АО ИК «АСЭ»</td>
                        <td>-</td>
                        <td>1 акция</td>
                    </tr>
                    <tr>
                        <th colspan="3">ПАО «Энергоспецмонтаж»:</th>
                    </tr>
                    <tr class="centerCol">
                        <td>АО «Атомэнергопром»</td>
                        <td>99,9565 %</td>
                        <td>-</td>
                    </tr>
                    <tr class="centerCol">
                        <td>АО АСЭ</td>
                        <td>-</td>
                        <td>99,9565 %</td>
                    </tr>
                </table class="  table table-borderless table-responsive">
                <li>
                    28.12.2017 ликвидировано ООО «АСЭ-<span class="block">
	<span class="hover">Инжиниринг</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span>». Решение о добровольной ликвидации принято единственным участником ООО «АСЭ-<span class="block">
	<span class="hover">Инжиниринг</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span>» 03.05.2017;
                </li>
                <li>
                    25.12.2017 ликвидировано АО «Казахстанско-Российская компания «Атомные станции» (АО «КРКАС»), Республика Казахстан. Решение о добровольной ликвидации АО «КРКАС» принято годовым общим собранием акционеров АО «КРКАС» 10.05.2017;
                </li>
                <li>
                    03.07.2017 принято решение единственного акционера АО Сибирский проектно-изыскательский институт «Оргстройпроект» (АО «Атомэнергопроект») о добровольной ликвидации общества (общество ликвидировано 01.03.2018);
                </li>
                <li>10.10.2017 ликвидирован Волгоградский проектный филиал АО «Атомэнергопроект».</li>
            </ul>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="headerPage blockLineLeftTxt">
                Отдельные нормы Кодекса корпоративного управления, рекомендованного письмом Банка России от 10.04.2014 № 06-52/2463, отражены в ряде локальных нормативных актов Дивизиона и применяются на практике с учетом того, что большинство организаций в контуре управления являются непубличными акционерными обществами, а также с учетом закрепленной нормативными правовыми актами РФ специфики правового положения Госкорпорации «Росатом», обеспечивающей единство управления организациями атомной отрасли.
            </div>
        </div>
    </div>
    <br>
    <div>
        <h4><strong>Планы по совершенствованию системы корпоративного управления в 2018 году и среднесрочной перспективе:</strong></h4>
        <ul>
            <li>подключение системы электронного голосования на общих собраниях акционеров АО ИК «АСЭ».</li>
        </ul>
    </div>

    <div class="mt-5">
        <div id="under">
            <strong>1.6.2. Система корпоративного управления АО ИК «АСЭ»
                <span class="color_GOST">(GRI <span id="gri-102-17">102-17</span>, <span id="gri-102-19">102-19</span>, <span id="gri-102-22">102-22</span>, <span id="gri-102-23">102-23</span>)</span>
            </strong>
        </div>

        <img src="/img/system.jpg" class="mt-5" style="width: 100%;">
        
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                Для ежемесячной оценки результативности топ-менеджеров применяется система оценки по выполнению оперативных показателей деятельности.
                <br><br>В качестве оценки результативности применяется система КПЭ (подробнее о системе КПЭ см. в разделе «<a href="/human_capital">Человеческий капитал</a>»).
                <br><br>Для оценки результативности в перспективе по длительности более одного года применяются проектное и стратегическое премирование с соответствующими показателями.
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                Отчет Совета директоров АО ИК «АСЭ» о результатах деятельности см. в <a href="../../appendix/10.pdf" target="_blank">Приложении 10</a> Книги приложений.
                <br><br>Информацию о крупных сделках и сделках, в совершении которых имелась заинтересованность, см. в <a href="../../appendix/11.pdf" target="_blank">Приложении 11</a> Книги приложений.
                <br><br>* Биография членов СД в <a href="../../appendix/9.pdf" target="_blank">Приложении 9</a>.
            </div>
        </div>
    </div>
    <br>
    <div>
        <strong>В 2017 году общим собранием акционеров АО ИК «АСЭ» принимались решения, в том числе по следующим вопросам:</strong>
        <ul class="mt-4">
            <li>об утверждении Устава АО ИК «АСЭ» в новой редакции № 4;</li>
            <li>о досрочном прекращении полномочий членов Совета директоров АО ИК «АСЭ»;</li>
            <li>об избрании Совета директоров АО ИК «АСЭ»;</li>
            <li>о распределении прибыли (в том числе выплате (объявлении) дивидендов) и убытков АО ИК «АСЭ» по результатам 2016 отчетного года;</li>
            <li>о согласии на совершение крупной сделки.</li>
        </ul>
    </div>
    <br>
    <div>
        <small>
            <strong> Таблица 7. Выплаченные дивиденды, млн руб.
            </strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <th rowspan="2">Организация</th>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
            </tr>
            <tr>
                <th>план</th>
                <th>факт</th>
            </tr>
            <tr>
                <td>АО ИК «АСЭ»</td>
                <td>1 451,12</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </table>
    </div>
    <br>
    <div>
        <h4><strong>Сведения о реестродержателе АО ИК «АСЭ»</strong></h4>
        
        <ul class="mt-4">
            <li>Акционерное общество «Регистратор Р.О.С.Т.», осуществляющее ведение реестра владельцев именных ценных бумаг АО ИК «АСЭ».</li>
            <li>Адрес реестродержателя: Российская Федерация, 107996, г. Москва, ул. Стромынка, д. 18, корп. 13.</li>
            <li><span class="color_GOST">(GRI <span id="gri-102-7">102-7</span>)</span> АО ИК «АСЭ» размещены обыкновенные именные акции номинальной стоимостью 1 (один) рубль каждая в количестве 500 001 877 (пятьсот миллионов одна тысяча восемьсот семьдесят семь) штук на общую сумму по номинальной стоимости 500 001 877 (пятьсот миллионов одна тысяча восемьсот семьдесят семь) рублей. Все акции Общества выпущены в бездокументарной форме, размещены путем закрытой подписки.</li>
            <li>В соответствии с отчетом независимого оценщика рыночная стоимость одной обыкновенной именной акции составила 14 рублей 35 копеек.</li>
            <li>По состоянию на 31.12.2017 размер уставного капитала Общества составил 500 001 877 рублей.</li>
        </ul>

        <small>
            <strong> Таблица 8. Комитеты при Президенте АО ИК «АСЭ»
                <span class="color_GOST">(GRI 102-22)</span>
            </strong>
        </small>
        <table class="  table table-borderless table-responsive">
            <tr>
                <th>Комитет</th>
                <th>Председатель</th>
                <th>Ключевые вопросы, рассмотренные в 2017 году</th>
            </tr>
            <tr>
                <td>Комитет по реструктуризации непрофильных имущественных комплексов, недвижимого имущества и акционерного капитала
                </td>
                <td rowspan="3">Старший вице-президент по экономике и финансам Н.Г.Подоров</td>
                <td>
                    <strong>12 заседаний.</strong>
                    <br> Основные вопросы:
                    <ul>
                        <li>о признании непрофильным активом базы отдыха «Лесной уют»;</li>
                        <li>
                            об утверждении цены отсечения и способе реструктуризации непрофильного имущества, расположенного в Ленинградской и Калининградской областях;
                        </li>
                        <li>
                            о способе реструктуризации имущественных комплексов, расположенных в Ростовской, Томской и Тверской областях;
                        </li>
                        <li>
                            о признании непрофильным активом и способе реструктуризации помещений, расположенных в Калужской области;
                        </li>
                        <li>
                            о способе реструктуризации непрофильного имущества, расположенного в Удмуртской Республике, а также в Тверской и Ростовской областях.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Инвестиционный комитет</td>
                <td>
                    <strong>19 заочных заседаний.</strong>
                    <br> Основные вопросы:
                    <ul>
                        <li>утверждение попроектных лимитов финансирования на 2018 год;</li>
                        <li>
                            перераспределение лимитов между проектами/перенос на последующие периоды в случае возникновения производственной необходимости;
                        </li>
                        <li>
                            инициирование новых инвестиционных проектов с последующим вынесением вопроса на Инвестиционный комитет Госкорпорации «Росатом» с целью получения одобрения дополнительного объема финансирования;
                        </li>
                        <li>закрытие реализованных инвестиционных проектов.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Бюджетный комитет организаций в контуре управления АО ИК «АСЭ»</td>
                <td>
                    <strong>29 заседаний, в том числе 14 заочных.</strong>
                    <br> Основные вопросы:
                    <ul>
                        <li>итоги работы организаций в контуре управления АО ИК «АСЭ» за 2016 год;</li>
                        <li>бюджеты организаций в контуре управления АО ИК «АСЭ» на 2017 год;</li>
                        <li>поквартальные итоги работы организаций в контуре управления АО ИК «АСЭ» за 2017 год;</li>
                        <li>увеличение лимитов финансирования конкурсной процедуры АО ССМУ «Ленатомэнергострой»;</li>
                        <li>заключение соглашений об уступке права требования (цессии) перед АО Сибирский «Оргстройпроект»;</li>
                        <li>целевое использование средств от получения безвозмездного вклада в имущество ООО «Трест РосСЭМ» и ООО «СМУ № 1»;</li>
                        <li>первое чтение бюджетов организаций в контуре управления АО ИК «АСЭ» на 2018 год.</li>
                    </ul>
                </td>
            </tr>
        </table class="  table table-borderless table-responsive">

        <br>
        <small>
            <strong> Таблица 9. Коллегии при Президенте АО ИК «АСЭ»
                <span class="color_GOST">(GRI 102-22)</span>
            </strong>
        </small>
        <table class="  table table-borderless table-responsive">
            <tr>
                <th>Коллегия</th>
                <th>Руководитель</th>
                <th>Ключевые вопросы, рассмотренные в 2017 году</th>
            </tr>
            <tr>
                <td>Объединенная Коллегия</td>
                <td>Старший вице-президент по экономике и финансам Н.Г. Подоров</td>
                <td>
                    <strong>28 заседаний.</strong>
                    <br>Основные вопросы:
                    <ul>
                        <li>
                           начало и ведение претензионно-исковой работы в процессе исполнения договоров поставки оборудования и выполнения <span class="block">
	<span class="hover">СМР</span>
	<span class="hidden">строительно-монтажные работы</span>
</span>
;
                        </li>
                        <li>
                            предоставление банковских гарантий и обеспечительных платежей по договорам поставки и <span class="block">
	<span class="hover">СМР</span>
	<span class="hidden">строительно-монтажные работы</span>
</span>
;
                        </li>
                        <li>определение источника финансирования;</li>
                        <li>согласование валюты субподрядных договоров <span class="block">
	<span class="hover">ПИР</span>
	<span class="hidden">проектно-изыскательные работы</span>
</span> и поставки оборудования;</li>
                        <li>
                            авансирование при заключении договоров субподряда на <span class="block">
	<span class="hover">СМР</span>
	<span class="hidden">строительно-монтажные работы</span>
</span>
;
                        </li>
                        <li>
                            урегулирование вопросов ценообразования и порядка оплаты при выполнении <span class="block">
	<span class="hover">СМР</span>
	<span class="hidden">строительно-монтажные работы</span>
</span>
 на площадках строительства;
                        </li>
                        <li>урегулирование вопросов при проведении конкурсных процедур;</li>
                        <li>урегулирование вопросов, связанных с изменением штатного расписания и организационной структуры в центральном аппарате и филиалах.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Коллегия по управлению проектами</td>
                <td>Старший вице-президент по управлению российскими проектами С.П. Олонцев</td>
                <td>
                    <strong>Основные вопросы:</strong>
                    <ul>
                        <li>
                            подтверждение соответствия системы управления проектами АО ИК «АСЭ» требованиям международной ассоциации по управлению проектами <span class="block">
	<span class="hover">IPMA</span>
	<span class="hidden">Повышение эффективности проектной деятельности предприятия, осуществляемой в соответствии с лучшими международными практиками в сфере управления проектами. Подтверждение компетентности организации в управлении проектами на международном уровне.</span>
</span>.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Коллегия по развитию Группы компаний «АСЭ»</td>
                <td>Старший вице-президент по развитию И.А. Борисов</td>
                <td>
                    <strong>28 заседаний.</strong>
                    <br>Основные вопросы:
                    <ul>
                        <li>
                            потребность в специалистах с зарубежным опытом и знанием английского языка, определение требуемых знаний, умений и навыков по специализациям проектировщиков;
                        </li>
                        <li>
                            подготовка прогноза общей численности персонала, ответственного за выполнение <span class="block">
	<span class="hover">СМР</span>
	<span class="hidden">строительно-монтажные работы</span>
</span>
 на основании разработанной целевой бизнес-модели Дивизиона;
                        </li>
                        <li>разработка графика формирования информационных моделей и стандарта информационной модели;</li>
                        <li>определение проектов аналогов для каждого проекта в портфеле Дивизиона;</li>
                        <li>разработка базовых методик управления конфигурацией<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>;</li>
                        <li>разработка методологии управления качеством проектирования с применением ворот качества;</li>
                        <li>разработка концептуальной архитектуры цифровой отраслевой платформы по управлению жизненным циклом капитальных объектов.</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    
    <div class="mt-5">
        <div id="under">
            <strong>1.6.3. Система корпоративного управления АО АСЭ
                <span class="color_GOST"> (GRI <span id="gri-102-18">102-18</span>, 102-19, 102-22, 102-23)</span>
            </strong>
        </div>

        <img src="/img/system_ao.jpg" class="mt-5" style="width: 100%;">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                Для ежемесячной оценки результативности топ-менеджеров применяется система оценки по выполнению оперативных показателей деятельности.
                <br><br>В качестве годовой оценки результативности применяется система КПЭ (подробнее о системе КПЭ см. в разделе «<a href="/human_capital">Человеческий капитал</a>»).
                <br><br>Для оценки результативности в перспективе по длительности более одного года применяются проектное и стратегическое премирование с соответствующими показателями.
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                Отчет Совета директоров АО АСЭ о результатах деятельности см. в <a href="../../appendix/10.pdf" target="_blank">Приложении 10</a> Книги приложений.
                <br><br>Информацию о крупных сделках и сделках, в совершении которых имелась заинтересованность, см. в <a href="../../appendix/11.pdf" target="_blank">Приложении 11</a> Книги приложений.
                <br><br>* Биография членов СД в <a href="../../appendix/9.pdf" target="_blank">Приложении 9</a>.
            </div>
        </div>
    </div>

    <br>
    <div>
        <h4><strong>В 2017 году единственным акционером АО АСЭ приняты решения по следующим вопросам:</strong></h4>
        
        <ul class="mt-4">
            <li>об утверждении Устава АО АСЭ в новой редакции № 10,</li>
            <li>об избрании Совета директоров АО АСЭ,</li>
            <li>о передаче полномочий единоличного исполнительного органа АО АСЭ управляющей организации,</li>
            <li>об утверждении Устава АО АСЭ в новой редакции № 11,</li>
            <li>о распределении прибыли АО АСЭ (в том числе о выплате дивидендов) по результатам 2016 финансового года,</li>
            <li>об утверждении Устава АО АСЭ в новой редакции № 12,</li>
            <li>об одобрении заключенной крупной сделки,</li>
            <li>о согласии на совершение крупной сделки.</li>
        </ul>

        <h4 class="mt-4"><strong>В 2017 году проведено 34 заседания Совета директоров АО АСЭ, на которых приняты решения по следующим вопросам:</strong></h4>
        
        <ul class="mt-4">
            <li>об утверждении бюджета АО АСЭ на 2017 год;</li>
            <li>
                о предложении единственному акционеру АО АСЭ принять решение о передаче полномочий единоличного исполнительного органа АО АСЭ управляющей организации – АО ИК «АСЭ», об утверждении условий договора о передаче полномочий единоличного исполнительного органа АО АСЭ № 7763/171268 между АО ИК «АСЭ» и АО АСЭ;
            </li>
            <li>
                об утверждении Годового отчета АО АСЭ за 2016 год и годовой бухгалтерской (финансовой) отчетности АО АСЭ по результатам 2016 года;
            </li>
            <li>
                о рекомендациях по распределению прибыли, в том числе по размеру дивиденда по акциям АО АСЭ и порядку его выплаты (по результатам 2016 финансового года);
            </li>
            <li>об утверждении аудитора АО АСЭ на 2017 год и об определении размера оплаты его услуг;
            </li>
            <li>
                о прекращении участия АО АСЭ в Саморегулируемой организации Ассоциации «Объединение организаций, выполняющих строительство, реконструкцию, капитальный ремонт объектов атомной отрасли «СОЮЗАТОМСТРОЙ»;
            </li>
            <li>
                об участии АО АСЭ в Ассоциации «Саморегулируемое региональное отраслевое объединение работодателей «Объединение нижегородских строителей»;
            </li>
            <li>о прекращении участия АО АСЭ в ЗАО «МЕЦАМОРЭНЕРГОАТОМ»;</li>
            <li>об утверждении Перечня инициатив благотворительного характера АО АСЭ на 2017 год;</li>
            <li>
                об изменении доли участия АО АСЭ в уставном капитале АО ИК «АСЭ» путем покупки у акционерного общества «Атомный энергопромышленный комплекс» обыкновенных именных бездокументарных акций АО ИК «АСЭ»;
            </li>
            <li>
                об участии АО АСЭ в уставном капитале Акционерного общества «Научно-исследовательский и проектно-конструкторский институт энергетических технологий «АТОМПРОЕКТ» путем покупки у акционерного общества «Атомный энергопромышленный комплекс» обыкновенных именных бездокументарных акций Акционерного общества «Научно-исследовательский и проектно-конструкторский институт энергетических технологий «АТОМПРОЕКТ»;
            </li>
            <li>
                об участии АО АСЭ в уставном капитале публичного акционерного общества «Энергоспецмонтаж» путем покупки у акционерного общества «Атомный энергопромышленный комплекс» обыкновенных именных бездокументарных акций ПАО «Энергоспецмонтаж»;
            </li>
            <li>
                об определении цены крупных сделок, об утверждении заключений о крупных сделках, о предложении единственному акционеру одобрить заключенную крупную сделку / принять решение о согласии на совершение крупной сделки;
            </li>
            <li>о согласии на совершение Обществом сделок в случаях, предусмотренных Уставом Общества.</li>
        </ul>

        <br>
        <h4><strong>Сведения о реестродержателе АО АСЭ</strong></h4>

        <ul class="mt-4">
            <li>Акционерное общество «Регистраторское общество «СТАТУС».</li>
            <li>109544, г. Москва, ул. Новорогожская, д. 32, стр. 1 .</li>
            <li>ИНН 7707179242, ОГРН 1027700003924.</li>
            <li>Телефон: + 7 (495) 974-83-50. Факс: + 7(495) 678-71-10.</li>
            <li>Лицензия на осуществление деятельности по ведению реестра № 10-000-1-00304 от 12.03.2004.</li>
            <li>Организационно-правовая форма – непубличное акционерное общество.</li>
        </ul>
        
        <p class="text-focus">Уставный капитал АО АСЭ составляет 350 044 835 15/91 руб. АО АСЭ размещены обыкновенные именные акции номинальной стоимостью 10 90/91 руб. каждая в количестве 31 854 080 штук на общую сумму по номинальной стоимости 350 044 835 15/91 руб. Привилегированные акции не размещались. Акции в публичном обращении не находятся, текущая рыночная стоимость по ним не определялась.</p>
        
        <br>
        <small>
            <strong>Таблица 10. Выплаченные дивиденды, млн руб.
            </strong>
        </small>
        <table class="table table-borderless table-responsive textCenter">
            <tr>
                <th rowspan="2">Организация</th>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
            </tr>
            <tr>
                <th>план</th>
                <th>факт</th>
            </tr>
            <tr>
                <td>АО АСЭ</td>
                <td>-</td>
                <td>-</td>
                <td>4000</td>
                <td>4000</td>
            </tr>
        </table>
    </div>

    <div class="mt-5">
        <div id="under">
            <strong>1.6.4. Система корпоративного управления АО «Атомэнергопроект»
                <span class="color_GOST">(GRI 102-17, 102-19, 102-22, 102-23)</span>
            </strong>
        </div>

        <img src="/img/system_atom.jpg" class="mt-5" style="width: 100%;">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                Для ежемесячной оценки результативности топ-менеджеров применяется система оценки по выполнению оперативных показателей деятельности.
                <br><br>В качестве оценки результативности применяется система КПЭ (подробнее о системе КПЭ см. в разделе «<a href="/human_capital">Человеческий капитал</a>»).
                <br><br>Для оценки результативности в перспективе по длительности более одного года применяются проектное и стратегическое премирование с соответствующими показателями.
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                Отчет Совета директоров АО «Атомэнергопроект» о результатах деятельности см. в <a href="../../appendix/10.pdf" target="_blank">Приложении 10</a> Книги приложений.
                <br><br>Информацию о крупных сделках и сделках, в совершении которых имелась заинтересованность, см. в <a href="../../appendix/11.pdf" target="_blank">Приложении 11</a> Книги приложений.
                <br><br>* Биография членов СД в <a href="../../appendix/9.pdf" target="_blank">Приложении 9</a>.
            </div>
        </div>
    </div>

    <br>
    <div>
        <h4><strong>Важные решения Общего собрания акционеров:</strong></h4>
        
        <ul class="mt-4">
            <li>утверждение Устава АО «Атомэнергопроект» в новой редакции;</li>
            <li>досрочное прекращение полномочий/избрание членов Совета директоров АО «Атомэнергопроект».</li>
        </ul>

        <h4><strong>Важные решения Совета директоров:</strong></h4>
        
        <ul class="mt-4">
            <li>о ликвидации Волгоградского проектного филиала АО «Атомэнергопроект»;</li>
            <li>
                об участии АО «Атомэнергопроект» в уставном капитале АО ИК «АСЭ» путем покупки у АО «Атомэнергопром» обыкновенной именной бездокументарной акции АО ИК «АСЭ»;
            </li>
            <li>
                об одобрении договора о внесении безвозмездного вклада в имущество акционерного общества между АО «Атомэнергопроект» и АО АСЭ и о согласии на совершение данной крупной сделки.
            </li>
        </ul>

        <p class="text-focus">Организационно-правовая форма АО «Атомэнергопроект» – непубличное акционерное общество.</p>
        
        <h4><strong>Сведения о реестродержателе АО «Атомэнергопроект» </strong></h4>

        <ul class="mt-4">
            <li>Ведение реестра владельцев именных ценных бумаг АО «Атомэнергопроект» осуществляет Акционерное общество «Регистратор Р. О.С.Т.».
            </li>
            <li>Место нахождения: 107996, г. Москва, ул. Стромынка, д. 18, корп. 13.</li>
            <li>Почтовый адрес: 107996, г. Москва, ул. Стромынка, д. 18, а/я 9.</li>
            <li>ИНН 7726030449, ОГРН 1027739216757.</li>
            <li>Телефон/факс: (495) 771–73–36.</li>
            <li>
                Лицензия на осуществление деятельности по ведению реестра № 045–13976–000001 выдана Федеральной комиссией по рынку ценных бумаг 03.12.2002.
            </li>
            <li>АО «Атомэнергопроект» размещены обыкновенные именные бездокументарные акции номинальной стоимостью 1 (один) рубль каждая в количестве 1 547 504 159 штук на общую сумму по номинальной стоимости 1 547 504 159 руб. Привилегированные акции не размещались. Акции в публичном обращении не находятся, текущая рыночная стоимость по ним не определялась.</li>
        </ul>

        <br>
        <small>
            <strong>Таблица 11. Выплаченные дивиденды, млн руб.
            </strong>
        </small>
        <table class="table table-borderless table-responsive textCenter">
            <tr>
                <th rowspan="2">Организация</th>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
            </tr>
            <tr>
                <th>план</th>
                <th>факт</th>
            </tr>
            <tr>
                <td>АО «Атомэнергопроект»</td>
                <td>-</td>
                <td>6,61</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </table>
    </div>

    <div class="mt-5">
        <div id="under">
            <strong>1.6.5. Система корпоративного управления АО «АТОМПРОЕКТ»
                <span class="color_GOST">(GRI 102-17, 102-19, 102-22, 102-23)</span>
            </strong>
        </div>
        
        <img src="/img/system_atom_project.jpg" class="mt-5" style="width: 100%;">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                Для ежемесячной оценки результативности топ-менеджеров применяется система оценки по выполнению оперативных показателей деятельности.
                <br><br>В качестве оценки результативности применяется система КПЭ (подробнее о системе КПЭ см. в разделе «<a href="/human_capital">Человеческий капитал</a>»).
                <br><br>Для оценки результативности в перспективе по длительности более одного года применяются проектное и стратегическое премирование с соответствующими показателями.
                <br><br>Информация о корпаративном управлении в АО «НИКИМТ-Атомстрой», ООО «Трест РосСЭМ» и ПАО «Энергоспецмонтаж» см. в <a href="../../appendix/9.pdf" target="_blank">Приложении 9</a> Книги приложений
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                Отчет Совета директоров АО «АТОМПРОЕКТ» о результатах деятельности см. в <a href="../../appendix/10.pdf" target="_blank">Приложении 10</a> Книги приложений.
                <br><br>Информацию о крупных сделках и сделках, в совершении которых имелась заинтересованность, см. в <a href="../../appendix/11.pdf" target="_blank">Приложении 11</a> Книги приложений.
                <br><br>** Биография членов СД в <a href="../../appendix/9.pdf" target="_blank">Приложении 9</a>.
            </div>
        </div>

        <p class="mt-4">* Высшим органом управления АО «АТОМПРОЕКТ» до 27.12.2017 являлось общее собрание акционеров в лице единственного акционера – АО «Атомэнергопром», которому принадлежало 100 % акций АО «АТОМПРОЕКТ». 27.12.2017 100 % акций АО «АТОМПРОЕКТ», принадлежащих АО «Атомэнергопром», были отчуждены последним на основании договоров купли-продажи от 27.12.2017 в пользу АО АСЭ и АО ИК «АСЭ». В связи с изложенным обстоятельством решения высшего органа управления АО «АТОМПРОЕКТ» за 2017 год принимались единственным акционером АО «АТОМПРОЕКТ» – АО «Атомэнергопром» – и оформлялись в виде решений единственного акционера. Заседаний общего собрания акционеров АО «АТОМПРОЕКТ» после 27.12.2017 не проводилось.</p>
    </div>

    <br>
    <div>
        <h4><strong>За 2017 год проведено 22 заседания единственного акционера АО «АТОМПРОЕКТ», на которых приняты решения по следующим вопросам:</strong></h4>

        <ul class="mt-4">
            <li>
                утвержден Устав АО «АТОМПРОЕКТ» в новой редакции (решение единственного акционера № 237 от 22.11.2017);
            </li>
            <li>
                образован Совет директоров АО «АТОМПРОЕКТ» и избраны его члены (решение единственного акционера № 237 от 22.11.2017);
            </li>
            <li>
                досрочное прекращение полномочий/ избрание членов Совета директоров АО «АТОМПРОЕКТ» (решение единственного акционера № 238 от 26.12.2017) (из состава исключен Борисов И.А., старший вице-президент по развитию АО ИК «АСЭ», и включена Шафалович Н.Б., директор по персоналу и организационному развитию АО ИК «АСЭ»);
            </li>
            <li>
                распределение прибыли, выплата (объявление) дивидендов по результатам 2016 года. По результатам финансово-хозяйственной деятельности АО «АТОМПРОЕКТ» за 2016 год принято решение дивиденды по акциям АО «АТОМПРОЕКТ» за 2016 год не объявлять и не выплачивать.
            </li>
        </ul>

        <small>
            <strong>Таблица 12. Выплаченные дивиденды, млн руб.</strong>
        </small>
        <table class="table table-borderless table-responsive textCenter">
            <tr>
                <th rowspan="2">Организация</th>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
            </tr>
            <tr>
                <th>план</th>
                <th>факт</th>
            </tr>
            <tr>
                <td>АО «АТОМПРОЕКТ»</td>
                <td>2 067,35</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </table>
    </div>

    <br>
    <div>
        <h4><strong>Сведения о реестродержателе АО «АТОМПРОЕКТ»</strong></h4>

        <ul class="mt-4">
            <li>Ведение реестра владельцев именных ценных бумаг АО «АТОМПРОЕКТ» осуществляет АО «Регистратор Р.О.С.Т.». Наименование: Акционерное общество «Регистратор Р.О.С.Т.»</li>
            <li>Юридический адрес: г. Москва, ул. Стромынка, д.18, корп. 13.</li>
            <li>Почтовый адрес: 107996, г. Москва, ул. Стромынка, д.18, а/я 9.</li>
            <li>ИНН 7726030449, ОГРН 1027739216757.</li>
            <li>Телефон/факс: (495) 771-73-36.</li>
            <li>Лицензия на осуществление деятельности по ведению реестра №10-000-1-00264 выдана Федеральной комиссией по рынку ценных бумаг 03.12.2002.</li>
            <li>Форма собственности владения АО «АТОМПРОЕКТ» – частная собственность.</li>
            <li>Организационно-правовая форма – непубличное акционерное общество.</li>
            <li>Общее количество акций – 1 233 576 578 акций, количество и номинальная стоимость обыкновенных акций – 1 233 576 578 акций стоимостью 1 233 576 578 рублей. Привилегированных акций нет. Не предусмотрено ограничений по продаже акций, на организованных торгах акции не обращаются.</li>
        </ul>
    </div>

    <br>
    <div>
        <div id="under">
            <strong>1.6.6. Контроль финансово-хозяйственной деятельности и противодействие коррупции</strong>
        </div>
        <p class="text-focus mt-4">В <span class="block">
	<span class="hover">Инжиниринговом</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизионе в системе контроля финансово-хозяйственной деятельности в качестве субъектов контроля действуют бухгалтерия и Служба внутреннего контроля и аудита АО ИК «АСЭ».
        <br>Ревизионные комиссии в АО ИК «АСЭ», АО АСЭ, АО «Атомэнергопроект» и АО «АТОМПРОЕКТ» отсутствуют.</p>

        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <h4 class="mt-4 mb-3"><strong>Система внутреннего контроля и аудита</strong></h4>
                <br><strong>Ключевые результаты 2017 года:</strong>

                <ul class="mt-4">
                    <li>
                        завершен процесс разделения функций внутреннего контроля, внутреннего аудита и функций в сфере контроля конкурентной политики. Создан Арбитражный комитет Дивизиона. Проведено обучение сотрудников отделов;
                    </li>
                    <li>
                        внедрены новые практики внутреннего аудита системы управления проектами 
                        <span class="block">
                            <span class="hover">сооружения АЭС</span>
                            <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                        </span>, позволяющие сократить время проведения аудиторских проверок с одновременным повышением их результативности, актуальности и периодичности в условиях значительного роста числа проектов, реализуемых в Дивизионе;
                    </li>
                    <li>
                        на 22 % выросло количество экспертно-аналитических мероприятий (в связи с увеличением потребности руководства Дивизиона во внутреннем консультировании, включая выражение независимого и объективного мнения в отношении отдельных аспектов хозяйственной деятельности, формирование независимых рекомендаций по совершенствованию деятельности);
                    </li>
                    <li>
                        проведены аудиты бизнес-процессов «Учет операций по приобретению и оказанию работ и услуг», «Внесение изменений в проектно-сметную и рабочую документацию» по проектам сооружения Белорусской и Ростовской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>, Порядка управления несоответствиями при осуществлении основной деятельности, <span class="block">
	<span class="hover">КПЭ</span>
	<span class="hidden">ключевой показатель эффективности</span>
</span> ТОП‑100 и процесса подготовки Публичного годового отчета;
                    </li>
                    <li>
                        в шесть раз сокращены сроки проверки опубликования закупочных процедур (внедрен <span class="block">
	<span class="hover">ПСР</span>
	<span class="hidden">Производственная система «Росатом»</span>
</span>-проект «Проведение проверки опубликования закупочных процедур на ЕОС размещения заказов на закупки товаров, работ и услуг для нужд Госкорпорации «Росатом»).
                    </li>
                </ul>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="mt-4 headerPage blockLineLeftTxt">
                    Сотрудник СВКиА Юрий Дегтярев стал победителем в номинации «Внутренний контроль и внутренний аудит» конкурса «Человек года», проводимого Госкорпорацией «Росатом».
                    <img src="/img/дегтярев.jpg" style="width: 100%;">
                </div>
            </div>
        </div>

        <br>
        <div>
            <small>
                <strong>Количество контрольных мероприятий</strong>
            </small>
            <div class="row revealator-slideup revealator-once">
                <div class="col-lg-7 col-md-7 col-sm-12" id="ChartA"></div>
            </div>
            <br>
            <small>
                <strong>Контроль исполнения корректирующих мероприятий</strong>
            </small>
            <div class="row revealator-slideup revealator-once">
                <div class="col-lg-7 col-md-7 col-sm-12" id="ChartB"></div>
            </div>

            <br>
            <small>
                <strong> Таблица 13. Количество должностных лиц, привлеченных к дисциплинарной ответственности
                </strong>
            </small>
            <table class="centerCol table table-borderless table-responsive-sm">
                <tr>
                    <th>Организация</th>
                    <th>2015</th>
                    <th>2016</th>
                    <th>2017</th>
                    <th>∆ 2017 /2016 %
                    </th>
                </tr>
                <tr>
                    <td>АО АСЭ</td>
                    <td>7</td>
                    <td>11</td>
                    <td>0</td>
                    <td>-100</td>
                </tr>
                <tr>
                    <td>АО ИК «АСЭ»</td>
                    <td>37</td>
                    <td>56</td>
                    <td>7</td>
                    <td>-88</td>
                </tr>
                <tr>
                    <td>АО «Атомэнергопроект»</td>
                    <td>0</td>
                    <td>3</td>
                    <td>2</td>
                    <td>-33</td>
                </tr>
                <tr>
                    <td>АО «АТОМПРОЕКТ»</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>ООО «Трест РосСЭМ»</td>
                    <td>0</td>
                    <td>13</td>
                    <td>4</td>
                    <td>-69</td>
                </tr>
                <tr>
                    <td>ООО «СМУ-1»</td>
                    <td>2</td>
                    <td>0</td>
                    <td>0</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>АО «НИКИМТ-Атомстрой»</td>
                    <td>0</td>
                    <td>6</td>
                    <td>2</td>
                    <td>-67</td>
                </tr>
                <tr>
                    <td>ПАО «Энергоспецмонтаж»</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2</td>
                    <td>100</td>
                </tr>
                <tr>
                    <th>Итого по 
                    <span class="block">
                        <span class="hover">Инжиниринговому</span>
                        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
                    </span>
                    дивизиону </th>
                    <th>46</th>
                    <th>89</th>
                    <th>17</th>
                    <th>-81</th>
                </tr>
            </table>

            <br><p>В других организациях в контуре управления Дивизиона должностные лица к дисциплинарной ответственности не привлекались.</p>

            <br>
            <small>
                <strong> Таблица 14. Количество проведенных проверок закупочной деятельности
                </strong>
            </small>
            <table class="centerCol table table-borderless table-responsive">
                <tr>
                    <th>Организация</th>
                    <th>2015</th>
                    <th>2016</th>
                    <th>2017 план</th>
                    <th>2017 факт</th>
                    <th>∆ 2017 /2016, %</th>
                </tr>
                <tr>
                    <td>АО АСЭ</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>4</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>АО ИК «АСЭ»</td>
                    <td>6</td>
                    <td>2</td>
                    <td>4</td>
                    <td>8</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>АО «Атомэнергопроект»</td>
                    <td>0</td>
                    <td>3</td>
                    <td>2</td>
                    <td>4</td>
                    <td>33</td>
                </tr>
                <tr>
                    <td>АО «АТОМПРОЕКТ»</td>
                    <td>0</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                    <td>-66</td>
                </tr>
                <tr>
                    <td>ООО «СМУ-1»</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>2</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>ООО «ВДМУ»</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>ООО «Трест РосСЭМ»</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>2</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>ООО «НИКИМТ-Атомстрой»</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>ПАО «Энергоспецмонтаж»</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th>Итого по 
                    <span class="block">
                        <span class="hover">Инжиниринговому</span>
                        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
                    </span>
                    дивизиону </th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>25</th>
                    <th>98</th>
                </tr>
            </table>

            <br>
            <h4><strong>Противодействие коррупции</strong></h4>
            
            <p class="mt-4">
                <span class="color_GOST">(GRI 102-17)</span> В Дивизионе действует «Единый отраслевой порядок проверки сообщений о правонарушениях коррупционной и иной направленности, поступающих по горячей линии и другим каналам Госкорпорации «Росатом». В соответствии с ним поступают и проверяются сообщения о качестве поставляемой на объекты использования атомной энергии продукции (работ и услуг).
            </p>
            <p class="text-focus">
                <strong>В 2017 году случаев коррупции в 
                <span class="block">
                    <span class="hover">Инжиниринговом</span>
                    <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
                </span>
                дивизионе не выявлено.</strong>
            </p>
            <p>
                До сведения работников доведена информация о возможности сообщать публично либо анонимно о фактах совершения коррупционных правонарушений по каналам специализированной связи «Горячая линия» или посредством электронной почты на адрес подразделения по защите активов АО ИК «АСЭ», а также письменно через «Ящики доверия», которые размещены в центральных офисах, филиалах и представительствах организаций. Любому работнику, а также представителю иной организации, предоставляется возможность сообщить любые сведения о коррупционных действиях, а именно:
            </p>

            <ul class="mt-4">
                <li>о случаях склонения работника к совершению коррупционных правонарушений;</li>
                <li>о случаях совершения коррупционных правонарушений другими работниками, контрагентами организации или иными лицами;</li>
                <li>о возможности возникновения либо возникшем у работника конфликте интересов.</li>
            </ul>

            <p>
                Структурные подразделения АО ИК «АСЭ» по борьбе с противоправными действиями осуществляют мониторинг движения активов, анализ факторов и условий, способствующих возникновению внешних и внутренних угроз активам, экономическим интересам АО ИК «АСЭ» и ДО.
            </p>

            <p>
                Методы оценки рисков, связанных с коррупцией, включают в себя определение конкретных бизнес-процессов и деловых операций в деятельности структурных подразделений Общества, при реализации которых наиболее высока вероятность совершения работниками организации коррупционных правонарушений как в целях получения личной выгоды, так и в целях получения выгоды организацией.
            </p>

            <h4 class="mt-4"><strong>Оценка коррупционных рисков осуществляется следующим образом:</strong></h4>
            
            <ul class="mt-4">
                <li>
                    определяются (выявляются, описываются и регламентируются) осуществляемые структурными подразделениями и/или организацией бизнес-процессы, в которых выделяются критические точки бизнес-процесса;
                </li>
                <li>для каждой критической точки составляется описание возможных коррупционных правонарушений, включающие:
                    <ul>
                        <li>характеристику выгоды или преимущества, которое может быть получено организацией или ее отдельными работниками при совершении коррупционного правонарушения;</li>
                        <li>ключевые должности;</li>
                        <li>вероятные формы осуществления коррупционных платежей и (или) иных выгод и преимуществ, способных заинтересовать и удовлетворить корыстную или иную заинтересованность участников бизнес-процесса.</li>
                    </ul>
                </li>
            </ul>

            <h4 class="mt-4"><strong>На основании проведенного анализа:</strong></h4>

            <ul class="mt-4">
                <li>составляется карта коррупционных рисков организации, которая включается в качестве неотъемлемого приложения в регламентирующие и методические документы соответствующих бизнес-процессов;</li>
                <li>в карте указываются ключевые должности, а в отношении работников, замещающих такие должности, устанавливаются специальные антикоррупционные процедуры и требования (например, регулярное заполнение декларации о доходах).</li>
            </ul>

            <p>По результатам проведенных работ разрабатывается комплекс мер по устранению или минимизации коррупционных рисков.</p>
            <p>На основании проведенного анализа происходит своевременное выявление конфликта интересов в деятельности работников общества.</p>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="/js/echarts.min.js"></script>
    <script src="/js/chartsCOrpGov.js"></script> 

    <script src="/js/fm.revealator.jquery.min.js"></script>
{% endblock %}