{% extends "ru/templates/page.html" %}

{% block link %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Содержание /</small></a></li>
    <li><a href="#"><small>Глава 1 /</small></a></li>
    <li class="active"><small><strong>1.4.</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/1.4.jpg);
    background-position-y: 25%;
{% endblock %}

{% block  titleText %}
    1.4. Цифровая трансформация 
    <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span> 
    дивизиона
{% endblock %}

{% block  subtitleText %}
{% endblock %}

{% block content %}
    <div id="under"><strong>1.4.1. Программа цифровой трансформации</strong></div>

    <div class="row mt-4">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <p>В апреле 2017 года распоряжением Президента РФ утвержден состав рабочей группы Экономического совета при Президенте РФ по направлению 
                <span class="block">
                    <span class="hover">«Цифровая экономика».</span>
                    <span class="hidden">
                        Экономика, основанная на новых методах генерирования, сбора, обработки, хранения, анализа и передачи данных, а также новых цифровых технологиях:
                            <br>&ndash; робототехника,
                            <br>&ndash; кибер-физические системы,
                            <br>&ndash; индустриальный интернет вещей,
                            <br>&ndash; сети связи пятого поколения,
                            <br>&ndash; аддитивные технологии,
                            <br>&ndash; когнитивные технологии,
                            <br>&ndash; искусственный интеллект,
                            <br>&ndash; машинное обучение,
                            <br>&ndash; Big Data,
                            <br>&ndash; блокчейн,
                            <br>&ndash; многоагентные системы и пр.
                    </span>
                </span>
            </p>
            <p>В июле 2017 года Правительством РФ утверждена 
                <a href="http://government.ru/docs/28653/ ">
                    федеральная программа «
                    <span class="block">
                        <span class="hover">«Цифровая экономика».</span>
                        <span class="hidden">
                            Экономика, основанная на новых методах генерирования, сбора, обработки, хранения, анализа и передачи данных, а также новых цифровых технологиях:
                                <br>&ndash; робототехника,
                                <br>&ndash; кибер-физические системы,
                                <br>&ndash; индустриальный интернет вещей,
                                <br>&ndash; сети связи пятого поколения,
                                <br>&ndash; аддитивные технологии,
                                <br>&ndash; когнитивные технологии,
                                <br>&ndash; искусственный интеллект,
                                <br>&ndash; машинное обучение,
                                <br>&ndash; Big Data,
                                <br>&ndash; блокчейн,
                                <br>&ndash; многоагентные системы и пр.
                        </span>
                    </span>
                Российской Федерации», 
            </a>
            которая в том числе направлена на цифровую трансформацию реального сектора экономики – Industry 4.0. В действительности, такая задача уже активно решается 
             
            <span class="block">
                <span class="hover">Инжиниринговым</span>
                <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
            </span>
            дивизионом Госкорпорации «Росатом», а виртуальные прототипы промышленных и инфраструктурных объектов - эффективный инструмент достижения поставленных целей.</p>
            <p>В декабре 2017 года Правительство РФ утвердило дорожные карты по четырем направлениям программы «
                <span class="block">
                    <span class="hover">Цифровая экономика</span>
                    <span class="hidden">
                        Экономика, основанная на новых методах генерирования, сбора, обработки, хранения, анализа и передачи данных, а также новых цифровых технологиях:
                            <br>&ndash; робототехника,
                            <br>&ndash; кибер-физические системы,
                            <br>&ndash; индустриальный интернет вещей,
                            <br>&ndash; сети связи пятого поколения,
                            <br>&ndash; аддитивные технологии,
                            <br>&ndash; когнитивные технологии,
                            <br>&ndash; искусственный интеллект,
                            <br>&ndash; машинное обучение,
                            <br>&ndash; Big Data,
                            <br>&ndash; блокчейн,
                            <br>&ndash; многоагентные системы и пр.
                    </span>
                </span>
            РФ», в том числе 
                <a href="http://government.ru/news/30892/ ">
                    План мероприятий  по направлению «Формирование исследовательских компетенций и технологических заделов».
                </a>
            </p> 
            <p>В июне 2017 года Госкорпорация «Росатом» в лице АО ИК «АСЭ» вошла в состав центров компетенций по цифровой экономике при Правительстве РФ. АО ИК «АСЭ» также стала представителем альянса Building Smart в РФ. В Компании создана главная цифровая лаборатория.</p>
            <p class="text-focus">В июне 2017 года были подписаны соглашения, способствующие развитию компетенций Компании в области цифровой трансформации.</p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <ul class="headerPage ulPosLeft blockLineLeft">
                <strong>Партнеры АО ИК «АСЭ» по цифровизации:</strong>

                <li class="mt-4">РФЯЦ-ВНИИЭФ</li> 
                <li>МШУ СКОЛКОВО</li>
                <li>Фонд ЦСР «Северо-Запад»</li>
                <li>Высшая 
                    <span class="block">
                        <span class="hover">инжиниринговая</span>
                        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
                    </span>
                    школа НИЯУ МИФИ
                </li>
                <li>Dassault Systems</li>
                <li>Autodesk</li> 
                <li>IBM</li>
                <li>SAP</li>
                <li>Hilti Дистрибьюшн ЛТД</li> 
                <li>BIM-ассоциация</li>
                <li>AssystemSA и др</li>
            </ul>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <p><strong>1. Соглашение о создании Центра цифровой трансформации на базе МШУ СКОЛКОВО</strong> совместно с Фондом ЦСР «Северо-Запад», где АО ИК «АСЭ» выступает технологическим партнером и предоставляет свою экспертизу по цифровому переходу другим крупным и средним индустриальным компаниям.</p>
            <p>Программы Центра способствуют трансформации бизнесов за счет внедрения передовых производственных технологий в условиях новой промышленной революции и направлены на вывод Компании на новые высокомаржинальные рынки. Задачи, решаемые в рамках программ Центра: трансформация бизнес-модели компаний, трансформация организационной модели и структуры, сокращение скорости разработки новых продуктов и вывода их на рынок.</p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <ul class="headerPage blockLineLeft">
                <strong>Цифровая платформа управления жизненным циклом сложных инженерных объектов Multi-D это:</strong>
                
                <li class="mt-4">сокращение стоимости и сроков сооружения сложных инженерных объектов,</li>
                <li>оптимизация строительно-монтажных работ и детальное планирование последовательности рабочих операций</li>
                <li>экономия до 10 % бюджета проекта,</li>
                <li>единое web-ориентированное пространство для управления проектами капитального строительства,</li>
                <li>соответствие лучшим мировым трендам в области цифровых активов и управления проектами,</li>
                <li>соответствие подходам BIM 4.0,</li>
                <li>партнерство с ведущей российской 
                <span class="block">
                    <span class="hover">инжиниринговой</span>
                    <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
                </span>
                компанией.</li>
            </ul>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <p><strong>2. Соглашение о создании Высшей инжиниринговой школы НИЯУ МИФИ</strong> <a href="https://mephi.ru/special/press/1387/122791/">для решения задач подготовки инженеров цифрового будущего,</a> а также разворачивания полигонов тестирования новых решений для цифрового бизнеса.</p>
            <p>Проект НИЯУ «МИФИ» и АО ИК «АСЭ». Партнеры ВИШ – IBM, Mail.RU, Dassault Systèmes, Autodesk, Siemens и др. В сентябре 2017 г. стартовала пилотная магистратура «Инженеры цифрового будущего», где 5 команд, состоящих каждая из 4 студентов, обучающихся по разным специальностям (разработчики, проектировщики, физики-расчетчики и системные инженеры), решают практические задачи Компании, совместно с сотрудниками АО ИК «АСЭ». Направления подготовки: системный инжиниринг, цифровые платформы, Data Science, машинное обучение, BIM и др.</p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12"></div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <p><span class="block">
	<span class="hover">Инжиниринговый</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизион приступил к реализации комплексной программы технологической трансформации, нацеленной на устойчивое развитие в части цифровых технологий <span class="block">
	<span class="hover">Инжиниринга</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> и повышение эффективности взаимодействия при 
<span class="block">
	<span class="hover">сооружении АЭС</span>
	<span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
</span> в различных странах.</p>
            <p>Важнейшим аспектом этой трансформации является создание стандартов Госкорпорации «Росатом» по формированию информационных моделей и процессов Building Information Modeling (BIM). Сформирована команда для практической реализации BIM для проекта 
            <span class="block">
                <span class="hover">сооружения АЭС</span>
                <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
            </span> «Эль-Дабаа».</p>
            <p>В 2017 году проведены подготовительные работы и тестовая проработка с применением современных информационных инструментов – созданы Комплексные информационные модели для проектов <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Ханхикиви-1» и Обликовая модель этапа эксплуатации на примере здания безопасности Ленинградской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>-2.</p> 
            <p>Проведен комплекс инженерных работ по оптимизации проектных решений, направленных на снижение стоимости владения <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>для проектов <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Ханхикиви-1» и «Пакш II».</p>
            <p>Сформирована Программа мероприятий <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона, обеспечивающая готовность Дивизиона исполнить в полном объеме в установленные сроки портфель заказов с учетом внешних и внутренних вызовов (Программа трансформации).</p>
            <p>Развернуты работы по формированию информационных (цифровых) моделей <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>и BIM, включающих проектные решения, ресурсные планы, экономические параметры проекта, технические решения, инструменты управления конфигурацией, изменениями и требованиями.</p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <ul class="headerPage blockLineLeft ulPosLeft">
                <strong>Цели Программы цифровой трансформации:</strong>
                
                <li class="mt-4">запустить проекты цифровой трансформации,</li> 
                <li>сформировать команду лидеров цифровой трансформации (сроки реализации 2018-2020 гг.).</li>
                
                <br><strong>Проекты в рамках Программы:</strong> 
                
                <li class="mt-4">пилотный проект по созданию промышленно-технологической цифровой платформы хранения цифровых двойников,</li>
                <li> пилотный проект по созданию промышленно-технологической цифровой платформы управления полным жизненным циклом <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span> ,</li>
                <li>проект создания промышленно-технологической цифровой платформы управления полным жизненным циклом капитальных объектов.</li>
                
                <br><strong>Ожидаемые результаты:</strong>
                
                <li class="mt-4">технологии строительства интегрированы в единую модульную платформу,</li>
                <li>отработана технология создания цифровых двойников капитальных объектов.</li>
            </ul>
        </div>
    </div>

    <br><small><strong>Таблица 3. Основные направления цифровизации деятельности</strong></small>
    <table class="table table-borderless table-responsive">
        <thead>
            <tr>
                <th><strong>СТОИМОСТНОЙ 
                
                <span class="block">
                    <span class="hover">ИНЖИНИРИНГ</span>
                    <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
                </span>
                </strong></th>
                <th><strong>ЗАКУПКИ И ПОСТАВКИ</strong></th>
                <th><strong>ПРОЕКТИРОВАНИЕ</strong></th>
                <th><strong>УПРАВЛЕНИЕ ДАННЫМИ</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1. Внедрение на всех площадках, работающих ресурсным методом, автоматизированной системы управления стоимостью
                </td>
                <td>
                    1. Внедрение ИСУП КП (SAP) в части цифровых закупок, поставок и качества.
                    <br><br>2. Развитие электронного каталога до Multi-D Market
                    <br><br>3. Real-time подключенные поставщики (актуализация портала поставщиков)
                    <br><br>4. Цифровая приемка оборудования
                </td>
                <td>
                    1. Цифровое моделирование: информационные модели проектов, постановка процессов
                    <br><br>2. Типизация через функциональные группы
                    <br><br>3. Формирование цифровой as-build модели
                    <br><br>4. Запуск на всех проектах процессов цифрового управления требованиями и конфигурацией
                </td>
                <td>
                    1. Архитектура данных в Компании
                    <br><br>2. Цифровое управление проектами
                    <br><br>3. Внедрение Системы управления информацией (IMS) на всех проектах
                    <br><br>4. Внедрение модуля цифровой аналитики для руководителей проектов
                    <br><br>5. Data ориентированная полноохватная цифровая система управления сроками
                </td>
            </tr>
            <tr class="textCenter">
                <td><strong>ПОЛЕВОЙ 
                <span class="block">
                    <span class="hover">ИНЖИНИРИНГ</span>
                    <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
                </span>
                </strong></td>
                <td><strong>ЭКСПЛУАТАЦИЯ</strong></td>
                <td><strong>СЕРВИСЫ</strong></td>
                <td><strong>ОРГАНИЗАЦИОННАЯ ИНФРАСТРУКТУРА</strong></td>
            </tr>
            <tr>
                <td>
                    1. Организация цифровой инфраструктуры управления стройкой (штрихкодирование, входной контроль оборудования и пр.)
                    <br><br>2. Цифровые штабы
                    <br><br>3. Цифровые недельно-суточные задания
                    <br><br>4. Цифровое управление трудовыми ресурсами и механизмами
                    <br><br>5. Контроль хода строительства с применением технологий VR\AR
                </td>
                <td>
                    1. Промышленное внедрение модуля управления стоимостью владения (МУСВ)
                    <br><br>2. Вход в EDF с ABB-Multi-D operations
                    <br><br>3. Цифровые двойники оборудования. Выход на «умную станцию»
                </td>
                <td>
                    1. Внедрение ИСУП КР (SAP) в части корпоративных систем
                    <br><br>2. Цифровизация и роботизация процессов (чатботы, ЭЛМА)
                    <br><br>3. Повышение качества и скорости протекания процессов
                </td>
                <td>
                    1. Формирование образовательной и разработческой экосистемы
                    <br><br>2. Обновление инфраструктуры для поддержки цифровой трансформации дивизиона (озера данных, обновления устройств, увеличение скорости и повышение удобства для пользователей)
                    <br><br>3. Формирование новой модели управления Компанией. Формирование партнерств. Организация ASE DIGITAL
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row mt-4">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <ul>
                <strong>Платформа состоит из:</strong>
                
                <li class="mt-4">ИТ-платформ,</li>
                <li class="mt-2">программного обеспечения на базе ИТ-платформ,</li>
                <li class="mt-2">инструментов, созданных на базе программного обеспечения и технологических процессов управления с цифровыми интерфейсами,</li>
                <li class="mt-2">структурированных и актуальных баз данных.</li>
            </ul>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <p class="headerPage blockLineLeftTxt"><strong>Промышленно-технологическая Цифровая Платформа</strong> – это средство производства и управления цифровыми информационными моделями сложных инженерных объектов на всех стадиях жизненного цикла.
            <br><br><strong>Цель Платформы</strong> - создание добавленной стоимости (товаров и услуг) в рамках цифровой экономики и снижение затрат за счет моделирования и оптимизации проектных, строительных и управленческих решений; использования референтных типовых решений; передачи рутинных работ умным компьютерным программам; сокращения времени производственных операций и сведения к минимуму ошибок и переделок.</p>
        </div>
    </div>
 
    <div id="under" class="mt-5"><strong>1.4.2. Подготовка и повышение квалификации кадров в условиях цифрового перехода</strong></div>    
    
    <p class="text-focus mt-5">300 человек в год – плановая переподготовка специалистов в 2018–2019 гг.</p>

    <div class="row mt-5">
        <div class="col-lg-5 col-md-5 col-sm-12">
            <ul class="headerPage blockLineRight">
            <strong>Ключевые требования к системному инженеру:</strong>
            
            <li class="mt-4">умеет проектировать,</li>
            <li>обладает знаниями в ядерной физике и технологии,</li> 
            <li>понимает цепочку поставок атомной отрасли,</li> 
            <li>знает основных поставщиков оборудования,</li>
            <li>умеет формировать рабочую документацию и консультировать как в режиме авторского надзора, так и непосредственно находясь на площадке сооружения объекта,</li>
            <li>имеет уровень технического английского языка не менее intermediate.</li>
            </ul>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12">
            <p>В 2017 году при участии <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона в России стартовали проекты формирования профессиональных стандартов системного инженера, BIM-проектировщика. Подготовка кадров новой формации реализуется через проект «Высшая <span class="block">
	<span class="hover">Инжиниринговая</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> школа НИЯУ МИФИ – АСЭ».</p>
            <p>
                В связи с современным развитием цифровых технологий, цифровых навыков и знаний в <span class="block">
	<span class="hover">Инжиниринговом</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизионе возникла потребность в новых профессиях, которых раньше не существовало:
                <ul>
                    <li>системный инженер;</li>
                    <li>инженер по требованиям;</li>
                    <li>менеджер по управлению конфигурацией.</li>
                </ul>
            </p>
            <p>Помимо подготовки студентов в рамках магистерской программы «Инженеры для цифрового будущего», в 2018–2019 гг. планируется осуществить переподготовку сотрудников <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона.</p> 
            <p>Требования к владению знаниями и навыками в области цифровой модели будут разработаны и закреплены в 2018 году для всех должностей проектного блока <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-0"></div>
        <div class="col-lg-7 col-md-7 col-sm-12">
            <br><h4><strong>Новые образовательные форматы:</strong></h4>
            
            <ul class="mt-4">
                <li>сетевой вуз – набор курсов лучших кафедр разных вузов,</li>
                <li>модульность системы подготовки,</li>
                <li>курсы на виртуальной платформе, VR лаборатория,</li>
                <li>проектное обучение в мультипрофессиональных группах,</li>
                <li>полигон/тестовая площадка для отработки технологий.</li>
            </ul>
        </div>
    </div>
{% endblock %}