{% extends "ru/templates/page.html" %}

{% block link %}
    <link rel="stylesheet" href="../css/division_strategy.css">
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Содержание /</small></a></li>
    <li><a href="#"><small>Глава 1 /</small></a></li>
    <li class="active"><small><strong>1.1</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/1.1_division.jpg);
{% endblock %}

{% block  titleText %}
    1.1 Стратегия 
    <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span> 
    дивизиона и 
    <span class="block">
        <span class="hover">КПЭ</span>
        <span class="hidden">ключевой показатель эффективности</span>
    </span> 
    ее реализации 
{% endblock %}</h1>

{% block  subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-15">102-15</a></span>
            <span class="hidden-gri">Ключевые воздействия, риски, возможности</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-20">102-20</a></span>
            <span class="hidden-gri">Ответственные исполнители по экономическим, экологическим и социальным вопросам</span>
        </span>
    </li>
</ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div style="background-image: url(../img/борисов-бел.jpg); background-position-x: 36%;" class="col-lg-4 col-md-4 col-sm-12 bossPhoto"></div>
        <div class="col-lg-8 col-md-8 col-sm-12 interview">
            <h5>
                <strong>Иван Борисов,
                    <br>старший вице-президент
                    <br>по развитию
                </strong>
            </h5>
            <br><strong>Для Инжинирингового дивизиона 2017 год ознаменовался тремя физическими пусками энергоблоков и заливкой трех «первых бетонов» новых<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>. Таким образом, российская атомная отрасль оказалась на шаг впереди конкурентов. За счет чего Дивизиону удалось достичь таких результатов?</strong>
            <em class="directSpeech"><p class="mt-4">&#8211; Корпоративная ценность «На шаг впереди» для нас не просто слова, а реальная цель. Мир очень быстро меняется, цифровизация идет полным ходом, поэтому, чтобы успешно удерживать лидерские позиции, необходимо постоянно совершенствовать все производственные и управленческие процессы.</p>  
            <p>Вот почему мы взяли курс на стандартизацию и типизацию проектных решений. Важно, чтобы наш продукт – проект <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>– был максимально типизирован, но при этом был способен удовлетворить все требования самого взыскательного <span class="block">
	<span class="hover">заказчика</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span>. По сути это должен быть универсальный конструктор – для каждого <span class="block">
	<span class="hover">заказчика</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span> мы сможем быстро «собрать» тот набор элементов, который нужен именно ему, и быстро «привязать» этот проект к конкретной строительной площадке в конкретной стране. Такая работа по типизации используемых проектных решений начата в 2017 году, и до конца текущего года мы ее завершим.</p>
            <p>Кроме того, от проекта к проекту мы совершенствуем работу с нашими поставщиками и подрядчиками – масштаб портфеля Росатома, который реализует Инжиниринговый дивизион, год от года растет, и количество стран-партнеров также увеличивается. При этом в каждом регионе свои особенности рынка и ведения бизнеса, которые необходимо учитывать. Поэтому мы очень тщательно подходим к подбору подрядчиков – формируем пул глобальных инжиниринговых компаний, которые готовы с нами сотрудничать, и, конечно, всегда активно взаимодействуем с местными поставщиками и подрядчиками, ведь выполнение значительной части работ выгоднее локализовать. Правда, есть и тот «кусок», которым мы не готовы делиться с партнерами, – это наш якорный бизнес, наша ключевая компетенция – строительство Ядерного острова.</p>
            <p class="text-focus">Если говорить коротко, то для успеха важны три фактора. Первый – это наши люди, надежная команда профессионалов. Второй – современные технологии управления проектами и применение цифровых инструментов. И, наконец, наш опыт строительства <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>в самых разных странах – по строительству <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>за рубежом мы абсолютные лидеры.</p>
            <p>Кстати, хочу дополнить, что в 2018 году мы ожидаем еще один физпуск и включение в сеть четвертого энергоблока Тяньваньской <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>в Китае и еще две заливки «первого бетона» – на площадке первого и второго блоков Курской АЭС‑2.</p></em>

            <br><strong>В чем состоят стратегические направления развития Дивизиона в ближайшей и среднесрочной перспективе? Какое место будет занимать цифровая трансформация в стратегии Компании на ближайшие годы?</strong>
            <em class="directSpeech"><p class="mt-4">&#8211; В работу по развитию цифровых технологий Группа компаний ASE включилась задолго до того, как на эту проблему обратило внимание государство. Можно сказать, <span class="block">
	<span class="hover">Инжиниринговый</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизион стоял у истоков разработки правительственной программы <span class="block">
                    <span class="hover">«Цифровая экономика»</span>
                    <span class="hidden">
                        Экономика, основанная на новых методах генерирования, сбора, обработки, хранения, анализа и передачи данных, а также новых цифровых технологиях:
                            <br>&ndash; робототехника,
                            <br>&ndash; кибер-физические системы,
                            <br>&ndash; индустриальный интернет вещей,
                            <br>&ndash; сети связи пятого поколения,
                            <br>&ndash; аддитивные технологии,
                            <br>&ndash; когнитивные технологии,
                            <br>&ndash; искусственный интеллект,
                            <br>&ndash; машинное обучение,
                            <br>&ndash; Big Data,
                            <br>&ndash; блокчейн,
                            <br>&ndash; многоагентные системы и пр.
                    </span>
                </span> Российской Федерации, а по отдельным направлениям даже выступал в роли инициатора продвижения новых производственных технологий и технологических заделов. После утверждения правительством программы по цифровой экономике мы вместе с другими предприятиями Росатома активно включились в ее реализацию. Для этих целей понадобилось создать внутри АО ИК «АСЭ» целые структурные подразделения, ответственные за цифровую трансформацию нашей Компании и внедрение цифровых разработок в другие сектора экономики. Что касается наших партнеров по цифровизации, то этот список велик: это федеральные и региональные органы исполнительной власти, представители бизнеса и бизнес-сообществ, учебные заведения, международные ассоциации – в целом более сотни ключевых партнеров.</p>
            <p class="text-focus">Все вместе мы не только работаем над развитием цифровых технологий в Дивизионе, но и формируем институциональную среду для функционирования цифровой экономики всей страны.</p>
            
            <p>На сегодняшний день многое в этом направлении уже сделано. На основе нашей уникальной технологии Multi-D разработана система управления проектами, сверенная со стандартами <span class="block">
	<span class="hover">IPMA</span>
	<span class="hidden">Повышение эффективности проектной деятельности предприятия, осуществляемой в соответствии с лучшими международными практиками в сфере управления проектами. Подтверждение компетентности организации в управлении проектами на международном уровне.</span>
</span> (международная ассоциация компаний, занимающихся <span class="block">
	<span class="hover">инжиниринговой</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> деятельностью). В 2016 году мы первыми в России получили международный сертификат соответствия третьему классу компетентности в области управления проектами, программами и портфелями по модели <span class="block">
	<span class="hover">IPMA</span>
	<span class="hidden">Повышение эффективности проектной деятельности предприятия, осуществляемой в соответствии с лучшими международными практиками в сфере управления проектами. Подтверждение компетентности организации в управлении проектами на международном уровне.</span>
</span> Delta. Сейчас мы активно готовимся к тому, чтобы достичь высшего – четвертого класса. Кроме того, мы уже имеем информационную модель энергоблока<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>, которая превратилась в самостоятельный и очень ценный цифровой актив. А сейчас от оцифровывания объектов Дивизион перешел к созданию платформенного решения, то есть к формированию такой информационной системы, которая объединит всех участников процесса: <span class="block">
	<span class="hover">заказчика</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span>, проектировщиков, закупщиков, поставщиков оборудования, подрядчиков – и даст возможность одновременно управлять всей архитектурой взаимодействия различных процессов. Следующим шагом в процессе цифровой трансформации Компании мы видим создание так называемой цифровой экосистемы, то есть выстраивание целой цепочки различных партнерств в разных странах, чтобы удовлетворить все требования <span class="block">
	<span class="hover">заказчиков</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span>.</p> 
            <p>Также хочу сказать, что именно цифровизация стала плацдармом для развития различных партнерских схем взаимодействия с крупнейшими западными игроками. В 2017 году подписан ряд значимых соглашений о взаимодействии с корпорацией IBM, с ведущими мировыми компаниями – Assystem SA, SAP СНГ, Hilti.</p> 
            <p>Накопив солидный опыт в области цифровой трансформации, мы решили поделиться нашими знаниями в этой области с теми компаниями, которые только вступают на этот путь. В прошлом году мы совместно с Фондом ЦСР «Северо-Запад» и Московской школой управления СКОЛКОВО приступили к созданию Центра цифровой трансформации. Программы Центра (а он уже заработал) призваны дать ответы на вопросы о том, как должна осуществляться трансформация бизнес-модели компаний, как должна меняться организационная модель и структура, а также с помощью каких инструментов можно сократить скорость разработки новых продуктов и вывода их на рынок. На базе Центра проводятся экспертные семинары по практикам цифровой трансформации – прошли семинары для нефтегазовой, медицинской, фармацевтической, горнодобывающей отраслей, по организации городского развития. Центр ведет активную исследовательскую и аналитическую работу, реализуются образовательные проекты по подготовке команд цифровой трансформации в ключевых отраслях экономики.</p></em>
        </div>
    </div>

    <div id="under"><strong>1.1.1. Вклад 
    <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span> 
    дивизиона в выполнение стратегии Госкорпорации «Росатом»</strong></div>
    
    <img src="/img/11.jpg" class="mt-4" style="width: 350px;">

    <table class="table table-borderless table-responsive margTable mt-4">
        <thead>
            <tr>
                <th>Стратегические цели Госкорпорации «Росатом»</th>
                <th>Стратегические цели Дивизиона</th>
                <th>Ключевые показатели эффективности 2017 года</th>
                <th>Задачи на 2018 год</th>
                <th>Задачи до 2030 года</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Повышение доли на международных рынках</td>
                <td>Лидерство в основном ядре бизнеса (
                    <span class="block">
                        <span class="hover">сооружение</span>
                        <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                    </span> 
                    <span class="block">
                        <span class="hover">АЭС</span>
                        <span class="hidden">атомная электростанция</span>
                    </span>)
                </td>
                <td>
                    <img src="/img/111aa.jpg" style="width: 280px;">
                    <br><br>Портфель зарубежных заказов на 10 лет по традиционным продуктам, млн долл.
                    <br><small>* Фактическое значение находится между нижним и целевым уровнем КПЭ.</small>
                    <br><img src="/img/111b.jpg" style="width: 250px;" class="mt-4">
                    <br><br>Зарубежная выручка по традиционным продуктам, млн долл.
                    <br><small>* По РСБУ 2 192 млн долл., скорректированная с учетом правил определения фактического уровня КПЭ в соответствии с утвержденной методологией.</small>
                    <img src="/img/111c.jpg" style="width: 250px;" class="mt-4">
                    <br><br>Индекс выполнения инвестиционной программы АО «Концерн Росэнергоатом» (в зоне ответственности).
                    <img src="/img/111d.jpg" style="width: 250px;" class="mt-4">
                    <br><br>Вклад в ССДП по атомному заказу, млрд руб.
                </td>
                <td>
                        1. Физический пуск и энергетический пуск
                        <span class="block">
                            <span class="hover">энергоблока</span>
                            <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                        </span>
                        № 4 Тяньваньской 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                    <br><br>2. Заливка «первого бетона» 
                    <span class="block">
                   <span class="block">
                        <span class="hover">энергоблок</span>
                        <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                    </span>
                    № 1 Курской 
                    <span class="block">
                        <span class="hover">АЭС</span>
                        <span class="hidden">атомная электростанция</span>
                    </span>
                    -2
                    <br><br>3. Заливка «первого бетона» 
                    <span class="block">
                        <span class="hover">энергоблок</span>
                        <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                    </span>
                    № 1 
                    <span class="block">
                        <span class="hover">АЭС</span>
                        <span class="hidden">атомная электростанция</span>
                    </span>  
                    «Аккую» 
                </td>
                <td>Не менее 1/3 глобального рынка сооружения 
                    <span class="block">
                        <span class="hover">АЭС</span>
                        <span class="hidden">атомная электростанция</span>
                    </span> 
                </td>
            </tr>
            <tr>
                <td>Новые продукты для российского и международных рынков</td>
                <td>Операционная устойчивость (диверсификация)</td>
                <td>
                    <img src="/img/112a.jpg" style="width: 250px;">
                    <br><br>Интегральный показатель по новым продуктам.
                    <br><small>* Фактическое значение находится между нижним и целевым уровнем КПЭ. С учетом корректировки целевого значения КПЭ «Портфель заказов по новым продуктам (вне контура)» и КПЭ «Выручка по новым продуктам вне контура» согласно резолюции Генерального директора ГК «Росатом» А.Е. Лихачева об исключении объемов работ по направлению «Исследовательские реакторы».</small>
                    <br><img src="/img/112b.jpg" style="width: 250px;" class="mt-4">
                    <br><br>Выполнение ключевых событий по новым направлениям бизнеса, количество событий.
                </td>
                <td>
                    <ul class="ulTable">
                        1. Участие ДЗО Nukem Technologies Engineering Services GmbH и АО «НИКИМТ-Атомстрой» в тендерах за рубежом на:
                        <br><br><li>вывод из эксплуатации 
                            <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span>  
                            «Vattenfall» (Швеция)
                        </li>
                        <br><li>переработку и кондиционирование загрязненных почв при выводе из эксплуатации 
                            <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span>  
                        «Козлодуй» (Болгария)</li>
                        
                        <br><br>2. Заключение  АО «НИКИМТ-Атомстрой» контрактов на:
                        <br><br><li>выполнение работ по проектированию вывода из эксплуатации Ленинградской 
                            <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span> 
                        </li>
                        <br><li>
                            комплексное проектирование, сооружение и поставки оборудования для ввода в эксплуатацию объектов обращения с <span class="block">
	<span class="hover">РАО</span>
	<span class="hidden">радиоактивные отходы</span>
</span> на 
                            <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span>  
                                «Бушер-2»
                        </li>
                        
                        <br>3. Начало работ АО «НИКИМТ-Атомстрой» по сооружению объектов обращения с <span class="block">
	<span class="hover">РАО</span>
	<span class="hidden">радиоактивные отходы</span>
</span> на 
                            <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span>  
                            «Руппур», открытие филиала в Бангладеш
                        <br><br>4.  Реализация контракта с  Electricite de France (EDF)
                        <br><br>5.  Выполнение работ в соответствии с дорожной картой по проекту «Умный город»
                        <br><br>6. Формирование пакета цифровых продуктов и стратегии продвижения на внешние рынки
                    </ul>
                </td>
                <td>Доля выручки вне основного ядра - 30 %</td>
            </tr>
            <tr>
                <td>Снижение себестоимости продукции и сроков протекания процессов</td>
                <td>Финансовая устойчивость</td>
                <td>
                    <img src="/img/113a.jpg" style="width: 250px;">
                    <br><br>Соблюдение сроков и стоимости строительства АЭС за рубежом.
                    <br><img src="/img/113b.jpg" style="width: 250px;" class="mt-4">
                    <br><br>Скорректированный свободный денежный поток ГК (с учетом выполнения ССДП Дивизиона), млрд руб.
                    <br><img src="/img/113c.jpg" style="width: 250px;" class="mt-4">
                    <br><br>Удельная прогнозная стоимость сооружения АЭС, приведенная с учетом сроков, руб./кВт.
                    <img src="/img/113d.jpg" style="width: 250px;" class="mt-4">
                    <br><br>Условно-постоянные затраты, млрд руб.
                    <img src="/img/113e.jpg" style="width: 250px;" class="mt-4">
                    <br><br>Оборачиваемость запасов, дни.
                </td>
                <td>
                    <ul class="ulTable">
                        1. Выполнение работ по:
                        <br><br><li>цифровой трансформации Дивизиона</li>
                        <br><li>проекту внедрения цифровой отраслевой платформы</li>
                        <br><li>созданию системы управления информацией по проектам для обеспечения требований зарубежных 
                        <span class="block">
                            <span class="hover">заказчиков</span>
                            <span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
                        </span>
                        к IMS</li> 
                        <br><li>Производственной системе «Росатом»</li>
                        <br><li>программе расширения общеотраслевой системы контроля стоимости совместно с Концерном «Росэнергоатом»</li>
                        <br>2. Доработка методологии управления стоимостью и расширение функциональности информационной системы управления ресурсами
                        <br><br>3. Повышение точности планирования на стадии контрактации 
                        <br><br>4. Развитие системы Комплексного управления стоимостью и сроками отраслевых проектов 
                    </ul>
                </td>
                <td>Перевыполнение ежегодных плановых значений</td>
        </tbody>
    </table>

    <div class="row mt-5">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <p>В отчетном году Дивизион был сфокусирован на выполнении обязательств в основном ядре бизнеса – проектировании и строительстве атомных электростанций в России и за рубежом, так как в активную фазу строительства вошло большинство проектов 
            <span class="block">
                <span class="hover">сооружения АЭС</span>
                <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
            </span>. Это вызов, с которым Компания ранее не сталкивалась, в связи с чем основной приоритет года, без которого невозможно удержание первого места в мире по количеству сооружаемых энергоблоков, – это безусловное исполнение обязательств по законтрактованным проектам.</p>
            <p>Достижение стратегических целей Дивизиона в отчетном году произошло во многом за счет снижения себестоимости продукции и сроков протекания процессов.</p> 
            <p>В 2017 году принято решение о переводе направления бизнеса «Исследовательские реакторы» в другое подразделение Госкорпорации «Росатом».</p>
            <p>На основании аналитической информации о тенденциях на приоритетных рынках, о состоянии макроэкономической среды, конкурентного анализа, новых партнерских схем, а также с учетом приоритетов деятельности Акционера, на ежегодной основе проводится подтверждение и актуализация средне- и долгосрочных планов деятельности Дивизиона, а также ключевых показателей деятельности. Соответствующие решения принимаются в том числе на стратегических сессиях с участием Акционера, которые проводятся не реже чем два раза в год. Сессии по выполнению <span class="block">
	<span class="hover">КПЭ</span>
	<span class="hidden">ключевой показатель эффективности</span>
</span> проводятся ежеквартально – в целях контроля достижения поставленных целей и контроля рисков.</p>
            <p>Изменения в приоритетах отражаются в бизнес-плане Компании, который верифицируется и в случае необходимости актуализируется на ежегодной основе.</p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <ul class="headerPage blockLineLeft">
                При формировании средне- и долгосрочных программ и планов развития Компания использует рыночную аналитику, отражающую тенденции на основных рынках и регионах присутствия, а также конкурентный анализ и бенчмаркинг основных игроков. 
                <br><br><strong>Источники данной информации:</strong>
                <br><br>
                <li>ежедневные обзоры СМИ, публикации компаний;</li>
                <li>периодические обзоры по регионам присутствия, формируемые партнерскими организациями;</li> 
                <li>аналитические обзоры, формируемые специализированными организациями (World Energy Outlook, BP-Energy Outlook и др.);</li> 
                <li>обзоры конкурентов по запросу, выполняемые крупнейшими консалтинговыми компаниями, которые позволяют проводить сравнительный анализ и выявлять лучшие практики;</li> 
                <li>участие в крупных отраслевых форумах;</li> 
                <li>отраслевая информационная система ОАЗИС, систематизирующая данные о ключевых партнерах, 
                 
                <span class="block">
                    <span class="hover">заказчиках</span>
                    <span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
                </span>
                и др.</li>
            </ul>
        </div>
    </div>
    <div id="under"><strong>1.1.2. Стратегический анализ внешней среды</strong></div>
    <h4 class="titlePage mt-4">PEST-анализ внешней среды</h4>

    <img src="/img/pest.jpg" class="mt-4" style="width: 100%;">

    <div id="under" class="mt-4"><strong>1.1.3. Повестка в области устойчивого  развития</strong></div>

    <h4 class="titlePage mt-4">Подход к устойчивому развитию</h4>

    <div class="row mt-4">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <p><span class="block">
	<span class="hover">Инжиниринговый</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизион понимает устойчивое развитие бизнеса Компании как вид деятельности, который удовлетворяет не только критериям экономической и экологической целесообразности, но и социальным интересам общества и государств. Исходя из своей особой роли – проектировщика и строителя энергоблоков<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>, Дивизион должен обеспечить безопасность и надежность объектов использования атомной энергии на территории всех стран, где ведет деятельность.</p> 
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <p class="headerPage blockLineLeftTxt"><strong>Устойчивое развитие</strong> — это развитие, при котором удовлетворение потребностей нынешних поколений осуществляется без ущерба для возможностей будущих поколений удовлетворять свои собственные потребности.</p> 
            <br><em>Доклад Комиссии ООН по окружающей среде и развитию «Наше общее будущее», 1987 год</em> 
        </div>
    </div>

    <h4 class="titlePage mt-5">
        Повестка 
        <span class="block">
            <span class="hover">Инжинирингового</span>
            <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
        </span> 
        дивизиона в области устойчивого развития
    </h4>
    
    <div class="row mt-5">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <ul>
                <li>Мы ставим на первое место безопасность и надежность объектов использования атомной энергии и мы ответственны за результаты нашей деятельности.</li>
                <li class="mt-2">Все аспекты экологической безопасности для нас являются крайне значимыми и прорабатываются при разработке проектов 
                <span class="block">
                    <span class="hover">сооружения АЭС</span>
                    <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                </span> и при строительстве энергоблоков. На объектах строительства систематически проводится производственный экологический контроль.</li>
                <li class="mt-2">Мы развиваем и внедряем инновационные технологии управления проектированием и сооружением сложных инженерных объектов.</li>
                <li class="mt-2">Мы являемся ответственным работодателем и вносим существенный вклад в социально-экономическое развитие регионов присутствия.</li>
                <li class="mt-2">Мы прозрачны и подотчетны перед акционерами, потребителями, партнерами, поставщиками, сотрудниками, населением регионов присутствия и другими заинтересованными сторонами.</li>
                <li class="mt-2">Мы содействуем построению миролюбивого и открытого общества в интересах устойчивого развития, стремимся конструктивно взаимодействовать с заинтересованными сторонами по всем существенным аспектам деятельности и поддерживаем достижение целей устойчивого развития во всех регионах присутствия.</li>
                <li class="mt-2">Деятельность Дивизиона в области устойчивого развития позволяет более точно определять и корректировать стратегию развития Компании и повышать эффективность достижения стратегических целей.</li>
                <li class="mt-2">На сайте Дивизиона создан раздел «<a href="http://ase-ec.ru/sustainability/">Социальная ответственность</a>», где раскрывается информация о деятельности в области корпоративной социальной ответственности и устойчивого развития.</li>
            </ul>
            
            <strong><br>Приверженность целям устойчивого развития ООН<br><br></strong>
            <p>
                <span class="block">
	<span class="hover">Инжиниринговый</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизион привержен 
                <a href="https://www.un.org/sustainabledevelopment/ru/sustainable-development-goals/">
                    целям в области устойчивого развития, заявленными ООН на период до 2030 года.
                </a>
            </p> 
            
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <p class="headerPage blockLineLeftTxt"><span class="color_GOST">(GRI <span id="gri-102-20">102-20</span>)</span> В связи с широким спектром работ, проводимых Дивизионом по различным направлениям деятельности, вопросы устойчивого развития регулируются и регламентируются отдельно по каждому направлению деятельности: социальная сфера находится в зоне ответственности вице-президента по управлению персоналом и административной работе, сфера экономики и финансов – в зоне старшего вице-президента по экономике и финансам, экологическая сфера – в зоне директора по управлению качеством.</p>
        </div>
    </div>

    <br><small>Таблица 1. Приверженность Дивизиона целям устойчивого развития ООН* <span class="color_GOST">(GRI <span id="gri-102-15">102-15</span>)</span></small>
    <table class="table table-borderless table-responsive">
        <thead>
            <tr>
                <th></th>
                <th><strong>Цели устойчивого развития ООН</strong></th>
                <th><strong>Вклад Дивизиона в достижение целей</strong></th>
            </tr>
        </thead>
        <tr>
            <tbody>
                <tr>
                    <td><img src="../img/chapter_1/division1.png" class="division"></td>
                    <td>Обеспечение всеобщего доступа к недорогим, надежным, устойчивым и современным источникам энергии для всех</td>
                    <td>
                        Вклады в обеспечение энергетической безопасности в 23 странах мира
                        <br>Создание безуглеродной генерации энергии
                        <br>Инициативы по повышению энергоэффективности
                    </td>
                </tr>
                <tr>
                    <td><img src="../img/chapter_1/division2.png" class="division"></td>
                    <td>Содействие поступательному, всеохватному и устойчивому экономическому росту, полной и производительной занятости и достойной работе для всех</td>
                    <td>
                        Реализация инвестиционных проектов государственного значения в ряде стран мира
                        <br>Позитивное экономическое и социальное влияние в региональном, страновом и международном масштабах (повышение занятости населения, поддержка малого и среднего предпринимательства и др.)
                    </td>
                </tr>
                <tr>
                    <td><img src="../img/chapter_1/division3.png" class="division"></td>
                    <td>Создание стойкой инфраструктуры, содействие всеохватной и устойчивой индустриализации и инновациям</td>
                    <td>
                        Вклад в цифровую трансформацию российской экономики, в том числе внедрение комплексной системы управления проектами на основе технологии Multi-D
                        <br>Трансфер «атомных» наработок в смежные отрасли
                        <br>Рост объема инновационной продукции
                        <br>Вклады в 
                        <span class="block">
                            <span class="hover">НИР</span>
                            <span class="hidden">научно-исследовательская работа</span>
                        </span> 
                        и НИОКР
                    </td>
                </tr>
                <tr>
                    <td><img src="../img/chapter_1/division4.png" class="division"></td>
                    <td>Обеспечение перехода к рациональным моделям потребления и производства</td>
                    <td>
                        Внедрение программы «Производственная система Росатома» на всех объектах
                        <br>Повышение операционной и инвестиционной эффективности 
                        <br>Использование технологий (
                            <span class="block">
                                <span class="hover">LEAN</span>
                                <span class="hidden">Концепция управления производственным предприятием, основанная на постоянном стремлении к устранению всех видов потерь. Бережливое производство предполагает вовлечение в процесс оптимизации бизнеса каждого сотрудника.</span>
                            </span>
                            -технологии, BIM-моделирование, Agile-практики и пр.)
                        <br>Вклады в охрану труда и безопасность рабочих мест
                    </td>
                </tr>
                <tr>
                    <td><img src="../img/chapter_1/division5.png" class="division"></td>
                    <td>Укрепление средств осуществления и активизация работы в рамках Глобального партнерства в интересах устойчивого развития</td>
                    <td>
                        Партнерство с российскими и международными организациями 
                        <br>Выполнение социальных обязательств
                        <br>Соблюдение норм национальных и международной юрисдикций
                    </td>
                </tr>
            </tbody>
    </table>

    <hr>

    <small class="colorFt">* Остальные цели ООН не имеют прямого отношения к деятельности 
    <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span> 
    дивизиона. Компания их разделяет и вносит посильный вклад в их достижение.</small>
    <br><br>Информация о результатах 2017 года в области устойчивого развития приведена в Главе 2 «
    <a href="/financial_capital">
        Ключевые результаты деятельности
    </a>  
    ».
{% endblock %}

