{% extends "ru/templates/page.html" %} 

{% block link %}
    <link rel="stylesheet" href="/css/fm.revealator.jquery.min.css">
{% endblock %}

{% block breadcrumb %}
<li>
    <a href="/content">
        <small>Содержание /</small>
    </a>
</li>
<li class="active">
    <small><strong>Взаимодействие с заинтересованными сторонами в ходе подготовки Отчета</strong></small>
</li>
{% endblock %} 

{% block picture %}
    background-image: url(../img/chapters/engagement.jpg);
    background-position-y: 70%;
{% endblock %}

{% block titleText%} Взаимодействие с заинтересованными сторонами в ходе подготовки Отчета {% endblock %}

{% block subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-43">102-43</a></span>
            <span class="hidden-gri">Подход организации к взаимодействию с заинтересованными сторонами</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-44">102-44</a></span>
            <span class="hidden-gri">Ключевые темы и опасения, поднятые стейкхолдерами</span>
        </span>
    </li>
</ul>
{% endblock %}

{% block content %}
    <div class="row mt-4">
                <div class="col-12 mb-3">
                    <h4 class="titlePage">
                        Взаимодействие с заинтересованными сторонами в ходе подготовки отчета <span class="color_GOST">(GRI <span id="gri-102-43">102-43</span>)</span> 
                    </h4>
                    <div class="under mt-4">
                        <strong>Заявление председателя Комитета по публичной отчетности </strong>
                    </div>
                </div>
                
                <div style="background-image: url(../img/борисов-бел.jpg); background-position-x: 36%;" class="col-lg-4 col-md-4 col-sm-12 bossPhoto"></div>
                <div class="col-lg-8 col-md-8 col-sm-12 interview">
                    <h5>
                        <strong>Иван Борисов,
                            <br>старший вице-президент
                            <br>по развитию
                        </strong>
                    </h5>

                    <p>Для нас как для <span class="block">
        <span class="hover">Инжиниринговой</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span> компании, активно работающей не только на российском, но и на зарубежных рынках, очень важна информационная открытость. Мы понимаем, что отношение к атомной энергетике напрямую зависит от качества и объема информации, доступной широкому кругу заинтересованных сторон, поэтому считаем Годовой отчет одним из эффективных инструментов коммуникации и информирования.</p>
                    <p>Это третий Публичный годовой отчет <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span> дивизиона. В этом году подробно раскрыты следующие темы: «Трансформация <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span> дивизиона Госкорпорации «Росатом» в цифровую компанию» и «Подготовка и повышение квалификации кадров Компании в условиях цифрового перехода». Эти темы крайне значимы для Дивизиона, поскольку в 2017 году была поставлена новая задача – трансформация <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span> дивизиона в цифровую компанию.</p>
                    <p>Каждый год мы повышаем требования к публичной отчетности. В этом году мы второй раз выпустили Краткий отчет – буклет по итогам года. Он оказался очень востребованным продуктом – 400 экземпляров буклета были распространены за два дня. Мы совершенствуем организационные процессы подготовки отчетности – предыдущий Отчет нам удалось подготовить на 41 день раньше, чем годом ранее. В 2018 году мы впервые провели диалог с заинтересованными сторонами на площадке строительства – на Нововоронежской АЭС‑2. Считаем эту практику очень полезной и намерены продолжать ее дальше. Мы ищем эффективные способы взаимодействия с заинтересованными сторонами. В первую очередь речь идет о наших партнерах из зарубежных стран. В прошлом году с интерактивным отчетом, размещенным на сайте, познакомились представители 50 стран мира. Решение задачи цифровой трансформации Дивизиона неизбежно приведет к появлению новых партнеров. А это значит, что и для них мы намерены готовить полезную отчетность о нашей деятельности, в том числе совместной. Также это означает, что сами процессы отчетности будет подвержены процессам цифровизации.</p>
                </div>
            </div>
            <p>Мы ответственны за информацию, размещенную в Отчете, и считаем, что Отчет включает в себя все обязательные элементы. Он подготовлен с учетом принципов и фундаментальных концепций и соответствует Международному стандарту интегрированной отчетности International <IR> Framework.</p>
            <p>Особую благодарность хочу выразить представителям наших заинтересованных сторон за постоянное тесное сотрудничество и интерес, проявляемый к деятельности нашей Компании.</p>
            <p>Мы постоянно ищем пути дальнейшего развития и совершенствования годовых отчетов. И будем и дальше использовать для этого современные методы и подходы. Уверен, что с этими задачами мы успешно справимся!</p>

            <div class="row mt-4">
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <p>Для повышения прозрачности и подотчетности <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span> дивизиона представители основных заинтересованных сторон привлекаются к подготовке Отчета за счет участия в диалогах по обсуждению общественно значимых аспектов деятельности Дивизиона и отражению этой деятельности в готовящемся Отчете, а также участия в общественном заверении Отчета. Взаимодействие с заинтересованными сторонами является требованием международных стандартов АА1000SES Institute of Social and Ethical Accountability, Global Reporting Initiative (GRI, версия SRS), Integrated Reporting International Framework.</p>
                    <p><span class="color_GOST">GRI (102–44)</span> При подготовке настоящего Отчета проведены общественные консультации и два диалога с представителями основных заинтересованных сторон (протоколы диалогов опубликованы на Платформе взаимодействия с заинтересованными сторонами <a href="http://stakeholderpanel.ru/">http://stakeholderpanel.ru/.</a></p>
                    <p>Диалог по определению существенных тем для раскрытия в Отчете состоялся 07.11.2017 в Московском филиале АО ИК «АСЭ». Диалог проведен с использованием технологии <span class="block">
        <span class="hover">Rapid Foresight</span>
        <span class="hidden">Технология, которая позволяет кругу лиц, которые участвуют в форсайте, договориться по поводу образа будущего, своих действий по поводу этого будущего, и своего желаемого будущего. Основа методики: совместная работа участников на карте времени; работа не с текстами, а с образами и схемами</span>
    </span>, которая позволила за счет совместной работы топ-менеджмента Компании и представителей основных стейкхолдеров провести на мероприятии полный цикл работ по формированию матрицы существенности.</p>
                    <p>Диалог по приоритетным темам Отчета («Трансформация <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span> дивизиона в цифровую компанию» и «Подготовка и повышение квалификации кадров Компании в условиях цифрового перехода») состоялся 27.02.2018 в Штабе строительства Нововоронежской АЭС‑2 с подключением по видеосвязи Московского филиала АО ИК «АСЭ».</p>
                    <p>Общественные консультации по проекту Отчета состоялись 18.04.2018 в Московском филиале АО ИК «АСЭ».</p>
                    <p>В ходе всех диалогов высказано 52 предложения и рекомендации.</p>
                    <p>92,3 % предложений относились к запросам на публикацию в Отчете той или иной информации. Предложения, относящиеся к деятельности Компании, переданы в соответствующие подразделения. Компанией проведена специальная работа по поступившим рекомендациям к проекту Отчета (по структуре, содержанию, форме подачи отчетной информации). В результате учтено или частично учтено 78,8 % предложений; не учтено 5,8 % (даны аргументированные ответы о причинах неучета); будет учтено или рассмотрено при подготовке отчетов за следующие отчетные периоды – 15,4 % предложений.</p>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="headerPage blockLineLeftTxt">
                        В 2017 году задачи по совершенствованию взаимодействия с заинтересованными сторонами (ВЗС) ставились в рамках:
                        <ul>
                            <li>завершения формирования в 2016 году <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span> дивизиона (расширение контура управления),</li>
                            <li>установки Госкорпорации «Росатом» на повышение эффективности ВЗС (в части публичной отчетности),</li>
                            <li>появления задачи трансформации <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span> дивизио- на в цифровую компанию.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <br>
            <small>
                <strong>Таблица 46. Учет основных предложений, высказанных заинтересованными сторонами в ходе диалогов при подготовке
                    отчета за 2017 год
                    <span class="color_GOST"> (GRI <span id="gri-102-44">102-44</span>)</span>
                </strong>
            </small>
            <table class="table table-borderless table-responsive">
                <tr>
                    <th>Предложения заинтересованных сторон</th>
                    <th> Учет предложений Компанией</th>
                </tr>
                <tr>
                    <td>Показать, каким образом Компания принимает участие в реализации программы «<span class="block">
                        <span class="hover">«Цифровая экономика».</span>
                        <span class="hidden">
                            Экономика, основанная на новых методах генерирования, сбора, обработки, хранения, анализа и передачи данных, а также новых цифровых технологиях:
                                <br>&ndash; робототехника,
                                <br>&ndash; кибер-физические системы,
                                <br>&ndash; индустриальный интернет вещей,
                                <br>&ndash; сети связи пятого поколения,
                                <br>&ndash; аддитивные технологии,
                                <br>&ndash; когнитивные технологии,
                                <br>&ndash; искусственный интеллект,
                                <br>&ndash; машинное обучение,
                                <br>&ndash; Big Data,
                                <br>&ndash; блокчейн,
                                <br>&ndash; многоагентные системы и пр.
                        </span>
                    </span> Российской Федерации».</td>
                    <td>Учтено в разделе «Цифровая трансформация <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span> дивизиона».</td>
                </tr>
                <tr>
                    <td>Отразить реальный рост производительности труда за счет увеличения сложности работ, компетентности персонала и специализации.</td>
                    <td>Учтено в разделе «Ключевые показатели».</td>
                </tr>
                <tr>
                    <td>Включить данные о цифровых решениях на строительстве объектов, сопоставимые с международными оценками цифровизации.</td>
                    <td>Учтено в разделах «Цифровая трансформация <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span> дивизиона», «Социально-репутационный капитал».</td>
                </tr>
                <tr>
                    <td>Раскрыть профиль компетенций кадров, которые нужны для цифрового перехода.</td>
                    <td>Учтено частично в разделах «Цифровая трансформация <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span> дивизиона», «Человеческий капитал».</td>
                </tr>
                <tr>
                    <td>Показать, как соотносятся между собой цели Компании и цели устойчивого развития.</td>
                    <td>Учтено в разделе «Повестка в области устойчивого развития».</td>
                </tr>
                <tr>
                    <td>Отразить влияние внедрения системы Multi-D и СУИ на сроки, стоимость и качество, а также эксплуатацию объектов.</td>
                    <td>Учтено частично (без информации о влиянии на эксплуатацию объектов).</td>
                </tr>
                <tr>
                    <td>Раскрыть параметры эффективности реализации цифровых инициатив.</td>
                    <td>Не учтено, информация является коммерческой тайной.</td>
                </tr>
                <tr>
                    <td>Раскрыть информацию о том, каким образом Компания защищает интеллектуальную собственность, сколько инвестирует в НИОКР и <span class="block">
        <span class="hover">НИР</span>
        <span class="hidden">научно-исследовательская работа</span>
    </span>, какой эффект этих инвестиций, в том числе – каким объемом обладают полученные РИД.</td>
                    <td>Учтено в части защиты интеллектуальной собственности и объемов РИД. Информация не может быть раскрыта в части инвестиций в НИОКР и <span class="block">
        <span class="hover">НИР</span>
        <span class="hidden">научно-исследовательская работа</span>
    </span> – является коммерческой тайной.</td>
                </tr>
                <tr>
                    <td>Дать комментарий в Отчете, зачем дивизион осуществляет международное патентование технологий <span class="block">
        <span class="hover">АЭС </span>
        <span class="hidden">атомная электростанция</span>
    </span>с <span class="block">
        <span class="hover">РУ</span>
        <span class="hidden">реакторная установка</span>
    </span> VVER и подает такое количество (107) национальных и региональных заявок на изобретения за рубежом.</td>
                    <td>Учтено в разделе «Интеллектуальный капитал».</td>
                </tr>
                <tr>
                    <td>Описать, каким образом была увеличена сумма средств, сэкономленных в ходе закупочной деятельности.</td>
                    <td>Учтено в разделе «Финансовый капитал».</td>
                </tr>
                <tr>
                    <td>Добавить в Отчет информацию об инвестициях, направленных на цифровизацию в 2017 году и планы на 2018 год.</td>
                    <td>Учтено в разделе «Финансовый капитал».</td>
                </tr>
                <tr>
                    <td>Добавить в Отчет информацию о мероприятиях по кибербезопасности Компании.</td>
                    <td>Не учтено, информация является коммерческой тайной.</td>
                </tr>
                <tr>
                    <td>Подробнее рассказать о проектах, о структуре финансирования зарубежных проектов, добавить в Отчет информацию по пускам энергоблоков и планах на 2018 год.</td>
                    <td>Учтено частично в разделе «Производственный капитал», структура финансирования зарубежных проектов является коммерческой тайной.</td>
                </tr>
                <tr>
                    <td>Выделить отдельно рост численности персонала, связанный с увеличением количества площадок за рубежом.</td>
                    <td>Учтено в приложении 12 Книги приложений к Годовому отчету.</td>
                </tr>
            </table>

            <br><br>
            <small>
                <strong>Таблица 47. Выполнение обязательств, взятых Компанией при подготовке отчета за 2016 год</strong>
            </small>
            <table class="table table-borderless table-responsive">
                <tr>
                    <th>Предложения</th>
                    <th>Учет</th>
                </tr>
                <tr>
                    <td>Уточнить информацию о перспективах финансирования атомной отрасли государством</td>
                    <td>Учтено в разделе «Финансовый капитал» </td>
                </tr>
                <tr>
                    <td>Более детально отразить тему вовлеченности общественности в проекты Компании</td>
                    <td>Учтено в разделе «Социально-репутационный капитал»</td>
                </tr>
                <tr>
                    <td>Добавить в отчет пункт о взаимодействии с вузами в рамках научно-исследовательской деятельности</td>
                    <td>Будет учтено в отчете за 2018 год</td>
                </tr>
                <tr>
                    <td>
                        Выделить в Отчете деятельность по обращению с 
                        <span class="block">
                            <span class="hover">РАО,</span>
                            <span class="hidden">радиоактивные отходы</span>
                        </span>  
                        <span class="block">
                            <span class="hover">ОЯТ</span>
                            <span class="hidden">отработавшее (облученное) ядерное топливо</span>
                        </span> 
                        и выводу из эксплуатации <span class="block">
        <span class="hover">АЭС </span>
        <span class="hidden">атомная электростанция</span>
    </span>как важные элементы операционной
                        устойчивости и рассматривать их как ключевые элементы интегрированного предложения при строительстве
                        российских 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>  
                        за рубежом, в т.ч. в составе показателя 
                        <span class="block">
                            <span class="hover">LCOE</span>
                            <span class="hidden">
                                Приведенная стоимость электроэнергии [кВт*ч] на всем жизненном цикле и выражается в денежной единице за производство 1 кВт*час. 
                                <br>Определяется как величина платы за электроэнергию путем суммирования всех расходов (капитальные вложения, операционные затраты, в т.ч. затраты на топливо, затраты обращения с 
                                <span class="block">
                                    <span class="hover">ОЯТ</span>
                                    <span class="hidden">отработавшее (облученное) ядерное топливо</span>
                                </span>  
                                и 
                                <span class="block">
                                    <span class="hover">РАО,</span>
                                    <span class="hidden">радиоактивные отходы</span>
                                </span>  
                                расходы на персонал, затраты на ремонты, оплата услуг сторонних организаций, страхование и налоги, отчисления на ВЭ 
                                <span class="block">
                                    <span class="hover">АЭС</span>
                                    <span class="hidden">атомная электростанция</span>
                                </span>  
                                и прочие затраты)на всем жизненном цикле станции  (с учетом фактора временной ценности денег) и соотнесенных к (проектной или фактической) мощности 
                                <span class="block">
                                    <span class="hover">АЭС.</span>
                                    <span class="hidden">атомная электростанция</span>
                                </span> 
                            </span>
                        </span>
                    </td>
                    <td>Учтено. В разделе «Стратегический обзор» описана деятельность Дивизиона по сооружению и модернизации объектов
                        обращения с 
                        <span class="block">
                            <span class="hover">РАО</span>
                            <span class="hidden">радиоактивные отходы</span>
                        </span>  
                        и <span class="block">
        <span class="hover">ОЯТ</span>
        <span class="hidden">отработавшее (облученное) ядерное топливо</span>
    </span>. Предложение учитывать характеристики/результаты этой деятельности в составе показателя
                        <span class="block">
                            <span class="hover">LCOE</span>
                            <span class="hidden">
                                Приведенная стоимость электроэнергии [кВт*ч] на всем жизненном цикле и выражается в денежной единице за производство 1 кВт*час. 
                                <br>Определяется как величина платы за электроэнергию путем суммирования всех расходов (капитальные вложения, операционные затраты, в т.ч. затраты на топливо, затраты обращения с 
                                <span class="block">
                                    <span class="hover">ОЯТ</span>
                                    <span class="hidden">отработавшее (облученное) ядерное топливо</span>
                                </span>  
                                и 
                                <span class="block">
                                    <span class="hover">РАО,</span>
                                    <span class="hidden">радиоактивные отходы</span>
                                </span>  
                                расходы на персонал, затраты на ремонты, оплата услуг сторонних организаций, страхование и налоги, отчисления на ВЭ 
                                <span class="block">
                                    <span class="hover">АЭС</span>
                                    <span class="hidden">атомная электростанция</span>
                                </span>  
                                и прочие затраты)на всем жизненном цикле станции  (с учетом фактора временной ценности денег) и соотнесенных к (проектной или фактической) мощности 
                                <span class="block">
                                    <span class="hover">АЭС.</span>
                                    <span class="hidden">атомная электростанция</span>
                                </span> 
                            </span>
                        </span> 
                        передано в Управление стратегии
                    </td>
                </tr>
                <tr>
                    <td>Подготовить программный документ по устойчивому развитию</td>
                    <td>Работы запланированы на 2018 год</td>
                </tr>
                <tr>
                    <td>Показать в Отчете связь благотворительной деятельности Компании с основной деятельностью</td>
                    <td>Учтено в разделе «Социально-репутационный капитал»</td>
                </tr>
                <tr>
                    <td>
                        При подготовке Отчета обратить внимание на новые стандарты безопасности на 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>  
                        (GSR Part 2 «Management for
                        Safety») и обновленную редакцию «Общих положений по обеспечению безопасности атомных станций» (ОПБ 88/15)
                        и раскрывать в отчетах прогресс по деятельности в этом направлении на стадиях проектирования и строительства
                        российских 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span> 
                    </td>
                    <td>Учтено частично в разделе «Природный капитал». Информация о соответствии указанным стандартам и документам
                        раскрывается в специализированных отчетах по безопасности (<span class="block">
        <span class="hover">ООБ</span>
        <span class="hidden">отчет по обоснованию безопасности</span>
    </span> и др.).
                    </td>
                </tr>
            </table>
            <br>
            <small>
                <strong>Таблица 48. Обязательства по учету предложений, высказанных представителями заинтересованных сторон в ходе диалогов
                    при подготовке отчета за 2017 год</strong>
            </small>
            <table class="table table-borderless table-responsive">
                <tr>
                    <th>Предложения заинтересованных сторон </th>
                    <th>Обязательства Компании</th>
                </tr>
                <tr>
                    <td>Продемонстрировать глобальную отраслевую картину конкурентных преимуществ компании по цифровизации</td>
                    <td rowspan="6">Будет рассмотрено при подготовке концепции отчета за 2018 год</td>
                </tr>
                <tr>
                    <td>Показать, как капитализируется интеллектуальная собственность, ее влияние на стоимость бизнеса и бизнес-модель
                        (отразить визуально)</td>
                </tr>
                <tr>
                    <td>Описать, как процесс цифровизации и внедрение цифровых моделей и платформ повлияют на выручку компании в
                        среднесрочной перспективе</td>
                </tr>
                <tr>
                    <td>Рассказать о том, как поставщики оборудования, находящиеся вне контура Госкорпорации «Росатом», вписываются
                        в систему «Multi-D» и СУИ</td>
                </tr>
                <tr>
                    <td>Провести анализ структуры кадров Дивизиона в разрезе компетенций и специальностей и сопоставить его результаты
                        с специальностями вузов. Отразить работу Дивизиона по подготовке кадров</td>
                </tr>
                <tr>
                    <td>Раскрыть информацию об объеме РИД, полученном в результате совместной работы с вузами</td>
                </tr>
                <tr>
                    <td>Добавить информацию об обучении сотрудников антикоррупционным процедурам</td>
                    <td rowspan="8">Будет учтено в отчете за 2018 год
                    </td>
                </tr>
                <tr>
                    <td>Описать, сколько в компании цифровых платформ и, в случае если их несколько – их взаимосвязь </td>
                </tr>
                <tr>
                    <td>
                        Добавить информацию о кейсах по применению Multi-D, взяв за основу кейсы по 
                        <span class="block">
                            <span class="hover">ПСР</span>
                            <span class="hidden">Производственная система «Росатом»</span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Раскрыть результаты применения «Multi-D» в Дивизионе в количественных показателях (сроки и стоимость, время
                        протекания процессов, затраты), привести кейсы </td>
                </tr>
                <tr>
                    <td>В годовом отчете и в коммуникационном плане Дивизиона проработать не техническую, а результативную часть
                        внедрения «Multi-D»</td>
                </tr>
                <tr>
                    <td>Сформулировать преимущества «Multi-D» как флагманского проекта атомной отрасли в области цифровизации, продемонстрировать
                        платформенность «Multi-D» и возможность его трансфера в другие сферы (космическую отрасль, цифровые города
                        и др.)</td>
                </tr>
                <tr>
                    <td>Рассказать, как изменится бизнес-модель в связи с начавшимися процессами цифровой трансформации</td>
                </tr>
                <tr>
                    <td>Указать, какие требования предъявляются к специалистам-проектировщикам и специалистам-экологам в связи с
                        современным экологическим менеджментом качества</td>
                </tr>
            </table>

{% endblock %}

{% block scripts %}
    <script src="/js/fm.revealator.jquery.min.js"></script>
{% endblock %}