{% extends "ru/templates/page.html" %}

{% block link %}
    <link rel="stylesheet" href="/css/fm.revealator.jquery.min.css">
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Содержание /</small></a></li>
    <li><a href="#"><small>Глава 2 /</small></a></li>
    <li class="active"><small><strong> 2.1.</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/2.1_financial.jpg);
{% endblock %}

{% block  titleText %}
    2.1. Финансовый капитал
{% endblock %}

{% block  subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-7">102-7</a></span>
            <span class="hidden-gri">Масштаб организации</span>
        </span>
    </li>
</ul>
{% endblock %}

{% block content %}
    <div class="blockLineLeftTxt mt-4">
        <p class="txtHead">Финансовый капитал – это резерв средств, который есть у Компании для использования при производстве товаров (оказании услуг), создаваемых в результате коммерческой и инвестиционной деятельности, а также поступающих через финансирование (долговой, акционерный капитал). Управление финансовым капиталом – это эффективное использование всех финансовых инструментов для реализации стратегических целей Дивизиона.</p>
    </div>

    <div class="row mt-4">
        <div class="col-lg-4 col-md-4 col-sm-12 bossPhoto" style="background-image: url(../img/подоров_фин.jpg); background-position-x: 80%;">   </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            
            <h5><strong>Николай Подоров,
            <br>старший вице-президент
            <br>по экономике и финансам</strong></h5>

            <br><strong>Что, на Ваш взгляд, повлияло на положительные финансовые результаты Дивизиона 2017 года?</strong>
            <em class="directSpeech"><p class="mt-4">&#8211; На результаты отчетного года оказал влияние рост эффективности и качества управления Компанией, востребованность инжиниринговых услуг, предоставляемых Дивизионом на российском и международном рынках, а также активное развитие российской атомной отрасли в целом.</p>  
            
            <p class="text-focus">
                Темп роста выручки 2017 года по отношению к 2016 году составил 14,6 %. Наибольший вклад в этот рост внесли зарубежные проекты 
                <span class="block">
                    <span class="hover">сооружения АЭС</span>
                    <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                </span>.
            </p>

            <p>Поддержание положительного уровня показателя EBITDA – это следствие эффективного построения процесса управления затратами, обеспеченного контролем производственных затрат и сдерживанием роста управленческих расходов.</p> 
            <p>Основная часть инвестиций в 2017 году была направлена на оснащение площадок сооружения. На механизацию российских площадок и площадок стран СНГ (Курская<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>, Белорусская<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>) – 808,8 млн рублей. А по зарубежным площадкам (<span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Руппур» в Бангладеш, <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Бушер-2» в Иране, <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Аккую» в Турции) – 353,2 млн рублей. На развитие IT-оснащения инвестировано 1 230,2 млн рублей. На развитие инфраструктуры (головных офисов и филиалов) – 320,6 млн рублей.</p></em>
        
            <br><strong>Каковы планы на  2018 год и среднесрочную перспективу?</strong>
            <em class="directSpeech"><p class="mt-4">&#8211; Дивизиональная стратегия предполагает дальнейшее поступательное развитие Компании. Акцент делается на совершенствование системы управления как основного инструмента обеспечения стабильного роста финансово-экономических показателей.</p>
            <p>Портфель заказов Дивизиона составляет 92 млрд долларов США. Зарубежная выручка составляет приблизительно 87 % от общей, а в ближайшие два года она должна перейти 90 %-ный рубеж. По сути, мы становимся полностью экспортной компанией, поскольку единственным российским проектом в ближайшее время у нас останется Курская<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>-2.</p> 
            <p>К 2020 году планируется обеспечить рост выручки в 2,8 раза (по отношению к 2017 году). Это огромный объем, освоить который возможно только выстроив качественную работу подразделений Компании.</p> 
            <p>В 2018 году объем инвестиций Дивизиона увеличится в разы и составит более 20 млрд рублей. Важно отметить, что инвестиции 2018 года в целях сохранения консолидированного инвестиционного ресурса планируется финансировать за счет внешнего относительно АО «Атомэнергопром» источника. То есть речь идет о привлечении кредитов в коммерческих банках. Основные направления инвестиций на 2018 год: механизация российских площадок и площадок стран СНГ (Курская<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>-2, Белорусская <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>и др.) – 4 134,9 млн рублей; механизация зарубежных площадок (<span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Руппур», <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Бушер-2», <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Аккую») – 8 563 млн рублей. Остальная часть инвестиций будет направлена на развитие IT-оснащения – 2 452,9 млн рублей, на развитие инфраструктуры – головных офисов и филиалов – 887 млн рублей. Прочие инвестиции составят 4 699 млн рублей.</p></em> 
        </div>
    </div>

    <div id="under" class="mt-5"><strong>2.1.1. Финансовые результаты</strong></div>
                  
    <br><small>Таблица 15. Выручка 
    <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span> 
    дивизиона, структура выручки по направлениям деятельности, млрд руб. <span class="color_GOST">( GRI <span id="gri-102-7">102-7</span> )</span></small>
    <table class="table table-borderless table-responsive textCenter">
        <thead>
            <tr>
                <th rowspan="2" colspan="2"></th>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
                <th rowspan="2">&#916; 2017 - 2016 / 2016,%</th>
                <th rowspan="2">2018 план</th>
            </tr>
            <tr>
                <th>план</th>
                <th>факт</th>
            </tr>
        </thead>
        <tbody>
            <tr class="rowBold">
                <td colspan="2">Всего</td>
                <td>166,6</td>
                <td>152,9</td>
                <td>186,5</td>
                <td>175,2</td>
                <td>14,6 %</td>
                <td>235,7</td>
            </tr>
            <tr>
                <td rowspan="4">В разбивке по направлениям деятельности</td>
                <td>Управление сооружением</td>
                <td>52,9</td>
                <td>48,3</td>
                <td>64,9</td>
                <td>41,9</td>
                <td>-13,2 %</td>
                <td>95,8</td>
            </tr>
            <tr>
                <td>Оборудование</td>
                <td>69,8</td>
                <td>64,8</td>
                <td>70,3</td>
                <td>85,1</td>
                <td>31,4 %</td>
                <td>89,6</td>
            </tr>
            <tr>
                <td>
                    <span class="block">
                        <span class="hover">Проектно-изыскательские работы</span>
                        <span class="hidden">экономических обоснований строительства, подготовке проектов, рабочей доку-ментации, составлению сметной документации для осуществления строительства (нового строительства, расширения, реконструкции, технического перевооружения) объектов, зданий, сооружений.</span>
                    </span>
                </td>
                <td>28,8</td>
                <td>30,0</td>
                <td>38,7</td>
                <td>33,9</td>
                <td>12,8 %</td>
                <td>30,0</td>
            </tr>
            <tr>
                <td>Прочие виды бизнеса</td>
                <td>15,1</td>
                <td>9,8</td>
                <td>12,6</td>
                <td>14,3</td>
                <td>44,9 %</td>
                <td>20,3</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <small class="colorFt">Показатели динамики, приведенные в таблицах, могут отличаться от аналогичных показателей, рассчитанных по данным в Отчете, из-за округления показателей.</small>

    <p class="mt-4">Рост выручки связан с разворачиванием в 2017 году работ по новым проектам (например, <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Эль-Дабаа», <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Пакш II», <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Бушер-2» <span class="block">
	<span class="hover">э/б </span>
	<span class="hidden">энергоблок</span>
</span>№ 2, 3) и выполнением значительного объема работ по Белорусской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>, находящейся в активной фазе строительства.</p>

        <br><small>Таблица 16. Общепроизводственные расходы, млрд руб.</small>
        <table class="table table-borderless table-responsive-sm textCenter">
            <thead>
                <tr>
                    <th rowspan="2">2015</th>
                    <th rowspan="2">2016</th>
                    <th colspan="2">2017</th>
                    <th rowspan="2">&#916; 2017 - 2016 / 2016,%</th>
                    <th rowspan="2">2018 план</th>
                </tr>
                <tr>
                    <th>план</th>
                    <th>факт</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>22,6</td>
                    <td>23,6</td>
                    <td>29,6</td>
                    <td>27,4</td>
                    <td>16,6*</td>
                    <td>28,4</td>
                </tr>
            </tbody>
        </table>

        <hr>

        <small class="colorFt">Показатели динамики, приведенные в таблицах, могут отличаться от аналогичных показателей, рассчитанных по данным в Отчете, из-за округления показателей.<br>* В связи с активной фазой строительства или стадии разворота работ на площадках Белорусской 
            <span class="block">
                <span class="hover">АЭС</span>
                <span class="hidden">атомная электростанция</span>
            </span>, 
            <span class="block">
                <span class="hover">АЭС</span>
                <span class="hidden">атомная электростанция</span>
            </span> «Куданкулам» (Индия) 
        <span class="block">
            <span class="hover">э/б</span>
            <span class="hidden">энергоблок</span>
        </span> 
        № 3, 4,  
        <span class="block">
            <span class="hover">АЭС</span>
            <span class="hidden">атомная электростанция</span>
        </span> «Эль Дабаа» (Египет), 
        <span class="block">
            <span class="hover">АЭС</span>
            <span class="hidden">атомная электростанция</span>
        </span>» Руппур» (Бангладеш).</small>

    <br><br><small>Таблица 17. Управленческие расходы, млрд руб.</small>
    <table class="table table-borderless table-responsive-sm textCenter">
        <thead>
            <tr>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
                <th rowspan="2">&#916; 2017 - 2016 / 2016,%</th>
                <th rowspan="2">2018 план</th>
            </tr>
            <tr>
                <th>план</th>
                <th>факт</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>7,4</td>
                <td>8,1</td>
                <td>9,3</td>
                <td>8,6*</td>
                <td>5,4**</td>
                <td>9,3***</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <small class="colorFt">Показатели динамики, приведенные в таблицах, могут отличаться от аналогичных показателей, рассчитанных по данным в Отчете, из-за округления показателей.<br>* Снижение  текущих затрат (командировки, консультационные, реклама и маркетинг, затраты на персонал, налоги и пр.)</small>
    <br><small class="colorFt">** Увеличение численности персонала в связи с созданием новых  направлений деятельности (
        <span class="block">
            <span class="hover">«Цифровая экономика».</span>
            <span class="hidden">
                Экономика, основанная на новых методах генерирования, сбора, обработки, хранения, анализа и передачи данных, а также новых цифровых технологиях:
                    <br>&ndash; робототехника,
                    <br>&ndash; кибер-физические системы,
                    <br>&ndash; индустриальный интернет вещей,
                    <br>&ndash; сети связи пятого поколения,
                    <br>&ndash; аддитивные технологии,
                    <br>&ndash; когнитивные технологии,
                    <br>&ndash; искусственный интеллект,
                    <br>&ndash; машинное обучение,
                    <br>&ndash; Big Data,
                    <br>&ndash; блокчейн,
                    <br>&ndash; многоагентные системы и пр.
            </span>
        </span>
        и др.).</small>
    <br><small class="colorFt">*** В связи с изменениями в декомпозиции стратегических задач изменился предмет контроля административных расходов. В административных расходах учитываются расходы всех организаций в контуре управления.</small>

    <br><br><small>Таблица 18. Коммерческие расходы, млрд руб.</small>
    <table class="table table-borderless table-responsive-sm textCenter">
        <thead>
            <tr>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
                <th rowspan="2">&#916; 2017 - 2016 / 2016,%</th>
                <th rowspan="2">2018 план</th>
            </tr>
            <tr>
                <th>план</th>
                <th>факт</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2,8</td>
                <td>3,0</td>
                <td>4,0</td>
                <td>4,0</td>
                <td>30,0*</td>
                <td>6,9</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <small class="colorFt">Показатели динамики, приведенные в таблицах, могут отличаться от аналогичных показателей, рассчитанных по данным в Отчете, из-за округления показателей.<br>* Рост объемов 2017 года связан с увеличением реализации оборудования.</small>
    

    <br><br><small>Таблица 19. Валовая прибыль, млрд руб.*</small>
    <table class="table table-borderless table-responsive-sm textCenter">
        <thead>
            <tr>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
                <th rowspan="2">&#916; 2017 - 2016 / 2016,%</th>
                <th rowspan="2">2018 план</th>
            </tr>
            <tr>
                <th>план</th>
                <th>факт</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>21,1</td>
                <td>20,0</td>
                <td>19,4</td>
                <td>21,6</td>
                <td>7,5*</td>
                <td>27,2</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <small class="colorFt">Показатели динамики, приведенные в таблицах, могут отличаться от аналогичных показателей, рассчитанных по данным в Отчете, из-за округления показателей.<br>* Экономия по себестоимости - снижение расходов по субпорядным организациям.</small>
    
    <br><br><small>Таблица 20. Чистая прибыль, млн руб.</small>
    <table class="table table-borderless table-responsive-sm textCenter">
        <thead>
            <tr>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
                <th rowspan="2">&#916; 2017 - 2016 / 2016,%</th>
                <th rowspan="2">2018 план*</th>
            </tr>
            <tr>
                <th>план</th>
                <th>факт</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>-23,2</td>
                <td>4 892,2</td>
                <td>3 081,7</td>
                <td>5 586,9</td>
                <td>14,2</td>
                <td>3 449</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <small class="colorFt">Показатели динамики, приведенные в таблицах, могут отличаться от аналогичных показателей, рассчитанных по данным в Отчете, из-за округления показателей.<br>* Прибыль 2018 года показана без учета  обесценивания акций  по АО «НИКИМТ-Атомстрой» (обесценивание финансовых вложений в связи с передачей  объектов АО «Северские теплосети»).</small>

    <br><br><small>Таблица 21. Производительность труда (по собственному доходу), млн руб./чел.</small>
    <table class="table table-borderless table-responsive-sm textCenter">
        <thead>
            <tr>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
                <th rowspan="2">&#916; 2017 - 2016 / 2016,%</th>
                <th rowspan="2">2018 план</th>
            </tr>
            <tr>
                <th>план</th>
                <th>факт</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>3,05</td>
                <td>3,3</td>
                <td>3,7</td>
                <td>3,73</td>
                <td>12,9*</td>
                <td>4,35</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <small class="colorFt">Показатели динамики, приведенные в таблицах, могут отличаться от аналогичных показателей, рассчитанных по данным в Отчете, из-за округления показателей.<br>* Рост производительности труда обусловлен реализацией 
    <span class="block">
        <span class="hover">ПСР</span>
        <span class="hidden">Производственная система «Росатом»</span>
    </span>
    -проектов и внедрением передовых технологий сооружения и управления проектами, а также ростом объема работ, выполненных собственными силами.</small>
  
    <div id="under" class="mt-5"><strong>2.1.2. Управление финансовым капиталом</strong></div>

    <br><br><small>Таблица 22. Управление стоимостью</small>
    <table class="table table-borderless table-responsive">
        <thead>
            <tr>
                <th></th>
                <th>
                    На российских проектах
                    <br><strong>Автоматизированная система управления стоимостью (АСУС)</strong>
                </th>
                <th>
                    На зарубежных проектах
                    <br><strong>Программный комплекс Информационная система управления ресурсами (ИСУР)</strong>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Функциональные возможности</td>
                <td>
                    <ul class="ulTable">
                        <li>Оценка прогнозной стоимости строительства по годам сооружения.</li> 
                        <li>Формирование лимитной стоимости до уровня <span class="block">
	<span class="hover">ЛСР</span>
	<span class="hidden">лимит самостоятельной работы</span>
</span>/ОСР.</li> 
                        <li>Формирование начальных (максимальных) цен с учетом лимитов.</li> 
                        <li>Аккумулирование фактических расходов на проекте по структуре затрат.</li> 
                        <li>Контроль исполнения лимитов в процессе строительства.</li> 
                        <li>Выполнение прогнозов стоимости сооружения для различных сценариев макроэкономических показателей.</li> 
                        <li>Формирование управленческой отчетности.</li> 
                    </ul>
                </td>
                <td>
                    <ul class="ulTable">
                        <li>Ведение учета полной стоимости строительства с учетом специфики зарубежных контрактов.</li>
                        <li>Осуществление учета стоимости в нескольких валютах (поддержка мультивалютности).</li> 
                        <li>Обеспечение внесения лимитов стоимости по статьям затрат в необходимой детализации.</li>
                        <li>Ведение базы данных заключенных субподрядных договоров с необходимой детализацией для осуществления управленческого учета и связи с позициями контракта.</li>
                        <li>
                            Накопление фактических расходов по проекту по структуре затрат <span class="block">
	<span class="hover">СФР </span>
	<span class="hidden">сметно-финансовый расчет</span>
</span>
.
                        </li> 
                        <li>Контроль и анализ исполнения лимитов по факту строительства.</li>
                        <li>Формирование управленческой отчетности.</li>
                        <li>Обеспечение разграничения доступа к данным на основе матрицы ролей.</li> 
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Доступность</td>
                <td colspan="2">Инвестору, 
                <span class="block">
                    <span class="hover">заказчику </span>
                    <span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
                </span>
                и генподрядчику в режиме реального времени.</td>
            </tr>
            <tr>
                <td>Функционирует на проектах</td>
                <td>
                    Ростовская 
                    <span class="block">
                        <span class="hover">АЭС</span>
                        <span class="hidden">атомная электростанция</span>
                    </span>, Курская 
                    <span class="block">
                        <span class="hover">АЭС</span>
                        <span class="hidden">атомная электростанция</span>
                    </span>-2, Белорусская 
                    <span class="block">
                        <span class="hover">АЭС</span>
                        <span class="hidden">атомная электростанция</span>
                    </span> (в ограниченном объеме), Нововоронежская 
                    <span class="block">
                        <span class="hover">АЭС</span>
                        <span class="hidden">атомная электростанция</span>
                    </span>-2
                </td>
                <td>Прошла стадию опытно-промышленной эксплуатации,  переведена в промышленную.</td>
            </tr>
            <tr>
                <td>Результаты применения в 2017 году</td>
                <td>
                    <ul class="ulTable">
                        На 
                        <span class="block">
                            <span class="hover">э/б</span>
                            <span class="hidden">энергоблок</span>
                        </span> 
                        № 2 Нововоронежской 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>-2:
                        <li class="mt-4">реализована на действующей архитектуре платформы 1С, введена в опытно-промышленную эксплуатацию;</li>
                        <li>рассчитан прогноз стоимости до завершения строительства.</li>
                        <br><br>Заключены дополнительные соглашения к договорам генерального подряда по проектам сооружения Курской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>-2, Нововоронежской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>-2 о совместном использовании АСУС как дополнительного инструмента при формировании прогноза стоимости 
<span class="block">
	<span class="hover">сооружения АЭС</span>
	<span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
</span>.
                        <br><br>Подготовлены справки о прогнозе стоимости сооружения <span class="block">
	<span class="hover">э/б </span>
	<span class="hidden">энергоблок</span>
</span>№ 1, 2 Курской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>-2, <span class="block">
	<span class="hover">э/б </span>
	<span class="hidden">энергоблок</span>
</span>№ 2 Нововоронежской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>-2.
                    </ul>
                </td>
                <td>Разработаны основные функциональные требования к автоматизации методологии управления стоимостью объектов, сооружаемых в РФ и за рубежом.</td>
            </tr>
            <tr>
                <td>Планы на 2018 год</td>
                <td>Перевод в промышленную эксплуатацию совместно с модулем тематического планирования и формирования актов по форме КС-2.</td>
                <td>Подготовка детальных технических и методологических требований для дальнейшей реализации функциональности в SAP S/4 HANA.</td>
            </tr>
        </tbody>
    </table>
    
    <div class="row mt-2">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h5 class="mt-2"><strong>Программа TCM NC</strong></h5>

            <p class="mt-4">В 2017 году в Госкорпорации «Росатом» стартовала программа по созданию и внедрению системы комплексного управления сроками и стоимостью сооружения объектов использования атомной энергии (Total Cost Management Nuclear Construction, TCM NC) . Главная цель Программы – сократить сроки и стоимость 
                    <span class="block">
                        <span class="hover">сооружения АЭС</span>
                        <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                    </span> для сохранения лидерства Госкорпорации «Росатом» в мировой атомной отрасли.
                </p>    
            
            <h5 class="mt-2"><strong>Реализация Программы позволит:</strong></h5>
            
            <ul class="mt-4">
                <li>на 20 % сократить сроки разработки проектно-сметной документации;</li>
                <li>на 50 % уменьшить риски внесения изменений в проект;</li>
                <li>на 20 % уменьшить время планирования строительных работ;</li>
                <li>на 20 % сократить стоимость подготовки и ведения строительства.</li>
            </ul>

            <p class="mt-4">Ключевые участники Программы TCM NC – Отраслевой центр капитального строительства, Проектный офис «Продукт АЭС», <span class="block">
	<span class="hover">Инжиниринговый</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизион, АО «Русатом Оверсиз», АО «Гринатом».</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-0"></div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h4 class="titlePage mt-2">Инвестиционная деятельность</h4>
            
            <p class="mt-4">Инвестиционный портфель Дивизиона состоит из проектов, цель которых – поддержка основной деятельности Дивизиона по реализации программ проектирования и сооружения объектов в рамках участия в инвестиционно-строительных проектах Госкорпорации «Росатом».</p>

            <h5 class="mt-4"><strong>Система управления инвестициями и принятия инвестиционных решений</strong></h5>

            <p class="mt-4">Основные параметры инвестиционной программы <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона определяются решениями Инвестиционного комитета Госкорпорации «Росатом». Инвестиционный комитет – коллегиальный орган, реализующий принципы единой отраслевой инвестиционной политики Госкорпорации «Росатом» и ее организаций в рамках делегированных вышестоящей организацией полномочий.</p>

            <h5 class="mt-4"><strong>Основные результаты по совершенствованию инвестиционной деятельности в 2017 году:</strong></h5>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-0"></div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">

            <ul class="mt-4">
                <li class="mt-4">внедрена единая отраслевая система управления проектами, что повысило эффективность бизнес-процесса инвестиционной деятельности;</li>
                <li class="mt-4">в рамках инвестиционного планирования на 2018 год осуществлен технико-экономический анализ инвестиционных заявок подразделений Дивизиона, по результатам которого инвестиционная программа оптимизирована на 759 млн рублей без изменения сроков и целей проектов;</li>
                <li class="mt-4">в рамках текущей деятельности с учетом проведения технико-экономического анализа корректировок инвестиционного бюджета проектов на 204 млн рублей оптимизирована сумма расходов;</li>
                <li class="mt-4">выполнены требуемые ключевые показатели портфеля;</li>
                <li class="mt-4">в карты <span class="block">
	<span class="hover">КПЭ</span>
	<span class="hidden">ключевой показатель эффективности</span>
</span> руководителей инвестиционных проектов включены индивидуальные показатели;</li>
                <li class="mt-4">на основе отраслевых стандартов адаптирована методика проведения технико-экономического анализа с целью дальнейшей оптимизации инвестиционных расходов;</li>
                <li class="mt-4">автоматизирован процесс принятия инвестиционных решений при корректировках инвестиционных бюджетов организаций Дивизиона посредством использования специализированной внутренней информационной системы управления бизнес-процессами;</li>
                <li class="mt-4">организована работа по докапитализации дочерних обществ и организаций Дивизиона в соответствии с прогнозами их финансовых результатов.</li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <p class="headerPage blockLineLeftTxt mt-4"><span class="block">
	<span class="hover">КПЭ</span>
	<span class="hidden">ключевой показатель эффективности</span>
</span> инвестиционной деятельности Дивизиона за 2017 год равен 98,9 %</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h5 class="mt-4"><strong>Планы по управлению инвестиционной деятельностью на 2018 год и среднесрочную перспективу:</strong></h5>
            
            <ul class="mt-4">
                <li class="mt-4">разработка принципов мотивации для организаций АО ИК «АСЭ» в целях выявления и реализации инвестиционных проектов новых направлений бизнеса <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона;</li>
                <li class="mt-4">разработка внутреннего стандарта управления рисками инвестиционных проектов АО ИК «АСЭ»;</li>
                <li class="mt-4">формирование коллегиального органа для реализации экспертной функции при проведении технико-экономического анализа инвестиционных расходов;</li>
                <li class="mt-4">развитие института технико-экономического анализа, в том числе формирование команды отраслевых экспертов, организация системы <span class="block">
	<span class="hover">КПЭ</span>
	<span class="hidden">ключевой показатель эффективности</span>
</span>, регулярного обучения для инициаторов инвестиций;</li>
                <li class="mt-4">развитие компетенций по структурированию сделок M&A (слияние/поглощение), в том числе выпуск Положения/Порядка работы Дивизиона с данными сделками;</li>
                <li class="mt-4">разработка методологии работы с инвестициями с учетом их финансирования из внешних источников.</li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="headerPage margFtNote mt-4">
                <div class="blockLineLeftTxt">
                    <p>За пределами Российской Федерации АО ИК «АСЭ» реализует инвестиционные проекты, в рамках которых предполагается поставка оборудования на территорию строительства, создание и развитие инфраструктуры представительств, филиалов и жилых поселков для строительства <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Аккую» (Турция), <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Бушер-2» (Иран), <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Руппур» (Бангладеш), Белорусской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="pieFinCap" style="width: 100%; height: 400px;" class="revealator-slideup revealator-once"></div>

    <br><br><small>Таблица 23. Общий объем инвестиций 
    <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span> 
    дивизиона, млрд руб.</small>
    <table class="table table-borderless table-responsive-sm textCenter">
        <thead>
            <tr>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
                <th rowspan="2">&#916; 2017 / 2016,%</th>
                <th rowspan="2">2018 план</th>
            </tr>
            <tr>
                <th>план</th>
                <th>факт</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1,5</td>
                <td>1,5</td>
                <td>6,7</td>
                <td>2,7</td>
                <td>184*</td>
                <td>20,7**</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <small class="colorFt">* За счет средств консолидированного инвестиционного ресурса Госкорпорации «Росатом».</small>
    <br><small class="colorFt">** План 2018 года рассчитан с учетом переходящих (нереализованных) инвестиций с 2017 года в объеме 9 974 млн рублей. С привлечением внешнего источника финансирования. <br>Показатели динамики, приведенные в таблицах и на графике, могут отличаться от аналогичных показателей, рассчитанных по данным в Отчете, из-за округления показателей.</small>
 
    <br><br><small>Таблица 24. Объем инвестиций в разбивке по организациям, млн руб.</small>
    <table class="table table-borderless table-responsive-sm textCenter">
        <thead>
            <tr>
                <th rowspan="2">Организация</th>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
                <th rowspan="2">&#916; 2017 / 2016,%</th>
                <th rowspan="2">2018 план</th>
            </tr>
            <tr>
                <th>план</th>
                <th>факт</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>АО АСЭ</td>
                <td>118,15</td>
                <td>118,78</td>
                <td>6 028,36</td>
                <td>580,23</td>
                <td>389</td>
                <td>16 198,61</td>
            </tr>
            <tr>
                <td>АО ИК «АСЭ»</td>
                <td>887,91</td>
                <td>701,14</td>
                <td>2 529,05</td>
                <td>1 654,05</td>
                <td>136</td>
                <td>3 137,08</td>
            </tr>
            <tr>
                <td>АО «Атомэнергопроект»</td>
                <td>151,34</td>
                <td>302,76</td>
                <td>347,29</td>
                <td>277,5</td>
                <td>82</td>
                <td>423,37</td>
            </tr>
            <tr>
                <td>АО «АТОМПРОЕКТ»</td>
                <td>231,48</td>
                <td>269,88</td>
                <td>169,51</td>
                <td>83,01</td>
                <td>21</td>
                <td>419,94</td>
            </tr>
            <tr>
                <td>NUKEM (в т.ч. Nukem)</td>
                <td>5,17</td>
                <td>7,63</td>
                <td>17,59</td>
                <td>1,70</td>
                <td>12</td>
                <td>28,01</td>
            </tr>
            <tr>
                <td>АО «НИКИМТ-Атомстрой»</td>
                <td>133,05</td>
                <td>59,82</td>
                <td>114,72</td>
                <td>92,68</td>
                <td>55</td>
                <td>514,69</td>
            </tr>
            <tr>
                <td>ООО «Трест РосСЭМ»</td>
                <td>13,49</td>
                <td>5,37</td>
                <td>14,78</td>
                <td>13,70</td>
                <td>155</td>
                <td>6,07</td>
            </tr>
            <tr>
                <td>ПАО «Энергоспецмонтаж»</td>
                <td>4,07</td>
                <td>3,70</td>
                <td>9,95</td>
                <td>9,83</td>
                <td>166</td>
                <td>9,44</td>
            </tr>
            <tr class="rowBold">
                <td>Объединенная компания</td>
                <td>1 313,18</td>
                <td>1 469,09</td>
                <td>6 702,20</td>
                <td>2 712,70</td>
                <td>85</td>
                <td>20 737,20</td>
            </tr>
            <tr class="rowBold">
                <td>Общий объем инвестиций</td>
                <td>1 544,65</td>
                <td>1 469,09</td>
                <td>6 702,20</td>
                <td>2 712,70</td>
                <td>85</td>
                <td>20 737,20</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <small class="colorFt">Показатели динамики, приведенные в таблицах, могут отличаться от аналогичных показателей, рассчитанных по данным в Отчете, из-за округления показателей.</small>

    <br><br><small>Таблица 25. Инвестиционные проекты</small>
    <table class="table table-borderless table-responsive">
        <thead>
            <tr>
                <th>Группы проектов</th>
                <th>Работы в 2017 году</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Механизация строительных площадок для выполнения 
                    <span class="block">
                        <span class="hover">СМР</span>
                        <span class="hidden">строительно-монтажные работы</span>
                    </span>
                </td>
                <td>
                    Основная часть инвестиций направлена на оснащение площадок сооружения Белорусской <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>(приобретение строительной техники и оснастки для основного этапа сооружения), Курской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>-2 (приобретение техники и механизмов для подготовительного этапа 
<span class="block">
	<span class="hover">сооружения АЭС</span>
	<span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
</span>) и <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Руппур» (Бангладеш).

                    <br><br>В размере 1 162 млн руб. профинансирована поставка ключевого для сооружения указанных объектов оборудования, в том числе:
                    <br><br>1) Курская<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>-2 – законтрактовано и началась поставка пяти Башенных кранов, Комплекта технологического оборудования автоматизированного склада цемента, Модульного полуприцепа Goldhofer THP/SL (6+6) с тягачом MAN, Комплекта оборудования для обеспечения технологического процесса по изготовлению металлоконструкций блоков;
                    <br><br>2) <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Руппур» – в рамках реализации проекта «Механизация строительной площадки в Бангладеш для выполнения СМР основного периода сооружения» осуществлялась подготовка закупочной документации для проведения конкурсов на поставку оборудования, необходимого для 
<span class="block">
	<span class="hover">сооружения АЭС</span>
	<span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
</span>. Также заключен договор на поставку гусеничного крана и выплачен аванс в объеме 30 % от цены договора (279 млн руб.)
                </td>
            </tr>
            <tr>
                <td>ИТ-проекты</td>
                <td>
                    Ведется работа по модернизации IT-инфраструктуры (включая телекоммуникацию), потребность в которой диктует растущее число проектов сооружения, большинство из которых – зарубежные.
                    <br>Продолжается тиражирование информационных система на площадках 
                    <span class="block">
                        <span class="hover">сооружения АЭС</span>
                        <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                    </span> по новым проектам (в рамках типового Единого информационного пространства).
                    
                    <br><br><strong>Начаты работы по созданию национальной платформы Multi-D:</strong>
                    <ul class="ulTable mt-4">
                        <li class="mt-2">создание системы управления процессами эксплуатации <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>(подсистема Multi-D Operation);</li>
                        <li class="mt-2">создание системы управления информацией по проектам для обеспечения требований инозаказчиков к IMS.</li>
                    </ul>

                    <br>Разработана информационная система «Электронная Обея» на базе ПО ENOVIA, входящего в состав платформы 3DEXPERIENCE, функционал которой повышает эффективность сбора, подготовки и управления статус-отчетами, отчетными материалами, а также процессами корпоративной отчетности. Данное решение направлено на поддержку принятия решений для топ-менеджмента.    
                    <br><br>Реализуется инвестиционный проект «Тиражирование корпоративных ERP-систем в дивизионе «<span class="block">
	<span class="hover">Инжиниринг</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> и сооружение», цель которого – создание единого достоверного корпоративного источника информации Дивизиона и сооружение для панели управления генерального директора Госкорпорации «Росатом». В 2017 году введен в промышленную эксплуатацию прототип системы управления капитальным строительством (ИСУП КС) на платформе SAP S/4HANA.
                </td>
            </tr>
            <tr>
                <td>НИОКР</td>
                <td>
                    Проведена работа по подготовке к аттестации в Ростехнадзоре программных средств TDMCC и КОРТЕС, необходимых для расчетного обоснования безопасности 
                    <span class="block">
                        <span class="hover">сооружаемых АЭС</span>
                        <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                    </span>.
                    <br>Патентование/регистрация результатов интеллектуальной деятельности (изобретений) осуществляется в РФ и за рубежом. Всего планируется осуществить патентную защиту в 34 странах мира.
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script src="/js/echarts.min.js"></script>
    <script src="/js/pieFinCap.js"></script>

    <script src="/js/fm.revealator.jquery.min.js"></script>
{% endblock %}