{% extends "ru/templates/page.html" %}

{% block link %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Содержание /</small></a></li>
    <li class="active"><small><strong> Глоссарий</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/glossary_change.jpg);
    background-position-y: 40%;
{% endblock %}

{% block  titleText %}
    Глоссарий
{% endblock %}

{% block  subtitleText %}
{% endblock %}

{% block content %}
 
    <br>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <strong>Box-models</strong> &ndash; Упрощенные 3D-модели
            <br><br>
            <strong>ЕРС-компании (EPC-контрактор) (ЕРС-engineering, procurement, construction)</strong> &ndash; Компании, реализующие проект «под ключ». Функционал EPC-компании включает проектирование, поставки и строительство
            <br><br>
            <strong>EPCM-компании  (EPCM – Engineering, Procurement, Construction, Management)</strong> &ndash; Компании, применяющие методы и средства портфельного управления проектами «под ключ». Функционал EPCM- компании включает проектирование, поставки, строительство и управление проектом
            <br><br>
            <strong>ISO</strong> &ndash; Серия международных стандартов по системе организации управления компанией, призванной обеспечивать предсказуемый и стабильный уровень качества услуг
            <br><br>
            <strong>LCOE (Levelized Cost of Electricity)</strong> &ndash; Приведенная стоимость электроэнергии [кВт*ч] на всем жизненном цикле и выражается в денежной единице за производство 1 кВт*час. 
            <br>Определяется как величина платы за электроэнергию путем суммирования всех расходов (капитальные вложения, операционные затраты, в т.ч. затраты на топливо, затраты обращения с ОЯТ и РАО, расходы на персонал, затраты на ремонты, оплата услуг сторонних организаций, страхование и налоги, отчисления на ВЭ АЭС и прочие затраты)на всем жизненном цикле станции  (с учетом фактора временной ценности денег) и соотнесенных к (проектной или фактической) мощности АЭС.
            <br><br>
            <strong>LEAN</strong> &ndash; Концепция управления производственным предприятием, основанная на постоянном стремлении к устранению всех видов потерь. Бережливое производство предполагает вовлечение в процесс оптимизации бизнеса каждого сотрудника.
            <br><br>
            <strong>Rapid Foresight</strong> &ndash; Технология, которая позволяет кругу лиц, которые участвуют в форсайте, договориться по поводу образа будущего, своих действий по поводу этого будущего, и своего желаемого будущего. Основа методики: совместная работа участников на карте времени; работа не с текстами, а с образами и схемами
            <br><br>
            <strong>Smart Grid</strong> &ndash; Модернизированные сети электроснабжения, которые используют информационные и коммуникационные сети и технологии для сбора информации об энергопроизводстве и энергопотреблении, позволяющей автоматически повышать эффективность, надёжность, экономическую выгоду, а также устойчивость производства и распределения электроэнергии.
            <br><br>
            <strong>Worldskills</strong> &ndash; Международное некоммерческое движение, целью которого является повышение престижа рабочих профессий и развитие профессионального образования путем гармонизации лучших практик и профессиональных стандартов во всем мире посредством организации и проведения конкурсов профессионального мастерства.
            <br><br>
            <strong>Бизнес «Оборудование»</strong> &ndash; Экономическая деятельность Дивизиона, направленная на получение прибыли от поставок оборудования для сооружения атомных электрических станций.
            <br><br>
            <strong>VVER.1000</strong> &ndash; Проект АЭС повышенной безопасности, созданный с учетом отечественного опыта строительства и эксплуатации предыдущего образца реакторной установки (В-320) на Запорожской, Балаковской, Южно-Украинской и Калининской АЭС и последних мировых достижений в области проектирования и эксплуатации АЭС. По международной классификации VVER.1000 относится к атомным станциям III поколения. При разработке проекта атомной электро-станции проектировщики ориентировались на максимальное снижение роли человеческого фактора. Реализация такой концепции осуществлялась по двум направлениям. Во-первых, в проект включены пассивные системы безопасности. Под этим термином понимаются системы, работающие практически без подвода энергии извне и не требующие вмешательства оператора. Во-вторых, принята концепция двойного назначения активных систем безопасности, что значительно уменьшает вероятность необнаруженных отказов. Для предотвращения неуправляемой цепной реакции в реакторе используются специальные регулирующие стержни из нейтронопоглощающих материалов, ввод которых в активную зону приводит к немедленному гашению ядерной реакции.
            <br><br>
            <strong>VVER.1200Е</strong> &ndash; Самый современный типовой проект российской атомной станции нового поколения «3+» с улучшенными технико-экономическими показателями. Цель проекта – достижение современных показателей безопасности и надежности при оптимизированных капитальных вложениях на сооружение станции. Предполагается использование реактора VVER с мощностью не менее 1150 МВт (и возможностью форсирования до 1200 МВт). По утвержденному техническому заданию разработаны проекты двух атомных электростанций: Нововоронежской АЭС-2 (генеральный проектировщик – АО «Атомэнергопроект», Москва) и Ленинградской АЭС-2 (генеральный проектировщик – ОАО «Санкт-Петербургский научно-исследовательский и проектно-конструкторский институт «Атомэнергопроект»).
            <br><br>
            <strong>БН-800</strong> &ndash; Реактор на быстрых нейтронах с натриевым теплоносителем, на котором будет производиться окончательная отработка технологии реакторов на быстрых нейтронах с использованием уран-плутониевого мокс-топлива. Электрическая мощность – 880 МВт.
            <br><br>
            <strong>Бэкэнд</strong> &ndash; Заключительная стадия жизненного цикла объектов и материалов использования атомной энергии.
            <br><br>
            <strong>VVER.1300TOI</strong> &ndash; Типовой оптимизированный и информатизированный проект двухблочной АЭС с реактором VVER.1300 (водо-водяной энергетический реактор). Разработка проекта VVER-ТОИ выполняется на базе проектных материалов VVER.1200Е с максимальным учетом опыта, полученного отраслевыми организациями при проектировании АЭС, основанных на технологии VVER (Нововоронежская АЭС-2).
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <strong>Генеральный подрядчик</strong> &ndash; Сторона договора подряда, которая поручает по договору выполнение отдельных видов и комплексов работ специализированным подрядным организациям – субподрядчикам. Генеральный подрядчик полностью отвечает перед заказчиком за осуществление комплекса подрядных работ и их надлежащее качество, своевременное устранение дефектов и недоделок и т.д.
            <br><br>
            <strong>Заказчик (застройщик)</strong> &ndash; Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.
            <br><br>
            <strong>Затраты на ООС (охрана окружающей среды)</strong> &ndash; Сумма расходов предприятий (организаций, учреждений), индивидуальных предпринимателей, государства (бюджетов РФ, субъектов Российской Федерации, муниципальных образований), имеющих целевое природоохранное назначение (сбор, очистка, уменьшение, предотвращение или устранение загрязняющих веществ, загрязнения как такового или любых других видов и элементов деградации окружающей среды, которые, в свою очередь, являются следствием предпринимательской активности), осуществляемых за счет всех источников финансирования.
            <br><br>
            <strong>Инжиниринг</strong> &ndash; Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.
            <br><br>
            <strong>Комната Обея (Obeya или Oobeya)</strong> &ndash; В переводе с японского языке означает просто «Большая комната или Большой конференц-зал», где происходит координация работы и принятие решений. Комната Обея является гуманистическим подходом к разработке новой продукции.
            <br><br>
            <strong>Местное население</strong> &ndash; Население, адрес постоянной регистрации которого находится в регионе деятельности Компании (например, для Ростовского региона местным считается население, проживающее в Ростовской области). Для зарубежных подразделений под регионом понимается страна.
            <br><br>
            <strong>Местный поставщик</strong> &ndash; Поставщик, зарегистрированный в регионе размещения объекта.
            <br><br>
            <strong>Модель International Project Management Association (IPMA Delta)</strong> &ndash; Повышение эффективности проектной деятельности предприятия, осуществляемой в соответствии с лучшими международными практиками в сфере управления проектами. Подтверждение компетентности организации в управлении проектами на международном уровне.
            <br><br>
            <strong>Модель Plan-Do-Check-Act (планирование-действие-проверка-корректировка)</strong> &ndash; Циклически повторяющийся процесс принятия решения, используемый в управлении качеством.
            <br><br>
            <strong>Проектная документация</strong> &ndash; Документация, содержащая материалы в текстовой форме и в виде карт (схем) и определяющая архитектурные, функционально-технологические, конструктивные и инженерно-технические решения для обеспечения строительства, реконструкции объектов капитального строительства, их частей, капитального ремонта, если при его проведении затрагиваются конструктивные и другие характеристики надежности и безопасности объектов капитального строительства.
            <br><br>
            <strong>Проектно-изыскательские работы</strong> &ndash; экономических обоснований строительства, подготовке проектов, рабочей доку-ментации, составлению сметной документации для осуществления строительства (нового строительства, расширения, реконструкции, технического перевооружения) объектов, зданий, сооружений.
            <br><br>
            <strong>Рабочая документация</strong> &ndash; Документация, разработанная на основании утвержденной проектной документации и предназначенная для проведения строительных работ.
            <br><br>
            <strong>Радиоактивные вещества</strong> &ndash; Вещества, которые имеют в своем составе радиоактивные нуклиды.
            <br><br>
            <strong>Сооружение</strong> &ndash; Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.
            <br><br>
            <strong>Цифровая экономика</strong> &ndash;  
                Экономика, основанная на новых методах генерирования, сбора, обработки, хранения, анализа и передачи данных, а также новых цифровых технологиях:
                <ul>
                    <li>робототехника,</li>
                    <li>кибер-физические системы,</li>
                    <li>индустриальный интернет вещей,</li>
                    <li>сети связи пятого поколения, </li>
                    <li>аддитивные технологии,</li>
                    <li>когнитивные технологии,</li>
                    <li>искусственный интеллект,</li>
                    <li>машинное обучение,</li>
                    <li>Big Data,</li>
                    <li>блокчейн,</li>
                    <li>многоагентные системы и пр.</li>
                </ul>
            <br>
            <strong>Экологическая безопасность</strong> &ndash; Состояние защищенности природной среды и жизненно важных интересов человека от возможного негативного воздействия хозяйственной и иной деятельности, чрезвычайных ситуаций природного и техногенного характера, их последствий.
            <br><br>
            <strong>Энергоблок атомной электростанции (энергоблок)</strong> &ndash; Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.
        </div>
    </div>

{% endblock %}