{% extends "ru/templates/page.html" %} {% block breadcrumb %}
<li><a href="/content"><small>Содержание /</small></a></li>
<li class="active">
    <small>
        <strong>Указатель содержания GRI</strong>
    </small>
</li>
    {% endblock %}

    {% block picture %}
    background-image: url(../img/chapters/gri.jpg);
    background-position-y: 72%;
    {% endblock %}

    {% block titleText%} Таблица раскрытия индикаторов GRI SRS и <br>таблица соответствия Стандарту <ИО> {% endblock %} {% block subtitleText %} {% endblock %} {% block
    content %}

    <small>Таблица 49. Раскрытие индикаторов GRI SRS</small>
    <table class="table table-borderless table-responsive margTable mb-5">
        <tr>
            <th>Стандарт GRI
            </th>
            <th>Наименование показателя
            </th>
            <th>Показатель
            </th>
            <th>Раздел
            </th>
            <th>Уровень раскрытия (Раскрыт полностью/ раскрыт частично/ не раскрыт)
            </th>
        </tr>
        <tr>
            <td rowspan="56">GRI 102 (2017) General Disclosures
            </td>
            <td>Наименование организации
            </td>
            <td>102-1
            </td>
            <td><a href="/about_company">О компании</a>
                <a href="/financial_capital">Финансовый капитал</a>
            </td>
            <td>Раскрыт полностью
            </td>
        </tr>
        <tr>
            <td>Главные бренды, продукты, услуги
            </td>
            <td>102-2
            </td>
            <td><a href="/about_company">О компании</a>
            </td>
            <td>Раскрыт полностью
            </td>
        </tr>
        <tr>
            <td>Расположение штаб-квартиры организации
            </td>
            <td>102-3
            </td>
            <td><a href="/about_company">О компании</a>
            </td>
            <td>Раскрыт полностью
            </td>
        </tr>
        <tr>
            <td>География операционной деятельности
            </td>
            <td>102-4
            </td>
            <td><a href="/about_company">О компании</a>
            </td>
            <td>Раскрыт полностью
            </td>
        </tr>
        <tr>
            <td>Характер собственности и организационно-правовая форма
            </td>
            <td>102-5
            </td>
            <td><a href="/about_company">О компании</a>
            </td>
            <td>Раскрыт полностью
            </td>
        </tr>
        <tr>
            <td>Рынки, на которых работает организация
            </td>
            <td>102-6
            </td>
            <td><a href="/markets_of_presence">Рынки присутствия</a>
            </td>
            <td>Раскрыт полностью
            </td>
        </tr>
        <tr>
            <td>Масштаб организации
            </td>
            <td>102-7
            </td>
            <td><a href="/corporate_governance">Корпоративное управление</a>
                <a href="/financial_capital">Финансовый капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Информация о сотрудниках и других работниках
            </td>
            <td>102-8
            </td>
            <td><a href="/human_capital">Человеческий капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Цепочка поставок
            </td>
            <td>102-9
            </td>
            <td><a href="/business_model">Бизнес-модель</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Существенные изменения в границе организации и ее цепочке поставок
            </td>
            <td>102-10
            </td>
            <td><a href="/corporate_governance">Корпоративное управление</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Принцип предосторожности
            </td>
            <td>102-11
            </td>
            <td><a href="/natural_capital">Природный капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Инициативы, хартии и принципы, которые поддерживает организация
            </td>
            <td>102-12
            </td>
            <td><a href="/natural_capital">Природный капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Членство в ассоциациях
            </td>
            <td>102-13
            </td>
            <td><a href="/about_company">О компании</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Заявление самого старшего руководителя, принимающего решения в организации
            </td>
            <td>102-14
            </td>
            <td><a href="/president">Обращение президента</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Ключевые воздействия, риски, возможности
            </td>
            <td>102-15
            </td>
            <td><a href="/division_strategy">Стратегия Инжинирингового дивизиона и КПЭ ее реализации</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Ценности, принципы, стандарты и нормы поведения
            </td>
            <td>102-16
            </td>
            <td><a href="/about_company">О компании</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Механизмы сообщения о неэтичном или незаконном поведении
            </td>
            <td>102-17
            </td>
            <td><a href="/corporate_governance">Корпоративное управление</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Структура корпоративного управления
            </td>
            <td>102-18
            </td>
            <td><a href="/corporate_governance">Корпоративное управление</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Делегирование полномочий
            </td>
            <td>102-19
            </td>
            <td><a href="/corporate_governance">Корпоративное управление</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Ответственные исполнители по экономическим, экологическим и социальным вопросам
            </td>
            <td>102-20
            </td>
            <td><a href="/division_strategy">Стратегия Инжинирингового дивизиона и КПЭ ее реализации</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Консультирование заинтересованных сторон по вопросам экономики, окружающей среды и социальной сферы
            </td>
            <td>102-21
            </td>
            <td>
            </td>
            <td>Раскрыт полностью. <br>Специальные консультации между заинтересованными сторонами и СД по экономическим, экологическим и
                социальным вопросам не проводятся.
            </td>
        </tr>
        <tr>
            <td>Cостав высшего руководящего органа и его комитетов
            </td>
            <td>102-22
            </td>
            <td><a href="/corporate_governance">Корпоративное управление</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Председатель высшего руководящего органа
            </td>
            <td>102-23
            </td>
            <td><a href="/corporate_governance">Корпоративное управление</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Назначение и отбор высшего органа управления</td>
            <td>102-24</td>
            <td></td>
            <td>Раскрыт полностью. <br>В Совет директоров выдвигаются профессионалы, имеющие большой опыт работы в отрасли и глубоко понимающих специфику деятельности Компании.</td>
        </tr>
        <tr>
            <td>Конфликт интересов</td>
            <td>102-25</td>
            <td></td>
            <td>Раскрыт полностью. <br>В целях предотвращения конфликтов интересов и управления ими в АО ИК «АСЭ» утверждена Политика в области
                противодействия коррупции АО ИК «АСЭ». В отчетном году в АО ИК «АСЭ» не возникало конфликта интересов.
            </td>
        </tr>
        <tr>
            <td>Роль высшего органа управления в определении цели, ценностей и стратегии</td>
            <td>102-26</td>
            <td></td>
            <td>Раскрыт полностью. <br>В соответствии с Гражданским кодексом Российской Федерации и Уставом АО ИК «АСЭ», определение
                приоритетных направлений деятельности Общества относится к компетенции Совета директоров Общества.
                Данный орган управления принимает решения, обязательные для выполнения единоличным исполнительным
                органом – президентом Общества.
            </td>
        </tr>
        <tr>
            <td></td>
            <td>102-27</td>
            <td></td>
            <td>Раскрыт полностью. <br>Меры для выработки и повышения коллективного знания членов СД в связи с экономической, экологической и
                социальной проблематикой в АО ИК «АСЭ» не применяются.
            </td>
        </tr>
        <tr>
            <td>Оценка деятельности высшего руководящего органа</td>
            <td>102-28</td>
            <td></td>
            <td>Раскрыт полностью. <br>Оценка деятельности СД не проводится.</td>
        </tr>
        <tr>
            <td>Идентификация и управление экономическими, экологическими и социальными последствиями</td>
            <td>102-29</td>
            <td></td>
            <td>Раскрыт полностью. <br>Деятельность общего собрания акционеров и Совета директоров АО ИК «АСЭ» путем принятия соответствующих
                решений направлена на эффективное управление Обществом, ориентированное на высокую прибыльность бизнеса,
                минимизацию рисков и возможных негативных последствий в результате осуществления Обществом хозяйственной
                деятельности, в рамках соблюдения законодательства Российской Федерации, международных правовых норм,
                законодательства государств на территориях присутствия.
            </td>
        </tr>
        <tr>
            <td>Эффективность процессов управления рисками</td>
            <td>102-30</td>
            <td><a href="/division_strategy">Стратегия Инжинирингового дивизиона и КПЭ ее реализации</a>
            <td>Раскрыт полностью. <br>Совет директоров АО ИК «АСЭ» не участвует в процессе анализа эффективности используемых организацией
                методов управления рисками, связанными с экономическими, экологическими и социальными вопросами, и не
                анализирует экономические, экологические и социальные риски и возможности. Ответственность по этим
                вопросам закреплена за соответствующими структурными подразделениями.
            </td>
        </tr>
        <tr>
            <td>Обзор экономических, экологических и социальных тем</td>
            <td>102-31</td>
            <td><a href="/soc_rep_capital">Социально-репутационный капитал</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Роль высшего руководящего органа в отчетности об устойчивом развитии</td>
            <td>102-32</td>
            <td><a href="/info_about_report">Информация об отчёте</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Обсуждение критических проблем</td>
            <td>102-33</td>
            <td>Приложение 10</td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Сущность и общее количество критических проблем</td>
            <td>102-34</td>
            <td>Приложение 10</td>
            <td>Раскрыт полностью. <br>В соответствии с Федеральным законом «Об акционерных обществах» и Уставом АО ИК «АСЭ» высший орган
                управления – общее собрание акционеров АО ИК «АСЭ» принимает решения по вопросам в рамках своей
                компетенции.
            </td>
        </tr>
        <tr>
            <td>Политика в области вознаграждения</td>
            <td>102-35</td>
            <td></td>
            <td rowspan="3">
                Раскрыт полностью. <br>Решение о выплате вознаграждения членам Совета директоров принимается Общим собранием акционеров. По
                решению Общего собрания акционеров членам Совета директоров в период исполнения ими своих обязанностей
                может выплачиваться вознаграждение и/или компенсироваться расходы, связанные с исполнением ими функций
                членов СД. Размеры таких вознаграждений и компенсаций устанавливаются решением Общего собрания
                акционеров.
            </td>
        </tr>
        <tr>
            <td>Процесс определения вознаграждения</td>
            <td>102-36</td>
            <td></td>
        </tr>
        <tr>
            <td>Участие стейкхолдеров в определении политики вознаграждения</td>
            <td>102-37</td>
            <td>Приложение 12</td>
        </tr>
        <tr>
            <td>Годовой коэффициент компенсации</td>
            <td>102-38</td>
            <td>Приложение 12</td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Процентный рост годового коэффициента компенсации</td>
            <td>102-39</td>
            <td></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Список заинтересованных сторон, с которыми организация взаимодействует</td>
            <td>102-40</td>
            <td><a href="/soc_rep_capital">Социально-репутационный капитал</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Доля сотрудников, охваченных коллективным договором</td>
            <td>102-41</td>
            <td>Приложение 12</td>
            <td>Раскрыт полностью. <br>Коллективные договоры охватывают 100 % сотрудников АО ИК «АСЭ», АО «Атомэнергопроект» и АО «АТОМПРОЕКТ».
                В АО АСЭ отсутствует Коллективный договор, выплаты осуществляются в соответствии с приказом. Действие
                приказа распространяется на всех сотрудников.
            </td>
        </tr>
        <tr>
            <td>Принципы выявления и отбора заинтересованных сторон для взаимодействия</td>
            <td>102-42</td>
            <td><a href="/soc_rep_capital">Социально-репутационный капитал</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Подход организации к взаимодействию с заинтересованными сторонами</td>
            <td>102-43</td>
            <td><a href="/soc_rep_capital">Социально-репутационный капитал</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Ключевые темы и опасения, поднятые стейкхолдерами</td>
            <td>102-44</td>
            <td><a href="/soc_rep_capital">Социально-репутационный капитал</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Перечень юридических лиц, отчетность которых была включена в консолидированную финансовую отчетность</td>
            <td>102-45</td>
            <td><a href="/info_about_report">Информация об отчёте</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Определение содержания и границ Отчета
            </td>
            <td>102-46
            </td>
            <td><a href="/info_about_report">Информация об отчёте</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Список существенных тем
            </td>
            <td>102-47
            </td>
            <td><a href="/info_about_report">Информация об отчёте</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Переформулировки показателей
            </td>
            <td>102-48
            </td>
            <td>
            </td>
            <td>Раскрыт полностью. <br>Изменений в методике расчета показателей в отчетном году не было.
            </td>
        </tr>
        <tr>
            <td>Изменения в списке существенных тем и границах раскрытия тем.
            </td>
            <td>102-49
            </td>
            <td><a href="/info_about_report">Информация об отчёте</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Отчетный период
            </td>
            <td>102-50
            </td>
            <td><a href="/info_about_report">Информация об отчёте</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Дата публикации последнего отчета
            </td>
            <td>102-51
            </td>
            <td><a href="/info_about_report">Информация об отчёте</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Цикл отчетности
            </td>
            <td>102-52
            </td>
            <td><a href="/info_about_report">Информация об отчёте</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Контактная информация
            </td>
            <td>102-53
            </td>
            <td>Обложка отчета
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Вариант подготовки отчета «в соответствии» со стандартами GRI, выбранный организацией
            </td>
            <td>102-54
            </td>
            <td><a href="/info_about_report">Информация об отчёте</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Указатель содержания GRI
            </td>
            <td>102-55
            </td>
            <td><a href="/gri">Указатель содержания GRI</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Внешнее заверение
            </td>
            <td>102-56
            </td>
            <td><a href="/info_about_report">Информация об отчёте</a>
            </td>
            <td>Раскрыт полностью. <br>Выбор независимого нефинансового аудитора осуществляется в рамках открытой закупочной процедуры на основании приказа президента Компании о подготовке годового отчета.</td>
        </tr>
        <tr>
            <td rowspan="3">GRI 103: Management Approach (2016)
            </td>
            <td>Объяснение существенности темы и ее границы
            </td>
            <td>103-1
            </td>
            <td><a href=""></a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Подход к управлению и его компоненты
            </td>
            <td>103-2
            </td>
            <td><a href=""></a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Оценка подхода к управлению
            </td>
            <td>103-3
            </td>
            <td><a href=""></a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td colspan="5">Существенные темы GRI
            </td>
        </tr>
        <tr>
            <td rowspan="6">GRI 301: Materials
                <br>
                (2016)
            </td>
            <td>Объяснение существенности темы и ее границы
            </td>
            <td>103-1
            </td>
            <td><a href="/natural_capital">Природный капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Подход к управлению и его компоненты
            </td>
            <td>103-2
            </td>
            <td><a href="/natural_capital">Природный капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Оценка подхода к управлению
            </td>
            <td>103-3
            </td>
            <td><a href="/natural_capital">Природный капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Используемые материалы, по весу или объему
            </td>
            <td>301-1
            </td>
            <td><a href="/natural_capital">Природный капитал</a></td>
            <td>Показатель раскрыт частично, учет использования строительных материалов Инжиниринговым дивизионом не осуществляется и не планируется ввиду значительного числа подрядчиков и субподрядчиков.</td>
        </tr>
        <tr>
            <td>Используемые вторичные исходные материалы
            </td>
            <td>301-2
            </td>
            <td><a href=""></a></td>
            <td>Показатель не раскрывается в связи с отсутствием системы учета.</td>
        </tr>
        <tr>
            <td>Восстановленные продукты и их упаковочные материалы
            </td>
            <td>301-3
            </td>
            <td>
            </td>
            <td>Не применимо к деятельности Дивизиона
            </td>
        </tr>
        <tr>
            <td rowspan="8">GRI 306 Effluents and Waste (2016)
            </td>
            <td>Объяснение существенности темы и ее границы
            </td>
            <td>103-1
            </td>
            <td><a href="/natural_capital">Природный капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Подход к управлению и его компоненты
            </td>
            <td>103-2
            </td>
            <td><a href="/natural_capital">Природный капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Оценка подхода к управлению
            </td>
            <td>103-3
            </td>
            <td><a href="/natural_capital">Природный капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Общий объем сбросов с указанием качества сточных вод и принимающего объекта
            </td>
            <td>306-1
            </td>
            <td><a href="/natural_capital">Природный капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Общая масса отходов по типу и способу обращения
            </td>
            <td>306-2
            </td>
            <td><a href="/natural_capital">Природный капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Значительные разливы
            </td>
            <td>306-3
            </td>
            <td><a href=""></a>
            </td>
            <td>Раскрыт полностью. <br>Существенные разливы отсутствуют.</td>
        </tr>
        <tr>
            <td>Транспортированные отходы
            </td>
            <td>306-4
            </td>
            <td><a href="/natural_capital">Природный капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Водные объекты, на которые оказывают влияние сбросы организации и поверхностный сток с ее территории
            </td>
            <td>306-5
            </td>
            <td><a href="/natural_capital">Природный капитал</a>
            </td>
            <td>Раскрыт полностью. <br>Существенное влияние на водные объекты отсутствует.</td>
        </tr>
        <tr>
            <td rowspan="7">GRI 403: Occupational Health and Safety (2016)
            </td>
            <td>Объяснение существенности темы и ее границы
            </td>
            <td>103-1
            </td>
            <td><a href="/human_capital">Человеческий капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Подход к управлению и его компоненты
            </td>
            <td>103-2
            </td>
            <td><a href="/human_capital">Человеческий капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Оценка подхода к управлению
            </td>
            <td>103-3
            </td>
            <td><a href="/human_capital">Человеческий капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Представительство рабочих в официальных совместных комитетах по вопросам здоровья и безопасности
                руководителей и работников
            </td>
            <td>403-1</td>
            <td></td>
            <td>Раскрыт полностью. <br>Официальные совместные комитеты по здоровью и безопасности с участием представителей руководства и
                работников созданы во всех организациях Дивизиона. Таким образом, 100 % сотрудников представлено в этих
                комитетах.
            </td>
        </tr>
        <tr>
            <td>Производственный травматизм, уровень профессиональных заболеваний, коэффициент потерянных дней и
                коэффициент отсутствия на рабочем месте, количество смертельных исходов
            </td>
            <td>403-2
            </td>
            <td><a href=""></a>
            </td>
            <td>Раскрыт полностью. <br>Не рассчитывается в разбивке по полу и региону в соответствии с системой учета такой информации в Дивизионе Коэффициент профессиональных заболеваний по Дивизиону равен 0 Коэффициент потерянных дней по Дивизиону равен 3,92, рассчитан с применением множителя 1 000 000 и является отношением общего количества дней, потерянных в результате травм, к количеству фактически отработанных часов. Число потерянных дней существенно мало по отношению к фактически отработанным. Коэффициент отсутствия на рабочем месте, Коэффициенты по организациям вне контура управления не раскрываются в связи с отсутствием единой системы сбора такой информации.</td>
        </tr>
        <tr>
            <td>Рабочие с высокой заболеваемостью или высоким риском заболеваний, связанных с их занятием
            </td>
            <td>403-3
            </td>
            <td><a href="/human_capital">Человеческий капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Отражение вопросов здоровья и безопасности в официальных соглашениях с профсоюзами
            </td>
            <td>403-4
            </td>
            <td><a href="/human_capital">Человеческий капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td rowspan="6">GRI 404: Training and Education (2016)
            </td>
            <td>Объяснение существенности темы и ее границы
            </td>
            <td>103-1
            </td>
            <td>
                <a href="/human_capital">Человеческий капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Подход к управлению и его компоненты
            </td>
            <td>103-2
            </td>
            <td><a href="/human_capital">Человеческий капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Оценка подхода к управлению
            </td>
            <td>103-3
            </td>
            <td><a href="/human_capital">Человеческий капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Среднегодовое количество часов обучения одного сотрудника
            </td>
            <td>404-1
            </td>
            <td>Приложение 12
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Программы развития навыков и образования
            </td>
            <td>404-2
            </td>
            <td><a href="/human_capital">Человеческий капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Доля сотрудников, для которых проводятся периодические оценки результативности и развития карьеры
            </td>
            <td>404-3
            </td>
            <td>Приложение 12
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td rowspan="5">GRI 416: Customer Health and Safety (2017)</td>
            <td>Объяснение существенности темы и ее границы</td>
            <td>103-1</td>
            <td><a href="/natural_capital">Природный капитал</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Подход к управлению и его компоненты
            </td>
            <td>103-2
            </td>
            <td><a href="/natural_capital">Природный капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Оценка подхода к управлению
            </td>
            <td>103-3
            </td>
            <td><a href="/natural_capital">Природный капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Оценка воздействия продуктов и услуг на здоровье и безопасность
            </td>
            <td>416-1
            </td>
            <td><a href="/natural_capital">Природный капитал</a>
            </td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Общее количество случаев несоответствия нормативным требованиям и добровольным кодексам, касающимся
                воздействия продукции и услуг на здоровье и безопасность, в разбивке по видам последствий
            </td>
            <td>416-2</td>
            <td><a href="/natural_capital">Природный капитал</a></td>
            <td>Раскрыт полностью</td>
        </tr>
    </table>

    <small>Существенные темы, не соответствующие темам GRI</small>

    <table class="table table-borderless table-responsive margTable">
        <tr>
            <th>Стандарт GRI</th>
            <th>Наименование показателя</th>
            <th>Показатель</th>
            <th>Раздел</th>
            <th>Уровень раскрытия (Раскрыт полностью/ раскрыт частично/ не раскрыт)</th>
        </tr>
        <tr>
            <td rowspan="3">Обеспечение исполнения обязательств Компании по законтрактованным</td>
            <td>Объяснение существенности темы и ее границы</td>
            <td>103-1</td>
            <td><a href="/info_about_report">Информация об отчете</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Подход к управлению и его компоненты</td>
            <td>103-2</td>
            <td><a href="/productive_capital">Производственный капитал</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Оценка подхода к управлению</td>
            <td>103-3</td>
            <td><a href="/productive_capital">Производственный капитал</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td rowspan="3">Снижение сроков и стоимости строительства АЭС</td>
            <td>Объяснение существенности темы и ее границы</td>
            <td>103-1</td>
            <td><a href="/info_about_company">Информация об отчете</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Подход к управлению и его компоненты</td>
            <td>103-2
            </td>
            <td><a href="/division_strategy">Стратегия Инжинирингового дивизиона и КПЭ ее реализации</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Оценка подхода к управлению</td>
            <td>103-3
            </td>
            <td><a href="/division_strategy">Стратегия Инжинирингового дивизиона и КПЭ ее реализации</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td rowspan="3">Трансформация Инжинирингового дивизиона в цифровую компанию</td>
            <td>Объяснение существенности темы и ее границы</td>
            <td>103-1</td>
            <td><a href="/info_about_company">Информация об отчете</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Подход к управлению и его компоненты</td>
            <td>103-2</td>
            <td><a href="/digital_transformation">Цифровая трансформация Инжинирингового дивизиона</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Оценка подхода к управлению</td>
            <td>103-3</td>
            <td><a href="/digital_transformation">Цифровая трансформация Инжинирингового дивизиона</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td rowspan="3">Экологическая и промышленная безопасность на объектах</td>
            <td>Объяснение существенности темы и ее границы</td>
            <td>103-1</td>
            <td><a href="/natural_capital">Природный капитал</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Подход к управлению и его компоненты</td>
            <td>103-2</td>
            <td><a href="/natural_capital">Природный капитал</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Оценка подхода к управлению</td>
            <td>103-3</td>
            <td><a href="/natural_capital">Природный капитал</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td rowspan="3">Подготовка и повышение квалификации кадров компании в условиях цифрового перехода</td>
            <td>Объяснение существенности темы и ее границы</td>
            <td>103-1</td>
            <td><a href="/digital_transformation">Цифровая трансформация Инжинирингового дивизиона</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Подход к управлению и его компоненты</td>
            <td>103-2</td>
            <td><a href="/digital_transformation">Цифровая трансформация Инжинирингового дивизиона</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Оценка подхода к управлению</td>
            <td>103-3</td>
            <td><a href="/digital_transformation">Цифровая трансформация Инжинирингового дивизиона</a></td>
            <td>Раскрыт полностью</td>
        </tr>
    </table>

    <small>Таблица 50. Отдельные показатели по темам GRI, не вошедшие в число существенных</small>

    <table class="table table-borderless table-responsive margTable mb-5">
    <tr>
        <th>Стандарт GRI</th>
        <th>Наименование показателя</th>
        <th>Показатель</th>
        <th>Раздел</th>
        <th>Уровень раскрытия (Раскрыт полностью/ раскрыт частично/ не раскрыт)</th>
    </tr>
    <tr>
            <td>GRI 201: Economic Performance (2016)</td>
            <td>Финансовые последствия и другие риски и возможности, обусловленные изменением климата</td>
            <td>201-2</td>
            <td><a href="/natural_capital">Природный капитал</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>GRI 204: Procurement Practices (2016)</td>
            <td>Раскрытие информации о подходах к управлению</td>
            <td>204-1</td>
            <td><a href="/productive_capital">Производственный капитал</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td rowspan="3">GRI 303: Water (2016)</td>
            <td>Общее количество забираемой воды с разбивкой по источникам</td>
            <td>303-1</td>
            <td><a href="/natural_capital">Природный капитал</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Источники воды, на которые оказывает существенное влияние водозабор организации</td>
            <td>303-2</td>
            <td><a href="/natural_capital">Природный капитал</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Переработанная и повторно используемая вода</td>
            <td>303-3</td>
            <td><a href="/natural_capital">Природный капитал</a></td>
            <td>Раскрыт полностью</td>
        </tr>
    <tr>
            <td rowspan="4">GRI 304: Biodiversity (2016)</td>
            <td>Производственные площадки, находящиеся в собственности, в аренде или под управлением организации и
                расположенные на охраняемых природных территориях и территориях с высокой ценностью биоразнообразия,
                находящихся вне границ охраняемых природных территорий, или прилегающие к таким территориям
            </td>
            <td>304-1</td>
            <td><a href="/natural_capital">Природный капитал</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Описание существенного воздействия организации на биоразнообразие</td>
            <td>304-2</td>
            <td><a href="/natural_capital">Природный капитал</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Сохраненные и восстановленные местообитания</td>
            <td>304-3</td>
            <td><a href="/natural_capital">Природный капитал</a></td>
            <td>Раскрыт полностью</td>
        </tr>
        <tr>
            <td>Общее число видов, занесенных в красный список МСОП и национальный список охраняемых видов, местообитания которых находятся на территории, затрагиваемой деятельностью организации, с разбивкой по степени угрозы существованию вида</td>
            <td>304-4</td>
            <td><a href="/natural_capital">Природный капитал</a></td>
            <td>Раскрыт полностью</td>
        </tr>
    </table>

    <h4 class="mt-5 mb-5"><strong>Таблица 51. Соответствие отчета Международному стандарту интегрированной отчетности. Отражение в отчете фундаментальных концепций Стандарта < ИО ></strong></h4>

    <small>Отражение в отчете фундаментальных концепций Стандарта <ИО></small>

    <table class="table table-borderless table-responsive mb-5">
        <thead>
            <tr class="rowBold">
                <th>Фундаментальные концепции</th>
                <th>Используется/ не используется</th>
        </thead>
        <tbody>
            <tr>
                <td>Создание стоимости для организации и заинтересованных сторон</td>
                <td>Используется</td>
            </tr>
            <tr>
                <td>Капиталы</td>
                <td>Используется</td>
            </tr>
            <tr>
                <td>Процесс создания стоимости</td>
                <td>Используется</td>
            </tr>
        </tbody>
    </table>

    <small>Соответствие отчета ведущим принципам Стандарта <ИО></small>

    <table class="table table-borderless table-responsive mb-5">
        <thead>
            <tr class="rowBold">
                <th>Ведущие принципы</th>
                <th>Соответствует/ не соответствует</th>
        </thead>
        <tbody>
            <tr>
                <td>Стратегический фокус и ориентация на будущее</td>
                <td>Соответствует</td>
            </tr>
            <tr>
                <td>Связность информации</td>
                <td>Соответствует</td>
            </tr>
            <tr>
                <td>Взаимодействие с заинтересованными сторонами</td>
                <td>Соответствует</td>
            </tr>
            <tr>
                <td>Существенность</td>
                <td>Соответствует</td>
            </tr>
            <tr>
                <td>Краткость</td>
                <td>Соответствует</td>
            </tr>
            <tr>
                <td>Достоверность и полнота</td>
                <td>Соответствует</td>
            </tr>
            <tr>
                <td>Постоянство и сопоставимость</td>
                <td>Соответствует</td>
            </tr>
        </tbody>
    </table>

    <small>Наличие в отчете элементов содержания Стандарта <ИО></small>

    <table class="table table-borderless table-responsive">
        <thead>
            <tr class="rowBold">
                <th>Элементы содержания</th>
                <th>Раздел ЭГО</th>
        </thead>
        <tbody>
            <tr>
                <td>Обзор организации и внешняя среда</td>
                <td><a href="/about_company">О компании</a>, <a href="/markets_of_presence">Рынки присутствия</a></td>
            </tr>
            <tr>
                <td>Управление</td>
                <td><a href="/corporate_governance">Корпоративное управление</td>
            </tr>
            <tr>
                <td>Бизнес-модель</td>
                <td><a href="/business_model">Бизнес-модель</a></td>
            </tr>
            <tr>
                <td>Риски и возможности</td>
                <td><a href="/risks_and_opportunities">Риски и возможности</a></td>
            </tr>
            <tr>
                <td>Стратегия и распределение ресурсов</td>
                <td><a href="/division_strategy">Стратегия Инжинирингового дивизиона и КПЭ ее реализации</a></td>
            </tr>
            <tr>
                <td>Результаты деятельности</td>
                <td><a href="/business_model">Бизнес-модель</a>, Глава 2. Ключевые результаты деятельности</td>
            </tr>
            <tr>
                <td>Перспективы на будущее</td>
                <td><a href="/division_strategy">Стратегия Инжинирингового дивизиона и КПЭ ее реализации</a></td>
            </tr>
        </tbody>
    </table>


    {% endblock %}