{% extends "ru/templates/page.html" %} 

{% block link %}
    <link rel="stylesheet" href="/css/fm.revealator.jquery.min.css">
{% endblock %}

{% block breadcrumb %}
<li>
    <a href="/content">
        <small>Содержание /</small>
    </a>
</li>
<li>
    <a href="#">
        <small>Глава 2 /</small>
    </a>
</li>
<li class="active">
    <small><strong>2.4</strong></small>
</li>
{% endblock %} 

{% block picture %}
    background-image: url(../img/chapters/2.4.jpg);
    background-position-y: 40%;
{% endblock %}

{% block titleText%} 2.4. Человеческий капитал. Подготовка кадров в условиях цифрового перехода {% endblock%}

{% block subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-8">102-8</a></span>
            <span class="hidden-gri">Информация о сотрудниках и других работниках</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-404-2">404-2</a></span>
            <span class="hidden-gri">Программы развития навыков и образования</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-403-3">403-3</a></span>
            <span class="hidden-gri">Рабочие с высокой заболеваемостью или высоким риском заболеваний, связанных с их занятием</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-403-4">403-4</a></span>
            <span class="hidden-gri">Отражение вопросов здоровья и безопасности в официальных соглашениях с профсоюзами</span>
        </span>
    </li>
</ul>
{% endblock %}

{% block content %}

<div>
    <div class="blockLineLeftTxt">
        <p class="txtHead">Человеческий капитал – это компетенции сотрудников Компании, их способности и опыт. Управление
человеческим (кадровым) капиталом включает: вклады в повышение квалификации сотрудников, работу
с кадровым резервом и рынком труда, а также программы мотивации и поддержки персонала. Система
управления персоналом в <span class="block">
	<span class="hover">Инжиниринговом</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизионе строится на основе стратегических целей и бизнес-
приоритетов Компании.</p>
    </div>
    
    <div class="row mt-4">
        <div class="col-lg-4 col-md-4 col-sm-12 bossPhoto" style="background-image: url(../img/шешокин.jpg); background-position-x: 65%;"></div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h5>
                <strong>Николай Шешокин,
                    <br>вице-президент
                    <br>по управлению персоналом и административной работе</strong>
            </h5>

            <br>
            <strong>Происходят ли изменения в кадровой политике дивизиона в связи с цифровым переходом? Что бы Вы назвали основным достижением года в этом направлении?</strong>
        
            <em class="directSpeech">
                <p class="mt-4">- Безусловно, переориентация всех областей бизнеса в цифровую плоскость влечет за собой изменения в подходах к управлению персоналом. В горизонте 2017–2018 гг. <span class="block">
	<span class="hover">Инжиниринговый</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизион уже планирует потребность в специалистах в разрезе новых требуемых компетенций для осуществления цифрового перехода. Произведен пересмотр перечня учебных заведений – основных поставщиков кадров для Компании. Ведется работа по адаптации учебных программ учебных заведений – партнеров под требования Компании, рынка и конкурентной среды.</p>
                <p>Ярким проектом в этом направлении стало открытие Высшей <span class="block">
	<span class="hover">Инжиниринговой</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> школы НИЯУ МИФИ в партнерстве с АО ИК «АСЭ» в целях подготовки кадров для проектной работы в рамках жизненного цикла сложных технических объектов. В 2019 году состоится первый выпуск – 19 человек. Набор 2018 года уже 40 человек, а далее мы готовимся к трехкратному росту участников программы. Активная работа ведется в части углубления профессиональной экспертизы в системной инженерии и разработке краткосрочных программ подготовки по навыкам программирования и управления требованиями для проектировщиков.</p>
            </em>

            <br>
            <strong>Влияет ли цифровая трансформация на приоритеты в управлении персоналом в среднесрочной перспективе?</strong>
            
            <em class="directSpeech">
                <p class="mt-4">- Для успешной адаптации и результативности в эпоху цифровой трансформации, сотруднику необходимо быть готовым к выходу из зоны комфорта: работа с новыми цифровыми инструментами над новыми цифровым продуктами; изменение бизнес-модели работы Компании; необходимость в достаточно сжатые сроки овладеть знаниями и навыками, без которых реализация рабочих задач становится невозможной; осуществление деятельности в гибком формате с ориентаций на постоянную обратную связь от бизнес-<span class="block">
	<span class="hover">заказчика</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span> по совершенствованию продукта.</p>
                <p>В целях реализации стратегии по цифровой трансформации <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона и повышения уровня цифровой зрелости и конкурентоспособности на рынке <span class="block">
	<span class="hover">Инжиниринговых</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> услуг утвержден состав проектных групп и перечень проектных работ для участия в программе цифровой трансформации дивизиона. Целью данной программы является запуск проектов цифровой трансформации дивизиона, формирование и обучение команды «лидеров цифровой трансформации». Программа включает в себя проектные и образовательные модули как на площадке АО ИК «АСЭ», так и на внешних площадках, международные стажировки, акселерационную программу для разрабатываемых проектов и внедрение их в деятельность. Срок реализации данной программы – до февраля 2019 года.</p>
            </em>
        </div>
    </div>
    
    <div class="mt-4">
        <div id="under">
            <strong>2.4.1 Кадровая политика</strong>
        </div>
        <br>
        <small>
            <strong>
                Таблица 31. Стратегические задачи кадровой политики
            </strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <th>Стратегические задачи кадровой политики в 2017-2018 гг.</th>
                <th>Работы 2017 года</th>
            </tr>
            <tr>
                <td>Формирование конкурентоспособной команды проектировщиков, команды лидеров-эффективности и
                    международных лидеров-глобализаторов
                </td>
                <td>
                    Реализация отраслевых и корпоративных программ, направленных на выявление, развитие и поддержку работников-лидеров в реализации стратегических проектов.
                    <br>Повышение эффективности участников международных проектов через развитие компетенции «владение английским языком».
                    <br>Сохранение и передача ключевых знаний и навыков за счет системы наставничества, передислокации ключевых специалистов с объектов завершенного строительства на новые строящиеся объекты.
                    <br>Развитие компетенций для снижения сроков, стоимости и повышения качества проектирования и строительства объектов.
                </td>
            </tr>
            <tr>
                <td>Создание корпоративной культуры результата</td>
                <td>
                    Разработка и реализация программ управления вовлеченностью.
                    <br>Сохранение единых принципов и подходов к управлению персоналом во всех регионах присутствия с учетом местной специфики и в строгом соответствии с применяемым законодательством.
                    <br>Совершенствование системы управления по ценностям.
                    <br>Реализация проектов, направленных на внутреннюю конкуренцию и своевременное признание заслуг работников.
                </td>
            </tr>
            <tr>
                <td>Повышение эффективности процессов управления персоналом</td>
                <td>
                    Трансформация функции управления персоналом в полноценного бизнес-партнера.
                    <br>Эффективная организация работы службы управления персоналом и улучшение качества взаимодействия с работниками через реализацию <span class="block">
	<span class="hover">ПСР</span>
	<span class="hidden">Производственная система «Росатом»</span>
</span>-проектов.
                </td>
            </tr>
        </table>
    </div>
    
    <div class="mt-4">
        <div id="under">
            <strong>2.4.2. Характеристики персонала</strong>
        </div>
        
        <p class="text-focus mt-4">Общая численность сотрудников <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона по состоянию на 31.12.2017 составила 16 667 чел.</p>
        Среднесписочная численность в 2017 году составила 14 463 чел. Заработная плата и другие выплаты и льготы сотрудникам в расчете на одного работника составили 1,18 млн руб., что на 1,3 % больше, чем в 2016 году (расчет производился относительно среднесписочной численности сотрудников).
        <br>
        <br>
        <small>
            <strong>
                Таблица 32. Динамика общей численности сотрудников, чел.* <span class="color_GOST">(GRI 102-8)</span>
            </strong>
        </small>
        <table class="centerCol table table-borderless table-responsive">
            <tr>
                <th>Организация</th>
                <th>2015</th>
                <th>2016</th>
                <th>2017 план</th>
                <th>2017** факт</th>
                <th>∆ (2017-2016)/ 2016, %</th>
                <th>2018 план</th>
            </tr>
            <tr>
                <td>АО АСЭ</td>
                <td>749</td>
                <td>504</td>
                <td>784</td>
                <td>637</td>
                <td>26</td>
                <td>968</td>
            </tr>
            <tr>
                <td>АО ИК «АСЭ»</td>
                <td>4057</td>
                <td>4349</td>
                <td>4591</td>
                <td>4635</td>
                <td>7</td>
                <td>5068</td>
            </tr>
            <tr>
                <td>АО «Атомэнергопроект»</td>
                <td>2806</td>
                <td>2409</td>
                <td>2303</td>
                <td>2497</td>
                <td>4</td>
                <td>2522</td>
            </tr>
            <tr>
                <td>АО «АТОМПРОЕКТ»</td>
                <td>3150</td>
                <td>2086</td>
                <td>1966</td>
                <td>2292</td>
                <td>10</td>
                <td>2333</td>
            </tr>
            <tr>
                <td>АО «НИКИМТ-Атомстрой»</td>
                <td>2058</td>
                <td>1708</td>
                <td>1723</td>
                <td>2163</td>
                <td>27</td>
                <td>2053</td>
            </tr>
            <tr>
                <td>ПАО «Энергоспецмонтаж»</td>
                <td>2726</td>
                <td>1964</td>
                <td>2168</td>
                <td>2412</td>
                <td>23</td>
                <td>2076</td>
            </tr>
            <tr>
                <td>ООО «ТрестРосСЭМ»</td>
                <td>2209</td>
                <td>1542</td>
                <td>1467</td>
                <td>2031</td>
                <td>32</td>
                <td>3253</td>
            </tr>
            <tr>
                <th>Общая численность по 
                <span class="block">
                    <span class="hover">Инжиниринговому</span>
                    <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
                </span>
                дивизиону</th>
                <th>17755</th>
                <th>14562</th>
                <th>15002</th>
                <th>16667**</th>
                <th>14</th>
                <th>18279</th>
            </tr>
        </table>
        <hr>

        <small>
            <em>* Под общей численностью понимается суммарное значение численности сотрудников списочного состава,
                внешних совместителей
                и сотрудников по гражданско-правовым договорам на конец года. </em>
        </small>
        <br>
        <small>
            <em>** Факторы, повлиявшие на рост численности сотрудников в 2017 году:
                <ul>
                    <li>переход в активную фазу 
                    <span class="block">
                        <span class="hover">сооружения АЭС</span>
                        <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                    </span> «Руппур», <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span>  «Бушер‐2», Курская <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span> ‐2, а также
                        увеличение объемов
                        работ по станциям, уже находящимся в активной фазе строительства (например, Белорусская <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span> );
                    </li>
                    <li>расширение компетенций работников проектного блока по зарубежным проектам;
                    </li>
                    <li>развитие блока системной инженерии и информационных технологий в рамках цифровой
                        трансформации компании
                        (3 % от общего прироста численности сотрудников).
                    </li>
                </ul>
            </em>
        </small>
        <br>
        <small>
            <strong>Таблица 33. Общая численность сотрудников в разбивке по полу, возрасту и категориям сотрудников,
                чел.
                <span class="color_GOST">(GRI <span id="gri-102-8">102-8</span>)</span>
            </strong>
        </small>
        <table class="table table-borderless table-responsive textCenter">
            <tr>
                <th rowspan="2"></th>
                <th rowspan="2"></th>
                <th colspan="2">2017</th>
                <th rowspan="2">Доля работников до 35 лет</th>
                <th colspan="3">До 35 лет, %</th>
                <th colspan="3">36-50 лет</th>
                <th colspan="3">Старше 50 лет</th>
            </tr>
            <tr>
                <th style="text-align: center">план</th>
                <th>факт</th>
                <th>м</th>
                <th>ж</th>
                <th>всего</th>
                <th>м</th>
                <th>ж</th>
                <th>всего</th>
                <th>м</th>
                <th>ж</th>
                <th>всего</th>
            </tr>
            <tr>
                <th rowspan="6">Итого по 
                <span class="block">
                    <span class="hover">Инжиниринговому</span>
                    <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
                </span>
                дивизиону</th>
                <td>Руководители</td>
                <td>1986</td>
                <td>2005</td>
                <td>21,1 %</td>
                <td>340</td>
                <td>84</td>
                <td>424</td>
                <td>572</td>
                <td>279</td>
                <td>851</td>
                <td>526</td>
                <td>204</td>
                <td>730</td>
            </tr>
            <tr>
                <td>Специалисты</td>
                <td>8320</td>
                <td>8914</td>
                <td>47,5 %</td>
                <td>2088</td>
                <td>2144</td>
                <td>4232</td>
                <td>1163</td>
                <td>1590</td>
                <td>2753</td>
                <td>801</td>
                <td>1128</td>
                <td>1929</td>
            </tr>
            <tr>
                <td>Другие служащие</td>
                <td>104</td>
                <td>99</td>
                <td>29,3 %</td>
                <td>2</td>
                <td>27</td>
                <td>29</td>
                <td>1</td>
                <td>33</td>
                <td>34</td>
                <td>3</td>
                <td>33</td>
                <td>36</td>
            </tr>
            <tr>
                <td>Рабочие</td>
                <td>4550</td>
                <td>5612</td>
                <td>38,2 %</td>
                <td>1999</td>
                <td>143</td>
                <td>2142</td>
                <td>1924</td>
                <td>158</td>
                <td>2082</td>
                <td>1213</td>
                <td>175</td>
                <td>1388</td>
            </tr>
            <tr>
                <td>Прочие</td>
                <td>42</td>
                <td>37</td>
                <td>35,1 %</td>
                <td>10</td>
                <td>3</td>
                <td>13</td>
                <td>9</td>
                <td>1</td>
                <td>10</td>
                <td>8</td>
                <td>6</td>
                <td>14</td>
            </tr>
            <tr class="rowBold">
                <td>Всего</td>
                <td>15002</td>
                <td>16667</td>
                <td>41,0 %</td>
                <td>4439</td>
                <td>2401</td>
                <td>6840</td>
                <td>3669</td>
                <td>2061</td>
                <td>5730</td>
                <td>2551</td>
                <td>1546</td>
                <td>4097</td>
            </tr>
        </table>
        <hr>

        <br>
        <br>
        <small>
            <strong>Динамика численности сотрудников подрядных и субподрядных организаций (в контуре управления Дивизиона и вне контура), занятых в строительстве, чел. (GRI 102-8)</strong>
        </small>
        <table class="centerCol table table-borderless table-responsive textCenter">
            <tr>
                <th rowspan="2">Наименование площадки сооружения</th>
                <th colspan="2">2015</th>
                <th colspan="2">2016</th>
                <th colspan="2">2017</th>
                <th rowspan="2">∆ изменения численности в отчетном году по отношению к предыдущему году</th>
                <th rowspan="2">Динамика изменения доли занятости местного населения, %</th>
            </tr>
            <tr>
                <th>Общая численность персонала СПО</th>
                <th>Доля местного наеления от общего количества, %</th>
                <th>Общая численность персонала СПО</th>
                <th>Доля местного наеления от общего количества, %</th>
                <th>Общая численность персонала СПО</th>
                <th>Доля местного наеления от общего количества, %</th>
            </tr>
            <tr>
                <td colspan="9">АО АСЭ</td>
            </tr>
            <tr>
                <td><span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>"Бушер"</td>
                <td>372</td>
                <td>28,0</td>
                <td>128</td>
                <td>62,0</td>
                <td>260</td>
                <td>86,0</td>
                <td>103,1</td>
                <td>24,0</td>
            </tr>
            <tr>
                <td><span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>"Аккую"</td>
                <td>121</td>
                <td>95,0</td>
                <td>91</td>
                <td>93,0</td>
                <td>270</td>
                <td>97,0</td>
                <td>196,7</td>
                <td>4,0</td>
            </tr>
            <tr>
                <td><span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>"Руппур"</td>
                <td>335</td>
                <td>90,0</td>
                <td>595</td>
                <td>87,0</td>
                <td>1 672</td>
                <td>86,3</td>
                <td>181,0</td>
                <td>-0,7</td>
            </tr>
            <tr>
                <td colspan="9">АО ИК "АСЭ"</td>
            </tr>
            <tr>
                <td>Ростовская<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span></td>
                <td>6 362</td>
                <td>79,0</td>
                <td>4 891</td>
                <td>90,0</td>
                <td>3 920</td>
                <td>90,0</td>
                <td>-19,9</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Курская<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>-2</td>
                <td>847</td>
                <td>68,0</td>
                <td>810</td>
                <td>81,0</td>
                <td>788</td>
                <td>76,0</td>
                <td>-2,7</td>
                <td>-5,0</td>
            </tr>
            <tr>
                <td>Белорусская<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span></td>
                <td>7 266</td>
                <td>79,0</td>
                <td>8 695</td>
                <td>72,0</td>
                <td>7 819</td>
                <td>73,3</td>
                <td>-10,1</td>
                <td>1,0</td>
            </tr>
            <tr>
                <td colspan="9">АО "Атомэнергопроект"</td>
            </tr>
            <tr>
                <td>Нововоронежская<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>-2</td>
                <td>7 961</td>
                <td>59,0</td>
                <td>5 803</td>
                <td>61,0</td>
                <td>3 542</td>
                <td>55,0</td>
                <td>-39,0</td>
                <td>-6,0</td>
            </tr>
            <tr>
                <th>
                    Общая численность сотрудников, подрядчиков и субподрядчиков, занятых в строительстве
                </th>
                <th>23 264</th>
                <th>71,1</th>
                <th>21 013</th>
                <th>78,0</th>
                <th>18 271</th>
                <th>80,5</th>
                <th>-13,0</th>
                <th>2,9</th>
            </tr>
        </table>

        <div class="row mt-5">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <p class="mt-4">В 2017 году общее количество работников подрядных и субподрядных организаций на площадках 
                <span class="block">
                    <span class="hover">сооружения АЭС</span>
                    <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                </span> сократилось на 13 %. Снижение численности персонала связано с завершающим циклом строительства и уменьшением объемов работ на площадках Нововоронежской АЭС‑2 и Ростовской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>. Одновременно с этим увеличивалось число работников подрядных и субподрядных организациях, задействованных на проектах в активной фазе строительства, в том числе на зарубежных площадках. Например, на <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Руппур» в 2017 году по отношению к 2016 году численность персонала увеличилось на 181 %, на <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Бушер‑2» – на 103,1 %, на <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Аккую» – на 196,7 %.</p>
                <p>В 2017 году на 2,9 % по отношению к предыдущему году увеличилась доля занятости местного населения. Рост этого показателя обусловлен, в основном, уменьшением доли прикомандированного персонала подрядчиков на проектах в стадии завершения (Нововоронежская АЭС‑2, Ростовская<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>). При плановом сокращении численности сотрудников на площадке подрядные организации в первую очередь оптимизируют количество работников, привлекаемых вахтовым методом из других регионов (для минимизации командировочных расходов, затрат на аренду жилья для прикомандированных, компенсацию проезда к месту работы и обратно).</p>
                <em><p>Дополнительную информацию см. в <a href="../../appendix/12.pdf" target="_blank">Приложении 12</a> Книги приложений.</p></em>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="headerPage blockLineLeftTxt">
                    <strong>Студенческие отряды</strong> 
                    <p>Начиная с 2015 года в связи с расширением международного присутствия в Дивизионе организуются студенческие отряды на площадках 
                    <span class="block">
                        <span class="hover">сооружения АЭС</span>
                        <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                    </span> за рубежом. Особенность международных ССО заключается в том, что студенты работают на площадках по своей будущей специальности, то есть фактически проходят производственную стажировку на рабочем месте инженера зарубежного филиала в структуре генерального подрядчика. Стажировка дает возможность будущим выпускникам максимально адаптироваться к производственному процессу и углубить свои знания специфики выбранной профессии.</p>
                    <p>В 2017 году на <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Руппур» (Бангладеш) организован студенческий строительный отряд «Лотос». Студенты принимали участие в полном цикле приема оборудования на площадке, начиная с осмотров и фотофиксации, заканчивая инвентаризацией и составлением рабочих актов входного контроля и сопутствующей документации. Совместно с сотрудниками филиала студенты участвовали в инспекциях стройплощадки для мониторинга показателей выполнения общестроительных работ.</p>
                    <p>В 2018 году бойцы ССО пройдут стажировку на площадках строительства <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Куданкулам» в Индии, <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Руппур» в Бангладеш и <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Аккую» в Турции.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mt-4">
        <div id="under">
            <strong>2.4.3. Реализация кадровой политики.</strong>
        </div>
        
        <p class="mt-4">Уровень вовлеченности персонала <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона ежегодно растет. В 2017 году он составил 81 % (в 2016 году – 78 %, в 2015 году – 75 %).</p>

        <h5><strong>Обучение персонала</strong></h5>
        
        <p class="text-focus mt-4">В 2017 году 9 665 сотрудников 
                <span class="block">
                    <span class="hover">Инжинирингового</span>
                    <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
                </span> 
            дивизиона прошли обучение, что на 27 % больше, чем в 2016 году.</p>

        <p>В Дивизионе действует Программа развития системы наставничества, когда высококвалифицированные работники (в том числе пенсионного возраста) передают критически важные знания молодым специалистам.</p>
        <p>Внедрена система ротации специалистов на вышестоящую или равнозначную позицию в другую организацию или дивизион, а также перевод специалистов с объектов завершенного строительства на новые строящиеся объекты Дивизиона. Ротация помогает сотрудникам получать новые компетенции и опыт принятия управленческих решений, который будет востребован на следующем карьерном шаге.</p>

        <h5 class="mt-4"><strong>Total English – развитие англоязычной компетенции сотрудников Дивизиона</strong></h5>

        <p class="mt-4">Сотрудники, задействованные в реализации международных проектов, повышают свою компетентность знания английского языка – в 2017 году обучение прошли 2 850 человек, из них сотрудников блока проектирования 2 206 человек. В 2017 году 21 % сотрудников блока проектирования достигли необходимого уровня языковой компетенции.</p>

        <br>
        <strong>Эффективность освоения целевого уровня</strong>
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 revealator-slideup revealator-once" id="ChartC" style="height: 500px;"></div>
        </div>

        <br><br>
        <small>
            <strong>Таблица 34. Количество сотрудников Дивизиона, прошедших обучение, чел.</strong>
        </small>
        <table class="centerCol table table-borderless table-responsive">
            <tr>
                <th>Организация</th>
                <th>2015</th>
                <th>2016</th>
                <th>2017 план</th>
                <th>2017 факт</th>
                <th>∆ 2017 /2016, %</th>
                <th>2018 план</th>
            </tr>
            <tr>
                <td>АО АСЭ</td>
                <td>120</td>
                <td>49</td>
                <td>480</td>
                <td>271</td>
                <td>453</td>
                <td>438</td>
            </tr>
            <tr>
                <td>АО ИК «АСЭ»</td>
                <td>1423</td>
                <td>1570</td>
                <td>2036</td>
                <td>2328</td>
                <td>48</td>
                <td>2481</td>
            </tr>
            <tr>
                <td>АО «Атомэнергопроект»</td>
                <td>1114</td>
                <td>1246</td>
                <td>1200</td>
                <td>1250</td>
                <td>0,32</td>
                <td>1240</td>
            </tr>
            <tr>
                <td>АО «АТОМПРОЕКТ»</td>
                <td>1514</td>
                <td>904</td>
                <td>1198</td>
                <td>1123</td>
                <td>24,23</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>ООО «ТрестРосСЭМ»</td>
                <td>423</td>
                <td>321</td>
                <td>390</td>
                <td>729</td>
                <td>127</td>
                <td>630</td>
            </tr>
            <tr>
                <td>АО «НИКИМТ-Атомстрой»</td>
                <td>1190</td>
                <td>1014</td>
                <td>1025</td>
                <td>1243</td>
                <td>23</td>
                <td>1100</td>
            </tr>
            <tr>
                <td>ПАО «Энергоспецмонтаж»</td>
                <td>2174</td>
                <td>2510</td>
                <td>2000</td>
                <td>2721</td>
                <td>8,41</td>
                <td>2976</td>
            </tr>
            <tr>
                <th>Итого по
                <span class="block">
                    <span class="hover">Инжиниринговому</span>
                    <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
                </span>
                дивизиону</th>
                <th>7958</th>
                <th>7614</th>
                <th>8329</th>
                <th>9665</th>
                <th>27</th>
                <th>9865</th>
            </tr>
        </table>
        
        <div class="row mt-5">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <p><span class="color_GOST">(GRI <span id="gri-404-2">404-2</span>)</span> Особенностью программы Total English является уклон в техническую лексику (строительство и проектирование<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>). Экспертами разработаны глоссарии, специализированные курсы, проводятся развивающие занятия в английских клубах. В 2018 году планируется разработка сертификационной программы, которая позволит закрепить требования к техническим англоязычным знаниям в каждой специализации проектирования и проводить периодическую оценку соответствия установленным стандартам.</p>

                <h5 class="mt-4"><strong>Планы на 2018 год:</strong></h5>
                
                <ul class="mt-4">
                    <li class="mt-2">проведение второго этапа аттестации для 383 сотрудников АО «АТОМПРОЕКТ», а также проведение аттестации сотрудников Дивизиона на знание международных норм (по рекомендациям МАГАТЭ и стандартам стран-<span class="block">
	<span class="hover">заказчиков</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span> проектов);</li>
                    <li class="mt-2">формирование индивидуальных планов развития, включающих развивающие мероприятия в различных формах (обучение, стажировки, наставничество, менторство и пр.);</li>
                    <li class="mt-2">создание программы по трансляции международных норм проектирования при помощи экспертов-наставников из числа самых опытных и квалифицированных работников блока проектирования.</li>
                </ul>

                <h5 class="mt-4"><strong>Кадровый резерв</strong></h5>

                <p class="mt-4">В отраслевом кадровом резерве от <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона в 2017 году состояло 324 человека – на 114 человек больше, чем в предыдущем году.</p>
                <p><span class="color_GOST">(GRI 404-2)</span> С целью минимизации кадровых рисков и в рамках реализации процесса управления карьерой и преемственностью сформирован план преемственности на критически важные должности <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона. План преемственности включает 24 должности старшего звена управления и 49 преемников на них. Статус преемника сопровождается обязательным наличием индивидуального плана развития.</p>
                <p>Разработаны соответствующие карьерные карты и требования к должностям в производственной карьерной группе «<span class="block">
	<span class="hover">Инжиниринг</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> (проектирование, поставка, сооружение)» и «Конструкторская деятельность непрофильного оборудования». В 2018 году у каждого сотрудника будет возможность выбрать свой следующий карьерный шаг, а у руководителя – обеспечить наличие преемников на свою должность и на должности своего подчинения в рамках единой отраслевой системы управления талантами «РЕКОРД» на базе программного обеспечения Lumesse ETWeb.</p>
                <p>Для того чтобы стать участником управленческого кадрового резерва, необходимо успешно пройти независимую оценку, которая состоит из оценки потенциала, ценностей и мотивации работника.</p>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="headerPage blockLineLeftTxt">
                    <strong>Конкурсы профессионального мастерства: Atomskills, 
                    <span class="block">
                        <span class="hover">Worldskills </span>
                        <span class="hidden">Международное некоммерческое движение, целью которого является повышение престижа рабочих профессий и развитие профессионального образования путем гармонизации лучших практик и профессиональных стандартов во всем мире посредством организации и проведения конкурсов профессионального мастерства.</span>
                    </span> 
                    Hi-Tech,
                        Digitalskills</strong>
                    <br><br>Команда Дивизиона заняла призовые места в трех номинациях: «Сетевое и системное администрирование» – 3 место, «Управление жизненным циклом» – 3 место, «Инженерное проектирование» – 2 и 3 места. 1 место в компетенции «Инженерное проектирование». 1 командное место в номинации «Машинное обучение и большие данные».
                    <br><br>
                    <strong>Конкурс 
                    <span class="block">
                        <span class="hover">Worldskills </span>
                        <span class="hidden">Международное некоммерческое движение, целью которого является повышение престижа рабочих профессий и развитие профессионального образования путем гармонизации лучших практик и профессиональных стандартов во всем мире посредством организации и проведения конкурсов профессионального мастерства.</span>
                    </span> 
                    Hi-Tech-2017 : </strong>

                    <br><br>Победитель в компетенции «Инженерное проектирование» – инженер АО ИК «АСЭ» Максим Мишин.
                </div>

                <div class="headerPage blockLineLeftTxt mt-4">
                    В 2017 году проведен первый этап аттестации проектировщиков с целью определения соответствия/несоответствия уровня квалификации работника установленным требованиям к занимаемой им должности. Соответствие текущему уровню квалификации подтвердили 96,4 % аттестованных сотрудников.
                    <br>Доля продвижения из управленческого кадрового резерва – 43,8 %.
                    <br>Доля защищенности критически важных должностей уровня топ 1 000 – 79,2 %.
                </div>
            </div>
        </div>
        <br>

        <div class="col-lg-11 col-md-10 col-sm-12">
            <img src="/img/university1.svg">
        </div>

        <div class="col-lg-11 col-md-10 col-sm-12">
            <img src="/img/university2.svg">
        </div>
    </div>
    
    <div class="mt-4">
        <div id="under">
            <strong>2.4.4. Реализация социальной политики</strong>
        </div>
        
        <p class="mt-4">Социальная политика <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона направлена на повышение привлекательности Дивизиона как работодателя и повышение эффективности социальных расходов.</p>
        <p>Особое внимание уделяется социальной поддержке и системам материального и нематериального стимулирования,
            направленного
            на повышение заинтересованности работников в достижении высоких результатов.
        </p>
        <p>Социальный пакет работников формируется в соответствии с Единой отраслевой социальной политикой.</p>
        
        <br>
        <small>
            <strong>
                Таблица 35. Затраты на социальные программы, тыс. руб.
            </strong>
        </small>
        <table class="centerCol table table-borderless table-responsive">
            <tr>
                <th></th>
                <th>2015</th>
                <th>2016</th>
                <th>2017</th>
                <th>2017/2016, %</th>
                <th>2018, план</th>
            </tr>
            <tr>
                <td>Социальные программы</td>
                <td>504 018,53</td>
                <td>447 065,85</td>
                <td>421 184,00</td>
                <td>- 5,79</td>
                <td>515 664,71</td>
            </tr>
            <tr>
                <td>Культурно-массовая и спортивная работа</td>
                <td>80 243,87</td>
                <td>72 701,76</td>
                <td>91 332,59</td>
                <td>25,63</td>
                <td>110 054,43</td>
            </tr>
        </table>

        <br>
        <small>
            <strong>
                Таблица 36. Затраты на здоровье и безопасность персонала, тыс. руб. </strong>
        </small>
        <table class="centerCol table table-borderless table-responsive">
            <tr>
                <th>Организация</th>
                <th>2015</th>
                <th>2016</th>
                <th>2017</th>
                <th>2017/2016, %</th>
                <th>2018, план</th>
            </tr>
            <tr>
                <td>АО ИК «АСЭ»</td>
                <td>155 388,54</td>
                <td>168 938,19</td>
                <td>222 514,49</td>
                <td>31,71</td>
                <td>253 204,00</td>
            </tr>
            <tr>
                <td>АО АСЭ</td>
                <td>32 910,84</td>
                <td>12 963,72</td>
                <td>15 440,41</td>
                <td>19,1</td>
                <td>44 813,09</td>
            </tr>
            <tr>
                <td>АО «Атомэнергопроект»</td>
                <td>141 017,12</td>
                <td>247 574,43</td>
                <td>137 393,97</td>
                <td>- 44,5</td>
                <td>131 311,00</td>
            </tr>
            <tr>
                <td>АО «АТОМПРОЕКТ»</td>
                <td>77 184,63</td>
                <td>61 343,77</td>
                <td>56 821,42</td>
                <td>-7,37</td>
                <td>73 309,00</td>
            </tr>
            <tr>
                <td>АО «НИКИМТ-Атомстрой»</td>
                <td>4 098,15</td>
                <td>4 843,94</td>
                <td>3 146,29</td>
                <td>-35,05</td>
                <td>4 872,94</td>
            </tr>
            <tr>
                <td>АО «Трест РосСЭМ»</td>
                <td>0,00</td>
                <td>426,00</td>
                <td>454,05</td>
                <td>6,58</td>
                <td>1 706,96</td>
            </tr>
            <tr>
                <td>ПАО «Энергоспецмонтаж»</td>
                <td>108,00</td>
                <td>83,20</td>
                <td>31,47</td>
                <td>- 62,18</td>
                <td>0,00</td>
            </tr>
            <tr>
                <th>Итого по 
                <span class="block">
                    <span class="hover">Инжиниринговому</span>
                    <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
                </span>
                дивизиону</th>
                <th>410 707,27</th>
                <th>496 173,25</th>
                <th>435 802,10</th>
                <th>-12,17</th>
                <th>509 216,99</th>
            </tr>
        </table>
        
        <p class="mt-4">Значительный объем работы по организации оздоровления и отдыха сотрудников и членов их семей реализуется администрацией совместно с профсоюзным комитетом. На предприятиях проводятся культурные мероприятия для сотрудников и их детей, организуются выездные дни здоровья для работников и ветеранов.</p>
        <p>Более 2 000 сотрудников <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона активно занимаются спортом. Сотрудники Компании – активные участники самых различных спортивных состязаний: спартакиад, фестивалей, соревнований. Для всех желающих работают секции и арендуются бассейны, залы для тренировок по мини-футболу, волейболу, хоккею, бадминтону и другим видам спорта. Налажены рабочие взаимоотношения с отраслевым спортивным обществом «Атомспорт».</p>
        <p>Работникам для обеспечения возможности их дальнейшего трудоустройства и управления завершением своей карьеры в результате ухода на пенсию или прекращения работы предоставляется Программа помощи. <span class="color_GOST">(GRI 404-2)</span></p>
    </div>
    
    <div class="mt-5">
        <div id="under">
            <strong>2.4.5. Охрана труда</strong>
        </div>

        <div class="row mt-5">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <p><span class="block">
	<span class="hover">Инжиниринговый</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизион системно подходит к вопросу обеспечения безопасности труда как сотрудников Компании, так и работников дочерних и зависимых обществ, подрядных и субподрядных организаций.</p>
                <p class="text-focus">Приоритетной целью в области охраны труда является обеспечение профессиональной безопасности и здоровья работников</p>
                
                <h5 class="mt-4">Для достижения поставленной цели Компания:</h5>

                <ul class="mt-4">
                    <li class="mt-2">разрабатывает и реализует планы улучшения условий и охраны труда в соответствии с законодательством РФ;</li>
                    <li class="mt-2">обеспечивает личную ответственность руководителей всех уровней за результаты работ в области охраны труда;</li>
                    <li class="mt-2">совершенствует систему управления охраной труда в соответствии с международной системой менеджмента профессиональной безопасности и здоровья OHSAS 18001:2007;</li>
                    <li class="mt-2">способствует формированию мотивации всех сотрудников Компании, работников подрядных организаций, дочерних и зависимых обществ к обеспечению личной и коллективной безопасности в процессе трудовой деятельности.</li>
                </ul>

                <p><span class="color_GOST">(GRI <span id="gri-403-3">403-3</span>)</span> Основные риски инженерно-технического и управленческого персонала АО ИК «АСЭ» связаны с опасностью получения травм при падении на скользкой поверхности. Значимые риски в области охраны труда сосредоточены на площадках строительства, где осуществляется деятельность подрядных организаций, основным потенциально опасным производственным фактором на площадках строительства является «Работа на высоте».</p>
                
                <p>Мероприятия по охране и улучшению условий труда проводятся ежегодно в соответствии с трудовым законодательством Российской Федерации, Трехсторонним отраслевым соглашением по атомной энергетике и науке, Коллективным договором АО ИК «АСЭ», утвержденным планом мероприятий по предупреждению производственного травматизма и профзаболеваний, которые включают в себя обеспечение работников спецодеждой и защитными средствами, проведение обязательного обучения по вопросам безопасности труда, обеспечение безопасных условий труда на рабочих местах.</p>
                <p>Проводится специальная оценка условий труда, по результатам которой разрабатываются мероприятия по улучшению условий труда.</p>
                <p>Особое внимание в Компании уделяется периодическим медицинским осмотрам сотрудников, работающих в условиях воздействия вредных производственных факторов. Медицинское обслуживание этого контингента работников осуществляют территориальные отраслевые медицинские центры Федерального медико-биологического агентства Российской Федерации. В отчетном периоде более 4 411 работников Дивизиона прошли медицинский осмотр (из них 825 женщин).</p>
                <p>Ежегодно в специализированных учебных центрах организуется обучение и проверка знаний по охране труда руководителей и специалистов, для работников рабочих профессий – обучение по оказанию первой помощи. За 2017 год прошли обучение 1 658 руководителей и специалистов <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона.</p>

            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="headerPage blockLineLeftTxt">
                    <strong>Из Политики АО ИК «АСЭ» в области охраны труда:</strong>
                    <p class="mt-4">Приоритетной целью АО ИК «АСЭ» в области охраны труда является обеспечение профессиональной безопасности и здоровья работников. Руководство гарантирует обеспечение условий и выделение ресурсов для реализации Политики в области охраны труда, обеспечения профессиональной безопасности и здоровья работников и призывает всех работников объединить усилия для достижения поставленных целей». Политика по охране труда рекомендована всем дочерним и зависимым обществам Компании, а также подрядным организациям.</p>
                    <p class="mt-4"> 
                    Взаимодействие АО ИК «АСЭ» с подрядными организациями на площадках строительства осуществляется на основе заключаемых договоров, в которых учитывается выполнение требований охраны труда. Основными формами профилактической работы в области обеспечения безопасности труда являются:</p>
                    
                    <ul class="mt-4">
                        <li>проведение плановых ежедневных оперативных проверок соблюдения требований охраны труда на строительной площадке, местах производства работ;</li>
                        <li>осуществление плановых комплексных проверок и инспекций выполнения мероприятий по охране труда;</li>
                        <li>проведение дней охраны труда на строительных площадках и совместных Штабов по охране труда;</li>
                        <li>разработка профилактических мероприятий по предупреждению производственного травматизма и выполнению требований охраны труда;</li>
                        <li>реализация на строительной площадке программы «Стимул» по выявлению лучшей подрядной организации в области выполнения требований правил охраны труда.</li>
                    </ul>
                    
                    <p class="mt-4">Эффективность системы управления охраной труда подтверждается отсутствием случаев производственного травматизма (КПТ = 0) и профессиональных заболеваний (КПЗ = 0).
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <p class="text-focus mt-4">Почти 300 млн рублей направлено на мероприятия по охране труда <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> Дивизиона в 2017 году.</p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="headerPage blockLineLeftTxt">
                    Введение в качестве показателя уровня травматизма в Дивизионе – показателя LTIFR – (Lost time injury frequency rate) – позволило обеспечить эффективный мониторинг состояния травматизма для 100 % работников организаций Дивизиона и подрядчиков.
                </div>
            </div>
        </div>

        
        <img src="/img/events_security.svg">

        <h5 class="mt-4"><strong>В 2017 году:</strong></h5>
        
        <ul class="mt-4">
            <li class="mt-2">проведена идентификация возможных опасностей и рисков;</li>
            <li class="mt-2">поставлены стратегические цели в части безопасности и охраны труда;</li>
            <li class="mt-2">разработаны программы достижения целей;</li>
            <li class="mt-2">обеспечена полная вовлеченность персонала в развитие действующей системы менеджмента безопасности труда.</li>
        </ul>

        <p>В организациях Дивизиона принят к исполнению Комплексный план мероприятий по обеспечению безопасности профессиональной деятельности и предотвращению травматизма работников, содержащий мероприятия по организации проведения проверок соблюдения требований безопасности подрядными организациями, обучению по охране труда, приемам оказания первой помощи, повышению роли службы охраны труда с учетом необходимости обеспечения надзора за состоянием безопасности при выполнении работ подрядными организациями и дочерними обществами на объектах строительства энергоблоков.</p>
        
        <br>
        <small>
            <strong>Таблица 37. LTIFR - ключевой показатель эффективности</strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <th></th>
                <th>2017 факт</th>
                <th>2018 план (максимально допустимое значение)</th>
            </tr>
            <tr>
                <td>
                    <abbr title="LTIFR - Lost Time Injury Frequency Rate (коэффициент частоты травм с потерей рабочего времени).">LTIFR</abbr>
                    и снижение тяжести
                    <br> травматизма на производственных
                    <br> площадках предприятий,
                    <br> включая подрядчиков
                </td>
                <td>0,06 / 15 %</td>
                <td>0,32 / 20 %</td>
            </tr>
        </table>

        <h5 class="mt-4"><strong>Здоровье и безопасность на рабочем месте</strong></h5>
        
        <p class="mt-4">АО ИК «АСЭ» внедрило и поддерживает Систему Менеджмента Охраны Труда и Техники Безопасности, что подтверждено Сертификатом BS OHSAS 18001:2007 Международного органа по сертификации DQS (действителен до 30.07.2019).</p>
        
        <h5 class="mt-4"><strong>Основные элементы Системы Менеджмента Охраны Труда и Техники Безопасности:</strong></h5>
        
        <ul class="mt-4">
            <li>политика в области охраны труда;</li>
            <li>планирование управления безопасностью труда;</li>
            <li>количественные методики оценки состояния безопасности труда;</li>
            <li>показатели эффективности в управлении безопасностью труда;</li>
            <li>инструменты управления безопасностью труда;</li>
            <li>анализ несчастных случаев на производстве;</li>
            <li>административно-общественный контроль состояния охраны труда;</li>
            <li>формирование культуры безопасности труда.</li>
        </ul>

        <h5 class="mt-4"><strong>Выгоды от внедрения системы:</strong></h5>
            
        <ul class="mt-4">
            <li>устранение и/или сокращение рисков;</li>
            <li>осуществление контроля над опасными производственными факторами;</li>
            <li>предотвращение возникновения инцидентов, аварий, внештатных ситуаций.</li>
        </ul>

        <h5 class="mt-4"><strong>Целевые проверки подрядных организаций</strong></h5>

        <p class="mt-4">На площадках строительства Ростовской, Курской и Белорусской <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>в рамках принятого Типового положения о системе управления охраной труда на строительных площадках организованы «Показательные обходы» рабочих мест подрядных организаций. Целью «Показательных обходов» является контроль генеральным подрядчиком общего состояния охраны труда на рабочих местах строительной площадки конкретной подрядной организации при участии ее руководителей и специалистов по охране труда. По результатам проверок анализируются причины нарушений требований и норм охраны труда работниками, оказывается содействие во внедрении в производство более совершенных технологий, новой техники, автоматизации и механизации производственных процессов с целью создания здоровых и безопасных условий труда.</p>

        <h5 class="mt-4"><strong>Отражение вопросов здоровья и безопасности в официальных соглашениях с профсоюзами <span class="color_GOST">(GRI <span id="gri-403-4">403-4</span>)</span></strong></h5>

        <p class="mt-4">Обязательства работодателя по организации медицинского страхования и оздоровления работников закреплены коллективным договором предприятий. Вопросы охраны труда и безопасности работников отражены в специальном разделе коллективного договора. Представители профсоюза включаются в состав комиссий по аттестации работников и рабочих мест, по расследованию несчастных случаев на производстве, комиссий по социальным вопросам, по трудовым спорам, а также иных комиссий, создаваемых для решения различных вопросов социально-трудовой сферы.</p>
        <p>Работодатель информирует работников о нормативных требованиях к условиям работы на его рабочем месте, о необходимых и обязательных к применению средствах индивидуальной и коллективной защиты для предотвращения заболеваний. Все работники Компании имеют возможность медицинского осмотра, своевременного выявления и лечения заболеваний. Ежегодно проводится вакцинация работников против гриппа. Работникам и их детям гарантирована материальная помощь для проведения платного лечения при возникновении тяжелых заболеваний. В целях сохранения и укрепления здоровья организуются профилактические и спортивные мероприятия.</p>

        <h5 class="mt-4"><strong>Основные задачи в области охраны и безопасности труда на 2018 год:</strong></h5>
        
        <ul class="mt-4">
            <li class="mt-2">актуализация и распространение системы управления охраной труда в организациях и филиалах по всему контуру управления АО ИК «АСЭ»,</li>
            <li class="mt-2">реализация комплексного плана мероприятий по обеспечению безопасности и предотвращению травматизма,</li>
            <li class="mt-2">обеспечение целевого значения по показателю травматизма LTIFR на уровне 0,32 по всем организациям, входящим в контур управления АО ИК «АСЭ».</li>
        </ul>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="/js/echarts.min.js"></script>
    <script src="/js/chartsHumCap.js"></script> 

    <script src="/js/fm.revealator.jquery.min.js"></script>
{% endblock %}