<!doctype html>
<html lang="en">

<head>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter50397847 = new Ya.Metrika2({
                        id:50397847,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/50397847" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <title>{{title}}</title>
    {% include "./templates/inhead.html" %}
    <link rel="stylesheet" href="/css/fsp-sidepanel.css">
</head>

<body>
<div id="right-sidepanel" class="fsp-sidepanel fsp-sidepanel-right">
    <div class="container-fluid">
        <div class="row">
            <div id="close-sidepanel">&#10005;</div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#bookmarks-list" aria-expanded="false">
                    <strong>Избранное</strong>
                </a>

                <span id="delete-bookmarks">&#10006;</span>

                <ul class="collapse-content collapse" aria-labelledby="headingOne" id="bookmarks-list">
                    
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#history-list" aria-expanded="false">
                    <strong>История</strong>
                </a>

                <ul class="collapse-content collapse" aria-labelledby="headingOne" id="history-list">
                    
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="main" class="fsp-content">
    {% include "./templates/header.html" %}
    <div class="pdf">
        <div class="content">
            <div id="header">
                <div class="container-fluid header-text">
                    <div class="row">
                        <div class="col-12">
                            <div class="header-tagline">
                                <h1>
                                    Будь<br> 
                                    цифровым
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="row header-bottom-btns">
                        <div class="col-6">
                            <div class="header-down-btn">
                                <a class="go-anchor" href="#aboutCompany">
                                    <img src="../../img/down-blue.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="buttons-bar">
                                <a href="javascript:void(0)" onclick="window.print()" title="Печать"><div class="circle"><img src="../img/print.png" class="icon"></div></a>
                                <a href="/feedback" title="Обратная связь"><div class="circle"><img src="../img/call.png" class="icon"></div></a>
                                <a href="#">
                                    <div class="circle" id="link"><img src="../img/share.png" class="icon" title="Поделиться">
                                        <div class="share">
                                            <a href="javascript:void(0)" onclick="Share.vkontakte()"><img src="../img/vk.png" class="linker"></a>
                                            <a href="javascript:void(0)" onclick="Share.mail()"><img src="../img/email.png" class="linker"></a>
                                            <a href="javascript:void(0)" onclick="Share.facebook()"><img src="../img/facebook.png" class="linker"></a>
                                            <a href="javascript:void(0)" onclick="Share.google()"><img src="../img/google.png" class="linker"></a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
    
                    <div class="row header-right-btns">
                        <div class="col-12">
                            <div class="right-btns">
                                <a href="#">
                                    <div id="bookmark">
                                        <img src="../img/bookmark.png" class="history-bkmrk">
                                        <div class="bookmark-additional">
                                            <a id="add-bookmark" href="javascript:void(0)" onclick="addBookmark()" title="Добавить в избранное"><img src="../img/bookmark_add.png" alt=""></a>
                                            <a id="open-bookmark" href="javascript:void(0)" title="Открыть избранное"><img src="../img/bookmark_show.png" alt=""></a>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div id="history">
                                        <a id="open-history" href="javascript:void(0)" title="Открыть историю">
                                            <img src="../img/history.png" class="history-bkmrk">
                                        </a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content container-fluid index">
                <section id="aboutCompany">
                    <div id="tab-one" class="row tabs">
                        <div class="col-12 container center ">
                            <a class="title"> О компании </a>
                            <p class="mt-sm-4">Инжиниринговый дивизион – центр инжиниринговых и проектных компетенций атомной отрасли. <br>
                                В разделе приведены основные характеристики Дивизиона и входящих в него компаний.
                            </p>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <div class="container white-tab">
                                <div>
                                    <p class="tab-digit">23</p>
                                    <p>страны мира, где Компания ведет деятельность (в 2017)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <div class="container white-tab">
                                <div>
                                    <p class="tab-digit">33</p>
                                    <p>энергоблока в портфеле (в 2017)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <div class="container white-tab">
                                <div>
                                    <p class="tab-digit">16 677</p>
                                    <p>общая численность сотрудников <br>(в 2017)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div id="tab-two" class="row tabs">
                    <div class="col-12 container center ">
                        <a class="title"> Стратегия </a>
                        <p class="mt-sm-4">Стратегия Дивизиона направлена на удержание лидерских позиций на рынке строительства АЭС и на
                            поддержание операционной
                            и финансовой устойчивости. <br>
                            В разделе описаны кратко- и долгосрочные стратегические цели, а также вклад отчетного года в их
                            достижение.</p>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-12 ">
                        <div class="container green white-tab">
                            <p class="tab-digit">92,2</p>
                            <h6>
                                <p>
                                    млрд 
                                    <br>долларов 
                                    <br>США
                                </p>
                            </h6>
                        </div>
                        <div class="row">
                            <div class="col-6"></div>
                            <div class="col-6">
                                <p>портфель зарубежных заказов (традиционные продукты и диверсификация) (в 2017)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-12 ">
                        <div class="container purple white-tab">
                            <p class="tab-digit">91,9</p>
                            <h6>
                                <p>
                                    млрд руб.
                                </p>
                            </h6>
                        </div>
                        <div class="row">
                            <div class="col-6"></div>
                            <div class="col-6">
                                <p>портфель заказов по новым продуктам (вне контура) (в 2017)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-12 ">
                        <div class="container blue white-tab">
                            <p class="tab-digit mt-3">104,5% </p>
                        </div>
                        <div class="row">
                            <div class="col-6"></div>
                            <div class="col-6">
                                <p> Индекс выполнения инвестиционной программы АО «Концерн Росэнергоатом» (в зоне ответственности) (в 2017)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-three" class="row tabs">
                    <div class="col-12 container center ">
                        <a class="title"> Бизнес-модель и управление капиталами </a>
                        <p class="mt-sm-4">В основе бизнес-модели Компании лежит ее долгосрочная стратегия и устойчивое развитие
                            бизнеса. <br>
                            В разделе схематично показана бизнес-модель, охарактеризованы капиталы и их динамика.</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="container white-tab">
                            <p class="tab-digit">175,2</p>
                            <h3><p>млрд руб.</p></h3>
                            <p>выручка (в 2017)</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="container white-tab">
                            <p class="tab-digit">+12,9%</p>
                            <p>рост производительности труда (2017/2016)</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="container white-tab">
                            <p class="tab-digit">3</p>
                            <h3><p>энергоблока</p></h3>
                            <h3><p>физический пуск<br>(в 2017)</p></h3>
                        </div>
                    </div>
                </div>
                <div id="tab-four" class="row tabs">
                    <div class="col-12 container center ">
                        <a class="title"> Трансформация Инжинирингового дивизиона в цифровую компанию </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="container white-tab row">
                            <div class="col-auto p-1">
                                <div class="flag purple"></div>
                            </div>
                            <div class="col">
                                <p>Создана главная лаборатория цифровой экономики</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="container white-tab row">
                            <div class="col-auto p-1">
                                <div class="flag blue"></div>
                            </div>
                            <div class="col row">
                                <div class="col-12">
                                    <p>Промышленно-технологическая Цифровая Платформа</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="container white-tab row">
                            <div class="col-auto p-1">
                                <div class="flag green"></div>
                            </div>
                            <div class="col">
                                <p>Новые партнеры: Assystem S A, SAP СНГ, Hilti и др.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-four" class="row tabs">
                    <div class="col-12 container center ">
                        <a class="title"> Взаимодействие с заинтересованными сторонами </a>
                        <p class="mt-sm-4"> Инжиниринговый дивизион в своей деятельности стремится к формированию партнерских и
                            взаимовыгодных отношений с
                            заинтересованными сторонами. <br>
                            В разделе перечислены основные принципы взаимодействия с заинтересованными сторонами, приведены
                            результаты взаимодействия
                            в отчетном году.</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12 ">
                        <div class="container  row">
                            <div class="col-auto p-1">
                                <div class="flag purple"></div>
                            </div>
                            <div class="col p-0">
                                <p class="tab-digit">3 678</p>
                                <p>количество созданных <br>
                                    рабочих мест
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12 ">
                        <div class="container row">
                            <div class="col-auto p-1">
                                <div class="flag blue"></div>
                            </div>
                            <div class="col p-0">
                                <p class="tab-digit">274,3
                                    <span class="moneySize">млн руб.</span>
                                </p>
                                <p>направлено на развитие регионов <br>
                                    в виде благотворительных средств
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12 ">
                        <div class="container row">
                            <div class="col-auto p-1">
                                <div class="flag green"></div>
                            </div>
                            <div class="col p-0">
                                <p class="tab-digit">6 263
                                    <span class="moneySize">млн руб.</span>
                                </p>
                                <p>объем <br>
                                    перечисленных налогов
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-five" class="row tabs">
                    <div class="col-12 container center ">
                        <a class="title"> Об отчете </a>
                        <p class="mt-sm-4"> Отчет подготовлен на уровне лучших мировых практик годовой отчетности и соответствует требованиям Международного стандарта интегрированной отчетности (International &lt;IR&gt; Framework) и требованиям серии стандартов в области устойчивого развития Global Reporting Initiative (GRI SRS). <br>
                            В разделе дана информация о границах отчетности, указаны существенные темы, перечислены процедуры
                            по верификации
                            Отчета.
                        </p>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="container white-tab">
                            <div>
                                <img class="tab-img" src="../../img/mainPage/16.png">
                            </div>
                            <div class="mt-sm-4">
                                <p>
                                    <span>Публичные отчеты:</span>
                                </p>
                                <ul>
                                    <li>интегрированный отчет Дивизиона,</li>
                                    <li>буклет Дивизиона по итогам года,</li>
                                    <li>отчеты дочерних обществ,</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="container white-tab">
                            <div>
                                <img class="tab-img" src="../../img/mainPage/17.png">
                            </div>
                            <div class="mt-sm-4">
                                <p>
                                    <span>Впервые диалог со стейкхолдерами прошел на площадке строительства – на Нововоронежской АЭС-2</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="container white-tab">
                            <div>
                                <img class="tab-img" src="../../img/mainPage/18.png">
                            </div>
                            <div class="mt-sm-4">
                                <p>
                                    <span>Определение существенности по технологии Rapid Foresight</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "./templates/footer.html" %}
        </div>
        {% include "./templates/footer.html" %}
    </div>
</div>


{% include "./templates/adds.html" %}
<script src="../js/share.js"></script>
<script src="../js/fsp-sidepanel.js"></script>
<script src="../js/bookmark.js"></script>
<script src="../js/history.js"></script>
</body>

</html>