{% extends "ru/templates/page.html" %}

{% block link %}
    <link rel="stylesheet" href="/css/info_about_report.css">
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Содержание /</small></a></li>
    <li class="active"><small><strong>Информация об отчете</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/info_report.jpg);
{% endblock %}

{% block  titleText %}
    Информация об отчете
 {% endblock %}

{% block  subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-52">102-52</a></span>
            <span class="hidden-gri">Цикл отчетности</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-51">102-51</a></span>
            <span class="hidden-gri">Дата публикации последнего отчета</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-54">102-54</a></span>
            <span class="hidden-gri">Вариант подготовки отчета «в соответствии» со стандартами GRI, выбранный организацией</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-50">102-50</a></span>
            <span class="hidden-gri">Отчетный период</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-45">102-45</a></span>
            <span class="hidden-gri">Перечень юридических лиц, отчетность которых была включена в консолидированную финансовую отчетность</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-42">102-42</a></span>
            <span class="hidden-gri">Принципы выявления и отбора заинтересованных сторон для взаимодействия</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-32">102-32</a></span>
            <span class="hidden-gri">Роль высшего руководящего органа в отчетности об устойчивом развитии</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-46">102-46</a></span>
            <span class="hidden-gri">Определение содержания и границ Отчета</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-47">102-47</a></span>
            <span class="hidden-gri">Список существенных тем</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-49">102-49</a></span>
            <span class="hidden-gri">Изменения в списке существенных тем и границах раскрытия тем.</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-56">102-56</a></span>
            <span class="hidden-gri">Внешнее заверение</span>
        </span>
    </li>
</ul>
{% endblock %}

{% block content %}
    <p>Публичный годовой отчет за 2017 год (Отчет) 
    <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span> 
    дивизиона Госкорпорации «Росатом» (
        <span class="block">
            <span class="hover">Инжиниринговый</span>
            <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
        </span>
        дивизион, Дивизион, Компания) раскрывает финансовые и нефинансовые результаты деятельности в отчетном году. Отчет выпущен на русском и английском языках.</p> 
    <p><span class="color_GOST">( GRI <span id="gri-102-52">102-52</span> )</span> Интегрированный годовой отчет выпускается ежегодно. Отчет является третьим Отчетом для Дивизиона и десятым для АО ИК «АСЭ». По итогам 2017 года выпущены Интегрированный отчет Дивизиона, буклет (Краткий отчет) Дивизиона по итогам года, отчеты дочерних обществ.</p>
    <p>Приоритетные темы Отчета определены в ходе диалога по определению существенности менеджментом АО ИК «АСЭ» совместно с  представителями основных заинтересованных сторон. Включены в перечень существенных темы «Материалы» и «Обучение», исключены темы «Практики закупок», «Соответствие экологическим требованиям» и «Экологическая оценка поставщиков».</p>
    <p>Отчет подготовлен в соответствии с принципами GRI.</p>
    
    <p class="text-focus">
        Приоритетные темы Отчета — «Трансформация 
        <span class="block">
            <span class="hover">Инжинирингового</span>
            <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
        </span>
        дивизиона Госкорпорации «Росатом» в цифровую компанию» и «Подготовка и повышение квалификации кадров Компании в условиях цифрового перехода».
    </p>

    <h4><br><strong>Стандарты и нормативные требования</strong></h4>

    <br>Отчет подготовлен в соответствии со следующими нормативными документами:
    <strong class="mt-4">Международные стандарты и руководства</strong>
    <ul class="mt-4">
        <li><a href="https://www.accountability.org/">Стандарты серии АА1000 (Institute of Social and Ethical AccountAbility)</a></li>
        <li><a href="https://www.globalreporting.org/standards/">Серия стандартов в области устойчивого развития Global Reporting Initiative <span class="color_GOST">(GRI SRS)</span></a></li>
        <li>
            <a href="http://integratedreporting.org/wp-content/uploads/2015/03/13-12-08-THE-INTERNATIONAL-IR-FRAMEWORK.docx_en-US_ru-RU.pdf ">
                Международный стандарт интегрированной отчетности (International < IR > Framework)
            </a>
        </li>
    </ul>

    <br><strong>Нормативно-правовая база Российской Федерации</strong>
    <ul class="mt-4">
        <li><a href="http://www.consultant.ru/document/cons_doc_LAW_8743/">Федеральный Закон от 26.12.1995 № 208-ФЗ «Об акционерных обществах»</a></li>
        <li><a href="http://www.garant.ru/products/ipo/prime/doc/70540276/">Письмо Банка России «О Кодексе корпоративного управления» № 06–52/2463 от 10.04.2014.</a></li>
        <li><a href="http://www.consultant.ru/document/cons_doc_LAW_48699/bda4d01aecaa4df483db7ad5f9db6d49f3c1d535/">Федеральный закон от 21.07.1993 № 5485-1-ФЗ «О государственной тайне»</a></li>
        <li><a href="http://www.consultant.ru/document/cons_doc_LAW_48699/bda4d01aecaa4df483db7ad5f9db6d49f3c1d535/">Федеральный закон от 29.07.2004 № 98-ФЗ «О коммерческой тайне»</a></li>
        <li><a href="https://www.alta.ru/tamdoc/06fz0149/">Федеральный закон от 27.07.2006 № 149-ФЗ «Об информации, информационных технологиях и защите информации»</a></li>
        <li><a href="http://base.garant.ru/70103036/">Федеральный закон от 06.12.2011 № 402-ФЗ «О бухгалтерском учете».</a></li>
    </ul>

    <br><strong>Нормативные документы Госкорпорации «Росатом»</strong>
    <ul class="mt-4">
        <li><a href="http://www.rosatom.ru/upload/iblock/dde/ddea55cbbbfb210c4bf49d1e4e71b095.pdf">Политика Государственной корпорации по атомной энергии «Росатом» в области публичной отчетности</a></li>
        <li><a href="http://www.rosatom.ru/upload/iblock/0c8/0c807dadd9b79d4bc5776122903d6b8a.pdf">Единые отраслевые методические указания по публичной отчетности Госкорпорации «Росатом» и ее организаций</a></li>
        <li><a href="http://www.rosatom.ru/social-respons/code-of-ethecs/">Кодекс этики Государственной корпорации по атомной энергии «Росатом»</a></li>
    </ul>

    <br><strong>Нормативные документы <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона</strong>
    <ul class="mt-4">
        <li><a href="../../file/комиссия.pdf" target="_blank">Положение о Комиссии заинтересованных сторон АО ИК «АСЭ»</a></li>
        <li><a href="../../file/комитет.docx" target="_blank">Положение о Комитете по публичной отчетности АО ИК «АСЭ»</a></li>
        <li>Стандарт организации СТО 8841271.012–2016 «Порядок подготовки публичного годового отчета 
        <span class="block">
            <span class="hover">Инжинирингового</span>
            <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
        </span> 
        дивизиона Госкорпорации «Росатом» за отчетный период»</li>
    </ul>

    <div id="inform"><strong><br>Уровень применения Руководства GRI <span class="color_GOST">(GRI <span id="gri-102-54">102–54</span>)</span></strong></div>
    <br>Отчет соответствует расширенному варианту подготовки Отчета в соответствии с Руководством GRI SRS.

    <em><p>Таблицу соответствия GRI SRS и стандарту < ИО > см. в <a href="../../appendix/1.pdf" target="_blank">Приложении 1</a> Книги приложений.</p></em>

    <h4><br><strong>Границы Отчета</strong><br><br></h4> 

    <p><span class="color_GOST">(GRI <span id="gri-102-50">102-50</span>)</span> В Отчете отражена деятельность Дивизиона в период с 01.01.2017 по 31.12.2017.</p>
    <p>Согласно протоколу заседания Комитета по публичной отчетности Дивизиона от 01.11.2017 г. в п. 3 базовый контур консолидации определен как «АО АСЭ», АО ИК «АСЭ», АО «Атомэнергопроект», АО «АТОМПРОЕКТ», их дочерние организации и иные организации в контуре управления АО ИК «АСЭ» с плановой выручкой более 2 млрд руб. или численностью 2 тыс. человек.</p>
    <p>Компания может измнять Границы Отчета в зависимости от раскрываемой темы.</p>
    <p>Границы по каждой существенной теме определены лицами, ответственными за управление данной темой. Границы отчетности определяются в соответствии со списком организаций, входящих в контур Дивизиона.</p> 
    <p>Бухгалтерская (финансовая) отчетность АО ИК «АСЭ», АО АСЭ, АО «Атомэнергопроект», АО «АТОМПРОЕКТ», ПАО «Энергоспецмонтаж», АО «НИКИМТ-Атомстрой» подготовлена в соответствии с РСБУ и размещена на сайте Интерфакс:</p>
    <br>
    <ul>
        <li><a href="http://www.e-disclosure.ru/portal/company.aspx?id=19054">АО ИК «АСЭ»</a>,</li>
        <li><a href="http://www.e-disclosure.ru/portal/company.aspx?id=36765">АО АСЭ</a>,</li>
        <li><a href="http://www.e-disclosure.ru/portal/company.aspx?id=19524">АО «Атомэнергопроект»</a>,</li>
        <li><a href="http://www.e-disclosure.ru/portal/company.aspx?id=20205">АО «АТОМПРОЕКТ»</a>,</li>
        <li><a href="http://www.e-disclosure.ru/portal/company.aspx?id=25762">ПАО «Энергоспецмонтаж»</a>,</li>
        <li><a href="http://www.e-disclosure.ru/portal/company.aspx?id=26995">АО «НИКИМТ-Атомстрой»</a>.</li>
    </ul> 
    <p><span class="color_GOST">(GRI <span id="gri-102-45">102-45</span>, <span id="gri-102-49">102-49</span>)</span> По сравнению с предыдущим отчетным периодом контур консолидации не изменился. С 2015 года финансовые показатели по управленческому учету формируются по одиннадцати 
     
    <span class="block">
        <span class="hover">ЦФО</span>
        <span class="hidden">центр финансовой ответственности</span>
    </span>
    (АО ИК «АСЭ», АО АСЭ, АО «Атомэнергопроект», АО «Атомпроект» и семь организаций в контуре управления: ООО «АСЭ-
    <span class="block">
        <span class="hover">Инжиниринг</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span>
    », NUKEM Technologies GmbH, ООО «НИАЭП-Сервис», ООО «Трест Росспецэнергомонтаж», Nukem Technologies Engineering Services GmbH, АО «НИКИМТ «Атомстрой», ПАО «Энергоспецмонтаж»).</p>  
    <p>В некоторых разделах Отчета часть показателей приведена по организациям, которые оказывают значительное воздействие на конкретный аспект деятельности Компании. В таких случаях периметр консолидации описан отдельно.</p>
    <p><span class="color_GOST">(GRI <span id="gri-102-51">102-51</span>)</span> Интегрированный годовой отчет <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона за предыдущий год (2016) опубликован на сайте Компании 30.05.2017 г.</p>

    <h4><br><strong>Сведения об аудиторе:</strong></h4>
    <br>
    <p>Аудит бухгалтерской отчетности АО ИК «АСЭ», АО АСЭ, АО АТОМПРОЕКТ,  АО «Атомэнергопроект»,  ПАО «Энергоспецмонтаж», АО «НИКИМТ-Атомстрой» и ООО «Трест РоСЭМ» проводился ООО «Нексиа Пачоли».</p>
    <p>Место нахождения: 119180, г. Москва, ул. Малая Полянка, д. 2, тел. (495) 640 64 52, факс (495) 640 64 53, e-mail: pacioli@pacioli.ru</p>
    <p>Свидетельство о государственной регистрации: № 856.235 Московской регистрационной палаты от 23.06.1995, внесено в Единый государственный реестр за номером <span id="">1027739428716 Межрайонной инспекцией</span> МНС России № 39 по г. Москве 22.10.2002.</p>
    <p>Членство в саморегулируемой организации аудиторов: является членом Саморегулируемой организации аудиторов Ассоциация «Содружество» (включена в реестр аудиторов и аудиторских организаций СРО ААС 28.10.2016).</p>
    <p>В Отчете даны плановые и прогнозные показатели на кратко-, средне- и долгосрочную перспективу. Временные различия по раскрытию планов/прогнозов по отдельным показателям связаны с различным уровнем конфиденциальности информации.</p>
    
    <h4><br><strong>Ответственность за подготовку Отчета</strong></h4>
    <br>
    <p><span class="color_GOST">(GRI <span id="gri-102-32">102-32</span>)</span> Отчет утверждается Президентом АО ИК «АСЭ» и главным бухгалтером АО ИК «АСЭ», а также Советом директоров АО ИК «АСЭ», Советом директоров АО АСЭ, Советом директоров АО «Атомэнергопроект», решением единственного  акционера  АО «АТОМПРОЕКТ».</p>
    
    <h4><br><strong>Определение содержания Отчета</strong></h4>
    <br>
    <p><span class="color_GOST">(GRI <span id="gri-102-46">102-46</span>)</span> <em>Процесс определения существенности</em>
    <p>При подготовке Отчета были определены существенные темы для раскрытия в отчете. Работы проведены в рамках диалога с заинтересованными сторонами по технологии 
    <span class="block">
        <span class="hover">«Rapid Foresight».</span>
        <span class="hidden">Технология, которая позволяет кругу лиц, которые участвуют в форсайте, договориться по поводу образа будущего, своих действий по поводу этого будущего, и своего желаемого будущего. Основа методики: совместная работа участников на карте времени; работа не с текстами, а с образами и схемами</span>
    </span> 
    Форсайт существенности был организован в соответствии с принципами определения содержания отчета GRI SRS и International < IR > Framework.</p> 
    <p><strong>Приоритетные темы Отчета определяются менеджментом АО ИК «АСЭ» и представителями основных заинтересованных сторон в ходе работ по определению существенных тем. Приоритетные темы настоящего Отчета:</strong></p>
    <ul>
        <li><strong>Трансформация 
        <span class="block">
            <span class="hover">Инжинирингового</span>
            <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
        </span> 
        дивизиона Госкорпорации «Росатом» в цифровую компанию,</strong></li>
        <li><strong>Подготовка и повышение квалификации кадров Компании в условиях цифрового перехода.</strong></li>
    </ul>

    <p>В указатель GRI включена информация о 90 показателях GRI по существенным темам.</p>

    <br><span class="color_GOST">( GRI <span id="gri-102-42">102-42</span> )</span>
    
    <br><br><strong>Матрица существенности</strong>
    <div>
        <small class="color_GOST">*Наведите на фактор для получения дополнительной информации</small>
    </div>

    <div class="row">
        <div class="col-12">{% include "./table_info_about.html" %}</div>
    </div>
    
    <h4><br><strong>Верификация Отчета</strong></h4> 
    <br>   
    <p><span class="color_GOST">(GRI <span id="gri-102-56">102-56</span>)</span> Для подтверждения нефинансовой информации в Отчете привлекался независимый аудитор ООО «ЭНПИ Консалт». Заключение см. в <a href="../../appendix/3.pdf" target="_blank">Приложении 3</a> Книги приложений.</p>
    <p>Отчет прошел процедуры общественного/стейкхолдерского заверения, в ходе которых заверялись существенность и полнота отчетной информации, а также реагирование Компании на запросы заинтересованных сторон. 
        <em>Заключение см. в разделе 
        <br>«<a href="/conclusion">Заключение об общественном/стейкхолдерском заверении Отчета</a>».
        </em>
    </p>
    <p>В сентябре–октябре 2018 года Отчет пройдет процедуры общественного/экспертного заверения Совета по нефинансовой отчетности Российского союза промышленников и предпринимателей и Российской Региональной Сети по интегрированной отчетности. Заключение см. в <a href="../../appendix/4.pdf" target="_blank">Приложениях 4</a> и <a href="../../appendix/5.pdf" target="_blank">5</a> Книги приложений.</em></p>
    <p>Был проведен внутренний аудит процесса формирования интегрированного публичного годового отчета 
    <span class="block">
        <span class="hover">Инжинирингового</span>
        <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
    </span> 
    дивизиона за 2017 год. <em>Заключение Службы внутреннего контроля и аудита см. в <a href="../../appendix/2.pdf" target="_blank">Приложении 2</a> Книги приложений.</em></p>
    
    <h4><br><strong>Заявление об ограничении ответственности за публикацию прогнозных данных</strong></h4>
    <br>
    <p>Отчет содержит заявления прогнозного характера относительно производственных, финансовых, экономических, социальных и иных показателей, характеризующих дальнейшее развитие Компании. Реализация планов и намерений связана с меняющейся политической, экономической, социальной и правовой ситуацией в России и мире. В связи с этим фактические результаты деятельности в последующих периодах могут отличаться от прогнозируемых.</p>
{% endblock %}

{% block scripts %}
    <script src="/js/about_report.js"></script>
{% endblock %}