{% extends "ru/templates/page.html" %}

{% block link %}
    <link rel="stylesheet" href="/css/table.css">
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Содержание /</small></a></li>
    <li><a href="#"><small>Глава 2 /</small></a></li>
    <li class="active"><small><strong> 2.3.</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/2.3.jpg);
	background-position-y: 55%;
{% endblock %}

{% block  titleText %}
    2.3. Интеллектуальный капитал 
{% endblock %}

{% block  subtitleText %}
{% endblock %}

{% block content %}
        <div class="blockLineLeftTxt mt-4">
            <p class="txtHead">Интеллектуальный капитал Дивизиона включает нематериальные активы, такие как знания, технологии
и интеллектуальную собственность. Интеллектуальный капитал имеет принципиальное значение для
инновационной деятельности и достижения стратегических целей Дивизиона. Управление интеллектуальным капиталом включает вклады в разработку новых и совершенствование имеющихся технологий,
сохранение и преумножение накопленных профессиональных знаний, инновационные разработки, НИОКР
и патентование разработок.</p>
        </div>

    <div class="row mt-4">
        <div class="col-lg-4 col-md-4 col-sm-12 bossPhoto" style="background-image: url(../img/аленьков.jpg); background-position-x: 40%;"></div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            
            <h5><strong>Вячеслав Аленьков,
            <br>директор по системной инженерии 
            <br>и информационным технологиям</strong></h5>

            <br><strong>
                Каковы количественные показатели результативности использования технологии 
                <br>Multi-D в 2017 году?</strong>
            <em class="directSpeech"><p class="mt-4">&#8211; В <span class="block">
	<span class="hover">Инжиниринговом</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизионе используются 40 модулей единого информационного пространства, интегрированные в единую технологию Multi-D. В том числе – технология комплексного информационного моделирования, учитывающая требования по управлению конфигурацией и изменениями. Она внедрена и активно используется на девяти площадках 
<span class="block">
	<span class="hover">сооружения АЭС</span>
	<span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
</span> в России и за рубежом. Внедрение технологии в первую очередь обеспечивает выполнение требований <span class="block">
	<span class="hover">заказчика</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span> по <span class="block">
	<span class="hover">ЕРС</span>
	<span class="hidden">Компании, реализующие проект «под ключ». Функционал EPC-компании включает проектирование, поставки и строительство</span>
</span>-контрактам в части создания и передачи Информационной модели, а также позволяет сократить сроки согласования документации с <span class="block">
	<span class="hover">заказчиком</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span>.</p>
            <p>Отдельные цифровые продукты, такие как Multi-D IMS или Multi-D Объединенный график, уже поставляются на внеотраслевые рынки. Например, заключен контракт на поставку Multi-D IMS во Францию, реализован контракт по внедрению Multi-D Объединенный график при сооружении высокоскоростной железнодорожной магистрали «Москва – Казань».</p></em>

            <br><strong>В чем состоят преимущества технологии Multi-D как флагманского проекта атомной отрасли в области цифровизации?</strong>
            <em class="directSpeech"><p class="mt-4">&#8211; С нашей точки зрения, основное преимущество технологии Multi-D в комплексном подходе к вопросам управления проектами сложных инженерных объектов. Как показал наш опыт внедрения принципиально новых технологий информационного моделирования и управления информацией, не достаточно просто внедрить в Компании новое программное обеспечение. Внедрение современных технологий влечет за собой изменения бизнес-процессов Компании, а также требует серьезного повышения компетенции сотрудников в части работы в цифровой среде. Технология Multi-D – это не просто IT-инструмент, предлагаемый отдельным вендором, это в первую очередь методология управления проектом, созданная на основе огромного опыта Группы компаний ASE по управлению проектами сооружения сложных объектов капитального строительства, примененная в интегрированном IT-подходе. В рамках поставки услуг по внедрению Multi-D мы предлагаем комплексный подход: анализ текущей системы управления проектом <span class="block">
	<span class="hover">заказчика</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span>, рекомендации по оптимизации процессов, услуги по настройке инструментария под специфические требования <span class="block">
	<span class="hover">заказчика</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span>, комплекс обучающих и консультационных материалов и пр. Если коротко, мы предлагаем <span class="block">
	<span class="hover">заказчикам</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span> принципиально новый стандарт управления проектами на основе технологии Multi-D, позволяющий реализовывать сложные капитальные проекты в заданные сроки и стоимость с необходимым качеством.</p></em>

            <br><strong>Какими возможностями обладает технология «Multi-D» для ее использования в других отраслях?</strong>
            <em class="directSpeech"><p class="mt-4">&#8211; Технология Multi-D, с нашей точки зрения, достаточно универсальна и может применяться не только в рамках атомной отрасли. Как я уже говорил выше, это совокупность методологии бизнес-процессов, моделей, баз данных, программных решений, позволяющих решать задачи управления полным жизненным циклом объекта капитального строительства и обеспечивающих единое информационное пространство для формализованного и легитимного взаимодействия специалистов, вовлеченных в процессы проектирования, строительства и эксплуатации объекта строительства.</p>
            <p>Следующий логический шаг развития технологии Multi-D – формирование на ее основе цифровой промышленно-технологической платформы управления сооружением сложного инженерного объекта. Это будет полностью универсальное решение без отраслевой привязки, реализуемое нами в рамках программы «<span class="block">
                    <span class="hover">«Цифровая экономика».</span>
                    <span class="hidden">
                        Экономика, основанная на новых методах генерирования, сбора, обработки, хранения, анализа и передачи данных, а также новых цифровых технологиях:
                            <br>&ndash; робототехника,
                            <br>&ndash; кибер-физические системы,
                            <br>&ndash; индустриальный интернет вещей,
                            <br>&ndash; сети связи пятого поколения,
                            <br>&ndash; аддитивные технологии,
                            <br>&ndash; когнитивные технологии,
                            <br>&ndash; искусственный интеллект,
                            <br>&ndash; машинное обучение,
                            <br>&ndash; Big Data,
                            <br>&ndash; блокчейн,
                            <br>&ndash; многоагентные системы и пр.
                    </span>
                </span> Российской Федерации».</p></em>
        </div>
    </div>

    <div id="under" class="mt-4"><strong>2.3.1. Патентование результатов интеллектуальной деятельности</strong></div>

    <p class="mt-4">В рамках международного патентования технологий <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>с <span class="block">
	<span class="hover">РУ</span>
	<span class="hidden">реакторная установка</span>
</span> VVER в 2017 году подано 106 национальных и региональных заявок на изобретения за рубежом. Разработаны и утверждены три инвестиционных проекта, связанные с обеспечением правовой охраны технологий организаций <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона за рубежом на период до 2022 года.</p>

    <br><small>Таблица 29. Патентование в Российской  Федерации</small>
    <table class="table table-borderless table-responsive tableCenter textCenter middleTable">
        <thead>
            <tr>
                <th>Заявки</th>
                <th>2015</th>
                <th>2016</th>
                <th>2017</th>
            </tr>
        </thead>
            <tbody>
                <tr>
                    <td>
                        Поданные заявки на получение патентов на изобретения, полезные модели, промышленные образцы
                    </td>
                    <td>3</td>
                    <td rowspan="2"><strong>46</strong></td>
                    <td>21</td>
                </tr>
                <tr>
                    <td>
                        Поданные заявки на государственную регистрацию программ для ЭВМ и баз данных
                    </td>
                    <td>10</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td colspan="4"><strong>Полученные охранные документы</strong></td>
                </tr>
                <tr>
                    <td>Изобретения, полезные модели, промышленные образцы</td>
                    <td>2</td>
                    <td rowspan="2">47</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Программы для ЭВМ и базы данных</td>
                    <td>22</td>
                    <td>26</td>
                </tr>
                <tr>
                    <td>Количество изобретений и полезных моделей</td>
                    <td>2</td>
                    <td>6</td>
                    <td>21</td>
                </tr>
                <tr>
                    <td colspan="4"><strong>Ноу-хау</strong></td>
                </tr>
                <tr>
                    <td>Оформлены секреты производства (ноу-хау)</td>
                    <td>-</td>
                    <td>7</td>
                    <td>3</td>
                </tr>
            </tbody>
    </table>

    <p class="mt-4">Целью патентования является обеспечение правовой охраны РИД в составе технологии <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>с <span class="block">
	<span class="hover">РУ</span>
	<span class="hidden">реакторная установка</span>
</span> VVER в странах сооружения станций. Передавая документацию инозаказчику, <span class="block">
	<span class="hover">Инжиниринговый</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизион обеспечивает патентование охраноспособных технических решений, которые раскрываются в документации.</p>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <br><small>Таблица 30. Патентование за рубежом</small>
            <table class="table table-borderless table-responsive tableCenter middleTable">
                <thead>
                    <tr>
                        <th>Заявки</th>
                        <th>2015</th>
                        <th>2016</th>
                        <th>2017</th>
                    </tr>
                </thead>
                <tr>
                    <tbody>
                        <tr>
                            <td>Поданные национальные и региональные заявки (34 страны мира)</td>
                            <td>-</td>
                            <td>20</td>
                            <td>106</td>
                        </tr>
                        <tr>
                            <td>Поданные международные заявки по процедуре <span class="block">
	<span class="hover">РСТ</span>
	<span class="hidden">договор о патентной кооперации (patent cooperation treaty)</span>
</span></td>
                            <td>4</td>
                            <td>3</td>
                            <td>10</td>
                        </tr>
                    </tbody>
            </table>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-0"></div>
    </div>
    
    <div id="under" class="mt-5"><strong>2.3.2. Инновационные проекты, стартовавшие в 2017 году</strong></div>
    
    <div class="row mt-4">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h4 class="titlePage mt-4">Обликовый проект информационной модели 
                <span class="block">
                    <span class="hover">АЭС</span>
                    <span class="hidden">атомная электростанция</span>
                </span> на стадии эксплуатации
            </h4>
            <p class="mt-4">Для разработки обликового проекта информационной модели (ИМ) <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>на стадии эксплуатации в качестве предметной области был выбран проект Ленинградской АЭС‑2, а в качестве базового программного решения для реализации проекта – платформа на основе линейки продуктов Autodesk.</p>
            
            <br><strong>В 2017 году:</strong>

            <ul>
                <li class="mt-2">разработаны концепции новых опционально-пакетных решений для нужд эксплуатирующих организаций;</li>
                <li class="mt-2">проведен анализ отзывов, оценок, требований и предложений эксплуатирующих организаций в части внедряемых информационных платформ;</li>
                <li class="mt-2">опробованы новые, менее ресурсные, системы автоматического проектирования с целью разработки 3D-модели <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>для стадии эксплуатации;</li>
                <li class="mt-2">проработаны варианты необходимой детализации моделей;</li>
                <li class="mt-2">сформирована методологическая основа для выполнения плана мероприятий по разработке полноценной ИМ всего энергоблока;</li>
                <li class="mt-2">сформирован ряд практических рекомендаций, направленных на повышение качества ИМ и увеличение эффективности информационного взаимодействия различных участников формирования ИМ на всех стадиях жизненного цикла<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>;</li>
                <li class="mt-2">рассмотрены возможные направления применения в отрасли средств дополненной реальности.</li>
            </ul>

            <h4 class="titlePage mt-4">Пилотный проект по внедрению подходов BIM-проектирования на 
                <span class="block">
                    <span class="hover">АЭС</span>
                    <span class="hidden">атомная электростанция</span>
                </span> «Эль-Дабаа» (Египет)
            </h4>
            
            <p class="mt-4">В 2017 году велся процесс реинжиниринга и реорганизации проектирования с целью сокращения сроков сооружения и снижения стоимости <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>по следующим направлениям:</p>
            
            <ul class="mt-4">
                <li class="mt-2">разработка подходов и требований к разработке комплексной 3D-модели c применением методологии BIM-моделирования;</li>
                <li class="mt-2">анализ потенциальных проблем при внедрении BIM-проектирования и разработка компенсирующих мероприятий;</li>
                <li class="mt-2">выбор и внедрение в процесс проектирования комплекса программных инструментов, направленных на повышение качества и скорости проектирования;</li>
                <li class="mt-2">разработка организационно-функциональных схем и моделей построения интегрированного процесса проектирования;</li>
                <li class="mt-2">повышение степени взаимодействия участников проектов.</li>
            </ul>

            <h4 class="titlePage mt-4">Работы по организации процесса типизации и каталогизации проектных решений и оборудования 
                <span class="block">
                    <span class="hover">АЭС</span>
                    <span class="hidden">атомная электростанция</span>
                </span> VVER:
            </h4>

            <ul class="mt-4">
                <li class="mt-2">анализ параметров оборудования с целью его типизации для дальнейшего применения на всех проектах <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>VVER;</li>
                <li class="mt-2">анализ проектных, схемных и компоновочных решений на предмет возможности их применения на всех станциях в неизменном виде (типовое решение);</li>
                <li class="mt-2">анализ причин, вызывающих изменения в референтной станции, разработка предложений по минимизации количества вариантов таких решений;</li>
                <li class="mt-2">получение необходимых согласований для принятия удачных решений в качестве типовых на всех предприятиях Госкорпорации «Росатом»;</li>
                <li class="mt-2">разработка предложений по оптимизации функциональных возможностей и доработке каталога ЕОНКОМ.</li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-0"></div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h4 class="titlePage mt-4">Сокращение капитальных и эксплуатационных расходов для 
                <span class="block">
                    <span class="hover">АЭС</span>
                    <span class="hidden">атомная электростанция</span>
                </span> «Эль-Дабаа» (Египет) и 
                <span class="block">
                    <span class="hover">АЭС</span>
                    <span class="hidden">атомная электростанция</span>
                </span> «Пакш II» (Венгрия) путем внедрения новых и оптимизации существующих проектных решений
            </h4>
            
            <p class="mt-4">Созданы рабочие группы для проведения инженерного анализа проектных требований и решений с целью выявления и хеджирования рисков, которые могут привести к увеличению стоимости и сроков 
            <span class="block">
                <span class="hover">сооружения АЭС</span>
                <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
            </span>, а также поиска и внедрения новых оптимизационных решений, повышающих технико-экономические показатели проектируемых объектов.</p>
        
            <br><strong>Рабочие группы осуществляют:</strong>

            <ul>
                <li class="mt-2">анализ и выявление требований <span class="block">
	<span class="hover">ЕРС</span>
	<span class="hidden">Компании, реализующие проект «под ключ». Функционал EPC-компании включает проектирование, поставки и строительство</span>
</span>-Контрактов, ведущих к увеличению стоимости<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>;</li>
                <li class="mt-2">анализ причин и условий площадки, ведущих к увеличению стоимости<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>;</li>
                <li class="mt-2">разработку предложений по применению альтернативных подходов и методик проектирования, альтернативных технических решений, ведущих к уменьшению стоимости владения<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>.</li>
            </ul>
            <p>Также ведутся работы по применению математического инструментария и методов системного анализа для решения производственных и оптимизационных задач.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div id="margIntCap"><div class="blockLineLeftTxt"><p class="headerPage"><strong>Пример реализованной инновации</strong> – использование технологии Semantic Web для управления техническими требованиями к 
                <span class="block">
                    <span class="hover">АЭС</span>
                    <span class="hidden">атомная электростанция</span>
                </span>.</p></div></div>
        </div>
    </div>


    <div id="under" class="mt-5"><strong>2.3.3. Проекты по внедрению информационных технологий:</strong></div>

    <ul class="mt-5">
        <li class="mt-2">Электронный технический документооборот (Система технического электронного документооборота в 2017 году была развернута как часть IMS на проектах <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Руппур», <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Пакш II», <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Бушер‑2» и <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Ханхикиви‑1». На последнем проекте <span class="block">
	<span class="hover">заказчик</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span> принимает документацию к рассмотрению исключительно размещенную в системе. По проектам <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Руппур», <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Пакш II», <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Бушер‑2» проведено обучение <span class="block">
	<span class="hover">заказчика</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span>, проводится дополнительная настройка функционала);</li> 
        <li class="mt-2">введение в промышленную эксплуатацию Системы технического электронного документооборота на проекте 
        <span class="block">
            <span class="hover">сооружений АЭС</span>
            <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
        </span> «Ханхикиви‑1»;</li>
        <li class="mt-2">введение в промышленную эксплуатацию Системы технического электронного документооборота на проектах 
        <span class="block">
            <span class="hover">сооружений АЭС</span>
            <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
        </span> «Руппур», <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Пакш II»;</li>
        <li class="mt-2">отраслевой номенклатурный каталог оборудования и материалов для<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>.</li>
        <li class="mt-2">структура классификатора отраслевой номенклатурный каталог оборудования и материалов для <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>(ЕОНКОМ) приведена в соответствие со структурой справочника <span class="block">
	<span class="hover">МТР</span>
	<span class="hidden">материально-технические ресурсы</span>
</span> единой отраслевой системы управления нормативно-справочной информацией (ЕОС НСИ);</li>
        <li class="mt-2">реализован интеграционный механизм передачи данных по <span class="block">
	<span class="hover">МТР</span>
	<span class="hidden">материально-технические ресурсы</span>
</span> из ЕОС НСИ в ЕОНКОМ;</li>
        <li class="mt-2">проведена реструктуризация шаблонов классов <span class="block">
	<span class="hover">МТР</span>
	<span class="hidden">материально-технические ресурсы</span>
</span>, позволяющая хранить и передавать во внешние информационные системы соответствующую информацию;</li>
        <li class="mt-2">проведена работа по тестированию технологии передачи данных по <span class="block">
	<span class="hover">МТР</span>
	<span class="hidden">материально-технические ресурсы</span>
</span> из ЕОНКОМ в систему автоматизированного проектирования SPF. В рамках этой задачи проведена настройка и проверка корректности передачи технических характеристик по 1 474 классам оборудования;</li>
        <li class="mt-2">введен в промышленную эксплуатацию функционал по формированию в автоматическом режиме производственных экранов по российским проектам сооружений;</li> 
        <li class="mt-2">доработан ряд отчетов с целью автоматизации и расширения аналитической информации в модуле;</li>
        <li class="mt-2">настроена интеграция с ИС «Электронная Обея». Отчеты и визуализации из модуля Аналитика размещаются в ИС «Электронная Обея» с группировкой по проектам, функциональным областям, зонам ответственности.</li>
    </ul>   


    <div id="under" class="mt-5"><strong>2.3.4. Технология Multi-D</strong></div>
    
    <p class="mt-5"><span class="block">
	<span class="hover">Инжиниринговый</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизион обладает высоким уровнем компетенций в управлении проектами по сооружению сложных капитальных объектов. Залогом успешности Компании в управлении проектами является наличие передовой системы управления жизненным циклом атомных станций – технологии Multi-D.</p> 
    <p>Технология Multi-D направлена на оптимизацию строительно-монтажных работ и основана на детальном планировании последовательности рабочих операций. Основная цель технологии – сокращение сроков сооружения энергоблоков<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>.</p> 
    <p>Данная технология может использоваться не только для отраслевых задач – она может быть принята как стандарт для управления капитальными объектами в других секторах экономики.</p>
    <p>Комплексная система управления проектами, одним из ключевых инструментов которой является технология Multi-D, позволила АО ИК «АСЭ» в 2018 году пройти добровольную международную сертификацию по управлению проектами, программами, портфелями проектов и программ. По ее итогам Компания получила сертификат Международной ассоциации управления проектами соответствия 4-му классу компетентности в области управления проектами, программами, портфелями по модели <span class="block">
	<span class="hover">IPMA</span>
	<span class="hidden">Повышение эффективности проектной деятельности предприятия, осуществляемой в соответствии с лучшими международными практиками в сфере управления проектами. Подтверждение компетентности организации в управлении проектами на международном уровне.</span>
</span> Delta.</p>

    <em><p>Информацию о технологии Multi-D см. в <a href="http://ase-ec.ru/sustainability/public-reporting/reports/">Публичном годовом отчете <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона за 2016 год.</a></p></em>

    <h4 class="titlePage mt-5"><strong>Планы на 2018 год и среднесрочную перспективу:</strong></h4>

    <ul class="mt-5">
        <li class="mt-2">внедрение инновационных/новых проектных решений, подходов к проектированию, методик и материалов для применения в проектах<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>;</li>
        <li class="mt-2">создание концепции Цифрового двойника<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>;</li>
        <li class="mt-2">внедрение в повседневную деятельность Дивизиона подходов BIM-моделирования;</li>
        <li class="mt-2">участие совместно с АО «Концерн Росэнергоатом» в программе создания атомных станций малой мощности на базе реакторных установок РИТМ‑200;</li>
        <li class="mt-2">внедрение подходов по унификации проектных решений и оборудования в процессе осуществления деятельности Дивизиона;</li>
        <li class="mt-2">создание программы НИОКР, направленной на сокращение стоимости сооружения и владения<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>.</li>
    </ul>
{% endblock %}