{% extends "ru/templates/page.html" %}

{% block link %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Содержание /</small></a></li>
    <li class="active"><small><strong> Ключевые показатели 2017 года</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/interactive.jpg);
{% endblock %}

{% block  titleText %}
    Ключевые показатели 2017 года
{% endblock %}

{% block  subtitleText %}
{% endblock %}

{% block content %}

    <br>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div>
                <center><small class="color_GOST">*Наведите курсор на график для получения дополнительной информации</small></center>
            </div>
            <div id="charts">
                <div class="col-lg-12 col-md-12 col-sm-12" id="ChartA" style="height: 400px;"></div>
            </div>
            <br><h4><strong>Вид графика</strong></h4>
            <form id="radioForm">
                <input type="radio" id="radio_1" name="type" value="1" checked onclick="switchToLine()">
                <strong>Линейный</strong><br>
                <input type='radio' id='radio_2' name='type' value='2' onclick="switchToBar()">
                <strong>Гистограмма</strong>
            </form>
            <br>
            <form id="inputForm">
                <input type="checkbox" id="iai-1" value="1" checked="">
                <strong>
                    <label for="iai-1">
                        <div class="block">
                            <div class="hover">Портфель зарубежных заказов, млрд долл. США (традиционные продукты и диверсификация)</div>
                            <span class="hidden">Динамика является следствием контрактации новых проектов и освоения действующих контрактов</span>
                        </div>
                    </label>
                </strong><br>
                
                <input type="checkbox" id="iai-2" value="2" >
                <strong>
                    <label for="iai-2">
                        <div class="block">
                            <div class="hover">Портфель заказов по новым продуктам вне контура, млрд руб.</div>
                            <span class="hidden">Динамика 2017 г. с учетом контрактации Nukem Technologies GmbH и работ по объектам обращения с радиоактивными отходами на <span class="block">
	<span class="hover">э/б </span>
	<span class="hidden">энергоблок</span>
</span>№ 5, 6 <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Куданкулам»</span>
                        </div>
                    </label>
                </strong><br>

                <input type="checkbox" id="iai-3" value="3" >
                <strong>
                    <label for="iai-3">
                        <div class="block">  
                            <div class="hover">Выручка, млрд руб.</div>
                            <span class="hidden">Рост выручки связан с разворачиванием в 2017 году работ по новым проектам (например, <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Эль-Дабаа», <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Пакш II», <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Бушер-2» <span class="block">
	<span class="hover">э/б </span>
	<span class="hidden">энергоблок</span>
</span>№ 2, 3) и выполнением значительного объема работ по Белорусской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>, находящейся в активной фазе строительства. Динамика является следствием контрактации новых проектов и освоения действующих контрактов</span>
                        </div>
                    </label>
                </strong><br>

                <input type="checkbox" id="iai-4" value="4" >
                <strong>
                    <label for="iai-4">
                        <div class="block">
                            <div class="hover">EBITDA*, млрд руб.</div>
                            <span class="hidden">* Показатели 2016 и 2017 гг. указаны с учетом возмещения убытков по <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Белене» (Болгария), в показателе 2016 года в скобках показатель указан без учета возмещения убытков по <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Белене». Рост фактического значения  показателя 2017 г. относительно плана связан с ростом прибыли от продаж (основные проекты - Белорусская<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>, <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Куданкулам» <span class="block">
	<span class="hover">э/б </span>
	<span class="hidden">энергоблок</span>
</span>№ 3, 4, <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Бушер-2» <span class="block">
	<span class="hover">э/б </span>
	<span class="hidden">энергоблок</span>
</span>№ 2, 3). Снижение плана 2018 года обусловлено изменением структуры выручки (см. раздел 2.1.1. Финансовые результаты)</span>
                        </div>
                    </label>
                </strong><br>

                <input type="checkbox" id="iai-5" value="5" >
                <strong>
                    <label for="iai-5">
                        <div class="block">    
                            <div class="hover">Общий объем инвестиций, млрд руб.</div>
                            <span class="hidden">
                                За счет средств консолидированного инвестиционного ресурса Госкорпорации «Росатом».
                                <br>С привлечением внешнего источника финансирования.
                            </span>
                        </div>
                    </label>
                </strong><br>

                <input type="checkbox" id="iai-6" value="6" >
                <strong>
                    <label for="iai-6">
                        <div class="block">
                            <div class="hover">Производительность труда (по собственному доходу), млн руб./чел.</div>
                            <span class="hidden">Рост производительности труда обусловлен реализацией ПСР-проектов и внедрением передовых технологий сооружения и управления проектами, а также ростом объема работ, выполненных собственными силами</span>
                        </div>
                    </label>
                </strong><br>

                <input type="checkbox" id="iai-7" value="7" >
                <strong>
                    <label for="iai-7">
                        <div class="block">   
                            <div class="hover">Количество энергоблоков в портфеле, ед.</div>
                            <span class="hidden">
                                Количество энергоблоков в портфеле Компании осталось неизменным, при этом в начале 2017 г. <span class="block">
	<span class="hover">э/б </span>
	<span class="hidden">энергоблок</span>
</span>№ 2 <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Куданкулам» переведен в коммерческую эксплуатацию, а <span class="block">
	<span class="hover">э/б </span>
	<span class="hidden">энергоблок</span>
</span>№ 1 Нововоронежской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>-2 сдан в промышленную эксплуатацию. В июле 2017 г. подписаны новые контракты на работы для третьей очереди <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Куданкулам», проект сооружения <span class="block">
	<span class="hover">э/б </span>
	<span class="hidden">энергоблок</span>
</span>№ 5, 6 перешел в фазу практической реализации.
                                <br>Включение <span class="block">
	<span class="hover">э/б </span>
	<span class="hidden">энергоблок</span>
</span>в портфель заказов осуществляется на основании заключения договора, исключение <span class="block">
	<span class="hover">э/б </span>
	<span class="hidden">энергоблок</span>
</span>из портфеля – по результату передачи <span class="block">
	<span class="hover">э/б </span>
	<span class="hidden">энергоблок</span>
</span><span class="block">
	<span class="hover">заказчику</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span>. Расчет портфеля осуществляется на 31 декабря отчетного года.
                            </span>
                        </div>
                    </label>
                </strong><br>
    
                <input type="checkbox" id="iai-8" value="8" >
                <strong>
                    <label for="iai-8">
                        <div class="block">
                            <div class="hover">Затраты на выполнение мероприятий по охране окружающей среды, млн руб.</div>
                            <span class="hidden">В 2017 г. рост затрат в основном связан с увеличением расходов на организацию мероприятий по проведению производственного экологического мониторинга и необходимостью переоформления разрешительной документации в области охраны окружающей среды</span>
                        </div>
                    </label>
                </strong>
                <br>

                <h4><strong>Потребление  энергетических ресурсов</strong></h4>
                <input type="checkbox" id="iai-9" value="9" >
                <strong>
                    <label for="iai-9">
                        <div class="block">
                            <div class="hover">Электрическая энергия, ГВтч</div>
                            <span class="hidden">Сокращение потребления энергетических ресурсов в 2017 г. обусловлено вводом в эксплуатацию в конце 2016 г. энергосберегающего оборудования и благоприятными погодными условиями в отопительный период</span>
                        </div>
                    </label>
                </strong><br>
                <input type="checkbox" id="iai-10" value="10" >
                <strong>
                    <label for="iai-10">
                        <div class="block">
                            <div class="hover">Тепловая энергия, ТДж</div>
                            <span class="hidden">Сокращение потребления энергетических ресурсов в 2017 г. обусловлено вводом в эксплуатацию в конце 2016 г. энергосберегающего оборудования и благоприятными погодными условиями в отопительный период</span>
                        </div>
                    </label>
                </strong><br>
                <br>

                <h4><strong>Объем образования отходов</strong></h4>
                <input type="checkbox" id="iai-11" value="11" >
                <strong>
                    <label for="iai-11">
                        <div class="block">
                            <div class="hover">Общий объем образования отходов I - V класса опасности, тонн</div>
                            <span class="hidden">В 2017 г. сократился общий объем образования отходов, в том числе отходов IV и V классов опасности, вывозимых для размещения на полигон. Сокращение объемов образования отходов связано с завершением работ и  физическим пуском <span class="block">
	<span class="hover">э/б </span>
	<span class="hidden">энергоблок</span>
</span>№ 4 Ростовской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span></span>
                        </div>
                    </label>
                </strong><br>
                <br>
                
                <input type="checkbox" id="iai-12" value="12" >
                <strong>
                    <label for="iai-12">
                        <div class="block">
                            <div class="hover">Среднесписочная численность сотрудников, чел.</div>
                            <span class="hidden">
                                Факторы, повлиявшие на рост численности сотрудников в 2017 году: 
                                <ul>
                                    <li>переход в активную фазу 
                                    <span class="block">
                                        <span class="hover">сооружения АЭС</span>
                                        <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                                    </span> «Руппур», 
<span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Бушер-2», Курская<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>-2, а также увеличение объемов работ по станциям, уже находящихся в активной фазе строительства (например, Белорусская<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>); </li>
                                    <li>расширение компетенций работников проектного блока по зарубежным проектам;</li> 
                                    <li>развитие блока системной инженерии и информационных технологий в рамках цифровой трансформации компании (3 % от общего прироста численности сотрудников).</li>
                                </ul>
                            </span>
                        </div>
                    </label>
                </strong><br>
                <input type="checkbox" id="iai-13" value="13" >
                <strong>
                    <label for="iai-13">
                        <div class="block">
                            <div class="hover">Общая численность сотрудников по состоянию на 31 декабря каждого года, чел.</div>
                            <span class="hidden">
                                Факторы, повлиявшие на рост численности сотрудников в 2017 году: 
                                <ul>
                                    <li>переход в активную фазу 
                                    <span class="block">
                                        <span class="hover">сооружения АЭС</span>
                                        <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                                    </span> «Руппур», 
<span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Бушер-2», Курская<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>-2, а также увеличение объемов работ по станциям, уже находящихся в активной фазе строительства (например, Белорусская<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>); </li>
                                    <li>расширение компетенций работников проектного блока по зарубежным проектам;</li> 
                                    <li>развитие блока системной инженерии и информационных технологий в рамках цифровой трансформации компании (3 % от общего прироста численности сотрудников).</li>
                                </ul>
                            </span>
                        </div>
                    </label>
                </strong><br>
                
                <input type="checkbox" id="iai-14" value="14" >
                <strong>
                    <label for="iai-14">
                        <div class="block">
                            <div class="hover">Количество созданных рабочих мест, ед.</div>
                            <span class="hidden">
                                Факторы, повлиявшие на рост численности сотрудников в 2017 году: 
                                <ul>
                                    <li>переход в активную фазу 
                                    <span class="block">
                                        <span class="hover">сооружения АЭС</span>
                                        <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                                    </span> «Руппур», 
<span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Бушер‐2», Курская АЭС‐2, а также увеличение объемов работ по станциям, уже находящихся в активной фазе строительства (например, Белорусская<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>);</li>
                                    <li>расширение компетенций работников проектного блока по зарубежным проектам;</li>
                                    <li>развитие блока системной инженерии и информационных технологий в рамках цифровой трансформации компании (3 % от общего прироста численности сотрудников).</li>
                                </ul>
                            </span>
                        </div>
                    </label>
                </strong><br>

                <input type="checkbox" id="iai-15" value="15" >
                <strong>
                    <label for="iai-15">
                        <div class="block">
                            <div class="hover">Средний возраст работников, лет</div>
                            <span class="hidden">Средний возраст сотрудников Дивизиона на протяжении последних трех лет удерживается на уровне до 42 лет и имеет тенденцию к снижению.  Это обусловлено планомерной работой по привлечению молодых специалистов, обладающих компетенциями в области цифровых технологий, знанием иностранного языка, готовых перенимать опыт и учиться ответственно принимать решения</span>
                        </div>
                    </label>
                </strong><br>

                <input type="checkbox" id="iai-16" value="16" >
                <strong>
                    <label for="iai-16">
                        <div class="block">
                            <div class="hover">Заработная плата и другие выплаты и льготы сотрудникам  в расчете на одного работника, млн руб</div>
                            <span class="hidden">Расчет производится относительно среднесписочной численности сотрудников. Рост выплат обеспечивается в том числе ежегодно проводимой индексацией заработной платы в связи с ростом потребительских цен на товары и услуги</span>
                        </div>
                    </label>
                </strong><br>
            </form>
        </div>
    </div>
    
{% endblock %}

{% block scripts %}
    <script src="/js/fm.revealator.jquery.min.js"></script>
    <script src="/js/echarts.min.js"></script>
    <script src="/js/chartsInteractive.js"></script> 
{% endblock %}