{% extends "ru/templates/page.html" %}

{% block link %}
    <link rel="stylesheet" href="/css/key_metrics.css">
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Содержание /</small></a></li>
    <li class="active"><small><strong>Ключевые показатели</strong></small></li>
{% endblock %}

{% block picture %}
{% endblock %}

{% block  titleText %} 
    Ключевые показатели 
{% endblock %}

{% block  subtitleText %} 
{% endblock %}

{% block content %}
    <div id="under"><strong>В 2017 году отсутствовали нарушения по шкале INES<sup>1</sup> уровня 2 и выше.</strong></div>

    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Показатели</th>
                <th>2015</th>
                <th>2016</th>
                <th>2017 план</th>
                <th>2017 факт</th>
                <th>2017/2016</th>
                <th>2018 план</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Портфель зарубежных заказов, млрд долл. США (традиционные продукты и диверсификация)</strong></td>
                <td>70,1</td>
                <td>92,3</td>
                <td>102,2</td>
                <td>92,2</td>
                <td>-0,2 %</td>
                <td>88,7</td>
            </tr>
            <tr>
                <td colspan="7">Динамика является следствием контрактации новых проектов и освоения действующих контрактов.</td>
            </tr>
            <tr>
                <td><strong>Портфель заказов по новым продуктам вне контура<sup>2</sup> , млрд руб.</strong></td>
                <td>59,5</td>
                <td>90,8</td>
                <td>99,1</td>
                <td>91,9</td>
                <td>+1,2 %</td>
                <td>99,1</td>
            </tr>
            <tr>
                <td colspan="7">Динамика 2017 г. с учетом контрактации Nukem Technologies GmbH и работ по объектам обращения с радиоактивными отходами на э/б № 5, 6 АЭС «Куданкулам». </td>
            </tr>
            <tr>
                <td><strong>Выручка, млрд руб.</strong></td>
                <td>166,6</td>
                <td>152,9</td>
                <td>186,8</td>
                <td>175,2</td>
                <td>14,6 %</td>
                <td>99,1</td>
            </tr>
            <tr>
                <td colspan="7">Рост выручки связан с разворачиванием в 2017 году работ по новым проектам (например, АЭС «Эль-Дабаа», АЭС «Пакш II», АЭС «Бушер-2» э/б № 2, 3) и выполнением значительного объема работ по Белорусской АЭС, находящейся в активной фазе строительства. Динамика является следствием контрактации новых проектов и освоения действующих контрактов.</td>
            </tr>
            <tr>
                <td><strong>EBITDA*, млрд руб.</strong></td>
                <td>6,57</td>
                <td>32,4 (15,2)</td>
                <td>11,3</td>
                <td>13,9</td>
                <td>-8,4 %</td>
                <td>7,7</td>
            </tr>
            <tr>
                <td colspan="7"><small>* Показатели 2016 и 2017 гг. указаны с учетом возмещения убытков по АЭС «Белене» (Болгария), в показателе 2016 года в скобках показатель указан без учета возмещения убытков по АЭС «Белене». Рост фактического значения  показателя 2017 г. относительно плана связан с ростом прибыли от продаж (основные проекты - Белорусская АЭС, АЭС «Куданкулам» э/б № 3, 4, АЭС «Бушер-2» э/б № 2, 3). Снижение плана 2018 года обусловлено изменением структуры выручки (см. раздел 2.1.1. Финансовые результаты).</small></td>
            </tr>
            <tr>
                <td><strong>Общий объем инвестиций, млрд руб.</strong></td>
                <td>1,5</td>
                <td>1,5</td>
                <td>6,7*</td>
                <td>2,7</td>
                <td>85 %</td>
                <td>20,7**</td>
            </tr>
            <tr>
                <td colspan="7">
                    <small>* За счет средств консолидированного инвестиционного ресурса Госкорпорации «Росатом».</small>
                    <br><small>** С привлечением внешнего источника финансирования.</small>
                </td>
            </tr>
            <tr>
                <td><strong>Производительность труда (по собственному доходу), млн руб./чел.</strong></td>
                <td>3,0</td>
                <td>3,3</td>
                <td>3,7</td>
                <td>3,7</td>
                <td>12,9 %</td>
                <td>4,35</td>
            </tr>
            <tr>
                <td colspan="7">Рост производительности труда обусловлен реализацией ПСР-проектов и внедрением передовых технологий сооружения и управления проектами, а также ростом объема работ, выполненных собственными силами.</td>
            </tr>
            <tr>
                <td><strong>Количество энергоблоков в портфеле, ед. <span class="color_GOST">(GRI 102-7)</span></strong></td>
                <td>32</td>
                <td>33</td>
                <td>33</td>
                <td>33</td>
                <td>0 %</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <small><em>1 Международная шкала ядерных событий (INES, International Nuclear Event Scale) разработана Международным агентством по атомной энергии в 1988 году и с 1990 года использовалась в целях единообразия оценки чрезвычайных случаев, связанных с аварийными радиационными выбросами в окружающую среду на атомных станциях, а позднее стала применяться ко всем установкам, связанным с гражданской атомной промышленностью. МАГАТЭ рекомендует оповещать страны-участники в 24-часовой срок о всех авариях выше 2 уровня опасности, когда имеются хотя бы незначительные выбросы радиации за пределы производственной площадки, а также в случаях событий 0 и 1 уровней, если того требует общественный интерес за пределами страны, в которой они произошли.</em></small>

    <br><small><em>2 Новый продукт (бизнес) — это продукт за рамками комплексного предложения по поставке атомной станции и исследовательских реакторов, а также выполнения гособоронзаказа. В 2015-2016 гг. показатель выручки и портфеля по новым продуктам рассчитывался с учетом внутригрупповых оборотов, начиная с 2017 года в расчет идут объемы только вне контура Госкорпорации «Росатом» (внешним заказчикам). В связи с этим в настоящем отчете данные за 2015-2016 гг. пересчитаны и отражают объемы выручки и портфеля по новым продуктам только вне контура Госкорпорации «Росатом».</em></small>

    <table class="table table-bordered table-responsive">
        <tbody>
        <td colspan="7">
            Количество энергоблоков в портфеле Компании осталось неизменным, при этом в начале 2017 г. э/б № 2 АЭС «Куданкулам» переведен в коммерческую эксплуатацию, а э/б № 1 Нововоронежской АЭС-2 сдан в промышленную эксплуатацию. В июле 2017 г. подписаны новые контракты на работы для третьей очереди АЭС «Куданкулам», проект сооружения э/б № 5, 6 перешел в фазу практической реализации.
            <br>Включение э/б в портфель заказов осуществляется на основании заключения договора, исключение э/б из портфеля – по результату передачи э/б заказчику. Расчет портфеля осуществляется на 31 декабря отчетного года.
        </td>
            <tr>
                <td><strong>Затраты на выполнение мероприятий по охране окружающей среды, млн руб.</strong></td>
                <td>22,5</td>
                <td>15,2</td>
                <td>8,4</td>
                <td>18,0</td>
                <td>18,2 %</td>
                <td>Планирование на 2018 год по экологическим показателям проводиться отдельно по каждому направлению деятельности. Консолидированные данные по Дивизиону по плановым экологическим показателям на 2018 год не составлялись.</td>
            </tr>
            <tr>
                <td colspan="7">В 2017 г. рост затрат в основном связан с увеличением расходов на организацию мероприятий по проведению производственного экологического мониторинга и необходимостью переоформления разрешительной документации в области охраны окружающей среды.</td>
            </tr>
            <tr>
                <td colspan="6"><strong>Потребление  энергетических ресурсов</strong></td>
                <td rowspan="3">
                    Планирование на 2018 год по экологическим показателям  проводиться отдельно по каждому направлению деятельности.
                    <br>Консолидированные данные по Дивизиону по плановым экологическим показателям на 2018 год не составлялись.
                </td>
            </tr>
            <tr>
                <td><strong>Электрическая энергия, ГВтч</strong></td>
                <td>46,2</td>
                <td>39,8</td>
                <td rowspan="2">-</td>
                <td>32,4</td>
                <td>-19 %</td>
            </tr>
            <tr>
                <td><strong>Тепловая энергия, ТДж</strong></td>
                <td>204,4</td>
                <td>202,0</td>
                <td>158,3</td>
                <td>-22 %</td>
            </tr>
            <tr>
                <td colspan="7">Сокращение потребления энергетических ресурсов в 2017 г. обусловлено вводом в эксплуатацию в конце 2016 г. энергосберегающего оборудования и благоприятными погодными условиями в отопительный период.</td>
            </tr>
            <tr>
                <td colspan="6"><strong>Объем образования отходов</strong></td>
                <td rowspan="2">
                    Планирование на 2018 год по экологическим показателям  проводиться отдельно по каждому направлению деятельности.
                    <br>Консолидированные данные по Дивизиону по плановым экологическим показателям на 2018 год не составлялись.  
                </td>
            </tr>
            <tr>
                <td><strong>Общий объем образования отходов I - V класса опасности, тонн</strong></td>
                <td>4 728,9</td>
                <td>5 492,2</td>
                <td>-</td>
                <td>5 109,9</td>
                <td>-7 %</td>
            </tr>
            <tr>
                <td colspan="7">В 2017 г. сократился общий объем образования отходов, в том числе отходов IV и V классов опасности, вывозимых для размещения на полигон. Сокращение объемов образования отходов связано с завершением работ и  физическим пуском э/б № 4 Ростовской АЭС.</td>
            </tr>
            <tr>
                <td><strong>Среднесписочная численность сотрудников, чел.</strong></td>
                <td>17 961</td>
                <td>14 919</td>
                <td>14 634</td>
                <td>14 450</td>
                <td>-3,14 %</td>
                <td>17 112</td>
            </tr>
            <tr>
                <td><strong>Общая численность сотрудников по состоянию на 31 декабря каждого года, чел.</strong></td>
                <td>17 755</td>
                <td>14 562</td>
                <td>14 999</td>
                <td>16 677</td>
                <td>14,5 %</td>
                <td>18 273</td>
            </tr>
            <tr>
                <td colspan="7">
                    Факторы, повлиявшие на рост численности сотрудников в 2017 году: 
                    <br>• переход в активную фазу сооружения АЭС «Руппур», АЭС «Бушер-2», Курская АЭС-2, а также увеличение объемов работ по станциям, уже находящихся в активной фазе строительства (например, Белорусская АЭС);
                    <br>• расширение компетенций работников проектного блока по зарубежным проектам; 
                    <br>• развитие блока системной инженерии и информационных технологий в рамках цифровой трансформации компании (3 % от общего прироста численности сотрудников).
                </td>
            </tr>
            <tr>
                <td><strong>Количество созданных рабочих мест, ед.</strong></td>
                <td>3 425</td>
                <td>2 447</td>
                <td>1 864</td>
                <td>3 678</td>
                <td>50,3 %</td>
                <td>2 698</td>
            </tr>
            <tr>
                <td colspan="7">
                    Факторы, повлиявшие на рост численности сотрудников в 2017 году: 
                    <br>• переход в активную фазу сооружения АЭС «Руппур», АЭС «Бушер‐2», Курская АЭС‐2, а также увеличение объемов работ по станциям, уже находящихся в активной фазе строительства (например, Белорусская АЭС); 
                    <br>• расширение компетенций работников проектного блока по зарубежным проектам; 
                    <br>• развитие блока системной инженерии и информационных технологий в рамках цифровой трансформации компании (3 % от общего прироста численности сотрудников).
                </td>
            </tr>
            <tr>
                <td><strong>Средний возраст работников, лет</strong></td>
                <td>41,9</td>
                <td>41,3</td>
                <td>-</td>
                <td>40,8</td>
                <td>-1 %</td>
                <td>-</td>
            </tr>
            <tr>
                <td colspan="7">Средний возраст сотрудников Дивизиона на протяжении последних трех лет удерживается на уровне до 42 лет и имеет тенденцию к снижению.  Это обусловлено планомерной работой по привлечению молодых специалистов, обладающих компетенциями в области цифровых технологий, знанием иностранного языка, готовых перенимать опыт и учиться ответственно принимать решения.</td>
            </tr>
            <tr>
                <td><strong>Заработная плата и другие выплаты и льготы сотрудникам  в расчете на одного работника, млн руб.</strong></td>
                <td>1,10</td>
                <td>1,17</td>
                <td>1,25</td>
                <td>1,18</td>
                <td>+1,3 %</td>
                <td>1,27</td>
            </tr>
            <tr>
                <td colspan="7">Расчет производится относительно среднесписочной численности сотрудников. Рост выплат обеспечивается в том числе ежегодно проводимой индексацией заработной платы в связи с ростом потребительских цен на товары и услуги.</td>
            </tr>
        </tbody>
    </table>
{% endblock %}