{% extends "ru/templates/page.html" %} 

{% block breadcrumb %}
<li>
    <a href="/content">
        <small>Содержание /</small>
    </a>
</li>
<li class="active">
    <small><strong>Ключевые события 2017 года </strong></small>
</li>

{% endblock %} 

{% block link %}
<link rel="stylesheet" href="/css/key_event.css">
{% endblock %}

{# {% block picture %}
    background-image: url(../img/chapters/key_events.png);
{% endblock %} #}

{% block header %}
    <div class="picture_theme_main d-flex align-items-end" style="background-image: url(../img/chapters/key_events.png);">
        <div class="title-wrapper">
            <div class="title">
                <h1>{% block  titleText %} Ключевые события 2017 года {% endblock %}</h1>
            </div>
            <div class="subtitle">
                {% block  subtitleText %}  {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{# {% block titleText%} Ключевые события 2017 года {% endblock %} 

{% block subtitleText%}
{% endblock%}  #}

{% block content %}
    <div class="monthCarousel">
        <img src="/img/calendar.png" style="width: 22px;">
        <span id="January">Январь</span>  
        <span id="February">Февраль</span> 
        <span id="March">Март</span>    
        <span id="April">Апрель</span> 
        <span id="May">Май</span> 
        <span id="June">Июнь</span> 
        <span id="July">Июль</span>   
        <span id="August">Август</span>  
        <span id="September">Сентябрь</span>    
        <span id="October">Октябрь</span> 
        <span id="November">Ноябрь</span>  
        <span id="December">Декабрь</span> 
        <span id="Even">Другие</span>
    </div>

    <div id="carouselExampleIndicators" class="carousel pt-5">
        <img src="/img/arrow.png" style="width: 22px; padding-top: 10px;">
        <ol class="carousel-indicators" style="padding-left: 20px;">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="current-ev other-ev active winter"><div class="circle_winter"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="current-ev winter"><div class="circle_winter"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class="current-ev other-ev spring"><div class="circle_spring"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3" class="current-ev spring"><div class="circle_spring"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4" class="current-ev other-ev spring"><div class="circle_spring"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5" class="current-ev other-ev summer"><div class="circle_summer"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="6" class="current-ev summer"><div class="circle_summer"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="7" class="current-ev other-ev summer"><div class="circle_summer"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="8" class="other-ev autumn"><div class="circle_autumn"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="9" class="current-ev autumn"><div class="circle_autumn"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="10" class="current-ev other-ev autumn"><div class="circle_autumn"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="11" class="current-ev winter"><div class="circle_winter"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="12"><div class="circle_etc"></div></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="month">
                    <strong class="nameMonth">Январь</strong>
                </div>

                <ul class="month-events">
                    <li class="green-ev">
                        <a href="https://www.autodesk.ru/press-releases/archive/2017-01-18 ">
                            Подписано партнерское соглашение с корпорацией Autodesk в области применения информационного моделирования (BIM)
                        </a>
                    </li>

                    <li class="purple-ev">
                        <span class="block">
                            <span class="hover">Энергоблок</span>
                            <span class="hidden hidden-right">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                        </span>
                        № 2 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        «Куданкулам» (Индия) выведен на 100 % уровень мощности
                    </li>
                </ul>
            </div>
            <div class="carousel-item">
                <div class="month">
                    <strong class="nameMonth">Февраль</strong>
                </div>
                
                <ul class="month-events">
                    <li class="purple-ev">
                        <span class="block">
                            <span class="hover">Энергоблок</span>
                            <span class="hidden hidden-right">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                        </span> 
                        № 1 Нововоронежской 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        -2 сдан в промышленную эксплуатацию
                    </li>
                </ul>
            </div>
            <div class="carousel-item">
                <div class="month">
                    <strong class="nameMonth">Март</strong>
                </div>
                
                <ul class="month-events">
                    <li class="purple-ev">
                        <span class="block">
                            <span class="hover">Энергоблок</span>
                            <span class="hidden hidden-bottom">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                        </span>
                        № 2 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        «Куданкулам» (Индия) переведен в коммерческий режим, начат годовой период гарантийной эксплуатации
                        <br>
                        По проекту 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        «Бушер-2» (Иран) начат этап строительно-монтажных работ
                    </li>
                    <li class="green-ev">
                        Заключено дополнительное соглашение с ФГУП «Горно-химический комбинат» на увеличение объема работ по внедрению объединенного
                        графикаинструмента по управлению проектами (сроками и стоимостью)
                    </li>
                </ul>
            </div>
            <div class="carousel-item">
                <div class="month">
                    <strong class="nameMonth">Апрель</strong>
                </div>
                
                <ul class="month-events">
                    <li class="purple-ev">
                        Корпус реактора 
                        <span class="block">
                            <span class="hover">энергоблока</span>
                            <span class="hidden hidden-bottom">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                        </span>
                        № 1 Белорусской 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        установлен в проектное положение
                        <br><br>
                        Подписано Совместное заявление представителей АО «Атомстройэкспорт» и Корпорации по атомной энергии Индии (NPCIL) об окончательной приемке 
                        <span class="block">
                            <span class="hover">энергоблока</span>
                            <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                        </span>
                        № 1 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        «Куданкулам»
                        <br><br>
                        По проекту 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        «Пакш II» (Венгрия) <span class="block">
	<span class="hover">ЕРС</span>
	<span class="hidden">Компании, реализующие проект «под ключ». Функционал EPC-компании включает проектирование, поставки и строительство</span>
</span> Контракт вступил в полную силу, включая финансовые обязательства сторон
                    </li>
                </ul>
            </div>
            <div class="carousel-item">
                <div class="month">
                    <strong class="nameMonth">Май</strong>
                </div>
                
                <ul class="month-events">
                    <li class="purple-ev">
                        АО ИК «АСЭ» пройден аудит ядерной квалификации 
                        <span class="block">
                            <span class="hover">заказчика</span>
                            <span class="hidden hidden-right">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
                        </span>
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        «Пакш II» (Венгрия). Получен сертификат № SNQ/007/2017
                        <br><br>
                        Осуществлена подача напряжения на собственные нужды 
                        <span class="block">
                            <span class="hover">энергоблока</span>
                            <span class="hidden hidden-bottom">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                        </span>
                        № 2 Нововоронежской 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>-2
                    </li>
                    <li class="green-ev">
                        Проведена конференция Госкорпорации «Росатом» по цифровой экономике и трансформации атомной отрасли, на
                        которой представители АО ИК «АСЭ» представили наработки компании в сфере цифровизации – цифровую
                        технологическую платформу управления жизненным циклом сложных инженерных объектов Multi-D, признанную
                        лучшей в международном конкурсе инженерных и технологических инноваций CETI AWARD 2016.
                    </li>
                    <li class="purple-ev">
                        Компаниями Nukem Technologies Gmbh и АО «НИКИМТ-Атомстрой» завершена активная фаза строительства объектов первой очереди
                        вывода из эксплуатации Игналинской 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        (Литва): комплекс B1 сдан в промышленную эксплуатацию, закончены холодные
                        испытания, начались горячие испытания комплексов по переработке и хранению твердых радиоактивных отходов (КПХТРО
                        В2, 3, 4)
                    </li>
                </ul>
            </div>
            <div class="carousel-item">
                <div class="month">
                    <strong class="nameMonth">Июнь</strong>
                </div>
                
                <ul class="month-events">
                    <li class="purple-ev">
                        Подписано Генеральное рамочное соглашение по строительству третьей очереди 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        «Куданкулам» (Индия). Соглашение предусматривает
                        возведение по российскому проекту 
                        <span class="block">
                            <span class="hover">энергоблоков</span>
                            <span class="hidden hidden-bottom">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                        </span>
                        № 5, 6
                        <br><br>
                        Подписано Соглашение между Правительством Российской Федерации и Правительством Народной Республики Бангладеш о сотрудничестве
                        по ввозу в Россию отработавшего ядерного топлива 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        «Руппур» (Бангладеш)
                        <br><br>
                        По проекту 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        «Эль-Дабаа» (Египет) выполнены первоочередные инженерные изыскания площадки, включая морские изыскания
                        <p class="text-focus mt-4 mb-4">Состоялась торжественная церемония первой заливки бетона в плиту основания реакторного здания 
                            <span class="block">
                                <span class="hover">энергоблока</span>
                                <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                            </span>
                            № 3 
                            <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span>
                            «Куданкулам» (Индия)
                        </p>
                    </li>
                    <li class="green-ev">
                        Госкорпорация «Росатом» в лице АО ИК «АСЭ» вошла в состав центров компетенций по цифровой экономике при Правительстве РФ.
                        <br><br>
                        АО ИК «АСЭ» стало представителем альянса Building Smart в РФ.
                        <br><br>
                        Создана главная цифровая лаборатория АО ИК «АСЭ»
                    </li>
                    <li class="green-ev">
                        В рамках XXI Петербургского международного экономического форума подписаны соглашения:
                        <ul>
                            <li>с IBM о сотрудничестве в области цифровой трансформации с целью успешного преобразования бизнеса
                                и расширения технологии Multi-D в рамках управления жизненным циклом объектов капитального строительства
                            </li>
                            <li>о создании Института цифровой трансформации с задачами проведения совместных исследовательских,
                                консультационных, образовательных и пилотных внедренческих проектов и программ в ключевых отраслях экономики
                                с Московской школой управления СКОЛКОВО и Фондом ЦСР «Северо-Запад»
                            </li>
                        </ul>
                    </li>
                    <li class="green-ev">
                        В рамках международного форума «Атомэкспо-2017» подписаны:
                        <ul>
                            <li>
                                меморандум с SAP о сотрудничестве в области управления жизненным циклом объектов атомной энергетики
                            </li>
                            <li>
                                соглашение об образовательном и научно-техническом сотрудничестве с Национальным исследовательским ядерным
                                университетом «МИФИ», в рамках которого создана Высшая 
                                <span class="block">
                                    <span class="hover">инжиниринговая</span>
                                    <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
                                </span>
                                школа – место подготовки цифровых инженеров
                                и тестирования новых решений для цифрового бизнеса
                            </li>
                            <li>
                                меморандум о стратегическом сотрудничестве с российским представительством Hilti
                            </li>
                            <li>
                                меморандум о сотрудничестве с Ассоциацией организаций по развитию технологий информационного моделирования
                                в строительстве и ЖКХ (BIM-ассоциация)
                            </li>
                            <li>
                                меморандум с французской компанией AssystemSA о сотрудничестве в области продвижения и практического внедрения
                                решений на основе технологии Multi-D для компаний-операторов 
                                <span class="block">
                                    <span class="hover">АЭС</span>
                                    <span class="hidden">атомная электростанция</span>
                                </span>
                                в странах Европы, Ближнего Востока, Северной Африки
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="carousel-item">
                <div class="month">
                    <strong class="nameMonth">Июль</strong>
                </div>
                
                <ul class="month-events">
                    <li class="purple-ev">
                        Подписаны контракты между АО «Атомстройэкспорт» и Индийской корпорацией по атомной энергии (GRINPCIL)), рабочее проектирование и поставку основного оборудования для третьей очереди 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        «Куданкулам». Проект сооружения
                        <span class="block">
                            <span class="hover">энергоблоков</span>
                            <span class="hidden hidden-bottom">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                        </span>
                        № 5, 6 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        «Куданкулам» перешел в фазу практической реализации
                        <br><br>
                        По проекту 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        «Аккую» (Турция) получено согласование «Отчета по параметрам площадки», утверждена 
                        <span class="block">
                            <span class="hover">проектная документация</span>
                            <span class="hidden">Документация, содержащая материалы в текстовой форме и в виде карт (схем) и определяющая архитектурные, функционально-технологические, конструктивные и инженерно-технические решения для обеспечения строительства, реконструкции объектов капитального строительства, их частей, капитального ремонта, если при его проведении затрагиваются конструктивные и другие характеристики надежности и безопасности объектов капитального строительства.</span>
                        </span>, начата разработка котлована
                        <br><br>
                        Nukem Technologies GmbH и АО «НИКИМТ-Атомстрой» заключены контракты на вывод из эксплуатации 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        «Библис» (Германия) в части демонтажа парогенераторов
                    </li>
                </ul>
            </div>
            <div class="carousel-item">
                <div class="month">
                    <strong class="nameMonth">Август</strong>
                </div>
                
                <ul class="month-events">
                    <li class="purple-ev">
                        Дан старт строительству в Болгарии национального хранилища радиоактивных отходов с длительным сроком распада (NUKEM
                        Technologies GmbH в составе российско-болгарского консорциума)
                    </li>
                    <li class="green-ev">
                        Подписан договор с АО «ОКБМ Африкантов», направленный на внедрение объединенного графика – инструмента по управлению проектами (сроками и стоимостью)
                        <br><br>
                        Состоялся физический пуск 
                        <span class="block">
                            <span class="hover">энергоблока</span>
                            <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                        </span>
                        № 3 Тяньваньской 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        (Китай)
                    </li>
                </ul>
            </div>
            <div class="carousel-item">
                <div class="month">
                    <strong class="nameMonth">Сентябрь</strong>
                </div>
                
                <ul class="month-events">
                    <li class="green-ev">
                        АО ИК «АСЭ» и Правительство Нижегородской области заключили соглашение о сотрудничестве в области применения информационных технологий
                    </li>
                </ul>
            </div>
            <div class="carousel-item">
                <div class="month">
                    <strong class="nameMonth">Октябрь</strong>
                </div>
                
                <ul class="month-events">
                    <li class="purple-ev">
                        Состоялась торжественная церемония начала работ на котловане основных зданий 
                        <span class="block">
                            <span class="hover">энергоблока</span>
                            <span class="hidden hidden-bottom">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                        </span>
                        № 2 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        «Бушер-2» (Иран)
                        <br><br>
                        По проекту 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        «Ханхикиви-1» (Финляндия) завершен процесс оптимизации проектных и компоновочных решений 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>, открыт филиал в Финляндии
                        <p class="text-focus">Состоялась торжественная церемония первой заливки бетона в плиту основания реакторного здания 
                            <span class="block">
                                <span class="hover">энергоблока</span>
                                <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                            </span>
                            № 4 
                            <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span>
                            «Куданкулам» (Индия)
                        </p>
                    </li>
                </ul>
            </div>
            <div class="carousel-item">
                <div class="month">
                    <strong class="nameMonth">Ноябрь</strong>
                </div>
                
                <ul class="month-events">
                    <li class="purple-ev">
                        Получена лицензия на проектирование и сооружение
                        <span class="block">
                            <span class="hover">энергоблока</span>
                            <span class="hidden hidden-bottom">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                        </span>
                        № 1 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        «Руппур» (Бангладеш)
                    </li>
                    <li class="green-ev">
                        АО ИК «АСЭ» и Фонд Развития промышленности Министерства промышленности и торговли РФ подписали соглашение «О сотрудничестве
                        в целях развития государственной информационной системы промышленности»
                        <br><br>
                        Подписан внеотраслевой контракт на 
                        <span class="block">
                            <span class="hover">РМС</span>
                            <span class="hidden">Русатом – Международная сеть</span>
                        </span>
                        -услуги с Electricite de France (EDF)
                        <p class="text-focus">Состоялась торжественная церемония первой заливки бетона в плиту основания реакторного здания 
                            <span class="block">
                                <span class="hover">энергоблока</span>
                                <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                            </span>
                            № 1 <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span>
                            «Руппур» (Бангладеш)
                        </p>
                    </li>
                </ul>
            </div>
            <div class="carousel-item">
                <div class="month">
                    <strong class="nameMonth">Декабрь</strong>
                </div>
                
                <ul class="month-events">
                    <li class="purple-ev">
                        Подписаны акты о вступлении в силу коммерческих контрактов на 
                        <span class="block">
                            <span class="hover">сооружение АЭС</span>
                            <span class="hidden">Полный процесс возведения от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                        </span> «Эль-Дабаа» (Египет)
                        <br><br>
                        По проекту 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        «Аккую» (Турция) состоялась торжественная церемония начала строительно-монтажных работ подготовительного
                        периода по «неядерной» части 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        в рамках ограниченного разрешения на сооружение (ОРС), выданного Агентством по атомной
                        энергии Турции (ТАЕК)
                        <br><br>
                        Состоялся физический пуск 
                        <span class="block">
                            <span class="hover">энергоблока</span>
                            <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                        </span>
                        № 4 Ростовской 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        <br><br>
                        Состоялся энергетический пуск 
                        <span class="block">
                            <span class="hover">энергоблока</span>
                            <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                        </span>
                        № 3 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        «Тяньвань» (Китай)
                        <br><br>
                        Начато армирование фундаментной плиты здания реактора 
                        <span class="block">
                            <span class="hover">энергоблока</span>
                            <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                        </span>
                        № 1 Курской 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        - 2
                        <br><br>
                        Состоялся физический пуск 
                        <span class="block">
                            <span class="hover">энергоблока</span>
                            <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                        </span>
                        № 1 Ленинградской 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        -2, получена лицензия на его эксплуатацию 
                        <br><br>
                        Выход на этап пролива на открытый реактор 
                        <span class="block">
                            <span class="hover">энергоблока</span>
                            <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                        </span>
                        № 2 Нововоронежской 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        -2 и 
                        <span class="block">
                            <span class="hover">энергоблока</span>
                            <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                        </span>
                        № 1 Белорусской 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        <br><br>
                        Корпус реактора 
                        <span class="block">
                            <span class="hover">энергоблока</span>
                            <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                        </span>
                        № 2 Белорусской 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>
                        установлен в проектное положение
                    </li>
                </ul>
            </div>
            <div class="carousel-item after">
                <div class="month">
                    <strong class="nameMonth"> События после отчетной даты (январь – апрель 2018 года)</strong>
                </div>
                
                <ul class="month-events">
                    <li>
                        Февраль
                        <ul>
                            <li>
                                Энергетический пуск 
                                <span class="block">
                                    <span class="hover">энергоблока</span>
                                    <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                                </span>
                                    № 4 Ростовской 
                                    <span class="block">
                                    <span class="hover">АЭС</span>
                                    <span class="hidden">атомная электростанция</span>
                                </span>
                            </li>
                            <li>
                                Торжественная передача площадки строительства 
                                <span class="block">
                                    <span class="hover">АЭС</span>
                                    <span class="hidden">атомная электростанция</span>
                                </span>
                                «Эль-Дабаа» (Египет)
                            </li>
                            <li>
                                Ввод в гарантийную эксплуатацию и предварительная приемка 
                                <span class="block">
                                    <span class="hover">энергоблока</span>
                                    <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                                </span>
                                    № 3 Тяньваньской 
                                    <span class="block">
                                    <span class="hover">АЭС</span>
                                    <span class="hidden">атомная электростанция</span>
                                </span> (Китай)
                            </li>
                        </ul>
                        Март
                        <ul>
                            <li>
                                Энергетический пуск 
                                <span class="block">
                                    <span class="hover">энергоблока</span>
                                    <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                                </span>
                                № 1 Ленинградской 
                                <span class="block">
                                    <span class="hover">АЭС</span>
                                    <span class="hidden">атомная электростанция</span>
                                </span>-2
                            </li>
                            <li>
                                Сдача в опытно-промышленную эксплуатацию 
                                <span class="block">
                                    <span class="hover">энергоблока</span>
                                    <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                                </span>
                                № 4 Ростовской 
                                <span class="block">
                                    <span class="hover">АЭС</span>
                                    <span class="hidden">атомная электростанция</span>
                                </span>
                            </li>
                        </ul>
                        Апрель
                        <ul>
                            <li>
                                Торжественная церемония первой заливки бетона в плиту основания реакторного здания 
                                <span class="block">
                                    <span class="hover">энергоблока</span>
                                    <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                                </span>
                                № 1 
                                <span class="block">
                                    <span class="hover">АЭС</span>
                                    <span class="hidden">атомная электростанция</span>
                                </span>
                                «Аккую» (Турция)
                            </li>
                        </ul>
                        Май
                        <ul>
                            <li>
                                АО ИК «АСЭ» прошла добровольную международную сертификацию по управлению проектами, программами, портфелями проектов
                                и программ. По ее итогам Компания получила сертификат Международной ассоциации управления проектами соответствия
                                4-му классу компетентности в области управления проектами, программами, портфелями по модели 
                                <span class="block">
                                    <span class="hover">IPMA</span>
                                    <span class="hidden">Повышение эффективности проектной деятельности предприятия, осуществляемой в соответствии с лучшими международными практиками в сфере управления проектами. Подтверждение компетентности организации в управлении проектами на международном уровне.</span>
                                </span>
                                Delta.
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="blockLineLeftTxt mt-4">
        <h5 class="mb-3">
            <strong>Фильтрация</strong>
        </h5>

        <div id="current-btn">
            <div class="current-circle"></div>
            Текущие события Инжирингового дивизиона
        </div>
        
        <div id="other-btn">
            <div class="other-circle"></div>
            События Инжирингового дивизиона в рамках цифровой трансформации
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/js/key_event.js"></script>
{% endblock %}
