{% extends "ru/templates/page.html" %} {% block breadcrumb %}
<li>
  <a href="/content">
    <small>Содержание /</small>
  </a>
</li>
<li>
  <a href="#">
    <small>Глава 1 /</small>
  </a>
</li>
<li class="active">
    <small><strong>1.3</strong></small>
</li>
{% endblock %} 

{% block picture %}
    background-image: url(../img/chapters/1.3_markets.jpg);
    background-position-y: 70%;
{% endblock %}

{% block titleText%} 1.3. Рынки присутствия {% endblock %} 
{% block subtitleText%} 
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-6">102-6</a></span>
            <span class="hidden-gri">Рынки, на которых работает организация</span>
        </span>
    </li>
</ul>
{% endblock%}
{% block content %}
<div id="under">
  <strong>1.3.1. Рынок сооружения и эксплуатации <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span> </strong>
</div>

<div class="mt-4">
  <div id="Context"> Дивизион является 
    
    <span class="block">
      <span class="hover">EPC-контрактором</span>
      <span class="hidden">Компании, реализующие проект «под ключ». Функционал EPC-компании включает проектирование, поставки и строительство</span>
    </span>
    по большинству сооружаемых 
    <span class="block">
        <span class="hover">энергоблоков</span>
        <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
    </span>
    <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span>  и абсолютным лидером на российском рынке.
    Портфель проектов в России по итогам 2017 года включает 8 
    <span class="block">
        <span class="hover">энергоблоков</span>
        <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
    </span> 
    на различных стадиях реализации. Портфель
    зарубежных проектов включает 25 
    <span class="block">
        <span class="hover">энергоблоков</span>
        <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
    </span> 
    в 10 странах мира.</div>

  <div>
    <br>
    <div id="ChartF" style="width: 100%; height: 400px;" class="revealator-slideup revealator-once"></div>

    <br>
    <em>
      * Включение 
      <span class="block">
        <span class="hover">энергоблоков</span>
        <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
    </span> 
      в портфель заказов 
      <span class="block">
          <span class="hover">Инжинирингового</span>
          <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
      </span> 
      дивизиона осуществляется на основании заключения договора, исключение
      <span class="block">
        <span class="hover">энергоблоков</span>
        <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
      </span> 
      из портфеля – по результату передачи 
      <span class="block">
          <span class="hover">э/б</span>
          <span class="hidden">энергоблок</span>
      </span> 
      <span class="block">
          <span class="hover">заказчику.</span>
          <span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
      </span>
      <br> Данные Госкорпорации «Росатом» и 
      <span class="block">
          <span class="hover">Инжинирингового</span>
          <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
      </span> 
      дивизиона различаются из-за разных методик подсчета числа 
      <span class="block">
        <span class="hover">энергоблоков.</span>
        <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
    </span>
      Более подробно см. <a href="http://www.rosatom.ru/about/publichnaya-otchetnost/">годовой отчет Госкорпорации «Росатом»</a>.
    </em>

  <p class="text-focus mt-4">
    В 2017 году доля атомной энергетики в мировом потреблении электроэнергии составила ~ 11 %. По данным МАГАТЭ, 30 стран мира занимаются атомной генерацией, 13 из них более чем на 1/4 зависят от генерирования электроэнергии атомными станциями. Страны с наибольшей долей электроэнергии, производимой на<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>: Франция (72,3 %), Словакия (54,1 %), Украина (52,3 %), Бельгия (51,7 %) и Венгрия (51,3 %).
    <br><br>По данным МАГАТЭ, на 31.12.2017 в эксплуатации находилось 448 энергетических реакторов суммарной мощностью 391,7 ГВт (включая временно остановленные японские реакторы). Еще 59 реакторов находились на этапе сооружения. В настоящее время в спросе на <span class="block">
	<span class="hover">сооружение АЭС</span>
	<span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
</span> доминируют азиатские страны, что связано с активным ростом спроса на электроэнергию в этом регионе.
    <br><br>Ведущие мировые аналитические агентства прогнозируют значительный рост установленной мощности в атомной энергетике. К 2030 году Международное энергетическое агентство, консалтинговая компания UxC и Всемирная ядерная ассоциация в условиях базового сценария ожидают рост мощности действующих <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>от 445 до 468 ГВт. МАГАТЭ в своих прогнозах на аналогичном временном горизонте указывает нижнюю и верхнюю границу мировой мощности <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>от 345 до 554 ГВт.
  </p>
</div>

<div id="under" class="mt-5">
  <strong>1.3.2. Рынки диверсификации</strong>
</div>

<div class="mt-5">
  <div>
    Основными направлениями диверсификации являются:
    <ul>
      <li>рынок ВЭ ЯРОО, сооружение и модернизация объектов обращения с 
      <span class="block">
          <span class="hover">РАО</span>
          <span class="hidden">радиоактивные отходы</span>
      </span>  
      и 
      <span class="block">
          <span class="hover">ОЯТ,</span>
          <span class="hidden">отработавшее (облученное) ядерное топливо</span>
      </span> 
      </li>
      <li>рынок сервиса в части продления срока эксплуатации,</li>
      <li>рынок консультационных услуг по управлению проектами (PMC-услуги).</li>
    </ul>
  </div>
  <div>
    <small>
      <strong>Таблица 2. Категории потребителей, на которых направлена деятельность Дивизиона вне основного ядра бизнеса</strong>
    </small>
    <table class="table table-borderless table-responsive">
      <tr>
        <th>Направление бизнеса</th>
        <th>Продукты/услуги</th>
        <th>Страна</th>
        <th>Потребители</th>
      </tr>
      <tr>
        <td rowspan="33">Сооружение объектов обращения с 
        <span class="block">
            <span class="hover">РАО</span>
            <span class="hidden">радиоактивные отходы</span>
        </span>  
        и 
        <span class="block">
            <span class="hover">ОЯТ,</span>
            <span class="hidden">отработавшее (облученное) ядерное топливо</span>
        </span>  
        ВЭ ЯРОО</td>
        <td rowspan="23">Инженерно-технологические работы</td>
        <td>Австрия</td>
        <td>Научно-исследовательские институты</td>
      </tr>
      <tr>
        <td>Армения</td>
        <td>Национальные регулирующие организации</td>
      </tr>
      <tr>
        <td>Бельгия</td>
        <td>Топливные компании</td>
      </tr>
      <tr>
        <td>Великобритания</td>
        <td>Национальные атомные организации</td>
      </tr>
      <tr>
        <td rowspan="5">Германия</td>
        <td>Национальные промышленные компании</td>
      </tr>
      <tr>
        <td>Энергетические компании</td>
      </tr>
      <tr>
        <td>Национальные промышленные компании</td>
      </tr>
      <tr>
        <td>Научно-исследовательские институты</td>
      </tr>
      <tr>
        <td>Компании по обращению с 
          <span class="block">
              <span class="hover">РАО</span>
              <span class="hidden">радиоактивные отходы</span>
          </span>  
          и
          <span class="block">
              <span class="hover">ОЯТ</span>
              <span class="hidden">отработавшее (облученное) ядерное топливо</span>
          </span> 
        </td>
      </tr>
      <tr>
        <td>Нидерланды</td>
        <td>Национальные промышленные компании</td>
      </tr>
      <tr>
        <td>ОАЭ</td>
        <td>Национальные промышленные компании</td>
      </tr>
      <tr>
        <td>Болгария</td>
        <td>Национальные атомные организации</td>
      </tr>
      <tr>
        <td>Ирак</td>
        <td>Национальные регулирующие организации</td>
      </tr>
      <tr>
        <td rowspan="2">Россия</td>
        <td>Энергетические компании</td>
      </tr>
      <tr>
        <td>Научно-исследовательские институты</td>
      </tr>
      <tr>
        <td>США</td>
        <td>Национальные промышленные компании</td>
      </tr>
      <tr>
        <td rowspan="2">Украина</td>
        <td>Проектные консалтинговые компании</td>
      </tr>
      <tr>
        <td>Национальные регулирующие организации</td>
      </tr>
      <tr>
        <td rowspan="2">Франция</td>
        <td>Международные консорциумы</td>
      </tr>
      <tr>
        <td>Международные промышленные компании</td>
      </tr>
      <tr>
        <td rowspan="2">Швейцария</td>
        <td>Энергетические компании</td>
      </tr>
      <tr>
        <td>Компании по обращению с 
        <span class="block">
            <span class="hover">РАО</span>
            <span class="hidden">радиоактивные отходы</span>
        </span>  
        и 
        <span class="block">
            <span class="hover">ОЯТ</span>
            <span class="hidden">отработавшее (облученное) ядерное топливо</span>
        </span> 
        </td>
      </tr>
      <tr>
        <td>Япония</td>
        <td>Международные промышленные компании</td>
      </tr>
      <tr>
        <td rowspan="10">Генеральный подряд по объекту</td>
        <td>Бангладеш</td>
        <td>Национальные атомные организации</td>
      </tr>
      <tr>
        <td>Венгрия</td>
        <td>Энергетические компании</td>
      </tr>
      <tr>
        <td>Литва</td>
        <td>Энергетические компании</td>
      </tr>
      <tr>
        <td>Египет</td>
        <td>Национальные атомные организации</td>
      </tr>
      <tr>
        <td>Китай</td>
        <td>Энергетические компании</td>
      </tr>
      <tr>
        <td>Белоруссия</td>
        <td>Федеральные государственные предприятия</td>
      </tr>
      <tr>
        <td>Индия</td>
        <td>Федеральные государственные предприятия</td>
      </tr>
      <tr>
        <td>Иран</td>
        <td>Федеральные государственные предприятия</td>
      </tr>
      <tr>
        <td rowspan="2">Россия</td>
        <td>Энергетические компании</td>
      </tr>
      <tr>
        <td>Федеральные государственные предприятия</td>
      </tr>
      <tr>
        <td rowspan="2">Сервис</td>
        <td rowspan="2">Техническое обслуживание и ремонт</td>
        <td>Иран</td>
        <td>Национальные атомные организации</td>
      </tr>
      <tr>
        <td>Турция</td>
        <td>Энергетические компании</td>
      </tr>
      <tr>
        <td rowspan="9">
          <span class="block">
            <span class="hover">РМС</span>
            <span class="hidden">Русатом – Международная сеть</span>
          </span>
        </td>
        <td rowspan="9">Управление проектом</td>
        <td>Россия</td>
        <td>Энергетические компании</td>
      </tr>
      <tr>
        <td>Китай</td>
        <td>Национальные атомные организации</td>
      </tr>
      <tr>
        <td>Индия</td>
        <td>Национальные атомные организации</td>
      </tr>
      <tr>
        <td>Иордания</td>
        <td>Национальные атомные организации</td>
      </tr>
      <tr>
        <td>Финляндия</td>
        <td>Строительные компании</td>
      </tr>
      <tr>
        <td>Чехия</td>
        <td>Энергетические компании</td>
      </tr>
      <tr>
        <td rowspan="3">Россия</td>
        <td>Федеральные государственные предприятия</td>
      </tr>
      <tr>
        <td>Энергетические компании</td>
      </tr>
      <tr>
        <td>Топливные компании</td>
      </tr>
    </table>
    <br>
    <p> В систематическом режиме проводится работа по патентованию собственных разработок, в том числе в области информационных
      технологий и управления проектами. Развиваются партнерства с ключевыми игроками на российских и зарубежных рынках.
      Компания регулярно участвует в открытых конкурсах и тендерах, ведет прямые продажи в крупнейшие компании России и зарубежья.
    </p>
  </div>
</div>

  <script src="/js/echarts.min.js"></script>
    <script src="/js/chartsMarkets.js"></script>
{% endblock %}