{% extends "ru/templates/page.html" %}

{% block link %}
    <link rel="stylesheet" href="/css/fm.revealator.jquery.min.css">
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Содержание /</small></a></li>
    <li><a href="#"><small>Глава 2 /</small></a></li>
    <li class="active"><small><strong> 2.5.</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/2.5_natural.jpg);
{% endblock %}

{% block  titleText %}
    2.5. Природный капитал
{% endblock %}

{% block  subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-201-2">201-2</a></span>
            <span class="hidden-gri">Финансовые последствия и другие риски и возможности, обусловленные изменением климата</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-12">102-12</a></span>
            <span class="hidden-gri">Инициативы, хартии и принципы, которые поддерживает организация</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-416-1">416-1</a></span>
            <span class="hidden-gri">Оценка воздействия продуктов и услуг на здоровье и безопасность</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-11">102-11</a></span>
            <span class="hidden-gri">Принцип предосторожности</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-304-1">304-1</a></span>
            <span class="hidden-gri">Производственные площадки, находящиеся в собственности, в аренде или под управлением организации и расположенные на охраняемых природных территориях и территориях с высокой ценностью биоразнообразия, находящихся вне границ охраняемых природных территорий, или прилегающие к таким территориям</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-304-2">304-2</a></span>
            <span class="hidden-gri">Описание существенного воздействия организации на биоразнообразие</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-304-3">304-3</a></span>
            <span class="hidden-gri">Сохраненные и восстановленные местообитания</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-416-2">416-2</a></span>
            <span class="hidden-gri">Общее количество случаев несоответствия нормативным требованиям и добровольным кодексам, касающимся воздействия продукции и услуг на здоровье и безопасность, в разбивке по видам последствий</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-306-1">306-1</a></span>
            <span class="hidden-gri">Общий объем сбросов с указанием качества сточных вод и принимающего объекта</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-303-1">303-1</a></span>
            <span class="hidden-gri">Общее количество забираемой воды с разбивкой по источникам</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-306-2">306-2</a></span>
            <span class="hidden-gri">Общая масса отходов по типу и способу обращения</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-306-4">306-4</a></span>
            <span class="hidden-gri">Транспортированные отходы</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-303-2">303-2</a></span>
            <span class="hidden-gri">Источники воды, на которые оказывает существенное влияние водозабор организации</span>
        </span>
    </li>
</ul>
{% endblock %}

{% block content %}
    <div class="blockLineLeftTxt mt-4">
        <p class="txtHead">Природный капитал – это все возобновляемые или невозобновляемые природные ресурсы, которые тем или иным образом используются Компанией при создании товаров/оказании услуг. Природный капитал включает воздух, воду, земли, полезные ископаемые, леса, а также биологическое разнообразие и здоровье экосистемы. Управление природным капиталом – это вклады в бережное отношение к окружающей среде и безусловное выполнение всех необходимых норм и требований в области экологии и ядерной и радиационной безопасности.</p>
    </div>

    <div class="row mt-4">
       <div class="col-lg-4 col-md-4 col-sm-12 bossPhoto" style="background-image: url(../img/стрельцов.jpg);" id="strelts"></div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            
            <h5><strong>Сергей Стрельцов,  
            <br>директор 
            <br>по управлению качеством</strong></h5>

            <br><strong>Какие работы в области экологической, промышленной и радиационной безопасности проводились Дивизионом на региональном и международном уровнях?</strong>
            <em class="directSpeech"><p class="mt-4">&#8211; В 2017 году работа в <span class="block">
	<span class="hover">Инжиниринговом</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизионе велась в плановом порядке – проводились работы по обеспечению экологической, промышленной и радиационной безопасности, а также по оформлению необходимой разрешительной документации.</p>  
            <p>Были получены положительные заключения государственной экологической экспертизы по материалам обоснования лицензии на осуществление деятельности в области использования атомной энергии на эксплуатацию энергоблока №4 Ростовской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>. В Курском филиале АО ИК «АСЭ» оформлено право пользования водным объектом и соответствующая разрешительная документация на сброс загрязняющих веществ. Пройден аудит ядерной квалификации и получена экологическая лицензия по проекту расширения <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Пакш II». В ноябре 2017 года получена лицензия на проектирование и <span class="block">
	<span class="hover">сооружение АЭС</span>
	<span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
</span> «Руппур».</p>
            <p>Эксплуатация радиационных источников была организована в соответствии с требованиями нормативных документов в области использования объектов ядерной энергии. Превышения уровней среднегодовой эффективной дозы облучения персонала при работах с радиационными источниками не выявлено.</p></em> 
        
            <br><strong>В связи с расширившимся контуром управления – какие работы проводились в Дивизионе по созданию единой интегрированной системы менеджмента и подготовке ее к сертификации по требованиям международных стандартов?</strong>
            <em class="directSpeech"><p class="mt-4">&#8211; На первом этапе запланировано создание единой интегрированной системы менеджмента в двух ключевых компаниях Дивизиона – АО ИК «АСЭ» и АО АСЭ. В этих организациях в 2017 году (и в 2018 году работа продолжалась) было разработано единое Руководство по ИСМ и ряд стандартов организаций для совместного применения. Также была утверждена единая Политика в области качества, охраны окружающей среды, профессиональной безопасности и здоровья. Сертификационный аудит единой ИСМ АО ИК «АСЭ» и АО АСЭ по требованиям международных стандартов <span class="block">
	<span class="hover">ISO</span>
	<span class="hidden">Серия международных стандартов по системе организации управления компанией, призванной обеспечивать предсказуемый и стабильный уровень качества услуг</span>
</span> 9001:2015, <span class="block">
	<span class="hover">ISO</span>
	<span class="hidden">Серия международных стандартов по системе организации управления компанией, призванной обеспечивать предсказуемый и стабильный уровень качества услуг</span>
</span> 14001:2015, OHSAS 18001:2007 состоялся в период 14–18 мая 2018 года.</p></em> 
        </div>
    </div>

    <div class="row mt-4">
        <p class="text-focus">Мы ставим на первое место безопасность и надежность объектов использования атомной энергии и мы ответственны за результаты нашей деятельности.</p>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-4">
            <div class="blockLineRightTxt headerPage">
                <strong>В 2017 году, объявленном в России Годом экологии, в <span class="block">
	<span class="hover">Инжиниринговом</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизионе:</strong> 

                <ul class="mt-4">
                    <li>на 7 % сократился общий объем образования отходов;</li> 
                    <li>на 19 % сократилось потребление электроэнергии на собственные нужды;</li>
                    <li>на 22 % сократилось потребление тепловой энергии на собственные нужды;</li>
                    <li>на 18 % возросли расходы на охрану окружающей среды.</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 ol-sm-12 mt-4">
            <p>Работа в области охраны окружающей среды, проводимая Дивизионом, направлена на соблюдение требований природоохранного законодательства, минимизацию негативного воздействия на окружающую среду и рациональное использование природных ресурсов.</p>
            <p>В ключевых компаниях Дивизиона – АО ИК «АСЭ» и АО АСЭ – создается интегрированная системы экологического менеджмента. В 2017 году в АО ИК «АСЭ» и АО АСЭ действовали отдельные политики в области качества, экологии и профессиональной безопасности, проводилась идентификация экологических аспектов, определялась их значимость. В рамках перехода на новую версию международного стандарта <span class="block">
	<span class="hover">ISO</span>
	<span class="hidden">Серия международных стандартов по системе организации управления компанией, призванной обеспечивать предсказуемый и стабильный уровень качества услуг</span>
</span> 14001:2015 в январе 2018 года была введена в действие совместная Политика АО ИК «АСЭ» и АО АСЭ в области качества, охраны окружающей среды, профессиональной безопасности и здоровья. Стратегическая цель компаний, указанная в совместной Политике, заключается в укреплении лидерства на глобальном рынке сооружаемых энергоблоков при приоритетах ядерной, радиационной, промышленной и экологической безопасности объектов, обеспечения безопасных условий труда и сохранения окружающей среды.</p>
            <p>В 2017 году на объектах Дивизиона проводились работы по обеспечению экологической, промышленной и радиационной безопасности. Оформлялась разрешительная документация, в том числе в АО ИК «АСЭ» были переоформлены паспорта на опасные отходы, в Курском филиале АО ИК «АСЭ» было оформлено право пользования водным объектом (р. Сейм), утверждены нормативы допустимых сбросов и получено разрешение на сбросы веществ и микроорганизмов в водный объект. В Нововоронежском филиале АО «Атомэнергопроект» разработан проект предельно допустимых выбросов и получено разрешение на выброс загрязняющих веществ.</p> 
            <p>Планирование по экологическим показателям проводится структурными подразделениями организаций <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона отдельно по каждому направлению деятельности. Консолидированные данные по Дивизиону по плановым экологическим показателям на 2018 год не разрабатывались.</p>
            
            <h4 class="mt-4"><strong>Учет объектов негативного воздействия на окружающую среду</strong></h4>
            
            <p class="mt-4">В 2017 году в организациях Дивизиона проведены работы по постановке на учет объектов негативного воздействия на окружающую среду (НВОС), установлено 18 объектов НВОС, относящихся к II–IV категории (объекты I категории в организациях Дивизиона отсутствуют).</p>
            
            <br><br><small>Таблица 37. Объекты негативного воздействия на окружающую среду*</small>
            <table class="table table-borderless table-responsive textCenter">
                <thead>
                    <tr>
                        <th>Организация</th>
                        <th>Категория объекта, оказывающего НВОС</th>
                        <th>Количество объектов</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2">АО ИК «АСЭ» </td>
                        <td>III</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>IV</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>АО АСЭ</td>
                        <td colspan="2">объекты НВОС отсутствуют</td>
                    </tr>
                    <tr>
                        <td>АО «АТОМПРОЕКТ»</td>
                        <td>III</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td rowspan="2">АО «Атомэнергопроект»</td>
                        <td>III</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>IV</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>ООО «ВдМУ»</td>
                        <td>III</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>ООО «Трест РосСЭМ»</td>
                        <td colspan="2">объекты НВОС отсутствуют</td>
                    </tr>
                    <tr>
                        <td>ООО «СМУ № 1»</td>
                        <td>III</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td rowspan="2">АО «НИКИМТ-Атомстрой»</td>
                        <td>II</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>III</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>ПАО «Энергоспецмонтаж»</td>
                        <td colspan="2">объекты НВОС отсутствуют</td>
                    </tr>
                    <tr>
                        <td>АО «СПб НИИИ «ЭИЗ»</td>
                        <td>III</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <small class="colorFt">
                * В соответствии со ст.4.2 Федерального закона «Об охране окружающей среды» от 10.01.2002 № 7-ФЗ в зависимости от уровня воздействия на окружающую среду установлены 4 категории объектов:
                <ul>
                    <li>объекты I категории - объекты, оказывающие значительное негативное воздействие на окружающую среду и относящиеся к областям применения наилучших доступных технологий;</li>
                    <li>объекты II категории - объекты, оказывающие умеренное негативное воздействие на окружающую среду;</li>
                    <li>объекты III категории - объекты, оказывающие незначительное негативное воздействие на окружающую среду;</li>
                    <li>объекты IV категории - объекты, оказывающие минимальное негативное воздействие на окружающую среду.</li>
                </ul>
            </small>
        </div>
    </div>
        
    <h4 class="mt-4"><strong>Природные факторы, влияющие на деятельность Дивизиона</strong></h4>
    
    <p class="mt-4">Процессы, явления и факторы природного и техногенного происхождения, подлежащие изучению и учету в районе и на площадке размещения<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>:</p>

    <table class="table table-borderless table-responsive mt-4">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td>Гидрометеорологические процессы и явления</td>
                <td>Наводнение; цунами; ледовые явления на водотоках (заторы, зажоры); режим прибрежной зоны морей (сгон, нагоны, штормовое волнение); сейши; приливы и отливы; изменение водных ресурсов: экстремально низкий сток, аномальное снижение уровня воды; смерч; ветер, ураган; тропический циклон (тайфун); осадки; экстремальные снегопады и снегозапасы; температура воздуха; снежная лавина; гололед; удар молнии.</td>
            </tr>
            <tr>
                <td>Геологические и инженерно-геологические процессы и явления</td>
                <td>Сейсмотектонические разрывные смещения, сейсмодислокации, сейсмотектонические поднятия, опускания блоков земной коры; современные дифференцированные движения земной коры, тектонический крип; остаточные сейсмодеформации земной коры; землетрясение (любого генезиса); извержение вулкана; грязевой вулканизм; оползни; обвалы и оползни-обвалы; сели; лавины снежно-каменные и щебнисто-глыбовые; размывы берегов, склонов, русел; оседания и провалы; размывы подземные, в том числе проявления карста; мерзлотно-геологические (криогенные) процессы; деформации специфических грунтов (карст, термокарст, разжижение, солифлюкция, суффозионные процессы).</td>
            </tr>
            <tr>
                <td>Факторы, создающие внешние воздействия техногенного происхождения </td>
                <td>Падение летательного аппарата и других летящих предметов; пожар по внешним причинам; взрыв на объекте; выбросы взрывоопасных, воспламеняющихся, токсичных паров, газов и аэрозолей в атмосферу; взрыв дрейфующих облаков; коррозионные жидкие сбросы в поверхностные и грунтовые воды; электромагнитное излучение; разлив масел и нефтепродуктов на прибрежных поверхностях рек, морей и океанов; прорыв естественных или искусственных водохранилищ.</td>
            </tr>
        </tbody>
    </table>

    <div id="under" class="mt-5"><strong>2.5.1. Управление экологической безопасностью на стадии проектирования 
            <span class="block">
                <span class="hover">АЭС</span>
                <span class="hidden">атомная электростанция</span>
            </span></strong>
    </div>

    <div class="row mt-5">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <p><span class="color_GOST">(GRI <span id="gri-102-12">102-12</span>)</span> При проектировании<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>, сооружаемых на территории Российской Федерации, разработчики проектной и рабочей документации руководствуются требованиями российской нормативной базы, действующей в области использования атомной энергии, и рекомендациями, изложенными в документах МАГАТЭ.</p>
            <p>В связи с вводом новых нормативных документов в 2017 году по заданиям <span class="block">
	<span class="hover">заказчиков</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span> (эксплуатирующей организации) выполнялись работы по проведению анализа соответствия проектной документации действующих и проектируемых <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>требованиям вновь введенных норм и правил.</p>
            <p>Проектирование зарубежных <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>ведется с учетом нормативной базы, действующей в странах размещения станций.</p>
            <p>Информация о соответствии указанным стандартам и документам раскрывается в специализированных отчетах по безопасности (<span class="block">
	<span class="hover">ООБ</span>
	<span class="hidden">отчет по обоснованию безопасности</span>
</span> и др.)</p>
            <p><span class="color_GOST">(GRI <span id="gri-416-1">416-1</span>)</span> В 2017 году продолжены проектные работы по реализации актуализированных мероприятий для снижения последствий запроектных аварий на <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>с VVER при аномальных внешних событиях природного и техногенного происхождения, разработанные с учетом уроков, полученных при аварии на <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Фукусима» в Японии.</p> 
            <p>Атомные станции являются технически сложными объектами, в процессе эксплуатации которых возникают предложения, направленные на повышение эксплуатационных показателей энергоблоков.</p> 
            <p>Проектными институтами систематически выполняются проектные работы на основании требований и поручений <span class="block">
	<span class="hover">заказчиков</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span> по учету в проектах опыта эксплуатации энергоблоков.</p>
            <p>По итогам анализа причин отказов оборудования, снижения мощности и остановов, проведенных анализов предложений и выполненных проектных работ составляются и направляются в адрес эксплуатирующей организации отчеты по учету опыта эксплуатации.</p>
            <p>При решении вопросов обеспечения безопасности зданий и сооружений, не содержащих ядерно- и радиационноопасных сред, элементов и систем оказывающих влияние на безопасность атомной станции, а также при решении общих вопросов технической безопасности и физической защиты <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>учитывают передовые наработки и решения, применяемые в других отраслях.</p>
            <p>Целевые значения показателей проектируемой<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>, в том числе требования и численное значение показателя потребности <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>в энергии, расходуемой на собственные нужды станции, задаются <span class="block">
	<span class="hover">заказчиком</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span> в задании на проектирование (ТЗ). Численное значение показателя формируется <span class="block">
	<span class="hover">заказчиком</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span> на этапе разработки ТЗ исходя из анализа достигнутых значений на действующих <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>– аналогах, расчетов потребления энергии на собственные нужды, выполняемых проектной организацией по поручению <span class="block">
	<span class="hover">заказчика</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span> на этапе разработки обоснования инвестиций.</p>

            <br><h4 class"mt-4"><strong>Снижение потребления энергии на собственные нужды достигается за счет реализации мероприятий по повышению энергетической эффективности, в частности:</strong></h4>

            <ul class="mt-5">
                <li class="mt-2">выбор площадки размещения <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>с минимально допустимым удалением от водоема и незначительным превышением высотной отметки площадки над уровнем водоема, но исключающим затопление площадки станции, с целью минимизации затрат энергии на перекачку воды системами технического водоснабжения;</li>
                <li class="mt-2">применение эффективного теплообменного оборудования с теплообменными поверхностями из материалов с высокой теплопроводностью;</li>
                <li class="mt-2">применение строительных материалов и элементов строительных конструкций с высокими теплоизолирующими свойствами;</li>
                <li class="mt-2">применение для управления мощными электроприводами частотного регулирования;</li>
                <li class="mt-2">применение современной осветительной аппаратуры с пониженным энергопотреблением;</li>
                <li class="mt-2">применение высокоэффективного оборудования систем вентиляции и кондиционирования.</li> 
            </ul>

            <h4 class="mt-4"><strong>Воздействие на окружающую среду</strong></h4>

            <h5 class="mt-4"><strong>Воздействие на атмосферу</strong></h5>

            <p class="mt-4"><span class="color_GOST">(GRI <span id="gri-102-11">102-11</span>)</span> <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>спроектированы таким образом, что радиационное воздействие на население и окружающую среду не приводит к превышению установленных нормами доз облучения населения и поддерживается значительно ниже установленных нормативных пределов. Конструктивные и технические решения разрабатываемых проектов обеспечивают величину выбросов радионуклидов ниже допустимых по санитарным правилам уровней. Применяемые на <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>установки сжигания <span class="block">
	<span class="hover">РАО</span>
	<span class="hidden">радиоактивные отходы</span>
</span> оснащены эффективной системой глубочайшей очистки дымовых газов и системой контроля выбросов.</p>
            <p class="text-focus">Проектируемые <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>не размещаются на особоохраняемых природных территориях и территориях с высоким биоразнообразием.</p>
            
            <p class="mt-4">Нерадиактивные выбросы в воздух от атомных станций незначительны, происходят только от пуско-резервных котельных, дизель-генераторных станций, периодически включаемых в режимах проверки или при полном обесточивании<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>, и от ремонтных работ, выполняемых подразделениями.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="headerPage blockLineLeftTxt">
                <p>В проекте 
                    <span class="block">
                        <span class="hover">АЭС</span>
                        <span class="hidden">атомная электростанция</span>
                    </span> предусматриваются и обосновываются технические средства и организационные мероприятия, предназначенные для обеспечения стойкости систем и элементов 
                    <span class="block">
                        <span class="hover">АЭС</span>
                        <span class="hidden">атомная электростанция</span>
                    </span>, важных для безопасности, к влиянию внешних воздействий.
                </p>
            </div>
        </div>
    </div>

    <br><small>Таблица 38. Выбросы загрязняющих веществ разными источниками генерации энергии</small>
    <table class="table table-borderless table-responsive">
        <thead>
            <tr>
                <th>Вид источника энергии</th>
                <th>Выбросы NOX, SOX и других загрязняющих веществ </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Атомные электростанции</td>
                <td>Нерадиоактивные выбросы в воздух составляют менее 0,013 % всех промышленных выбросов РФ</td>
            </tr>
            <tr>
                <td>Гидроэлектростанции</td>
                <td>
                    Выбросы от вспомогательного оборудования сопоставимы с выбросами от 
                    <span class="block">
                        <span class="hover">АЭС</span>
                        <span class="hidden">атомная электростанция</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td>Тепловые электростанции</td>
                <td>50 % всех промышленных выбросов РФ</td>
            </tr>
            <tr>
                <td>Альтернативные источники энергии</td>
                <td>Выбросы от вспомогательного оборудования</td>
            </tr>
        </tbody>
    </table>

    <div class="row mt-4">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <p class="text-focus">Проектируемые <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>практически не оказывают значимого влияния на прирост углекислого газа в атмосфере. Установки сжигания <span class="block">
	<span class="hover">РАО</span>
	<span class="hidden">радиоактивные отходы</span>
</span> оснащены системой глубокой очистки дымовых газов и системой контроля выбросов.</p>
            <p>На<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>, проектируемых <span class="block">
	<span class="hover">Инжиниринговым</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизионом, озоноразрушающие вещества не используются.</p>

            <h5 class="mt-5"><strong>Воздействие на водные ресурсы</strong></h5>
            
            <p class="mt-5">Современная нормативная база Российской Федерации не допускает применение на <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>прямоточных систем охлаждения. На вновь проектируемых Дивизионом <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>применяются оборотные системы охлаждения с башенными градирнями, в которых избыточное тепло рассеивается в атмосфере. Потребность в воде на восполнение безвозвратных потерь воды в системах охлаждения, обусловленных испарением, уносом и продувкой, а также расходом на технологические нужды и в системах пожаротушения, на полив территории, обеспечивается системой технического водоснабжения. Проектируемые <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>являются крупными водопользователями. Например, объем безвозвратного водопотребления энергоблока <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>типа VVER мощностью 1000–1255 МВт составляет ~ 18–20 млн м<sup>3</sup> в год.</p>
            <p>Объем потребляемой <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>воды зависит от мощности станции, от применяемой технологии охлаждения оборудования и от климатических условий площадки размещения.</p>
            <p>При размещении проектируемых <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>рядом с водным источником (река, озеро) забор воды на восполнение потерь в системах охлаждения <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>будет осуществляться из таких водоемов, при условии, что требуемый для <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>расход не оказывает негативного влияния на водоем, что подтверждается расчетами и всесторонней экспертизой проекта.</p>
            <p>При недостаточной водности природного источника создаются искусственные водохранилища, заполнение которых ведется в паводковый период.</p>
            <p>Возможность с правовой и экологической точек зрения, а также технико-экономическая целесообразность применения для технического водоснабжения <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>защищенных подземных вод определяется индивидуально для каждого конкретного объекта. Как правило, подземные воды планируется использовать для системы питьевого водоснабжения<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>.</p>
            <p>Удаленность муниципальных образований от<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>, расходные характеристики и техническое состояние муниципальных водопроводных сетей не позволяют закладывать в проект их использование для обеспечения потребности станции в воде. При разработке обоснования инвестиций в <span class="block">
	<span class="hover">сооружение АЭС</span>
	<span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
</span> муниципальные водопроводные сети рассматриваются как один из вариантов водоснабжения жилых поселков для персонала<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="headerPage blockLineLeftTxt">
                <p>Сбросы загрязняющих веществ со сточными водами проектируемых <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>не превышают установленных природоохранными органами допустимых значений и составляют сотые доли процентов от сбросов тепловых электростанций.</p>
                <p>В каждом последующем проекте применяются наилучшие доступные технологии очистки стоков.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h5 class="mt-5"><strong>Воздействие на биоразнообразие <span class="color_GOST">(GRI <span id="gri-304-1">304-1</span>, <span id="gri-304-2">304-2</span>, <span id="gri-304-3">304-3</span>, <span id="gri-304-4">304-4</span>)</span></strong></h5>
            
            <p class="mt-5">Земельные участки, на которых осуществляется строительство<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>, не располагаются на территориях с высокой ценностью биоразнообразия, и, соответственно, отсутствует необходимость проведения мероприятий по восстановлению местообитания.</p>
            <p><span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>не располагаются на территориях с флорой и фауной, занесенных в Красную книгу России и Красный список МСОП.</p>
            
            <h5 class="mt-5"><strong>Стратегия по сохранению или восстановлению местообитания</strong></h5>
            
            <p class="mt-5">На всех производственных площадках действующих и будущих <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>соблюдаются требования природоохранного законодательства Российской Федерации и стран присутствия:</p>
            
            <ul class="mt-4">
                <li class="mt-2">выполняются мероприятия по охране окружающей среды;</li>
                <li class="mt-2">проводится мониторинг воздействия на окружающую среду;</li>
                <li class="mt-2">оформляется необходимая разрешительная природоохранная документация.</li>
            </ul>

            <p>В разрабатываемых проектах атомных станций предусматриваются затраты на приобретение службами <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>приборного парка для ведения в процессе эксплуатации мониторинга окружающей среды, а также средства на рекультивацию земель, нарушенных в ходе строительства<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>. Реализация этих мероприятий способствует восстановлению местообитания флоры и фауны.</p>
        
            <h5 class="mt-5"><strong>Риски, связанные с изменением климата <span class="color_GOST">(GRI <span id="gri-201-2">201–2</span>)</span></strong></h5>
        
            <p class="mt-5"><span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>проектируются с учетом внешних воздействий, характерных для площадки сооружения, в том числе природных (включая климатические). Применяемые конструктивные решения, обеспечивающие устойчивость объекта к природным воздействиям, рассчитаны на экстремальные температуры и экстремальные уровни воды в интервале средней повторяемости один раз в 10 000 лет. Стоимость таких конструктивных решений закладывается в cметный расчет стоимости строительства<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="headerPage blockLineLeftTxt mt-4"></div>
        </div>
    </div>


    <div id="under" class="mt-5"><strong>2.5.2. Управление экологической безопасностью на стадии строительства 
                    <span class="block">
                        <span class="hover">АЭС</span>
                        <span class="hidden">атомная электростанция</span>
                    </span></strong>
                </div>

    <div class="row mt-5">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="headerPage blockLineRightTxt">
                <p><strong>Государственные экологические экспертизы</strong></p> 
                <p>В 2017 году на Государственную экологическую экспертизу (ГЭЭ) были представлены два материала обоснования лицензии на осуществление деятельности в области использования атомной энергии.</p>
                <ul>
                    <li>
                        «Эксплуатация 
                        <span class="block">
                            <span class="hover">энергоблока</span>
                            <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                        </span>
                        № 4 Ростовской 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span>»;
                    </li>
                    <li>
                        «Эксплуатация 
                        <span class="block">
                            <span class="hover">энергоблока</span>
                            <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                        </span>
                        № 2 Ростовской 
                        <span class="block">
                            <span class="hover">АЭС</span>
                            <span class="hidden">атомная электростанция</span>
                        </span> в 18-месячном топливном цикле на мощности реакторной установки 104 % от номинальной».
                    </li>
                </ul>
                <p>После рассмотрения экспертами Департамента Росприроднадзора по ЮФО указанных материалов были получены положительные заключения экспертной комиссии ГЭЭ.</p>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <p><span class="color_GOST">(GRI 416-1)</span> В рамках государственной экологической политики РФ одним из основных критериев, используемых при принятии решения о возможности реализации намечаемой хозяйственной деятельности, является критерий ее экологической безопасности.</p> 
            <p>В составе любого инвестиционно-строительного проекта разрабатывается документация, обосновывающая воздействие на окружающую среду. При разработке экологических разделов проектной документации Компанией используются стандарты безопасности (основные нормативные документы).</p>
            <p>При обосновании экологической безопасности руководствуются критерием: любая <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>потенциально является источником трех основных видов воздействия на наземные и водные экосистемы и население региона – радиационного, химического и теплового.</p> 
            <p>В соответствии с Федеральным законом «Об экологической экспертизе» <span class="block">
	<span class="hover">Проектная документация</span>
	<span class="hidden">Документация, содержащая материалы в текстовой форме и в виде карт (схем) и определяющая архитектурные, функционально-технологические, конструктивные и инженерно-технические решения для обеспечения строительства, реконструкции объектов капитального строительства, их частей, капитального ремонта, если при его проведении затрагиваются конструктивные и другие характеристики надежности и безопасности объектов капитального строительства.</span>
</span> на строительство <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>проходит государственную экологическую экспертизу, в ходе которой устанавливается соответствие намечаемой деятельности экологическим требованиям, а также определяется допустимость реализации проекта в целях предупреждения возможных неблагоприятных воздействий этой деятельности на окружающую природную среду при его реализации.</p>
            <p><span class="color_GOST">(GRI <span id="gri-416-2">416-2</span>)</span> В отчетном году не выявлено случаев несоответствия нормативным требованиям и международным стандартам, касающимся воздействия продукции и услуг на здоровье и безопасность.</p>	
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="headerPage blockLineRightTxt mt-5">
                <p>Ответственность за организацию, регламентацию и координацию деятельности по организации работ в области охраны окружающей среды возложена на директора по управлению качеством АО ИК «АСЭ». На объектах строительства ответственность за выполнение требований по охране окружающей среды возложена на руководителей обособленных структурных подразделений.</p>
                <p>В 2017 году аварий, инцидентов и аномалий при использовании радиационных источников, а также случаев выбросов и сбросов радиоактивных веществ в окружающую среду не было. Превышения согласованных с Федеральным медико-биологическим агентством контрольных уровней, основных дозовых пределов, внутренних поступлений нуклидов, загрязненности воздуха, поверхностей помещений, рабочих мест и оборудования при производстве работ с радиационными источниками не допущено.</p>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h4 class="mt-5"><strong>Обеспечение ядерной и радиационной безопасности на объектах строительства и при выводе 
                    <span class="block">
                        <span class="hover">АЭС</span>
                        <span class="hidden">атомная электростанция</span>
                    </span> из эксплуатации</strong>
            </h4>
            
            <p class="mt-5">В ходе сооружения атомных станций для проверки качества сварных соединений, основного металла и наплавок оборудования и трубопроводов применяется радиографический контроль с использованием радиоизотопных дефектоскопов с закрытыми радионуклидными источниками.</p> 
            <p>Эксплуатация радиационных источников организована в строгом соответствии с требованиями нормативных правовых документов в области использования объектов атомной энергии.</p> 
            <p>Для осуществления деятельности с источниками ионизирующего излучения имеются лицензии на право ведения работ в области использования атомной энергии, выданные органом государственного регулирования безопасности в области использования атомной энергии. На указанные виды деятельности оформлены санитарно-эпидемиологические заключения Федеральным медико-биологическим агентством России.</p> 
            <p>Производственный радиационный контроль осуществляется в соответствии с программой радиационного контроля, согласованной с Федеральным медико-биологическим агентством России.</p> 
            <p>Лица, ответственные за обеспечение радиационной безопасности, учет и контроль и физическую защиту радиоактивных веществ, прошли обучение и аттестацию и имеют разрешения Федеральной службы по экологическому, технологическому и атомному надзору на право ведения работ в области использования атомной энергии.</p> 
            <p>Приказом определен персонал группы «А». Организован учет индивидуальных доз облучения. Ведется учет квартальных и годовых доз, а также суммарной дозы за весь период работы.</p> 
            <p>Превышения уровней среднегодовой эффективной дозы персонала при планировании, производстве работ с радиационными источниками не допущено.</p>
            <p>Учет и контроль радиоактивных веществ осуществляется в соответствии с требованиями НП‑067-16 «Основные правила учета и контроля радиоактивных веществ и радиоактивных отходов в организации».</p>  
            <p>Хранение источников ионизирующего излучения, дефектоскопов и транспортно- упаковочных контейнеров осуществляется в стационарном хранилище в соответствии с требованиями норм радиационной безопасности.</p> 
            <p>В целях обеспечения готовности к предотвращению аварий на объектах использования атомной энергии разработаны мероприятия по предупреждению возникновения аварий и происшествий и документы, определяющие критерии принятия решений в результате радиационных происшествий. Имеется «План мероприятий по защите персонала от радиационной аварии и ее последствий», согласованный с ФМБА России. Разработаны программы подготовки и методики проведения противоаварийных тренировок. Регулярно проводятся противоаварийные тренировки.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <p class="headerPage blockLineRightTxt">В 2017 году отсутствовали нарушения по шкале INES уровня 2 и выше.</p>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <p>В течение 2017 года проводились проверки соблюдения требований федеральных норм и правил в области использования атомной энергии при эксплуатации радиационных источников комиссиями ВКБК, органов государственного управления использованием атомной энергии и государственного регулирования безопасности в области использования атомной энергии.</p>
            <p>Состояние радиационной безопасности в организациях, эксплуатирующих <span class="block">
	<span class="hover">Радиоактивные вещества</span>
	<span class="hidden">Вещества, которые имеют в своем составе радиоактивные нуклиды.</span>
</span>, оценивается удовлетворительно.</p>
            
            <h5 class="mt-5"><strong>Обеспечение промышленной безопасности на объектах строительства</strong></h4>
            
            <p class="mt-5">Обеспечение промышленной безопасности осуществляется в соответствии с Федеральным законом РФ от 21.07.1997 № 116-ФЗ «О промышленной безопасности опасных производственных объектов», требованиями нормативно-правовых документов Российской Федерации и Единой отраслевой политикой Госкорпорации «Росатом» в области промышленной безопасности.</p>
            <p>В целях реализации Единой отраслевой политики Госкорпорации «Росатом» в области промышленной безопасности в АО ИК «АСЭ» утверждена Политика АО ИК «АСЭ» в области промышленной безопасности.</p>
        </div>
    </div>

    <div id="pieNatCap" class="revealator-slideup revealator-once mt-4"></div>

    <div class="row mt-5">
        <div class="col-lg-4 col-md-4 col-sm-0"></div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <p>В 2017 году проведены проверки организации производственного контроля за соблюдением требований промышленной безопасности на опасных производственных объектах (ОПО). В ходе проведенных проверок установлено, что организации, эксплуатирующие ОПО, в целом соблюдают требования промышленной безопасности:</p>

            <ul class="mt-4">
                <li class="mt-2">ОПО зарегистрированы в государственном реестре;</li>
                <li class="mt-2">гражданская ответственность за причинение вреда в результате аварии на ОПО застрахована;</li>
                <li class="mt-2">локальными нормативными актами назначены лица, ответственные за организацию и осуществление производственного контроля промышленной безопасности на ОПО, содержание подъемных сооружений (ПС) в работоспособном состоянии и безопасное производство работ с ними;</li>
                <li class="mt-2">разработаны должностные инструкции вышеуказанных лиц, положения о производственном контроле, производственные инструкции и инструкции по охране труда для персонала, осуществляющего управление ПС, и персонала, осуществляющего строповку груза.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <p class="headerPage blockLineRightTxt">В 2017 году на Белорусской 
                <span class="block">
                    <span class="hover">АЭС</span>
                    <span class="hidden">атомная электростанция</span>
                </span> выполнены стресс-тесты. Стресс-тесты показали устойчивость объекта к внешним воздействиям. Экспертиза материалов стресс-тестов проводится независимыми международными экспертными организациями и специалистами.
            </p>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <p>В филиалах АО ИК «АСЭ» назначены лица, осуществляющие контроль состояния промышленной безопасности на площадках строительства, организовано проведение внутренних проверок состояния безопасности с обходом строительной площадки. По результатам проверок подрядчикам выдается предписание об устранении выявленных нарушений с последующим контролем выполнения требований предписаний.</p>
            <p>Мероприятия, проводимые в рамках инспекционной деятельности, а также проводимый производственный контроль позволили избежать в 2017 году случаев, определенных законодательством РФ как аварии на опасных производственных объектах.</p>
            <p>Состояние обеспечения промышленной безопасности в АО ИК «АСЭ» с учетом отсутствия аварий на опасных производственных объектах оценивается как удовлетворительное.</p>
        </div>
    </div>

    <div id="under" class="mt-5"><strong>2.5.3. Результаты года в области охраны окружающей среды</strong></div>

    <p class="mt-5"><span class="color_GOST">(GRI <span id="gri-306-1">306-1</span>)</span> Организации, входящие в состав <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона, в 2017 году оказывали воздействие на окружающую среду при осуществлении производственной деятельности, деятельности по строительству <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>и эксплуатации административно-хозяйственных объектов в части выбросовзагрязняющих веществ в атмосферный воздух, размещения отходов производства и потребления на специализированных полигонах и сбросов загрязняющих веществ в водные объекты.</p>

    <div class="row mt-4">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <small>Таблица 39. Выбросы загрязняющих веществ разными источниками генерации энергии, тонн</small>
            <table class="table table-borderless table-responsive textCenter">
                <thead>
                    <tr>
                        <th rowspan="2">Загрязняющие вещества</th>
                        <th colspan="4">Объем загрязняющих веществ</th>
                    </tr>
                    <tr>
                        <th>2015</th>
                        <th>2016</th>
                        <th>2017</th>
                        <th>2017-2016/ 2016, %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Диоксид серы</td>
                        <td>0,32</td>
                        <td>0,21</td>
                        <td>1,34</td>
                        <td>более +200</td>
                    </tr>
                    <tr>
                        <td>Оксид углерода</td>
                        <td>13,9</td>
                        <td>10,05</td>
                        <td>13,29</td>
                        <td>+32</td>
                    </tr>
                    <tr>
                        <td>Оксид азота</td>
                        <td>3,74</td>
                        <td>2,82</td>
                        <td>4,75</td>
                        <td>+68</td>
                    </tr>
                    <tr>
                        <td>Другие вещества</td>
                        <td>61,55</td>
                        <td>63,41</td>
                        <td>57,32</td>
                        <td>-10</td>
                    </tr>
                    <tr class="rowBold">
                        <td>Итого</td>
                        <td>79,54</td>
                        <td>76,51</td>
                        <td>76,72</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-0"></div>
    </div>

    <p class="mt-4">В 2017 году в результате добавления источников выбросов в Нововоронежском филиале АО «Атомэнергопроект» и изменения по некоторым объектам метода учета выбросов – расчет объемов выбросов производился на основании фактических данных (в предыдущие годы учитывались данные, указанные в разрешениях на выбросы). Ретроспективный пересчет не проводился.</p> 

    <h4 class="mt-5"><strong>Воздействие на водные ресурсы</strong></h4>
    
    <p class="mt-5"><span class="color_GOST">(GRI 306-1)</span> Общий объем хозяйственно-бытовых, производственных и ливневых стоков, сбрасываемых преимущественно в городские канализационные сети, составил 7 757 тыс м<sup>3</sup>, из них:</p>
    
    <ul class="mt-4">
        <li>сбрасываемых без очистки - 7 641,3 тыс м<sup>3</sup>,</li> 
        <li>очищенных на локальных очистных сооружениях – 115,66 тыс м<sup>3</sup>.</li>
    </ul>

    <p><span class="color_GOST">(GRI 303–3)</span> Оборотное водоснабжение не применяется, повторно или многократно используемая вода отсутствует.</p>

    <br><small>Таблица 40. Сброс сточных вод</small>
    <table class="table table-borderless table-responsive">
        <thead>
            <tr>
                <th>Филиал</th>
                <th>Сброс сточных вод</th>
                <th>Объекты, принимающие сбросы*</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Волгодонский филиал </td>
                <td>
                    Через центральные очистные сооружения Ростовской 
                    <span class="block">
                        <span class="hover">АЭС</span>
                        <span class="hidden">атомная электростанция</span>
                    </span>.
                </td>
                <td>Центральные очистные сооружения РоАЭС</td>
            </tr>
            <tr>
                <td>Балтийский филиал</td>
                <td>В канал ИН-18-8 после предварительной очистки на канализационных очистных сооружениях механической и биологической очистки.</td>
                <td>Канал ИН-18-8</td>
            </tr>
            <tr>
                <td>Курский филиал</td>
                <td>
                    Сброс коллекторно-дренажных вод, образующихся в процессе выполнения работ по водопонижению в котловане строящихся энергоблоков № 1, 2 Курской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>-2. Сбрасываемая вода соответствует категории условно чистых вод. Превышений ПДК не обнаружено. В 2017 году:
                    <br><br><strong>В 2017 году:</strong>
                    
                    <ul class="mt-4">
                        <li>оформлено решение о предоставлении водного объекта в пользование,</li>
                        <li>оформлено разрешение на сброс веществ и микроорганизмов в водные объекты,</li> 
                        <li>у филиала появилась обязанность по ведению учета объема и качества сбрасываемой воды.</li>
                    </ul>
                </td>
                <td>Река Сейм (ЧЕР/ДНЕПР/892/360)</td>
            </tr>
        </tbody>
    </table>

    <small>*Подробнее в Приложении 14 Книги приложений</small>

    <br><br><small>Таблица 41. Общий объем забираемой воды в разбивке по источникам <span class="color_GOST">(GRI <span id="gri-303-1">303-1</span>)</span></small>
    <table class="table table-borderless table-responsive textCenter middleTable">
        <thead>
            <tr>
                <th rowspan="2">Перечень источников водоснабжения</th>
                <th rowspan="2">Источника водоснабжения</th>
                <th colspan="4">Объем водопотребления, тыс. м<sup>3</sup></th>
            </tr>
            <tr>
                <th>2015</th>
                <th>2016</th>
                <th>2017</th>
                <th>(2017-2016)/ 2016, %</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Поверхностные воды, включая болота, реки, озера и океаны</td>
                <td>Цимлянское водохранилище</td>
                <td>35,3</td>
                <td>30,5</td>
                <td>27,6</td>
                <td>-10</td>
            </tr>
            <tr>
                <td>
                    Подземные воды (на базе отдыха «Лесной уют», на объекте строительства Балтийской 
                    <span class="block">
                        <span class="hover">АЭС</span>
                        <span class="hidden">атомная электростанция</span>
                    </span>)
                </td>
                <td>-</td>
                <td>6,9</td>
                <td>12,2</td>
                <td>11,7</td>
                <td>-5</td>
            </tr>
            <tr>
                <td>Муниципальные и другие системы водоснабжения.</td>
                <td>
                    АО «Мосводоканал», ГУП «Водоканал Санкт-Петербурга», Нижегородский ВОДОКАНАЛ, ГП «Белорусская 
                    <span class="block">
                        <span class="hover">АЭС</span>
                        <span class="hidden">атомная электростанция</span>
                    </span>»
                </td>
                <td>108,1</td>
                <td>127,5</td>
                <td>115,3</td>
                <td>-10</td>
            </tr>
            <tr class="rowBold">
                <td>Итого (без учета естественного водопритока)</td>
                <td></td>
                <td>150,3</td>
                <td>170,2</td>
                <td>154,6</td>
                <td>- 9</td>
            </tr>
            <tr>
                <td>Естественный водоприток</td>
                <td>Коллекторно-дренажные воды в котловане строящихся энергоблоков №1 и №2 Курской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>-2</td>
                <td>-</td>
                <td>-</td>
                <td>7420,4</td>
                <td>-</td>
            </tr>
            <tr class="rowBold">
                <td>Итого (с учетом естественного водопритока)</td>
                <td></td>
                <td>-</td>
                <td>-</td>
                <td>7575,0</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>

    <p class="mt-4">В целом сокращение потребления водных ресурсов связано с выполнением организационно-технических мероприятий. Водозабор организаций <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона в 2017 году не оказывал существенного влияния на источники водоснабжения. <span class="color_GOST">(GRI <span id="gri-303-2">303-2</span>)</span></p>

    <h4 class="mt-5"><strong>Воздействие на почву</strong></h4>
	
    <p class="mt-5">В 2017 году работы по рекультивации нарушенных земель на территориях Курской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>-2 и Ростовской <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>не проводились. Выполнение работ по рекультивации планируются эксплуатирующей организацией на завершающем этапе строительства<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>. В результате комплексного строительства <span class="block">
	<span class="hover">э/б </span>
	<span class="hidden">энергоблок</span>
</span>№ 3, 4 Ростовской <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>из общего объема нарушенных земель – 435 559 м<sup>2</sup> – за период 2015–2017 гг. было рекультивировано 351 812 м<sup>2</sup>. Оставшуюся часть нарушенных земель в размере 83 747 м<sup>2</sup> планируется рекультивировать на завершающем этапе строительства.</p>
    <p>Производственная деятельность на строящихся <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>не вызывает ухудшения состояния окружающей среды, в том числе земель.</p>

    <h4 class="mt-5"><strong>Отходы</strong></h4>
	
    <p class="mt-5"><span class="color_GOST">(GRI <span id="gri-306-2">306-2</span>)</span> Обращение с отходами производства и потребления на объектах строительства и эксплуатации <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона осуществляется в соответствии с природоохранными требованиями РФ и стран присутствия, а также разработанными проектами нормативов образования отходов и лимитов на их размещение.</p>
	<p>На всех объектах строительства и объектах эксплуатации оборудованы места для накопления отходов. Объекты размещения и длительного хранения отходов в организациях Дивизиона не эксплуатируются.</p>
	<p>Накопление отходов производится в специально установленные контейнеры, по мере их заполнения отходы передаются специализированным организациям для последующей утилизации, обезвреживания и размещения отходов на полигонах, внесенных в государственный реестр объектов размещения отходов.</p>
	<p><span class="color_GOST">(GRI <span id="gri-306-4">306-4</span>)</span> Транспортировка и передача отходов сторонним организациям для последующего их использования/обезвреживания/размещения производится специализированными транспортными организациями, имеющими лицензию на осуществление этой деятельности.</p>
	<p>Деятельность по перевозке, импортированию, экспортированию или переработке отходов, являющихся «опасными», согласно Базельской конвенции о контроле за трансграничной перевозкой опасных отходов и их удалением не осуществлялась.</p>
	<p>В 2017 году сократился общий объем образования отходов, в том числе отходов IV и V классов опасности, вывозимых для размещения на полигон. Сокращение объемов образования отходов связано с завершением работ и физическим пуском <span class="block">
	<span class="hover">э/б </span>
	<span class="hidden">энергоблок</span>
</span>№ 4 Ростовской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>.</p>

    <br><small>Таблица 42. Общий объем образования отходов, тонн</small>
    <table class="table table-borderless table-responsive">
        <thead>
            <tr>
                <th rowspan="2">Общий объем образования отходов I - V класса опасности</th>
                <th>2015</th>
                <th>2016</th>
                <th>2017</th>
                <th>(2017-2016)/ 2016, %</th>
            </tr>
            <tr>
                <td>4 728,93</td>
                <td>5 492,23</td>
                <td>5 109,85</td>
                <td>- 7</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div id="pieNatCap2" class="revealator-slideup revealator-once"></div>

    <h4 class="mt-5"><strong>Потребление энергоресурсов</strong></h4>

    <p class="mt-5">Сокращение потребления энергетических ресурсов в 2017 году было обусловлено вводом в эксплуатацию в конце 2016 года энергосберегающего оборудования и благоприятными погодными условиями в отопительный период.</p>

    <div class="row mt-4">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <small>Таблица 43. Потребление энергетических ресурсов</small>
            <table class="table table-borderless table-responsive textCenter  middleTable">
                <thead>
                    <tr>
                        <th colspan="5">Потребление  энергетических ресурсов</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>2015</th>
                        <th>2016</th>
                        <th>2017</th>
                        <th>(2017-2016)/ 2016, %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Электрическая энергия, ГВтч</td>
                        <td>46,21</td>
                        <td>39,81</td>
                        <td>32,39</td>
                        <td>-19</td>
                    </tr>
                    <tr>
                        <td>Тепловая энергия, ТДж</td>
                        <td>204,37</td>
                        <td>202,045</td>
                        <td>158,31</td>
                        <td>-22</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-0"></div>
    </div>

    <br><small>Таблица 44. Расход топлива и затраты на его приобретение  для заправки автотранспорта и отопительных нужд</small>
    <table class="table table-borderless table-responsive textCenter">
        <thead>
            <tr>
                <th rowspan="2">Виды топлива</th>
                <th colspan="2">2015</th>
                <th colspan="2">2016</th>
                <th colspan="2">2017</th>
                <th>(2017-2016)/ 2016, %</th>
            </tr>
            <tr>
                <th>т</th>
                <th>млн руб</th>
                <th>т</th>
                <th>млн руб</th>
                <th>т</th>
                <th>млн руб</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Бензин автомобильный</td>
                <td>1 486,32</td>
                <td>59,31</td>
                <td>1 476,75</td>
                <td>60,93</td>
                <td>1 284,6</td>
                <td>50,8</td>
                <td>- 13*</td>
            </tr>
            <tr>
                <td>Топливо дизельное</td>
                <td>3 049,85</td>
                <td>99,74</td>
                <td>2 219,82</td>
                <td>97,53</td>
                <td>1 715,29</td>
                <td>64,35</td>
                <td>- 23*</td>
            </tr>
            <tr>
                <td>Газ (естественный) природный</td>
                <td>1 435,06</td>
                <td>8,69</td>
                <td>1 525,01</td>
                <td>9,70</td>
                <td>1 276,93</td>
                <td>9,77</td>
                <td>-16*</td>
            </tr>
            <tr>
                <td>Уголь</td>
                <td>116,58</td>
                <td>0,46</td>
                <td>104,30</td>
                <td>0,52</td>
                <td>124,00</td>
                <td>0,61</td>
                <td>+ 19**</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <small class="colorFt">
        * В связи с оптимизацией расходов на собственные нужды, сокращением количества собственных перевозок, использованием арендованного транспорта, снятием с баланса транспортных средств, сокращением объемов производимых работ, завершением деятельности Волгодонского филиала ООО «Трест РосСЭМ», окончанием строительства Ростовской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>, приобретением нового оборудования, в том числе дизель-генераторных установок меньшей мощности и повышенной энергоэффективности. Также существенный вклад в снижение потребления топлива внес переезд сотрудников представительства АО ИК «АСЭ» в Республике Беларусь, занятых на строительстве Белорусской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>, из города Нарочь (70 км от площадки строительства) в город Островец (20 км от площадки строительства).
        <br>** Уголь использовался в котельной базы отдыха «Лесной уют» для отопления помещений. Рост потребления угля вызван низкими температурами атмосферного воздуха в начале года.
    </small>

    <h4 class="mt-5"><strong>Израсходованные материалы <span class="color_GOST">(GRI 303-1)</span></strong></h4>
    
    <p class="mt-5">В <span class="block">
	<span class="hover">Инжиниринговом</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизионе при производстве строительно-монтажных работ и отсыпке дорог на объектах строительства <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>используются щебень и песок, а также полуфабрикаты – кирпич, металлоконструкции, трубопроводы.</p> 
    <p>Учет использования строительных материалов по массе и объему ведется подрядными организациями, самостоятельно осуществляющими закупку сырья и материалов в соответствии с рабочей документацией.</p>
    <p>При осуществлении административно-хозяйственной и проектной деятельности используется бумажная продукция, приобретенная у внешних поставщиков. Общий объем потребления бумажной продукции Дивизионом за 2017 год составил 331,16 тонны.</p>
    <p>Учет материалов, представляющих собой переработанные или повторно используемые отходы, в организациях <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона не ведется.</p>
    
    <h4 class="mt-5"><strong>Финансирование природоохранных мероприятий</strong></h4>
	
    <p class="mt-5">Затраты на охрану окружающей среды составили в 2017 году 18 млн рублей, что на 18,2 % выше, чем в 2016 году.</p>

    <div class="row mt-4">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <small>Таблица 45. Затраты на выполнение мероприятий по охране окружающей среды*</small>
            <table class="table table-borderless table-responsive  middleTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>2015</th>
                        <th>2016</th>
                        <th>2017 план</th>
                        <th>2017 факт</th>
                        <th>&#916; 2017/ 2016 </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Затраты, млн руб.</td>
                        <td>22,5</td>
                        <td>15,2</td>
                        <td>8,4</td>
                        <td>18,0</td>
                        <td>18,2 %</td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <small class="colorFt">* Планирование затрат проводится отдельно по каждому направлению деятельности. Консолидированные данные по Дивизиону по плану на 2018 год не составлялись.</small>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-0"></div>
    </div>

    <p class="mt-4">Рост затрат в 2017 году в основном связан с увеличением расходов на организацию мероприятий по проведению производственного экологического мониторинга и необходимостью переоформления разрешительной документации в области охраны окружающей среды.</p>
{% endblock %}

{% block scripts %}
    <script src="/js/echarts.min.js"></script>
    <script src="/js/pieNatCap.js"></script>
    <script src="/js/fm.revealator.jquery.min.js"></script>
{% endblock %}