{% extends "ru/templates/page.html" %}

{% block breadcrumb %}
    <li><a href="/content"><small>Содержание /</small></a></li>
    <li class="active"><small><strong>Обращение Руководителя Инжинирингового дивизиона Госкорпорации «Росатом»</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/президент.jpg);
    background-position-y: 25%;
{% endblock %}

{% block  titleText %} 
    Обращение Руководителя Инжинирингового дивизиона Госкорпорации «Росатом»
{% endblock %}

{% block  subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-14">102-14</a></span>
            <span class="hidden-gri">Заявление самого старшего руководителя, принимающего решения в организации</span>
        </span>
    </li>
</ul>
{% endblock %}

{% block content %}
    

    <div class="row president-recourse">
        <div class="col-12">
            <div class="row leftimg">
                <div class="col-12 president-photo"><img src="/img/лимаренко.jpg" style="width: 100%;"></div>
                <div class="col-12">
                    <div class="president-info mt-2">
                        <div class="president-name mb-2">В.И. Лимаренко -</div>
                
                        <div class="president-description">
                            Руководитель<br>
                            Инжинирингового дивизиона <br>
                            Госкорпорации «Росатом»
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="titlePage">Уважаемые коллеги! Дорогие друзья!</h4>
            <br>
            <p>
                Этот год был очень важным для нас, так как это был год десятилетия Госкорпорации «Росатом». Мы гордимся тем, что отметили этот рубеж достойными результатами.
            </p>

            <p>
                Вместе с физическим пуском четвертого блока Ростовской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>, по сути, завершается целая эпоха серийных энергоблоков с реакторной установкой В‑320, доказавших свою безопасность и надежность как у нас в стране, так и за рубежом. Это большой этап в истории развития атомной энергетики, начатый советскими инженерами и завершаемый теперь нами.
            </p>

            <p>
                Показательно, что буквально через несколько дней после этого события начался физпуск первого блока Ленинградской АЭС‑2, блока поколения III+. Это уже второй блок нового поколения, который мы пускаем, опережая наших конкурентов. И одновременно это важный символический момент, поскольку он знаменует завершение одной серии и старт другой.
            </p>

            <p>
                Также в 2017 году мы успешно осуществили энергетический пуск третьего блока Тяньваньской <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>в Китае. Первые два блока уже считаются лучшими среди всех <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>в этой стране. Мы уверены, что и третий энергоблок будет работать так же надежно и безопасно на благо жителей Китайской Народной Республики.
            </p>

            <p>
                Что касается старта проектов, то здесь прежде всего хотелось бы отметить начало строительства, ознаменовавшееся заливкой первого бетона на третьем и четвертом блоках <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Куданкулам» в Индии. Третий важный старт – это «первый бетон» на <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Руппур» в Народной Республике Бангладеш. Удержание лидерских позиций сегодня в большой степени зависит от интегрированности компаний в развивающуюся цифровую экономику. И мы в <span class="block">
	<span class="hover">Инжиниринговом</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизионе активно идем по этому пути.
            </p>

            <p>
                Мы давно занимаемся вопросами цифровизации, и основным инструментом в этой части служит разработанная нами система Multi-D. Сегодня мы создаем промышленно-технологическую платформу, на которой может работать любая компания – как российская, так и зарубежная. Поэтому свою задачу мы видим и в том, чтобы активно взаимодействовать с государственными учреждениями, тем самым развивая экономику регионов присутствия. В частности, в прошлом году мы заключили с Правительством Нижегородской области соглашение о сотрудничестве в области применения информационных технологий.
            </p>

            <p class="text-focus">
                Три пуска 
                 
                <span class="block">
                    <span class="hover">энергоблоков</span>
                    <span class="hidden">Часть атомной электростанции, представляющая собой комплекс основного и вспомогательного оборудования, объединенного в единую технологическую систему, предназначенного для выработки электрической энергии с использованием одного или двух турбоагрегатов без выработки или с выработкой тепловой энергии за счет преобразования ядерной энергии топлива.</span>
                </span>
                и три «первых бетона». Таковы итоги 2017 года. Но за этими цифрами стоят еще более значимые результаты.
            </p>

            <p>
                В рамках социальной ответственности <span class="block">
	<span class="hover">Инжиниринговый</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизион Госкорпорации «Росатом» последовательно реализует политику социально-ориентированного бизнеса в регионах присутствия, поддерживая социальные проекты в области экологии, культуры, спорта, патриотического воспитания молодежи.
            </p>

            <p>
                Среди приоритетов нашей организации – развитие программ социальной поддержки персонала, создание условий для реализации творческого потенциала сотрудников, кадрового роста молодых специалистов, повышение престижа профессии атомщика.
            </p>

            <p>
                Обеспечение устойчивого экономического положения <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона Госкорпорации «Росатом» в условиях жесткой конкуренции требует объединения всех наших сил и возможностей. Наш коллектив своей ежедневной работой демонстрирует готовность к удержанию технологического лидерства на международном рынке.
            </p>
        </div>
    </div>
{% endblock %}