{% extends "ru/templates/page.html" %} 

{% block link %}
    <link rel="stylesheet" href="/css/fm.revealator.jquery.min.css">
{% endblock %}

{% block breadcrumb %}
<li>
    <a href="/content">
        <small>Содержание /</small>
    </a>
</li>
<li>
    <a href="#">
        <small>Глава 1 /</small>
    </a>
</li>
<li class="active">
    <small><strong>1.5</strong></small>
</li>
{% endblock %} 

{% block picture %}
    background-image: url(../img/prod_cap2.jpg);
    background-position-y: 45%;
{% endblock %}

{% block titleText%} 1.5. Риски и возможности {% endblock %}

{% block  subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-13">102-13</a></span>
            <span class="hidden-gri">Членство в ассоциациях</span>
        </span>
    </li>
</ul>
{% endblock %}
{% block content %}
<div>
    <div>
        <div id="under">
            <strong>1.5.1. Управление рисками</strong>
        </div>
        <div class="row mt-3">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <p>В рамках совершенствования системы управления рисками и внутреннего контроля в 2017 году проводились следующие работы:
                <ul>  
                    <li class="mt-2">еженедельные совещания в формате ОБЕЯ с привлечением ключевых руководителей проектов 
                    <span class="block">
                        <span class="hover">сооружения АЭС</span>
                        <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                    </span> и руководства Компании. Рассмотрение наиболее важных и критических рисков и принятие решений, направленных на снижение/исключение рисков;</li>
                    <li class="mt-2">реализация проекта Госкорпорации «Росатом» «Приведение системы управления рисками в соответствии лучшим международным практикам» с привлечением в качестве консультанта международной консалтинговой компании KPMG. Пилотными проектами выбраны Курская АЭС‑2 и <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Бушер‑2». Была проведена диагностика системы управления проектными рисками, проведены риск-сессии с привлечением ключевых сотрудников проектных офисов, предложены инструменты управления рисками, в том числе количественной оценки рисков графика и стоимости проекта;</li>
                    <li class="mt-2">доработка Стандарта управления рисками проектов сооружения сложных инженерных объектов АО ИК «АСЭ» с учетом лучших международных практик;</li>
                    <li class="mt-2">обучение ~ 430 человек;</li>
                    <li class="mt-2">
                        вступление Компании в международную ассоциацию 
                        <a href="http://ecrionline.org/sindex.html">
                            ECRI (Engineering & Construction Risk Institute) <span class="color_GOST">(GRI <span id="gri-102-13">102-13</span>)</span>.
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="headerPage blockLineLeftTxt">
                    <strong>В Дивизионе используется Автоматизированная система управления рисками, основными функциями которой являются:</strong>
                    <ul class="mt-3">
                        <li>автоматизированная идентификация рисков;</li>
                        <li>формирование базы данных основных рисков проектов 
                            <span class="block">
                                <span class="hover">сооружения АЭС</span>
                                <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                            </span>;</li>
                        <li>ведение карты рисков по проектам;</li>
                        <li>отслеживание графиков выполнения компенсирующих мероприятий.</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <strong>Страхование рисков </strong>
        <p>Цель страхования рисков – обеспечение страховой защиты имущественных интересов Компании при осуществлении ею производственной и хозяйственной деятельности, а также при исполнении обязательств по реализуемым контрактам.
        </p>
        <p>Особенности страховой защиты в Дивизионе обусловлены характером осуществляемой деятельности, географической распределенностью проектов, законодательными особенностями стран-<span class="block">
	<span class="hover">заказчиков</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span>, требованиями <span class="block">
	<span class="hover">заказчиков</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span>, контрактными обязательствами.
        </p>
        <p>В связи с этим каждый отдельный проект обеспечивается своим уникальным страхованием, параметры которого зависят от условий заключаемых контрактов и соглашений, специфики региона, а также от требований национального законодательства страны, где реализуется проект.
        </p>
        <p>Страхование осуществляется в российских и иностранных страховых компаниях. Выбор страховщиков зависит от законодательных норм страны <span class="block">
	<span class="hover">заказчика</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span> и требований <span class="block">
	<span class="hover">заказчика</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span>. По возможности, риски размещаются в российских страховых компаниях, прошедших предварительный отбор Госкорпорации «Росатом».
        </p>
        <p>Комплексное страхование <span class="block">
	<span class="hover">СМР</span>
	<span class="hidden">строительно-монтажные работы</span>
</span>
 осуществляется с обязательным привлечением перестраховочных компаний как международных, так и российских. При необходимости для размещения страхования привлекаются специализированные страховые брокеры, например, такие как Атомный страховой брокер, AON, JLT, Marsh, Willis, UIB, Renomia.
        </p>
        <br>
        <small>
            <strong>Таблица 4. Виды страхования, чаще всего используемые при реализации проектов</strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <td>Комплексное страхование строительно-монтажных работ (применяется на проектах <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span>  «Бушер-2», Белорусская <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span> ;
                    планируется на проектах <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span>  «Руппур»)</td>
                <td>Обеспечивает покрытие «от всех рисков», то есть покрывает ущерб, нанесенный застрахованным объектам в результате
                    любых внезапных и непредвиденных событий, которые не входят в перечень исключений в договоре страхования.
                    На практике это означает, что почти любая внезапная и непредвиденная потеря или ущерб, возникшие во время
                    страхового периода в отношении застрахованного имущества, расположенного на строительной площадке, будут
                    возмещены. </td>
            </tr>
            <tr>
                <td>Страхование оборудования и документации на период транспортировки (применяется на проектах <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span>  «Бушер-2»,
                    Тяньваньская <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span> , Белорусская <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span> , <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span>  «Руппур», <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span>  «Куданкулам»; планируется на <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span>  «Пакш II»).</td>
                <td>Обеспечивает страховое покрытие оборудования, материалов и документации на время их перевозки. </td>
            </tr>
            <tr>
                <td>Страхование профессиональной ответственности (планируется на <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span>  «Эль Дабаа» и <span class="block">
                                <span class="hover">АЭС</span>
                                <span class="hidden">атомная электростанция</span>
                            </span>  «Пакш II»). </td>
                <td>Предполагает защиту имущественных интересов подрядчика, связанных с необходимостью возмещения ущерба третьим
                    лицам в связи с осуществлением им своей профессиональной деятельности. Чаще всего применяется в отношении
                    проектировщиков, строителей и изыскателей.</td>
            </tr>
            <tr>
                <td>Страхование персонала</td>
                <td>Страхование медицинских расходов персонала, выезжающего за пределы постоянного места жительства в рамках
                    служебных командировок.
                    <br> Медицинское страхование персонала на площадках, в представительствах и филиалах.
                    <br> Страхование персонала от несчастных случаев и болезней.
                </td>
            </tr>
        </table>
        <p>Работы и персонал привлекаемых к Проекту субподрядчиков также подлежат страхованию. Страхование строительной техники и персонала субподрядчика является обязательством субподрядчиков.</p>
        <br>
        <h4><strong>Задачи по управлению рисками на 2018 год и среднесрочную перспективу:</strong></h4>
        <ul class="mt-4">
            <li>Дальнейшее развитие системы управления рисками в соответствии с лучшими международными практиками.</li>
            <li>Повышение культуры риск-менеджмента, в том числе через установление ответственности владельцев рисков (установление <span class="block">
	<span class="hover">КПЭ</span>
	<span class="hidden">ключевой показатель эффективности</span>
</span> и <span class="block">
	<span class="hover">ОПД</span>
	<span class="hidden">основные показатели деятельности</span>
</span>), повышение качества анализа рисков при планировании и принятии решений.</li>
            <li>Обучение сотрудников, задействованных в процессах управления рисками, в ECRI (Engineering & Construction Risk Institute).</li>
            <li>Адаптация Автоматизированной системы управления рисками к существующим практикам управления рисками на всех проектах 
                <span class="block">
                    <span class="hover">сооружения АЭС</span>
                    <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                </span>.</li>
            <li>Интеграция процесса управления рисками в блок «Управление рисками проектов» Программы по внедрению системы комплексного
                управления стоимостью и сроками
                <abbr title="Total Cost Management Nuclear Construction (TCM NC) - новая система комплексного управления сроками и стоимостью сооружения объектов использования атомной энергии, обеспечивающая полное покрытие всех процессов управления, с акцентом на управление стоимостью. Подробнее на сайте http://dev.tcmnc.ru/.">Total Cost Management Nuclear Construction (TCM NC)</abbr> .
            </li>
        </ul>
    </div>

    <div class="mt-4">
        <div id="under">
            <strong id="riskmapup">1.5.2. Основные риски и возможности</strong>
        </div>
        <p>По итогам 2017 года актуализированы ключевые риски 
        <span class="block">
            <span class="hover">Инжинирингового</span>
            <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
        </span> 
        дивизиона. </p>
        <small>
            <strong>Карта рисков и возможностей 
            <span class="block">
                <span class="hover">Инжинирингового</span>
                <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
            </span> 
            дивизиона</strong>
        </small>
        <div>
            <small class="color_GOST">*Нажмите на риск для получения дополнительной информации под картой</small>
        </div>
    </div>
    <br>
    <div class="row">
        <div id="risk-map" class="row col-lg-12 col-md-8 col-sm-12 revealator-slideup revealator-once">
            <div class="col-lg-6 col-md-12 col-sm-12 text-center">
                <strong>Риски-угрозы</strong>
                {% include "./table1.html" %}
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 text-center">
                <strong>Риски-возможности</strong>
                {% include "./table2.html" %}
            </div>
        </div>

        <div class="col-lg-12 col-md-4 col-sm-12 risks">
            <a name="contentAccordion" class="go-anchor" href="#riskmapup">к карте ↑</a><br><br>
            <div id="contentAccordion">
                <div id="collapse0" class="collapse show" aria-labelledby="heading0" data-parent="#contentAccordion">
                    <br> Политические и страновые риски
                    <div class="circle_num dblue">
                        <div id="heading1">
                            <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                1
                            </a>
                        </div>
                    </div>
                    <br> Экономические и финансовые риски
                    <div class="circle_num blue">
                        <div id="heading2">
                            <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                2
                            </a>
                        </div>
                        <div id="heading3">
                            <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                3
                            </a>
                        </div>
                        <div id="heading4">
                            <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                4
                            </a>
                        </div>
                        <div id="heading5">
                            <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                5
                            </a>
                        </div>
                    </div>
                    <br> Проектные риски
                    <div class="circle_num green">
                        <div id="heading6">
                            <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                6
                            </a>
                        </div>
                        <div id="heading7">
                            <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                7
                            </a>
                        </div>
                        <div id="heading8">
                            <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                8
                            </a>
                        </div>
                    </div>
                    <br> Репутационные риски
                    <div id="heading9" class="circle_num yellow">
                        <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                            9
                        </a>
                    </div>
                    <br> Технологические риски
                    <div id="heading10" class="circle_num gray">
                        <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                            10
                        </a>
                    </div>
                    <br> Человеческие ресурсы
                    <div id="heading11" class="circle_num bgray bgray_11">
                        <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                            11
                        </a>
                    </div>
                    <br> ВЭ ЯРОО, сооружение и модернизации объектов обращения с 
                    <span class="block">
                        <span class="hover">РАО</span>
                        <span class="hidden">радиоактивные отходы</span>
                    </span>  
                    и 
                    <span class="block">
                        <span class="hover">ОЯТ</span>
                        <span class="hidden">отработавшее (облученное) ядерное топливо</span>
                    </span> 
                    <br> Сервис и модернизация<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>
                    <div class="circle_num dgray">
                        <div id="heading12">
                            <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                12
                            </a>
                        </div>
                        <div id="heading13">
                            <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                13
                            </a>
                        </div>
                    </div>
                    <br> Консультационные услуги по управлению проектами (<span class="block">
	<span class="hover">РМС</span>
	<span class="hidden">Русатом – Международная сеть</span>
</span>-услуги)
                    <div id="heading14" class="circle_num gray1">
                        <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                            14
                        </a>
                    </div>
                    <br> Риски IT
                    <div id="heading15" class="circle_num blue1">
                        <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                            15
                        </a>
                    </div>
                    <br> Человеческие ресурсы
                    <div id="heading16" class="circle_num blue1">
                        <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                            16
                        </a>
                    </div>
                </div>
                <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#contentAccordion">
                    <div class="circle_num dblue">
                        <a>1</a>
                    </div>
                    <br>
                    <br>
                    <strong>Риск (фактор)
                    </strong>
                    Политический риск
                    <br> (Политическая и экономическая нестабильность на целевых рынках)
                    <br>
                    <br>
                    <strong>Обоснование динамики </strong>
                    <br> Факторы роста влияния риска:
                    <br> Сохранение санкций со стороны США и ЕС и ответных санкций со стороны России.
                    <br> Появление вероятности введения санкций в отношении физических и юридических лиц в сфере атомных технологий
                    и как следствие - возможное ограничение сделок с иностранными компаниями по поставке оборудования для
                    <span class="block">
                        <span class="hover">сооружения АЭС</span>
                        <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                    </span> и пр.
                    <br>
                    <br> Факторы снижения влияния риска:
                    <br> Развитие сотрудничества со странами Юго-Восточной Азии. Улучшение отношений с Турцией и Египтом.
                    <br>
                    <br>
                    <strong>Ключевые работы по управлению рисками и реагированию на реализовавшиеся риски в 2017 году. Результаты
                        управления рисками в 2017 году.</strong>
                    <br> Участие в международных форумах.
                    <br> Интенсификация переговорных усилий, в том числе организации визитов представителей стран-партнеров.
                    <br> Организация визитов представителей иностранных 
                    
                    <span class="block">
                        <span class="hover">заказчиков.</span>
                        <span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
                    </span>
                    <br> Поиск новых рынков.
                    <br> Реализация программы импортозамещения по технологиям и оборудованию.

                </div>
                <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#contentAccordion">
                    <div class="circle_num blue">
                        <a>
                            2
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Риск (фактор)
                    </strong>
                    <br> Процентный риск
                    <br> (невозможность привлечения средств с мировых финансовых рынков)
                    <br>
                    <br>
                    <strong>Обоснование динамики </strong>
                    <br> Существенное снижение ключевой ставки ЦБ.
                    <br>
                    <br>
                    <strong>Ключевые работы по управлению рисками и реагированию на реализовавшиеся риски в 2017 году. Результаты
                        управления рисками в 2017 году.</strong>
                    <br> Риск на Компанию в отчетном периоде не повлиял
                </div>
                <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#contentAccordion">
                    <div class="circle_num blue">
                        <a>
                            3
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Риск (фактор)
                    </strong>
                    <br> Риск снижения объема доступного государственного финансирования
                    <br> (изменение макроэкономических показателей РФ)
                    <br>
                    <br>
                    <strong>Обоснование динамики </strong>
                    <br> Сохраняющейся относительно низкий уровень цен на углеводороды.
                    <br> Дефицитный бюджет России.
                    <br>
                    <br>
                    <strong>Ключевые работы по управлению рисками и реагированию на реализовавшиеся риски в 2017 году. Результаты
                        управления рисками в 2017 году.</strong>
                    <br> Результаты: Отсутствуют существенные потери, связанные со снижением объема доступного государственного
                    финансирования.
                </div>
                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#contentAccordion">
                    <div class="circle_num blue">
                        <a>
                            4
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Риск (фактор)
                    </strong>
                    <br> Кредитный риск на поставщиков и покупателей
                    <br>
                    <br>
                    <strong>Обоснование динамики </strong>
                    <br> Банкротство Westinghouse, и как следствие - рост требований к экономической устойчивости ген.подрядчика
                    и суб.подрядчиков.
                    <br>
                    <br>
                    <strong>Ключевые работы по управлению рисками и реагированию на реализовавшиеся риски в 2017 году. Результаты
                        управления рисками в 2017 году.</strong>
                    <br> В рамках конкурсных процедур проводится оценка обеспеченности контрагентов финансовыми ресурсами. Применяются
                    банковские гарантии банков-партнеров Госкорпорации «Росатом».
                </div>
                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#contentAccordion">
                    <div class="circle_num blue">
                        <a>
                            5
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Риск (фактор)
                    </strong>
                    <br>Валютный риск
                    <br>
                    <br>
                    <strong>Обоснование динамики </strong>
                    <br> Несоответствие реальных курсов в течение 2017 года, сценарным курсам заложенным при планировании показателей
                    бюджетов 2017 года.
                    <br>
                    <br>
                    <strong>Ключевые работы по управлению рисками и реагированию на реализовавшиеся риски в 2017 году. Результаты
                        управления рисками в 2017 году.</strong>
                    <br> Контроль открытой валютной позиции.
                    <br> Индивидуальный подход к субподрядчикам, включая учет доли валютной составляющей в себестоимости.

                </div>
                <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#contentAccordion">
                    <div class="circle_num green">
                        <a>
                            6
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Риск (фактор)
                    </strong>
                    <br> Риск неисполнения 
                    <span class="block">
                        <span class="hover">EPC-контрактов</span>
                        <span class="hidden">Компании, реализующие проект «под ключ». Функционал EPC-компании включает проектирование, поставки и строительство</span>
                    </span>
                    на строительство <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>за рубежом, а также неисполнения обязательств
                    по контрактам на строительство <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>в РФ.
                    <br> (На уровне 2016 года)
                    <br>
                    <br>
                    <strong>Обоснование динамики </strong>
                    <br> В связи с ростом числа проектов возможен риск недостаточности ресурсов для выполнения контрактов, в
                    частности трудовых ресурсов, см. риск 11.
                    <br>
                    <br>
                    <strong>Ключевые работы по управлению рисками и реагированию на реализовавшиеся риски в 2017 году. Результаты
                        управления рисками в 2017 году.</strong>
                    <br> Безусловное выполнение условий контрактов.
                </div>
                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#contentAccordion">
                    <div class="circle_num green">
                        <a>
                            7
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Риск (фактор)
                    </strong>
                    <br> Незаключение, перенос сроков реализации 
                    <span class="block">
                        <span class="hover">EPC-контракта</span>
                        <span class="hidden">Компании, реализующие проект «под ключ». Функционал EPC-компании включает проектирование, поставки и строительство</span>
                    </span> по проекту 
                    <span class="block">
                        <span class="hover">сооружения АЭС</span>
                        <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                    </span>
                    <br> (На уровне 2016 года)
                    <br>
                    <br>
                    <strong>Обоснование динамики </strong>
                    <br> Высокая зависимость результатов выбора ген. подрядчика от политического влияния стран-конкурентов.
                    <br>
                    <br>
                    <strong>Ключевые работы по управлению рисками и реагированию на реализовавшиеся риски в 2017 году. Результаты
                        управления рисками в 2017 году.</strong>
                    <br> Активизация работы с 
                    <span class="block">
                        <span class="hover">заказчиками.</span>
                        <span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
                    </span>
                    <br> Проведение переговоров между руководством Госкорпорации «Росатом» и правительством инозаказчика.
                    <br> Разработка планов мероприятий по взаимодействию с инозаказчиком.
                    <br> Реализация программы снижения стоимости и сроков 
                    <span class="block">
                        <span class="hover">сооружения АЭС</span>
                        <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                    </span>.
                    <br> Более активная позиция Компании в работе с существующими зарубежными 
                    
                    <span class="block">
                        <span class="hover">заказчиками</span>
                        <span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
                    </span>
                    по перспективным проектам.
                </div>
                <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#contentAccordion">
                    <div class="circle_num green">
                        <a>
                            8
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Риск (фактор)
                    </strong>
                    <br> Снижение финансирования инозаказчика
                    <br> 1. Отсутствие источников финансирования у ряда стран, в которых у Компании существуют перспективные
                    проекты по 
                    <span class="block">
                        <span class="hover">сооружению АЭС</span>
                        <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                    </span>.
                    <br> 2. Ограниченный инвестиционный ресурс РФ по финансированию проектов
                    <br> (на уровне 2016 года)
                    <br>
                    <br>
                    <strong>Обоснование динамики </strong>
                    <br> Изменения макроэкономических показателей стран – участников проектов.
                    <br>
                    <br>
                    <strong>Ключевые работы по управлению рисками и реагированию на реализовавшиеся риски в 2017 году. Результаты
                        управления рисками в 2017 году.</strong>
                    <br> Реализация работ по альтернативным источникам финансирования – коммерческое кредитование, привлечение
                    партнеров и инвесторов на альтернативных рынках, в том числе за счет периодического привлечения ЧУ «Русатом
                    международная сеть» к реализации указанных мероприятий по альтернативным источникам финансирования.
                    Использование возможностей перераспределения свободных кредитных ресурсов между проектами.
                    <br> Результаты: инозаказчикам были представлены альтернативные предложения по финансированию перспективных
                    проектов.
                </div>
                <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#contentAccordion">
                    <div class="circle_num yellow">
                        <a>
                            9
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Риск (фактор)
                    </strong>
                    <br> Репутационный риск
                    <br> 1. Крупные инциденты в мировой ядерной энергетике;
                    <br> 2. Публикации в СМИ (в РФ и за рубежом) статей, направленных на дискредитацию российских ядерных технологий
                    на традиционных и перспективных рынках
                    <br>
                    <br>
                    <strong>Обоснование динамики </strong>
                    <br> Возможное расширение санкций западных стран на сотрудничество в сфере атомных технологий может негативно
                    отразиться на репутации Дивизиона.
                    <br> Развитие проектов Компании за рубежом в ряде случаев сталкивается с противодействием местных общественных
                    организаций и политических структур.
                    <br> В целом масштабы такого противодействия незначительны, однако подобные события получают периодический
                    отклик в СМИ.
                    <br>
                    <br>
                    <strong>Ключевые работы по управлению рисками и реагированию на реализовавшиеся риски в 2017 году. Результаты
                        управления рисками в 2017 году.</strong>
                    <br> Комплекс мероприятий, направленных на укрепление позитивного общественного отношения к развитию атомной
                    энергетики за счет дальнейшего повышения информационной прозрачности и открытого взаимодействия со всеми
                    заинтересованными сторонами.
                    <br> Систематическое взаимодействие с общественностью и СМИ в регионах строительства объектов. Информирование
                    общественности обо всех значимых событиях, касающихся основной деятельности АО ИК «АСЭ».
                    <br> Публикация отчетности Компании, в том числе Интегрированного годового отчета.
                    <br> Анализ структуры стейкхолдеров, идентификация их ожиданий, расширение круга заинтересованных сторон,
                    привлечение зарубежных стейкхолдеров.
                    <br> Участие в российских отраслевых мероприятий и зарубежных выставках и конференциях
                    <br> Усиление имиджевого присутствия на зарубежных рынках через маркетинговое продвижение бренда.
                </div>
                <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#contentAccordion">
                    <div class="circle_num gray">
                        <a>
                            10
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Риск (фактор)
                    </strong>
                    <br> Риск неконкурентоспособности разрабатываемых технологий (<span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>российского дизайна)
                    <br>
                    <br>
                    <strong>Обоснование динамики </strong>
                    <br> Факторы роста влияния риска:
                    <br> Активная деятельность по продвижению технологий из Кореи и Китая.
                    <br> Повышение требований по безопасности<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>.
                    <br> Разработка новых технологий добычи традиционных видов топлива.
                    <br> Совершенствование и удешевление технологий возобновляемых источников энергии.
                    <br> Факторы снижения влияния риска:
                    <br> Развитие собственной производственной базы, кооперация, инновационная деятельность, обеспечивающие рост
                    показателей по импортозамещению.
                    <br> Снижение транзакционных издержек, повышение качества проектной деятельности и строительных работ с применением
                    моделей цифровой трансформации.
                    <br>
                    <br>
                    <strong>Ключевые работы по управлению рисками и реагированию на реализовавшиеся риски в 2017 году. Результаты
                        управления рисками в 2017 году.</strong>
                    <br> Оценка проектов и технологических разработок по критериям новизны, стоимости и качества на доинвестиционной
                    фазе. Использование технологий управления проектом и гибких методологий Agile, направленных на оценку
                    проекта и технологических разработок.
                    <br> Применение технологий бенчмаркинга и Lean management (в правилах 
                    <span class="block">
                        <span class="hover">ПСР</span>
                        <span class="hidden">Производственная система «Росатом»</span>
                    </span>
                    ) для роста квалификационного уровня,
                    качества, повышения организационной культуры и наращивания рыночных компетенций.
                    <br> Применение методов и моделей государственно-частного партнерства (BOO и др.).
                    <br> Оказание содействия 
                    
                    <span class="block">
                        <span class="hover">странам-заказчикам</span>
                        <span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
                    </span>
                    в развитии собственной ядерной инфраструктуры.
                    <br> Повышение качества проектирования, снижение затрат на следующих фазах жизненного цикла<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>, обеспечиваемое
                    применением моделей BIM и Multi-D технологий.
                    <br> Диверсификация видов деятельности, продуктовых «линеек» и услуг – с учетом многообразия требований заказчиков.
                    Освоение новых секторов рынка. Комплексные предложения потребителям продукции и услуг.
                </div>
                <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#contentAccordion">
                    <div class="circle_num dblue bgray_11">
                        <a>
                            11
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Риск (фактор)
                    </strong>
                    <br> Риск дефицита персонала требуемой квалификации
                    <br>
                    <br>
                    <strong>Обоснование динамики </strong>
                    <br> Факторы роста влияния риска: 
                    <br> Недостаток/отсутствие специалистов в области атомной энергетики в целевых странах для 
                    <span class="block">
                        <span class="hover">сооружения АЭС</span>
                        <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                    </span>. 
                    <br> Недостаток специалистов рабочих и инженерных специальностей в РФ Факторы снижения влияния риска:
                    <br> Рост привлекательности предприятий атомной энергетики в качестве работодателя
                    <br>
                    <br>
                    <strong>Ключевые работы по управлению рисками и реагированию на реализовавшиеся риски в 2017 году. Результаты
                        управления рисками в 2017 году.</strong>
                    <br> Сотрудничество с вузами, поддержка и развитие студенческих стройотрядов
                </div>
                <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#contentAccordion">
                    <div class="circle_num dgray">
                        <a>
                            12
                        </a>
                    </div>
                    <table class="table table-bordered table-responsive">
                        <tr>
                            <th>Риск (фактор)</th>
                            <th>Обоснование динамики</th>
                            <th>Ключевые работы по управлению рисками и реагированию на реализовавшиеся риски в 2017 году.
                                <br> Результаты управления рисками в 2017 году.</th>
                        </tr>
                        <tr>
                            <td>
                                Незаключение новых зарубежных контрактов на оказанию услуг по обращению с 
                                <span class="block">
                                    <span class="hover">РАО</span>
                                    <span class="hidden">радиоактивные отходы</span>
                                </span>  
                                и выводу из эксплуатации
                               <span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>. На зарубежном рынке ДЗО Nukem Technologies GmbH, Nukem Technologies Engineering Services
                                GmbH  1. Рост конкуренции на рынке 2. Перенос ряда ключевых тендеров по инициативе <span class="block">
	<span class="hover">заказчиков</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span></td>
                            <td>
                                Риск сохранился на уровне 2016 года.
                                <br>Отказ ряда европейских стран от использования атомной энергетики дает потенциальный рост доступного для Компании (с учетом европейского актива Nukem) рынка сооружения объектов по обращению с <span class="block">
	<span class="hover">РАО</span>
	<span class="hidden">радиоактивные отходы</span>
</span> и <span class="block">
	<span class="hover">ОЯТ</span>
	<span class="hidden">отработавшее (облученное) ядерное топливо</span>
</span> и ВЭ ЯРОО
                            </td>
                            <td>
                                Переговоры с 
                                 
                                <span class="block">
                                    <span class="hover">заказчиками</span>
                                    <span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
                                </span>
                                и потенциальными партнерами на рынке. Взаимодействие с рыночными интеграторами
                                в составе ГК «Росатом» - АО «Техснабэкспорт», АО «Русатом Сервис», Nukem Technologies Sales
                                International GmbH.

                                <br> Результаты:
                                <br> Участие в крупном тендере на оказание услуг в области обращения с 
                                <span class="block">
                                    <span class="hover">РАО</span>
                                    <span class="hidden">радиоактивные отходы</span>
                                </span>  
                                при выводе из эксплуатации
                                <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>Козлодуй. Результаты тендера будут объявлены в 2018 г.
                                <br> Перевыполнение плана по заключению новых контрактов на рынке Западной Европы (Германия,
                                Франция, Великобритания).
                            </td>
                        </tr>
                        <tr>
                            <td>Невыполнение сроков реализации заключенных контрактов на Игналинской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span></td>
                            <td>Риск сохранился на уровне 2016 года.</td>
                            <td>Усиление состава команды проекта.
                                <br> Оптимизация взаимодействия с 
                                <span class="block">
                                    <span class="hover">заказчиком</span>
                                    <span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
                                </span>
                                и Европейским банком реконструкции и развития.
                                <br> Развитие проектно-ориентированного подхода при реализации работ на Игналинской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>.
                                <br> Результаты:
                                <br> Все ключевые события 2017 г. по вводу в эксплуатацию комплекса по хранению и переработке
                                
                                <span class="block">
                                    <span class="hover">ТРО</span>
                                    <span class="hidden">твердые радиоактивные отходы</span>
                                </span>
                                выполнены в срок.
                                <br> Завершены «холодные» испытания комплекса по хранению и переработке 
                                <span class="block">
                                    <span class="hover">ТРО.</span>
                                    <span class="hidden">твердые радиоактивные отходы</span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Незаключение новых контрактов в результате роста конкуренции на российском рынке вывода из эксплуатации
                                и обращения с 
                                <span class="block">
                                    <span class="hover">РАО</span>
                                    <span class="hidden">радиоактивные отходы</span>
                                </span> 
                            </td>
                            <td>Риск увеличился по сравнению с 2016 годом.</td>
                            <td>Поданы заявки на реализацию 6 проектов НИОКР в области разработки новых технологий в сегменте
                                вывода из эксплуатации и обращения с 
                                <span class="block">
                                    <span class="hover">РАО.</span>
                                    <span class="hidden">радиоактивные отходы</span>
                                </span> 
                                <br> Результаты:
                                <br> Рассмотрение заявок и принятие решений о финансировании проектов запланировано в 2018 г.
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#contentAccordion">
                    <div class="circle_num dgray">
                        <a>
                            13
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Риск (фактор)
                    </strong>
                    <br> Незаключение, перенос сроков реализации контрактов в сегменте сервиса и модернизации<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>
                    <br> (высокая конкуренция со стороны локальных подрядчиков)
                    <br>
                    <br>
                    <strong>Обоснование динамики </strong>
                    <br> Репутация и опыт Компании позволяет удерживать позиции на рынке.
                    <br>Компания, обладая уникальной технологией по управлению проектами Multi-D, имеет потенциал для предоставления рынку консультационных услуг по управлению сооружением сложных инженерных объектов.
                    <br>
                    <br>
                    <strong>Ключевые работы по управлению рисками и реагированию на реализовавшиеся риски в 2017 году. Результаты
                        управления рисками в 2017 году.</strong>
                    <br>Применение лучших практик при строительстве <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>, получаемых Компанией в основном сегменте (<span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span> большой мощности), позволяет наращивать компетенции в оказании <span class="block">
	<span class="hover">РМС</span>
	<span class="hidden">Русатом – Международная сеть</span>
</span> услуг.
                    <br> Риск на Компанию в отчетном периоде не повлиял.
                </div>
                <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#contentAccordion">
                    <div class="circle_num gray1">
                        <a>
                            14
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Риск (фактор)
                    </strong>
                    <br> Незаключение, перенос сроков реализации контрактов по оказанию консультационных услуги по управлению
                    проектами (<span class="block">
	<span class="hover">РМС</span>
	<span class="hidden">Русатом – Международная сеть</span>
</span>-услуги)
                    <br>(высокая конкуренция со стороны существующих игроков)
                    <br>
                    <br>
                    <strong>Обоснование динамики </strong>
                    <br> Компания, обладая уникальной технологией по управлению проектами Multi-D, имеет потенциал для предоставления
                    рынку консультационных услуг по управлению сооружением сложных инженерных объектов.
                    <br>
                    <br>
                    <strong>Ключевые работы по управлению рисками и реагированию на реализовавшиеся риски в 2017 году. Результаты
                        управления рисками в 2017 году.</strong>
                    <br> Применение лучших практик при строительстве<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>, получаемых Компанией в основном сегменте (<span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>большой
                    мощности) позволяет наращивать компетенции в оказании PMC услуг
                </div>
                <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#contentAccordion">
                    <div class="circle_num blue1">
                        <a>
                            15
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Риск (фактор)
                    </strong>
                    <br> Трансформация в цифровую компанию
                    <br>
                    <br>
                    <strong>Обоснование динамики </strong>
                    <br> Развитие цифровой экономики в России, проникновение цифровых технологий во все процессы
                    <br> операционной деятельности
                    <br>
                    <br>
                    <strong>Ключевые работы по управлению рисками и реагированию на реализовавшиеся риски в 2017 году. Результаты
                        управления рисками в 2017 году.</strong>
                    <br> Внедрение Data-ориентированной полноохватной цифровой системы управления. Цифровизация и роботизация
                    процессов для повышения качества и скорости протекания. Обновление инфраструктуры для поддержки цифровой
                    трансформации.
                </div>
                <div id="collapse16" class="collapse" aria-labelledby="heading16" data-parent="#contentAccordion">
                    <div class="circle_num blue1">
                        <a>
                            16
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Риск (фактор)
                    </strong>
                    <br> Повышение эффективности персонала в условиях перехода к цифровой компании
                    <br>
                    <br>
                    <strong>Обоснование динамики </strong>
                    <br> Снижение транзакционных / временных издержек на обработку информации и принятие решений.
                    <br> Повышение эффективности персонала за счет использования информационных технологий.
                    <br>
                    <br>
                    <strong>Ключевые работы по управлению рисками и реагированию на реализовавшиеся риски в 2017 году. Результаты
                        управления рисками в 2017 году.</strong>
                    <br> Личностная трансформация персонала, формирование лидеров цифровой трансформации в АО ИК «АСЭ» и поддерживающих
                    лидеров вовне. Формирование базовых знаний и навыков, способствующих разработке и реализации проектов
                    в рамках перехода к цифровой компании.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="/js/fm.revealator.jquery.min.js"></script>
{% endblock %}