{% extends "ru/templates/page.html" %}

{% block link %}
<link rel="stylesheet" href="/css/searchForm.css">
{% endblock %}

{% block breadcrumb %}
<li><a href="#">
    <small><strong>Поиск</strong></small>
</a></li>
{% endblock %}

{% block  titleText %}
Поиск
{% endblock %}

{% block subtitleText %}
{% endblock %}

{% block content %}
<div class="search-tab">
    <p class="tab-text">
        {% if badsearch %} 
            {{badsearch}}
        {% else %}
            {{goodsearch}}
        {% endif %}
    </p>
    <hr>
    <div class="container-fluid">
        {% for link, inf in search %}
        <div class="container white-tab">
            <a class="tab-digit" href="/{{link}}">{{inf.name}}</a>
            <hr>
            <p class="tab-text">{{inf.context | safe}} </p>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}