{% extends "ru/templates/page.html" %} 

{% block link %}
    <link rel="stylesheet" href="/css/fm.revealator.jquery.min.css">
{% endblock %}

{% block breadcrumb %}
<li>
    <a href="/content">
        <small>Содержание /</small>
    </a>
</li>
<li>
    <a href="#">
        <small>Глава 2 /</small>
    </a>
</li>
<li class="active">
    <small><strong>2.6</strong></small>
</li>
{% endblock %} 

{% block picture %}
    background-image: url(../img/chapters/2.6_soc_rep.jpg);
{% endblock %}

{% block titleText%} 2.6. Социально-репутационный капитал {% endblock %}

{% block subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-40">102-40</a></span>
            <span class="hidden-gri">Список заинтересованных сторон, с которыми организация взаимодействует</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-42">102-42</a></span>
            <span class="hidden-gri">Принципы выявления и отбора заинтересованных сторон для взаимодействия</span>
        </span>
    </li>
</ul>
{% endblock %}

{% block content %}
    <div class="blockLineLeftTxt">
        <p class="txtHead">Социально-репутационный капитал включает: организацию конструктивного взаимодействия с основными заинтересованными сторонами, формирование общественной приемлемости развития атомных технологий, бренд-менеджмент, вклады в развитие территорий присутствия, благотворительные программы и др.</p>
    </div>
    
    <div class="row mt-2">
        <div style="background-image: url(../img/деменцова-бел.jpg); background-position-x: 36%;" class="col-lg-4 col-md-4 col-sm-12 bossPhoto"></div>
        <div class="col-lg-8 col-md-8 col-sm-12 interview">
            <h5>
                <strong>Нина Деменцова,
                    <br>начальник
                    <br>Управления коммуникаций</strong>
            </h5>
            <br>
            <strong>Какие действия предпринимает Дивизион по формированию общественной приемлемости развития атомных технологий в регионах присутствия?</strong>
            
            <em class="directSpeech">
                <p class="mt-4">- В информационной работе мы ориентируемся на стратегию внешних коммуникаций Госкорпорации «Росатом», а также на цели, стоящие перед Дивизионом и отраслью в целом. Наша информационная активность направлена на повышение уровня доверия со стороны населения в регионах присутствия, формирование социального согласия с планами 
                <span class="block">
                    <span class="hover">сооружения АЭС</span>
                    <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
                </span>, разъяснение действий по повышению безопасности атомных станций российского дизайна. Дивизион строит доверительные отношения с заинтересованными сторонами и переходит от стратегии поддержания общественной приемлемости к формированию идеологии общественной востребованности атомной энергетики.</p>
                <p>Информация о событиях, происходящих в Дивизионе, размещается на наших внутренних и внешних сайтах, в многочисленных информационных российских и зарубежных изданиях, в социальных сетях. Мы издаем печатные, фото- и видеоматериалы, лифлеты, буклеты, книги, в том числе для молодежи и школьников, организуем фестивали и фотовыставки, ярмарки для общественности, пресс-туры журналистов на объекты строительства.</p>
                <p>Исходя из того, что во многих странах мы не просто строим<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>, но и по сути создаем атомную отрасль, мы проводим широкую информационную и коммуникационную работу по снятию радиофобии и повышению приемлемости к атомным технологиям. Учитывая, что отношение к отрасли не всегда является эмоционально нейтральным, мы стремимся создать вокруг нашей деятельности максимально позитивный фон, активно организуя различные культурные мероприятия и поддерживая социальные программы.</p>
            </em>

            <br>
            <strong>Можете привести примеры таких действий в 2017 году?</strong>
            
            <em class="directSpeech">
                <p class="mt-4">- В отчетном году совместно с Госкорпорацией «Росатом» реализован проект «Восточные горизонты русского атома», который решал задачи по демонстрации надежности и безопасности российских атомных технологий в Индии и Бангладеш.</p>
                <p>В ходе проекта реализовано около 300 мероприятий. В частности, в городе Ченнаи в Индии организован первый фестиваль науки и еще фестиваль российского анимационного кино, проведены конкурсы рисунков и макетов на тему атомной энергетики. Охват аудитории составил порядка 57 тысяч человек.</p>
                <p>Одним из ключевых событий проекта стало открытие в декабре 2017 года первой за пределами России Общественной приемной при<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>. Это приемная <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Руппур» в Бангладеш, она расположена вблизи возводимой атомной станции в провинции Пабна. Посетители Общественной приемной города Ишварди теперь смогут больше узнать об атомной энергетике, о первой в Бангладеш<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>, о современных строительных технологиях и уникальных системах безопасности энергоблоков <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>новейшего поколения, а также о ходе работ на площадке 
<span class="block">
	<span class="hover">сооружения АЭС</span>
	<span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
</span> «Руппур». Открытие общественных приемных планируется и на других объектах Дивизиона.</p>
                <p>В рамках проекта издан ряд научно-просветительских книг: атомная азбука на тамильском языке, комиксы об атомной энергетике на бенгальском языке.</p>
                <p>Хочу отметить, что проект «Восточные горизонты русского атома» был высоко оценен профессиональным PR-сообществом – он получил диплом в номинации «Международные проекты» конкурса «КонТЭКст», проводимого при поддержке Министерства энергетики Российской Федерации.</p>
            </em>
        </div>
    </div>
    
    <div class="mt-5">
        <div id="under">
            <strong>2.6.1. Награды 2017 года</strong>
        </div>
        
        <br>
        <small>
            <strong>Таблица 38. Награды 2017 года</strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <th>Конкурс</th>
                <th>Достижения</th>
            </tr>
            <tr>
                <td>Премия Power Awards за 2017 год
                </td>
                <td>Энергоблок № 6 Нововоронежской <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>вошел в тройку лауреатов в номинации «Лучшая станция» рейтинга журнала POWER Magazine (США).</td>
            </tr>
            <tr>
                <td>Конкурс 
                <span class="block">
                    <span class="hover">IPMA</span>
                    <span class="hidden">Повышение эффективности проектной деятельности предприятия, осуществляемой в соответствии с лучшими международными практиками в сфере управления проектами. Подтверждение компетентности организации в управлении проектами на международном уровне.</span>
                </span> 
                Project Excellence AWARDS 2017
                </td>
                <td>Проект «Сооружение энергоблока № 3 Ростовской АЭС» занял второе место в номинации «Мегапроект».</td>
            </tr>
            <tr>
                <td> Конкурс CETI AWARD2016
                </td>
                <td>Система управления проектами Multi-D признана лучшей в номинации «Мегапроект».</td>
            </tr>
            <tr>
                <td> Всероссийский конкурс «BIM-технологии»
                </td>
                <td>Проект Курской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>-2 признан победителем в номинации «Технологии информационного моделирования в проектировании объектов недвижимости. Промышленное и гражданское строительство».</td>
            </tr>
            <tr>
                <td> Всероссийский конкурс 
                    <span class="block">
                        <span class="hover">Worldskills </span>
                        <span class="hidden">Международное некоммерческое движение, целью которого является повышение престижа рабочих профессий и развитие профессионального образования путем гармонизации лучших практик и профессиональных стандартов во всем мире посредством организации и проведения конкурсов профессионального мастерства.</span>
                    </span>
                    в сфере информационных технологий Digitalskills
                </td>
                <td>Командная Золотая медаль в номинации «Машинное обучение и большие данные».</td>
            </tr>
            <tr>
                <td> Конкурс «ИТ-проект года» Министерства информационных технологий, связи и средств массовой информации Нижегородской
                    области
                </td>
                <td>Проект «Цифровая торговая платформа Multi-D-Market» признан победителем в номинации «Лучший IT-проект для госсектора» с проектом «Цифровая торговая платформа Multi-D-Market».</td>
            </tr>
            <tr>
                <td> Отраслевой турнир «ТеМП-2017»
                </td>
                <td>В суперфинал конкурса вышли 10 команд, две из которых представляли <span class="block">
	<span class="hover">Инжиниринговый</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизион</td>
            </tr>
            <tr>
                <td> 
                    Конкурс «Лидеры-
                    <span class="block">
                        <span class="hover">ПСР</span>
                        <span class="hidden">Производственная система «Росатом»</span>
                    </span>
                    »
                </td>
                <td>
                    Из шести основных номинаций конкурса в трех победу одержали представители Дивизиона:
                    
                    <ul class="mt-2">
                        <li class="mt-2">в номинации «Лучший <span class="block">
	<span class="hover">ПСР</span>
	<span class="hidden">Производственная система «Росатом»</span>
</span>-проект, направленный на снижение себестоимости» – инженеры АО ИК «АСЭ» Евгений Ратц и Сергей Михеев;</li>
                        <li class="mt-2">в номинации «Повышение производительности труда» – монтажник строительных конструкций ООО «Трест РосСЭМ» Андрей Сальников;</li>
                        <li class="mt-2">за предложение по улучшениям в номинации «Эффективность использования ресурсов (затраты, материалы)» отмечен первый заместитель директора – главный инженер филиала АО «НИКИМТ-Атомстрой» Дирекции Курской <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>Николай Кмитто.</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    
    <div class="mt-5">
        <div id="under">
            <strong>2.6.2. Основные коммуникационные проекты</strong>
        </div>

        <p class="mt-4"><strong>Основные задачи Дивизиона в области коммуникаций:</strong></p>
        
        <ul class="mt-4">
            <li class="mt-2">реализация единой отраслевой информационной, рекламной и бренд-политики Госкорпорации Росатом;</li>
            <li class="mt-2">организация постоянного информационного обмена со средствами массовой информации по вопросам деятельности Дивизиона, организация пресс-туров на атомные электростанции, организация PR-сопровождения важных мероприятий в рамках деятельности Компании;</li>
            <li class="mt-2">создание образа Компании, открытой для партнерства с любыми заинтересованными в сотрудничестве и коммуникационном взаимодействии стратегическими партнерами, компаниями, СМИ, общественными группами в России и за рубежом;</li>
            <li class="mt-2">информационное сопровождение исполнения программы деятельности на долгосрочный период, крупных инвестиционных проектов, реализуемых при участии Дивизиона;</li>
            <li class="mt-2">пропаганда преимуществ российских атомных технологий на российском и зарубежном рынке, в том числе через создание информационных центров в регионах присутствия.</li>
        </ul>

        <br>
        <small>
            <strong>Таблица 39. Участие в крупных международных и федеральных коммуникационных проектах и мероприятиях</strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <th>Коммуникационные проект</th>
                <th>Формат участия</th>
            </tr>
            <tr>
                <td>
                    Открытие Общественной приемной 
                    <span class="block">
                        <span class="hover">АЭС</span>
                        <span class="hidden">атомная электростанция</span>
                    </span>  
                    «Руппур»
                </td>
                <td>24.12.2017 открыта Общественная приемная <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Руппур» в Бангладеш. Впервые проект «Общественная приемная Росатома» реализован за пределами Российской Федерации.</td>
            </tr>
            <tr>
                <td>
                    Торжественная церемония заливки «первого бетона» 
                    <span class="block">
                        <span class="hover">АЭС</span>
                        <span class="hidden">атомная электростанция</span>
                    </span>  
                    «Руппур»
                </td>
                <td>В рамках торжественной церемонии заливки «первого бетона» <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Руппур» (Бангладеш) организован пресс- тур российских федеральных СМИ. Также организован комплекс имиджевых мероприятий в провинции Пабна, предваряющих торжественную церемонию заливки «первого бетона».</td>
            </tr>
            <tr>
                <td>Организация культурного мероприятия для зарубежных партнеров в Венгрии
                </td>
                <td>В рамках форума «Атомекс-Европа», прошедшего 20–21 ноября 2017 года в г. Будапеште, организован гала-концерт звезд российской и венгерской оперы.</td>
            </tr>
            <tr>
                <td>
                    Торжественная церемония начала работ на котловане основных зданий 
                    <span class="block">
                        <span class="hover">э/б</span>
                        <span class="hidden">энергоблок</span>
                    </span> 
                    № 2 
                    <span class="block">
                        <span class="hover">АЭС</span>
                        <span class="hidden">атомная электростанция</span>
                    </span>  
                    «Бушер»
                </td>
                <td>В рамках состоявшегося в ноябре 2017 года в г. Тегеране (Иран) саммита прикаспийских государств организован пресс-тур российских федеральных СМИ на первую атомную электростанцию на Ближнем Востоке – <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Бушер».</td>
            </tr>
            <tr>
                <td>Российско-индийский фестиваль анимационного кино в Индии
                </td>
                <td>В партнерстве со Всероссийской государственной телевизионной и радиовещательной компанией, детскими телеканалами «Карусель» и «Мульт» организован Фестиваль российско-индийского анимационного кино в Индии.</td>
            </tr>
            <tr>
                <td>Фестиваль науки и технологий в Индии
                </td>
                <td>Организован первый Фестиваль науки и технологий в г. Ченнаи (Индия). Центральной площадкой фестиваля стал планетарий им. Б.М. Бирла. Мероприятие проходило на семи площадках в Ченнаи, включая школы и вузы. Фестиваль посетило более 5 000 детей из 90 школ Ченнаи.</td>
            </tr>
            <tr>
                <td>
                    Международная экологическая экспедиция на площадку Белорусской 
                    <span class="block">
                        <span class="hover">АЭС</span>
                        <span class="hidden">атомная электростанция</span>
                    </span> 
                </td>
                <td>В ноябре 2017 года по инициативе АО ИК «АСЭ» прошла вторая Международная экологическая экспедиция на стройплощадку Белорусской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>. Данные полученные в ходе экологического мониторинга на стройплощадке легли в основу экологического паспорта Белорусской<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>.</td>
            </tr>
            <tr>
                <td>NUCKIDS-2017
                </td>
                <td>Проведение отборочных туров для участия детей в театральных постановках. Активное участие в распространении информации о премьере мюзикла в г. Санкт-Петербурге, обеспечение распространения билетов среды социальных и общественных организаций г. Санкт-Петербурга и Ленинградской области.</td>
            </tr>
            <tr>
                <td> Форсаж-2017
                </td>
                <td>В форуме приняли участие 32 молодых специалистоав Дивизиона. Победителями и призерами «Форсажа» стали 19 сотрудников Компании, один специалист стал финалистом конкурса «Инновационный лидер атомной отрасли – 2017».</td>
            </tr>
        </table>
    </div>
    
    <div class="mt-5">
        <div id="under">
            <strong>2.6.3. Вклады в развитие регионов присутствия</strong>
        </div>

        <p class="mt-4">В 2017 году значительное внимание было уделено инициативам, направленным на создание условий общественной приемлемости 
        <span class="block">
            <span class="hover">сооружения АЭС</span>
            <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
        </span> за рубежом и развитие обеспечивающей инфраструктуры. Большой объем работ проведен на площадках <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Руппур» и <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Пакш II».</p>
        <p>В отчетном году в третий раз успешно реализован совместный проект с Правительством Нижегородской области. Подписанное Соглашение о взаимодействии в развитии спорта на сумму 25 млн рублей создает дополнительные условия для поддержки детского и любительского спорта на территории региона.</p>
        <p>В целом вклады в развитие регионов присутствуя вносятся преимущественно через инвестиционные проекты (строительство объектов использования атомной энергии), что влечет за собой появление новых рабочих мест, развитие общественной инфраструктуры, налоговые отчисления и пр. Также определенный вклад в развитие территорий присутствия Дивизиона вносится через реализацию благотворительных проектов.</p>

        <h4 class="mt-5"><strong>Благотворительность</strong></h4>

        <div class="row mt-4">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <p>Группа компаний ASE – <span class="block">
	<span class="hover">Инжиниринговый</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизион Госкорпорации «Росатом» в развитие сложившихся в атомной отрасли принципов корпоративной социальной ответственности уделяет значительное внимание выстраиванию взаимодействия с местными сообществами на территориях присутствия.</p>
                <p>Данная работа носит системный характер. В качестве одного из механизмов для выстраивания каналов коммуникации с регионами является поддержка местных инициатив в рамках реализации мероприятий Компании благотворительного характера.</p>
                <h4 class="mt-5"><strong>Приоритетами <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона при ведении благотворительной деятельности являются:</strong></h4>

                <ul class="mt-4">
                    <li class="mt-2">формирование положительного имиджа Компании;</li>
                    <li class="mt-2">обеспечение высоких социальных и культурных стандартов на территориях размещения объектов атомной отрасли;</li>
                    <li class="mt-2">поддержка проектов, направленных на укрепление социально-экономического развития территорий;</li>
                    <li class="mt-2">содействие реализации проектов по охране окружающей среды.</li>
                </ul>

                <h4 class="mt-5"><strong>Ключевые местные инициативы, которым уделяется особое внимание:</strong></h4>
                
                <ul class="mt-4">
                    <li class="mt-2">укрепление материально-технической базы учреждений здравоохранения, культуры и образования;</li>
                    <li class="mt-2">поддержка ветеранских организаций;</li>
                    <li class="mt-2">поддержка инициатив направленных на сохранение жизни и здоровья людей (инвалидов, престарелых, детей-сирот или детей, оказавшихся в трудной жизненной ситуации, требующих экстренной медицинской помощи);</li>
                    <li class="mt-2">проведение культурно-массовых и спортивных мероприятий;</li>
                    <li class="mt-2">поддержка деятельности информационных центров атомной отрасли;</li>
                    <li class="mt-2">сопровождение и продвижение проектов развития российских ядерных технологий на зарубежных рынках;</li>
                    <li class="mt-2">поддержка религиозных организаций.</li>
                </ul>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="blockLineLeftTxt">
                    <div class="headerPage">
                        В 2017 году проведен пятый конкурс благотворительных проектов среди некоммерческих организаций. 
                        <br><strong>Конкурсные номинации:</strong>

                        <ul class="mt-4">
                            <li class="mt-2">«Культура и спорт»;</li>
                            <li class="mt-2">«Экология»;</li>
                            <li class="mt-2">«Патриотические инициативы»;</li>
                            <li class="mt-2">«Молодое поколение».</li>
                        </ul>

                        <br>При определении победителей внимание было уделено следующим критериям:

                        <ul class="mt-4">
                            <li class="mt-2">актуальность решаемой социальной проблемы,</li>
                            <li class="mt-2">значимость проекта в социальном и культурном развитии территории,</li>
                            <li class="mt-2">востребованность результатов деятельности по проекту,</li>
                            <li class="mt-2">степень участия в проекте населения, общественности, волонтеров,</li>
                            <li class="mt-2">партнерство с органами государственной власти и местного самоуправления, коммерческими и некоммерческими организациями в реализации проекта.</li>
                        </ul>

                        <br>Грантовый фонд составил 26,4 млн руб. Для участия в конкурсе была подана 181 заявка, из которых 115 признаны победителями.
                    </div>
                </div>
            </div>
        </div>
        <p class="text-focus mt-4">В 2017 году на благотворительные цели <span class="block">
	<span class="hover">Инжиниринговым</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизионом было направлено 274,3 млн руб. (в 2016 году – 195,4 млн руб.).</p>
        <div class="row revealator-slideup revealator-once">
            <div class="col-lg-6 col-md-6 col-sm-12" id="ChartD" style="height: 600px;"></div>
            <div class="col-lg-6 col-md-6 col-sm-12" id="ChartE" style="height: 600px;"></div>
        </div>
        
        <p class="mt-4">В 2017 г. значительное внимание было уделено вопросам реализации инициатив, направленных на создание условий общественной приемлемости 
        <span class="block">
            <span class="hover">сооружения АЭС</span>
            <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
        </span> за рубежом и развития социальной инфраструктуры.</p>
        <p>На территории Народной Республики Бангладеш (на площадке 
        <span class="block">
            <span class="hover">сооружения АЭС</span>
            <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
        </span> «Руппур») реализованы следующие проекты: открыты православный храм-часовня и общественная приемная.</p>
        <p>На площадке 
        <span class="block">
            <span class="hover">сооружения АЭС</span>
            <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
        </span> «Куданкулам» продолжена работа православного храма.</p>
        <p>Традиционно большое внимание, как и ранее, в 2017 г. было уделено работе, направленной на восстановление и реконструкцию храмов в регионах присутствия (Успенский Собор Саровской пустыни; Свято-Троицкая Сергиева лавра, храм Преподобного Серафима Саровского и Собора Курских Святых г. Курчатова).</p>
        <p>В 2017 г. в третий раз подряд успешно реализован совместный проект с Правительством Нижегородской области. Подписанное Соглашение о взаимодействии в развитии спорта на сумму 25 млн руб. создает дополнительные условия для осуществления поддержки детского и любительского спорта на территории региона.</p>
        
        <h4 class="mt-5"><strong>Планы на 2018 год</strong></h4>
        
        <p class="mt-4">В соответствии с проектом Перечня инициатив благотворительного характера на 2018 г. на благотворительные цели предполагается направить порядка 395 млн руб. Среди особо значимых событий 2018 г. необходимо выделить следующие:</p>

        <ul class="mt-4">
            <li>в связи с вступлением в силу контракта на <span class="block">
	<span class="hover">сооружение АЭС</span>
	<span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
</span> «Эль-Дабаа» в Египте, Группой компаний ASE совместно с ЧУ «РМС» изучается возможность строительства Информационного центра атомной отрасли;</li>
            <li>также совместно с ЧУ «РМС» предполагается проведение работы по созданию условий общественной приемлемости 
            <span class="block">
                <span class="hover">сооружения АЭС</span>
                <span class="hidden">Полный процесс возведения АЭС от проектно-изыскательских работ до сдачи в эксплуатацию Заказчику.</span>
            </span> «Пакш» на территории Венгерской Республики;</li>
            <li>на площадке сооружения Белорусской <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>предполагается строительство православной часовни.</li>
        </ul>

        <p>Безусловно, в 2018 г. также состоится ставший традиционным Конкурс благотворительных проектов среди некоммерческих организаций на территориях присутствия.</p>

        <h4 class="mt-4"><strong>Налоговые отчисления </strong></h4>
        
        <p class="mt-4"><span class="block">
	<span class="hover">Инжиниринговый</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизион оказывает значительное влияние на формирование доходной части бюджетов территорий присутствия.</p>
        <p class="text-focus">В 2017 году объем перечисленных налогов составил 6 263 млн руб.</p>
        
        <br>
        <small>
            <strong>Таблица 40. Налоги и взносы, начисленные и уплаченные организациями 
            <span class="block">
                <span class="hover">Инжинирингового</span>
                <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
            </span> 
            дивизиона*, млн руб.</strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <td rowspan="2"></td>
                <th colspan="2">2015</th>
                <th colspan="2">2016</th>
                <th colspan="2">2017</th>
                <th colspan="2">∆ 2017 /2016</th>
            </tr>
            <tr>
                <td>Начислено</td>
                <td>Уплачено</td>
                <td>Начислено</td>
                <td>Уплачено</td>
                <td>Начислено</td>
                <td>Уплачено</td>
                <td>Начислено</td>
                <td>Уплачено</td>
            </tr>
            <tr class="rowBold">
                <td>Налоги и взносы, всего</td>
                <td>3 856</td>
                <td>7 968</td>
                <td>6 239</td>
                <td>5 453</td>
                <td>8 597</td>
                <td>6 263</td>
                <td>37,8 %</td>
                <td>14,84 %</td>
            </tr>
            <tr>
                <td colspan="9">в том числе в:</td>
            </tr>
            <tr>
                <td>Федеральный бюджет</td>
                <td>-7 293</td>
                <td>-1 382</td>
                <td>-2 574</td>
                <td>-5 126</td>
                <td>-3 041</td>
                <td>-2 663</td>
                <td>18,13 %</td>
                <td>-48,05 %</td>
            </tr>
            <tr>
                <td>Бюджеты субъектов РФ </td>
                <td>389</td>
                <td>368</td>
                <td>157</td>
                <td>158</td>
                <td>194</td>
                <td>158</td>
                <td>23,81 %</td>
                <td>-0,18 %</td>
            </tr>
            <tr>
                <td>Местные бюджеты </td>
                <td>37 </td>
                <td>38</td>
                <td>37</td>
                <td>36</td>
                <td>35</td>
                <td>38</td>
                <td>-6,05 %</td>
                <td>4,69 %</td>
            </tr>
            <tr>
                <td>Бюджеты иностранных государств</td>
                <td>1 932 </td>
                <td>913</td>
                <td>2 105</td>
                <td>2 285</td>
                <td>2 958</td>
                <td>2 166</td>
                <td>40,52 %</td>
                <td>-5,21 %</td>
            </tr>
            <tr>
                <td>Налог на прибыль участника КГН</td>
                <td>4 814</td>
                <td>4 088</td>
                <td>2 805</td>
                <td>4 507</td>
                <td>5 011</td>
                <td>3 006</td>
                <td>78,65 %</td>
                <td>-33,30 %</td>
            </tr>
            <tr>
                <td>Страховые взносы во внебюджетные фонды</td>
                <td>3 976 </td>
                <td>3 942</td>
                <td>3 709</td>
                <td>3 612</td>
                <td>3 440</td>
                <td>3 559</td>
                <td>-7,26 %</td>
                <td>-1,47 %</td>
            </tr>
        </table>
        <hr>
        <small>
            <em>
                * Основной объем налоговых платежей формирует НДС, исчисленный к возмещению из бюджета (-) за счет экспортных операций по реализации оборудования (возмещение при реализации, облагаемой НДС 0 %) по АО АСЭ.
                <br> АО АСЭ, АО ИК «АСЭ», АО «АТОМЭНЕРГОПРОЕКТ», АО «АТОМПРОЕКТ», ООО «Трест РосСэм» являются участниками консолидированной группы налогоплательщиков (КГН), в связи с чем не производят самостоятельную уплату налога на прибыль. Начисленный и уплаченный налог на прибыль показывает то, что перечислено ответственному участнику КГН.
                <br>Показатели динамики, приведенные в таблицах, могут отличаться от аналогичных показателей, рассчитанных по данным в Отчете, из-за округления показателей.
            </em>
        </small>
    </div>
    
    <div class="mt-5">
        <div id="under">
            <strong>2.6.4. Основные российские и международные соглашения 2017 года</strong>
        </div>
        <p class="mt-5"><span class="block">
	<span class="hover">Инжиниринговый</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизион в 2017 году вел активную работу по взаимодействию и сотрудничеству с рядом российских и международных компаний, в том числе в сфере развития цифровых технологий.</p>

        <br>
        <small>
            <strong>Таблица 41. Основные российские и международные соглашения 2017 года</strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <th>Партнер</th>
                <th>Тип документа</th>
                <th>Задачи</th>
                <th>Результаты</th>
            </tr>
            <tr>
                <td>Assystem </td>
                <td>Меморандум о взаимопонимании </td>
                <td>
                    <ul>
                        <li>Сотрудничество в области продвижения и практического внедрения решений на основе Multi-D для компаний-операторов <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>в странах Европы, Ближнего Востока, Северной Африки и др.</li>
                        <li>Совместное участие в проектировании, сооружении и вводе в эксплуатацию новых <span class="block">
	<span class="hover">э/б </span>
	<span class="hidden">энергоблок</span>
</span><span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>за пределами России.</li>
                        <li>Сотрудничество в области <span class="block">
	<span class="hover">Инжиниринга</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> и управления цепочками поставщиков продукции и услуг зарубежных предприятий, а также предприятий АСЭ и российского атомного энерго-промышленного комплекса, включая как оборудование для<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>, так и оборудование для тепловой энергетики, в странах Европы, Ближнего Востока, Северной Африки и др.</li>
                        <li>Сотрудничество в сфере услуг и работ, связанных с исследовательскими ядерными установками, и совместное участие в открытых тендерах Международного экспериментального термоядерного реактора ИТЭР.</li>
                        <li>Сотрудничество в области заключительной стадии <span class="block">
	<span class="hover">ЯТЦ</span>
	<span class="hidden">Ядерный топливный цикл</span>
</span> и вывода из эксплуатации ОИАО и обращения с <span class="block">
	<span class="hover">РАО</span>
	<span class="hidden">радиоактивные отходы</span>
</span>.</li>
                    </ul>
                </td>
                <td>
                    Развитие стратегии для продвижения промышленно-технологической цифровой платформы на международном уровне.
                    <br>Заключение доходного договора с EDF на услуги Multi-D.
                </td>
            </tr>
            <tr>
                <td>МИФИ </td>
                <td>Соглашение о образовательном и научно-техническом сотрудничестве </td>
                <td>
                    <ul>
                        <li>Развитие новых форм подготовки кадров для экономики знаний с учетом меняющихся под воздействием научно-технического прогресса требований к инженерным профессиям.</li>
                        <li>Подготовка кадров для управления процессами на всем протяжении жизненного цикла <span class="block">
	<span class="hover">ОИАЭ</span>
	<span class="hidden">объекты использования атомной энергии</span>
</span>
 и сложных высокотехнологических объектов других секторов экономики, включая подготовку специалистов для разработки решений в сфере цифровых производств.</li>
                        <li>Целевая подготовка иностранных студентов для работы на объектах, сооружаемых АО ИК «АСЭ» за рубежом.</li>
                        <li>Подготовка кадров с учетом требований к их работе в мультикультурной среде с владением инженерным английским языком.</li>
                        <li>Организация совместных целевых образовательных и исследовательских программ в области проектирования, строительства и эксплуатации<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>, а также выведения их из эксплуатации с учетом реализуемой АО ИК «АСЭ» долгосрочной производственной программы.</li>
                        <li>Развитие цифровых технологий (включая VirtualReality-<span class="block">
	<span class="hover">Инжиниринг</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span>, технологии машинного обучения и искусственного интеллекта; разработку, тестирование и верификацию программных решений; разработку решений по интеграции расчетных кодов с системами автоматизированного проектирования; создание и развитие электронных каталогов, цифровых промышленно-технологических и торговых платформ) для всего жизненного цикла <span class="block">
	<span class="hover">ОИАЭ</span>
	<span class="hidden">объекты использования атомной энергии</span>
</span>
 и сложных высокотехнологических объектов других секторов экономики.</li>
                        <li>Развитие инфраструктуры для реализации совместных проектов в области <span class="block">
	<span class="hover">Инжиниринга</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span>, ядерной физики и компьютерных наук для неатомного сектора применительно к стратегии АО ИК «АСЭ» и Госкорпорации «Росатом» на диверсификацию предприятий отрасли, проведение совместных работ по коммерциализации результатов исследований и разработок путем их внедрения в промышленность.</li>
                        <li>Проведение отраслевых, общероссийских и международных конференций, форумов и иных публичных мероприятий, посвященных вопросам технологий и подготовки кадров в области проектирования, строительства, эксплуатации <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>и вывода их из эксплуатации.</li>
                    </ul>
                </td>
                <td>
                    Развитие стратегического направления по созданию и внедрению промышленно-технологической цифровой платформы.
                    <br>Формирование кадрового резерва для отрасли, предоставление возможностей для обучения, организация совместных целевых образовательных и исследовательских программ.
                </td>
            </tr>
            <tr>
                <td>Ассоциация организаций по развитию технологий информационного моделирования в строительстве и ЖКХ (BIM-ассоциация)</td>
                <td>Меморандум о сотрудничестве</td>
                <td>
                    <ul>
                        <li>Развитие методов информационного моделирования в строительстве.</li>
                        <li>Создание отраслевых и национальных стандартов и методических рекомендаций по информационному моделированию зданий и сооружений.</li>
                        <li>Практическое освоение технологий информационного моделирования, приобретение опыта при работе со специализированным программным обеспечением, совершенствование организационной и функциональной структуры проектов при проектировании объектов капитального строительства с использованием технологий информационного моделирования, наработка библиотечных элементов и шаблонов проектов.</li>
                    </ul>
                </td>
                <td>
                    Развитие стратегического направления по созданию и внедрению промышленно-технологической цифровой платформы.
                    <br>Вхождение в международную Ассоциацию для продвижения Multi-D, популяризации информационного моделирования в строительстве.
                    <br>Развитие компетенций в сфере информационного моделирования в строительстве.
                </td>
            </tr>
            <tr>
                <td>ООО «САП СНГ»</td>
                <td>Меморандум о намерениях по созданию Центра Компетенции 
                 
                <span class="block">
                    <span class="hover">инжиниринга</span>
                    <span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
                </span>
                объектов атомной энергетики на базе решений
                    SAP
                </td>
                <td>
                    <ul>
                        <li>Развитие типовой архитектуры Единого информационного пространства АО ИК «АСЭ».</li>
                        <li>Включение в цифровую платформу Multi-D решений SAP, внедряемых в АО ИК «АСЭ» в рамках проекта ИСУП КС (И).</li>
                        <li>Интеграция со смежными IT-системами Госкорпорации «Росатом» и ее дивизионов, подрядчиков и <span class="block">
	<span class="hover">заказчиков</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span> в рамках единого унифицированного стандарта по электронному обмену информацией в рамках процессов капитального строительства и эксплуатации.</li>
                    </ul>
                </td>
                <td>
                    Развитие стратегического направления по созданию и внедрению промышленно-технологической цифровой платформы.
                    <br>Создание Центра компетенции в области автоматизации <span class="block">
	<span class="hover">Инжиниринговой</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> деятельности на базе решений SAP, что позволит АСЭ выйти на принципиально новый уровень управления капитальным строительством за счет использования инструментов анализа больших данных, искусственного интеллекта и машинного обучения.
                </td>
            </tr>
            <tr>
                <td>ООО «ИБМ Восточная Европа/Азия»</td>
                <td>Соглашение о сотрудничестве</td>
                <td>
                    Стратегическое сотрудничество в области:

                    <ul>
                        <li>развития стратегии цифровой трансформации, в частности создания решений на основе технологии для контроля логистических потоков, развития предиктивной аналитики и реализации аналитических решений на базе искусственного интеллекта и машинного обучения как с использованием открытого стека технологий, так и с использованием технологий IBM Watson и IoT;</li>
                        <li>решений по управлению ремонтами, эксплуатацией и выводом из эксплуатации<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>.</li>
                    </ul>
                </td>
                <td>
                    Развитие стратегического направления по созданию и внедрению промышленно- технологической цифровой платформы.
                    <br>Развитие стратегии для продвижения цифровой платформы на международном уровне.
                </td>
            </tr>
            <tr>
                <td>АО «Хилти Дистрибьюшн ЛТД»</td>
                <td>Меморандум о сотрудничестве</td>
                <td>Развитие стратегического сотрудничества в области информационных технологий, направленных на популяризацию решений, разработанных компанией Hilti – сокращение сроков проектирования и реализации проектов.</td>
                <td>
                    Развитие стратегического направления по созданию и внедрению промышленно-технологической цифровой платформы.
                    <br>Заключение Долгосрочного Соглашения о сотрудничестве и взаимодействии в области разработки и развития системы Multi-D Маркет в составе промышленно-технологической цифровой платформы полного жизненного цикла сложных инженерных объектов Multi-D для дальнейшего использования этих данных в форматах систем автоматизированного проектирования крупнейших вендоров программного обеспечения, таких как Autodesk, AVEVA, Bentley Systems, Dassault Systemes, Intergraph PP&M, Siemens PLM и др.
                </td>
            </tr>
            <tr>
                <td>Негосударственное образовательное учреждение дополнительного профессионального образования Московская Школа
                    Управления «СКОЛКОВО»
                    <br> Фонд «Центр стратегических разработок «Северо-Запад»
                </td>
                <td>Соглашение о сотрудничестве</td>
                <td>
                    <ul>
                        <li>Методологическая и консультационная поддержка создания цифровых платформ российских и международных компаний в различных секторах экономики.</li>
                        <li>Проведение исследований в области цифровизации экономики, анализ и трансфер лучших зарубежных управленческих практик.</li>
                        <li>Проведение аудита предприятий и организаций на предмет соответствия требованиям по цифровизации бизнес-процессов, оказание услуг по повышению «цифровой зрелости».</li>
                        <li>Разработка и реализация моделей организационных изменений для выполнения проектов по цифровизации и реализации связанных с ними проектов трансформации бизнес-моделей предприятий.</li>
                        <li>Создание и запуск учебных программ подготовки кадров в ключевых областях цифровизации экономики.</li>
                        <li>Внедрение цифровых технологий в существующие производственные и экономические процессы предприятий, организация процесса масштабирования передового опыта по внедрению успешных цифровых технологий.</li>
                    </ul>
                </td>
                <td>
                    Формирование и развитие стратегического направления по созданию и внедрению промышленно-технологической цифровой Платформы.
                    <br>Развитие сотрудничества на проектной основе для накопления и распространения опыта цифровой трансформации государственного и коммерческого секторов экономики России.
                </td>
            </tr>
        </table>
    </div>
    
    <div class="mt-5">
        <div id="under">
            <strong>2.6.5. Взаимодействие с заинтересованными сторонами</strong>
        </div>
        <div class="row mt-4">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <p class="text-focus">В своей деятельности мы стремимся к формированию партнерских и взаимовыгодных отношений с заинтересованными сторонами.</p>
                <p>Взаимодействие с заинтересованными сторонами осуществляется во всех регионах присутствия Дивизиона. В 2017 году велась активная работа с <span class="block">
	<span class="hover">заказчиками</span>
	<span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
</span>, партнерами, СМИ, общественными и экологическими организациями, органами власти и другими стейкхолдерами в форме регулярных встреч, форумов, конференций, выставок, круглых столов, пресс-туров на площадки строительства атомных станций.</p>
                <p>Ранговая карта заинтересованных сторон</p>
                    <div id="ChartF" class="revealator-slideup revealator-once" style="height: 300px;"></div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="headerPage blockLineLeftTxt">
                    <span class="color_GOST"> (GRI <span id="gri-102-40">102-40</span>, <span id="gri-102-42">102-42</span>) </span>
                    <strong>Принципы взаимодействия с заинтересованными сторонами:</strong>
                    
                    <ul class="mt-4">
                        <li class="mt-2">принцип «открытости и вовлеченности» – Компания реализует политику информационной открытости и вовлечения общественности в проекты (<span class="block">
	<span class="hover">ОВОС</span>
	<span class="hidden">оценка воздействия на окружающую среду</span>
</span>
, публичная отчетность, форумы/ выставки, издательская деятельность и пр.);</li>
                        <li class="mt-2">принцип «учета и реагирования» – Компания учитывает запросы и потребности основных заинтересованных сторон, включая интересы тех, кто не имеет возможности высказать свое мнение (например, будущих поколений), и своевременно реагирует на обоснованные запросы и предложения;</li>
                        <li class="mt-2">принцип «существенности» – Компания взаимодействует со стейкхолдерами по всем существенным для нее и для заинтересованных сторон вопросам;</li>
                        <li class="mt-2">принцип «взаимной выгоды» – Компания стремится выстраивать взаимодействие с заинтересованными сторонами на основе взаимовыгодного сотрудничества.</li>
                    </ul>
                </div>
            </div>
        </div>

        <br><br>
        <small>
            <strong>Таблица 42. Ключевые заинтересованные стороны </strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <th>Ключевые заинтересованные стороны </th>
                <th>Основные интересы</th>
                <th>Способы взаимодействия </th>
            </tr>
            <tr>
                <td>Акционеры:
                    <br> Госкорпорация «Росатом», АО «Атомэнергопроект», АО АСЭ.

                </td>
                <td>
                    <ul>
                        <li>Реализация стратегии.Экономическая эффективность.</li>
                        <li>Устойчивость бизнеса.Прозрачность бизнес-процессов.</li>
                    <ul>
                </td>
                <td>
                    <ul>
                        <li>Участие в реализации стратегических целей акционера.</li>
                        <li>Совершенствование Системы корпоративного управления.</li>
                        <li>Внедрение «Производственной системы «Росатом».</li>
                        <li>Выполнение <span class="block">
	<span class="hover">КПЭ</span>
	<span class="hidden">ключевой показатель эффективности</span>
</span>.</li>
                    </ul>

                    <br>
                    <i>
                        См. разделы 
                        <br>«<a href="/division_strategy">Стратегический обзор</a>», 
                        <br>«<a href="/corporate_governance">Корпоративное управление</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>
                    
                    <span class="block">
                        <span class="hover">Заказчики:</span>
                        <span class="hidden">Юридическое или физическое лицо, имеющее намерение осуществить строительство, реконструкцию или иной вид строительных работ, для проведения которого требуется разрешение на строительство.</span>
                    </span>
                    АО «Концерн Росэнергоатом»,
                    NPPD Company of Iran, АО «Словацкие
                    электростанции», ИКАЭЛ, АО <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Аккую»,
                    Цзянсуская ядерная энергетическая корпорация
                    (JNPC), Китайская ядерная энергетическая
                    <span class="block">
	<span class="hover">Инжиниринговая</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> корпорация (CNPE),
                    Китайская корпорация ядерной энергетической
                    промышленности (CNEIC), ГУ «ДСАЭ», EVN,
                    FSNPC, ГП НАЭК «Энергоатом»
                </td>
                <td>
                    <ul>
                        <li>Выполнение планов строительства.</li>
                        <li>Сокращение сроков и стоимости строительства.</li>
                        <li>Повышение качества работ.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Выполнение контрактных обязательств.</li>
                        <li>Участие в работе Штабов.</li>
                        <li>Освоение современных технологий <span class="block">
	<span class="hover">Инжиниринга</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span>.</li>
                        <li>Двусторонние визиты.</li>
                    </ul>

                    <br>
                    <i>
                        См. разделы 
                        <br>«<a href="/productive_capital">Производственный капитал</a>»,
                        <br>«<a href="/natural_capital">Природный капитал</a>», 
                        <br>«<a href="/division_strategy">Стратегический обзор</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>Партнеры: поставщики, подрядчики.
                </td>
                <td>
                    <ul>
                        <li>Получение новых заказов.</li>
                        <li>Финансовое состояние Компании.</li>
                        <li>Перспективы сотрудничества.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Проведение открытых тендеров.</li>
                        <li>Заключение долгосрочных договоров с прозрачными правилами ценообразования.</li>
                        <li>Участие в выставках и форумах.</li>
                        <li>Двусторонние визиты.</li>
                        <li>Формирование стратегических партнерств.</li>
                    </ul>

                    <br>
                    <i> 
                        См. раздел 
                        <br>«<a href="/productive_capital">Производственный капитал</a>». 
                    </i>
                </td>
            </tr>
            <tr>
                <td>Сотрудники и организации, представляющие интересы сотрудников: профсоюз, Совет молодых специалистов, Совет
                    ветеранов.
                </td>
                <td>
                    <ul>
                        <li>Развитие Компании.</li>
                        <li>Профессиональный и карьерный рост.</li>
                        <li>Безопасные условия труда.</li>
                        <li>Достойные условия вознаграждения.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Повышение квалификации персонала.</li>
                        <li>Программы кадрового резерва.</li>
                        <li>Социальная поддержка работников.</li>
                        <li>Социальное партнерство.</li>
                    </ul>

                    <br>
                    <i> 
                        См. раздел 
                        <br>«<a href="/human_capital">Человеческий капитал</a>», 
                        <br>«<a href="/natural_capital">Природный капитал</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>Органы местного самоуправления.</td>
                <td>
                    <ul>
                        <li>Экологическая и радиационная безопасность.</li>
                        <li>Развитие инфраструктуры. Налоговые отчисления.</li>
                        <li>Создание новых рабочих мест.</li>
                        <li>Реализация социальных программ.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Соглашения о сотрудничестве.</li>
                        <li>Социальные и благотворительные программы.</li>
                        <li>Проведение <span class="block">
	<span class="hover">ОВОС</span>
	<span class="hidden">оценка воздействия на окружающую среду</span>
</span>
.</li>
                        <li>Общественные приемные.</li>
                        <li>Публичная отчетность.</li>
                    </ul>

                    <br>
                    <i> 
                        См. разделы 
                        <br>«<a href="/soc_rep_capital">Социально-репутационный капитал</a>», 
                        <br>«<a href="/natural_capital">Природный капитал</a>», 
                        <br>«<a href="/human_capital">Человеческий капитал</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>Государственные органы контроля (надзора):
                    <br> Федеральная служба по экологическому, технологическому и атомному надзору.
                </td>
                <td>Соблюдение требований российского и международного законодательства.</td>
                <td>
                    <ul>
                        <li>Получение лицензий.</li>
                        <li>Проведение инспекционных проверок.</li>
                        <li>Отчетность.</li>
                        <li>Разработка предложений по совершенствованию законодательства.</li>
                    </ul>

                    <br>
                    <i>
                        См. разделы 
                        <br>«<a href="/productive_capital">Производственный капитал</a>», 
                        <br>«<a href="/financial_capital">Финансовый капитал</a>», 
                        <br>«<a href="/natural_capital">Природный капитал</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>Международные организации, в т. ч. ядерного сектора:
                    <br> МАГАТЭ (IAEA), WANO, WNA, Агентство по атомной энергии
                    <br> ОЭСР.
                </td>
                <td>
                    <ul>
                        <li>Развитие атомной энергетики.</li>
                        <li>Экологическая и радиационная безопасность.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Международные конференции/выставки/форумы. Совместные программы.</li>
                        <li>Работа в совместных комитетах, комиссиях, экспертных группах по вопросам развития атомной энергетики.</li>
                    </ul>
                    
                    <br>
                    <i>
                        См. разделы 
                        <br>«<a href="/productive_capital">Производственный капитал</a>», 
                        <br>«<a href="/intellectual_capital">Интеллектуальный капитал</a>», 
                        <br>«<a href="/natural_capital">Природный капитал</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>Профессиональные ассоциации: Торгово-промышленная палата РФ, Российский союз промышленников и предпринимателей
                    и др.</td>
                <td>Перспективы сотрудничества. </td>
                <td>Форумы/конференции/выставки.</td>
            </tr>
            <tr>
                <td>Органы государственной власти: Правительство РФ, Государственная Дума РФ, Совет Федерации РФ. </td>
                <td>
                    <ul>
                        <li>Развитие атомной энергетики.</li>
                        <li>Экологическая и радиационная безопасность.</li>
                        <li>Развитие инфраструктуры. Налоговые отчисления.</li>
                        <li>Создание новых рабочих мест.</li>
                        <li>Реализация социальных программ.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Проведение <span class="block">
	<span class="hover">ОВОС</span>
	<span class="hidden">оценка воздействия на окружающую среду</span>
</span>
.</li>
                        <li>Работа в совместных комитетах, комиссиях, экспертных группах по вопросам развития атомной энергетики.</li>
                        <li>Публичная отчетность.</li>
                        <li>Вклады в развитие регионов присутствия.</li>
                    </ul>
                    
                    <br>
                    <i>
                        См. разделы 
                        <br>«<a href="/division_strategy">Стратегический обзор</a>», 
                        <br>«<a href="/corporate_governance">Корпоративное управление</a>», 
                        <br>«<a href="/financial_capital">Финансовый капитал</a>», 
                        <br>«<a href="/productive_capital">Производственный капитал</a>», 
                        <br>«<a href="/soc_rep_capital">Социально-репутационный капитал</a>», 
                        <br>«<a href="/human_capital">Человеческий капитал</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>Страховые организации: АО «СОГАЗ» и др.</td>
                <td>Гражданская ответственность за причинение вреда вследствие недостатков работ в области строительства, проектирования и инженерных изысканий, которые оказывают влияние на безопасность объектов капитального строительства.
                </td>
                <td>Страхование рисков гражданской ответственности и другие виды страхования.

                    <br>
                    <i>
                        См. разделы 
                        <br>«<a href="/risks_and_opportunities">Управление рисками</a>», 
                        <br>«<a href="/productive_capital">Производственный капитал</a>», 
                        <br>«<a href="/human_capital">Человеческий капитал</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>Финансово-кредитные учреждения: ОАО «АКБ САРОВБИЗ-НЕСБАНК», Волго-Вятский банк ОАО и др. </td>
                <td>Финансирование, кредитование.</td>
                <td>
                    Кредитование.

                    <br>
                    <i>
                        См. разделы 
                        <br>«<a href="/division_strategy">Стратегический обзор</a>», 
                        <br>«<a href="/financial_capital">Финансовый капитал</a>», 
                        <br>«<a href="/corporate_governance">Корпоративное управление</a>». 
                    </i>
                </td>
            </tr>
            <tr>
                <td>Научное сообщество:
                    <br> НИИ, Академия наук и др.
                </td>
                <td>
                    <ul>
                        <li>Развитие отраслевой науки.</li>
                        <li>Разработка инновационных технологий.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Совместные программы.</li>
                        <li>Заказы на НИОКР.</li>
                        <li>Научные конференции</li>
                    </ul>
                        
                    <br>
                    <i> 
                        См. раздел 
                        <br>«<a href="/intellectual_capital">Интеллектуальный капиталом</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>Менеджмент Компании.</td>
                <td>Реализация стратегии Компании. </td>
                <td>
                    <ul>
                        <li>Совершенствование системы управления.</li>
                        <li>Программы повышения эффективности.</li>
                    </ul>

                    <br>
                    <i>
                        См. раздел 
                        <br>«<a href="/division_strategy">Стратегический отчет</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>Население регионов присутствия.</td>
                <td>
                    <ul>
                        <li>Создание рабочих мест.</li>
                        <li>Вклады в развитие регионов присутствия.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Общественные приемные.</li>
                        <li>Социальные и благотворительные программы.</li>
                        <li>Проведение <span class="block">
	<span class="hover">ОВОС</span>
	<span class="hidden">оценка воздействия на окружающую среду</span>
</span>
.</li>
                    </ul>

                    <br>
                    <i> 
                        См. разделы 
                        <br>«<a href="/human_capital">Человеческий капитал</a>», 
                        <br>«<a href="/natural_capital">Природный капитал</a>», 
                        <br>«<a href="/soc_rep_capital">Социально-репутационный капитал</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>Средства массовой информации.</td>
                <td>Обеспечение оперативного доступа к информации о деятельности Компании.</td>
                <td>
                    <ul>
                        <li>Пресс-конференции и пресс-туры.</li>
                        <li>Публичная отчетность.</li>
                        <li>Обновление информации на сайтах, официальном блоге, ресурсах в социальных сетях.</li>
                    </ul>
                
                    <br>
                    <i> 
                        См. раздел 
                        <br>«<a href="/soc_rep_capital">Социально-репутационный капитал</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>Образовательные учреждения: НИЯУ МИФИ, НГТУ, НГСУ,
                    <br> НГУ им. Н.И. Лобачевского, Ивановский государственный
                    <br> энергетический университет и др.
                </td>
                <td>
                    <ul>
                        <li>Целевая подготовка кадров.</li>
                        <li>Развитие отраслевой науки.</li>
                        <li>Разработка инновационных технологий.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Подготовка, переподготовка и повышение квалификации сотрудников.</li>
                        <li>Организация студенческой практики.</li>
                        <li>Заказы на НИОКР.</li>
                    </ul>

                    <br>
                    <i> 
                        См. разделы 
                        <br>«<a href="/human_capital">Человеческий капитал</a>», 
                        <br>«<a href="/intellectual_capital">Интеллектуальный капитал</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>Общественные, в том числе экологические организации: Экологический фонд им. В.И. Вернадского и др.</td>
                <td>
                    <ul>
                        <li>Социальные и благотворительные программы.</li>
                        <li>Социальное партнерство.</li>
                        <li>Охрана окружающей среды.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Социальные и благотворительные программы.</li>
                        <li>Экологические экспедиции.</li>
                        <li>Проведение <span class="block">
	<span class="hover">ОВОС</span>
	<span class="hidden">оценка воздействия на окружающую среду</span>
</span>
.</li>
                        <li>Публичная отчетность.</li>
                    </ul>

                    <br>
                    <i> 
                        См. разделы 
                        <br>«<a href="/natural_capital">Природный капитал</a>», 
                        <br>«<a href="/soc_rep_capital">Социально-репутационный капитал</a>».
                    </i>
                </td>
            </tr>
        </table>

        <h4 class="mt-5"><strong>Система публичной отчетности</strong></h4>

        <p class="mt-4">В Компании с 2010 года создана Система публичной отчетности (СПО). В 2016 году завершилось формирование <span class="block">
	<span class="hover">Инжинирингового</span>
	<span class="hidden">Инженерно-консультационные услуги исследовательского, проектно-конструкторского, расчетно-аналитического характера, подготовка технико-экономических обоснований проектов, выработка рекомендаций в области организации производства и управления, то есть комплекс коммерческих услуг по подготовке и обеспечению процесса производства и реализации продукции, по обслуживанию и эксплуатации промышленных, инфраструктурных и других объектов.</span>
</span> дивизиона. В связи с расширением контура управления, а также появлением новых задач у Дивизиона (трансформация в цифровую компанию), в 2017 году началась реорганизация СПО.</p>

        <img src="/img/public_report.svg">

        <br><br>
        <small>
            <strong>Таблица 43. Результаты 2017 года по совершенствования СПО</strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <th>Направления работ</th>
                <th>Результаты </th>
            </tr>
            <tr>
                <td rowspan="2">Совершенствование СПО </td>
                <td>Разработан проект концепции модернизации СПО.</td>
            </tr>
            <tr>
                <td>Актуализирован и расширен состав Комитета по публичной отчетности.</td>
            </tr>
            <tr>
                <td rowspan="3">Взаимодействие с заинтересованными сторонами</td>
                <td>Разработан проект концепции взаимодействия Дивизиона с заинтересованными сторонами (в рамках проекта модернизации СПО).</td>
            </tr>
            <tr>
                <td>Разработан проект и техническое задание на модернизацию интерактивной Платформы ВЗС.</td>
            </tr>
            <tr>
                <td>Велись работы по актуализации стейкхолдерского окружения, в том числе в целях формирования нового состава Комиссии ЗС.</td>
            </tr>
            <tr>
                <td rowspan="2">Совершенствование нормативно-методической базы</td>
                <td>Проведено исследование существующих процессов сбора информации в целях публичной отчетности, подготовлены рекомендации по их совершенствованию.</td>
            </tr>
            <tr>
                <td>Актуализированы нормативные документы по публичной отчетности: проект новой редакции стандарта публичной отчетности, Положение о Комитете по публичной отчетности, Положение о Комиссии ЗС.</td>
            </tr>
            <tr>
                <td rowspan="4">Повышение качества публичной отчетности</td>
                <td>Общественное заверение в Совете РСПП по нефинансовой отчетности.</td>
            </tr>
            <tr>
                <td>Экспертиза Отчета Российской Региональной Сетью по интегрированной отчетности на предмет соответствия Международному стандарту <ИО>.</td>
            </tr>
            <tr>
                <td>Исследование по лучшим практикам подготовки интегрированных отчетов.</td>
            </tr>
            <tr>
                <td>Выпуск видеофильма и статей о публичной отчетности (журнал «Экономические стратегии», сайт рейтингового агентства «Эксперт-РА»).</td>
            </tr>
            <tr>
                <td>Повышение квалификации кадров</td>
                <td>Проведен обучающий семинар со специалистами профильных подразделений.</td>
            </tr>
        </table>

        <br><br>
        <small>
            <strong>Таблица 44. Награды отчета за 2016 год</strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <th colspan="2">Отраслевой конкурс</th>
            </tr>
            <tr>
                <td>Конкурс публичной отчетности организаций Госкорпорации «Росатом»</td>
                <td>
                    <ul>
                        <li>Победитель в номинации «Лучший годовой отчет дивизиона Госкорпорации «Росатом».</li>
                        <li>Победитель в номинации «Эффективность публичной отчетности».</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th colspan="2">Национальные конкурсы</th>
            </tr>
            <tr>
                <td>Ежегодный конкурс годовых отчетов рейтингового агентства «Эксперт РА»</td>
                <td>
                    <ul>
                        <li>Победитель в номинации «Лучший интегрированный годовой отчет».</li>
                        <li>Высший балл – 5 звезд – в рейтинге годовых отчетов за 2016 год.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th colspan="2">Международные конкурсы</th>
            </tr>
            <tr>
                <td rowspan="8">League of American Communications Professionals </td>
                <td>6 место в Топ-50 лучших годовых отчетов мира</td>
            </tr>
            <tr>
                <td>11 место в Топ-80 лучших годовых отчетов Европы</td>
            </tr>
            <tr>
                <td>4 место в Топ-20 лучших годовых отчетов России</td>
            </tr>
            <tr>
                <td>Платиновая награда в номинации «Лучшее письмо акционерам» (среди всех отчетов Европы)</td>
            </tr>
            <tr>
                <td>Платиновая награда в номинации «Лучшее обращение к заинтересованным сторонам» (среди всех отчетов мира)</td>
            </tr>
            <tr>
                <td>Платиновая награда за достижения в своей отрасли по подготовке годового отчета</td>
            </tr>
            <tr>
                <td>Платиновая награда за достижения в секторах «Энергетика» и «Оборудование и Услуги» (1 место), а также золотая
                    награда в секторе «Бизнес-услуги» (2-4 место)</td>
            </tr>
            <tr>
                <td>Платиновая награда в номинации «Лучший финансовый отчет»</td>
            </tr>
            <tr>
                <th>Australasian Reporting Awards</th>
                <td>Золотая награда</td>
            </tr>
            <tr>
                <th rowspan="4">MarCom Awards</th>
                <td>Платиновая награда в номинации «Corporation – Лучший годовой отчет корпорации»</td>
            </tr>
            <tr>
                <td>Платиновая награда в номинации Annual Report / CSR Report «Writing – Лучший текст отчета»</td>
            </tr>
            <tr>
                <td>Золотая награда в номинации «Annual Report Cover – лучшая обложка отчета»</td>
            </tr>
            <tr>
                <td>Золотая награда в номинации «E-Annual Report – Лучший интерактивный годовой отчет»</td>
            </tr>
            <tr>
                <th rowspan="2">CRRA</th>
                <td>3 место в номинации «Лучший интегрированный отчет»</td>
            </tr>
            <tr>
                <td>4 место в номинации «Заверение отчетной информации»</td>
            </tr>
        </table>

        <br><br>
        <small>
            <strong>Таблица 45. Задачи на 2018 год и среднесрочную перспективу по совершенствованию СПО</strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <th>Направления работ</th>
                <th>Планы</th>
            </tr>

            <tr>
                <td rowspan="2">Взаимодействие с заинтересованными сторонами</td>
                <td>Модернизация интерактивной платформы взаимодействия с заинтересованными сторонами, запуск версии ПВЗС 1.0.</td>
            </tr>
            <tr>
                <td>Формирование нового состава Комиссии ЗС.</td>
            </tr>
            <tr>
                <td>Совершенствование нормативно-методической базы</td>
                <td>
                    Разработка проекта новой системы сбора информации в целях публичной отчетности АО ИК «АСЭ» на основании результатов.
                    <br>Исследования существующих процессов сбора информации в целях публичной отчетности АО ИК «АСЭ» и рекомендаций по их совершенствованию.
                </td>
            </tr>
            <tr>
                <td rowspan="5">Повышение качества публичной отчетности</td>
                <td>Проведение одного из диалогов с ЗС на площадке строительства<span class="block">
	<span class="hover"> АЭС</span>
	<span class="hidden">атомная электростанция</span>
</span>.</td>
            </tr>
            <tr>
                <td>Общественное заверение отчетов в Совете РСПП по нефинансовой отчетности, Российской Региональной Сетью по интегрированной отчетности.</td>
            </tr>
            <tr>
                <td>Исследование по лучшим практикам подготовки отчетов компаний – международных лидеров в цифровой трансформации.</td>
            </tr>
            <tr>
                <td>Выпуск в пилотном режиме буклетов по итогам года площадок <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Руппур» и <span class="block">
	<span class="hover">АЭС </span>
	<span class="hidden">атомная электростанция</span>
</span>«Пакш II».</td>
            </tr>
            <tr>
                <td>Расширение списка партнеров по продвижению публичных отчетов Дивизиона.</td>
            </tr>
            <tr>
                <td>Повышение квалификации кадров</td>
                <td>Проведение обучающего семинара со специалистами профильных подразделений и семинара (или вебинара) с представителями основных ЗС.</td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/js/echarts.min.js"></script>
    <script src="/js/chartsSocRepCap.js"></script> 

    <script src="/js/fm.revealator.jquery.min.js"></script>
{% endblock %}