<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 19.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="5 190.5 620 447.4" style="enable-background:new 5 190.5 620 447.4;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;}
	.st1{fill:none;stroke:#201600;stroke-miterlimit:10;}
	.st2{fill:none;stroke:#201600;stroke-miterlimit:10;stroke-dasharray:6.007,6.007;}
	.st3{fill:#595959;}
	.st4{font-family:'ArialMT';}
	.st5{font-size:14px;}
	.st6{fill:none;stroke:#201600;stroke-miterlimit:10;stroke-dasharray:6;}
	.st7{font-size:12px;}
	.st8{fill:#003E9F;stroke:#003E9F;stroke-miterlimit:10;}
	.st9{fill:#FFFFFF;}
	.st10{font-size:18px;}
	.st11{fill:#003E9F;}
	.st12{fill:#00CD00;stroke:#00CD00;stroke-miterlimit:10;}
	.st13{fill:#00CD00;}
	.st14{fill:#8D2795;stroke:#8D2795;stroke-miterlimit:10;}
	.st15{fill:none;stroke:#000000;stroke-miterlimit:10;}
	.st16{fill:#FFFFFF;stroke:#243189;stroke-width:1.5;}
	.st17{fill:none;stroke:#243189;stroke-width:1.5;}
</style>
<g>
	<rect id="canvas_background" x="9" y="202.6" class="st0" width="582" height="402"/>
</g>
<g>
	<path id="svg_1" class="st0" d="M616,568.6"/>
	<path id="svg_2" class="st0" d="M39.3,568.6"/>
	<path id="svg_3" class="st0" d="M43.3,207.9"/>
	<path id="svg_4" class="st0" d="M43.3,575.3"/>
	<g id="svg_5">
		<g id="svg_6">
			<line id="svg_7" class="st1" x1="39.3" y1="540.6" x2="42.3" y2="540.6"/>
			<line id="svg_8" class="st2" x1="48.3" y1="540.6" x2="610" y2="540.6"/>
			<line id="svg_9" class="st1" x1="613" y1="540.6" x2="616" y2="540.6"/>
		</g>
	</g>
	<g id="svg_10">
		<g id="svg_11">
			<line id="svg_12" class="st1" x1="39.3" y1="442.6" x2="42.3" y2="442.6"/>
			<line id="svg_13" class="st2" x1="48.3" y1="442.6" x2="610" y2="442.6"/>
			<line id="svg_14" class="st1" x1="613" y1="442.6" x2="616" y2="442.6"/>
		</g>
	</g>
	<g id="svg_15">
		<g id="svg_16">
			<line id="svg_17" class="st1" x1="39.3" y1="345.3" x2="42.3" y2="345.3"/>
			<line id="svg_18" class="st2" x1="48.3" y1="345.3" x2="610" y2="345.3"/>
			<line id="svg_19" class="st1" x1="613" y1="345.3" x2="616" y2="345.3"/>
		</g>
	</g>
	<line id="svg_20" class="st0" x1="39.3" y1="247.3" x2="616" y2="247.3"/>
	<g id="svg_21">
		<line id="svg_22" class="st0" x1="39.3" y1="217.3" x2="616" y2="217.3"/>
		<g id="svg_23">
			<line id="svg_24" class="st1" x1="39.3" y1="217.3" x2="42.3" y2="217.3"/>
			<line id="svg_25" class="st2" x1="48.3" y1="217.3" x2="610" y2="217.3"/>
			<line id="svg_26" class="st1" x1="613" y1="217.3" x2="616" y2="217.3"/>
		</g>
	</g>
	<path id="SVGID_x5F_2_x5F_" class="st0" d="M76,575.3v-358"/>
	<text id="svg_27" transform="matrix(6.123234e-017 -1 1 6.123234e-017 20 383.5904)" class="st3 st4 st5">Влияние на деятельность ЗС</text>
	<line id="svg_28" class="st6" x1="118" y1="575.3" x2="118" y2="217.3"/>
	<line id="svg_29" class="st6" x1="196.7" y1="575.3" x2="198" y2="217.3"/>
	<line id="svg_30" class="st6" x1="377.3" y1="575.3" x2="377.3" y2="217.3"/>
	<line id="svg_31" class="st6" x1="540.7" y1="575.3" x2="540.7" y2="217.3"/>
	<line id="svg_32" class="st6" x1="377.3" y1="568.6" x2="43.3" y2="345.3"/>
	<rect id="svg_33" x="184.7" y="579.9" class="st0" width="27.3" height="14"/>
	<text transform="matrix(1 0 0 1 193.5665 589.8625)" class="st3 st4 st5">3</text>
	<text id="svg_37" transform="matrix(1 0 0 1 116.6665 591.257)" class="st3 st4 st5">2</text>
	<text id="svg_38" transform="matrix(1 0 0 1 69.3335 589.257)" class="st3 st4 st5">1.5</text>
	<text id="svg_39" transform="matrix(1 0 0 1 31.3335 587.923)" class="st3 st4 st5">1</text>
	<text id="svg_40" transform="matrix(1 0 0 1 21.3335 545.257)" class="st3 st4 st5">1.5</text>
	<text id="svg_41" transform="matrix(1 0 0 1 20 446.59)" class="st3 st4 st5">2.5</text>
	<text id="svg_42" transform="matrix(1 0 0 1 32.6665 348.59)" class="st3 st4 st5">3</text>
	<text id="svg_43" transform="matrix(1 0 0 1 25 252.59)" class="st3 st4 st5">3.5</text>
	<text id="svg_44" transform="matrix(1 0 0 1 30.3335 222.59)" class="st3 st4 st5">4</text>
	<text id="svg_45" transform="matrix(1 0 0 1 369.333 590.59)" class="st3 st4 st5">3.5</text>
	<text id="svg_46" transform="matrix(1 0 0 1 538.667 589.923)" class="st3 st4 st5">4</text>
	<text id="svg_47" transform="matrix(1 0 0 1 54.6665 558.59)" class="st3 st4 st7">Низкая существенность</text>
	<text id="svg_48" transform="matrix(1 0 0 1 87.3335 359.9235)" class="st3 st4 st7">Средняя существенность</text>
	<text id="svg_49" transform="matrix(1 0 0 1 87.3335 238.59)" class="st3 st4 st7">Высокая существенность</text>
	<text transform="matrix(1 0 0 1 78.6665 613.257)" class="st3 st4 st7">Влияние деятельности Компании на экономику,</text>
	<text transform="matrix(1 0 0 1 345.1509 613.257)" class="st4 st7"> </text>
	<text transform="matrix(1 0 0 1 78.6665 627.657)" class="st3 st4 st7">соц. окружение и экологическую среду</text>
	<g id="svg_53" class="matrix-circles matrix-ellipse">
		<a id="svg_54"  class="item collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1" data-tooltip="Безопасность АЭС">
			<circle id="svg_55" class="st8" cx="540.7" cy="299.9" r="16"/>
			<text id="svg_56" transform="matrix(1 0 0 1 536.333 305.2565)" class="st9 st4 st10">1</text>
		</a>
		<a id="svg_57" class=" collapsed" data-toggle="collapse" data-target="#collapse29" aria-expanded="false" aria-controls="collapse29" data-tooltip="Подготовка и повышение квалификации кадров компании в условиях цифрового перехода">
			<circle id="svg_58" class="st8" cx="401.3" cy="412.9" r="16"/>
			<text transform="matrix(1 0 0 1 382.6904 419.2565)" class="st11 st4 st10">d</text>
			<text transform="matrix(1 0 0 1 392.8904 419.2565)" class="st9 st4 st10">29</text>
		</a>
		<a id="svg_62" class=" collapsed" data-toggle="collapse" data-target="#collapse27" aria-expanded="false" aria-controls="collapse27" data-tooltip="Повышение квалификации сотрудников Компании">
			<circle id="svg_63" class="st8" cx="390.7" cy="380.6" r="16"/>
			<text transform="matrix(1 0 0 1 381.2172 387.2565)" class="st9 st4 st10">27</text>
		</a>
		<a id="svg_67" class=" collapsed" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14" data-tooltip="Трансформация инжинирингового дивизиона в цифровую компанию">
			<circle id="svg_68" class="st8" cx="422.7" cy="389.3" r="16"/>
			<text transform="matrix(1 0 0 1 412.443 395.2565)" class="st9 st4 st10">14</text>
		</a>
		<a id="svg_72" class=" collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6" data-tooltip="Обеспечение исполнения обязательств Компании по законтрактованным проектам">
			<circle id="svg_73" class="st8" cx="406.7" cy="359.9" r="16"/>
			<text id="svg_74" transform="matrix(1 0 0 1 401.333 365.9235)" class="st9 st4 st10">6</text>
		</a>
		<a id="svg_75" class=" collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8" data-tooltip="Снижение сроков и стоимости строительства АЭС">
			<circle id="svg_76" class="st8" cx="436" cy="359.9" r="16"/>
			<text id="svg_77" transform="matrix(1 0 0 1 430 365.9235)" class="st9 st4 st10">8</text>
		</a>
		<a id="svg_78" class=" collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2" data-tooltip="Экологическая и промышленная безопасность на объектах строительства">
			<circle id="svg_79" class="st8" cx="526.7" cy="380.6" r="16"/>
			<text id="svg_80" transform="matrix(1 0 0 1 522 386.59)" class="st9 st4 st10">2</text>
		</a>
		<a id="svg_81" class=" collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11" data-tooltip="Оказание услуг на новых рынках (диверсификация бизнеса)">
			<circle id="svg_82" class="st12" cx="182" cy="425.9" r="16"/>
			<text transform="matrix(1 0 0 1 172.8842 431.257)" class="st9 st4 st10">11</text>
		</a>
		<a id="svg_86" class=" collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9" data-tooltip="Обеспечение портфеля заказов Компании на долгосрочную перспективу">
			<circle id="svg_87" class="st12" cx="317.5" cy="397.3" r="16"/>
			<text transform="matrix(1 0 0 1 313.0515 402.59)" class="st9 st4 st10">9</text>
		</a>
		<a id="svg_91" class=" collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7" data-tooltip="Развитие системы управления проектами">
			<circle id="svg_92" class="st12" cx="285.5" cy="400.9" r="16"/>
			<text transform="matrix(1 0 0 1 280.3927 407.2565)" class="st9 st4 st10">7</text>
		</a>
		<a id="svg_96" class=" collapsed" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12" data-tooltip="Повышение операционной эффективности и производительности труда">
			<circle id="svg_97" class="st12" cx="285.5" cy="363.9" r="16"/>
			<text transform="matrix(1 0 0 1 275.9919 369.9235)" class="st9 st4 st10">12</text>
		</a>
		<a id="svg_101" class=" collapsed" data-toggle="collapse" data-target="#collapse26" aria-expanded="false" aria-controls="collapse26" data-tooltip="Обеспечение достойных условий труда и соблюдение прав сотрудников">
			<circle id="svg_102" class="st12" cx="259" cy="359.9" r="16"/>
			<text transform="matrix(1 0 0 1 249.2172 366.59)" class="st9 st4 st10">26</text>
		</a>
		<a id="svg_106" class=" collapsed" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10" data-tooltip="Реализация инновационных проектов">
			<circle id="svg_107" class="st12" cx="353" cy="359.9" r="16"/>
			<text transform="matrix(1 0 0 1 343.11 366.2565)" class="st9 st4 st10">10</text>
		</a>
		<a id="svg_111" class=" collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4" data-tooltip="Охрана труда, безопасность на рабочем месте">
			<circle id="svg_112" class="st12" cx="356" cy="391.6" r="16"/>
			<text transform="matrix(1 0 0 1 351.1674 396.59)" class="st9 st4 st10">4</text>
		</a>
		<a id="svg_116" class=" collapsed" data-toggle="collapse" data-target="#collapse17" aria-expanded="false" aria-controls="collapse17" data-tooltip="Комплексная экономическая результативность Компании">
			<circle id="svg_117" class="st12" cx="369" cy="412.9" r="16"/>
			<text transform="matrix(1 0 0 1 360.8584 420.59)" class="st9 st4 st10">17</text>
		</a>
		<a id="svg_121" class=" collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5" data-tooltip="Проекты по выводу из эксплуатации атомных ">
			<circle id="svg_122" class="st12" cx="353" cy="429.6" r="16"/>
			<text transform="matrix(1 0 0 1 347.7262 434.59)" class="st9 st4 st10">5</text>
		</a>
		<a id="svg_126" class=" collapsed" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15" data-tooltip="Участие Компании в развитии цифровой экономики РФ">
			<circle id="svg_127" class="st12" cx="301.5" cy="437.4" r="16"/>
			<text transform="matrix(1 0 0 1 291.776 443.257)" class="st9 st4 st10">15</text>
		</a>
		<a id="svg_131" class=" collapsed" data-toggle="collapse" data-target="#collapse19" aria-expanded="false" aria-controls="collapse19" data-tooltip="Управление закупочной деятельностью и противодействие недобросовестной конкуренции">
			<circle id="svg_132" class="st12" cx="298.7" cy="464.6" r="16"/>
			<text transform="matrix(1 0 0 1 289.0217 470.048)" class="st9 st4 st10">19</text>
		</a>
		<a id="svg_136" class=" collapsed" data-toggle="collapse" data-target="#collapse18" aria-expanded="false" aria-controls="collapse18" data-tooltip="Влияние Компании на социально-экономическое развитие регионов присутствия">
			<circle id="svg_137" class="st12" cx="321" cy="482.9" r="16"/>
			<text transform="matrix(1 0 0 1 300.3569 489.257)" class="st13 st4 st10">d</text>
			<text transform="matrix(1 0 0 1 310.5569 489.257)" class="st9 st4 st10">18</text>
		</a>
		<a id="svg_141" class=" collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3" data-tooltip="Управление промышленными отходами при строительстве">
			<circle id="svg_142" class="st12" cx="285.5" cy="482.9" r="16"/>
			<text transform="matrix(1 0 0 1 280.3927 489.923)" class="st9 st4 st10">3</text>
		</a>
		<a id="svg_146" class=" collapsed" data-toggle="collapse" data-target="#collapse20" aria-expanded="false" aria-controls="collapse20" data-tooltip="Противодействие коррупции">
			<circle id="svg_147" class="st12" cx="301.5" cy="503.6" r="16"/>
			<text transform="matrix(1 0 0 1 291.409 510.59)" class="st9 st4 st10">20</text>
		</a>
		<a id="svg_151" class=" collapsed" data-toggle="collapse" data-target="#collapse24" aria-expanded="false" aria-controls="collapse24" data-tooltip="Оценка поставщиков и подрядчиков на соответствие требованиям в области устойчивого развития">
			<circle id="svg_152" class="st12" cx="233" cy="442.6" r="16"/>
			<text transform="matrix(1 0 0 1 223.7683 448.59)" class="st9 st4 st10">24</text>
		</a>
		<a id="svg_156" class=" collapsed" data-toggle="collapse" data-target="#collapse30" aria-expanded="false" aria-controls="collapse30" data-tooltip="Научно-инновационная деятельность">
			<circle id="svg_157" class="st12" cx="219.7" cy="473.6" r="16"/>
			<text transform="matrix(1 0 0 1 211.1013 478.923)" class="st9 st4 st10">30</text>
		</a>
		<a id="svg_161" class=" collapsed" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16" data-tooltip="Система управления устойчивым развитием">
			<circle id="svg_162" class="st12" cx="196.7" cy="447.9" r="16"/>
			<text transform="matrix(1 0 0 1 177.0947 454.923)" class="st13 st4 st10">a</text>
			<text transform="matrix(1 0 0 1 185.7947 454.923)" class="st9 st4 st10">16</text>
		</a>
		<a id="svg_166" class=" collapsed" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13" data-tooltip="Интеллектуальная собственность Компании">
			<ellipse id="svg_167" class="st14" cx="193.3" cy="477.9" rx="16" ry="16.7"/>
			<text transform="matrix(1 0 0 1 183.8842 483.257)" class="st9 st4 st10">13</text>
		</a>
		<a id="svg_171" class=" collapsed" data-toggle="collapse" data-target="#collapse21" aria-expanded="false" aria-controls="collapse21" data-tooltip="Рациональное использование природных ресурсов">
			<ellipse id="svg_172" class="st14" cx="219.7" cy="516.3" rx="16" ry="16.7"/>
			<text transform="matrix(1 0 0 1 210.4425 523.257)" class="st9 st4 st10">21</text>
		</a>
		<a id="svg_176" class=" collapsed" data-toggle="collapse" data-target="#collapse22" aria-expanded="false" aria-controls="collapse22" data-tooltip="Влияние Компании на биоразнообразие в регионах присутствия">
			<ellipse id="svg_177" class="st14" cx="130.7" cy="528.6" rx="16" ry="16.7"/>
			<text transform="matrix(1 0 0 1 120.4425 534.59)" class="st9 st4 st10">22</text>
		</a>
		<a id="svg_181" class=" collapsed" data-toggle="collapse" data-target="#collapse23" aria-expanded="false" aria-controls="collapse23" data-tooltip="Выбросы парниковых газов и иных вредных веществ">
			<ellipse id="svg_182" class="st14" cx="156.7" cy="520.3" rx="16" ry="16.7"/>
			<text transform="matrix(1 0 0 1 147.4425 526.257)" class="st9 st4 st10">23</text>
		</a>
		<a id="svg_186" class=" collapsed" data-toggle="collapse" data-target="#collapse25" aria-expanded="false" aria-controls="collapse25" data-tooltip="Выполнение Компанией нормативных требований в области устойчивого развития">
			<ellipse id="svg_187" class="st14" cx="152.7" cy="486.9" rx="16" ry="16.7"/>
			<text transform="matrix(1 0 0 1 143.109 493.923)" class="st9 st4 st10">25</text>
		</a>
		<a id="svg_191" class=" collapsed" data-toggle="collapse" data-target="#collapse28" aria-expanded="false" aria-controls="collapse28" data-tooltip="Соблюдение прав человека при реализации проектов Компании">
			<ellipse id="svg_192" class="st14" cx="168.7" cy="448.6" rx="16" ry="16.7"/>
			<text transform="matrix(1 0 0 1 158.5502 454.59)" class="st9 st4 st10">28</text>
		</a>
		<a id="svg_196" class=" collapsed" data-toggle="collapse" data-target="#collapse31" aria-expanded="false" aria-controls="collapse31" data-tooltip="Участие Компании в реализации стратегии НТР РФ">
			<ellipse id="svg_197" class="st14" cx="184.7" cy="506.6" rx="16" ry="16.7"/>
			<text transform="matrix(1 0 0 1 175.4425 512.923)" class="st9 st4 st10">31</text>
		</a>
		<line id="svg_201" class="st0" x1="35.3" y1="605.3" x2="105.3" y2="613.3"/>
		<line id="svg_202" class="st15" x1="39.3" y1="568.6" x2="616" y2="568.6"/>
		<line id="svg_203" class="st15" x1="43.3" y1="575.3" x2="43.3" y2="207.9"/>
	</g>
	<rect id="svg_205" x="378" y="488.7" class="st16" width="172" height="73"/>
	<rect id="svg_215" x="451" y="404.7" class="st16" width="166" height="74"/>
	<text id="svg_210" transform="matrix(1 0 0 1 488 424.7401)" class="st4 st7">Трансформация</text>
	<text id="svg_211" transform="matrix(1 0 0 1 491 438.7401)" class="st4 st7">Инжирингового</text>
	<text id="svg_212" transform="matrix(1 0 0 1 469 452.7401)" class="st4 st7">дивизиона в цифровую</text>
	<text id="svg_213" transform="matrix(1 0 0 1 505 466.7401)" class="st4 st7">компанию</text>
	<text id="svg_216" transform="matrix(1 0 0 1 395 506.7401)" class="st4 st7">Подготовка и повышение</text>
	<text id="svg_217" transform="matrix(1 0 0 1 405 521.7401)" class="st4 st7">квалификации кадров</text>
	<text id="svg_218" transform="matrix(1 0 0 1 431 537.74)" class="st4 st7">в условиях</text>
	<text id="svg_219" transform="matrix(1 0 0 1 408 551.74)" class="st4 st7">цифрового перехода</text>
	<line id="svg_220" class="st17" x1="404" y1="427.7" x2="405" y2="488.7"/>
	<line id="svg_221" class="st17" x1="429" y1="401.7" x2="451" y2="424.7"/>
</g>
</svg>

