<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 281 301"
    enable-background="new 0 0 281 301" xml:space="preserve" class="un__ch15__svg" id="svg_ar">
    <g id="Layer_1">
        <g>
            <rect x="174.809" y="173.44" fill="#ECECEC" width="52.471" height="52.471"></rect>
            <rect x="17.394" y="16.026" fill="#ECECEC" width="52.472" height="52.47"></rect>
            <rect x="17.394" y="68.496" fill="#ECECEC" width="52.472" height="52.471"></rect>
            <rect x="69.865" y="16.026" fill="#ECECEC" width="52.471" height="52.47"></rect>
            <rect x="69.865" y="68.496" fill="#ECECEC" width="52.471" height="52.471"></rect>
            <rect x="69.865" y="120.97" fill="#ECECEC" width="52.471" height="52.471"></rect>
            <rect x="122.336" y="68.496" fill="#ECECEC" width="52.471" height="52.471"></rect>
            <rect x="122.336" y="120.97" fill="#ECECEC" width="52.471" height="52.471"></rect>
            <rect x="122.336" y="173.44" fill="#ECECEC" width="52.471" height="52.471"></rect>
            <rect x="174.809" y="120.97" fill="#ECECEC" width="52.471" height="52.471"></rect>
            <rect x="174.809" y="225.912" fill="#ECECEC" width="52.471" height="52.47"></rect>
            <rect x="227.279" y="173.44" fill="#ECECEC" width="52.471" height="52.471"></rect>
            <rect x="227.279" y="225.912" fill="#ECECEC" width="52.471" height="52.47"></rect>
            <rect x="122.337" y="16.026" fill="#e4d5e9" width="52.47" height="52.47"></rect>
            <rect x="174.811" y="16.026" fill="#e4d5e9" width="52.469" height="52.47"></rect>
            <rect x="174.811" y="68.496" fill="#e4d5e9" width="52.469" height="52.47"></rect>
            <rect x="227.279" y="16.026" fill="#e4d5e9" width="52.469" height="52.47"></rect>
            <rect x="227.279" y="68.496" fill="#e4d5e9" width="52.469" height="52.47"></rect>
            <rect x="227.279" y="120.97" fill="#e4d5e9" width="52.469" height="52.47"></rect>
        </g>
        <g>
            <text transform="matrix(1 0 0 1 25.5049 10)" fill="#ECECEC" font-family="Arial" font-size="7">Средние угрозы</text>
            <text transform="matrix(1 0 0 1 220 10)" fill="#CED5EA" font-family="Arial" font-size="7">Высокие угрозы</text>
            <text transform="matrix(0 -1 1 0 10 200.9043)" fill="black" font-family="Arial" font-size="7">Подтверждённость- потенциальный ущерб</text>
            <text transform="matrix(1 0 0 1 25.5049 290)" fill="#00ae00" font-family="Arial" font-size="7">Низкие угрозы</text>
            <text transform="matrix(1 0 0 1 130 290)" fill="black" font-family="Arial" font-size="7">Вероятность</text>
            <text transform="matrix(1 0 0 1 25.5049 272.9629)" fill="black" font-family="Arial" font-size="5.9104">Очень низкая</text>
            <text transform="matrix(1 0 0 1 86.2388 272.9629)" fill="black" font-family="Arial" font-size="5.9104">Низкая</text>
            <text transform="matrix(1 0 0 1 137.0127 272.9629)" fill="black" font-family="Arial" font-size="5.9104">Средняя</text>
            <text transform="matrix(1 0 0 1 190.3008 272.9629)" fill="black" font-family="Arial" font-size="5.9104">Высокая</text>
            <text transform="matrix(1 0 0 1 232.5225 272.9629)" fill="black" font-family="Arial" font-size="5.9104">Очень высокая</text>
            <text transform="matrix(0 -1 1 0 25.6289 60.9302)" fill="black" font-family="Arial" font-size="5.9104">Очень высокая</text>
            <text transform="matrix(0 -1 1 0 25.6279 105.0513)" fill="black" font-family="Arial" font-size="5.9104">Высокая</text>
            <text transform="matrix(0 -1 1 0 25.6279 160.8281)" fill="black" font-family="Arial" font-size="5.9104">Средняя</text>
            <text transform="matrix(0 -1 1 0 25.6279 207.9043)" fill="black" font-family="Arial" font-size="5.9104">Низкая</text>
            <text transform="matrix(0 -1 1 0 25.6279 264.1426)" fill="black" font-family="Arial" font-size="5.9104">Очень низкая</text>
            <text transform="matrix(1 0 0 1 36.6143 237.3115)" fill="black" font-family="Arial" font-size="8.0214"> </text>
        </g>
        <g>
            <rect x="17.394" y="173.23" fill="#181716" width="52.474" height="0.418"></rect>
            <rect x="122.303" y="173.23" fill="#181716" width="104.982" height="0.418"></rect>
            <rect x="227.281" y="120.757" fill="#181716" width="52.471" height="0.419"></rect>
            <rect x="69.865" y="120.757" fill="#181716" width="104.947" height="0.419"></rect>
            <rect x="17.394" y="68.287" fill="#181716" width="104.943" height="0.419"></rect>
            <rect x="174.813" y="68.287" fill="#181716" width="104.939" height="0.419"></rect>
            <rect x="69.658" y="173.389" fill="#181716" width="0.419" height="104.993"></rect>
            <rect x="69.658" y="16.025" fill="#181716" width="0.419" height="104.944"></rect>
            <rect x="17.184" y="16.026" fill="#181716" width="0.419" height="262.357"></rect>
            <rect x="122.13" y="16.025" fill="#181716" width="0.419" height="157.415"></rect>
            <rect x="122.13" y="225.911" fill="#181716" width="0.419" height="52.471"></rect>
            <rect x="174.604" y="16.026" fill="#181716" width="0.418" height="52.47"></rect>
            <rect x="174.604" y="120.973" fill="#181716" width="0.418" height="104.938"></rect>
            <rect x="227.077" y="16.026" fill="#181716" width="0.418" height="262.357"></rect>
            <rect x="279.549" y="16.026" fill="#181716" width="0.418" height="262.357"></rect>
            <rect x="174.809" y="225.701" fill="#181716" width="104.943" height="0.419"></rect>
            <rect x="17.394" y="225.701" fill="#181716" width="104.943" height="0.419"></rect>

            <polyline fill="none" stroke="#8D8F90" stroke-width="2" points="17.394,278.382 17.394,16.026 279.748,16.026 279.748,278.382 17.394,278.382
            "></polyline>
            <polyline fill="none" stroke="#7b2d92" stroke-width="2" points="122.13,16.026 279.748,16.026 279.748,173.44 227.279,173.44
            227.279,120.97 174.811,120.97 174.811,68.496 122.337,68.496 122.337,16.026
            "></polyline>
            <polyline fill="none" stroke="#63B22B" stroke-width="2" points="174.809,278.382 17.394,278.382 17.394,120.97 69.865,120.97
             69.865,173.44 122.336,173.44 122.336,225.912 174.809,225.912 174.809,278.382
             "></polyline>
        </g>

        <g id="Layer_2">
            <g id="heading1">
                <a class="go-anchor collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1" href="#contentAccordion">
                    <circle cx="243" cy="80" r="6" stroke="#004E97" stroke-width="1" fill="#004E97" />
                    <text x="240" y="84" font-size="9" fill="white">1</text>
                </a>
            </g>
            <defs>
                <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="0" refY="2" orient="auto">
                    <polygon fill="#8fb5e1" points="0 0,4 2,0 4"></polygon>
                </marker>
            </defs>
            <line x1="237" y1="90" x2="250" y2="84" stroke="#8fb5e1" stroke-width="1" marker-end="url(#arrowhead)"></line>
            <g id="heading2">
                <a class="go-anchor collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2" href="#contentAccordion">
                    <circle cx="105" cy="210" r="6" stroke="#009DE2" fill="#009DE2" />
                    <text x="102" y="214" font-size="9" fill="white">2</text>
                </a>
            </g>
            <defs>
                <marker id="arrowhead1" markerWidth="10" markerHeight="7" refX="0" refY="2" orient="auto">
                    <polygon fill="#00ae00" points="0 0,4 2,0 4"></polygon>
                </marker>
            </defs>
            <line x1="112" y1="214" x2="99" y2="220" stroke="#00ae00" stroke-width="1" marker-end="url(#arrowhead1)"></line>
            <g id="heading3">
                <a class="go-anchor collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3" href="#contentAccordion">
                    <circle cx="216" cy="109" r="6" stroke="#009DE2" stroke-width="1" fill="#009DE2" />
                    <text x="213" y="113" font-size="9" fill="white">3</text>
                </a>
            </g>
            <g id="heading4">
                <a class="go-anchor collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4" href="#contentAccordion">
                    <circle cx="43" cy="200" r="6" stroke="#009DE2" fill="#009DE2" />
                    <text x="40" y="204" font-size="9" fill="white">4</text>
                </a>
            </g>
            <defs>
                <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="0" refY="2" orient="auto">
                    <polygon fill="#8fb5e1" points="0 0,4 2,0 4"></polygon>
                </marker>
            </defs>
            <line x1="37" y1="210" x2="50" y2="204" stroke="#8fb5e1" stroke-width="1" marker-end="url(#arrowhead)"></line>

            <g id="heading5">
                <a class="go-anchor collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5" href="#contentAccordion">
                    <circle cx="212" cy="95" r="6" stroke="#009DE2" fill="#009DE2" />
                    <text x="209" y="99" font-size="9" fill="white">5</text>
                </a>
            </g>
            <defs>
                <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="0" refY="2" orient="auto">
                    <polygon fill="#8fb5e1" points="0 0,4 2,0 4"></polygon>
                </marker>
            </defs>
            <line x1="206" y1="105" x2="219" y2="99" stroke="#8fb5e1" stroke-width="1" marker-end="url(#arrowhead)"></line>
            <g id="heading6">
                <a class="go-anchor collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6" href="#contentAccordion">
                    <circle cx="216" cy="157" r="6" stroke="#7b2d92" stroke-width="1" fill="#7b2d92" />
                    <text x="213" y="161" font-size="9" fill="white">6</text>
                </a>
            </g>
            <g id="heading7">
                <a class="go-anchor collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7" href="#contentAccordion">
                    <circle cx="190" cy="43" r="6" stroke="#7b2d92" stroke-width="1" fill="#7b2d92" />
                    <text x="187" y="47" font-size="9" fill="white">7</text>
                </a>
            </g>
            <g id="heading8">
                <a class="go-anchor collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8" href="#contentAccordion">
                    <circle cx="162" cy="80" r="6" stroke="#7b2d92" stroke-width="1" fill="#7b2d92" />
                    <text x="159" y="84" font-size="9" fill="white">8</text>
                </a>
            </g>
            <g id="heading9">
                <a class="go-anchor collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9" href="#contentAccordion">
                    <circle cx="160" cy="135" r="6" stroke="#1074bc" stroke-width="1" fill="#1074bc" />
                    <text x="157" y="139" font-size="9" fill="white">9</text>
                </a>
            </g>
            <defs>
                <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="0" refY="2" orient="auto">
                    <polygon fill="#8fb5e1" points="0 0,4 2,0 4"></polygon>
                </marker>
            </defs>
            <line x1="154" y1="145" x2="167" y2="139" stroke="#8fb5e1" stroke-width="1" marker-end="url(#arrowhead)"></line>
            <g id="heading10">
                <a class="go-anchor collapsed" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10" href="#contentAccordion">
                    <circle cx="70" cy="216" r="6" stroke="#000" fill="#000" />
                    <text x="64" y="219.5" font-size="9" fill="white">10</text>
                </a>
            </g>
            <g id="heading11">
                <a class="go-anchor collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11" href="#contentAccordion">
                    <circle cx="150" cy="147" r="6" stroke="#fff" stroke-width="1" fill="#fff" />
                    <text x="144" y="150.5" font-size="9" fill="#000">11</text>
                </a>
            </g>
            <defs>
                <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="0" refY="2" orient="auto">
                    <polygon fill="#8fb5e1" points="0 0,4 2,0 4"></polygon>
                </marker>
            </defs>
            <line x1="144" y1="158" x2="157" y2="152" stroke="#8fb5e1" stroke-width="1" marker-end="url(#arrowhead)"></line>
            <g id="heading12">
                <a class="go-anchor collapsed" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12" href="#contentAccordion">
                    <circle cx="225" cy="190" r="6" stroke="#5a595a" stroke-width="1" fill="#5a595a" />
                    <text x="219" y="193.5" font-size="9" fill="white">12</text>
                </a>
            </g>
            <g id="heading13">
                <a class="go-anchor collapsed" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13" href="#contentAccordion">
                    <circle cx="136" cy="237" r="6" stroke="#5a595a" stroke-width="1" fill="#5a595a" />
                    <text x="130" y="240.5" font-size="9" fill="white">13</text>
                </a>
            </g>
            <g id="heading14">
                <a class="go-anchor collapsed" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14" href="#contentAccordion">
                    <circle cx="120" cy="195" r="6" stroke="#c3c0c0" stroke-width="1" fill="#c3c0c0" />
                    <text x="114" y="198.5" font-size="9" fill="white">14</text>
                </a>
            </g>
        </g>
</svg>