<script src="http://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<!-- JS Анимации перехода к разделу(якорь) -->
<script language="JavaScript" type="text/javascript" src="../../../js/ancor.js"></script>

<script src="/js/html2canvas.min.js"></script>
<script src="/js/jspdf.min.js"></script>
<script src="/js/pdf.js"></script>