<footer class="page-footer pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row container-fluid">
      <div id="footer-contacts" class="col-md-6 container-fluid">
        <h5 class="text-uppercase">Contacts</h5>
      </div>
      <div class="col-md-6 container-fluid text-md-right">
        <a href="javascript:void(0)" onclick="Share.vkontakte()">
          <img src="../../img/footer/vkWhite.png">
        </a>
        <a href="javascript:void(0)" onclick="Share.mail()">
          <img src="../../img/footer/mailWhite.png">
        </a>
        <a href="javascript:void(0)" onclick="Share.facebook()">
          <img src="../../img/footer/facebookWhite.png">
        </a>
        <a href="javascript:void(0)" onclick="Share.google()">
          <img src="../../img/footer/googleWhite.png">
        </a>
      </div>
      <div id="footer-contacts" class="col-lg-3 col-md-6 container-fluid">
        <h5 class="text-uppercase">JSC ASE EC</h5>
        <p>3, Svobody Square, Nizhny Novgorod, 603006, Russia</p>
        <p> Phone +7 (831) 421-79-00</p>
        <p> Fax: +7 (831) 419-84-90; +7 (831) 421-06-04</p>
        <p> E-mail: niaep@niaep.ru</p>
      </div>
      <div id="footer-contacts" class="col-lg-3 col-md-6 container-fluid">
        <h5 class="text-uppercase">JSC ASE</h5>
        <p> 3, Svobody Square, Nizhny Novgorod, 603006, Russia </p>
        <p> 2, Bld. 1 Dmitrovskoye Schosse, Moscow, 127434, Russia</p>
        <p>Phone +7 (495) 737-90-37</p>
        <p>E-mail: post@atomstroyexport.ru</p>
      </div>
      <div id="footer-contacts" class="col-lg-3 col-md-6 container-fluid">
        <h5 class="text-uppercase">Atomenergoproekt JSC</h5>
        <p>7, bld. 1, Bakuninskaya Str., Moscow, 105005, Russia</p>
        <p>Phone +7 (495) 633-50-50</p>
        <p>E-mail: info@aep.ru</p>
      </div>
      <div id="footer-contacts" class="col-lg-3 col-md-6 container-fluid">
        <h5 class="text-uppercase">JSC ATOMPROEKT </h5>
        <p>82, Savushkina str., St.-Petersburg, 197183, Russia</p>
        <p>Phone +7 (812) 339-15-15 (multi-channel)</p>
        <p>E-mail: info@atomproekt.com</p>
      </div>
    </div>
  </div>
</footer>
