<nav id="top" class="navbar default navbar-dark fixed-top navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a class="navbar-brand" href="/"><img src="../../../img/logo.png" id="logo"></a>

    <div class="row report">
    <a href="/">Annual report
    <br>2017</a></div>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="lang" id="lang">
                    <span>
                        RU / <b>EN</b>
                    </span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Links -->
    <div class="collapse navbar-collapse justify-content-end" id="nav-content">
        <ul class="navbar-nav">
            <li class="nav-item d-lg-none">
                <a class="nav-link" href="lang" id="lang">
                    <span>
                        RU / <b>EN</b>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/content">
                    <img src="../../../img/header/page_content.png">
                    <span>Content</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/key_event">
                    <img src="../../../img/header/page_version.png">
                    <span>Milestones in 2017</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/interactive">
                    <img src="../../../img/header/page_graph.png">
                    <span>Highlights 2017</span>
                </a>
            </li>
            <li id="lastNavItem" class="nav-item">
                <a class="nav-link" href="../../../reports/en_report.pdf" download>
                    <img src="../../../img/header/page_download.png">
                    <span>Download pdf</span>
                </a>
            </li>
            <li class="nav-item">
                <form action="/searching" method="POST" class="search-form">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="userReq" placeholder="Search">
                        <div class="glyphicon glyphicon-search form-control-feedback">
                            <img src="../../../img/header/page_search.png">
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</nav>