#contentAccordion *{
    line-height:1.5;
}

#contentAccordion > div > a{
    color:black;
    font-size: 1rem;
}

#contentAccordion .collapse-content {
    padding-left: 2rem;
}

@media (min-width: 1350px) {
    .container {
        max-width: 1280px;
    }
}