.page-footer {
    font-size: 0.7rem;
    color: white;
    width: 100%;
    background: linear-gradient(to left, #211547, #4261aa);
    padding-bottom: 1%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.page-footer img {
    height: 35%;
}

.page-footer p {
    margin: 0;
}

#footer-contacts {
    padding-left: 35px;
}

footer img{
    width: auto;
}


.content {
    padding-bottom: 120px;
    position: relative;
}

@media screen and (max-width: 992px) and (min-width: 767px) {
    .content {
        padding-bottom: 200px;
        position: relative;
    }
}

@media screen and (max-width: 766px) {
    .content {
        padding-bottom: 280px;
        position: relative;
    }
}