body {
    overflow-x: hidden;
    /* background-color: white; */
}

.fsp-wrapper {
    position: relative;
    background-color: inherit;
}

.fsp-sidepanel {
    display: block;
    position: fixed;
    min-height: 100%;
    height: 100vh;
    overflow: auto;
    width: 70vh;
}

.fsp-sidepanel-right {
    right: 0;
}

.fsp-content {
    transform: translate3d(0, 0, 0);
    transition: transform .3s;
    background-color: inherit;
}

#right-sidepanel {
    width: 25vw;

    background-color: #E0E0E2;
}

#bookmarks-list,
#history-list {
    list-style-type: none;
}

#close-sidepanel {
    width: 100%;
    text-align: right;
    font-size: 45px;

    cursor: pointer;
}

#delete-bookmarks {
    border: 1px solid #000;
    border-radius: 50px;

    padding: 3px 3px 0px 3px;
    cursor: pointer;
}

#delete-bookmarks:hover {
    color: #CF000F;
    border-color: #CF000F;
}

.delete-bookmark {
    cursor: pointer;
}

.delete-bookmark:hover {
    color: #CF000F;
}

@media (max-width: 700px) {
    #right-sidepanel {
        width: 80vw;
    }
}