@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
    font-family: "PT Sans";
}

nav {
    background-color: rgba(0, 0, 0, 0);
    transition: all ease .5s;
    color: white;
}

nav img{
    width: auto;
}

.header-font{
    padding: 0;
    margin: 0;
    height: 70px;
    width: 100%;
    background: linear-gradient(to top, rgba(35, 23, 71, 0.8), rgba(66, 97, 170, 0.8));
}

.dropdown-menu {
    font-size: 0.8rem;
    margin-top: 0;
    padding-top: 0;
    padding-left: 1rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: auto;
}

.panel-body div {
    padding-left: 2rem;
}

@media screen and (min-width: 500px) {
    .dropdown a {
        white-space: nowrap;
    }
}

.dropdown a:hover {
    text-decoration: none;
    color: rgb(66, 97, 170);
}

.dropdown-menu-back {
    background-color: rgba(0, 0, 0, 0.34);
    width: 100vw;
    text-align: center;
    left: 0;
    right: 0;
    top: auto;
    position: fixed !important;
    height: 100%;
}

.navbar {
    padding-top: 2%;
    padding-bottom: 0;
    position: absolute;
}

nav a {
    color: white;
}

.nav-item a:hover span {
    text-decoration: underline;
    color: white;
}

.panel-group {
    position: relative;
}

nav.change {
    background: linear-gradient(to left, rgba(35, 23, 71, 0.8), rgba(66, 97, 170, 0.8));
    transition: all ease .5s;
    margin-left: 0;
    margin-right: 0;
}

@media screen and (max-width: 991px) {
    nav{
        background: linear-gradient(to left, rgba(35, 23, 71, 0.8), rgba(66, 97, 170, 1));
        
    }

    .navbar-brand {
        margin: auto;
    }
}

#lastNavItem {
    margin-right: 30px;
}

.nav-item {
    font-weight: bold;
}

.nav-item img {
    height: 1rem;
    text-decoration: none;
}

b{
    font-size: 1.2rem;
}

.navbar-brand {
    height: 5rem;
}

.navbar-brand img{
    height: 4rem;
}

.report {
    position: relative;
    top: 25%;
    left: 4%;
    float: right;
    color: #2b2c6f;
}