.carousel-indicators {
    bottom: 0;
    top: 60px;
    height: 20px;
    margin: 0;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid black;
    transition: all 0.3s ease;
    cursor: pointer;
}

.carousel-indicators li {
    margin: 0 auto;
}

.monthCarousel {
    position: absolute;
    top: 20px;
    margin: auto;
}

li.winter {
    background-color: #173589; 
}

li.spring {
    background-color: #4E1A5F;
}

li.summer {
    background-color: #56A730;
}

li.autumn {
    background-color: #2877C0;
}

#January {
    padding-left: 8px;
} 

#February {
    padding-left: 15px;
} 

#March {
    padding-left: 21px;
}
 
#April {
    padding-left: 36px;
}
 
#May {
    padding-left: 43px;
}
 
#June {
    padding-left: 43px;
}
 
#July {
    padding-left: 45px;
}
 
#August {
    padding-left: 37px;
}
 
#September {
    padding-left: 12px;
}
 
#October {
    padding-left: 10px;
}
 
#November {
    padding-left: 10px;
}
 
#December {
    padding-left: 5px;
}

#Even {
    padding-left: 15px;
}

.carousel-fade .carousel-item {
    display: block;
    position: absolute;
    opacity: 0;
    transition: opacity .75s ease-in-out;
}

.carousel-fade .carousel-item.active {
    opacity: 1;
    position: relative;
}

li.active,
li:hover:not(.nav-item) {
    background-color: white;
}

li.active div.circle_winter,
li:hover div.circle_winter {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #173589;
    margin: 4px 4px;
}

li.active div.circle_spring,
li:hover div.circle_spring {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4E1A5F;
    margin: 4px 4px;
}

li.active div.circle_summer,
li:hover div.circle_summer {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #56A730;
    margin: 4px 4px;
}

li.active div.circle_autumn,
li:hover div.circle_autumn {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2877C0;
    margin: 4px 4px;
}

li.active div.circle_etc,
li:hover div.circle_etc {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    margin: 4px 4px;
}

.carousel-inner {
    padding-top: 45px;
}

.carousel-item {
    border: 1.5px solid #242658;
    padding: 20px 40px 30px 60px;
}

.carousel-item .month {
    position: absolute;
    z-index: 9;

    top: -25px;
    left: -2px;

    background-color: #fff;
    width: 155px;
    height: 115px;
}

.carousel-item.after .month {
    width: 500px;
}

.carousel-item.after {
    padding-top: 70px; 
}

.carousel-item .month-events {
    position: relative;
    list-style: none;
    padding: 0;

    z-index: 10;
}

.carousel-item .month-events li {
    margin-top: 20px;
}

.carousel-item .month-events li::before {
    content: "";
    display: inline-block; 
    width: 9px;
    height: 9px;
    margin-left: -1em;

    border-radius: 50%;
}

.carousel-item .month-events li.green-ev::before {
    background-color: #54D335;
}

.carousel-item .month-events li.purple-ev::before {
    background-color: #792A91;
}

#current-btn,
#other-btn {
    color: #666;

    cursor: pointer;
}

#current-btn:hover,
#other-btn:hover {
    color: #333;
}

#current-btn.active,
#other-btn.active {
    color: #000;
}

.current-circle,
.other-circle {
    display: inline-block;

    width: 9px;
    height: 9px;

    border-radius: 50%;
}

.current-circle {
    background-color: #792A91;
}

.other-circle {
    background-color: #54D335;
}

@media (max-width: 1200px) {
    .carousel-indicators li:after {
        left: 100%;
        width: 250%;
      }

    #January {
        padding-left: 5px;
    } 
    
    #February {
        padding-left: 0;
    } 

    #March {
        padding-left: 7px;
    }
     
    #April {
        padding-left: 20px;
    }
     
    #May {
        padding-left: 28px;
    }
     
    #June {
        padding-left: 32px;
    }
     
    #July {
        padding-left: 30px;
    }
     
    #August {
        padding-left: 15px;
    }
     
    #September {
        padding-left: 0;
    }
     
    #October {
        padding-left: 0;
    }
     
    #November {
        padding-left: 0;
    }
     
    #December {
        padding-left: 0;
    }
    
    #Even {
        padding-left: 0;
    }
}

@media (max-width: 991px) {
    .carousel-indicators li:after {
        width: 150%;
      }

    .monthCarousel {
        display: none;
    }
}

@media (max-width: 767px) {
    .carousel-indicators li:after {
        width: 80%;
      }
}

@media (max-width: 600px) {
    .carousel-indicators li:after {
        width: 110%;
      }
}