@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
    font-family: "PT Sans";
}

.index {
    margin-top: 3%;
}

.index * {
    /* font-size: 0.8rem; */
    line-height: 1.35;
    color: #485281;
}

h1{
    font-weight: bold;
}


html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #f2f2f2;
    position: relative;
}

.title {
    font-size: 25pt;
    border-bottom: 1pt solid #6dacd9;
    text-decoration: none
}

@media (max-width: 340px) {
    .title {
        font-size: 23pt;
    }
}

.center {
    text-align: center;
}

.white-tab {
    background-color: white;
    height: 100%;
    width: 90%;
    padding: 1em;
}

#tab-one .white-tab {
    border: 2px solid #696a99;
    text-align: center;
}

#tab-one .white-tab>div {
    margin-left: 10%;
    margin-right: 10%;
    border-top: 7px solid #63246a;
}

#tab-two>div>.container {
    font-size: 0.8rem;
    position: relative;
    width: 150px;
    height: 150px;
    text-align: center;
    background-color: #fff;
    border: 15px solid;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;
}

#tab-two>div>.container:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30%;
    top: 102%;
    border: 25px solid transparent;
    border-top: 35px solid;
}

#tab-two>div>.container.green {
    border-color: #61ab30;
}

#tab-two>div>.container.green:before {
    color: #61ab30;
}

.green{
    background-color: #61ab30;
}

#tab-two>div>.container.purple {
    border-color: #63246a;
}

#tab-two>div>.container.purple:before {
    color: #63246a;
}

.purple{
    background-color: #63246a;
}

#tab-two>div>.container.blue {
    border-color: #3089c8;
}

#tab-two>div>.container.blue:before {
    color: #3089c8;
}

.blue{
    background-color:#3089c8;
}

#tab-two>div>.container .tab-digit {
    padding-top: 10px;
    font-size: 1.6rem;
}

#tab-three .white-tab {
    border: 2px solid #72739f;
    text-align: center;
}

#tab-three .tab-digit {
    color: #2b2c6f;
    font-size: 4rem;
}

#tab-four .white-tab {
    background-color: rgba(0, 0, 0, 0);
}

#tab-four .white-tab>div {
    display: flex;
    align-items: center
}

#tab-four .innovation-prod {
    font-size: 1.2rem;
    margin-bottom: -5px;
}

.flag {
    margin-right:10px;
    width: 4rem;
    height: 6rem;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 70%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
}

#tab-five .white-tab {
    border: 1px solid #696a99;
    padding-left:2rem;
}

#tab-five .white-tab ul{
    padding-left:1rem;
}

.tabs {
    padding: 2%;
    margin-bottom:2%;
}

.tabs>div {
    margin-top: 2%;
}

.tab-digit {
    font-size: 3.2em;
    color: #638bc8;
    margin: 0;
    font-weight: bold;
}

.tab-img {
    margin: auto;
    bottom: 2px;
    height: 3rem;
}

#Context {
    margin-top: auto;
}

.search-tab a, .search-tab div, .search-tab p, .search-tab hr {
    text-align: left;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
}

.search-tab div {
    margin-bottom: 2rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #2b2c6f;
}

#header {
    height: 100vh;
    background-image: url('./../img/mainPage/mainPage1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;

    padding: 0 50px 0 50px;
}

.header-text {
    position: relative;
    height: 100%;
}

.header-bottom-btns {
    position: absolute;
    width: 100%;
    bottom: 35px;
}

.header-down-btn img {
    height: 35px;
}

.buttons-bar {
    position: absolute;
    right: 0;
    bottom: 0;
}

#bookmark:active .bookmark-additional,
#bookmark:hover .bookmark-additional,
.bookmark-additional:hover {
    visibility: visible;

    opacity: 1;
}

.bookmark-additional {
    visibility: hidden;
    position: absolute;
    top: -15px;
    right: 35px;

    opacity: 0;

    transition: all 0.3s ease-in-out;
}

.bookmark-additional img {
    width: 32px;
}

.bookmark-additional a img {
    filter: brightness(100%);

    transition: all 0.3s ease-in-out;
}

.bookmark-additional a:hover img {
    filter: brightness(150%);
}

#bookmark,
#history {
    width: 34px;
    height: 34px;
    position: absolute;
    right: 0;
    z-index: 2;
}

#bookmark {
    top: 270px;
}

#history {
    top: 310px;
}

.history-bkmrk {
    width: 100%;
}

.navbar-content {
    width: 100%;
    padding: 0 50px 0 50px;
}

#link:active .share {
    display: block;
}

.share {
    width: 150px;
    height: 60px;
    display: none;
    position: absolute;
    bottom: 20px;
    right: 5px;
    z-index: 3;
}

.linker {
    width: 34px;
    height: 34px;
    background: white;
}

.share:hover {
    display: block;
}

#link:hover .share {
    display: block;
}

.circle {
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    background: #2B2C6F;
    margin-left: 5px;
}

.icon {
    padding: 15%;
    z-index: 1;
    width: 34px;
    height: 34px;
}

.accordion-toggle {
    cursor: pointer;
}

.accordion-toggle:after {
    content: "▶";
    float: left;
    transform: rotateZ(90deg);
    margin-right: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.accordion-toggle.collapsed:after {
    transform: rotateZ(0);
}

.header-tagline {
    position: absolute;
    right: 16vw;
    top: 36vh;
}

.header-tagline h1 {
    color: #2b2c6f;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 50px;
}

.right-btns #bookmark,
.right-btns #history {
    right: 0;
}

.moneySize {
    font-size: 0.6em;
}

.header-down-btn img{
    animation: animationFrames ease-out 2s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames ease-out 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames ease-out 2s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames ease-out 2s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames ease-out 2s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
}
  
@keyframes animationFrames{
    0% {
        transform:  translate(0px,0px)  ;
    }
    50% {
        transform:  translate(0px,-20px)  ;
    }
    100% {
        transform:  translate(0px,0px)  ;
    }
}

@-moz-keyframes animationFrames{
    0% {
        -moz-transform:  translate(0px,0px)  ;
    }
    50% {
        -moz-transform:  translate(0px,-20px)  ;
    }
    100% {
        -moz-transform:  translate(0px,0px)  ;
    }
}

@-webkit-keyframes animationFrames {
    0% {
        -webkit-transform:  translate(0px,0px)  ;
    }
    50% {
        -webkit-transform:  translate(0px,-20px)  ;
    }
    100% {
        -webkit-transform:  translate(0px,0px)  ;
    }
}

@-o-keyframes animationFrames {
    0% {
        -o-transform:  translate(0px,0px)  ;
    }
    50% {
        -o-transform:  translate(0px,-20px)  ;
    }
    100% {
        -o-transform:  translate(0px,0px)  ;
    }
}

@-ms-keyframes animationFrames {
    0% {
        -ms-transform:  translate(0px,0px)  ;
    }
    50% {
        -ms-transform:  translate(0px,-20px)  ;
    }
    100% {
        -ms-transform:  translate(0px,0px)  ;
    }
}

@media (max-width: 500px) {
    #header {
        padding: 0;
    }
}