nav {
    background-color: rgba(0, 0, 0, 0); 
    transition: all ease .5s;
    color: white;
    background: linear-gradient(to top, #290957, #1C449C);
}

.dropdown-menu{
    font-size: 0.8rem;
    margin-top: 0;
    padding-top: 0;
    padding-left: 1rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: auto;
}

.panel-body div{
    padding-left:2rem;
}

#lastNavItem {
    margin-right: 30px;
}

@media (min-width: 700px){
    .dropdown a{
        white-space: nowrap;
    }
}

.dropdown a:hover{
    text-decoration: none;
    color: rgb(66, 97, 170);
}

.dropdown-menu-back{ 
    background-color: rgba(0, 0, 0, 0.34);
    width: 100vw;
    text-align: center;
    left: 0;
    right: 0;
    top: auto ;
    position: fixed !important;
    height:100%;
  }

.navbar{
    padding-top: 2%;
    padding-bottom: 0;
}

nav a{
    color: white;
}

.nav-item a:hover span{
    text-decoration: underline;
    color: white;
}

.panel-group{
    position: relative;
}

nav.change {
    background: linear-gradient(to top, #290957, #1C449C);
    transition: all ease .5s;
    margin-left:0;
    margin-right:0;
}

.nav-item img{
    height: 1rem;
    text-decoration: none;
}

@media (min-width: 969px){
    #lang {
        position: absolute;
        top: 20px;
        right: 60px;
    }
}

@media (min-width: 969px) and (max-width: 1035px) {
    #lang {
        position: relative;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 991px) {
    .navbar-brand {
        margin: auto;
    }
}