.white-tab {
    background-color: #f2f2f2;;
    height: 100%;
    width: 90%;
    padding: 1em;
}

.search-tab div{
   margin-bottom: 2rem;
}

.search-form .form-group {
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    border-radius: 25px;
    margin-bottom: 0;
}

.search-form {
    position: relative;
    float: left;
    margin-left: -7px;
}

.search-form .form-group input.form-control {
    padding-left: 30px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
}

.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}

.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}

.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}

.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}

.search-form .form-group:hover, .search-form .form-group.hover {
    width: 100%;
    background-color: white;
}

.search-form .form-group div.form-control-feedback {
    position: absolute;
    top: 0;
    right: auto;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
}

@media screen and (min-width: 500px) {
    .search-form {
        margin-left: auto;
    }
    .search-form .form-group {
        float: right;
    }
    .search-form {
        margin-top: 3px;
        z-index: 10000;
        position: absolute;
        right: 0;
        padding-right: 1%;
    }
    .search-form .form-group input.form-control {
        padding-right: 20px;
        padding-left: 20px;
    }
    .search-form .form-group div.form-control-feedback {
        right: 0.8rem;
    }
}