@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
  font-family: "PT Sans";
  -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
  color-adjust: exact !important;
}

body {
    background-color: white;
    text-align: left;
}

.leftimg {
  float:left;
  margin: 0 10px 10px 0;
  width: 40%;
 }

 @media (max-width: 768px) {
  .leftimg {
    width: 100%;
   }
 }

.zas {
  border: 1px solid #1C439D; 
}

.fin_cap_img {
  width: 100%;
}

.circle_event {
  width: 20px;
  height: 20px;
}

.nameMonth {
  font-size: 30px;
  color: #26245C;
}

.hover {
  border-bottom: 1px dotted #000;
}

.hover:after{
  content: attr(data-title);
  display: none;
  position: absolute;
  bottom: 130%;
  left: 0px;
  background-color: #808080;
  color: #fff;
  padding: 5px;
  text-align: center;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.16);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.16);
  box-shadow: 0 1px 1px rgba(0,0,0,.16);
  font-size: 12px;
}

.block {
  position:relative;
}
 
.hidden,
.hidden-gri {
  visibility: hidden;
  position: absolute;
  bottom: 130%;
  left: 0px;
  min-width: 280px;
  max-width: 320px;
  background-color: #808080;
  color: #fff;
  padding: 5px;
  text-align: left;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.16);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.16);
  box-shadow: 0 1px 1px rgba(0,0,0,.16);
  font-size: 12px;
  opacity: 0;
  z-index: 3;

  transition: all 0.2s ease-in;
}

.hidden-right {
  left: 100%;
  bottom: -300%;
  min-width: 350px;
}

.hidden-bottom {
  bottom: -1200%;
}

.hidden-gri {
  min-width: 200px;
}

.hover:hover + .hidden,
.hover:hover + .hidden-gri {
  visibility: visible;
  opacity: 1;
}

.bossPhoto {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 455px;
}

.bossPhoto2 {
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
}

.bossName {
  text-align: center;
}

.prodCircle {
  width: 15px;
}

.prodFactory {
  width: 65px;
}

.prodImg {
  width: 80%;
}

.prodImg_2 {
  width: 40%;
}

.prodPhoto {
  width:100%;
}

.prodBorder {
  border: 1px solid #1C439D;
  padding: 20px;
}

/*  */
/*  */

.photobox{
  display: inline-block;
  width: 100%;
}

.photobox__label {
  position: absolute;

  width: 100%;

  top: 10px;
  left: 10px;

  color: #fff;
}

.photobox__previewbox{
  position: relative;
  overflow: hidden;

  background-color: #1C439D;
}

.photobox__img{
  background-size: cover;
  background-repeat: no-repeat;

  max-width: 100%;
  height: 310px;

  position: relative;
  z-index: 2;

  transition: all 0.3s ease-in-out;
}

.photobox__previewbox:hover .photobox__img {
  opacity: 0.1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

table {
  text-align: left;
}

th {
  vertical-align: middle !important;
}

.middleTable td {
  vertical-align: middle !important;
}

.textCenter {
  text-align: center;
  vertical-align: middle;
}

.centerCol td:nth-child(n+2), .centerCol th:nth-child(n+2){
  text-align: center;
}

.tableCenter {
  margin: 0 auto;
}

.ulTable {
  padding: 0;
}

#map {
  width: 100%; 
  height: 600px;
}

#pieProdCap,
#pieProdEn {
  height: 450px;
}

#ChartA  {
  width: 90%;
  height: 450px;
}

#ChartB  {
  width: 90%;
  height: 450px;
}

#pieNatCap,
#pieNatCap2,
#pieNatCEn,
#pieNatCEn2 {
  height: 450px;
}

#pieProdCap2,
#pieProdCap2En {
  height: 450px;
}

#lineProdCap,
#lineProdEn {
  height: 300px;
}

.txtHead {
  color: #00008B;
 }

.blockLineLeft {
  border-left: 2px solid #1C439D;
}

.blockLineLeftTxt {
  border-left: 2px solid #1C439D;
  padding-left: 25px;
}

.blockLineRight {
  border-right: 2px solid #1C439D;
  padding-right: 25px;
}

.blockLineRightTxt {
  border-right: 2px solid #1C439D;
  padding-right: 25px;
}

.margTable {
  line-height: 1;
}

.table td, .table thead th, .table th {
  border-color: #1C439D;
}

.table th {
  border-bottom: 2px solid #1C439D;
  vertical-align: bottom;
}

.titlePage {
  color: #1C439D !important;
}

.directSpeech {
  color: #1C439D;
}

.title-wrapper {
  position: relative;
  z-index: 2;
  color: white;
}

.title h1 {
  font-weight: bold;
}

.gradient {
  background: -moz-linear-gradient(top, #ffffff 4%, #0394d8 100%);
  background: -webkit-linear-gradient(top, #ffffff 4%,#0394d8 100%);
  background: linear-gradient(to bottom, #ffffff 4%,#0394d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0394d8',GradientType=0 );
  text-align: center;
  width: 100%;
  height: 400px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.picture_theme_main {
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 100px;

  padding-left: 80px;
  padding-bottom: 15px;
}

a {
  text-decoration: none;
}

.breadcrumb,
.download-chapter {
  background-color: white;
  position: relative;
  top: 120px;
  margin-bottom: 25px;
  padding: 0;
}

.download-chapter {
  text-align: center;
}

.download-chapter a {
  color: #939598;
}

.download-chapter img {
  height: 15px;
}

.breadcrumb {
  margin-left: 50px;
}

.breadcrumb a {
  color: #939598;
  padding-left: 5px;
}

.breadcrumb li.active {
  padding-left: 5px;
}

#under {
  color: #3A1669;
  margin-top: 15px;
  font-size: 1.1em;
}

#enter {
  position: relative;
  top: 5px;
  right: 5px;
  width: 15px;
  height: 15px;
}

.content {
  padding-left: 60px;
  margin-top: 120px;
  padding-right: 60px;
}

#logo {
  width: 40%;
  position: relative;
  bottom: 15px;
  left: 50px;
}

.content p {
  text-indent: 40px;
  margin-bottom: 20px;
  word-wrap: normal;
}

footer.page-footer {
  position: relative;
}

.colorFt {
  color: rgb(102, 98, 102);
}

.picture_width {
  width: 100%;
}

.color_GOST {
  color: #003F9B;
}

p.headerPage,
div.headerPage,
ul.headerPage {
  text-indent: 0;
  color: #1C439D;
}

.headerPage p {
  text-indent: 0;
}

.headerSmall {
  font-size: 0.9em;
}

.mapIcon {
  text-align: right !important;
}

.rowBold {
  font-weight: bold;
}

thead {
  text-align: center;
}

#grafHeader {
  text-align: center;
}

hr {
  border: 1px solid rgb(173, 169, 169);
}

@media (max-width: 991px) {
  /* .president-photo >img {
    width: 100% !important;
  } */

  #strelts {
    background-position-x: 60%;
  }
}

@media (max-width: 767px) {
  .president-photo >img {
    width: 250px !important;
  }
}

@media (max-width: 500px) {
  .picture_theme_main {
    padding-bottom: 70px;
  }

  .breadcrumb {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .picture_theme_main {
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  #margIntCap {
    padding-top: 10.5em;
  }
  .margFtNote {
    padding-top: 5em;
  }
  .report {
    position: relative;
    /* bottom: ; */
    right: 70px;
  }

  .report>a:hover {
    color: white;
    text-decoration: none;
  }
}

@media (max-width: 991px) {
  .report {
    display: none;
  }
}

@media (min-width: 969px) and (max-width: 1035px) {
  .report {
    right: 60px;
  }
}

@media (min-width: 300px) and (max-width: 600px) {
    #ChartA  {
      height: 450px;
    }

    #ChartB  {
      height: 450px;
    }

    /* h1 {
        font-size: 1.3em;
    }

    h3 {
      font-size: 1em;
  }

    h6 {
        font-size: 0.9em;
    } */

    #under {
        color: #3A1669;
        margin-top: 50px;
    }

    .content {
        margin-top: 110px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .picture_width {
        width: 80%;
    }

    .headerSmall {
      font-size: 1em;
    }
}

.bot-left {
  position: relative;
}

.bot-left:before, .bot-left:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -3px;
}

.blue_block {
  position: relative;
  border: solid;
  background: #B7DEE8;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

@media (min-width: 300px) and (max-width: 600px) {
  /* h1 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1em;
}
  h6 {
    font-size: 0.9em;
  } */
  #under {
    color: #3A1669;
    margin-top: 50px;
  }

  .hidden {
    width: 60vh;
  }

  .content {
    margin-top: 110px;
    margin-left: 0px;
    margin-right: 10px;
  }
}

.risks{
  padding-top:1rem;
  padding-bottom:1rem;
  border: solid 1px blue;
  font-size:0.8rem;
}

.circle_num div{
  display: inline-block;
}

.circle_num a{
  line-height:2.3 !important;
  color:white;
  display: inline-block;
  padding-left:0 !important;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  background-color: #0A246A;
  color: #FFF !important;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
}

.dblueInf a{
  background-color: #003E9F;
} 

.greenInf a{
  background-color: #00CD00;
}

.purpleInf a{
  background-color: #8D2795;
}

.dblue a{
  background-color: #004E97;
} 

.blue a{
  background-color: #009DE2;
}

.blue1 a {
  background-color: #54d335;
}

.yellow a{
  background-color: #1074bc;
}

.green a{
  background-color: #7b2d92;
}

.gray a{
  background-color: #000;
}

.gray1 a {
  background-color: #c3c0c0;
}

.bgray a{
  background-color: #fff;
  color: #000 !important;
}

.bgray_11 a{
  background-color: #fff;
  color: #000 !important;
  border: 1px solid #000;
}

.dgray a{
  background-color: #5a595a;
}

g a{
  cursor: pointer;
}

.small-circle {
  display: inline-block;
  margin-right: 5px;
  width: 10px;
  height: 10px;

  border-radius: 50%;
}

.small-circle.green {
  background-color: #54BA57;
}

.small-circle.blue {
  background-color: #4260AA;
}

.state {
  font-size: 15px;
}

.queue hr {
  background-color: #000;
}

.president-info {
  color: #2D89C9;
  font-size: 15px;
}

.president-recourse p{
  text-indent: 0;
  margin-bottom: 20px;
}

.text-focus {
  color: #2D89C9;
  font-size: 18px;
  border-left: 2px solid #2D89C9;
  padding-left: 20px;
  margin-bottom: 20px;
  font-style: normal;
}

p.text-focus {
  text-indent: 0;
}

ul.text-focus,
li.text-focus {
  list-style-type: none;
}

.direction-icons {
  text-align: center;
}

.icon-markets {
  height: 70%;
}

.accordion-toggle {
  cursor: pointer;
}

.accordion-toggle:after {
  content: "▶";
  float: left;
  transform: rotateZ(90deg);
  margin-right: 5px;
  font-size: 14px;
  transition: all 0.3s ease;
}

.accordion-toggle.collapsed:after {
  transform: rotateZ(0);
}

#gri-list {
  display: inline;
  list-style-type: none;

  padding: 0;
}

#gri-list li {
  display: inline;
}

#gri-list li a {
  color: #fff;

  border-bottom: 1px dotted #E0E0E2;
}

#gri-list li:not(:last-child) a::after {
  content: ", ";
  color: #fff;
}

.event > a {
  color: #000;
  font-size: 23px;
}

.event .accordion-toggle:after {
  font-size: 20px;
}

.event-line {
  position: relative;
}

.event-line::after {
  content: "";
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
}

.event-line.green::after {
  background-color: #54D335;
}

.event-line.blue::after {
  background-color: #0D4DA1;
}

.event-line.violet::after {
  background-color: #792A91;
}

.event-line.sky::after {
  background-color: #09B1EF;
}

#risk-map a circle {
  transition: all 0.3s ease-in-out;
}

#risk-map a:hover circle {
  stroke-width: 5px;
}

.matrix-circles circle {
  transition: all 0.3s ease-in-out;
}

.matrix-circles a:hover circle {
  stroke: #a7a7a7;
  stroke-width: 5px;
}

.matrix-ellipse ellipse {
  transition: all 0.3s ease-in-out;
}

.matrix-ellipse a:hover ellipse {
  stroke: #a7a7a7;
  stroke-width: 5px;
}

.bus {
  cursor: pointer;
}

.bus:hover {
  text-decoration: underline;
}

.tooltip {
  max-width: 350px;
  background-color: #808080;
  color: #fff;
  padding: 5px;
  text-align: left;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.16);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.16);
  box-shadow: 0 1px 1px rgba(0,0,0,.16);
  font-size: 15px;

  visibility: hidden;

  transition: all 0.2s ease-in;
}

#navigation .next-page-img {
  background-size: cover;
  background-position: center;
  height: 125px;
}

#navigation p {
  text-indent: 0;
  font-size: 14px;
}

#navigation h5 {
  color: #1C439D;
  font-weight: bold;
}

#navigation h3 {
  font-weight: bold;
}

#navigation a {
  color: inherit;
}

#navigation a:hover {
  text-decoration: none;
}

#navigation a:hover h5 {
  color: #009DE2;
}

#country-tooltip {
  position: absolute;
  z-index: 1000;
  max-width: 250px;
  background-color: rgba(211, 233, 246, 0.9);
  color: #000;
  padding: 5px;
  text-align: left;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.16);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.16);
  box-shadow: 0 1px 1px rgba(0,0,0,.16);
  font-size: 15px;
  visibility: hidden;

  transition: all 0.2s ease-in;
}
