<footer class="page-footer pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row container-fluid">
      <div id="footer-contacts" class="col-md-6 container-fluid">
        <h5 class="text-uppercase">Контакты</h5>
      </div>
      <div class="col-md-6 container-fluid text-md-right">
        <a href="#">
          <img src="../../img/footer/vkWhite.png">
        </a>
        <a href="#1">
          <img src="../../img/footer/mailWhite.png">
        </a>
        <a href="#2">
          <img src="../../img/footer/facebookWhite.png">
        </a>
        <a href="#3">
          <img src="../../img/footer/googleWhite.png">
        </a>
      </div>
      <div id="footer-contacts" class="col-lg-3 col-md-6 container-fluid">
        <h5 class="text-uppercase">АО ИК "АСЭ"</h5>
        <p>603006, Нижний Новгород, пл. Свободы, д. 3 </p>
        <p> Тел. +7 (831) 421-79-00</p>
        <p> Факс: +7 (831) 419-84-90; +7 (831) 421-06-04</p>
        <p> E-mail: niaep@niaep.ru</p>
      </div>
      <div id="footer-contacts" class="col-lg-3 col-md-6 container-fluid">
        <h5 class="text-uppercase">АО АСЭ</h5>
        <p> 603006, Нижний Новгород, пл. Свободы, д. 3 </p>
        <p> 127434, г. Москва, Дмитровское шоссе, д. 2, стр. 1</p>
        <p>Тел. +7 (495) 737-90-37</p>
        <p>E-mail: post@atomstroyexport.ru</p>
      </div>
      <div id="footer-contacts" class="col-lg-3 col-md-6 container-fluid">
        <h5 class="text-uppercase">АО «АТОМЭНЕРГОПРОЕКТ»</h5>
        <p>105005, Москва, ул. Бакунинская, д. 7 стр. 1 </p>
        <p>Тел. +7 (495) 633-50-50</p>
        <p>E-mail: info@aep.ru</p>
      </div>
      <div id="footer-contacts" class="col-lg-3 col-md-6 container-fluid">
        <h5 class="text-uppercase">АО «АТОМПРОЕКТ»</h5>
        <p>197183, Санкт-Петербург, ул. Савушкина, д. 82 лит. А.</p>
        <p>Тел. +7 (812) 339-15-15 (многоканальный)</p>
        <p>E-mail: info@atomproekt.com</p>
      </div>
    </div>
  </div>
</footer>
