<nav class="navbar navbar-dark default fixed-top navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/">
        <img src="../../img/logoT.png">
        <div class="report d-none d-lg-block">
            Годовой отчет<br>
            2017
        </div>
    </a>

    <div class="collapse navbar-collapse justify-content-end" id="nav-content">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="lang">
                    <span>
                        <b>RU </b>/ EN
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/content" onclick="addHistory()">
                    <img src="../../../img/header/content.png">
                    <span>Содержание</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/key_event">
                    <img src="../../../img/header/version.png">
                    <span>Ключевые события 2017 года</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/interactive">
                    <img src="../../../img/header/graph.png">
                    <span>Ключевые показатели 2017 года</span>
                </a>
            </li>
            <li id="lastNavItem" class="nav-item">
                <a class="nav-link" href="../../../reports/ru_report.pdf" download>
                    <img src="../../../img/header/download.png">
                    <span>Скачать pdf</span>
                </a>
            </li>
            <li class="nav-item">
                <form action="/searching" method="POST" class="search-form">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="userReq" placeholder="Найти">
                        <div class="glyphicon glyphicon-search form-control-feedback">
                            <img src="../../../img/header/search.png">
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</nav>