<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter50397847 = new Ya.Metrika2({
                        id:50397847,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/50397847" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/icons.css">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/searchForm.css">
    <link rel="stylesheet" href="/css/fsp-sidepanel.css">

    {% block link %}
    {% endblock %}

    <title>{{title}}</title>
</head>
<body>
    <div id="right-sidepanel" class="fsp-sidepanel fsp-sidepanel-right">
        <div class="container-fluid">
            <div class="row">
                <div id="close-sidepanel">&#10005;</div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#bookmarks-list" aria-expanded="false">
                        <strong>Избранное</strong>
                    </a>

                    <span id="delete-bookmarks">&#10006;</span>

                    <ul class="collapse-content collapse" aria-labelledby="headingOne" id="bookmarks-list">
                        
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#history-list" aria-expanded="false">
                        <strong>История</strong>
                    </a>

                    <ul class="collapse-content collapse" aria-labelledby="headingOne" id="history-list">
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="main" class="fsp-content">
        {% include "./header_page.html" %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-8">
                    <ol class="breadcrumb">
                        <img src="../img/enter.png" id="enter">
                        {% block breadcrumb %}
                        <li><a href="#"><small>Содержание /</small></a></li>
                        <li><a href="#"><small>Глава 3 /</small></a></li>
                        <li class="active"><small><strong>3.1.</strong></small></li>
                        {% endblock %}
                    </ol>
                </div>

                <div class="col-4 download-chapter">
                    <a href="javascript:void(0)" onclick="makePDF()"><span><img src="/img/download.png" alt=""></span> Скачать раздел</a>
                </div>
            </div>
        </div>

        <div class="pdf">
            {% block header %}
                
                <div class="picture_theme_main d-flex align-items-end" style="{% block picture %}background-image: url(../img/main.png);{% endblock %}">
                    <div class="gradient"></div>
                    <div class="title-wrapper">
                        <div class="title">
                            <h1>{% block  titleText %} {% endblock %}</h1>
                        </div>
                        <div class="subtitle">
                            {% block  subtitleText %} Интерактивная карта {% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}
            
            <div class="tooltip">
                
            </div>

            <div id="country-tooltip">
                
            </div>
            
            <div class="content container">
                {% block content %}
    
                {% endblock %}

                {% if (prevPage) or (nextPage) %}
                <div id="navigation" class="row mt-5">
                    {% if prevPage %}
                        <div class="col-12 col-md-6">
                            <a href="{{ prevPage.url }}">
                                <h3>Предыдущий раздел</h3>
                                
                                <hr>

                                <div class="row">
                                    <div class="col-4">
                                        <div class="next-page-img" style="background-image: url('{{ prevPage.img }}')"></div>
                                    </div>
        
                                    <div class="col-8">
                                        <h5>{{prevPage.title}}</h5>
                                        
                                        <p>{{prevPage.description}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}

                    {% if nextPage %}
                        <div class="col-12 col-md-6">
                            <a href="{{ nextPage.url }}">
                                <h3>Следующий раздел</h3>
                                
                                <hr>

                                <div class="row">
                                    <div class="col-4">
                                        <div class="next-page-img" style="background-image: url('{{ nextPage.img }}')"></div>
                                    </div>
        
                                    <div class="col-8">
                                        <h5>{{nextPage.title}}</h5>
                                        
                                        <p>{{nextPage.description}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    
        <div class="container-fluid">
            <a href="#">
                <div id="bookmark">
                    <img src="../img/bookmark.png" class="history-bkmrk">
                    <div class="bookmark-additional">
                        <a id="add-bookmark" href="javascript:void(0)" onclick="addBookmark()" title="Добавить в избранное"><img src="../img/bookmark_add.png" alt=""></a>
                        <a id="open-bookmark" href="javascript:void(0)" title="Открыть избранное"><img src="../img/bookmark_show.png" alt=""></a>
                    </div>
                </div>
            </a>
            <a href="#">
                <div id="history">
                    <a id="open-history" href="javascript:void(0)" title="Открыть историю">
                        <img src="../img/history.png" class="history-bkmrk">
                    </a>
                </div>
            </a>
    
            <div id="location" class="row">
                <a href="javascript:void(0)" onclick="window.print()" title="Печать"><div class="circle"><img src="../img/print.png" class="icon"></div></a>
                <a href="/feedback" title="Обратная связь"><div class="circle"><img src="../img/call.png" class="icon"></div></a>
                <a href="#">
                    <div class="circle" id="link"><img src="../img/share.png" class="icon" title="Поделиться">
                        <div class="share">
                            <a href="javascript:void(0)" onclick="Share.vkontakte()"><img src="../img/vk.png" class="linker"></a>
                            <a href="javascript:void(0)" onclick="Share.mail()"><img src="../img/email.png" class="linker"></a>
                            <a href="javascript:void(0)" onclick="Share.facebook()"><img src="../img/facebook.png" class="linker"></a>
                            <a href="javascript:void(0)" onclick="Share.google()"><img src="../img/google.png" class="linker"></a>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        {% include "./footer.html" %}
    </div>
    <a href="#top" class="go-anchor" id="up"><div class="circle rebound"><img src="../img/arrowDown.png" class="icon arrowUp"></div></a>

    {% include "./adds.html" %}
    {% block scripts %}

    {% endblock %}
    <script src="../js/share.js"></script>
    <script src="../js/fsp-sidepanel.js"></script>
    <script src="../js/bookmark.js"></script>
    <script src="../js/history.js"></script>
</body>
</html>