{% extends "en/templates/page.html" %}

{% block link %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Table of Contents /</small></a></li>
    <li class="active"><small><strong>List of Abbreviations</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/glossary.jpg);
    background-position-y: 25%;
{% endblock %}

{% block  titleText %}
    List of Abbreviations
{% endblock %}

{% block  subtitleText %}
{% endblock %}

{% block content %}

    <div class="row mt-4">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <strong>NPP</strong> &ndash; Nuclear Power Plant
            <br><br>
            <strong>RCP</strong> &ndash; Reactor Coolant Pipeline
            <br><br>
            <strong>KPI</strong> &ndash; Key Performance Indicator
            <br><br>
            <strong>IWL</strong> &ndash; Individual work limit
            <br><br>
            <strong>MCPL</strong> &ndash; Minimum Controllable Power Level
            <br><br>
            <strong>MTR</strong> &ndash; Material and technical resources
            <br><br>
            <strong>R&D</strong> &ndash; Research and development
            <br><br>
            <strong>IMP</strong> &ndash; The Initial (maximum) price of the contract
            <br><br>
            <strong>NP</strong> &ndash; Non-commercial partnership
            <br><br>
            <strong>EIA</strong> &ndash; Environmental impact assessment
            <br><br>
            <strong>NF</strong> &ndash; Nuclear Facilities
            <br><br>
            <strong>GPA</strong> &ndash; General parameters of performance
            <br><br>
            <strong>SNF</strong> &ndash; Spent Nuclear Fue
            <br><br>
            <strong>CW</strong> &ndash; Commissioning Works
            <br><br>
            <strong>PSAR</strong> &ndash; Preliminary Safety Analysis Report
            <br><br>
            <strong>COP</strong> &ndash; Costs optimization program
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <strong>BoD</strong> &ndash; Board of Directors
            <br><br>
            <strong>RPS</strong> &ndash; Rosatom Production System
            <br><br>
            <strong>RAW</strong> &ndash; Radioactive wastes
            <br><br>
            <strong>RS</strong> &ndash; Radioactive substances
            <br><br>
            <strong>WD</strong> &ndash; Working documentation
            <br><br>
            <strong>RIN</strong> &ndash; Rosatom International Network
            <br><br>
            <strong>РСТ</strong> &ndash; Patent cooperation treaty
            <br><br>
            <strong>RP</strong> &ndash; Reactor plan
            <br><br>
            <strong>CEW</strong> &ndash; Construction and erection works 
            <br><br>
            <strong>AFCF</strong> &ndash; Adjusted Free Cash Flow
            <br><br>
            <strong>FE</strong> &ndash; Financial estimate
            <br><br>
            <strong>SRW</strong> &ndash; Solid radioactive waste
            <br><br>
            <strong>FSTEC of Russia</strong> &ndash; Federal Medical-Biological Agency of Russia
            <br><br>
            <strong>CFD</strong> &ndash; Center for Financial Responsibility
            <br><br>
            <strong>PU</strong> &ndash; Power unit
            <br><br>
            <strong>NFC</strong> &ndash; Nuclear fuel cycle
        </div>
    </div>

{% endblock %}