{% extends "en/templates/page.html" %}

{% block link %}
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/fm.revealator.jquery.min.css">
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Table of Contents /</small></a></li>
    <li class="active"><small><strong>About the Engineering Division</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/оКомпании.jpg);
    background-position-y: 20%;
{% endblock %}

{% block  titleText %}
    About the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division
{% endblock %}

{% block  subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-1">102-1</a></span>
            <span class="hidden-gri">Organization name</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-3">102-3</a></span>
            <span class="hidden-gri">Location of the organization’s headquarters</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-5">102-5</a></span>
            <span class="hidden-gri">Nature of ownership and legal form</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-16">102-16</a></span>
            <span class="hidden-gri">Values, principles, standards and norms of behavior</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-4">102-4</a></span>
            <span class="hidden-gri">Operating geography</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-7">102-7</a></span>
            <span class="hidden-gri">Organization scale</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-13">102-13</a></span>
            <span class="hidden-gri">Association Membership</span>
        </span>
    </li>
</ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="blockLineLeftTxt">
                <span class="color_GOST">( GRI <span id="gri-102-1">102–1</span>, <span id="gri-102-2">102–2</span>, <span id="gri-102-3">102-3</span>, <span id="gri-102-5">102–5</span> )</span> 
                The Rosatom State Corporation <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division includes four key organizations:

                <ul class="mt-4">
                    <li>JSC ASE EC (Nizhny Novgorod) – managing company,</li>
                    <li>JSC ASE (Nizhny Novgorod),</li>
                    <li>Atomenergoproekt (Moscow),</li>
                    <li>JSC ATOMPROEKT (Saint Petersburg).</li>
                </ul>
            </div>
            <div class="blockLineLeftTxt mt-4">
                <h4><strong>Our Vision</strong></h4>
                <p class="mt-4">We seek to establish a competitive business that is successful in implementation of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> projects and complex <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> management projects and is focused on the shareholder value maximization.</p>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="blockLineLeftTxt">
                <h4><strong>Our Markets</strong></h4>

                <p>The Engineering Division renders project management services in the area of complex engineering facilities construction and upgrading, updating:</p>

                <div class="row direction-icons mb-3">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                        <img class="icon-markets" src="/img/about_company/2.jpg" alt="">

                        1
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                        <img class="icon-markets" src="/img/about_company/1.jpg" alt="">

                        2
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                        <img class="icon-markets" src="/img/about_company/3.jpg" alt="">

                        3
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                        <img class="icon-markets" src="/img/about_company/4.jpg" alt="">

                        4
                    </div>
                </div>

                <div class="row">
                    <ol>
                        <li>Core Business. Design and <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of nuclear power plants</li>
                        <li>Maintenance Services</li>
                        <li><span class="block">
	<span class="hover">Construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> and upgrading of radioactive waste management and spent nuclear fuel facilities, decommissioning of nuclear radiation facilities </li>
                        <li>Project Management Consulting (PMC) Services using project management tools based on the Multi-D digital platform</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
        

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="blockLineLeftTxt mt-4">
                <h4><strong>Our Mission</strong></h4>
                <p class="mt-4">Our business involves the area of complex <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities.</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> project management based on the extensive record of nuclear project implementation, it creates a stakeholder value and ensures achievement of its objectives on the Russian and international markets.</p>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="blockLineLeftTxt mt-4">
                <h4><strong>Our Values </strong></h4>
                <span class="color_GOST">(GRI <span id="gri-102-16">102-16</span>)</span>
                
                <p class="mt-4">Our values comply with these of the ROSATOM and aim to execution the mission and maintain the sustainable growth.</p>
                <ul>
                    <li>Safety</li>
                    <li>Responsibility for the result </li>
                    <li>Efficiency</li>
                    <li>One team</li>
                    <li>One step ahead</li>
                    <li>Respect</li>
                </ul>
            </div>
        </div>
    </div>

    <br><br>
    <hr class="zas">

    <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12" style="margin: auto;">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/chapters/2.4_human.jpg" style="width: 100%; height: 350px;">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/chapters/about_company.jpg" style="width: 100%; height: 350px;">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/бизнес_модель.png" style="width: 100%; height: 350px;">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/ключевые_события_3.png" style="width: 100%; height: 350px;">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/белорусская.jpg" style="width: 100%; height: 350px;">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                </div>

        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
            <h4 class="mt-4"><strong><span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division’s Competitive Advantages</strong></h4>

            <ul class="mt-4">
                <li>Representation of references on the Russian and foreign markets.</li>
                <li>Available safe standard designs based on GenIII/III+ VVER reactors with competitive advantages such as in terms of such parameters as <span class="block">
	<span class="hover">LCOE</span>
	<span class="hidden-gri">Levelized Cost of Electricity – [KW*h] during the whole life cycles, it is expressed in monetary unit for generation of 1 KW*h.  
            <br>LCOE is determined as the unit cost of electricity, as the sum of all the expenses (capital, operational, including the cost of fuel, treatment of spent nuclear fuel and radioactive waste, personnel expenses, <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> decommissioning and other costs) during the whole life of an <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (considering the time value of money) in relation to the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> capacity (design or actual).</span>
</span>, CAPEX and <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> deadlines.</li>
                <li>Extensive network of management of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>s and other complex <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> facilities <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> projects.</li>
                <li>Complex industrial technological Multi-D platform to ensure capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> project management.</li>
                <li>Management team and operation personnel’s extensive expertise based on many years’ experience in <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> and other complex <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> facilities <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>.</li>
                <li>Own design capacities.</li>
                <li>Outstanding <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> and technological infrastructure.</li>
            </ul>
        </div>
    </div>

    <br>
    <hr class="zas">

    <h4 class="mt-4"><strong>International Footprint </strong></h4>

    <p class="mt-4">23 countries of the world where the company runs business,11 main business core projects, 13 countries where the company has branches and representative offices <span class="color_GOST">(GRI <span id="gri-102-4">102-4</span>, <span id="gri-102-7">102-7</span>)</span></p>

    <small class="color_GOST">*Click on the country for more information</small>
    <div class="revealator-slideup revealator-once">{% include "./map.html" %}</div>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12"><img src="/img/map/blue_ring.png" class="mapIcon"> Branch office</div>
        <div class="col-lg-5 col-md-5 col-sm-12"><img src="/img/map/blue_circle.png" class="mapIcon"> Core Business. Design and <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of nuclear power plants</div>
        <div class="col-lg-5 col-md-5 col-sm-12"><img src="/img/map/green_circle.png" class="mapIcon"> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> and upgrading of radioactive waste management and spent nuclear fuel facilities, decommissioning of nuclear radiation facilities</div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-2 col-md-2 col-sm-12"><img src="/img/map/light_blue_circle.png" class="mapIcon"> Maintenance Services</div>
        <div class="col-lg-5 col-md-5 col-sm-12"><img src="/img/map/purple_circle.png" class="mapIcon"> Project Management Consulting (PMC) Services using project management tools based on the Multi-D digital platform</div>
        <div class="col-lg-5 col-md-5 col-sm-12"><img src="/img/map/green_ring.png" class="mapIcon"> Representative office</div>
    </div>


    <h4 class="mt-4"><strong>Membership in Associations </strong></h4>
    <span class="color_GOST">(GRI <span id="gri-102-13">102-13</span>)</span>
    
    <ul class="mt-4">
        <li>Federation of employers of atomic industry, power <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> and science of Russia”.</li>
        <li>Association of innovative design. </li>
        <li>European Utility Requirements.</li>
        <li>Self-regulatory organization NPO “Association of organizations conducting <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> survey during architectural design, <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, modernization, overhaul of nuclear facilities “SOYUZATOMGEO”. </li>
        <li>Self-regulatory organization NPO “Association of organizations carrying out architectural design of nuclear facilities “SOYUZATOMPROEKT”.</li>
        <li>National Association of engineers-consultants in the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> field”.</li>
        <li>Czech nuclear forum.</li>
        <li>Association “Self-regulatory regional industry federation of employers “Association of Nizhny Novgorod developers” (since 2017).</li>
    </ul>

    <p><em>For information about JSC ASE EC organizational structure and operating assets of the companies within the management scope of JSC ASE EC, see <a href="../../appendixEn/6.pdf" target="_blank">Appendices 6</a> and <a href="../../appendixEn/7.pdf" target="_blank">7</a> of the Book of appendices.</em></p>

{% endblock %}

{% block scripts %}
    <script src="/js/mapEn.js"></script>
    <script src="/js/about_company.js"></script>
    <script src="/js/fm.revealator.jquery.min.js"></script>
{% endblock %}