{% extends "en/templates/page.html" %}

{% block link %}
    <link rel="stylesheet" href="/css/table.css">
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Table of Contents /</small></a></li>
    <li class="active"><small><strong>List of Appendices</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/annex.jpg);
    background-position-y: 78%;
{% endblock %}

{% block  titleText %}
    List of Appendices
{% endblock %}

{% block  subtitleText %}
{% endblock %}

{% block content %}
    All annexes hereto are given in the Book of Appendices. See <a href="http://www.niaep.ru/information_disclosure/Annual_reports/:">http://www.niaep.ru/information_disclosure/Annual_reports/:</a>
    <br><br>
    <a href="../../appendixEn/1.pdf" target="_blank">Appendix 1   GRI Content Index, table of compliance with Standard &lt;IR&gt;.</a>
    <br><a href="../../appendixEn/2.pdf" target="_blank">Appendix 2    Opinion of Internal Control and Audit Department.</a>   
    <br><a href="../../appendixEn/3.pdf" target="_blank">Appendix 3    Independent Assurance Report.	</a>
    <br><a href="../../appendixEn/4.pdf" target="_blank">Appendix 4    Opinion of Non-Financial Reporting Board of the Russian Union of Industrialists and Entrepreneurs.</a>
    <br><a href="../../appendixEn/5.pdf" target="_blank">Appendix 5    Opinion of the Russian Integrated Reporting Regional Network.</a>
    <br><a href="../../appendixEn/6.pdf" target="_blank">Appendix 6    Organizational structure of JSC ASE EC, the Managing company of the Engineering Division.</a>	
    <br><a href="../../appendixEn/7.pdf" target="_blank">Appendix 7    Operating assets of organizations within the management scope of JSC ASE EC.</a>
    <br><a href="../../appendixEn/8.pdf" target="_blank">Appendix 8    Corporate governance in JSC NIKIMT-Atomstroy, Trest RosSEM LLC and PJSC “Energospetsmontazh”.</a>
    <br><a href="../../appendixEn/9.pdf" target="_blank">Appendix 9    Information about the members of the Board of Directors.</a>
    <br><a href="../../appendixEn/10.pdf" target="_blank">Appendix 10    Report of the Board of Directors on Performance Results.</a>	
    <br><a href="../../appendixEn/11.pdf" target="_blank">Appendix 11    The information about major transactions and transactions with interest.</a>
    <br><a href="../../appendixEn/12.pdf" target="_blank">Appendix 12    Additional information to chapter “Human capital”.</a>
    <br><a href="../../appendixEn/13.pdf" target="_blank">Appendix 13    Additional information to chapter “Manufactured capital” (results of Rosatom Production System introduction). </a>
    <br><a href="../../appendixEn/14.pdf" target="_blank">Appendix 14    Additional environmental parameters.</a>  
{% endblock %}