{% extends "en/templates/page.html" %} {% block breadcrumb %}
<li>
  <a href="/content">
    <small>Table of Contents /</small>
  </a>
</li>
<li>
  <a href="#">
    <small>CHAPTER 1 /</small>
  </a>
</li>
<li class="active">
  <small><strong>1.2</strong></small>
</li>
{% endblock %} 

{% block picture %}
    background-image: url(../img/chapters/1.2_change.jpg);
    background-position-y: 48%;
{% endblock %}

{% block titleText%} 1.2. Business Model {% endblock %}
{% block subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-9">102-9</a></span>
            <span class="hidden-gri">Supply chain</span>
        </span>
    </li>
</ul>
{% endblock %}
{% block content %}
<div>
  <p>
    <div id="Context">
        <p><span class="color_GOST">(GRI <span id="gri-102-9">102-9</span>)</span> Having realized the significance of its performance for the economy and the society, the Engineering Division sets a goal of the business sustainable development, also by means of increasing of its aggregate cost/value for the Division, for a wide range of stakeholders and society on the whole. The term “cost/value” means not only products to be produced, services to be rendered and financial results but a combination of the Company’s economic, social and ecological impact on the environment and the world around.</p>
        <p>Engineering division’s value chain (in the main business core) is a component part of the uniform value chain of the nuclear industry.</p>
    </div>
  </p>

  <img style="width: 100%" src="/img/business1_en.png">

  <p>The Division defines its business model as a creating value system within the short-, mid- and long-term perspective and aiming to achieve strategic goals. The Company’s business-model is based on its long-term strategy*.</p>
</div>
<div>
  {% include "./business2_en.html" %}
</div>
{% endblock %}