{% extends "en/templates/page.html" %}

{% block link %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Table of Contents /</small></a></li>
    <li class="active"><small><strong> Conclusion on the Public Assurance of the Report</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/conclusion.jpg);
    background-position-y: 65%;
{% endblock %}

{% block  titleText %}
    Conclusion on the Public Assurance of the Report
{% endblock %}

{% block  subtitleText %}
{% endblock %}

{% block content %}
    <h4 class="mt-5"><strong>Introduction</strong></h4>
    
    <p class="mt-5">
    <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division (hereinafter referred to as the Company, Division) has provided us with a possibility to evaluate the Annual Report for 2017 (hereinafter, the Report), including the completeness and the materiality of the disclosed information and response of the Company to requests of the stakeholders. For this purpose, we and our representatives were given a possibility to participate in the public consultations on Draft Report which took place on April 18, 2018, as well as in two dialogs with the stakeholders:</p>
    
    <ul class="mt-4">
        <li class="mt-2">dialog on definitions of the material topics to be disclosed in the Report, which took place on 07.11.2017;</li>
        <li class="mt-2">dialog on disclosure of a priority topic "Achievement of leading positions in project management", which took place on 27.02.2018.</li>
    </ul>

    <h4 class="mt-5"><strong>Report Assessment Procedure</strong></h4>

    <p class="mt-5">Our conclusion is based on the comparative analysis of two versions of the Report (Draft Report for public consultations and final version of the Report) and submitted materials following the results of the dialogs and consultations (records of events, summary tables on comments of the stakeholders), as well as comments made by Company managers and employees in the course of the external assurance of the Report.</p>
    <p>In the process of the external assurance of the Report we did not set a task to check the data collection and analysis system of the Company. Reliability of the actual data presented in the Report is not a part of this assurance.</p>
    <p>All participants of the public consultations could freely express their opinion. We have not received any remuneration from the Company for participation in the external assurance procedure.</p>

    <h4 class="mt-5"><strong>Assessment, Comments and Recommendations</strong></h4>

    <p class="mt-5">We agree in the positive assessment of the Report concerning its format and the scope of disclosed information.</p>
    <p>The integrated nature of the Report made it possible to comprehensively disclose reporting information on the results of the main activities of the Company, its performance in the field of sustainable development, strategy and plans for the future.</p>
    <p>In 2018, the Report was for the second time prepared with such a wide scope: all key organizations within the Division’s framework (JSC EC "ASE", JSC "Atomenergoproekt", JSC "ATOMPROEKT" and JSC ASE) and a number of subsidiaries within the governance scope.</p>
    <p>Company operates in 23 countries of the world. Following the integration the stakeholders’ scope has been increased. Therefore, the importance of the report preparation in compliance with international standards and absolute transparency of operations, including for the foreign stakeholders is extremely high.</p>
    <p>The Report is prepared in accordance with the International Integrated Reporting Framework (International &lt;IR&gt; Framework), AA1000 Series Standards (Institute of Social and Ethical Accountability), GRI Sustainability Reporting Sandards (comprehensive option).</p>
    <p>In 2018, the Company for the first time held a dialogue with stakeholders at the construction site – Novovoronezh NPP‑2 with video connection of the Moscow branch of JSC ASE EC. During the dialogue, material topics of the Report were discussed: "Digital Transformation of the 
    <span class="block">
        <span class="hover">Engineering</span>
        <span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
    </span> Division" and "Training and Professional Development of the Personnel under the Conditions of Digital Transformation". We recommend to continue the practice of conducting dialogues at the Company's facilities in the future, we consider it very useful.</p>
    <p>We also approve the choice of material topics of the Report and recommend the Company to disclose the topic of digitalization in future reports, especially the results of the implementation of the Multi-D technologies.</p>
    <p>The Report shows the commitment of the Division to the UN* sustainable development goals adopted by the United Nations (hereinafter – the UN) and the contribution of the Division to the goals achievement. In further reports, we recommend to show basis of the selection of these five sustainable development goals, a detailed information about the tasks declared by the UN and the contribution of the Division to the tasks fulfillment, as well as the connection between them and with the strategic goals of the Division.</p>
    <p>We also hope that in the next years, solving the tasks of transforming the 
    <span class="block">
        <span class="hover">Engineering</span>
        <span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities.</span>
    </span> division into a digital company, the Company will contribute to the digitalization of reporting processes.</p>

    <h4 class="mt-5"><strong>Materiality of Information</strong></h4>

    <p class="mt-5">We consider that the Company has taken into account the requirements of international standards for determination of materiality. During the report preparation, the Company for the third time was using the 
    <span class="block">
	<span class="hover">Rapid Foresight</span>
	<span class="hidden">Technology which allows the people who participate in the foresight, to agree upon the future concept, their performance in relation to such future and their desired future. The basis of the method: joint work of the participants in a time map; working with images and diagrams instead of texts.</span>
</span> technology to define the material topics. The innovative technology allowed the top management of the Company and stakeholder representatives, including members of the Stakeholders Panel to fully develop a materiality matrix.</p>
    <p>The suggested material topics were checked for compliance with GRI SRS. The material topics were disclosed in sufficient details. The priority topics of the Report are: "Digital Transformation of the 
    <span class="block">
        <span class="hover">Engineering</span>
        <span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities.</span>
    </span> Division" and "Training and Professional Development of the Personnel under the Conditions of Digital Transformation". All sufficient data on the priority topics was disclosed.</p>
    <p>In our opinion, the Division consistently adheres to the principles of materiality and conciseness of reporting information and this has a positive impact on the volume of the Report and the significance of the information contained therein.</p>

    <h4 class="mt-5"><strong>Response of the Company to Suggestions and Recommendations of the Stakeholders</strong></h4>

    <p class="mt-5">In the process of preparing the Report, the company demonstrated the shaft a high degree of willingness to engage in open dialogue with stakeholders in various areas. Most of the recommendations to the draft Report were taken into account, or the Company has taken on commitments to take them into account in subsequent report cycle. The Report also contains information about the execution commitments made by the Company in previous cycles reporting that is, in our opinion, good about a model for other companies.</p>
    <p>The practice of dialogues conducted by the Division, in our opinion, is a good example of raising the level of the Company transparency, both in terms of public reporting and in public assurance of nuclear technology.</p>
    <p>We hope that the Division will continue the practice of information openness on all key issues socially significant issues and trends figure activities of the Company and every year will improve public reporting mechanisms.</p>

    <img src="/img/signaturesEn.jpg" style="width: 100%;">

{% endblock %}