{% extends "en/templates/page.html" %} 

{% block breadcrumb %}
<li class="active">
  <small>
    <strong>Table of Contents</strong>
  </small>
<li>
{% endblock %} 

    {% block link %}
    <link rel="stylesheet" href="/css/content.css">
    {% endblock %}
    {% block picture %}
      background-image: url(../img/chapters/содержание.jpg);
    {% endblock %}

    {% block titleText%} Table of Contents {% endblock %} {% block subtitleText %} {% endblock %}
    
    {% block content %}
    <div id="contentAccordion">
        <div>
            <a href="/about_company">About the Engineering Division </a>
        </div>
        <div>
            <a href="/info_about_report">Report Information</a>
        </div>
        <div>
            <a href="/key_event">Key Milestones of 2017</a>
        </div>
        <div>
            <a href="/president">CEO Statement</a>
        </div>
        <div id="headingOne">
            <a href="" class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapseO" aria-expanded="false"
                aria-controls="collapseO">
                <b>CHAPTER 1.</b> STRATEGIC OVERVIEW 
            </a>
        </div>
        <div id="collapseO" class="collapse-content collapse" aria-labelledby="headingOne" data-parent="#contentAccordion">
            <div>
                <a href="/division_strategy">1.1. Strategy of The Engineering Division And KPI of Its Implementation</a>
            </div>
            <div>
                <a href="/business_model">1.2. Business Model</a>
            </div>
            <div>
                <a href="/markets_of_presence">1.3. International Footprint</a>
            </div>
            <div>
                <a href="/digital_transformation">1.4. Digital Transformation of The Engineering Division</a>
            </div>
            <div>
                <a href="/risks_and_opportunities">1.5. Risks And Opportunities</a>
            </div>
            <div>
                <a href="/corporate_governance">1.6. Corporate Governance</a>
            </div>
        </div>
        <div id="headingTwo">
            <a href="" class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">
                <b>CHAPTER 2.</b> КEY PERFORMANCE RESULTS
            </a>
        </div>
        <div id="collapseTwo" class="collapse-content collapse" aria-labelledby="headingTwo" data-parent="#contentAccordion">
            <div>
                <a href="/financial_capital">2.1. Financial Capital</a>
            </div>
            <div>
                <a href="/productive_capital">2.2. Manufactured Capital</a>
            </div>
            <div>
                <a href="/intellectual_capital">2.3. Intellectual Capital</a>
            </div>
            <div>
                <a href="/human_capital">2.4. Human Capital. Personnel Training due to Digital Transition Demand</a>
            </div>
            <div>
                <a href="/natural_capital">2.5. Natural Capital </a>
            </div>
            <div>
                <a href="/soc_rep_capital">2.6. Social And Relationship Capital</a>
            </div>
        </div>
        <div>
            <a href="/engagement">Engagement with Stakeholders During Report Preparation</a>
        </div>
        <div>
            <a href="/conclusion">Conclusion on the Public Assurance of the Report</a>
        </div>
        <div>
            <a href="/gri">GRI Content Index, table of compliance with Standard &lt;IR&gt;</a>
        </div>
        <div>
            <a href="/glossary">Glossary</a>
        </div>
        <div>
            <a href="/abbreviations">List of Abbreviations</a>
        </div>
        <div>
            <a href="/annex">List of Appendices</a>
        </div>
        <div>
            <a href="/interactive">Highlights 2017</a>
        </div>
    </div>
    {% endblock %}