{% extends "en/templates/page.html" %} 

{% block link %}
    <link rel="stylesheet" href="/css/fm.revealator.jquery.min.css">
{% endblock %}

{% block breadcrumb %}
<li>
    <a href="/content">
        <small>Table of Contents /</small>
    </a>
</li>
<li>
    <a href="#">
        <small>CHAPTER 1 /</small>
    </a>
</li>
<li class="active">
    <small><strong>1.6</strong></small>
</li>
{% endblock %} 

{% block picture %}
    background-image: url(../img/chapters/1.6.jpg);
    background-position-y: 45%;
{% endblock %}

{% block titleText%} 1.6. Corporate Governance {% endblock %}

{% block subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-10">102-10</a></span>
            <span class="hidden-gri">Significant changes in the boundary of the organization and its supply chain</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-18">102-18</a></span>
            <span class="hidden-gri">Corporate Governance Structure</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-19">102-19</a></span>
            <span class="hidden-gri">Delegation of authority</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-22">102-22</a></span>
            <span class="hidden-gri">Composition of the highest governing body and its committees</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-23">102-23</a></span>
            <span class="hidden-gri">Chairman of the highest governing body</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-7">102-7</a></span>
            <span class="hidden-gri">Organization scale</span>
        </span>
    </li>
</ul>
{% endblock %}

{% block content %}
<div id="under">
    <strong>1.6.1. Corporate Governance System of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division</strong>
</div>

<div>
    <div>
        <p><span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division Corporate Management Scope* (as of 31.12.2017)</p>

        <img src="/img/control_loop_en.jpg" style="width: 100%;">
    </div>

    <div>
        <br>
        <small>
            <strong>Table 1.6. Key principles of the corporate governance of the Division joint stock companies</strong>
        </small>
        <table class=" table table-borderless table-responsive">
            <tr>
                <td>The principle of protecting the rights and interests of shareholders</td>
                <td>
                    Corporate governance in companies is based on the principle of protecting and respecting the rights and legitimate interests of shareholders and contributes to the companies effective operation, including the growth of assets and the maintenance of financial stability and profitability. Shareholders have the rights provided by the Federal Law “On Joint-Stock Companies” and the Articles of Association.  
                    <br>Corporate governance provides shareholders with a real opportunity to exercise their rights related to participation in the management of companies. The procedure of information exchange between companies and shareholders is regulated by the current legislation of the Russian Federation, the Articles of Association, industry and internal documents of the companies. 
                </td>
            </tr>
            <tr>
                <td>The principle of effective management by the Board of Directors</td>
                <td>
                    The performance of the Board of Directors (<span class="block">
	<span class="hover">BoD</span>
	<span class="hidden">Board of Directors</span>
</span>) follows the principle of maximum compliance with and implementation of the shareholders’ interests and responsibility for the companies performance. 
                    <br><span class="block">
	<span class="hover">BoD</span>
	<span class="hidden">Board of Directors</span>
</span> acts in good faith in the interests of shareholders and companies. The Board of Directors ensures full transparency of its performance to shareholders. 
                </td>
            </tr>
            <tr>
                <td>The principle of transparency and objectivity of disclosure of information on the companies’ performance</td>
                <td>
                    In order to ensure that the shareholders can take reasonable decisions, as well as communicate information on the companies performance to the stakeholders, the companies provide timely disclosure to shareholders and interested parties of reliable information, including the financial status, economic indicators, performance results, ownership and management structure. 
                    <br>The disclosure and/or publication of any information takes into account the legislation provisions on state and commercial secret. 
                </td>
            </tr>
            <tr>
                <td>The principle of legality and ethics</td>
                <td>
                    The companies act in strict compliance with the legislation, generally accepted principles of business ethics, the Articles of Association of the companies and contractual obligations.  
                    <br>Relations between shareholders and members of the Board of Directors are built on mutual trust, respect, accountability and control.
                </td>
            </tr>
        </table class=" table table-borderless table-responsive">
    </div>
    <br>
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12">

            <h4><strong>Key Results of 2017 in the Field of the Corporate Governance:</strong></h4>

            <ul class="mt-4">
                <li>new revisions of the Articles of Association of key organizations of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division were approved, in which the competence of the management bodies was partially redistributed in accordance with the amendments to the Federal Law “On Joint Stock Companies” effective from 01.01.2017;</li>
                <li>in connection with the expiration on 31.03.2017 of the term of office of JSC ASE managing organization – JSC ASE EC (agreement on delegation of authority of sole executive body of JSC ASE dd. 27.03.2014), an agreement was concluded on delegation of authority of sole executive body of JSC ASE between JSC ASE and JSC ASE EC from 31.03.2017 for a period of 5 years from 01.04.2017;</li>
                <li>
                    <span class="color_GOST">(GRI <span id="gri-102-10">102-10</span>)</span>  from 29.12. 2017, the shareholder’s structure in JSC ASE EC, JSC ATOMPROEKT and PJSC Energospezmontazh has been changed:  
                </li>
                <table class="  table table-borderless table-responsive">
                    <tr class="centerCol">
                        <th>Shareholder’s structure</th>
                        <th>as of 01.01.17</th>
                        <th>as of 29.12.17</th>
                    </tr>
                    <tr>
                        <th colspan="3">JSC ASE EC:</th>
                    </tr>
                    <tr class="centerCol">
                        <td>JSC Atomenergoprom</td>
                        <td>27.2 %</td>
                        <td>-</td>
                    </tr>
                    <tr class="centerCol">
                        <td>JSC ASE</td>
                        <td>72.8 %</td>
                        <td>100 % minus 1 share</td>
                    </tr>
                    <tr class="centerCol">
                        <td>JSC Atomenergoproekt</td>
                        <td>-</td>
                        <td>1 share</td>
                    </tr>
                    <tr>
                        <th colspan="3">JSC ATOMPROEKT:</th>
                    </tr>
                    <tr class="centerCol">
                        <td>JSC Atomenergoprom</td>
                        <td>100 %</td>
                        <td>-</td>
                    </tr>
                    <tr class="centerCol">
                        <td>JSC ASE</td>
                        <td>-</td>
                        <td>100 % minus 1 share</td>
                    </tr>
                    <tr class="centerCol">
                        <td>JSC ASE EC</td>
                        <td>-</td>
                        <td>1 share</td>
                    </tr>
                    <tr>
                        <th colspan="3">PJSC Energospezmontazh:</th>
                    </tr>
                    <tr class="centerCol">
                        <td>JSC Atomenergoprom</td>
                        <td>99.9565 %</td>
                        <td>-</td>
                    </tr>
                    <tr class="centerCol">
                        <td>JSC ASE</td>
                        <td>-</td>
                        <td>99.9565 %</td>
                    </tr>
                </table class="  table table-borderless table-responsive">
                <li>on 28.12.2017 LLC ASE-<span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> was liquidated. The decision for voluntary liquidation was made by the sole member – LLC ASE-<span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> on 03.05.2017; </li>
                <li>on 25.12.2017 JSC Kazakh-Russian company “Nuclear power plants” (JSC KR<span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>) in the Republic of Kazakhstan, was liquidated. The decision for voluntary liquidation of JSC KR<span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> was made by the annual general meeting of shareholders of JSC KR<span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> on 10.05.2017;</li>
                <li>on 03.07.2017 the decision of the sole shareholder of JSC Siberian Design and Research Institute “Orgstroyproekt” (JSC Atomenergoproekt) was made on the voluntary liquidation of the company (the company was liquidated on 01.03.2018);</li>
                <li>on 10.10.2017 Volgograd Design Branch of JSC Atomenergoproekt was liquidated.</li>
            </ul>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="headerPage blockLineLeftTxt">
                Particular standards of the Corporate Governance Code recommended by the Bank of Russia Letter No.06-52/2463 dd.10.04.2014 are reflected in a number of local regulations of the Division and are applied in practice, taking into account the provision that most organizations in the management scope are non-public joint-stock companies, and taking into account the specifics of the State Corporation Rosatom legal status, envisaged by the regulatory legal acts of the Russian Federation, ensuring the unity of management of nuclear industry organizations.
            </div>
        </div>
    </div>
    <br>
    <div>
        <h4><strong>Plans to improve the system of corporate governance in 2018 and in the mid-term:</strong></h4>
        <ul>
            <li>switching on the electronic voting system at general meetings of shareholders of JSC ASE EC.</li>
        </ul>
    </div>

    <div class="mt-5">
        <div id="under">
            <strong>1.6.2. JSC ASE EC Corporate Governance System
                <span class="color_GOST">(GRI <span id="gri-102-18">102-18</span>, <span id="gri-102-19">102-19</span>, <span id="gri-102-22">102-22</span>, <span id="gri-102-23">102-23</span>)</span>
            </strong>
        </div>

        <img src="/img/systemEn.jpg" class="mt-5" style="width: 100%;">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                For monthly assessment of top managers' effectiveness. the assessment system of operative performance indicators is applied.
                <br><br>The KPI system is applied as an annual effectiveness assessment (the KPI system is specified in detail in section «<a href="/human_capital">Human capital</a>»).
                <br><br>For assessment the effectiveness over a year period, the design and strategic bonus award with the relevant indicators is applied.
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                Report of JSC ASE EC BoD about the performance results see in <a href="../../appendixEn/10.pdf" target="_blank">Appendix 10</a> of the Book of Appendices.
                <br><br>The information about major transaction and transactions with interest can be found in <a href="../../appendixEn/11.pdf" target="_blank">Appendix 11</a> of the Book of Appendices.
                <br><br>* Biography of BoD members is given in <a href="../../appendixEn/9.pdf" target="_blank">Appendix 9</a>.
            </div>
        </div>
    </div>
    <br>
    <div>
        <strong>In 2017, the general meeting of shareholders of JSC ASE EC took various decisions, including the ones on the following issues:
</strong>
        <ul class="mt-4">
            <li>on approval of JSC ASE EC Articles of Association in new revision No. 4;</li>
            <li>on early termination of powers of JSC ASE EC <span class="block">
	<span class="hover">BoD</span>
	<span class="hidden">Board of Directors</span>
</span> members;</li>
            <li>on election of the Board of Directors of JSC ASE EC;</li>
            <li>on the distribution of profits (including payment (declaration) of dividends) and losses of JSC ASE EC according to the results of the reporting year of 2016;</li>
            <li>on consent to a major transaction.</li>
        </ul>
    </div>

    <p class="text-focus"><span class="color_GOST">(GRI <span id="gri-102-5">102-5</span>)</span> The organizational and legal form of JSC ASE EC is the property of state corporations, a non-public joint-stock company.</p>

    <br>
    <div>
        <small>
            <strong>Paid-out dividends, mln RUR.</strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <th rowspan="2">Company</th>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
            </tr>
            <tr>
                <th>planned</th>
                <th>fact</th>
            </tr>
            <tr>
                <td>JSC ASE EC</td>
                <td>1 451.12</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </table>
    </div>
    <br>
    <div>
        <h4><strong>Information about JSC ASE EC registrar</strong></h4>
        
        <ul class="mt-4">
            <li>Joint Stock Company “Registrar R.O.S.T.” that keeps the register of JSC ASE EC registered security holders.</li>
            <li>The address of the registrar: Russian Federation, 107996 Moscow, Stromynka Str., 18, bld. 13</li>
            <li><span class="color_GOST">(GRI <span id="gri-102-7">102-7</span>)</span> Registered ordinary shares with the nominal cost of 1 (one) RUR each in the number of 500 001 877 (five hundred million one thousand eight hundred and seventy seven) pieces for a total amount of 500 001 877 (five hundred million one thousand eight hundred and seventy seven) RUR are placed by JSC ASE EC. All shares of the Company are issued non-certificated, placed by means of closed subscription.</li>
            <li>According to the independent appraiser’s report the market value of one registered ordinary share amounted to 14 RUR 35 kopecks.</li>
            <li>As of 31.12.2017, the authorized capital of the Company amounted to 500,001.877 RUR.</li>
        </ul>

        <small>
            <strong> Committees under the President of JSC ASE EC 
                <span class="color_GOST">(GRI 102-22)</span>
            </strong>
        </small>
        <table class="  table table-borderless table-responsive">
            <tr>
                <th>Committee</th>
                <th>The Chairman</th>
                <th>Key issues reviewed in 2017</th>
            </tr>
            <tr>
                <td>Committee on Restructuring of non-core assets (asset complexes, property and stock capital) </td>
                <td rowspan="3">Senior Vice-President for Economy and Finance N. Podorov</td>
                <td>
                    <strong>12 meetings.</strong>
                    <br>Main issues:
                    <ul>
                        <li>on the recognition of the non-core asset of the recreation center “Lesnoy Uyut”; </li>
                        <li>approval of the cut-off price and the way of restructuring of the non-core assets located in the Leningrad and Kaliningrad regions;</li>
                        <li>on the way of restructuring of property complexes located in the Rostov, Tomsk and Tver regions; </li>
                        <li>on the recognition of the non-core assets and the way of restructuring of premises located in the Kaluga region; </li>
                        <li>on the way of restructuring of the non-core assets located in the Udmurt Republic, as well as in the Tver and Rostov regions.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>The Investment Committee</td>
                <td>
                    <strong>19 absentee meeting.</strong>
                    <br>Main issues:
                    <ul>
                        <li>approval of projected funding limits for 2018;</li>
                        <li>reallocation of limits between projects/transfer to subsequent periods in case of production needs;</li>
                        <li>initiating of new investment projects with further issue raising to Rosatom State Corporation Investment Committee in order to get approval of additional scope of funding;</li>
                        <li>closing of the implemented investment projects.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Budget committee within the management scope of JSC ASE EC</td>
                <td>
                    <strong>29 meetings, including 14 absentee meetings.</strong>
                    <br>Main issues:

                    <ul>
                        <li>work results of key companies within the scope of management JSC ASE EC for 2016;</li>
                        <li>budgets of key companies within the scope of management JSC ASE EC for 2017;</li>
                        <li>quarterly results of key companies within the scope of management JSC ASE EC for the year 2017;</li>
                        <li>increase in the limits of financing of the competitive procedure of JSC SSMU Lenatomenergostroy;</li>
                        <li>conclusion of agreements on assignment of claims (cession) to JSC Siberian “Orgstroyproekt”;</li>
                        <li>the targeted use of funds from the receipt of unremunerated contribution to the property of LLC Trest RosSEM and LLC SMU No. 1;</li>
                        <li>the first reading of key companies within the scope of management JSC ASE EC budgets for 2018.</li>
                    </ul>
                </td>
            </tr>
        </table>

        <br>
        <small>
            <strong>Table 1.8. Boards under the President of JSC ASE EC
                <span class="color_GOST">(GRI 102-22)</span>
            </strong>
        </small>
        <table class="  table table-borderless table-responsive">
            <tr>
                <th>Board</th>
                <th>Director</th>
                <th>Key issues reviewed in 2017</th>
            </tr>
            <tr>
                <td>Joint Board</td>
                <td>Senior Vice-President for Economy and Finance N.Podorov</td>
                <td>
                    <strong>28 meetings.</strong>
                    <br>Main issues:

                    <ul>
                        <li>commencement and maintenance of claims and lawsuits in the process of execution of contracts for supply of equipment and performance of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> and erection works;</li>
                        <li>provision of bank guarantees and security payments under supply contracts and <span class="block">
	<span class="hover">CEW</span>
	<span class="hidden">Construction and erection works</span>
</span>;</li>
                        <li>determination of financing sources;</li>
                        <li>coordination of the currency of subcontracts for DSW and equipment supply;</li>
                        <li>pre-payment when concluding subcontracts for <span class="block">
	<span class="hover">CEW</span>
	<span class="hidden">Construction and erection works</span>
</span>;</li>
                        <li>settlement of pricing issues and payment procedure when performing <span class="block">
	<span class="hover">CEW</span>
	<span class="hidden">Construction and erection works</span>
</span> on <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> sites;</li>
                        <li>settlement of issues when conducting tender procedures;</li>
                        <li>settlement of issues related to changes in staffing and organizational structure in the central office and branches.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Project management Board</td>
                <td>Senior Vice-President for Russian Projects Management S.Olontsev</td>
                <td>
                    <strong>Main issues:</strong>
                    <ul>
                        <li>confirmation of the conformity of JSC ASE EC project management system to the requirements of the International Association for Project Management <span class="block">
	<span class="hover">IPMA</span>
	<span class="hidden">Enhancing the efficiency of the Company’s project performance in accordance with the best international practices in the field of project management. Confirmation of the company competence in the field of project management on the international level.</span>
</span></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>ASE Group of companies development Board</td>
                <td>Senior Vice-President for Development I.Borisov</td>
                <td>
                    <strong>28 meetings.</strong>
                    <br>Main issues: 

                    <ul>
                        <li>the need for specialists with foreign experience and knowledge of the English language, the definition of required knowledge, skills and abilities in the specializations of designers;</li>
                        <li>preparation of the forecast of the total number of personnel responsible for the performance of <span class="block">
	<span class="hover">CEW</span>
	<span class="hidden">Construction and erection works</span>
</span> based on the developed target business model of the Division;</li>
                        <li>development of the schedule for the creation of information models and the information model standard;</li>
                        <li>identification of projects analogues for each project in the Division’s portfolio;</li>
                        <li>development of basic <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> configuration management methods;</li>
                        <li>development of quality management methodology using quality gates;</li>
                        <li>development of conceptual architecture of the digital industry platform for lifecycle management of capital facilities.</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    
    <div class="mt-5">
        <div id="under">
            <strong>1.6.3. Corporate Governance System of JSC ASE
                <span class="color_GOST"> (GRI 102-18, 102-19, 102-22, 102-23)</span>
            </strong>
        </div>

        <img src="/img/system_aoEn.jpg" class="mt-5" style="width: 100%;">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                For monthly assessment of top managers' effectiveness. the assessment system of operative performance indicators is applied.
                <br><br>The KPI system is applied as an annual effectiveness assessment (the KPI system is specified in detail in section «<a href="/human_capital">Human capital</a>»).
                <br><br>For assessment the effectiveness over a year period, the design and strategic bonus award with the relevant indicators is applied.
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                Report of JSC ASE Board of Directors about the performance results see in <a href="../../appendixEn/10.pdf" target="_blank">Appendix 10</a> of the Book of Appendices.
                <br><br>The information about major transaction and transactions with interest can be found in <a href="../../appendixEn/11.pdf" target="_blank">Appendix 11</a> of the Book of Appendices.
                <br><br>* Biography of BoD members is given in <a href="../../appendixEn/9.pdf" target="_blank">Appendix 9</a>.
            </div>
        </div>
    </div>

    <br>
    <div>
        <h4><strong>In 2017 JSC ASE as the sole executive body took decisions on the following issues:</strong></h4>
        
        <ul class="mt-4">
            <li>approval of JSC ASE Articles of Association in new revision No.10;</li>
            <li>election of the Board of Directors of JSC ASE;</li>
            <li>transfer of powers of the sole executive body of JSC ASE to the managing company;</li>
            <li>approval of JSC ASE Articles of Association in new revision No.11;</li>
            <li>the distribution of JSC ASE profit (including payment of dividends) following the results of 2016 financial year;</li>
            <li>approval of JSC ASE Articles of Association in new revision No.12;</li>
            <li>approval of the concluded major transaction;</li>
            <li>consent to a major transaction.</li>
        </ul>

        <h4 class="mt-4"><strong>In 2017 JSC ASE Board of Directors held 34 meetings where the decisions on the following issues were taken:</strong></h4>
        
        <ul class="mt-4">
            <li>approval of JSC ASE budget for 2017; </li>
            <li>the offer to the sole shareholder of JSC ASE to take a decision on transfer of powers of the sole executive body of JSC ASE to the Managing company – JSC ASE EC, on approval of the terms of the agreement on delegation of authority of sole executive body of JSC ASE No. 7763/171268 between JSC ASE EC and JSC ASE;</li>
            <li>approval of JSC ASE annual report for 2016 and JSC ASE annual accounting (financial) reporting for the results of 2016;</li>
            <li>recommendations on profit distribution, including according to the amount of dividend on JSC ASE shares, and its payment procedure (following the results of the financial year of 2016);</li>
            <li>approval of JSC ASE auditor for 2017 and determination of his services remuneration;</li>
            <li>termination of JSC ASE participation in the Self-regulating organization of Association “Association of organizations conducting <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, modernization, overhaul of nuclear facilities “SOYUZATOMSTROY”; </li>
            <li>participation of JSC ASE in Association “Self-regulating regional industrial association of employers “Association of Nizhny Novgorod builders”;</li>
            <li>termination of JSC ASE participation in CJSC METSAMORENERGOATOM;</li>
            <li>approval of the List of charity initiatives of JSC ASE for 2017;</li>
            <li>the change in the share of JSC ASE participation in the charter capital of JSC ASE EC by purchasing from the Joint-Stock Company “Nuclear power generation complex” ordinary registered uncertificated shares of JSC ASE;</li>
            <li>participation of JSC ASE in the charter capital of Joint Stock Company “Power Technologies Research and Development Design Institute ATOMPROEKT” by purchasing from Joint Stock Company “Nuclear power generation complex” ordinary registered uncertificated shares of Joint Stock Company “Power Technologies Research and Development Design Institute ATOMPROEKT”;</li>
            <li>participation of JSC ASE in the charter capital of Public Joint Stock Company “Energospezmontazh” by purchasing from Joint Stock Company “Nuclear power generation complex” ordinary registered uncertificated shares of PJSC “Energospezmontazh”;</li>
            <li>determination of the price of major transactions, on approval of conclusions on major transactions, on the offer to the sole shareholder to approve a major transaction concluded / take a decision on the consent to a major transaction; </li>
            <li>consent to make transactions by the Company in cases stipulated by the Company’s Articles of Association.</li>
        </ul>

        <br>
        <h4><strong>Information about JSC ASE registrar</strong></h4>

        <ul class="mt-4">
            <li>Joint Stock Company “Registrar company “STATUS”. </li>
            <li>109544, Moscow, Novorogozhskaya str. 32, bldg.1 .</li>
            <li>TIN 7707179242, PSRN 1027700003924.</li>
            <li>Phone number: + 7 (495) 974-83-50. Fax: + 7 (495) 678-71-10. </li>
            <li>License №10-000-1-00304 dd. 12.03.2004 for acting as registrar.</li>
            <li>The legal form is a non-public stock Company.</li>
        </ul>
        
        <p class="text-focus">JSC ASE placed registered ordinary shares with the nominal cost of 10 90/91 RUR each in the amount of 31,854,080 pieces for a total amount at a nominal value of 350,044,835 15/91 RUR. Privileged shares have not been placed. The shares are out of public trading, their current market value has not been defined.</p>
        
        <br>
        <small>
            <strong>Paid-out dividends, mln RUR</strong>
        </small>
        <table class="table table-borderless table-responsive textCenter">
            <tr>
                <th rowspan="2">Company</th>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
            </tr>
            <tr>
                <th>planned</th>
                <th>fact</th>
            </tr>
            <tr>
                <td>JSC ASE</td>
                <td>-</td>
                <td>-</td>
                <td>4000</td>
                <td>4000</td>
            </tr>
        </table>
    </div>

    <div class="mt-5">
        <div id="under">
            <strong>1.6.4. JSC Atomenergoproekt Corporate Governance System
                <span class="color_GOST">(GRI 102-18, 102-19, 102-22, 102-23)</span>
            </strong>
        </div>

        <img src="/img/system_atomEn.jpg" class="mt-5" style="width: 100%;">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                For monthly assessment of top managers' effectiveness. the assessment system of operative performance indicators is applied.
                <br><br>The KPI system is applied as an annual effectiveness assessment (the KPI system is specified in detail in section «<a href="/human_capital">Human capital</a>»).
                <br><br>For assessment the effectiveness over a year period, the design and strategic bonus award with the relevant indicators is applied.
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                JSC Atomenergoproekt BoD Report about the results of performance is provided in <a href="../../appendixEn/10.pdf" target="_blank">Appendix 10</a> of the Book of Appendices.
                <br><br>Information about major transaction and transactions with interest can be found in <a href="../../appendixEn/11.pdf" target="_blank">Appendix 11</a> of the Book of Appendices.
                <br><br>* Biography of BoD members is given in <a href="../../appendixEn/9.pdf" target="_blank">Appendix 9</a>.
            </div>
        </div>
    </div>

    <br>
    <div>
        <h4><strong>Important resolutions of the general meeting of shareholders:</strong></h4>
        
        <ul class="mt-4">
            <li>Approval of JSC Atomenergoproekt Articles of Association in new revision;</li>
            <li>Early termination of rights/election of JSC Atomenergoproekt <span class="block">
	<span class="hover">BoD</span>
	<span class="hidden">Board of Directors</span>
</span> members.</li>
        </ul>

        <h4><strong>Important resolutions of the Board of Directors:</strong></h4>
        
        <ul class="mt-4">
            <li>Liquidation of the Volgograd Design Branch of JSC Atomenergoproekt;</li>
            <li>JSC Atomenergoproekt participation in the JSC ASE EC charter capital by purchasing a common registered uncertified share from JSC Atomenergoprom;</li>
            <li>Approval of the JSC Atomenergoproekt – JSC ASE agreement on paying of an unremunerated contribution to the joint-stock company property and agreement on commitment of this major transaction.</li>
        </ul>

        <p class="text-focus">JSC Atomenergoproekt legal form of corporation is a is a non-public Joint Stock Company.</p>
        
        <h4><strong>Information about JSC Atomenergoproekt registrar</strong></h4>

        <ul class="mt-4">
            <li>The register of JSC Atomenergoproekt registered stock owners is kept by JSC R.O.S.T. Registrar.</li>
            <li>Location: 107996, Moscow, Stromynka Str., 18, bld. 13.</li>
            <li>Mailing address: 107996, Moscow, Stromynka Str., 18, mail box 9.</li>
            <li>TIN 7726030449, PSRN 1027739216757.</li>
            <li>Tel./fax: +7 (495) 771-73-36.</li>
            <li>The license for register keeping performance No. 045-13976-000001 dd. 03.12.2002 is issued by the Federal Stock Market Committee.</li>
            <li>JSC Atomenergoproekt has floated the common registered uncertified shares of 1 (one) RUR each at par in the amount of 1,547,504,159 shares for the total value of 1,547,504,159 RUR at par. Privileged shares have not been floated. The shares are out of public trading, their current market value has not been specified.</li>
        </ul>

        <br>
        <small>
            <strong>Paid-out dividends, mln RUR</strong>
        </small>
        <table class="table table-borderless table-responsive textCenter">
            <tr>
                <th rowspan="2">Company</th>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
            </tr>
            <tr>
                <th>planned</th>
                <th>fact</th>
            </tr>
            <tr>
                <td>JSC Atomenergoproekt</td>
                <td>-</td>
                <td>6.61</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </table>
    </div>

    <div class="mt-5">
        <div id="under">
            <strong>1.6.5. JSC ATOMPROEKT Corporate Governance System
                <span class="color_GOST">(GRI 102-18, 102-19, 102-22, 102-23)</span>
            </strong>
        </div>
        
        <img src="/img/system_atom_projectEn.jpg" class="mt-5" style="width: 100%;">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                For monthly assessment of top managers' effectiveness. the assessment system of operative performance indicators is applied.
                <br><br>The KPI system is applied as an annual effectiveness assessment (the KPI system is specified in detail in section «<a href="/human_capital">Human capital</a>»).
                <br><br>For assessment the effectiveness over a year period, the design and strategic bonus award with the relevant indicators is applied.
                <br><br>Corporate Governance information in JSC NIKIMT-Atomstroy, Trest RosSEM Ltd, JSC Energospezmontazh are cited in <a href="../../appendixEn/9.pdf" target="_blank">Appendix 9</a> of the Book of Appendices.
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                JSC Atomproekt BoD Report about the results of performance is provided in <a href="../../appendixEn/10.pdf" target="_blank">Appendix 10</a> of the Book of Appendices.
                <br><br>Information about major transaction and transactions with interest can be found in <a href="../../appendixEn/11.pdf" target="_blank">Appendix 11</a> of the Book of Appendices.
                <br><br>** Biography of BoD members is given in <a href="../../appendixEn/9.pdf" target="_blank">Appendix 9</a>.
            </div>
        </div>

        <p class="mt-4">* Before 27.12.2017, the supreme corporate body of JSC ATOMPROEKT was the shareholders’ general meeting acting through the sole shareholder – JSC Atomenergoprom, that owned 100% of JSC ATOMPROEKT shares.  On 27.12.2017, 100% of JSC ATOMPROEKT shares were transferred by the latter on the basis of the Sale agreement dd. 27.12.2017 in favour of JSC ASE and JSC ASE EC.  Proceeding from the above-said, resolutions of JSC ATOMPROEKT supreme corporate body were taken in 2017 by the JSC ATOMPROEKT sole shareholder – JSC ATOMENERGOPROM and issued as sole shareholder’s resolutions. No general shareholders’ meetings of JSC ATOMPROEKT were held after 27.12.2017.</p>
    </div>

    <br>
    <div>
        <h4><strong>JSC ATOMPROEKT 22 sole shareholder’s meetings were held within 2017, that took decisions in the following areas:
</strong></h4>

        <ul class="mt-4">
            <li>JSC ATOMPROEKT Articles of Association were approved in the new revision (sole shareholder’s decision No. 237 dd. 22.11.2017);</li>
            <li>JSC ATOMPROEKT Board of Directors was established and its members were elected (sole shareholder’s decision No. 237 dd. 22.11.2017);</li>
            <li>Early resignation/ election of JSC ATOMPROEKT Board of Director’s members (sole shareholder’s decision No. 238 dd. 26.12.2017) (Borisov I.A., Senior Vice-President for development of JSC ASE EC resigned from, and Shafalovich N.B, Director for JSC ASE EC HR and organization development was admitted to the <span class="block">
	<span class="hover">BoD</span>
	<span class="hidden">Board of Directors</span>
</span>);</li>
            <li>Distribution of profits, payout of dividends (announcement) by the results of 2016 Following the results of JSC ATOMPROEKT financial and economic performance over 2016, it was decided to pass and omit the JSC ATOMPROEKT share dividends in 2016.</li>
        </ul>

        <small>
            <strong>Paid-out dividends, mln RUR</strong>
        </small>
        <table class="table table-borderless table-responsive textCenter">
            <tr>
                <th rowspan="2">Company</th>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
            </tr>
            <tr>
                <th>planned</th>
                <th>fact</th>
            </tr>
            <tr>
                <td>JSC ATOMPROEKT</td>
                <td>2 067.35</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </table>
    </div>

    <br>
    <div>
        <h4><strong>Information about JSC ATOMPROEKT registrar</strong></h4>

        <ul class="mt-4">
            <li>The register of JSC ATOMPROEKT registered stock owners is kept by JSC R.O.S.T. Registrar. Title: Joint Stock Company R.O.S.T. Registrar.</li>
            <li>Legal address: Moscow, Stromynka Str., 18, bld. 13. Mailing address: 107996, Moscow, Stromynka Str., 18, mail box 9.</li>
            <li>TIN 7726030449, PSRN 1027739216757.</li>
            <li>Tel./fax: +7 (495) 771-73-36.</li>
            <li>The license for register keeping performance No. 10-000-1-00264 dd. 03.12.2002 is issued by the Federal Stock Market Committee.</li>
            <li>JSC ATOMPROEKT form of ownership is private property. </li>
            <li>The legal form is a closely-held stock Company.</li>
            <li>The general amount of shares is 1,233,576,578 items, the amount and nominal cost of common shares is 1,233,576,578 shares at the cost of 1,233,576,578 RUR. It has no privileged actions. There are no restrictions as to the sale of shares, shares are not circulated at on-exchange trading.</li>
        </ul>
    </div>

    <br>
    <div>
        <div id="under">
            <strong>1.6.6. Control of Financial and Economic Performance and Anti-corruption Policy</strong>
        </div>
        <p class="text-focus mt-4">JSC ASE EC accounting department and Internal Control and Audit Service operate in the system of financial and economic activities of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> division as inspecting agencies. 
        <br>There are no revision committees in JSC ASE EC, JSC ASE, Atomenergoproekt JSC, ATOMPROEKT JSC.</p>

        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <h4 class="mt-4 mb-3"><strong>Internal Control and Auditing System</strong></h4>
                <br><strong>2017 key results:</strong>

                <ul class="mt-4">
                    <li>The process of separation of internal control, internal audit and functions in the area of competitive policy control has been completed. The Division’s Arbitration Committee has been established. Departments’ employees have been trained.</li>
                    <li>New practices of the internal audit of the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> project management system are implemented that allow reducing the time of audits and simultaneously enhancing their efficiency, relevance and frequency with significant increase of the number of projects implemented in the Division.</li>
                    <li>The amount of expert analytical measures have increased by 22% (due to the Division Management’s growing need in internal consulting including independent and objective opinions regarding separate economic aspects, making independent opinions about how to improve the performance).</li>
                    <li>Audits of business process “Record of transactions related to acquisition and rendering of works and services”, “Making changes in the design estimates and detailed <span class="block">
	<span class="hover">design documentation</span>
	<span class="hidden">Documentation containing materials in textual form and in maps (diagrams) determining the architectural, functional, process, structural, engineering and technical solutions to ensure <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> facilities, their parts, capital refurbishment if during such refurbishment structural and other properties of reliability and safety of capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> are affected.</span>
</span>” as part of Belarus and Rostov <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> projects, Procedures for non-conformance control during the main performance, TOP-100 <span class="block">
	<span class="hover">KPI</span>
	<span class="hidden">Key Performance Indicator</span>
</span> and the process of development of the public annual report.</li>
                    <li>The time of checking of procurement procedures publication (<span class="block">
	<span class="hover">RPS</span>
	<span class="hidden">Rosatom Production System</span>
</span>-project “Checking of procurement procedures publication at UIS for placing orders and procurement of goods, works and services for Rosatom State Corporation needs” is implemented) reduced sixfold.</li>
                </ul>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="mt-4 headerPage blockLineLeftTxt">
                    Yury Degtyarev, employee of the Internal Control and Audit Service has won the “Person of the year” competition organized by Rosatom State Corporation, in the “Internal control and audit” nomination.
                    <img src="/img/дегтярев.jpg" style="width: 100%;">
                </div>
            </div>
        </div>

        <br>
        <div>
            <small>
                <strong>Amount of inspecting measures</strong>
            </small>
            <div class="row revealator-slideup revealator-once">
                <div class="col-lg-7 col-md-7 col-sm-12" id="ChartAEn" style="height: 300px;"></div>
            </div>
            <br>
            <small>
                <strong>Follow-up of corrective measures</strong>
            </small>
            <div class="row revealator-slideup revealator-once">
                <div class="col-lg-7 col-md-7 col-sm-12" id="ChartBEn" style="height: 300px;"></div>
            </div>

            <br>
            <small>
                <strong>Table 1.7. Amount of officials subject to disciplinary measure </strong>
            </small>
            <table class="centerCol table table-borderless table-responsive-sm">
                <tr>
                    <th>Company</th>
                    <th>2015</th>
                    <th>2016</th>
                    <th>2017</th>
                    <th>∆ 2017 /2016 %</th>
                </tr>
                <tr>
                    <td>JSC ASE</td>
                    <td>7</td>
                    <td>11</td>
                    <td>0</td>
                    <td>-100</td>
                </tr>
                <tr>
                    <td>JSC ASE EC</td>
                    <td>37</td>
                    <td>56</td>
                    <td>7</td>
                    <td>-88</td>
                </tr>
                <tr>
                    <td>JSC Atomenergoproekt</td>
                    <td>0</td>
                    <td>3</td>
                    <td>2</td>
                    <td>-33</td>
                </tr>
                <tr>
                    <td>JSC ATOMPROEKT</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>LLC Trest RosSEM </td>
                    <td>0</td>
                    <td>13</td>
                    <td>4</td>
                    <td>-69</td>
                </tr>
                <tr>
                    <td>LLC SMU-1</td>
                    <td>2</td>
                    <td>0</td>
                    <td>0</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>JSC NIKIMT-Atomstroy</td>
                    <td>0</td>
                    <td>6</td>
                    <td>2</td>
                    <td>-67</td>
                </tr>
                <tr>
                    <td>PJSC Energospezmontazh</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2</td>
                    <td>100</td>
                </tr>
                <tr>
                    <th>Total in the <span class="block">
<span class="hover">Engineering</span>
<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> division</th>
                    <th>46</th>
                    <th>89</th>
                    <th>17</th>
                    <th>-81</th>
                </tr>
            </table>

            <br><p>In other companies within the scope of management of the Division, officials were not brought to disciplinary responsibility.</p>

            <br>
            <small>
                <strong>Table 1.8. Number of inspections of procurement measures</strong>
            </small>
            <table class="centerCol table table-borderless table-responsive">
                <tr>
                    <th>Company</th>
                    <th>2015</th>
                    <th>2016</th>
                    <th>2017 planned</th>
                    <th>2017 fact</th>
                    <th>∆ 2017 /2016, %</th>
                </tr>
                <tr>
                    <td>JSC ASE</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>4</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>JSC ASE EC</td>
                    <td>6</td>
                    <td>2</td>
                    <td>4</td>
                    <td>8</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>JSC Atomenergoproekt</td>
                    <td>0</td>
                    <td>3</td>
                    <td>2</td>
                    <td>4</td>
                    <td>33</td>
                </tr>
                <tr>
                    <td>JSC ATOMPROEKT</td>
                    <td>0</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                    <td>-66</td>
                </tr>
                <tr>
                    <td>LLC SMU-1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>2</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>LLC VDMU</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>LLC Trest RosSEM</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>2</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>JSC NIKIMT-Atomstroy</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>PJSC Energospezmontazh</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th>Total in the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> division</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>25</th>
                    <th>92</th>
                </tr>
            </table>

            <br>
            <h4><strong>Anti-corruption</strong></h4>
            
            <p class="mt-4">
                <span class="color_GOST">(GRI 102-17)</span> The Division employs the “Unified Industrial procedure of checking notifications about corruption and other legal offences arriving at the hotline and through other channels of Rosatom State Corporation”. Notifications about the quality of products supplied to nuclear facilities (works and services) are received and checked accordingly.</p>
            <p class="text-focus">
                <strong>In 2017, no corruption cases were revealed in the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division.</strong>
            </p>
            <p>The employees are aware of the possibility to inform publicly or anonymously of the facts of corruption via “Hot Line” channels of specialized communication or through electronic mail to the address of JSC ASE EC asset security subdivision, as well as in writing through the “Confidence Boxes” located in central offices, branch offices and representative offices of organizations. Any employee as well as representative of another organization has the possibility to provide any information about corruption, namely:</p>

            <ul class="mt-4">
                <li>cases of employees being tempted to commit corruption legal offences;</li>
                <li>cases of corruption legal offences committed by other employees, agents of the organizations or other persons;</li>
                <li>the employee’s conflict of interests that has arisen or is likely to arise.</li>
            </ul>

            <p>Methods of risk assessment related to corruption include definition of specific business-processes and business operations in the the Company’s structural units where the probability that the employees may commit corruption legal offences both for the personal or organization’s interest, is the highest.</p>

            <h4 class="mt-4"><strong>Corruption risks are assessed as follows:</strong></h4>
            
            <ul class="mt-4">
                <li>Business processes specifying critical business process check points performed by structural divisions and/or organization are determined (identified, specified and regulated);</li>
                <li>For each critical point, a description of possible corruption legal offences is made that includes:

                    <ul>
                        <li>characteristics of profits or benefits that may be obtained by an organization or its individual employees owing to the committed corruption offence,</li>
                        <li>key positions,</li>
                        <li>possible forms of corruption payments and (or) other benefits and advantages that may stir or satisfy any lucrative or other interest of business process participants.</li>
                    </ul>
                </li>
            </ul>

            <h4 class="mt-4"><strong>Based on the performed analysis:</strong></h4>

            <ul class="mt-4">
                <li>A map of corruption risks of organization is compiled that becomes an integral attachment to regulating and methodical documents or respective business-processes;</li>
                <li>The map specifies key positions, special anti-corruption procedures and requirements are established in respect of the employees taking these positions (for example, regular submission of the income declaration).</li>
            </ul>

            <p>Following the results of the works, a complex of measures to eliminate or minimize corruption risks is developed.</p>
            <p>According to the analisys we reveal conflicts in due time during operational performance of the company.</p>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="/js/echarts.min.js"></script>
    <script src="/js/chartsCOrpGovEn.js"></script> 

    <script src="/js/fm.revealator.jquery.min.js"></script>
{% endblock %}