{% extends "en/templates/page.html" %}

{% block link %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Table of Contents /</small></a></li>
    <li><a href="#"><small>CHAPTER 1 /</small></a></li>
    <li class="active"><small><strong>1.4.</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/1.4.jpg);
    background-position-y: 25%;
{% endblock %}

{% block  titleText %}
    1.4. Digital Transformation of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division
{% endblock %}

{% block  subtitleText %}
{% endblock %}

{% block content %}
    <div id="under"><strong>1.4.1. Digital Transformation Program</strong></div>

    <div class="row mt-4">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <p>In April 2017, resolution of President of RF approved the composition of the working group of the Economic Council of President of RF for “<span class="block">
                    <span class="hover">Digital Economy</span>
                    <span class="hidden">
                        Economy based on new methods of generation, collection, processing, storage, analysis and transfer of data and new digital technologies:
                            <br>&ndash; Robot technology.
                            <br>&ndash; Cyber physical systems.
                            <br>&ndash; Industrial Internet of things.
                            <br>&ndash; Communication networks of 5th generation.
                            <br>&ndash; Additive technologies.
                            <br>&ndash; Cognitive technologies.
                            <br>&ndash; Artificial intelligence.
                            <br>&ndash; Machine learning.
                            <br>&ndash; Big Data.
                            <br>&ndash; Block chain.
                            <br>&ndash; Multimachine systems.
                    </span>
                </span>” area.</p>
            <p>In July 2017, the Government of the RF approved federal program “<span class="block">
                    <span class="hover">Digital Economy</span>
                    <span class="hidden">
                        Economy based on new methods of generation, collection, processing, storage, analysis and transfer of data and new digital technologies:
                            <br>&ndash; Robot technology.
                            <br>&ndash; Cyber physical systems.
                            <br>&ndash; Industrial Internet of things.
                            <br>&ndash; Communication networks of 5th generation.
                            <br>&ndash; Additive technologies.
                            <br>&ndash; Cognitive technologies.
                            <br>&ndash; Artificial intelligence.
                            <br>&ndash; Machine learning.
                            <br>&ndash; Big Data.
                            <br>&ndash; Block chain.
                            <br>&ndash; Multimachine systems.
                    </span>
                </span> of the Russian Federation” that is aimed, among other things, at digital transformation of the real sector of economy – Industry 4.0. In fact, such goal is already being implemented by the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division of Rosatom State Corporation, and the virtual prototypes of industrial and infrastructural facilities are an efficient tool for reaching the set goals.</p>
            <p>In December 2017, the Government of RF approved road maps for the four main directions of program “<span class="block">
                    <span class="hover">Digital Economy</span>
                    <span class="hidden">
                        Economy based on new methods of generation, collection, processing, storage, analysis and transfer of data and new digital technologies:
                            <br>&ndash; Robot technology.
                            <br>&ndash; Cyber physical systems.
                            <br>&ndash; Industrial Internet of things.
                            <br>&ndash; Communication networks of 5th generation.
                            <br>&ndash; Additive technologies.
                            <br>&ndash; Cognitive technologies.
                            <br>&ndash; Artificial intelligence.
                            <br>&ndash; Machine learning.
                            <br>&ndash; Big Data.
                            <br>&ndash; Block chain.
                            <br>&ndash; Multimachine systems.
                    </span>
                </span> of RF” including the Plan of measures for “Development of research competences and <span class="block">
	<span class="hover">Eengineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> capacities”.</p> 
            <p>In June 2017, Rosatom State Corporation, represented by JSC ASE EC, became a member of center of competences for <span class="block">
                    <span class="hover">digital economy</span>
                    <span class="hidden">
                        Economy based on new methods of generation, collection, processing, storage, analysis and transfer of data and new digital technologies:
                            <br>&ndash; Robot technology.
                            <br>&ndash; Cyber physical systems.
                            <br>&ndash; Industrial Internet of things.
                            <br>&ndash; Communication networks of 5th generation.
                            <br>&ndash; Additive technologies.
                            <br>&ndash; Cognitive technologies.
                            <br>&ndash; Artificial intelligence.
                            <br>&ndash; Machine learning.
                            <br>&ndash; Big Data.
                            <br>&ndash; Block chain.
                            <br>&ndash; Multimachine systems.
                    </span>
                </span> of the Government of the RF. JSC ASE EC also became the representative of Building Smart alliance in Russia. A digital laboratory was formed in the Company.</p>
            <p class="text-focus mt-5">In June 2017, agreements were signed that will facilitate the development of the Company’s competences in the field of digital transformation.</p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            
            <ul class="headerPage ulPosLeft blockLineLeft mt-4">
                <strong>Partners of JSC ASE EC in digitalization:</strong>
                
                <li class="mt-4">RFNC-VNIIEF;</li> 
                <li>Moscow School of Management SKOLKOVO;</li>
                <li>Center for Strategic Research “North-West”;</li>
                <li>NRNU MEPhI (Higher School of <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span>);</li>
                <li>Dassault Systems;</li>
                <li>Autodesk</li> 
                <li>IBM</li>
                <li>SAP</li>
                <li>Hilti Russia;</li> 
                <li>BIM-association</li>
                <li>AssystemSA and other.</li>
            </ul>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <p>1. Agreement on establishment of Digital Transformation Center on the basis of Moscow School of Management SKOLKOVO, jointly with Center for Strategic Research “North-West”, in which JSC ASE EC performs the role of the <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> partner and provides its digital transition expertise to large and medium-size industrial companies. </p>
            <p>The programs of the Center contribute to transformation of businesses due to introduction of state-of-the-art <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> technologies under the condition of new industrial revolution, and are aimed at entry on new high profit markets. The tasks resolved within the framework of the programs of the Center: Transformation of business-model of companies, transformation of organizational model and structure, reducing the time of development of new products and their placement on the market.</p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <ul class="headerPage blockLineLeft">
                <strong>Digital platform of complex capital facilities life cycle management, means:</strong>
                
                <li class="mt-4"> reducing the cost and time period of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of complex <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> facilities;</li>
                <li>optimization of civil and erection works, detailed planning of the sequence of working operations;</li>
                <li>saving up to 10% of the project budget;</li>
                <li>unified web-orientated space for management of capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> facilities;</li>
                <li>compliance with the best trends in the field of digital assets and project management;</li>
                <li>compliance with BIM 4.0 approaches;</li>
                <li>partnership with the leading Russian <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities.</span>
</span> company.</li>
            </ul>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <p>2. Agreement on establishment of Higher School of <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities.</span>
</span> (HSE) of National Research Nuclear University (NRNU) MEPhI for training engineers for the digital future, creation of testing areas for new solutions for digital business. HSE Partners – IBM, Mail.RU, Dassault Systèmes, Autodesk, Siemens, etc.</p>
            <p>In September 2017, the project of pilot master course “Engineers of the Digital Future” was launched, with 5 teams of 4 students each, who are trained various professions (designers, physicists-calculators, system engineers) and resolve the practical tasks of the Company jointly with employees of JSC ASE EC. Training fields: System <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities.</span>
</span>, Digital platforms, Data Science, Machine learning, BIM, etc.</p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12"></div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <p>The <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities.</span>
</span> Division proceeded to implementation of a comprehensive technological transformation program aimed at sustainable development in terms of <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities.</span>
</span> digital technologies and increase of interaction efficiency on <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> in different countries.</p>
            <p>The most important aspect of this transformation is creation of Rosatom State Corporation standards in terms of generation of information models and Building Information Modeling (BIM) processes. A team for BIM practical implementation for El-Dabaa <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> project has been established. </p>
            <p>In 2017 preparatory works and test studies using advanced information tools have been done – Comprehensive information models for Hanhikivi-1 <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> projects and conceptual models of the operation stage on the example of Leningrad <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>-2 safety building have been made.</p> 
            <p>A complex of <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> works on the optimization of design solutions aimed at reduction of the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> owning cost for Hanhikivi-1 <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> and Paks II <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> projects is performed. </p>
            <p>The Events plan of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities.</span>
</span> Division ensures the Division readiness to fulfill in full scope within the limited period the portfolio of orders meeting the internal and external challenges (Transformation program). </p>
            <p>The works on information (digital) <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> models and BIM have been launched, including design solutions, resource plans, economic project parameters, technical solutions, configuration, change and requirements management tools. </p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <ul class="headerPage blockLineLeft ulPosLeft">
                <strong>Objectives of the Digital Transformation Program:</strong>
                
                <li class="mt-4">to launch digital transformation projects;</li> 
                <li>to establish a team of digital transformation leaders (implementation time period is 2018–2020).</li>
                
                <br><strong>Projects within the Program:</strong> 
                
                <li class="mt-4">pilot project on creation of an industrial and technological digital platform for digital twins storage;</li>
                <li>pilot project on creation of an industrial and technological digital platform for <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> lifecycle management;</li>
                <li>pilot project on creation of an industrial and technological digital platform for capital facilities lifecycle management.</li>
                
                <br><strong>Expectations:</strong>
                
                <li class="mt-4"><span class="block">
	<span class="hover">Construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> technologies are integrated into a unified module platform;</li>
                <li>the technology of capital facilities digital twins generation is worked out.</li>
            </ul>
        </div>
    </div>

    <br><small><strong>Table 1.3. Priority directions of digital transformation</strong></small>
    <table class="table table-borderless table-responsive">
        <thead>
            <tr>
                <th><strong>Cost management <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span></strong></th>
                <th><strong>Purchases and supply</strong></th>
                <th><strong>Design</strong></th>
                <th><strong>Data management</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1. Implementation of the automated cost management system at all sites that operate using the input method.
                </td>
                <td>
                    1. Implementation of Milestone IPMS (SAP) in terms of digital procurements, supplies and quality.
                    <br><br>2. Development of electronic catalog up to Multi-D Market.
                    <br><br>3. Real-time connected suppliers (update of suppliers portal).
                    <br><br>4. Digital acceptance of equipment.
                </td>
                <td>
                    1. Digital modeling: information models of projects, process setting.
                    <br><br>2. Typification through functional groups.
                    <br><br>3. Generation of a digital as-build model.
                    <br><br>4. Launch at all projects of digital requirements and configuration management processes.
                </td>
                <td>
                    1. Data architecture in the Company.
                    <br><br>2. Digital project management.
                    <br><br>3. Implementation of information management system (IMS) at all projects.
                    <br><br>4. Implementation of digital analytics module for project managers.
                    <br><br>5. Data oriented comprehensive digital data management system.
                </td>
            </tr>
            <tr class="textCenter">
                <td><strong>Field <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span></strong></td>
                <td><strong>Operation</strong></td>
                <td><strong>Services</strong></td>
                <td><strong>Organizational infrastructure</strong></td>
            </tr>
            <tr>
                <td>
                    1.  Organization of a digital infrastructure of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> management (bar-coding, incoming inspection of equipment etc.)
                    <br><br>2. Digital headquarters.
                    <br><br>3. Digital weekly-daily tasks.
                    <br><br>4. Digital management of labor resources and mechanisms.
                    <br><br>5. Monitoring of the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> status using VR/AR technologies.
                </td>
                <td>
                    1. Industrial implementation of the owing cost management module (OCMM).
                    <br><br>2. Log in EDF with ABB-Multi-D operations.
                    <br><br>3. Digital twins of equipment. Access to a “smart plant”.
                </td>
                <td>
                    1. Implementation of Milestone IPMS (SAP) in terms of corporate systems.
                    <br><br>2. Process digitalization and robotization (chatbots, ELMA).
                    <br><br>3. Improvement of quality and process progress.
                </td>
                <td>
                    1. Generation of educational and development eco-system.
                    <br><br>2. Infrastructure renewal to support digital transformation of the Division (data lakes, devices update, increase of speed and improvement of user-friendliness).
                    <br><br>3. Creation of the Company management new modules. Build-up of partnerships. Organization of ASE DIGITAL.  
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row mt-4">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <ul>
                <strong>The platform consists of:</strong>
                
                <li class="mt-4">IT platform,</li>
                <li class="mt-2">software based on IT-platforms,,</li>
                <li class="mt-2">tools created based on the software and technological interface management processes,</li>
                <li class="mt-2">structured and update data base.</li>
            </ul>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <p class="headerPage blockLineLeftTxt">Industrial and Technological Digital Platform – is the tool of production and management of complex <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> facilities digital information models at all lifecycle stages.
            <br><br>The objective of the Platform is the growth of the added value (for goods and services) within the framework of the <span class="block">
                    <span class="hover">digital economy</span>
                    <span class="hidden">
                        Economy based on new methods of generation, collection, processing, storage, analysis and transfer of data and new digital technologies:
                            <br>&ndash; Robot technology.
                            <br>&ndash; Cyber physical systems.
                            <br>&ndash; Industrial Internet of things.
                            <br>&ndash; Communication networks of 5th generation.
                            <br>&ndash; Additive technologies.
                            <br>&ndash; Cognitive technologies.
                            <br>&ndash; Artificial intelligence.
                            <br>&ndash; Machine learning.
                            <br>&ndash; Big Data.
                            <br>&ndash; Block chain.
                            <br>&ndash; Multimachine systems.
                    </span>
                </span> and cost reduction by means of modeling and optimization of design, <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> and managerial solutions; use of reference standard solutions; transfer of routine works to smart computer programs; reduction of production operations time period and minimization of mistakes/errors and reworks.</p>
        </div>
    </div>
 
    <div id="under" class="mt-5"><strong>1.4.2. Training and Professional Development of the Personnel under the Conditions of Digital Transition Demand</strong></div>    
    
    <p class="text-focus mt-5">300 employees of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division per year will be trained in 2018–2019</p>

    <div class="row mt-4">
        <div class="col-lg-5 col-md-5 col-sm-12">
            <ul class="headerPage blockLineRight">
            <strong>Key Requirements to a System engineer:</strong>
            
            <li class="mt-4">ability to design;</li>
            <li>knowledge in the field of nuclear physics and technology;</li> 
            <li>understanding the supply chain in the nuclear industry;</li> 
            <li>knowledge of the main suppliers of equipment;</li>
            <li>ability to develop detail <span class="block">
	<span class="hover">design documentation</span>
	<span class="hidden">Documentation containing materials in textual form and in maps (diagrams) determining the architectural, functional, process, structural, engineering and technical solutions to ensure <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> facilities, their parts, capital refurbishment if during such refurbishment structural and other properties of reliability and safety of capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> are affected.</span>
</span> and provide both remote design supervision and supervision at the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> site;</li>
            <li>having at least the intermediate level of English knowledge.</li>
            </ul>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12">
            <p>In 2017, with the participation of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division, projects were launched in Russia for development of professional standards of system engineer and BIM-designer. The training of a new-breed of skilled personnel is performed via project “Higher School of <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> of National Research Nuclear University MEPHI–ASE".</p>
            <p>
                Due to modern development of digital technologies, digital skills and knowledge in the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division, there is now a need in new professions that did not exist before:
                <ul>
                    <li>system engineers,</li>
                    <li>requirements engineers,</li>
                    <li>configuration managers.</li>
                </ul>
            </p>
            <p>Besides the training of students under the master’s course “Engineers for digital future”, in 2018–2019 it is planned to re-train the employees of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division.</p> 
            <p>Requirements to skills and knowledge in the field of digital model will be developed and established in 2018 for all the positions of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division design unit.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-0"></div>
        <div class="col-lg-7 col-md-7 col-sm-12">
            <h4 class="mt-4"><strong>New Forms of Training</strong></h4>
            
            <ul class="mt-4">
                <li>Network university – enlistment of courses of the best.</li>
                <li>Departments from different universities,</li>
                <li>Modular type of training.</li>
                <li>Courses based in a virtual platform, VR laboratory. </li>
                <li>Project based training in multi-professional groups.</li>
                <li>Testing ground for technologies testing.</li>
            </ul>
        </div>
    </div>
{% endblock %}