{% extends "en/templates/page.html" %}

{% block link %}
    <link rel="stylesheet" href="../css/division_strategy.css">
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Table of Contents /</small></a></li>
    <li><a href="#"><small>CHAPTER 1 /</small></a></li>
    <li class="active"><small><strong>1.1</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/1.1_division.jpg);
{% endblock %}

{% block  titleText %}
    1.1. Strategy of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division and <span class="block">
	<span class="hover">KPI</span>
	<span class="hidden">Key Performance Indicator</span>
</span> of its Implementation
{% endblock %}</h1>

{% block  subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-20">102-20</a></span>
            <span class="hidden-gri">Responsible executives on economic, environmental and social issues</span>
        </span>
    </li>
</ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div style="background-image: url(../img/борисов-бел.jpg); background-position-x: 36%;" class="col-lg-4 col-md-4 col-sm-12 bossPhoto"></div>
        <div class="col-lg-8 col-md-8 col-sm-12 interview">
            <h5>
                <strong>Ivan Borisov,
                    <br>Senior Vice-President
                    <br>for Development
                </strong>
            </h5>
            <br><strong>For the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division 2017 was marked by physical start-up of three <span class="block">
	<span class="hover">power units</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> and three “first concretes” for new <span class="block">
	<span class="hover">NPPs</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>. Therefore, the Russian nuclear industry has turned out to be a step ahead of its competitors. Thanks to what did the Division manage to achieve such results?</strong>
            <em class="directSpeech"><p class="mt-4">&#8211; The corporate value “A step ahead” is not just the words for us but a real target. The world is rapidly changing, digitalization is well underway, that’s why in order to successfully maintain leadership positions, it is necessary to regularly improve all production and management processes.</p>  
            <p>This is the reason why we set a course for standardization and typification of design solutions. It is important that our product – <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> project should be typified to a maximum extent but besides, be managed to meet all the requirements of the most sophisticated <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>. In fact, it shall be a universal constructor – for each <span class="block">customer
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span> we’ll be able to erect and install a set of elements required especially for him, and quickly adopt this project to a particular <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> site in a particular country. Works on the typification of applied design solutions started in 2017 and will be completed until the end of this year. </p>
            <p>Besides, in each project we improve the work with our suppliers and contractors – the size of Rosatom portfolio executed by the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division is growing from year to year and the number of partner countries is also increasing. Note that each region has its own market and business peculiarities to be considered. That’s why we are scrupulous about contractors selection: we generate the pool of global <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> companies that are ready to cooperate with us, and of course, we always strongly interact with <span class="block">
	<span class="hover">Local supplier</span>
	<span class="hidden">A supplier registered in the area of the facility location.</span>
</span>s and contractors – it is more profitable indeed to localize the implementation of the significant part of works. But there is a “cake” we are not ready to share with the partners – this is our anchor business, our key competence – <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of a “nuclear island”.</p>
            <p class="text-focus">To make a long story short, there are three factors that are important for success. The first one is our staff, a reliable team of professionals. The second – advanced project management technologies and application of digital tools. And finally, it is our experience of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> in different countries: as for the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> abroad – we are unrivalled leaders. </p>
            <p>By the way, I would like to add that in 2018 we expect one more physical start-up and connection to the grid of <span class="block">
	<span class="hover">power unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No.4 of Tianwan <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> in China and two more “first concrete” pouring – at the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> site of unit No.1 and No.2 of Kursk <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>-2.</p></em>

            <br><strong>What are strategic growth priorities of the Division in the short and mid term? Which place will the digital transformation hold in the Company’s strategy for the nearest years?</strong>
            <em class="directSpeech"><p class="mt-4">&#8211; ASE Group of Companies had got into gear in terms of the digital technologies long before the state drew attention to this problem. It can be said that the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division was at the source of the development of “<span class="block">
                    <span class="hover">digital economy</span>
                    <span class="hidden">
                        Economy based on new methods of generation, collection, processing, storage, analysis and transfer of data and new digital technologies:
                            <br>&ndash; Robot technology.
                            <br>&ndash; Cyber physical systems.
                            <br>&ndash; Industrial Internet of things.
                            <br>&ndash; Communication networks of 5th generation.
                            <br>&ndash; Additive technologies.
                            <br>&ndash; Cognitive technologies.
                            <br>&ndash; Artificial intelligence.
                            <br>&ndash; Machine learning.
                            <br>&ndash; Big Data.
                            <br>&ndash; Block chain.
                            <br>&ndash; Multimachine systems.
                    </span>
                </span> of the Russian Federation” government program, and in some areas was even the initiator of the promotion of new production technologies and process groundworks. After the <span class="block">
                    <span class="hover">digital economy</span>
                    <span class="hidden">
                        Economy based on new methods of generation, collection, processing, storage, analysis and transfer of data and new digital technologies:
                            <br>&ndash; Robot technology.
                            <br>&ndash; Cyber physical systems.
                            <br>&ndash; Industrial Internet of things.
                            <br>&ndash; Communication networks of 5th generation.
                            <br>&ndash; Additive technologies.
                            <br>&ndash; Cognitive technologies.
                            <br>&ndash; Artificial intelligence.
                            <br>&ndash; Machine learning.
                            <br>&ndash; Big Data.
                            <br>&ndash; Block chain.
                            <br>&ndash; Multimachine systems.
                    </span>
                </span> program had been approved by the Government we together with other Rosatom enterprises were actively engaged to its implementation. For these purposes we had to form within JSC ASE EC the whole structural subdivisions responsible for digital transformation of our Company and implementation of digital development in other sectors of the economy. As for our digitalization partners, this list is broad: These are regional and federal executive authorities, business and business societies’ representatives, educational institutions, international associations – as a whole – over hundred of key partners.</p>
            <p class="text-focus">All together we are not only working upon the development of digital technologies in the Division but creating the institutional environment for functioning of the <span class="block">
                    <span class="hover">digital economy</span>
                    <span class="hidden">
                        Economy based on new methods of generation, collection, processing, storage, analysis and transfer of data and new digital technologies:
                            <br>&ndash; Robot technology.
                            <br>&ndash; Cyber physical systems.
                            <br>&ndash; Industrial Internet of things.
                            <br>&ndash; Communication networks of 5th generation.
                            <br>&ndash; Additive technologies.
                            <br>&ndash; Cognitive technologies.
                            <br>&ndash; Artificial intelligence.
                            <br>&ndash; Machine learning.
                            <br>&ndash; Big Data.
                            <br>&ndash; Block chain.
                            <br>&ndash; Multimachine systems.
                    </span>
                </span> throughout the country.</p>
            
            <p>Currently, a lot has been done in this direction. Based on our unique Multi-D technology a project management system verified with <span class="block">
	<span class="hover">IPMA</span>
	<span class="hidden">Enhancing the efficiency of the Company’s project performance in accordance with the best international practices in the field of project management. Confirmation of the company competence in the field of project management on the international level.</span>
</span> standards (International association of <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> companies) has been developed. In 2016 we were the first Russian company to be awarded the international 3rd -grade certificate in the area of project, programme and portfolio management based on <span class="block">
	<span class="hover">IPMA</span>
	<span class="hidden">Enhancing the efficiency of the Company’s project performance in accordance with the best international practices in the field of project management. Confirmation of the company competence in the field of project management on the international level.</span>
</span> Delta model. Nowadays, we are actively getting ready to achieve the highest – 4th grade. Besides, we already have an information model of the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">power unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> which turned out to be an independent and a very valuable digital asset. And now, the Division has transferred from facilities digitalization to building of a platform solution, i.e. to such an information model which will combine all process participants: the <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>, designers, purchasers, suppliers of equipment, contractors and will give an opportunity to simultaneously manage the whole architecture of different processes interface. The next step in the process of the company digital transformation is the creation of the so called “a digital ecosystem”, i.e. the build-up of the whole chain of different partnerships in various countries in order to meet all <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>s’ requirements.</p> 
            <p>Also, I would like to mention that digitalization itself has become a foothold for the development of the partnership interaction pattern with the largest western players. In 2017 a number of significant cooperation agreements with IBM corporation, with leading global companies – Assystem SA, SAP СНГ, HILTI was signed.</p> 
            <p>Having gained sound experience in the field of digital transformation, we decided to share our knowledge in this area with those companies that are just entering this path. Last year, together with Center for Strategic Research “North-West” and the Moscow School of Management SKOLKOVO we proceeded to the establishment of the Digital Transformation Center. Programs of the Center (and it is already under operation) are intended to give answers to the questions regarding the way of the company’s business-model transformation, the way of the organizational model and structure modification, as well as regarding the tools to reduce the time of new products development and their entering the market. On the Center basis, expert seminars regarding digital transformation practice are held – seminars on oil and gas, medical, pharmaceutical, mining industries, city development arrangement were held. The Center conducts active research and analytical work, educational projects concerning the preparation of digital transformation teams in key sectors of the economy are implemented.</p></em>
        </div>
    </div>

    <div id="under"><strong>1.1.1. The <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division Contribution to Rosatom State Corporation Strategy Implementation</strong></div>
    
    <img src="/img/11en.jpg" class="mt-4" style="width: 350px;">

    <table class="table table-borderless table-responsive margTable mt-5">
        <thead>
            <tr>
                <th>ROSATOM Strategic Goals</th>
                <th><span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden hidden-right">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities.</span>
</span> Division Strategic Goals</th>
                <th>2017 Key Performance Indicators</th>
                <th>2018 Objectives</th>
                <th>2030 Objectives</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>To increase the Corporation’s share on international markets</td>
                <td>Leadership in the core business area, i.e <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> </td>
                <td>
                    <img src="/img/111aa.jpg" style="width: 300px;">
                    <br><br>Portfolio of overseas orders for 10 years, for traditional business, mln dollars
                    <br><small>* The actual value is between the lower and the target level of KPI.</small>
                    <br><img src="/img/111b.jpg" style="width: 250px;" class="mt-4">
                    <br><br>Foreign revenue from traditional products, mln dollars
                    <br><small>* 2192 mln dollars in accordance with the Russian system of accounting. The figure was adjusted according to the rules defining actual levels of the KPIs determination and in accordance with approved methodology.</small>
                    <br><img src="/img/111c_en.jpg" style="width: 250px;" class="mt-4">
                    <br><br>Concern Rosenergoatom investment program index (in the scope of responsibility), %
                    <img src="/img/111d_en.jpg" style="width: 250px;" class="mt-4">
                    <br><br>Contribution to the consolidated Adjusted free cash flow of Rosatom State Corporation for the nuclear order, bln RUR
                </td>
                <td>
                    1. Physical start-up and power start-up of Unit No. 4 of Tianwan <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>.
                    <br><br>2. First concrete pouring at Unit No. 1 of Kursk <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>.
                    <br><br>3. First concrete pouring at Unit No. 1 of Akkuyu <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>.
                </td>
                <td>> 1/3 share of the global <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> market.</td>
            </tr>
            <tr>
                <td>To develop new products for the Russian and international markets</td>
                <td>Assurance of operational sustainability (diversification)</td>
                <td>
                    <img src="/img/112a_en.jpg" style="width: 250px;">
                    <br><br>Integrated index for new products, %
                    <br><small>* The actual value is between the lower and the target level of KPI. Considering the adjustment of the target value of KPI “Orders portfolio for new projects (beyond the scope)” and KPI “Revenue for new products outside the scope” according to the resolution of Rosatom Director General A.E.Likhachev on exclusion of work scope for “Research Reactors” area.</small>
                    <img src="/img/112b.jpg" style="width: 250px;" class="mt-4">
                    <br><br>Achievement of milestones for new businesses, number
                </td>
                <td>
                    <ul class="ulTable">
                        1. Participation of Nukem Technologies <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Services GmbH and JSC NIKIMT-Atomstroy in tenders abroad:

                        <li class="mt-4">decommissioning of Vattenfall <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Sweden);</li>
                        <li class="mt-2">processing and conditioning of contaminated soils during decommissioning of Kozloduy <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Bulgaria).</li>
                        
                        <br><br>2. Conclusion of contracts by JSC NIKIMT-Atomstroy:
                        <li class="mt-4">for work performance related to designing of decommissioning of Leningrad <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>;</li>
                        <li class="mt-2">for integrated designing, <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> and supply of equipment for commissioning of radioactive waste treatment facilities at Bushehr-2 <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> .</li>
                        
                        <br>3. Commencement of works by JSC NIKIMT-Atomstroy for <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of radioactive waste treatment facilities at Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, opening of branch office in Bangladesh.
                        <br><br>4.  Implementation of contract with Electricite de France (EDF).
                        <br><br>5.  Works performance in accordance with road map under the project “Smart City”.
                        <br><br>6. Development of package of digital technologies and strategy of their promotion on foreign markets.
                    </ul>
                </td>
                <td>30 % share of new businesses in the Division revenue.</td>
            </tr>
            <tr>
                <td>To develop new products for the Russian and international markets</td>
                <td>Financial stability</td>
                <td>
                    <img src="/img/113a.jpg" style="width: 250px;">
                    <br><br>Compliance with the time frame and cost of NPP construction abroad, %
                    <br><img src="/img/113b_en.jpg" style="width: 250px;" class="mt-4">
                    <br><br>Adjusted free cash flow of Rosatom State Corporation (considering the performance of the Division AFCF), bln RUR
                    <br><img src="/img/113c.jpg" style="width: 250px;" class="mt-4">
                    <br><br>Specific forecasted cost of NPP construction, reduced taking into account the timing, RUR/KW
                    <br><img src="/img/113d_en.jpg" style="width: 250px;" class="mt-4">
                    <br><br>Relatively fixed costs, bln RUR
                    <br><img src="/img/113e.jpg" style="width: 250px;" class="mt-4">
                    <br><br>Inventory turnover, days
                </td>
                <td>
                    <ul class="ulTable">
                        1. Execution of:

                        <li class="mt-4">digital transformation of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division;</li>
                        <li class="mt-2">project of the industry digital platform introduction;</li>
                        <li class="mt-2">creation of information control system for projects to ensure compliance with the requirements of foreign <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>s to IMS;</li> 
                        <li class="mt-2">Rosatom Production System (<span class="block">
	<span class="hover">RPS</span>
	<span class="hidden">Rosatom Production System</span>
</span>);</li>
                        <li class="mt-2">program of expansion of industry cost management system jointly with Concern Rosenergoatom.</li>
                        <br>2. Improvement of cost management methodology and expansion of functionality of resource management information system.
                        <br><br>3. Improvement of the accuracy of planning at the stage of contract conclusion.
                        <br><br>4. Development of the comprehensive cost and time management system for industry projects.
                    </ul>
                </td>
                <td>Sustainable achievement of the goals and further actions to upgrade leadership surpassing annual goal’s indicators.</td>
            </tr>
        </tbody>
    </table>

    <div class="row mt-5">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <p>In the reporting period the Division was focused on the fulfillment of the core business obligations – nuclear power plants design and <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> in Russia and abroad, as the majority of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> projects entered the active <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> phase. This is a challenge the Company has not faced before, due to this, the top priority of the year is unconditional fulfillment of obligations under the contracted projects, without which it is impossible to keep the top position in terms of the number of <span class="block">
	<span class="hover">power units</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> under <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>.</p>
            <p>Strategic goals of the Division in the reporting year were achieved by means of reducing the products prime cost and the time period of processes behavior.  </p> 
            <p>In 2017 there was a decision made on hand over of “Research reactors” business area to another subdivision of Rosatom State Corporation. </p>
            <p>Based on the analytical information about the trends on the priority markets, about the state of the macroeconomic environment, competitive analysis, new partner patterns, as well as taking into account the priorities of the Shareholder’s performance, mid- and long term plans of the Division as well as key performance indicators are being confirmed and updated on an annual basis. The relevant decisions are made also at the strategic sessions with the Shareholder’s participation, which are held at least twice a year. Sessions on <span class="block">
	<span class="hover">KPI</span>
	<span class="hidden">Key Performance Indicator</span>
</span> fulfillment are held every quarter – in order to control risks and set goals achievement.  </p>
            <p>Changes in the priorities are reflected in the Company’s business plan which is verified and, if needed, updated on an annual basis.</p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <ul class="headerPage blockLineLeft">
                When generating mid- and long-term programs and development plans, the Company uses the market analytics that reflects main trends on major markets and in operation areas, as well as the competitive analysis and benchmarking of key players. 
                <br><br><strong>Source of this information: </strong>
                <br><br>
                <li>daily mass media reviews, companies’ publications; </li>
                <li>periodic reviews of operation areas made by partner organizations;  </li> 
                <li>analytical reviews made by specialized organizations (World Energy Outlook, BP-Energy Outlook and etc.);  </li> 
                <li>competitors’ reviews upon request made by the largest consulting companies that allow making the comparative analysis and identify best practice; </li> 
                <li>participation in large industry forums; </li> 
                <li>industrial information system OAZIS systematizing data on key partners, <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>s etc. </li>
            </ul>
        </div>
    </div>
    <div id="under"><strong>1.1.2. External Environment Strategic Analysis</strong></div>
    <h4 class="titlePage mt-4">PEST-analysis of the Environmen</h4>

    <img src="/img/pest_en.jpg" class="mt-4" style="width: 100%;">

    <div id="under" class="mt-4"><strong>1.1.3. Sustainability Agenda</strong></div>

    <h4 class="titlePage mt-4">Sustainability Approach</h4>
    
    <div class="row mt-4">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <p>The <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division looks upon the sustainable development of the Company’s business as a type of performance that satisfies both the criteria of economic and ecological expediency and social interests of the society and states. Based on its unique role of the designer and constructor of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">power units</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> – the Division shall ensure safety and reliability of nuclear facilities on the territories of all countries where it operates.</p> 
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <p class="headerPage blockLineLeftTxt">Sustainable development is development that meets the needs of the present without compromising the ability of future generations to meet their own needs.</p> 
            <br><em>Report of the UN Commission on the environment and development “Our common future”, 1987  </em> 
        </div>
    </div>

    <h4 class="titlePage mt-5">Sustainability Agenda of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division</h4>
    
    <div class="row mt-5">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <ul>
                <li>We value safety and reliability of nuclear facilities as our primary concern and we are responsible for the results of our performance. </li>
                <li class="mt-2">We consider all <span class="block">
	<span class="hover">environmental safety</span>
	<span class="hidden">Protection of environment and vital human interests against possible negative effects of economic and other activities, natural and man-induced emergency situations and their consequences.</span>
</span> aspects to be extremely significant and are worked out on the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> projects development and <span class="block">
	<span class="hover">power units</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>. Production environmental monitoring is regularly conducted at the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> facilities.  </li>
                <li class="mt-2">We develop and implement innovative management technologies for design and complex <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> facilities <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>. </li>
                <li class="mt-2">We are a responsible employer and make a significant contribution to the social and economic development of the regions where we operate. </li>
                <li class="mt-2">We are transparent and report to the shareholders, consumers, partners, suppliers, employees, population of the regions of operation and other parties concerned.  </li>
                <li class="mt-2">We contribute to the establishment of a peaceful and open society for the benefit of sustainable development, seek to interaction in a constructive way with the parties concerned regarding all aspects of the performance and maintain the achievement of sustainable development goals in all regions of operation. </li>
                <li class="mt-2">The Division performance in the field of sustainable development enables to more accurately determine and adjust the strategy of the Company development and improve the efficiency of strategic goals achievement. </li>
                <li class="mt-2">“<a href="http://ase-ec.ru/sustainability/">Social responsibility</a>”, where the information on the performance in the field of the corporate social responsibility and sustainable development is provided. </li>
            </ul>
            
            <h4 class="titlePage mt-5">Commitment to the UN Sustainable Development Goals</h4>
            <p class="mt-5">The <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> division follows the objectives in the field of sustainable development declared by the UN for a period until 2030.</p> 
            
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <p class="headerPage blockLineLeftTxt"><span class="color_GOST">(GRI <span id="gri-102-20">102-20</span>)</span> Due to a broad range of works made by the Division in different businesses, the sustainable development issues are regulated and governed separately by each area of activity: the social area is under the responsibility of the vice-president for personnel management and administrative work, economics and finance – under the responsibility of the senior vice-president for economics and finance, ecological area – under the responsibility of the director for quality management.</p>
        </div>
    </div>

    <br><small>Table 1.1. The <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> division follows the objectives in the field of sustainable development declared by the UN*  (GRI 102-15)</small>
    <table class="table table-borderless table-responsive-sm">
        <thead>
            <tr>
                <th></th>
                <th><strong>The UN sustainable development goals</strong></th>
                <th><strong>Contribution of the Division to the goals achievement</strong></th>
            </tr>
        </thead>
        <tr>
            <tbody>
                <tr>
                    <td><img src="../img/chapter_1/divisionEn1.png" class="divisionEn"></td>
                    <td>Accessibility of cost-effective, reliable, sustainable and up-to-date power sources for everybody.</td>
                    <td>
                        Contribution to energy security in 23 countries worldwide.
                        <br>Development of carbon-free power generation.
                        <br>Initiatives on power efficiency increase.
                    </td>
                </tr>
                <tr>
                    <td><img src="../img/chapter_1/divisionEn2.png" class="divisionEn"></td>
                    <td>Promotion of stable, comprehensive and sustainable economic growth, employment and decent work for all.</td>
                    <td>
                        Implementation of national investment projects in a number of countries worldwide.
                        <br>Positive economic and social impact on the regional, country and international scale (promotion of employment, support of small- and medium-size business entities etc.)
                    </td>
                </tr>
                <tr>
                    <td><img src="../img/chapter_1/divisionEn3.png" class="divisionEn"></td>
                    <td>Establish a stable infrastructure, promote sustainable industrialization and foster innovation.</td>
                    <td>
                        Contribution to a digital transformation of the Russian economy, including implementation of a complex project management system based on Multi-D technology.
                        <br>Transfer of “nuclear” developments to related sectors.
                        <br>Growth of innovation products volume.
                        <br>Contributions to <span class="block">
	<span class="hover">R&D</span>
	<span class="hidden">Research and development</span>
</span>.</td>
                </tr>
                <tr>
                    <td><img src="../img/chapter_1/divisionEn4.png" class="divisionEn"></td>
                    <td>Ensure sustainable consumption and production patterns.</td>
                    <td>
                        Implementation of Rosatom Production System at all facilities.
                        <br>Increase of operational and investment efficiency.
                        <br>Application of <span class="block">
	<span class="hover">LEAN</span>
	<span class="hidden-gri">Concept of company management aimed at elimination of all types of losses. LEAN production assumes the involvement of each employee in the optimization process.</span>
</span>-technology, BIM-modeling, Agile-practice etc.
                        <br>Contributions to occupational health and safety and job security.
                    </td>
                </tr>
                <tr>
                    <td><img src="../img/chapter_1/divisionEn5.png" class="divisionEn"></td>
                    <td>Revitalize the global partnership for sustainable development.</td>
                    <td>
                        Partnership with Russian and international organizations. 
                        <br>Performance of social obligations.
                        <br>Observance of national and international legal standards.
                    </td>
                </tr>
            </tbody>
    </table>

    <hr>

    <small class="colorFt">* The rest of the UN goals are not directly relevant to the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division performance. The Company shares such goals and pulls its fair weight to their achievement.</small>
    <br><br>Information on the results of 2017 in the field of sustainable development is provided in Chapter 2 “
    <a href="/financial_capital">
        Key performance results
    </a>  
    ”.
{% endblock %}

