{% extends "en/templates/page.html" %} 

{% block link %}
    <link rel="stylesheet" href="/css/fm.revealator.jquery.min.css">
{% endblock %}

{% block breadcrumb %}
<li>
    <a href="/content">
        <small>Table of Contents /</small>
    </a>
</li>
<li class="active">
    <small><strong>Engagement with Stakeholders During Report Preparation</strong></small>
</li>
{% endblock %} 

{% block picture %}
    background-image: url(../img/chapters/engagement.jpg);
    background-position-y: 70%;
{% endblock %}

{% block titleText%} Engagement with Stakeholders During Report Preparation {% endblock %}

{% block subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-43">102-43</a></span>
            <span class="hidden-gri">Organization's approach to stakeholder engagement</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-44">102-44</a></span>
            <span class="hidden-gri">Key topics and concerns raised by stakeholders</span>
        </span>
    </li>
</ul>
{% endblock %}

{% block content %}
    <div class="row mt-4">
                <div class="col-12 mb-3">
                    <h4 class="titlePage">
                        Engagement with Stakeholders During Report Preparation <span class="color_GOST">(GRI <span id="gri-102-43">102-43</span>)</span> 
                    </h4>
                    <div class="under mt-4">
                        <strong>Statement of Chairman of the Committee for Public Reporting</strong>
                    </div>
                </div>
                
                <div style="background-image: url(../img/борисов-бел.jpg); background-position-x: 36%;" class="col-lg-4 col-md-4 col-sm-12 bossPhoto mt-4"></div>
                <div class="col-lg-8 col-md-8 col-sm-12 interview mt-4">
                    <h5>
                        <strong>Ivan Borisov,
                            <br>Senior Vice-President
                            <br>for Development
    
                        </strong>
                    </h5>

                    <p>Since we are an <span class="block">
        <span class="hover">Engineering</span>
        <span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
    </span> company taking efforts on both national and global markets, the informational transparency is an issue of primary importance. We understand that the attitude to the nuclear power industry directly depends on the quality and volume of information available to a wide range of stakeholders, therefore we consider the annual report to be one of the effective tools for communication and information. </p>
                    <p>This is the third public annual report of the <span class="block">
        <span class="hover">Engineering</span>
        <span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
    </span> Division. High-priority topics of this Report are “Transformation of the <span class="block">
        <span class="hover">Engineering</span>
        <span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
    </span> Division of Rosatom State Corporation into a digital company” and “Personnel Training and Development under digital transition conditions”. This topics are extremely important for the Division, as in 2017 a new goal was set – transformation of the <span class="block">
        <span class="hover">Engineering</span>
        <span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
    </span> Division into a digital company.</p>
                    <p>Each year we step up our requirements to public accountability. This year we for the second time published a short report – a booklet upon the results of the year. It turned out to be of demand – 400 copies were distributed in two days. We are improving organizational processes of reports preparation – we prepared the previous reports 41 days earlier than the previous one. </p>
                </div>
            </div>
            <p>In 2017, for the first time, a dialogue with the stakeholders was held at a <span class="block">
        <span class="hover">construction</span>
        <span class="hidden">A whole process of <span class="block">
        <span class="hover">NPP</span>
        <span class="hidden">Nuclear Power Plant</span>
    </span> construction from survey and design works to handing over to the customer for operation.</span>
    </span> site – at Novovoronezh <span class="block">
        <span class="hover">NPP</span>
        <span class="hidden">Nuclear Power Plant</span>
    </span>-2. We believe this practice to be very useful and intend to continue it in the future. We are looking for efficient methods of interactions with the stakeholders. First of all, these are our foreign partners. Last year, representatives of 50 countries of the world got acquainted with the interactive report.</p>
            <p>The solution of the task of digital transformation of the division will inevitable lead to appearance of new partners. Its means that we plan to develop useful report about our performance for them as well, including our joint activities. It also means that the reporting processes themselves will undergo digitalization. </p>
            <p>We are responsible for the information provided in the report, we believe that the report includes all the necessary elements. It was prepared considering the principles and fundamental concepts, it complies with the Integrated Reporting International Standard (International &lt;IR&gt; Framework).</p>
            <p>I would like to express my special gratitude to representatives of our stakeholders for ongoing close cooperation and their interest in the activities of our Company. </p>
            <p>We are continuously looking for ways of further improvement of our annual reports. We will use up-date-methods and approaches for this purpose. I’m sure we will meet all the challenges ahead of us!</p>

            <div class="row mt-4">
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <p>To increase the transparency and accountability of the <span class="block">
        <span class="hover">Engineering</span>
        <span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
    </span> Division, representatives of the main stakeholders are involved in the preparation of the report by participating in discussions of the important aspects of the Division performance and its reflection in the report and by participating in public assurance of the report. Interface with stakeholders is a requirement of international standards АА1000SES Institute of Social and Ethical Accountability, Global Reporting Initiative (GRI, version SRS), Integrated Reporting International Framework.</p>
                    <p><span class="color_GOST">GRI (102–44)</span> During the preparation of this Report, public consultations and two dialogues with representatives of the main stakeholders were held (protocols of the dialogues are published at panel of interface with stakeholders <a href="http://stakeholderpanel.ru/">http://stakeholderpanel.ru/.</a></p>
                    <p>A dialogue for determining the important subjects to be reflected in the Report was held in the Moscow Branch Office of JSC ASE EC on 07.11.2017. The dialogue was held with application of <span class="block">
        <span class="hover">Rapid Foresight</span>
        <span class="hidden-gri">Technology which allows the people who participate in the foresight, to agree upon the future concept, their performance in relation to such future and their desired future. The basis of the method: joint work of the participants in a time map; working with images and diagrams instead of texts.</span>
    </span> technology which made it possible to perform a full cycle of works for the development of matrix of significance due to joint work of the Company top-management and representatives of the main stakeholders. </p>
                    <p>Dialogue for priority subjects of the Report: “Transformation of the <span class="block">
        <span class="hover">Engineering</span>
        <span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
    </span> division into a digital company” and “Training and enhancement of personnel qualification during the digital transformation” was held on 27.02.2018 during the Steering Committee meeting at Novovoronezh <span class="block">
        <span class="hover">NPP</span>
        <span class="hidden">Nuclear Power Plant</span>
    </span>-2 in the mode of video-conference with the Moscow branch of JSC ASE EC.</p>
                    <p>Public consultations on draft report were held in the Moscow Branch Office of JSC ASE EC on 18.04.2018. In total 52 proposals and recommendations were presented during all dialogs totally.</p>
                    <p>Fifty two proposals and recommendations were put forward in the course of all the dialogues; 92.3% of proposals were related to request for publication of certain information in the Report. Proposals related to the performance of the Company were submitted to appropriate structural divisions. The company has responded to recommendations to the draft report (about the structure, contents, format of the reporting documentation). In total, 78.8 % of proposals were taken into account; 5.8 % were not taken into account (argumented answers were provided); 15.4 % of proposals will be taken into account or reviewed during the preparation of reports for the next reporting periods.</p>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="headerPage blockLineLeftTxt">
                        In 2017, tasks for improvement of engagement with the stakeholders were put within the following framework:

                        <ul>
                            <li>completion of the formation of the <span class="block">
        <span class="hover">Engineering</span>
        <span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
    </span> Division in 2016 (expansion of the management scope);</li>
                            <li>the goals of Rosatom State Corporation for enhancing the efficiency of all the stakeholders (in terms of public reporting);</li>
                            <li>the new goal of transformation of the <span class="block">
        <span class="hover">Engineering</span>
        <span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
    </span> Division into a digital company.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <br>
            <small>
                <strong>Table 2.28. Consideration of the main proposals put forward by the stakeholders in the course of dialogues during the preparation of the report for 2017
                    <span class="color_GOST"> (GRI <span id="gri-102-44">102-44</span>)</span>
                </strong>
            </small>
            <table class="table table-borderless table-responsive">
                <tr>
                    <th>Stakeholders’ proposals</th>
                    <th>Consideration of proposals by the Company</th>
                </tr>
                <tr>
                    <td>Demonstrate how the company participates in the implementation of the program “<span class="block">
                        <span class="hover">Digital Economy</span>
                        <span class="hidden">
                            Economy based on new methods of generation, collection, processing, storage, analysis and transfer of data and new digital technologies:
                                <br>&ndash; Robot technology.
                                <br>&ndash; Cyber physical systems.
                                <br>&ndash; Industrial Internet of things.
                                <br>&ndash; Communication networks of 5th generation.
                                <br>&ndash; Additive technologies.
                                <br>&ndash; Cognitive technologies.
                                <br>&ndash; Artificial intelligence.
                                <br>&ndash; Machine learning.
                                <br>&ndash; Big Data.
                                <br>&ndash; Block chain.
                                <br>&ndash; Multimachine systems.
                        </span>
                    </span> of the Russian Federation.</td>
                    <td>Taken into account, see chapter “Digital Transformation of the <span class="block">
        <span class="hover">Engineering</span>
        <span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
    </span> Division”. </td>
                </tr>
                <tr>
                    <td>Reflect real growth of labor productivity due to enhancing the complexity of the works, competence and specialization of the personnel.</td>
                    <td>Taken into account, see “Key indicators” chapter.</td>
                </tr>
                <tr>
                    <td>Include data about digital solutions in facilities <span class="block">
        <span class="hover">construction</span>
        <span class="hidden">A whole process of <span class="block">
        <span class="hover">NPP</span>
        <span class="hidden">Nuclear Power Plant</span>
    </span> construction from survey and design works to handing over to the customer for operation.</span>
    </span> comparable with international assessment of digitalization.</td>
                    <td>Taken into account in chapters “Digital Transformation of the <span class="block">
        <span class="hover">Engineering</span>
        <span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
    </span> Division” and “Social Reputational Capital”.</td>
                </tr>
                <tr>
                    <td>Disclose the profile of personnel competence required for a digital transition.</td>
                    <td>Taken into account in chapters “Digital Transformation of the <span class="block">
        <span class="hover">Engineering</span>
        <span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
    </span> Division” and “Human Capital”.</td>
                </tr>
                <tr>
                    <td>Demonstrate the relations between the company goals and sustainability goals. </td>
                    <td>Taken into account in the chapter “Agenda for the sustainable development”. </td>
                </tr>
                <tr>
                    <td>Reflect the influence of introduction of Multi-D and IMS on the time frame, cost, quality and operation of facilities.</td>
                    <td>Partially taken into account (without information about the impact on the facility operation).</td>
                </tr>
                <tr>
                    <td>Reveal the efficiency parameters of implementation of digital initiatives.</td>
                    <td>Not taken into account. this information is considered to be commercial secret</td>
                </tr>
                <tr>
                    <td>Reveal information about the protection by the company of its intellectual property, about the amount of its investments into <span class="block">
        <span class="hover">R&D</span>
        <span class="hidden">Research and development</span>
    </span> and the effect of those investments, including the scope of the received intellectual deliverables. </td>
                    <td>Taken into account in the chapter on intellectual property protection and scopes of intellectual deliverables. The information about investments into <span class="block">
        <span class="hover">R&D</span>
        <span class="hidden">Research and development</span>
    </span> cannot be disclosed, it is commercial secret.</td>
                </tr>
                <tr>
                    <td>Provide a comment in the report – why does the division perform international patenting of <span class="block">
        <span class="hover">NPP</span>
        <span class="hidden">Nuclear Power Plant</span>
    </span> technologies with VVER reactor plants, and why does it submit such an amount (107) national and regional applications for inventions abroad.</td>
                    <td>Taken into account, see “Intellectual capital” chapter.</td>
                </tr>
                <tr>
                    <td>Explain how the savings during procurement were increased. </td>
                    <td>Taken into account, see “Financial capital” chapter.</td>
                </tr>
                <tr>
                    <td>Add information about the investments aimed at digitalization in 2017 and the plans for 2018.</td>
                    <td>Taken into account, see “Financial capital” chapter.</td>
                </tr>
                <tr>
                    <td>Add information about cyber-security measures. </td>
                    <td>Not taken into account. this information is considered to be commercial secret.</td>
                </tr>
                <tr>
                    <td>Tell in more detail about projects, structure of financing of foreign projects, add information about commissioning of <span class="block">
        <span class="hover">Power Unit</span>
        <span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
    </span>s and plans for 2018. </td>
                    <td>Partially taken into account, see “Manufactured capital” chapter The structure of financing of foreign projects is commercial secret.</td>
                </tr>
                <tr>
                    <td>Identify separately the growth of the number of personnel related to increase of the number of <span class="block">
        <span class="hover">construction</span>
        <span class="hidden">A whole process of <span class="block">
        <span class="hover">NPP</span>
        <span class="hidden">Nuclear Power Plant</span>
    </span> construction from survey and design works to handing over to the customer for operation.</span>
    </span> sites abroad. </td>
                    <td>Taken into account in Appendix 12 of the Bood of Appendices to the Report.</td>
                </tr>
            </table>

            <br><br>
            <small>
                <strong>Table 2.29. Fulfillment of obligations undertaken by the Company during preparation of the 2016 report</strong>
            </small>
            <table class="table table-borderless table-responsive">
                <tr>
                    <th>Proposals</th>
                    <th>Taking into account</th>
                </tr>
                <tr>
                    <td>Confirm information on future prospects of nuclear industry state financing.</td>
                    <td>Taken into account, see “Financial capital” chapter.</td>
                </tr>
                <tr>
                    <td>Cover the topic of public involvement in the company’s projects in more detail.</td>
                    <td>Taken into account in chapter “Social and reputation capital”.</td>
                </tr>
                <tr>
                    <td>Add information on cooperation with higher educational institutions within the framework of scientific and research activities into the chapter 2.3.</td>
                    <td>Will be taken into account in the report for 2018.</td>
                </tr>
                <tr>
                    <td>Identify <span class="block">
        <span class="hover">RAW</span>
        <span class="hidden">Radioactive wastes</span>
    </span> and <span class="block">
        <span class="hover">SNF</span>
        <span class="hidden">Spent Nuclear Fue</span>
    </span> activities and <span class="block">
        <span class="hover">NPP</span>
        <span class="hidden">Nuclear Power Plant</span>
    </span> decommissioning, as important elements of operational sustainability and view them as key elements of integrated proposal during <span class="block">
        <span class="hover">construction</span>
        <span class="hidden">A whole process of <span class="block">
        <span class="hover">NPP</span>
        <span class="hidden">Nuclear Power Plant</span>
    </span> construction from survey and design works to handing over to the customer for operation.</span>
    </span> of Russian <span class="block">
        <span class="hover">NPP</span>
        <span class="hidden">Nuclear Power Plant</span>
    </span>s abroad, also as part of <span class="block">
        <span class="hover">LCOE</span>
        <span class="hidden-gri">Levelized Cost of Electricity – [KW*h] during the whole life cycles, it is expressed in monetary unit for generation of 1 KW*h.  
                <br>LCOE is determined as the unit cost of electricity, as the sum of all the expenses (capital, operational, including the cost of fuel, treatment of spent nuclear fuel and radioactive waste, personnel expenses, <span class="block">
        <span class="hover">NPP</span>
        <span class="hidden">Nuclear Power Plant</span>
    </span> decommissioning and other costs) during the whole life of an <span class="block">
        <span class="hover">NPP</span>
        <span class="hidden">Nuclear Power Plant</span>
    </span> (considering the time value of money) in relation to the <span class="block">
        <span class="hover">NPP</span>
        <span class="hidden">Nuclear Power Plant</span>
    </span> capacity (design or actual).</span>
    </span> parameter. </td>
                    <td>
                        Taken into account. Chapter “Strategic Review” describes the performance of the division for <span class="block">
        <span class="hover">construction</span>
        <span class="hidden">A whole process of <span class="block">
        <span class="hover">NPP</span>
        <span class="hidden">Nuclear Power Plant</span>
    </span> construction from survey and design works to handing over to the customer for operation.</span>
    </span> and modernization of <span class="block">
        <span class="hover">RAW</span>
        <span class="hidden">Radioactive wastes</span>
    </span> and <span class="block">
        <span class="hover">SNF</span>
        <span class="hidden">Spent Nuclear Fue</span>
    </span> treatment facilities.
                        <br>The proposal to consider the parameters/results of this performance in <span class="block">
        <span class="hover">LCOE</span>
        <span class="hidden-gri">Levelized Cost of Electricity – [KW*h] during the whole life cycles, it is expressed in monetary unit for generation of 1 KW*h.  
                <br>LCOE is determined as the unit cost of electricity, as the sum of all the expenses (capital, operational, including the cost of fuel, treatment of spent nuclear fuel and radioactive waste, personnel expenses, <span class="block">
        <span class="hover">NPP</span>
        <span class="hidden">Nuclear Power Plant</span>
    </span> decommissioning and other costs) during the whole life of an <span class="block">
        <span class="hover">NPP</span>
        <span class="hidden">Nuclear Power Plant</span>
    </span> (considering the time value of money) in relation to the <span class="block">
        <span class="hover">NPP</span>
        <span class="hidden">Nuclear Power Plant</span>
    </span> capacity (design or actual).</span>
    </span> has been handed over to Strategy Division.
                    </td>
                </tr>
                <tr>
                    <td>Prepare a program of actions on sustainable development.</td>
                    <td>The works are planned for 2018.</td>
                </tr>
                <tr>
                    <td>Show the connection between charity and the principal activity of the company.</td>
                    <td>Taken into account in chapter “Social and reputation capital”.</td>
                </tr>
                <tr>
                    <td>Consider new <span class="block">
        <span class="hover">NPP</span>
        <span class="hidden">Nuclear Power Plant</span>
    </span> safety standards in preparation of the report (GSR Part 2 "Management for Safety") and updated version of “General Provisions on Nuclear Power Plants Safety “ (OPB 88/15) and disclose in the reports the progress in this area at the stages of designing and <span class="block">
        <span class="hover">construction</span>
        <span class="hidden">A whole process of <span class="block">
        <span class="hover">NPP</span>
        <span class="hidden">Nuclear Power Plant</span>
    </span> construction from survey and design works to handing over to the customer for operation.</span>
    </span> of Russian <span class="block">
        <span class="hover">NPP</span>
        <span class="hidden">Nuclear Power Plant</span>
    </span>s.</td>
                    <td>It is considered partially in the section "Natural capital". Information about compliance with these standards and documents is disclosed in specialized reports on safety and others.</td>
                </tr>
            </table>
            <br>
            <small>
                <strong>Table 2.30. Obligations for consideration of proposals made by representatives of the stakeholders in the course of dialogues during the preparation of 2017 report</strong>
            </small>
            <table class="table table-borderless table-responsive">
                <tr>
                    <th>Stakeholders’ proposals</th>
                    <th>Company’s obligations</th>
                </tr>
                <tr>
                    <td>Demonstrate global industry picture of competitive advantages of the company in the field of digitalization.</td>
                    <td rowspan="6">Shall be considered in the process of concept development for the 2018 report.</td>
                </tr>
                <tr>
                    <td>Demonstrate how intellectual property is capitalized, its influence on the business value and business-model (should be reflected visually).</td>
                </tr>
                <tr>
                    <td>Describe how the process of digitalization and introduction of digital models and platforms will influence the company revenue in the long-term perspective.</td>
                </tr>
                <tr>
                    <td>Describe how equipment suppliers who are beyond the management scope of Rosatom State Corporation, get interface with Multi-D and IMS. </td>
                </tr>
                <tr>
                    <td>Analyze the structure of the Division personnel with a break-down into competences and specialties, compare its results with the university specialties. Reflect the work of the Division related to personnel training. </td>
                </tr>
                <tr>
                    <td>Disclose information about the scope of intellectual deliverables as a result of joint work with universities.</td>
                </tr>
                <tr>
                    <td>Add information about training personnel anti-corruption procedures.</td>
                    <td rowspan="8">Shall be accounted for in the 2018 report.</td>
                </tr>
                <tr>
                    <td>Describe the number of digital platforms in the company, if there are several of them – their interrelation. </td>
                </tr>
                <tr>
                    <td>Add information about cases for using Multi-D, taking <span class="block">
        <span class="hover">RPS</span>
        <span class="hidden">Rosatom Production System</span>
    </span> as a basis.</td>
                </tr>
                <tr>
                    <td>Disclose the results of application of Multi-D in the Division, in digital values (time frame, cost, processes, expenses), quote cases. </td>
                </tr>
                <tr>
                    <td>The annual report and the communication plan of the Division shall contain the effective, not technical part of Multi-d introduction. </td>
                </tr>
                <tr>
                    <td>Formulate the advantages of Multi-D as a flagship project of the nuclear industry in the field of digitalization, demonstrate the platform character of Multi-D and the possibility of its transfer to other areas (space, digital cities, etc.)</td>
                </tr>
                <tr>
                    <td>Describe how the business-model will change due to the commenced processes of digital transformation.</td>
                </tr>
                <tr>
                    <td>Specify which requirements are put to designers and environmental specialists in view of model environmental quality management.</td>
                </tr>
            </table>

{% endblock %}

{% block scripts %}
    <script src="/js/fm.revealator.jquery.min.js"></script>
{% endblock %}