{% extends "en/templates/page.html" %} 

{% block link %}

{% endblock %}

{% block breadcrumb %}
<li class="active">
    <a href="#">
        <small><strong>Feedback</strong></small>
    </a>
</li>
{% endblock %} 

{% block picture %}
    background-image: url(../img/chapters/typical.jpg);
{% endblock %}

{% block titleText%} Feedback {% endblock %}

{% block subtitleText %}
{% endblock %}

{% block content %}
<form action="/feedback" method="POST">
    <div class="form-group">
        <label for="name">Full Name</label>
        <input type="text" class="form-control" id="name" name="answers[name]" required>
    </div>

    <div class="form-group">
        <label for="position">Position</label>
        <input type="text" class="form-control" id="position" name="answers[position]" required>
    </div>

    <div class="form-group">
        <label for="organization">Organization</label>
        <input type="text" class="form-control" id="organization" name="answers[organization]" required>
    </div>

    <div class="form-group">
        <label for="contacts">Contacts</label>
        <input type="text" class="form-control" id="contacts" name="answers[contacts]" placeholder="E-mail, phone etc." required>
    </div>

    <div id="sideRadios" class="form-group">
        <label>Indicate which group of stakeholders you belong to</label>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio1" name="answers[side]" value="Shareholder" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio1">Shareholder</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio2" name="answers[side]" value="Authorities representing the interests of employees, personnel" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio2">Authorities representing the interests of employees, personnel</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio3" name="answers[side]" value="Government departments" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio3">Government departments</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio4" name="answers[side]" value="State control bodies" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio4">State control bodies</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio5" name="answers[side]" value="International organizations" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio5">International organizations</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio6" name="answers[side]" value="Professional associations" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio6">Professional associations</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio7" name="answers[side]" value="Financial institutions, insurers" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio7">Financial institutions, insurers</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio8" name="answers[side]" value="Partners (customers, suppliers)" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio8">Partners (customers, suppliers)</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio9" name="answers[side]" value="Scientific community, educational institutions" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio9">Scientific community, educational institutions</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio10" name="answers[side]" value="Community organizations" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio10">Community organizations</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio11" name="answers[side]" value="Representative of the expert community" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio11">Representative of the expert community</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio12" name="answers[side]" value="other" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio12">Other</label>
        </div>
        <input class="form-control" id="disabledInput" type="text" name="sideOther" placeholder="Indicate other..." disabled>
    </div>

    <div class="form-group">
        <label>Reliability and objectivity</label>
        <div class="custom-control custom-radio">
            <input type="radio" id="reliabRadio1" name="answers[reliability]" value="Fine" class="custom-control-input">
            <label class="custom-control-label" for="reliabRadio1">Fine</label>
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" id="reliabRadio2" name="answers[reliability]" value="Good" class="custom-control-input">
            <label class="custom-control-label" for="reliabRadio2">Good</label>
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" id="reliabRadio3" name="answers[reliability]" value="Satisfactorily" class="custom-control-input">
            <label class="custom-control-label" for="reliabRadio3">Satisfactorily</label>
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" id="reliabRadio4" name="answers[reliability]" value="Unsatisfactory" class="custom-control-input">
            <label class="custom-control-label" for="reliabRadio4">Unsatisfactory</label>
        </div>
    </div>

    <div class="form-group">
        <label>Has your assessment been affected by the presence in the report of independent auditors' opinions and opinions on independent public certification - expert (RSPP, RRS) and stakeholder?</label>
        <div class="custom-control custom-radio">
            <input type="radio" id="decideRadio1" name="answers[decide]" value="Yes" class="custom-control-input">
            <label class="custom-control-label" for="decideRadio1">Yes</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="decideRadio2" name="answers[decide]" value="No" class="custom-control-input">
            <label class="custom-control-label" for="decideRadio2">No</label>
        </div>
    </div>

    <div class="form-group">
        <label>Completeness and materiality of information</label>
        <div class="custom-control custom-radio">
            <input type="radio" id="informRadio1" name="answers[inform]" value="Fine" class="custom-control-input">
            <label class="custom-control-label" for="informRadio1">Fine</label>
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" id="informRadio2" name="answers[inform]" value="Good" class="custom-control-input">
            <label class="custom-control-label" for="informRadio2">Good</label>
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" id="informRadio3" name="answers[inform]" value="Satisfactory" class="custom-control-input">
            <label class="custom-control-label" for="informRadio3">Satisfactory</label>
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" id="informRadio4" name="answers[inform]" value="Unsatisfactory" class="custom-control-input">
            <label class="custom-control-label" for="informRadio4">Unsatisfactory</label>
        </div>
    </div>

    <div class="form-group">
        <label>The structure of the report, the convenience of finding the necessary information, presentation style</label>
        <div class="custom-control custom-radio">
            <input type="radio" id="structRadio1" name="answers[struct]" value="Fine" class="custom-control-input">
            <label class="custom-control-label" for="structRadio1">Fine</label>
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" id="structRadio2" name="answers[struct]" value="Good" class="custom-control-input">
            <label class="custom-control-label" for="structRadio2">Good</label>
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" id="structRadio3" name="answers[struct]" value="Satisfactory" class="custom-control-input">
            <label class="custom-control-label" for="structRadio3">Satisfactory</label>
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" id="structRadio4" name="answers[struct]" value="Unsatisfactory" class="custom-control-input">
            <label class="custom-control-label" for="structRadio4">Unsatisfactory</label>
        </div>
    </div>

    <div class="form-group">
        <label>Mark the sections of the report that you found to be meaningful and useful</label>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="chaptersCheckbox1" name="answers[chapters]" value="About the Engineering Division" class="custom-control-input">
            <label class="custom-control-label" for="chaptersCheckbox1">About the Engineering Division</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="chaptersCheckbox2" name="answers[chapters]" value="Report Information" class="custom-control-input">
            <label class="custom-control-label" for="chaptersCheckbox2">Report Information</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="chaptersCheckbox3" name="answers[chapters]" value="Key Milestones of 2017" class="custom-control-input">
            <label class="custom-control-label" for="chaptersCheckbox3">Key Milestones of 2017</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="chaptersCheckbox4" name="answers[chapters]" value="CEO Statement" class="custom-control-input">
            <label class="custom-control-label" for="chaptersCheckbox4">CEO Statement</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="chaptersCheckbox5" name="answers[chapters]" value="1.1. Strategy of The Engineering Division And KPI of Its Implementation" class="custom-control-input">
            <label class="custom-control-label" for="chaptersCheckbox5">1.1. Strategy of The Engineering Division And KPI of Its Implementation</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="chaptersCheckbox6" name="answers[chapters]" value="1.2. Business Model" class="custom-control-input">
            <label class="custom-control-label" for="chaptersCheckbox6">1.2. Business Model</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="chaptersCheckbox7" name="answers[chapters]" value="1.3. International Footprint" class="custom-control-input">
            <label class="custom-control-label" for="chaptersCheckbox7">1.3. International Footprint</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="chaptersCheckbox8" name="answers[chapters]" value="1.4. Digital Transformation of The Engineering Division" class="custom-control-input">
            <label class="custom-control-label" for="chaptersCheckbox8">1.4. Digital Transformation of The Engineering Division</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="chaptersCheckbox9" name="answers[chapters]" value="1.5. Risks And Opportunities" class="custom-control-input">
            <label class="custom-control-label" for="chaptersCheckbox9">1.5. Risks And Opportunities</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="chaptersCheckbox10" name="answers[chapters]" value="1.6. Corporate Governance" class="custom-control-input">
            <label class="custom-control-label" for="chaptersCheckbox10">1.6. Corporate Governance</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="chaptersCheckbox11" name="answers[chapters]" value="2.1. Financial Capital" class="custom-control-input">
            <label class="custom-control-label" for="chaptersCheckbox11">2.1. Financial Capital</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="chaptersCheckbox12" name="answers[chapters]" value="2.2. Manufactured Capital" class="custom-control-input">
            <label class="custom-control-label" for="chaptersCheckbox12">2.2. Manufactured Capital</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="chaptersCheckbox13" name="answers[chapters]" value="2.3. Intellectual Capital" class="custom-control-input">
            <label class="custom-control-label" for="chaptersCheckbox13">2.3. Intellectual Capital</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="chaptersCheckbox14" name="answers[chapters]" value="2.4. Human Capital. Personnel Training due to Digital Transition Demand" class="custom-control-input">
            <label class="custom-control-label" for="chaptersCheckbox14">2.4. Human Capital. Personnel Training due to Digital Transition Demand</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="chaptersCheckbox15" name="answers[chapters]" value="2.5. Natural Capital" class="custom-control-input">
            <label class="custom-control-label" for="chaptersCheckbox15">2.5. Natural Capital</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="chaptersCheckbox16" name="answers[chapters]" value="2.6. Social And Relationship Capital" class="custom-control-input">
            <label class="custom-control-label" for="chaptersCheckbox16">2.6. Social And Relationship Capital</label>
        </div>
    </div>

    <div class="form-group">
        <label for="futureThemes">What topics do you think should be included in the next report?</label>
        <textarea class="form-control" id="futureThemes" name="answers[themes]" rows="3"></textarea>
    </div>

    <div class="form-group">
        <label for="comment">Your recommendations and additional comments</label>
        <textarea class="form-control" id="comment" name="answers[comments]" rows="3"></textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary mb-2">Send</button>
    </div>
</form>
{% endblock %}

{% block scripts %}
    <script src="/js/feedback.js"></script>
{% endblock %}