{% extends "en/templates/page.html" %}

{% block link %}
    <link rel="stylesheet" href="/css/fm.revealator.jquery.min.css">
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Table of Contents /</small></a></li>
    <li><a href="#"><small>CHAPTER 2 /</small></a></li>
    <li class="active"><small><strong> 2.1.</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/2.1_financial.jpg);
{% endblock %}

{% block  titleText %}
    2.1. Financial Сapital
{% endblock %}

{% block  subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-7">102-7</a></span>
            <span class="hidden-gri">Organization scale</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-201-1">201-1</a></span>
            <span class="hidden-gri"></span>
        </span>
    </li>
</ul>
{% endblock %}

{% block content %}
    <div class="blockLineLeftTxt mt-4">
        <p class="txtHead">Financial capital is financial resource that is employed by the Company during production of goods (rendering of services) that are manufactured in the result of commercial and investment operation and those that are received through financing (debt or equity). Financial capital management is an efficient employment of all financial tools for achieving Division’s strategic goals.</p>
    </div>

    <div class="row mt-4">
        <div class="col-lg-4 col-md-4 col-sm-12 bossPhoto" style="background-image: url(../img/подоров_фин.jpg); background-position-x: 80%;">   </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            
            <h5><strong>Nikolay Podorov, 
            <br>Senior Vice-President
            <br>for Economy and Finance</strong></h5>

            <br><strong>In your opinion, what has influenced positive financial results of the Division in 2017? </strong>
            <em class="directSpeech"><p class="mt-4">&#8211; The results of the reporting year have been influenced by the growing efficiency and quality of the Company management, the demand for <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> services rendered by the Division on the Russian and international markets and active development of the Russian nuclear industry as a whole. </p>  
            
            <p class="text-focus">The growth of revenues in 2017 as compared to those in 2016 amounts to 14.6%. The main contribution into this growth was made by foreign <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction projects.</p>

            <p>The positive level of EBITDA indicator is maintained due to the efficient cost management process that is ensured by the control of production costs and restraining of management costs.</p> 
            <p>The major part of investments in 2017 was allocated for equipping of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> sites. The mechanization costs of Russian and CIS <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> sites (Kursk <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, Belarus <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>) accounted to 808.8 mln RUR. As to foreign sites (Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> in Bangladesh, Bushehr <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> in Iran, Akkuyu <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> in Turkey), their cost reached 353.2 mln RUR. The IT-infrastructure costs amounted to 1,230.2 mln RUR. The cost of development of infrastructure (head and branch offices) equalled to 320.6 mln RUR.</p></em>
        
            <br><strong>What are the plans for 2018 and mid-term prospects?</strong>
            <em class="directSpeech"><p class="mt-4">&#8211; The Division’s strategy is aimed at the Company’s steady development. It is focused on improvement of the management system as a main tool to ensure the steady growth of financial and economic indicators.</p>
            <p>The Division’s portfolio makes 92 bln USD. The foreign revenue makes approximately 87% of the total revenue and it is expected to expand beyond the 90% limit in the next 2 years. As a matter of fact, we are growing into a fully export-oriented company since the Kursk-2 <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> is the only home project remaining in the nearest time.</p> 
            <p>By 2020, we plan to ensure the growth of revenue by 2.8 times (as compared to 2017). This is a challenge that can be met only by proper organization of the Company divisions’ work. </p> 
            <p>In 2018, the Division’s CAPEX is expected to increase severalfold and make 20 bln RUR. It is important to note that in order to retain the consolidated investment resource, the 2018 investments are to be financed by debt instruments other than JSC Atomenergoprom; i.e.we are speaking about commercial banks’ credits. Main use of proceeds for 2018 are: mechanization of Russian and CIS <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> sites (Kursk <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, Belarus <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> etc.) – 4,134.9 mln RUR; mechanization of foreign sites (Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, Bushehr-2 <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, Akkuyu <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>) – 8,563 mln RUR. The remaining part of investments will be channeled to develop the IT-tooling – in the amount of 2,452.9 mln RUR, to develop the infrastructure of the head and branch offices – in the amount of 887 mln RUR. The remaining investments will reach 4,699 mln RUR. </p></em>
        </div>
    </div>

    <div id="under" class="mt-5"><strong>2.1.1. Financial Results</strong></div>
                  
    <br><small>Table 2.1. Financial results of <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division*</small>
    <table class="table table-borderless table-responsive textCenter">
        <thead>
            <tr>
                <th rowspan="2" colspan="2"><span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division’s revenue, the structure of revenue as per areas of business, bln RUR. <span class="color_GOST">( GRI <span id="gri-102-7">102-7</span> )</span></th>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
                <th rowspan="2">&#916; 2017 - 2016 / 2016,%</th>
                <th rowspan="2">2018 planned</th>
            </tr>
            <tr>
                <th>planned</th>
                <th>fact</th>
            </tr>
        </thead>
        <tbody>
            <tr class="rowBold">
                <td colspan="2">Total</td>
                <td>166.6</td>
                <td>152.9</td>
                <td>186.5</td>
                <td>175.2</td>
                <td>14.6 %</td>
                <td>235.7</td>
            </tr>
            <tr>
                <td rowspan="4">Breakdown by business</td>
                <td><span class="block">
	<span class="hover">Construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> management</td>
                <td>52.9</td>
                <td>48.3</td>
                <td>64.9</td>
                <td>41.9</td>
                <td>-13.2 %</td>
                <td>95.8</td>
            </tr>
            <tr>
                <td>Equipment</td>
                <td>69.8</td>
                <td>64.8</td>
                <td>70.3</td>
                <td>85.1</td>
                <td>31.4 %</td>
                <td>89.6</td>
            </tr>
            <tr>
                <td>Design and survey works</td>
                <td>28.8</td>
                <td>30.0</td>
                <td>38.7</td>
                <td>33.9</td>
                <td>12.8 %</td>
                <td>30.0</td>
            </tr>
            <tr>
                <td>Other businesses</td>
                <td>15.1</td>
                <td>9.8</td>
                <td>12.6</td>
                <td>14.3</td>
                <td>44.9 %</td>
                <td>20.3</td>
            </tr>
        </tbody>
    </table>

    <br><small>The figures indicated in tables may differ from same ones calculated in this report due to rounding of figures.</small>

    <p class="mt-4">The revenue growth is related to work implementation under new projects in 2017 (e.g., El-Dabaa <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, Paks II <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, Bushehr-2 <span class="block">
	<span class="hover">Power Units</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 2 and 3) and performance of a significant work scope at Belarus <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> which is currently in the active <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> phase.</p>

    <br><small>Manufacturing expenses, bln RUR</small>
    <table class="table table-borderless table-responsive-sm textCenter">
        <thead>
            <tr>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
                <th rowspan="2">&#916; 2017 - 2016 / 2016,%</th>
                <th rowspan="2">2018 planned</th>
            </tr>
            <tr>
                <th>planned</th>
                <th>fact</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>22.6</td>
                <td>23.6</td>
                <td>29.6</td>
                <td>27.4</td>
                <td>16.6*</td>
                <td>28.4</td>
            </tr>
        </tbody>
    </table>

    <hr>

            <small class="colorFt">The dynamics shown in the tables may differ from those calculated from the data in the Report due to rounding.<br>* Due to the active phase of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or the stage of works deployment at the sites of Belarus <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, Kudankulam <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> Units 3, 4 (India), El-Dabaa <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Egypt), Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Bangladesh).</small>

    <br><br><small>Management expenses, bln RUR*</small>
    <table class="table table-borderless table-responsive-sm textCenter">
        <thead>
            <tr>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
                <th rowspan="2">&#916; 2017 - 2016 / 2016,%</th>
                <th rowspan="2">2018 planned</th>
            </tr>
            <tr>
                <th>planned</th>
                <th>fact</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>7.4</td>
                <td>8.1</td>
                <td>9.3</td>
                <td>8.6*</td>
                <td>5.4**</td>
                <td>9.3***</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <small class="colorFt">The dynamics shown in the tables may differ from those calculated from the data in the Report due to rounding.<br>* Reduction of current expenses (business trips, consultations, advertising and marketing, personnel, taxation costs etc. </small>
    <br><small class="colorFt">** The increase of manpower is caused by the recent trends of performance (such as <span class="block">
            <span class="hover">digital economy</span>
            <span class="hidden">
                Economy based on new methods of generation, collection, processing, storage, analysis and transfer of data and new digital technologies:
                    <br>&ndash; Robot technology.
                    <br>&ndash; Cyber physical systems.
                    <br>&ndash; Industrial Internet of things.
                    <br>&ndash; Communication networks of 5th generation.
                    <br>&ndash; Additive technologies.
                    <br>&ndash; Cognitive technologies.
                    <br>&ndash; Artificial intelligence.
                    <br>&ndash; Machine learning.
                    <br>&ndash; Big Data.
                    <br>&ndash; Block chain.
                    <br>&ndash; Multimachine systems.
            </span>
        </span> and others).</small>
    <br><small class="colorFt">*** Owing to changes and decomposition of strategic objectives, the subject of control of administrative costs has been changed. The administrative expenses include expenses of all organizations in the management framework.</small>
 
    <br><br><small>Commercial expenses, bln RUR</small>
    <table class="table table-borderless table-responsive-sm textCenter">
        <thead>
            <tr>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
                <th rowspan="2">&#916; 2017 - 2016 / 2016,%</th>
                <th rowspan="2">2018 planned</th>
            </tr>
            <tr>
                <th>planned</th>
                <th>fact</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2.8</td>
                <td>3.0</td>
                <td>4.0</td>
                <td>4.0</td>
                <td>30.0*</td>
                <td>6.9</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <small class="colorFt">The dynamics shown in the tables may differ from those calculated from the data in the Report due to rounding.<br>* The growth of volumes in 2017 is caused by the growing sales of equipment.</small>
       
    <br><br><small>Gross profit, bln RUR*</small>
    <table class="table table-borderless table-responsive-sm textCenter">
        <thead>
            <tr>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
                <th rowspan="2">&#916; 2017 - 2016 / 2016,%</th>
                <th rowspan="2">2018 planned</th>
            </tr>
            <tr>
                <th>planned</th>
                <th>fact</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>21.1</td>
                <td>20.0</td>
                <td>19.4</td>
                <td>21.6</td>
                <td>7.5*</td>
                <td>27.2</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <small class="colorFt">The dynamics shown in the tables may differ from those calculated from the data in the Report due to rounding.<br>* Self-cost economy means reduction of expenses borne by subcontracted organizations.</small>
      
    <br><br><small>Net profit, mln RUR</small>
    <table class="table table-borderless table-responsive-sm textCenter">
        <thead>
            <tr>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
                <th rowspan="2">&#916; 2017 - 2016 / 2016,%</th>
                <th rowspan="2">2018 planned</th>
            </tr>
            <tr>
                <th>planned</th>
                <th>fact</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>-23.2</td>
                <td>4 892.2</td>
                <td>3 081.7</td>
                <td>5 586.9</td>
                <td>14.2</td>
                <td>3 449*</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <small class="colorFt">The dynamics shown in the tables may differ from those calculated from the data in the Report due to rounding.<br>* The Income of 2018 is showed without JSC NIKIMTAtomstroy shares devaluation (the devaluation of financial investments is caused by handover of JSC "Severskie teploseti".</small>

    <br><br><small>Labour productivity (in terms of proper revenue), mln RUR per capita</small>
    <table class="table table-borderless table-responsive-sm textCenter">
        <thead>
            <tr>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
                <th rowspan="2">&#916; 2017 - 2016 / 2016,%</th>
                <th rowspan="2">2018 planned</th>
            </tr>
            <tr>
                <th>planned</th>
                <th>fact</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>3.05</td>
                <td>3.3</td>
                <td>3.7</td>
                <td>3.73</td>
                <td>12.9*</td>
                <td>4.35</td>
            </tr>
        </tbody>
    </table>

    <hr>

            <small class="colorFt">The dynamics shown in the tables may differ from those calculated from the data in the Report due to rounding.<br>* The growth of labour productivity is caused by implementation of <span class="block">
	<span class="hover">RPS</span>
	<span class="hidden">Rosatom Production System</span>
</span>-projects and introduction of advance technologies of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> and project management as well as by growth of the scope of works performed using own resources.</small>
   
    <div id="under" class="mt-5"><strong>2.1.2. Financial Capital Management</strong></div>

    <br><br><small>Table 2.2. Cost management</small>
    <table class="table table-borderless table-responsive">
        <thead>
            <tr>
                <th></th>
                <th>
                    Russian projects
                    <br><strong>Automated cost management system</strong>
                </th>
                <th>
                    Foreign Projects
                    <br><strong>The software complex of information resource management system (IRMS)</strong>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Functional possibilities</td>
                <td>
                    <ul class="ulTable">
                        <li>estimate the forecasted <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> cost throughout the years of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, </li> 
                        <li>generate the threshold cost to the level of <span class="block">
	<span class="hover">IWL</span>
	<span class="hidden">Individual work limit</span>
</span>/FSE, </li> 
                        <li>generate the initial (maximum) prices taking into account price caps,</li> 
                        <li>accumulate actual project costs as per the cost structure, </li> 
                        <li>follow-up of price caps in the course of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>,</li> 
                        <li>forecast the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> cost under various scenarios of macroeconomic indices, </li> 
                        <li>develop administrative report forms.</li> 
                    </ul>
                </td>
                <td>
                    <ul class="ulTable">
                        <li>keep records of the full cost of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, taking into account specific features of foreign contracts,</li>
                        <li>provide cost accounting in several currencies (multi-currency support), </li> 
                        <li>introduce cost threshold for cost items in the required detail,</li>
                        <li>keep the database of concluded subcontracts in the required detail to implement the management accounting and connection with the contract items,</li>
                        <li>accumulate actual project costs as per the structure of <span class="block">
	<span class="hover">FE</span>
	<span class="hidden">Financial estimate</span>
</span> costs,</li> 
                        <li>follow-up and review of execution of the limits on the actual <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>,</li>
                        <li>develop administrative report forms,</li>
                        <li>differentiate allocation of access to the data based on the role matrix.</li> 
                    </ul>
                </td>
            </tr>
            <tr>
                <td>On-line accessibility</td>
                <td colspan="2">For the Investor, <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span> and the 
                    <span class="block">
                        <span class="hover">EPC</span>
                        <span class="hidden-gri">Companies implementing a project on a turn-key basis. The functions of EPC companies include designing, procurement and <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>.</span>
                    </span>-Contractor.
                </td>
            </tr>
            <tr>
                <td>Is implemented in</td>
                <td>Rostov, Kursk, Belarus <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>s (in the limited amount), Novovoronezh <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>-2.</td>
                <td>Has passed the stage of trial commercial operation, been put into commercial operation.</td>
            </tr>
            <tr>
                <td>Results of application in 2017</td>
                <td>
                    <ul class="ulTable">
                        1. At the Novovoronezh <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>-2 <span class="block">
	<span class="hover">power unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 2:
                        <li class="mt-4">has been implemented in the applicable 1C platform architecture, put into the trial commercial operation,</li>
                        <li>the forecasted cost is calculated up to the end of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>.</li>
                        <br><br>2. Additional addenda to General Contract agreements have been concluded for the Kursk <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>-2, Novovoronezh <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>-2 <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> projects about joint use of ACMS as an additional tool for the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> forecasted cost. 
                        <br><br>3. Information is prepared about the forecasted <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> cost of Kursk <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>-2 units 1&2, Novovoronezh <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>-2 unit 2. 
                    </ul>
                </td>
                <td>The main functional requirements are developed for automation of methods to manage the cost of facilities constructed in Russia and abroad.</td>
            </tr>
            <tr>
                <td>Plans for 2018</td>
                <td>Putting into commercial operation according to the module of issue planning and generation of reports as per KS-2 format.</td>
                <td>Preparation of detailed technical and methodical requirements for further implementation of functionality in SAP S/4 HANA.</td>
            </tr>
        </tbody>
    </table>
    
    <div class="row mt-2">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h5 class="mt-2"><strong>TCM NC Programme</strong></h5>

            <p class="mt-4">In 2017, Rosatom State Corporation launched a programme to generate and implement the integrated cost and time management system for nuclear facilities <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> (Total Cost Management Nuclear 
    <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of NPP construction from survey and design works to handing over to the customer for operation.</span>
</span>, TCM NC) . Main objective of the Program is to reduce the time and cost of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> in order to keep the leadership of Rosatom State Corporation in the global nuclear industry. 
                </p>    
            
            <h5 class="mt-2"><strong>The Program implementation will allow:</strong></h5>
            
            <ul class="mt-4">
                <li>reducing the time period for design and budget documentation development by 20%;</li>
                <li>reducing risks of making changes in the project by 50%;</li>
                <li>reducing the time period for planning of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works by 20%; </li>
                <li>reducing the cost of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> preparation and maintenance by 20%. </li>
            </ul>

            <p class="mt-4">Key participants of TCM NC Program – Industry Capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> from survey and design works to handing over to the customer for operation.</span>
</span> Center, Design office “<span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> product”, <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division, JSC Rusatom Overseas, JSC Greenatom. </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-0"></div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h4 class="titlePage mt-2">Investment Performance</h4>
            
            <p class="mt-4">The Division’s investment portfolio includes the projects aiming at maintaining the Division’s main business in the field of design and <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> programmes implementation as part of participation in Rosatom State Corporation’s investment and <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> projects.</p>

            <h5 class="mt-4"><strong>Investment management system and making investment decisions </strong></h5>

            <p class="mt-4">The main parameters of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division’s investment program are determined by the decisions of the Rosatom State Corporation Investment Committee. The Investment Committee is a collegial body that implements the principles of the unified industry investment policy of Rosatom State Corporation and its organizations within the frame of the authorities delegated by a higher organization. </p>

            <h5 class="mt-4"><strong>Main results of investment performance improvement In 2017:</strong></h5>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-0"></div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">

            <ul class="mt-4">
                <li class="mt-4">the unified industry project management system was implemented that improved the investment business-process efficiency;</li>
                <li class="mt-4">as part of the investment planning for 2018, a technical and economic study of the Division’s investment requests was carried out to be followed by the investment programme optimization by 759 mln RUR without changing of the project deadlines and targets;</li>
                <li class="mt-4">within the framework of current performance, taking into account the technical and economic study of projects investment budget adjustments, the amount of expenses has been optimized and reduced by 204 mln RUR;</li>
                <li class="mt-4">the required key indicators of the portfolio were met;</li>
                <li class="mt-4">individual indicators were included in the <span class="block">
	<span class="hover">KPI</span>
	<span class="hidden">Key Performance Indicator</span>
</span> maps of investment project managers;</li>
                <li class="mt-4">on the basis of industry standards, the methodology for conducting technical and economic analysis was adapted to further optimize investment costs;</li>
                <li class="mt-4">automation of the investment decision-making process when correcting the investment budgets of the Division’s organizations through the use of a specialized internal business-process information management system;</li>
                <li class="mt-4">the work on additional capitalization of the Division’s subsidiaries and organizations in accordance with the forecasts of their financial results.</li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <p class="headerPage blockLineLeftTxt mt-4"><span class="block">
	<span class="hover">KPI</span>
	<span class="hidden">Key Performance Indicator</span>
</span> of the Division’s investment performance for 2017 amounts to 98.9%</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h5 class="mt-4"><strong>Investment management plans for 2018 and the mid-term:</strong></h5>
            
            <ul class="mt-4">
                <li class="mt-4">development of motivation principles for JSC ASE EC organizations in order to identify and implement investment projects for new business lines of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division;</li>
                <li class="mt-4">development of the internal standard for JSC ASE EC investment projects risk management;</li>
                <li class="mt-4">establishment of a collegial body to implement the expert function when making the technical and economic analysis of investment expenses;</li>
                <li class="mt-4">development of the institute of technical and economic analysis, including the establishment of the industry experts team, the arrangement of the <span class="block">
	<span class="hover">KPI</span>
	<span class="hidden">Key Performance Indicator</span>
</span> system, regular training for investments initiators;</li>
                <li class="mt-4">development of competences for structuring M&A transactions (mergers/acquisitions), including the issue of the Regulation/Operation Procedure of the Division regarding these transactions;</li>
                <li class="mt-4">development of a methodology for working with investments, taking into account their funding from external sources.</li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="headerPage margFtNote mt-4">
                <div class="blockLineLeftTxt">
                    <p>Outside the Russian Federation JSC ASE EC implements investment projects, within the framework of which it is expected to supply equipment to the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> site, to create and develop the infrastructure of representative offices, branches and residential settlements for the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of Akkuyu <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Turkey), Bushehr <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Iran), Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Bangladesh), Belarus <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="pieFinCapEn" style="width: 100%; height: 400px;" class="revealator-slideup revealator-once"></div>

    <br><br><small>Total CAPEX of the <span class="block">
<span class="hover">Engineering</span>
<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division</small>
    <table class="table table-borderless table-responsive-sm textCenter">
        <thead>
            <tr>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
                <th rowspan="2">&#916; 2017 / 2016,%</th>
                <th rowspan="2">2018 planned</th>
            </tr>
            <tr>
                <th>planned</th>
                <th>fact</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.5</td>
                <td>1.5</td>
                <td>6.7</td>
                <td>2.7</td>
                <td>184*</td>
                <td>20.7**</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <small class="colorFt">* At the expense of the consolidated investment resource of Rosatom State Corporation. </small>
    <small class="colorFt">
        ** Taking into account transitory investments from 2017 in the amount of 9,974 mln RUR External funds raising.
        <br>The figures indicated in tables may differ from same ones calculated in this report due to rounding of figures.
    </small>

    <br><br><small>Table 2.3. CAPEX breakdown by organizations, mln RUR</small>
    <table class="table table-borderless table-responsive-sm textCenter">
        <thead>
            <tr>
                <th rowspan="2">Company</th>
                <th rowspan="2">2015</th>
                <th rowspan="2">2016</th>
                <th colspan="2">2017</th>
                <th rowspan="2">&#916; 2017 / 2016,%</th>
                <th rowspan="2">2018 planned</th>
            </tr>
            <tr>
                <th>planned</th>
                <th>fact</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>JSC ASE</td>
                <td>118.15</td>
                <td>118.78</td>
                <td>6 028.36</td>
                <td>580.23</td>
                <td>389</td>
                <td>16 198.61</td>
            </tr>
            <tr>
                <td>JSC ASE EC</td>
                <td>887.91</td>
                <td>701.14</td>
                <td>2 529.05</td>
                <td>1 654.05</td>
                <td>136</td>
                <td>3 137.08</td>
            </tr>
            <tr>
                <td>JSC Atomenergoproekt</td>
                <td>151.34</td>
                <td>302.76</td>
                <td>347.29</td>
                <td>277.5</td>
                <td>82</td>
                <td>423.37</td>
            </tr>
            <tr>
                <td>JSC ATOMPROEKT</td>
                <td>231.48</td>
                <td>269.88</td>
                <td>169.51</td>
                <td>83.01</td>
                <td>21</td>
                <td>419.94</td>
            </tr>
            <tr>
                <td>NUKEM (including: Nukem)</td>
                <td>5.17</td>
                <td>7.63</td>
                <td>17.59</td>
                <td>1.70</td>
                <td>12</td>
                <td>28.01</td>
            </tr>
            <tr>
                <td>JSC NIKIMT-Atomstroy</td>
                <td>133.05</td>
                <td>59.82</td>
                <td>114.72</td>
                <td>92.68</td>
                <td>55</td>
                <td>514.69</td>
            </tr>
            <tr>
                <td>LLC Trest RosSEM</td>
                <td>13.49</td>
                <td>5.37</td>
                <td>14.78</td>
                <td>13.70</td>
                <td>155</td>
                <td>6.07</td>
            </tr>
            <tr>
                <td>PJSC Energospezmontazh</td>
                <td>4.07</td>
                <td>3.70</td>
                <td>9.95</td>
                <td>9.83</td>
                <td>166</td>
                <td>9.44</td>
            </tr>
            <tr class="rowBold">
                <td>United Company</td>
                <td>1 313.18</td>
                <td>1 469.09</td>
                <td>6 702.20</td>
                <td>2 712.70</td>
                <td>85</td>
                <td>20 737.20</td>
            </tr>
            <tr class="rowBold">
                <td>Total amount of investments</td>
                <td>1 544.65</td>
                <td>1 469.09</td>
                <td>6 702.20</td>
                <td>2 712.70</td>
                <td>85</td>
                <td>20 737.20</td>
            </tr>
        </tbody>
    </table>

    <br><small>Table 2.4. Investment projects</small>
    <table class="table table-borderless table-responsive">
        <thead>
            <tr>
                <th>Groups of projects</th>
                <th>Performance in 2017</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mechanization of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> sites for performance of <span class="block">
	<span class="hover">CEW</span>
	<span class="hidden">Construction and erection works</span>
</span></td>
                <td>
                    The major portion of investments is spent on the equipment of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> sites for Belarus <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (purchasing <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> machinery and fixtures for the main <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> stage) and Kursk <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>-2 (purchasing machinery and mechanisms for preliminary stage of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>) and Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Bangladesh). 
                    <br><br>The delivery of key equipment for the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of these facilities was financed in the amount of 1,162 mln RUR including:
                    <br><br>1) Kursk <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> – contracts for supply of five tower cranes were signed, delivery started, including a Set of process equipment of the automated cement warehouse, a Modular semitrailer Goldhofer THP/SL (6+6) with the haul truck MAN, Set of equipment to ensure on the manufacture of the units metal structures;
                    <br><br>2) Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> – within the framework of project “Mechanization of the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> site in Bangladesh (for the performance of <span class="block">
	<span class="hover">CEW</span>
	<span class="hidden">Construction and erection works</span>
</span> of the main <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> period), preparation of procurement documentation for tenders to supply the equipment required for the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> was carried out. Also, a supply contract for a crawler crane was concluded and advance payment of 30% of the contract price (279 mln RUR) was paid.
                </td>
            </tr>
            <tr>
                <td>IT-projects</td>
                <td>
                    The work on the IT infrastructure (including telecommunications) modernization is underway, the need for which is dictated by a growing number of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> projects, most of which are foreign.
                    <br>New projects information systems at the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> sites keep on replicating (within the framework of the Standard Unified Information Space).
                    
                    <br><br><strong>The work on the creation of the national Multi-D platform started:</strong>
                    <ul class="ulTable mt-4">
                        <li class="mt-2">implementation of control system for <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> operation processes (the Multi-D Operation subsystem),</li>
                        <li class="mt-2">implementation of project information control system to ensure compliance with the foreign <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>s’ IMS requirements.</li>
                    </ul>

                    <br>The information system “Electronic Obeya” was developed on the basis of the ENOVIA software, which is a part of 3DEXPERIENCE platform, whose functionality improves the collection, preparation and management of status reports, reporting materials, and corporate reporting processes. This decision is aimed at supporting the decision-making for top management.     
                    <br><br>The investment project “Replication of corporate ERP systems in the division “<span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> and <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>” is being implemented, the purpose of which is to create a single reliable corporate information source of the Division and <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> for the control panel of the General Director of Rosatom State Corporation. In 2017, a prototype of the capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> management system (Milestone IPMS) was put into commercial operation based on SAP S/4HANA platform.
                </td>
            </tr>
            <tr>
                <td><span class="block">
	<span class="hover">R&D</span>
	<span class="hidden">Research and development</span>
</span></td>
                <td>
                    Preparation for certification in Rostekhnadzor of TDMCC and KORTES software tools, required for safety calculation of the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> under <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>.
                    <br>Patenting/registration of intellectual deliverables (inventions) is carried out in the Russian Federation and abroad. In total, it is planned to implement patent protection in 34 countries.
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script src="/js/echarts.min.js"></script>
    <script src="/js/pieFinCapEn.js"></script>

    <script src="/js/fm.revealator.jquery.min.js"></script>
{% endblock %}