{% extends "en/templates/page.html" %}

{% block link %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Table of Contents /</small></a></li>
    <li class="active"><small><strong>Glossary</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/glossary_change.jpg);
    background-position-y: 40%;
{% endblock %}

{% block  titleText %}
    Glossary
{% endblock %}

{% block  subtitleText %}
{% endblock %}

{% block content %}
 
    <br>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <strong>Box-models</strong> &ndash; Simplified 3D-models.
            <br><br>
            <strong>EPC companies (EPC contractor) (ЕРС-engineering, procurement, construction</strong> &ndash; Companies implementing a project on a turn-key basis. The functions of EPC companies include designing, procurement and construction.
            <br><br>
            <strong>EPCM companies (EPCM- Engineering, Procurement, Construction, Management)</strong> &ndash; Companies using methods of portfolio management of turn-key projects. The functions of EPCM companies include designing, procurement, construction and project management.
            <br><br>
            <strong>ISO</strong> &ndash; A set of international standards on management the organization of a company aimed at ensuring a predictable and stable level of services.
            <br><br>
            <strong>LCOE (Levelized Cost of Electricity)</strong> &ndash; Levelized Cost of Electricity – [KW*h] during the whole life cycles, it is expressed in monetary unit for generation of 1 KW*h.  
            <br>LCOE is determined as the unit cost of electricity, as the sum of all the expenses (capital, operational, including the cost of fuel, treatment of spent nuclear fuel and radioactive waste, personnel expenses, NPP decommissioning and other costs) during the whole life of an NPP (considering the time value of money) in relation to the NPP capacity (design or actual).
            <br><br>
            <strong>LEAN</strong> &ndash; Concept of company management aimed at elimination of all types of losses. LEAN production assumes the involvement of each employee in the optimization process.
            <br><br>
            <strong>Rapid Foresight</strong> &ndash; Technology which allows the people who participate in the foresight, to agree upon the future concept, their performance in relation to such future and their desired future. The basis of the method: joint work of the participants in a time map; working with images and diagrams instead of texts.
            <br><br>
            <strong>Smart Grid</strong> &ndash; Smart Grid – upgraded electrical supply networks that use information and communication technologies for collection of information about power generation and power consumption making it possible to automatically increase efficiency, reliability, economic return and stability of power generation and distribution.
            <br><br>
            <strong>Worldskills</strong> &ndash; International non-commercial movement aimed at improving the profile and recognition of skilled people, developing professional education by harmonization of the best practices and professional standards all over the world by arrangement and conduct of professional skills contests.
            <br><br>
            <strong>Business “Equipment”</strong> &ndash; Economic activities of the Division aimed at gaining revenue from supply of equipment for nuclear power plants construction.
            <br><br>
            <strong>VVER.1000</strong> &ndash; NPP design of enhanced safety developed with consideration of the national experience in construction and operation of the previous reactor plant (В-320) at Zaporozhye, Balakovo, South-Ukraine and Kalinin NPP and the latest world achievements in the field of NPP design and operation. According to the international classification, VVER.1000 is included into the category of nuclear power plants of III generation. When designing the nuclear power plant, the designers focused on maximum reduction of the human factor. Such concept was implemented in two directions. Firstly, the design included passive safety systems. This term refers to systems operating almost without any external power supply and requiring no human intervention. Secondly, the concept of the dual-purpose active safety systems was adopted, which considerably reduced the possibility of undetected failures. To avoid the uncontrolled chain reaction in the reactor, the special control rods made of neutron-absorbing materials are used which immediately suppress nuclear reaction when inserted in the core.
            <br><br>
            <strong>VVER.1200Е</strong> &ndash; The most advanced typical design of the Russian nuclear power plant of 3+ generation with improved technical and economic characteristics. This design is aimed at achievement of modern safety and reliability indicators with optimized capital investments in power plant construction. The design foresees a VVER reactor with a minimum electric power level of 1150 MW (and possible boost up to 1200 MW). According to the approved Terms of Reference, designs of two nuclear power plants were developed: Novovoronezh NPP-2 (General Designer – JSC Atomenergoproekt, Moscow) and Leningrad NPP-2 (General Designer – St. Petersburg Research and Design Institute Atomenergoproekt JSC).
            <br><br>
            <strong>BN-800</strong> &ndash; A sodium-cooled fast reactor for final fine-tuning technologies of the fast-fission reactors using uranium-plutonium MOX-fuel. The electrical power – 880 MW.
            <br><br>
            <strong>Back end</strong> &ndash; The final life cycle stage of nuclear facilities and materials.
            <br><br>
            <strong>VVER.1300TOI</strong> &ndash; Standard optimized and information-based design for a two-unit NPP with VVER.1300 reactor (pressurized-water reactor). The VVER-TOI design is developed on the basis of the VVER.1200E design materials with maximum consideration of the experience obtained by industry organizations designing NPPs based on the VVER technologies (Novovoronezh NPP-2).
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <strong>General Contractor</strong> &ndash; Party to the contract which assigns performance of certain types and packages of work under the contract to specialized contracting organizations – subcontractors. The General Contractor is fully responsible to the customer for performance of the contractual work package and proper quality thereof, timely removal of defects and faults, etc.
            <br><br>
            <strong>Customer</strong> &ndash; A person or legal entity intending to carry out construction, reconstruction or other type of construction works which require a construction permit.
            <br><br>
            <strong>Expenses for environment protection</strong> &ndash; Total expenses of companies (organizations, institutions), individual entrepreneurs, the state (the budgets of RF, the subjects of the Russian Federation, municipal formations) having a target environmental protection designation (collection, treatment, mitigation, prevention or elimination of pollutants, pollution as such or any other types and elements of deterioration of the environment which are the results of business performance) at the expense of all sources of financing.
            <br><br>
            <strong>Engineering</strong> &ndash; Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities.
            <br><br>
            <strong>Obeya or Oobeya room</strong> &ndash; In Japanese means “Big room or big conference hall” where work is coordinated and decisions are taken. Obeya room is a humanistic approach to new products development.
            <br><br>
            <strong>Local population</strong> &ndash; The population whose permanent address is in the region of the Company’s operation (e.g. – the population living in Rostov oblast is local for Rostov region). For foreign projects – the whole country is viewed upon as the region.
            <br><br>
            <strong>Local supplier</strong> &ndash; A supplier registered in the area of the facility location.
            <br><br>
            <strong>International Project Management Association (IPMA Delta) Model</strong> &ndash; Enhancing the efficiency of the Company’s project performance in accordance with the best international practices in the field of project management. Confirmation of the company competence in the field of project management on the international level.
            <br><br>
            <strong>Plan-Do-Check-Act Model</strong> &ndash; A cyclic process of decision taking used in quality management.
            <br><br>
            <strong>Design documentation</strong> &ndash; Documentation containing materials in textual form and in maps (diagrams) determining the architectural, functional, process, structural, engineering and technical solutions to ensure construction, reconstruction of capital construction facilities, their parts, capital refurbishment if during such refurbishment structural and other properties of reliability and safety of capital construction are affected.
            <br><br>
            <strong>Engineering Survey works</strong> &ndash; Works related to engineering  survey, development of feasibility studies for construction, development of designs, working documentation, budget documentation for construction (new construction, expansion, reconstruction, technical refurbishment) of buildings and facilities.
            <br><br>
            <strong>Working Documentation (Detailed Design Documentation)</strong> &ndash; Documentation developed on the basis of approved design documentation and meant for construction works performance.
            <br><br>
            <strong>Radioactive substances</strong> &ndash; Substances with radioactive nuclides in their structure.
            <br><br>
            <strong>Construction</strong> &ndash; A whole process of NPP construction from survey and design works to handing over to the Customer for operation.
            <br><br>
            <strong>Digital Economy</strong> &ndash;  
                Economy based on new methods of generation, collection, processing, storage, analysis and transfer of data and new digital technologies:
                <ul>
                    <li>Robot technology.</li>
                    <li>Cyber physical systems.</li>
                    <li>Industrial Internet of things.</li>
                    <li>Communication networks of 5th generation. </li>
                    <li>Additive technologies.</li>
                    <li>Cognitive technologies.</li>
                    <li>Artificial intelligence.</li>
                    <li>Machine learning.</li>
                    <li>Big Data.</li>
                    <li>Block chain.</li>
                    <li>Multimachine systems.</li>
                </ul>
            <br>
            <strong>Environmental safety</strong> &ndash; Protection of environment and vital human interests against possible negative effects of economic and other activities, natural and man-induced emergency situations and their consequences.
            <br><br>
            <strong>NPP Power Unit (power unit)</strong> &ndash; A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.
        </div>
    </div>
    
{% endblock %}