{% extends "en/templates/page.html" %} 

{% block breadcrumb %}
    <li><a href="/content"><small>Content /</small></a></li>
    <li class="active">
        <small>
            <strong>GRI Content Index</strong>
        </small>
    <li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/gri.jpg);
    background-position-y: 72%;
{% endblock %}

{% block titleText%} GRI Content Index, table of compliance with Standard &lt;IR&gt; {% endblock %} 

{% block subtitleText %} {% endblock %} 
{% block content %}
    <div class="row">
        <div class="col-12">
            <table class="table table-borderless table-responsive margTable">
                <tr>
                    <th>GRI standard
                    </th>
                    <th>Indicator name 
                    </th>
                    <th>Indicator
                    </th>
                    <th>Chapter
                    </th>
                    <th>Level of disclosure (fully disclosed / partially disclosed / not disclosed)
                    </th>
                </tr>
                <tr>
                    <td rowspan="56">GRI 102 (2017) General Disclosures
                    </td>
                    <td>Organization name
                    </td>
                    <td>102-1
                    </td>
                    <td><a href="/about_company">About company</a>
                        <a href="/financial_capital">Financial capital</a>
                    </td>
                    <td>fully disclosed</td>
                </tr>
                <tr>
                    <td>Primary brands, products, services
                    </td>
                    <td>102-2
                    </td>
                    <td><a href="/about_company">About company</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Location of the organization’s headquarters
                    </td>
                    <td>102-3
                    </td>
                    <td><a href="/about_company">About company</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Operating geography
                    </td>
                    <td>102-4
                    </td>
                    <td><a href="/about_company">About company</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Nature of ownership and legal form
                    </td>
                    <td>102-5
                    </td>
                    <td><a href="/about_company">About company</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Markets in which the organization operates
                    </td>
                    <td>102-6
                    </td>
                    <td><a href="/markets_of_presence">Presence Markets</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Organization scale
                    </td>
                    <td>102-7
                    </td>
                    <td><a href="/corporate_governance">Corporate Governance</a>
                        <a href="/financial_capital">Financial capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Information about employees and other employees
                    </td>
                    <td>102-8
                    </td>
                    <td><a href="/human_capital">Human capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Supply chain
                    </td>
                    <td>102-9
                    </td>
                    <td><a href="/business_model">Business model</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Significant changes in the boundary of the organization and its supply chain
                    </td>
                    <td>102-10
                    </td>
                    <td><a href="/corporate_governance">Corporate Governance</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Precautionary principle
                    </td>
                    <td>102-11
                    </td>
                    <td><a href="/natural_capital">Natural capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Initiatives, charters and principles that the organization supports
                    </td>
                    <td>102-12
                    </td>
                    <td><a href="/natural_capital">Natural capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Association Membership
                    </td>
                    <td>102-13
                    </td>
                    <td><a href="/about_company">About company</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Statement of the most senior decision maker in the organization
                    </td>
                    <td>102-14
                    </td>
                    <td><a href="/president">CEO Statement</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Key impacts, risks, opportunities
                    </td>
                    <td>102-15
                    </td>
                    <td><a href="/division_strategy">Strategy of the Engineering Division</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Values, principles, standards and norms of behavior
                    </td>
                    <td>102-16
                    </td>
                    <td><a href="/about_company">About company</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Mechanisms for reporting unethical or illegal behavior
                    </td>
                    <td>102-17
                    </td>
                    <td><a href="/corporate_governance">Corporate Governance</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Corporate Governance Structure
                    </td>
                    <td>102-18
                    </td>
                    <td><a href="/corporate_governance">Corporate Governance</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Delegation of authority
                    </td>
                    <td>102-19
                    </td>
                    <td><a href="/corporate_governance">Corporate Governance</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Responsible executives on economic, environmental and social issues
                    </td>
                    <td>102-20
                    </td>
                    <td><a href="/division_strategy">Strategy of the Engineering Division</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Advising stakeholders on economic, environmental and social issues
                    </td>
                    <td>102-21
                    </td>
                    <td>
                    </td>
                    <td>fully disclosed<br>There are no special consultations between stakeholders and the BD on economic, environmental, and social issues.
                    </td>
                </tr>
                <tr>
                    <td>Composition of the highest governing body and its committees
                    </td>
                    <td>102-22
                    </td>
                    <td><a href="/corporate_governance">Corporate Governance</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Chairman of the highest governing body
                    </td>
                    <td>102-23
                    </td>
                    <td><a href="/corporate_governance">Corporate Governance</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Appointment and selection of the highest governing body
                    </td>
                    <td>102-24
                    </td>
                    <td>
                    </td>
                    <td>fully disclosed<br>The Board of Directors includes professionals with extensive experience in the industry and a deep understanding of the specifics of the Company</td>
                </tr>
                <tr>
                    <td>Conflict of interest
                    </td>
                    <td>102-25
                    </td>
                    <td>
                    </td>
                    <td>fully disclosed<br>In order to prevent conflicts of interests and to manage them, JSC IC “ASE” approved the Anti-Corruption Policy of JSC IC “ASE”. In the reporting year, JSC IC "ASE" did not cause a conflict of interest.
                    </td>
                </tr>
                <tr>
                    <td>The role of the highest governing body in determining goals, values ​​and strategies
                    </td>
                    <td>102-26
                    </td>
                    <td>
                    </td>
                    <td>fully disclosed<br>In accordance with the Civil Code of the Russian Federation and the Charter of JSC IC ASE, the determination of the priority activities of the Company is within the competence of the Board of Directors of the Company. This management body makes decisions that are binding on the sole executive body - the President of the Company.
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>102-27
                    </td>
                    <td>
                    </td>
                    <td>fully disclosed<br>Measures to develop and improve the collective knowledge of the members of the BD in connection with the economic, environmental and social issues in JSC IC ASE do not apply.
                    </td>
                </tr>
                <tr>
                    <td>Evaluation of the highest governing body
                    </td>
                    <td>102-28
                    </td>
                    <td>
                    </td>
                    <td>fully disclosed<br>Evaluation of the activities of the SD is not carried out</td>
                </tr>
                <tr>
                    <td>Identification and management of economic, environmental and social consequences
                    </td>
                    <td>102-29
                    </td>
                    <td>
                    </td>
                    <td>fully disclosed<br>The activity of the general meeting of shareholders and the Board of Directors of JSC IC "ASE" by making appropriate decisions is aimed at efficient management of the Company, focused on high business profitability, minimization of risks and possible negative consequences as a result of the Company's economic activities, in compliance with the laws of the Russian Federation, international legal regulations of the states in the territories of presence.
                    </td>
                </tr>
                <tr>
                    <td>Efficiency of risk management processes
                    </td>
                    <td>102-30
                    </td>
                    <td><a href="/division_strategy">Strategy of The Engineering Division And KPI of Its Implementation</a>
                    <td>fully disclosed<br>The Board of Directors of JSC IC ASE does not participate in the process of analyzing the effectiveness of the risk management methods used by the organization related to economic, environmental and social issues and does not analyze economic, environmental and social risks and opportunities. Responsibility for these issues is assigned to the relevant structural units.
                    </td>
                </tr>
                <tr>
                    <td>Overview of economic, environmental and social topics
                    </td>
                    <td>102-31
                    </td>
                    <td><a href="/soc_rep_capital">Social And Relationship Capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>The role of the highest governance body in sustainable development reporting
                    </td>
                    <td>102-32
                    </td>
                    <td><a href="/info_about_report">Report Information</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Discussion of critical issues
                    </td>
                    <td>102-33
                    </td>
                    <td>
                        Annex 10
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Essence and total number of critical problems
                    </td>
                    <td>102-34
                    </td>
                    <td>
                        Annex 10
                    </td>
                    <td>fully disclosed<br>In accordance with the Federal Law “On Joint-Stock Companies” and the Charter of JSC “ASE”, the supreme management body - the general meeting of shareholders of JSC “IC“ ASE ”makes decisions on matters within its competence.
                    </td>
                </tr>
                <tr>
                    <td>Remuneration policy
                    </td>
                    <td>102-35
                    </td>
                    <td>
                    </td>
                    <td rowspan="3">fully disclosed<br>The decision to pay remuneration to members of the Board of Directors is made by the General Meeting of Shareholders. By decision of the General Meeting of Shareholders, members of the Board of Directors during the period of their duties may be paid remuneration and / or reimbursed for expenses related to the performance of their functions as members of the Board of Directors. The amount of such remuneration and compensation is established by the decision of the General Meeting of Shareholders.
                    </td>
                </tr>
                <tr>
                    <td>The process of determining remuneration
                    </td>
                    <td>102-36
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>Stakeholder participation in the determination of remuneration policy
                    </td>
                    <td>102-37
                    </td>
                    <td>
                        Annex 12
                    </td>
                </tr>
                <tr>
                    <td>Annual compensation rate
                    </td>
                    <td>102-38
                    </td>
                    <td>
                        Annex 12
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Percentage increase in annual compensation ratio
                    </td>
                    <td>102-39
                    </td>
                    <td>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>List of stakeholders with whom the organization interacts
                    </td>
                    <td>102-40
                    </td>
                    <td><a href="/soc_rep_capital">Social And Relationship Capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Share of employees covered by collective agreement
                    </td>
                    <td>102-41
                    </td>
                    <td>
                        Annex 12
                    </td>
                    <td>fully disclosed<br>Collective agreements cover 100% of employees of JSC IC ASE, JSC Atomenergoproekt and JSC ATOMPROEKT. JSC ASE does not have a collective agreement, payments are made in accordance with the order. The action of the order applies to all employees.
                    </td>
                </tr>
                <tr>
                    <td>Principles for identifying and selecting stakeholders for interaction
                    </td>
                    <td>102-42
                    </td>
                    <td><a href="/soc_rep_capital">Social And Relationship Capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Organization's approach to stakeholder engagement
                    </td>
                    <td>102-43
                    </td>
                    <td><a href="/soc_rep_capital">Social and Relationship Capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Key topics and concerns raised by stakeholders
                    </td>
                    <td>102-44
                    </td>
                    <td><a href="/soc_rep_capital">Social And Relationship Capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>List of legal entities whose statements have been included in the consolidated financial statements
                    </td>
                    <td>102-45
                    </td>
                    <td><a href="/info_about_report">Report Information</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Definition of the content and boundaries of the Report
                    </td>
                    <td>102-46
                    </td>
                    <td><a href="/info_about_report">Report Information</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>List of Subject Topics
                    </td>
                    <td>102-47
                    </td>
                    <td><a href="/info_about_report">Report Information</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Reformulation of indicators
                    </td>
                    <td>102-48
                    </td>
                    <td>
                    </td>
                    <td>fully disclosed<br>There were no changes in the method of calculating indicators in the reporting year.
                    </td>
                </tr>
                <tr>
                    <td>Changes in the list of significant topics and the scope of disclosure.
                    </td>
                    <td>102-49
                    </td>
                    <td><a href="/info_about_report">Report Information</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Reporting period
                    </td>
                    <td>102-50
                    </td>
                    <td><a href="/info_about_report">Report Information</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Date of publication of the last report
                    </td>
                    <td>102-51
                    </td>
                    <td><a href="/info_about_report">Report Information</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Reporting cycle
                    </td>
                    <td>102-52
                    </td>
                    <td><a href="/info_about_report">Report Information</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Contact Information
                    </td>
                    <td>102-53
                    </td>
                    <td>
                        Report cover
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>The option of preparing a report "in accordance with" GRI standards, selected by the organization
                    </td>
                    <td>102-54
                    </td>
                    <td><a href="/info_about_report">Report Information</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>GRI Content Index
                    </td>
                    <td>102-55
                    </td>
                    <td><a href="/gri">GRI Content Index</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>External assurance
                    </td>
                    <td>102-56
                    </td>
                    <td><a href="/info_about_report">Report Information</a>
                    </td>
                    <td>fully disclosed<br>The selection of an independent non-financial auditor is carried out within the framework of an open procurement procedure on the basis of the order of the President of the Company on the preparation of the annual report</td>
                </tr>
                <tr>
                    <td rowspan="3">GRI 103: Management Approach (2016)
                    </td>
                    <td>Explanation of the materiality of the topic and its boundaries
                    </td>
                    <td>103-1
                    </td>
                    <td><a href=""></a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Management approach and its components
                    </td>
                    <td>103-2
                    </td>
                    <td><a href=""></a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Management Approach Evaluation
                    </td>
                    <td>103-3
                    </td>
                    <td><a href=""></a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td colspan="5">GRI Essential Topics
                    </td>
                </tr>
                <tr>
                    <td rowspan="6">GRI 301: Materials
                        <br>
                        (2016)
                    </td>
                    <td>Explanation of the materiality of the topic and its boundaries
                    </td>
                    <td>103-1
                    </td>
                    <td><a href="/natural_capital">Natural Capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Management approach and its components
                    </td>
                    <td>103-2
                    </td>
                    <td><a href="/natural_capital">Natural Capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Management Approach Evaluation
                    </td>
                    <td>103-3
                    </td>
                    <td><a href="/natural_capital">Natural Capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Materials used, by weight or volume
                    </td>
                    <td>301-1
                    </td>
                    <td><a href="/natural_capital">Natural Capital</a>
                    </td>
                    <td>The indicator is partially disclosed, accounting for the use of construction materials by the Engineering division is not carried out and is not planned due to a significant number of contractors and subcontractors.</td>
                </tr>
                <tr>
                    <td>Used secondary raw materials
                    </td>
                    <td>301-2
                    </td>
                    <td><a href=""></a>
                    </td>
                    <td>The indicator is not disclosed due to the lack of accounting system</td>
                </tr>
                <tr>
                    <td>Recycled products and their packaging materials
                    </td>
                    <td>301-3
                    </td>
                    <td>
                    </td>
                    <td>Not applicable to Division activities
                    </td>
                </tr>
                <tr>
                    <td rowspan="8">GRI 306 Effluents and Waste (2016)
                    </td>
                    <td>Explanation of the materiality of the topic and its boundaries
                    </td>
                    <td>103-1
                    </td>
                    <td><a href="/natural_capital">Natural Capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Management approach and its components
                    </td>
                    <td>103-2
                    </td>
                    <td><a href="/natural_capital">Natural Capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Management Approach Evaluation
                    </td>
                    <td>103-3
                    </td>
                    <td><a href="/natural_capital">Natural Capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Total discharges with indication of the quality of wastewater and the receiving facility
                    </td>
                    <td>306-1
                    </td>
                    <td><a href="/natural_capital">Natural capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>The total mass of waste by type and method of treatment
                    </td>
                    <td>306-2
                    </td>
                    <td><a href="/natural_capital">Natural capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Significant spills
                    </td>
                    <td>306-3
                    </td>
                    <td><a href=""></a>
                    </td>
                    <td>fully disclosed<br>No significant spills</td>
                </tr>
                <tr>
                    <td>Transported waste
                    </td>
                    <td>306-4
                    </td>
                    <td><a href="/natural_capital">Natural capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Water bodies, which are influenced by discharges of the organization and surface runoff from its territory
                    </td>
                    <td>306-5
                    </td>
                    <td><a href="/natural_capital">Natural capital</a>
                    </td>
                    <td>fully disclosed<br>There is no significant impact on water bodies</td>
                </tr>
                <tr>
                    <td rowspan="7">GRI 403: Occupational Health and Safety (2016)
                    </td>
                    <td>Explanation of the materiality of the topic and its boundaries
                    </td>
                    <td>103-1
                    </td>
                    <td><a href="/human_capital">Human Capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Management approach and its components
                    </td>
                    <td>103-2
                    </td>
                    <td><a href="/human_capital">Human Capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Management Approach Evaluation
                    </td>
                    <td>103-3
                    </td>
                    <td><a href="/human_capital">Human Capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Representation of workers in official joint health and safety committees of managers and workers
                    </td>
                    <td>403-1
                    </td>
                    <td>
                    </td>
                    <td>fully disclosed<br>Official joint health and safety committees with the participation of management representatives and employees are established in all organizations of the Division. Thus, 100% of the staff are represented on these committees.
                    </td>
                </tr>
                <tr>
                    <td>Industrial injuries, the level of occupational diseases, the coefficient for lost days and the absence rate in the workplace, the number of deaths
                    </td>
                    <td>403-2
                    </td>
                    <td><a href=""></a>
                    </td>
                    <td>fully disclosed<br>Not calculated by gender and region according to the system of accounting for such information in the Division, the occupational diseases Rate in the Division is 0. The Division's lost days ratio is 3.92, calculated using a multiplier of 1,000,000, and is the ratio of the total number of days lost as a result of injuries to the number of hours actually worked. The number of days lost is significantly small in relation to the actual number of days worked. The coefficient of absence in the workplace, the Coefficients for organizations outside the control loop are not disclosed in the absence of a unified system for collecting such information</td>
                </tr>
                <tr>
                    <td>Workers with a high incidence or high risk of diseases associated with their occupation
                    </td>
                    <td>403-3
                    </td>
                    <td><a href="/human_capital">Human Capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Reflection of health and safety issues in formal agreements with trade unions
                    </td>
                    <td>403-4
                    </td>
                    <td><a href="/human_capital">Human capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td rowspan="6">GRI 404: Training and Education (2016)
                    </td>
                    <td>Explanation of the materiality of the topic and its boundaries
                    </td>
                    <td>103-1
                    </td>
                    <td>
                        <a href="/human_capital">Human Capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Management approach and its components
                    </td>
                    <td>103-2
                    </td>
                    <td><a href="/human_capital">Human Capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Management Approach Evaluation
                    </td>
                    <td>103-3
                    </td>
                    <td><a href="/human_capital">Human Capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>The average annual number of training hours per employee
                    </td>
                    <td>404-1
                    </td>
                    <td>
                        Annex 12
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Skills Development and Education Programs
                    </td>
                    <td>404-2
                    </td>
                    <td><a href="/human_capital">Human capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Percentage of employees who receive periodic performance and career development reviews
                    </td>
                    <td>404-3
                    </td>
                    <td>
                        Annex 12
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td rowspan="5">GRI 416: Customer Health and Safety (2017)
                    </td>
                    <td>Explanation of the materiality of the topic and its boundaries
                    </td>
                    <td>103-1
                    </td>
                    <td>
                        <a href="/natural_capital">Natural capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Management approach and its components
                    </td>
                    <td>103-2
                    </td>
                    <td><a href="/natural_capital">Natural capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Management Approach Evaluation
                    </td>
                    <td>103-3
                    </td>
                    <td><a href="/natural_capital">Natural capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>Health and Safety Impact Assessment of Products and Services
                    </td>
                    <td>416-1
                    </td>
                    <td><a href="/natural_capital">Natural capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
                <tr>
                    <td>The total number of cases of non-compliance with regulations and voluntary codes relating to the health and safety impact of products and services, by type of consequences
                    </td>
                    <td>416-2
                    </td>
                    <td><a href="/natural_capital">Natural capital</a>
                    </td>
                    <td>fully disclosed
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <small>Substantive topics not relevant to GRI topics</small>

    <table class="table table-borderless table-responsive margTable">
        <tr>
            <th>GRI standard</th>
            <th>Name of indicator</th>
            <th>Indicator</th>
            <th>Section</th>
            <th>Disclosure level (fully Disclosed / partially disclosed/ not disclosed)</th>
        </tr>
        <tr>
            <td rowspan="3">Ensuring the fulfillment of the company's obligations under the contracted</td>
            <td>Explanation of the materiality of the topic and its boundaries</td>
            <td>103-1</td>
            <td><a href="/info_about_report">Report Information</a></td>
            <td>fully disclosed</td>
        </tr>
        <tr>
            <td>Management approach and its components</td>
            <td>103-2</td>
            <td><a href="/productive_capital">Production capital</a></td>
            <td>fully disclosed</td>
        </tr>
        <tr>
            <td>Evaluation of the management approach</td>
            <td>103-3</td>
            <td><a href="/productive_capital">Production capital</a></td>
            <td>fully disclosed</td>
        </tr>
        <tr>
            <td rowspan="3">Reduction of NPP construction time and cost</td>
            <td>Explanation of the materiality of the topic and its boundaries</td>
            <td>103-1</td>
            <td><a href="/info_about_company">Report Information</a></td>
            <td>fully disclosed</td>
        </tr>
        <tr>
            <td>Management approach and its components</td>
            <td>103-2
            </td>
            <td><a href="/division_strategy">Strategy of The Engineering Division And KPI of Its Implementation</a></td>
            <td>fully disclosed</td>
        </tr>
        <tr>
            <td>Evaluation of the management approach</td>
            <td>103-3
            </td>
            <td><a href="/division_strategy">Strategy of The Engineering Division And KPI of Its Implementation</a></td>
            <td>fully disclosed</td>
        </tr>
        <tr>
            <td rowspan="3">Transformation of the Engineering division into a digital company</td>
            <td>Explanation of the materiality of the topic and its boundaries</td>
            <td>103-1</td>
            <td><a href="/info_about_company">Report Information</a></td>
            <td>fully disclosed</td>
        </tr>
        <tr>
            <td>Management approach and its components</td>
            <td>103-2</td>
            <td><a href="/digital_transformation">Digital Transformation of The Engineering Division</a></td>
            <td>fully disclosed</td>
        </tr>
        <tr>
            <td>Evaluation of the management approach</td>
            <td>103-3</td>
            <td><a href="/digital_transformation">Digital Transformation of The Engineering Division</a></td>
            <td>fully disclosed</td>
        </tr>
        <tr>
            <td rowspan="3">Environmental and industrial safety at the facilities</td>
            <td>Explanation of the materiality of the topic and its boundaries</td>
            <td>103-1</td>
            <td><a href="/natural_capital">Natural capital</a></td>
            <td>fully disclosed</td>
        </tr>
        <tr>
            <td>Management approach and its components</td>
            <td>103-2</td>
            <td><a href="/natural_capital">Natural capital</a></td>
            <td>fully disclosed</td>
        </tr>
        <tr>
            <td>Evaluation of the management approach</td>
            <td>103-3</td>
            <td><a href="/natural_capital">Natural capital</a></td>
            <td>fully disclosed</td>
        </tr>
        <tr>
            <td rowspan="3">Training and professional development of the company's personnel in the conditions of digital transition</td>
            <td>Explanation of the materiality of the topic and its boundaries</td>
            <td>103-1</td>
            <td><a href="/digital_transformation">Digital Transformation of The Engineering Division</a></td>
            <td>fully disclosed</td>
        </tr>
        <tr>
            <td>Management approach and its components</td>
            <td>103-2</td>
            <td><a href="/digital_transformation">Digital Transformation of The Engineering Division</a></td>
            <td>fully disclosed</td>
        </tr>
        <tr>
            <td>Evaluation of the management approach</td>
            <td>103-3</td>
            <td><a href="/digital_transformation">Digital Transformation of The Engineering Division</a></td>
            <td>fully disclosed</td>
        </tr>
    </table>

    <small>Table 2. Selected indicators on GRI topics not included in the list of significant</small>

    <table class="table table-borderless table-responsive margTable mb-5">
    <tr>
        <th>GRI standard</th>
        <th>Name of indicator</th>
        <th>Indicator</th>
        <th>Section</th>
        <th>Disclosure level (fully Disclosed / partially disclosed/ not disclosed)</th>
    </tr>
    <tr>
            <td>GRI 201: Economic Performance (2016)</td>
            <td>Financial implications and other risks and opportunities arising from climate change</td>
            <td>201-2</td>
            <td><a href="/natural_capital">Natural capital</a></td>
            <td>fully disclosed</td>
        </tr>
        <tr>
            <td>GRI 204: Procurement Practices (2016)</td>
            <td>Disclosure of management approaches</td>
            <td>204-1</td>
            <td><a href="/productive_capital">Production capital</a></td>
            <td>fully disclosed</td>
        </tr>
        <tr>
            <td rowspan="3">GRI 303: Water (2016)</td>
            <td>Total water abstracted by source</td>
            <td>303-1</td>
            <td><a href="/natural_capital">Natural capital</a></td>
            <td>fully disclosed</td>
        </tr>
        <tr>
            <td>Water sources, which are significantly affected by the water intake of the organization</td>
            <td>303-2</td>
            <td><a href="/natural_capital">Natural capital</a></td>
            <td>fully disclosed</td>
        </tr>
        <tr>
            <td>Recycled and reused water</td>
            <td>303-3</td>
            <td><a href="/natural_capital">Natural capital</a></td>
            <td>fully disclosed</td>
        </tr>
    <tr>
            <td rowspan="4">GRI 304: Biodiversity (2016)</td>
            <td>Production sites owned, leased or managed by the organization and located in or adjacent to protected areas and areas with high biodiversity value that are outside the boundaries of protected areas</td>
            <td>304-1</td>
            <td><a href="/natural_capital">Natural capital</a></td>
            <td>fully disclosed</td>
        </tr>
        <tr>
            <td>Description of the significant impact of the organization on biodiversity</td>
            <td>304-2</td>
            <td><a href="/natural_capital">Natural capital</a></td>
            <td>fully disclosed</td>
        </tr>
        <tr>
            <td>Preserved and restored habitats</td>
            <td>304-3</td>
            <td><a href="/natural_capital">Natural capital</a></td>
            <td>fully disclosed</td>
        </tr>
        <tr>
            <td>The total number of species listed in the IUCN red list and the national list of protected species whose habitats are in the territory affected by the activities of the organization, broken down by the degree of threat to the existence of the species</td>
            <td>304-4</td>
            <td><a href="/natural_capital">Natural capital</a></td>
            <td>fully disclosed</td>
        </tr>
    </table>

    <h4 class="mt-5 mb-5"><strong>Table 3. Compliance of the report With the international integrated reporting standard. Reflection in the report of the fundamental concepts of the standard < ISO ></strong></h4>

    <small>Reflection in the report of the fundamental concepts of the standard <ISO></small>

    <table class="table table-borderless table-responsive mb-5">
        <thead>
            <tr class="rowBold">
                <th>Fundamental concepts</th>
                <th>Used/ not used</th>
        </thead>
        <tbody>
            <tr>
                <td>Creating value for the organization and stakeholders</td>
                <td>Uses</td>
            </tr>
            <tr>
                <td>Capitals</td>
                <td>Uses</td>
            </tr>
            <tr>
                <td>The process of value creation</td>
                <td>Uses</td>
            </tr>
        </tbody>
    </table>

    <small>Compliance of the report with the leading principles of the < ISO > Standard</small>

    <table class="table table-borderless table-responsive mb-5">
        <thead>
            <tr class="rowBold">
                <th>Leading principle</th>
                <th>Match/ not match</th>
        </thead>
        <tbody>
            <tr>
                <td>Strategic focus and future orientation</td>
                <td>Corresponds</td>
            </tr>
            <tr>
                <td>The connectivity information</td>
                <td>Corresponds</td>
            </tr>
            <tr>
                <td>Stakeholder engagement</td>
                <td>Corresponds</td>
            </tr>
            <tr>
                <td>Materiality</td>
                <td>Corresponds</td>
            </tr>
            <tr>
                <td>Short</td>
                <td>Corresponds</td>
            </tr>
            <tr>
                <td>The accuracy and completeness of</td>
                <td>Corresponds</td>
            </tr>
            <tr>
                <td>Consistency and comparability</td>
                <td>Corresponds</td>
            </tr>
        </tbody>
    </table>

    <small>Presence in the report of elements of The contents of the standard < ISO ></small>

    <table class="table table-borderless table-responsive">
        <thead>
            <tr class="rowBold">
                <th>Content elements</th>
                <th>Section EAR</th>
        </thead>
        <tbody>
            <tr>
                <td>Overview of the organization and the external environment</td>
                <td><a href="/about_company">About company</a>, <a href="/markets_of_presence">Presence Markets</a></td>
            </tr>
            <tr>
                <td>Management</td>
                <td><a href="/corporate_governance">Corporate Governance</td>
            </tr>
            <tr>
                <td>Business model</td>
                <td><a href="/business_model">Business model</a></td>
            </tr>
            <tr>
                <td>Risks and opportunities</td>
                <td><a href="/risks_and_opportunities">Risks and opportunities</a></td>
            </tr>
            <tr>
                <td>Strategy and resource allocation</td>
                <td><a href="/division_strategy">Strategy of The Engineering Division And KPI of Its Implementation</a></td>
            </tr>
            <tr>
                <td>Result of activity</td>
                <td><a href="/business_model">Business model</a>, Chapter 2. Key performance results</td>
            </tr>
            <tr>
                <td>Prospects for the future</td>
                <td><a href="/division_strategy">Strategy of The Engineering Division And KPI of Its Implementation</a></td>
            </tr>
        </tbody>
    </table>

    {% endblock %}