{% extends "en/templates/page.html" %} 

{% block link %}
    <link rel="stylesheet" href="/css/fm.revealator.jquery.min.css">
{% endblock %}

{% block breadcrumb %}
<li>
    <a href="/content">
        <small>Table of Contents /</small>
    </a>
</li>
<li>
    <a href="#">
        <small>CHAPTER 2 /</small>
    </a>
</li>
<li class="active">
    <small><strong>2.4</strong></small>
</li>
{% endblock %} 

{% block picture %}
    background-image: url(../img/chapters/2.4.jpg);
    background-position-y: 40%;
{% endblock %}

{% block titleText%} 2.4. Human Capital. Personnel Training under Digital Transition Conditions {% endblock%}

{% block subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-8">102-8</a></span>
            <span class="hidden-gri">Information about employees and other employees</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-404-2">404-2</a></span>
            <span class="hidden-gri">Skills Development and Education Programs</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-403-3">403-3</a></span>
            <span class="hidden-gri">Workers with a high incidence or high risk of diseases associated with their occupation</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-403-4">403-4</a></span>
            <span class="hidden-gri">Reflection of health and safety issues in formal agreements with trade unions</span>
        </span>
    </li>
</ul>
{% endblock %}

{% block content %}

<div>
    <div class="blockLineLeftTxt">
        <p class="txtHead">Human capital means the Company’s employees competences, their abilities and experience. Human (HR) capital management includes: contributions to the refresher training of employees, work with the staff pool and labor market, as well as the programs of personnel motivation and support. HR management system of the Engineering Division is based on the Company’s strategic goals and business priorities.</p>
    </div>
    
    <div class="row mt-4">
        <div class="col-lg-4 col-md-4 col-sm-12 bossPhoto" style="background-image: url(../img/шешокин.jpg); background-position-x: 65%;"></div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h5>
                <strong>Nikolay Sheshokin,
                    <br>Vice-President 
                    <br>for Personnel Management and Administrative Work</strong>
            </h5>

            <br>
            <strong>Are there changes in the HR policy of the Division due to a digital transition? What is the key achievement of the year in this area?</strong>
        
            <em class="directSpeech">
                <p class="mt-4">- It goes without saying, digitalization of all business areas leads to changes in the personnel management approaches. In the horizon of 2017–2018 the Engineering division already plans the demand for specialists in view of new competences required for digital transition. A list of educational institutions – main suppliers of the Company’s staff has been reviewed. The work on adaptation of training programs of educational institutions – partners to the requirements of the Company, the market and the competitive environment is in progress.</p>
                <p>A striking project in this area has become the opening of the Higher Engineering School – NRNU MEPhI in partnership with JSC ASE EC in order to train personnel for the project work within the complex technical facilities lifecycle. In 2019 the first 19 students will graduate. In 2018 already 40 people will be enrolled, and then we are getting ready for a three-fold increase in the program participants. Active work is carried out in terms of deepening professional expertise in system engineering and developing short-term training programs in programming skills and requirements management for designers.</p>
            </em>

            <br>
            <strong>Does the digital transformation affect the priorities in personnel management in the med-term?</strong>
            
            <em class="directSpeech">
                <p class="mt-4">- For successful adaptation and effectiveness in the era of digital transformation, the employee must be ready to exit from the comfort zone: work with new digital tools on new digital products; change the business model of the company; the need, within quite a short time, to acquire knowledge and skills, without which the implementation of the operation tasks becomes impossible; working in a flexible format with a focus on continuous feedback from the business <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span> to improve the product.</p>
                <p>In order to implement the digital transformation strategy of the Engineering Division and to increase the level of digital maturity and competitiveness in the engineering services market, the structure of the project teams and the list of design works for participation in the digital transformation program of the division have been approved. The purpose of this program is launching of the digital transformation projects of the division, the establishment and training of “leaders of digital transformation” team. The program includes design and educational modules both on the site of JSC ASE EC, and on external sites, international training, accelerating program for projects under development and their implementation. The Program will be implementedby February 2019.</p>
            </em>
        </div>
    </div>
    
    <div class="mt-4">
        <div id="under">
            <strong>2.4.1. HR Policy</strong>
        </div>
        <br>
        <small>
            <strong>Table 2.10. HR policy strategic tasks</strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <th>HR policy strategic tasks in 2017–2018</th>
                <th>Performance in 2017</th>
            </tr>
            <tr>
                <td>Building up a competitive team of designers, performance leaders and international globalizer leaders.</td>
                <td>
                    Implementation of industry and company programs aimed at identification, development and support of employees – leaders in strategic protects implementation.
                    <br>Enhancing the efficiency of participants of international projects by developing the language proficiency competence.
                    <br>Retention and handing over of key knowledge and skills with the help of couching system, relocation of the key specialists from completed facilities to new facilities under <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>.
                    <br>Development of competences for reduction of time period and cost of designing and <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> and enhancement of their quality.
                </td>
            </tr>
            <tr>
                <td>Developing a result-oriented corporate culture.</td>
                <td>
                    Development and implementation of involvement management programs.
                    <br>Maintaining uniform principles and approaches to human resources management in all the regions of operation considering the local specific features, in strict compliance with the applied legislation.
                    <br>Improvement of the value management system.
                    <br>Implementation of projects aimed at internal competition and timely acknowledgment of employee’s achievements.
                </td>
            </tr>
            <tr>
                <td>Enhancement of HR management processes efficiency.</td>
                <td>
                    Transforming the human resources management functions into a full-scale business-partner.
                    <br>Efficient organization of human resources management system, improvement of interaction with employees via <span class="block">
	<span class="hover">RPS</span>
	<span class="hidden">Rosatom Production System</span>
</span> projects implementation.
                </td>
            </tr>
        </table>
    </div>
    
    <div class="mt-4">
        <div id="under">
            <strong>2.4.2. Personnel Characteristics</strong>
        </div>
        
        <p class="text-focus mt-4">Total number of the Engineering division employees as on 31.12.2017 amounted to 16,667 persons.</p>
        Average staffing number in 2017 amounted to 14,463 persons. Salaries and other allowances for the employees per one person amounted to 1.18 mln RUR which is 1.3% higher than in 2016.
        <br>
        <br>
        <small>
            <strong>Table 2.11. Trend of the total manpower, pers.* <span class="color_GOST">(GRI <span id="gri-102-8">102-8</span>)</span></strong>
        </small>
        <table class="centerCol table table-borderless table-responsive">
            <tr>
                <th>Company</th>
                <th>2015</th>
                <th>2016</th>
                <th>2017 planned</th>
                <th>2017** fact</th>
                <th>∆ (2017-2016)/ 2016, %</th>
                <th>2018 planned</th>
            </tr>
            <tr>
                <td>JSC ASE</td>
                <td>749</td>
                <td>504</td>
                <td>784</td>
                <td>637</td>
                <td>26</td>
                <td>968</td>
            </tr>
            <tr>
                <td>JSC ASE EC</td>
                <td>4057</td>
                <td>4349</td>
                <td>4591</td>
                <td>4635</td>
                <td>7</td>
                <td>5068</td>
            </tr>
            <tr>
                <td>JSC Atomenergoproekt</td>
                <td>2806</td>
                <td>2409</td>
                <td>2303</td>
                <td>2497</td>
                <td>4</td>
                <td>2522</td>
            </tr>
            <tr>
                <td>JSC ATOMPROEKT</td>
                <td>3150</td>
                <td>2086</td>
                <td>1966</td>
                <td>2292</td>
                <td>10</td>
                <td>2333</td>
            </tr>
            <tr>
                <td>JSC NIKIMT-Atomstroy</td>
                <td>2058</td>
                <td>1708</td>
                <td>1723</td>
                <td>2163</td>
                <td>27</td>
                <td>2053</td>
            </tr>
            <tr>
                <td>PJSC Energospezmontazh</td>
                <td>2726</td>
                <td>1964</td>
                <td>2168</td>
                <td>2412</td>
                <td>23</td>
                <td>2076</td>
            </tr>
            <tr>
                <td>LLC Trest RosSEM</td>
                <td>2209</td>
                <td>1542</td>
                <td>1467</td>
                <td>2031</td>
                <td>32</td>
                <td>3253</td>
            </tr>
            <tr>
                <th>Total manpower of the Engineering Division</th>
                <th>17755</th>
                <th>14562</th>
                <th>15002</th>
                <th>16667**</th>
                <th>14</th>
                <th>18279</th>
            </tr>
        </table>
        <hr>

        <small>
            <em>* Total manpower means the aggregate value of the payroll staff, external part-timers and employees on civil law contract as of the end of the year. </em>
        </small>
        <br>
        <small>
            <em>** The factors that influenced the increase of employees number in 2017:
                <ul>
                    <li>transfer to active phase of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, Bushehr-2 <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, Kursk-2 <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, as well as increase of the work scope at the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>s that are already in the active <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> phase (e.g., Belarus <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>); </li>
                    <li>enhancing the competence of employees of the foreign projects design unit; </li>
                    <li>development of the system engineering and information technologies unit within the frames of the Company digital transformation (3% of the employees number total growth).</li>
                </ul>
            </em>
        </small>
        <br>
        <small>
            <strong>Table 2.12. Total manpower in the breakdown by gender, age and employees categories, pers.
                <span class="color_GOST">(GRI <span id="gri-102-8">102-8</span>)</span>
            </strong>
        </small>
        <table class="table table-borderless table-responsive textCenter">
            <tr>
                <th rowspan="2"></th>
                <th rowspan="2"></th>
                <th colspan="2">2017</th>
                <th rowspan="2">Share of employees under 35, %</th>
                <th colspan="3">Under 35 y.o.</th>
                <th colspan="3">36-50 y.o.</th>
                <th colspan="3">Over 50 y.o.</th>
            </tr>
            <tr>
                <th style="text-align: center">planned</th>
                <th>fact</th>
                <th>m</th>
                <th>f</th>
                <th>total</th>
                <th>m</th>
                <th>f</th>
                <th>total</th>
                <th>m</th>
                <th>f</th>
                <th>total</th>
            </tr>
            <tr>
                <th rowspan="6">Total in the Engineering division</th>
                <td>Heads</td>
                <td>1986</td>
                <td>2005</td>
                <td>21.1 %</td>
                <td>340</td>
                <td>84</td>
                <td>424</td>
                <td>572</td>
                <td>279</td>
                <td>851</td>
                <td>526</td>
                <td>204</td>
                <td>730</td>
            </tr>
            <tr>
                <td>Specialists</td>
                <td>8320</td>
                <td>8914</td>
                <td>47.5 %</td>
                <td>2088</td>
                <td>2144</td>
                <td>4232</td>
                <td>1163</td>
                <td>1590</td>
                <td>2753</td>
                <td>801</td>
                <td>1128</td>
                <td>1929</td>
            </tr>
            <tr>
                <td>Other office staff</td>
                <td>104</td>
                <td>99</td>
                <td>29.3 %</td>
                <td>2</td>
                <td>27</td>
                <td>29</td>
                <td>1</td>
                <td>33</td>
                <td>34</td>
                <td>3</td>
                <td>33</td>
                <td>36</td>
            </tr>
            <tr>
                <td>Workers</td>
                <td>4550</td>
                <td>5612</td>
                <td>38.2 %</td>
                <td>1999</td>
                <td>143</td>
                <td>2142</td>
                <td>1924</td>
                <td>158</td>
                <td>2082</td>
                <td>1213</td>
                <td>175</td>
                <td>1388</td>
            </tr>
            <tr>
                <td>Other</td>
                <td>42</td>
                <td>37</td>
                <td>35.1 %</td>
                <td>10</td>
                <td>3</td>
                <td>13</td>
                <td>9</td>
                <td>1</td>
                <td>10</td>
                <td>8</td>
                <td>6</td>
                <td>14</td>
            </tr>
            <tr class="rowBold">
                <td>Total</td>
                <td>15002</td>
                <td>16667</td>
                <td>41.0 %</td>
                <td>4439</td>
                <td>2401</td>
                <td>6840</td>
                <td>3669</td>
                <td>2061</td>
                <td>5730</td>
                <td>2551</td>
                <td>1546</td>
                <td>4097</td>
            </tr>
        </table>
        <hr>

        <br>
        <br>
        <small>
            <strong>Table 2.13. Dynamic pattern of contractors’ and subcontractors’ companies (CSC) personnel engaged in the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, pers. <span class="color_GOST">(GRI 102-8)</span></strong>
        </small>
        <table class="centerCol table table-borderless table-responsive textCenter">
            <tr>
                <th rowspan="2">Name of the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> site</th>
                <th colspan="2">2015</th>
                <th colspan="2">2016</th>
                <th colspan="2">2017</th>
                <th rowspan="2">∆ changes in the manpower in the reporting year in relation to to the previous year</th>
                <th rowspan="2">Dynamic pattern of the share of <span class="block">
	<span class="hover">Local population</span>
	<span class="hidden">The population whose permanent address is in the region of the Company’s operation (e.g. – the population living in Rostov oblast is local for Rostov region). For foreign projects – the whole country is viewed upon as the region.</span>
</span> employment (%)</th>
            </tr>
            <tr>
                <th>Total manpower of CSC</th>
                <th>Share of local residents from the total number (%)</th>
                <th>Total manpower of CSC</th>
                <th>Share of local residents from the total number (%)</th>
                <th>Total manpower of CSC</th>
                <th>Share of local residents from the total number (%)</th>
            </tr>
            <tr>
                <td colspan="9">JSC ASE</td>
            </tr>
            <tr>
                <td>Bushehr <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span></td>
                <td>372</td>
                <td>28.0</td>
                <td>128</td>
                <td>62.0</td>
                <td>260</td>
                <td>86.0</td>
                <td>103.1</td>
                <td>24.0</td>
            </tr>
            <tr>
                <td>Akkuyu <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span></td>
                <td>121</td>
                <td>95.0</td>
                <td>91</td>
                <td>93.0</td>
                <td>270</td>
                <td>97.0</td>
                <td>196.7</td>
                <td>4.0</td>
            </tr>
            <tr>
                <td>Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span></td>
                <td>335</td>
                <td>90.0</td>
                <td>595</td>
                <td>87.0</td>
                <td>1 672</td>
                <td>86.3</td>
                <td>181.0</td>
                <td>-0.7</td>
            </tr>
            <tr>
                <td colspan="9">JSC ASE EC</td>
            </tr>
            <tr>
                <td>Rostov <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span></td>
                <td>6 362</td>
                <td>79.0</td>
                <td>4 891</td>
                <td>90.0</td>
                <td>3 920</td>
                <td>90.0</td>
                <td>-19.9</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Kursk <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span></td>
                <td>847</td>
                <td>68.0</td>
                <td>810</td>
                <td>81.0</td>
                <td>788</td>
                <td>76.0</td>
                <td>-2.7</td>
                <td>-5.0</td>
            </tr>
            <tr>
                <td>Belarus <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span></td>
                <td>7 266</td>
                <td>79.0</td>
                <td>8 695</td>
                <td>72.0</td>
                <td>7 819</td>
                <td>73.3</td>
                <td>-10.1</td>
                <td>1.0</td>
            </tr>
            <tr>
                <td colspan="9">JSC Atomenergoproekt</td>
            </tr>
            <tr>
                <td>Novovoronezh <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>-2</td>
                <td>7 961</td>
                <td>59.0</td>
                <td>5 803</td>
                <td>61.0</td>
                <td>3 542</td>
                <td>55.0</td>
                <td>-39.0</td>
                <td>-6.0</td>
            </tr>
            <tr>
                <th>Total number of contractor’s and subcontractor’s personnel engaged in the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span></th>
                <th>23 264</th>
                <th>71.1</th>
                <th>21 013</th>
                <th>78.0</th>
                <th>18 271</th>
                <th>80.5</th>
                <th>-13.0</th>
                <th>2.9</th>
            </tr>
        </table>

        <div class="row mt-5">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <p class="mt-4">In 2017 the total number of contractor’s and subcontractor’s personnel of the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> sites reduced by 13%. The decrease in the number of personnel is connected with the final <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> cycle and a reduction in the scope of work at the sites of Novovoronezh <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>-2 and Rostov <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>. At the same time, the number of contractors and subcontractors involved in projects in the active phase of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, including foreign sites, increased. For example, at Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> in 2017, in relation to 2016, the number of personnel increased by 181%, at Bushehr-2 <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> – by 103.1%, and at Akkuyu <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> – by 196.7%.</p>
                <p>In 2017, the share of employment of the <span class="block">
	<span class="hover">Local population</span>
	<span class="hidden">The population whose permanent address is in the region of the Company’s operation (e.g. – the population living in Rostov oblast is local for Rostov region). For foreign projects – the whole country is viewed upon as the region.</span>
</span> increased by 2.9% in relation to the previous year. The growth of this indicator is caused generally by reduction of the contractors’ seconded personnel share at the projects under completion (Novovoronezh-2 <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, Rostov <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>). During a planned reduction of the manpower at the site, the contracting organizations primarily minimize the number of workers from other regions involved on a rotational basis (to minimize travel expenses, housing rent expenditures for seconders, compensation of transportation to the place of work and back).</p>
                <em><p>For additional information see <a href="../../appendixEn/12.pdf" target="_blank">Appendix 12</a> of the Book of Appendices.</p></em>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="headerPage blockLineLeftTxt">
                    <strong>Students’ Teams</strong> 
                    <p>Since 2015, in connection with the extension of the international presence in the Division, students’ teams have been arranged on the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> sites abroad. The peculiarity of international Students’ teams is that students work on the sites within their future specialty, that is, they actually undertake a traineeship as an engineer of a foreign branch in the structure of the <span class="block">
	<span class="hover">General Contractor</span>
	<span class="hidden">Party to the contract which assigns performance of certain types and packages of work under the contract to specialized contracting organizations – subcontractors. The General Contractor is fully responsible to the <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span> for performance of the contractual work package and proper quality thereof, timely removal of defects and faults, etc.</span>
</span>. The traineeship enables future graduates to adapt to the production process as much as possible and to deepen their knowledge in the specifics of the chosen profession.</p>
                    <p>In 2017, a student <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> brigade “Lotos” was organized at Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Bangladesh). Students took part in the full cycle of equipment acceptance on the site, from inspections and photofixation, to inventory and compilation of working certificates of incoming inspection and related documentation. Together with the branch office employees, students participated in inspections of the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> site to monitor the performance indicators of general <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works.</p>
                    <p>In 2018, Students’ team members will undergo training at the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> sites of Kudankulam <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> in India, Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> in Bangladesh and Akkuyu <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> in Turkey.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mt-4">
        <div id="under">
            <strong>2.4.3. HR Policy Implementation</strong>
        </div>
        
        <p class="mt-4">The level of involvement of the personnel of the Engineering Division is growing every year. In 2017 it was 81% (in 2016 – 78%, in 2015 – 75%).</p>

        <h5><strong>Personnel Training</strong></h5>
        
        <p class="text-focus mt-4">In 2017, the number of the employees of the Engineering Division that underwent training was 9,665 which is 27% higher than in 2016.</p>

        <p>Mentoring development programme is being actively used in the Division. Specialists with high qualification (including those who are retired) share their vitally important knowledge with young specialists. </p>
        <p>A system has been introduced that foresees a rotation of specialists to a higher or equal position in a different company or division, a transfer of specialists from completed facilities to new facilities of the Division that are under <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>. Such rotation helps obtain new competence and experience in taking management decisions that will be useful at the next career stage.</p>

        <h5 class="mt-4"><strong>“Total English” – development of English language proficiency of the Division employees</strong></h5>

        <p class="mt-4">The employees involved in the implementation of international projects, enhance their competence in English language – 2,850 specialists underwent training in 2017, of them 2,206 were specialists from the designing unit. 21% of the employees of the designing unit reached the required language competence in 2017.</p>

        <br>
        <strong>Efficiency in reaching the target level</strong>
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 revealator-slideup revealator-once" id="ChartCEn" style="height: 500px;"></div>
        </div>

        <br><br>
        <small>
            <strong>Table 2.14. The number of employees who underwent training, pers.</strong>
        </small>
        <table class="centerCol table table-borderless table-responsive">
            <tr>
                <th>Company</th>
                <th>2015</th>
                <th>2016</th>
                <th>2017 planned</th>
                <th>2017 fact</th>
                <th>∆ 2017 /2016, %</th>
                <th>2018 planned</th>
            </tr>
            <tr>
                <td>JSC ASE</td>
                <td>120</td>
                <td>49</td>
                <td>480</td>
                <td>271</td>
                <td>453</td>
                <td>438</td>
            </tr>
            <tr>
                <td>JSC ASE EC</td>
                <td>1423</td>
                <td>1570</td>
                <td>2036</td>
                <td>2328</td>
                <td>48</td>
                <td>2481</td>
            </tr>
            <tr>
                <td>JSC Atomenergoproekt</td>
                <td>1114</td>
                <td>1246</td>
                <td>1200</td>
                <td>1250</td>
                <td>0.32</td>
                <td>1240</td>
            </tr>
            <tr>
                <td>JSC ATOMPROEKT</td>
                <td>1514</td>
                <td>904</td>
                <td>1198</td>
                <td>1123</td>
                <td>24.23</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>LLC TrestRosSEM</td>
                <td>423</td>
                <td>321</td>
                <td>390</td>
                <td>729</td>
                <td>127</td>
                <td>630</td>
            </tr>
            <tr>
                <td>JSC NIKIMT-Atomstroy</td>
                <td>1190</td>
                <td>1014</td>
                <td>1025</td>
                <td>1243</td>
                <td>23</td>
                <td>1100</td>
            </tr>
            <tr>
                <td>PJSC Energospezmontazh</td>
                <td>2174</td>
                <td>2510</td>
                <td>2000</td>
                <td>2721</td>
                <td>8.41</td>
                <td>2976</td>
            </tr>
            <tr>
                <th>Total in the Engineering Division</th>
                <th>7958</th>
                <th>7614</th>
                <th>8329</th>
                <th>9665</th>
                <th>27</th>
                <th>9865</th>
            </tr>
        </table>
        
        <div class="row mt-5">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <p><span class="color_GOST">(GRI <span id="gri-404-2">404-2</span>)</span> Total English program is focused on technical vocabulary (<span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> and designing). Glossaries and specialized courses have been developed by experts, special lessons in English clubs are organized. In 2018, certification program will be developed that will make it possible to identify requirements to technical English knowledge for every designing specialty and to perform periodic assessment of the compliance with the established standards.</p>

                <h5 class="mt-4"><strong>Plans for 2018:</strong></h5>
                
                <ul class="mt-4">
                    <li class="mt-2">Second stage of certification for 383 specialists of JSC ATOMPROEKT, certification of specialists of the Division in terms of knowledge of international standards (recommendations of IAEA and standards of project <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>s’ countries). </li>
                    <li class="mt-2">individual development plans including events in different forms (learning, on-the-job training, coaching, tutorship, etc.)</li>
                    <li class="mt-2">creating a program for application of international designing standards with the help of tutors from the most experienced and qualified experts of the designing unit.</li>
                </ul>

                <h5 class="mt-4"><strong>Talent Pool</strong></h5>

                <p class="mt-4">In 2017 the Talent Pool of the Engineering division included 324 people , 114 more than in 2016.</p>
                <p><span class="color_GOST">(GRI 404-2)</span> To minimize HR risks within the career and succession management process implementation, a succession plan for key positions was developed. The succession plan includes 24 positions of the senior management level and 49 successors. The successor’s status is always accompanied with an individual development plan.</p>
                <p>The relevant career maps and requirements to positions in career group “Engineering (designing, supply, <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>)” and “Engineering for non-profile equipment”, have been developed. In 2018, each employee will have a chance to select his/her next career step, and a manager will have an opportunity to ensure the availability of successors to his/her position within the unified industry talent management system “Record” on the basis of Lumesse ETWeb software.</p>
                <p>In order to become a member of the “Talent Pool”, it is necessary to undergo an independent assessment that includes the assessment of the potential, the values and the motivation of the employee.</p>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="headerPage blockLineLeftTxt">
                    <strong>Professional skills contests: Atomskills, <span class="block">
	<span class="hover">Worldskills</span>
	<span class="hidden">International non-commercial movement aimed at improving the profile and recognition of skilled people, developing professional education by harmonization of the best practices and professional standards all over the world by arrangement and conduct of professional skills contests.</span>
</span> Hi-Tech, Digitalskills</strong>
                    <br><br>The Division team was the prize winner in three nominations: “Network and system administration” – 3rd place, “Life cycle management” – 3rd place, “Engineering and designing” – 2nd and 3rd places. First place in “Engineering and designing” competence. First place in nomination “Machine learning and big data”. 
                    <br><br>
                    <strong><span class="block">
	<span class="hover">Worldskills</span>
	<span class="hidden">International non-commercial movement aimed at improving the profile and recognition of skilled people, developing professional education by harmonization of the best practices and professional standards all over the world by arrangement and conduct of professional skills contests.</span>
</span> Hi-Tech-2017 competition</strong>

                    <br><br>Winner in “Engineering and designing” competence is Maxim Mishin, engineer of JSC ASE EC.
                </div>

                <div class="headerPage blockLineLeftTxt mt-4">
                    In 2017, the first stage of certification of designers was performed, in order to determine the level of compliance/non-compliance of the specialist’s qualification with the established requirements to his/her position. 96.4 % of the certified specialists confirmed compliance with the current level of qualification.
                    <br>The share of promotion from the talent pool is – 43.8 %. 
                    <br>The share of protection of critically important positions of the top 1 000 – 79.2 %. 
                </div>
            </div>
        </div>
        <br>
        <strong>Interaction With Universities</strong>

        <div class="col-lg-11 col-md-10 col-sm-12">
            <img src="/img/university.jpg" style="width: 100%;">
        </div>

        <div class="col-lg-11 col-md-10 col-sm-12 mt-5">
            <img src="/img/university2.jpg" style="width: 100%;">
        </div>
    </div>
    
    <div class="mt-4">
        <div id="under">
            <strong>2.4.4. Social Policy Implementation</strong>
        </div>
        
        <p class="mt-4">The Social policy of the Engineering Division is aimed at increasing the attractiveness of the Division as an employer and increasing the efficiency of social expenditures.</p>
        <p>Special attention is paid to social support and material and non-material incentives aimed an enhancement of the employee’s interest in achieving high results.</p>
        <p>A special package is formed in accordance with Uniform Industry Social Policy.</p>
        
        <br>
        <small>
            <strong>Table 2.15. Expenses for social programs, thousand RUR</strong>
        </small>
        <table class="centerCol table table-borderless table-responsive">
            <tr>
                <th>Company</th>
                <th>2015 fact</th>
                <th>2016 fact</th>
                <th>2017 fact</th>
                <th>2017/2016, %</th>
                <th>2018, planned</th>
            </tr>
            <tr>
                <td>Social programs</td>
                <td>504 018.53</td>
                <td>447 065.85</td>
                <td>421 184.00</td>
                <td>- 5.79</td>
                <td>515 664.71</td>
            </tr>
            <tr>
                <td>Cultural and sports activities</td>
                <td>80 243.87</td>
                <td>72 701.76</td>
                <td>91 332.59</td>
                <td>25.63</td>
                <td>110 054.43</td>
            </tr>
        </table>

        <br>
        <small>
            <strong>Table 2.16. Expenses for health and safety of the personnel, thousand RUR*</strong>
        </small>
        <table class="centerCol table table-borderless table-responsive">
            <tr>
                <th>Company</th>
                <th>2015 fact</th>
                <th>2016 fact</th>
                <th>2017 fact</th>
                <th>2017/2016, %</th>
                <th>2018, planned</th>
            </tr>
            <tr>
                <td>JSC ASE EC</td>
                <td>155 388.54</td>
                <td>168 938.19</td>
                <td>222 514.49</td>
                <td>31.71</td>
                <td>253 204.00</td>
            </tr>
            <tr>
                <td>JSC ASE</td>
                <td>32 910.84</td>
                <td>12 963.72</td>
                <td>15 440.41</td>
                <td>19.1</td>
                <td>44 813.09</td>
            </tr>
            <tr>
                <td>JSC Atomenergoproekt</td>
                <td>141 017.12</td>
                <td>247 574.43</td>
                <td>137 393.97</td>
                <td>- 44.5</td>
                <td>131 311.00</td>
            </tr>
            <tr>
                <td>JSC ATOMPROEKT</td>
                <td>77 184.63</td>
                <td>61 343.77</td>
                <td>56 821.42</td>
                <td>-7.37</td>
                <td>73 309.00</td>
            </tr>
            <tr>
                <td>JSC NIKIMT-Atomstroy</td>
                <td>4 098.15</td>
                <td>4 843.94</td>
                <td>3 146.29</td>
                <td>-35.05</td>
                <td>4 872.94</td>
            </tr>
            <tr>
                <td>LLC Trest RosSEM</td>
                <td>0.00</td>
                <td>426.00</td>
                <td>454.05</td>
                <td>6.58</td>
                <td>1 706.96</td>
            </tr>
            <tr>
                <td>PJSC Energospezmontazh</td>
                <td>108.00</td>
                <td>83.20</td>
                <td>31.47</td>
                <td>- 62.18</td>
                <td>0.00</td>
            </tr>
            <tr>
                <th>Total in the Engineering division</th>
                <th>410 707.27</th>
                <th>496 173.25</th>
                <th>435 802.10</th>
                <th>-12.17</th>
                <th>509 216.99</th>
            </tr>
        </table>
        
        <p class="mt-4">A significant scope of work for organization of health care of the employees and members of their families is done by the administration jointly with the trade union committee. The companies organize cultural events for employees and their children, getaways for strengthening the health of employees and veterans. </p>
        <p>Over 2000 employees of the Engineering Division go in for sports. The Company’s employees are active participants of various sports competitions: athletic events, festivals, contests. There are sports clubs, rented swimming pools and gyms for futsal, volley-ball, hockey, badminton and other sports. The Division has good working relations with Atomsport sports society.</p>
        <p>A special support program is offered to employees in their search for further employment or career ending management in case or retirement. <span class="color_GOST">(GRI 404-2)</span></p>
    </div>
    
    <div class="mt-5">
        <div id="under">
            <strong>2.4.5. Occupational Health and Safety</strong>
        </div>

        <div class="row mt-5">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <p>The engineering Division demonstrates a systematic approach towards ensuring the safety of both the employees of the Company and employees of subsidiaries, affiliates and subcontractor companies.</p>
                <p class="text-focus">The Company’s priority goal is to ensure occupational health and safety of its employees</p>
                
                <h5 class="mt-4">To reach this goal, the Company:</h5>

                <ul class="mt-4">
                    <li class="mt-2">Develops and implements plans for improvement of the labor conditions and protection in accordance with the legislation of RF;</li>
                    <li class="mt-2">Ensures personal responsibility of the managers of all levels for the results of works in the field of labor protection;</li>
                    <li class="mt-2">Improves the system of labor protection management in accordance with the international system OHSAS 18001:2007;</li>
                    <li class="mt-2">Facilitates the motivation of all the employees of the Company, of subcontracting companies, subsidiaries and affiliates to ensure collective safety during work.</li>
                </ul>

                <p><span class="color_GOST">(GRI <span id="gri-403-3">403-3</span>)</span> The main risks of engineering, technical and managerial personnel of JSC ASE EC are related to danger of injuries when falling on a slippery surface. Significant risks in the field of occupational safety are concentrated at <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> sites where subcontractors work, the main potential hazard at <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> site is work at height. </p>
                
                <p>Measures for protection and improvement of labor conditions are taken annually in accordance with the labor legislation of the Russian Federation, a trilateral industry agreement for nuclear power and science, a collective agreement of JSC ASE EC, the approved plans of measures for preventing industry injuries and occupational diseases which includes providing special clothing and protective devices to the personnel, compulsory training on labor safety, ensuring safe conditions of labor at the working place.  </p>
                <p>Special attention is paid to regular medical examinations of the personnel who work in hazardous industrial conditions. Medical care of these employees is performed by territorial industry federal centers of the Federal Medical-Biological Agency of RF. During the reporting period, over 4,411 employees of the Division underwent medical examination (825 of them women).</p>
                <p>Every year managers and specialists undergo training and examination of their knowledge in labor protection, and workers are trained to provide first aid. In 2017, 1,658 managers and specialists of the Engineering Division underwent the relevant training.</p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="headerPage blockLineLeftTxt">
                    <strong>JSC ASE EC regulatory documents in the field of occupational safety</strong>
                    <p class="mt-4">The Company’s priority goal is to ensure occupational health and safety of its employees. The management guarantees the conditions and resources for implementation of occupational safety policy, ensuring professional safety and health of the employees, the management encourages all the employees to unite their efforts in reaching these goals. The occupational safety policy is recommended to all the subsidiary companies and subcontractors.</p>
                    <p class="mt-4">The interaction between JSC ASE EC with subcontractors at the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> sites is performed in the basis of concluded contracts which foresee the compliance with labor protection requirements. The main forms of preventive work in the field of labor protection are:</p>
                    
                    <ul class="mt-4">
                        <li>scheduled daily inspections of compliance with the labor protection requirements at the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> site and work places;</li>
                        <li>schedules comprehensive inspections of performance of labor protection measures; </li>
                        <li>Labor Protection Days at <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> sites and joint steering committee for occupational safety; </li>
                        <li>development of measures for preventing industrial injuries and compliance with the requirements for labor protection;</li>
                        <li>implementation of “Stimulus” program at the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> site for identification of the best subcontractor in the field of compliance with the labor protection requirements. </li>
                    </ul>
                    
                    <p class="mt-4">The efficiency of the labor protection system is confirmed by the absence of cases of occupational injuries (OI = 0) and occupational diseases (OD = 0).
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <p class="text-focus mt-4">Over 300 mln RUR were allocated for labor protection measures in the Engineering Division. </p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="headerPage blockLineLeftTxt">The introduction of LTIFR* – (Lost time injury frequency rate) parameter in the division made it possible to ensure efficient monitoring of injury rates for 100% of the employees of the companies of the Division and the subcontractors.</div>
            </div>
        </div>

        
        <img src="/img/events_security.jpg" style="width: 100%;">

        <h5 class="mt-4"><strong>In 2017:</strong></h5>
        
        <ul class="mt-4">
            <li class="mt-2">possible hazards and risks were identified;</li>
            <li class="mt-2">strategic goals in terms of safety and labor protection were set;</li>
            <li class="mt-2">programs for goal achievement were developed4</li>
            <li class="mt-2">complete involvement of the personnel into the valid labor safety system is ensured.</li>
        </ul>

        <p>The companies of the Division have adopted a Comprehensive plan of measures for ensuring occupational safety and prevention of injuries of the employees which contain measures for organization of inspections of compliance with the safety requirements by subcontractors, labor safety training, first aid methods, enhancing the role of labor safety service considering the necessity of supervision over labor safety during the performance of the works by subcontractors and affiliated companies at <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> sites.</p>
        
        <br>
        <small>
            <strong>Table 2.17. LTIFR – key efficiency parameter</strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <th></th>
                <th>2017 fact</th>
                <th>2018 plan (max level)</th>
            </tr>
            <tr>
                <td>LTIFR and reducing the severity of injuries at <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> sites, including the subcontractors.</td>
                <td>0.06 / 15 %</td>
                <td>0.32 / 20 %</td>
            </tr>
        </table>

        <h5 class="mt-4"><strong>Health and Safety at the Workplace</span></strong></h5>
        
        <p class="mt-4">JSC ASE EC has introduced and maintains labor protection and occupational safety management system which is confirmed by Certificate BS OHSAS 18001:2007 of International Certification authority DQS (valid until 30.07.2019).</p>
        
        <h5 class="mt-4"><strong>The main elements of labor protection and occupational safety management system:</strong></h5>
        
        <ul class="mt-4">
            <li>Policy in labor protection.</li>
            <li>Planning of labor protection management.</li>
            <li>Numerical methods of assessment of labor safety conditions.</li>
            <li>Efficiency parameters in labor safety management.</li>
            <li>Tools of labor protection management.</li>
            <li>Analysis of accidents at work. </li>
            <li>Administrative control over the OHS condition.</li>
            <li>Labor safety culture formation.</li>
        </ul>

        <h5 class="mt-4"><strong>Benefits from the introduction of the system:</strong></h5>
            
        <ul class="mt-4">
            <li>Elimination and/or mitigation of risks.</li>
            <li>Control over hazardous industrial factors.</li>
            <li>Prevention of incidents, accidents, emergencies.</li>
        </ul>

        <h5 class="mt-4"><strong>Target Inspections of the Contractors</strong></h5>

        <p class="mt-4">Demonstrative walk-downs of working places of subcontractors are organized at the Rostov, Kursk and Belarus <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> sites, within the framework of the accepted Typical Regulation on labor protection management system. The purpose of the demonstrative walk-downs is monitoring by the <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span> and the <span class="block">
	<span class="hover">General Contractor</span>
	<span class="hidden">Party to the contract which assigns performance of certain types and packages of work under the contract to specialized contracting organizations – subcontractors. The General Contractor is fully responsible to the <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span> for performance of the contractual work package and proper quality thereof, timely removal of defects and faults, etc.</span>
</span> of the general OHS status at workplaces of the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> site of the particular contractor, with the participation of its managers and OHS specialists in labor protection. Upon the results of inspections, the reasons of violations by employees of the labor protection requirements and rules are analyzed, the introduction new up-to-date technologies, equipment, automation or industrial processes is facilitated in order to create healthy and safe labor conditions.</p>

        <h5 class="mt-4"><strong>Issues of Health and Security are Stipulated in the Official Agreements with Trade Unions <span class="color_GOST">(GRI <span id="gri-403-4">403-4</span>)</span></strong></h5>

        <p class="mt-4">The obligations of the employer for arrangement of medical insurance and health care of the employees are foreseen in the collective agreement of the companies. The issues of labor protection and safety of the employees are reflected in a special section of the collective agreement. Representatives of the trade union are members of commissions for certification of the employees and working places, for investigation of accidents at work, for social issues, labor disputes and other commissions established for resolution of various issues of social and labor aspects.</p>
        <p>The employers provide information to the employees about the regulatory requirements to labor conditions at workplaces, about necessary and compulsory individual and collective protection means for disease prevention. All employees of the Company have access to medical examination, timely diagnosis and treatment of diseases. Flu inoculation of the employees is provided every year. Employees and their children are provided with guaranteed financial aid for paid medical services in case of severe diseases. Preventive treatment and sports events are arranged for the purpose of health maintenance.</p>

        <h5 class="mt-4"><strong>The Main Goals in the Field of Occupational Safety in 2018:</strong></h5>
        
        <ul class="mt-4">
            <li class="mt-2">Updating and circulation of labor protection management system in companies and branches in the whole management scope of JSC ASE EC.</li>
            <li class="mt-2">Implementation of the comprehensive plan of measures for ensuring safety and injury prevention.</li>
            <li class="mt-2">Assurance of target value of LTIFR at the level of 0.32 in all the companies that are part of the management scope of JSC ASE EC.</li>
        </ul>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="/js/echarts.min.js"></script>
    <script src="/js/chartsHumEn.js"></script> 

    <script src="/js/fm.revealator.jquery.min.js"></script>
{% endblock %}