<!doctype html>
<html lang="en">

<head>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter50397847 = new Ya.Metrika2({
                        id:50397847,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/50397847" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <title>{{title}}</title>
    {% include "./templates/inhead.html" %}
    <link rel="stylesheet" href="/css/fsp-sidepanel.css">
</head>

<body>
<div id="right-sidepanel" class="fsp-sidepanel fsp-sidepanel-right">
    <div class="container-fluid">
        <div class="row">
            <div id="close-sidepanel">&#10005;</div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#bookmarks-list" aria-expanded="false">
                    <strong>Favourites</strong>
                </a>

                <span id="delete-bookmarks">&#10006;</span>

                <ul class="collapse-content collapse" aria-labelledby="headingOne" id="bookmarks-list">
                    
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#history-list" aria-expanded="false">
                    <strong>History</strong>
                </a>

                <ul class="collapse-content collapse" aria-labelledby="headingOne" id="history-list">
                    
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="main" class="fsp-content">
    {% include "./templates/header.html" %}
    <div class="pdf">
        <div class="content">
            <div id="header">
                <div class="container-fluid header-text">
                    <div class="row">
                        <div class="col-12">
                            <div class="header-tagline">
                                <h1>
                                    Be<br> 
                                    digital
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="row header-bottom-btns">
                        <div class="col-6">
                            <div class="header-down-btn">
                                <a class="go-anchor" href="#aboutCompany">
                                    <img src="../../img/down-blue.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="buttons-bar">
                                <a href="javascript:void(0)" onclick="window.print()" title="Print"><div class="circle"><img src="../img/print.png" class="icon"></div></a>
                                <a href="/feedback" title="Feedback"><div class="circle"><img src="../img/call.png" class="icon"></div></a>
                                <a href="#">
                                    <div class="circle" id="link"><img src="../img/share.png" class="icon" title="Share">
                                        <div class="share">
                                            <a href="javascript:void(0)" onclick="Share.vkontakte()"><img src="../img/vk.png" class="linker"></a>
                                            <a href="javascript:void(0)" onclick="Share.mail()"><img src="../img/email.png" class="linker"></a>
                                            <a href="javascript:void(0)" onclick="Share.facebook()"><img src="../img/facebook.png" class="linker"></a>
                                            <a href="javascript:void(0)" onclick="Share.google()"><img src="../img/google.png" class="linker"></a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
    
                    <div class="row header-right-btns">
                        <div class="col-12">
                            <div class="right-btns">
                                <a href="#">
                                    <div id="bookmark">
                                        <img src="../img/bookmark.png" class="history-bkmrk">
                                        <div class="bookmark-additional">
                                            <a id="add-bookmark" href="javascript:void(0)" onclick="addBookmark()" title="Add to favourites"><img src="../img/bookmark_add.png" alt=""></a>
                                            <a id="open-bookmark" href="javascript:void(0)" title="Open favourites"><img src="../img/bookmark_show.png" alt=""></a>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div id="history">
                                        <a id="open-history" href="javascript:void(0)" title="Open history">
                                            <img src="../img/history.png" class="history-bkmrk">
                                        </a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content container-fluid index">
                <section id="aboutCompany">
                    <div id="tab-one" class="row tabs">
                        <div class="col-12 container center ">
                            <a class="title">About the Engineering Division</a>
                            <p class="mt-sm-4">Engineering Division is the center of engineering and design competencies of the nuclear industry. <br>This section presents the main characteristics of the Division and their subsidiaries.</p>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <div class="container white-tab">
                                <div>
                                    <p class="tab-digit">23</p>
                                    <p>countries of the world where the company runs business (in 2017)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <div class="container white-tab">
                                <div>
                                    <p class="tab-digit">33</p>
                                    <p>Number of power units in the portfolio (in 2017)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <div class="container white-tab">
                                <div>
                                    <p class="tab-digit">16 677</p>
                                    <p>Total Number of Employees (in 2017)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div id="tab-two" class="row tabs">
                    <div class="col-12 container center ">
                        <a class="title">Strategy</a>
                        <p class="mt-sm-4">The Division's Strategy is aimed at maintaining leadership in the NPP construction market and operational and financial sustainability.</p>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-12 ">
                        <div class="container green white-tab">
                            <p class="tab-digit">92.2</p>
                            <h6>
                                <p>
                                    bln <br>
                                    USD 
                                </p>
                            </h6>
                        </div>
                        <div class="row">
                            <div class="col-6"></div>
                            <div class="col-6">
                                <p>Portfolio of Overseas Orders (traditional products and diversification) (in 2017)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-12 ">
                        <div class="container purple white-tab">
                            <p class="tab-digit">91.9</p>
                            <h6>
                                <p>
                                    bln <br>
                                    RUR 
                                    
                                </p>
                            </h6>
                        </div>
                        <div class="row">
                            <div class="col-6"></div>
                            <div class="col-6">
                                <p>Portfolio of New Products (outside the scope of the Corporation) (in 2017)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-12 ">
                        <div class="container blue white-tab">
                            <p class="tab-digit mt-3">104.5% </p>
                        </div>
                        <div class="row">
                            <div class="col-6"></div>
                            <div class="col-6">
                                <p>Concern Rosenergoatom investment program index (in the scope of responsibility) (in 2017)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-three" class="row tabs">
                    <div class="col-12 container center ">
                        <a class="title">Business model and capitals’ management</a>
                        <p class="mt-sm-4">The Company's Business model is based on their long-term strategy and sustainable development of business. <br>This section schematically shows the Business model, describes the capitals and their dynamics.</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="container white-tab">
                            <p class="tab-digit">175.2</p>
                            <h3>
                                <p>bln RUR <br>Revenue (in 2017)</p>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="container white-tab">
                            <p class="tab-digit">+12.9%</p>
                            <h3><p>The growth of labour productivity (2017/2016)</p></h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="container white-tab">
                            <p class="tab-digit">3</p>
                            <h3>
                                <p>Power Units</p>
                                <p>physical start-up <br>(in 2017)</p>
                            </h3>
                        </div>
                    </div>
                </div>
                <div id="tab-four" class="row tabs">
                    <div class="col-12 container center ">
                        <a class="title">Engineering Division’s transformation to the Digital Company</a>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="container white-tab row">
                            <div class="col-auto p-1">
                                <div class="flag purple"></div>
                            </div>
                            <div class="col">
                                <p>The main laboratory of a digital economy was established</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="container white-tab row">
                            <div class="col-auto p-1">
                                <div class="flag blue"></div>
                            </div>
                            <div class="col row">
                                <div class="col-12">
                                    <p>Industrial and Technological Digital Platform</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="container white-tab row">
                            <div class="col-auto p-1">
                                <div class="flag green"></div>
                            </div>
                            <div class="col">
                                <p>New partners: Assystem SA, Limited Liability Company SAP CIS, Hilti Distribution Ltd. etc.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-four" class="row tabs">
                    <div class="col-12 container center ">
                        <a class="title">Engagement with stakeholders</a>
                        <p class="mt-sm-4">Engineering Division is pursuing to establish partnership and mutually advantageous relations with all the stakeholders. <br>This section lists the main principles of stakeholder’s engagement, the performance of interaction with Division’s stakeholders in the reporting period.</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12 ">
                        <div class="container  row">
                            <div class="col-auto p-1">
                                <div class="flag purple"></div>
                            </div>
                            <div class="col p-0">
                                <p class="tab-digit">3,678</p>
                                <p>Number of New Jobs (in 2017)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12 ">
                        <div class="container row">
                            <div class="col-auto p-1">
                                <div class="flag blue"></div>
                            </div>
                            <div class="col p-0">
                                <p class="tab-digit">274.3
                                    <span class="moneySize">mln RUR</span>
                                </p>
                                <p>invested in regions development <br>in the form of contributions (in 2017)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12 ">
                        <div class="container row">
                            <div class="col-auto p-1">
                                <div class="flag green"></div>
                            </div>
                            <div class="col p-0">
                                <p class="tab-digit">6,263
                                    <span class="moneySize">mln RUR</span>
                                </p>
                                <p>amount of tax payments (in 2017)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-five" class="row tabs">
                    <div class="col-12 container center ">
                        <a class="title">Information on the Report</a>
                        <p class="mt-sm-4">The Report was prepared in line with the best world reporting practices and meet the requirements of the International Integrated Reporting Standard (International &lt;IR&gt; Framework) and the Sustainable Reporting Standards of the Global Reporting Initiative (GRI SRS). <br>The section provides information on the scope of reporting, identifies material topics, lists the procedures for Report verification.</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="container white-tab">
                            <div>
                                <img class="tab-img" src="../../img/mainPage/16.png">
                            </div>
                            <div class="mt-sm-4">
                                <p>
                                    <span>Public reports:</span>
                                </p>
                                <ul>
                                    <li>Division’s Integrated Report,</li>
                                    <li>Division’s booklet for the year</li>
                                    <li>Reports of subsidiaries</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="container white-tab">
                            <div>
                                <img class="tab-img" src="../../img/mainPage/17.png">
                            </div>
                            <div class="mt-sm-4">
                                <p>
                                    <span>For the first time, a dialogue with the stakeholders was held at a construction site – at Novovoronezh NPP-2</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="container white-tab">
                            <div>
                                <img class="tab-img" src="../../img/mainPage/18.png">
                            </div>
                            <div class="mt-sm-4">
                                <p>
                                    <span>Determining materiality using the Rapid Foresight technology</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "./templates/footer.html" %}
        </div>
        {% include "./templates/footer.html" %}
    </div>
</div>


{% include "./templates/adds.html" %}
<script src="../js/share.js"></script>
<script src="../js/fsp-sidepanel.js"></script>
<script src="../js/bookmark.js"></script>
<script src="../js/history.js"></script>
</body>

</html>