{% extends "en/templates/page.html" %}

{% block link %}
    <link rel="stylesheet" href="/css/info_about_report.css">
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Table of Contents /</small></a></li>
    <li class="active"><small><strong>Information on the Report</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/info_report.jpg);
{% endblock %}

{% block  titleText %}
    Information on the Report
 {% endblock %}

{% block  subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-52">102-52</a></span>
            <span class="hidden-gri">Reporting cycle</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-51">102-51</a></span>
            <span class="hidden-gri">Date of publication of the last report</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-54">102-54</a></span>
            <span class="hidden-gri">The option of preparing a report "in accordance with" GRI standards, selected by the organization</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-50">102-50</a></span>
            <span class="hidden-gri">Reporting period</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-45">102-45</a></span>
            <span class="hidden-gri">List of legal entities whose statements have been included in the consolidated financial statements</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-49">102-49</a></span>
            <span class="hidden-gri">Changes in the list of significant topics and the scope of disclosure</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-32">102-32</a></span>
            <span class="hidden-gri">The role of the highest governance body in sustainable development reporting</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-46">102-46</a></span>
            <span class="hidden-gri">Definition of the content and boundaries of the Report</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-47">102-47</a></span>
            <span class="hidden-gri">List of Subject Topics</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-49">102-49</a></span>
            <span class="hidden-gri">Changes in the list of significant topics and the scope of disclosure</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-56">102-56</a></span>
            <span class="hidden-gri">External assurance</span>
        </span>
    </li>
</ul>
{% endblock %}

{% block content %}
    <p>The annual public report for 2017 (hereinafter – the Report) of the Rosatom State Corporation Engineering Division (Engineering Division, Division, Company) discloses financial and non-financial results of theperformance in the reporting year. The report is issued in Russian and English.</p> 
    <p><span class="color_GOST">( GRI <span id="gri-102-52">102-52</span> )</span> The integrated annual report is issued on an annual basis. This is the third report for the Division and the tenth report for JSC ASE EC. Following the results of 2017, the integrated report of the Division, a booklet (short report) of the Division according to the results of the year, reports of subsidiaries have been issued.</p>
    <p>High-priority topics of the Report were determined in the course of a dialogue on the determination of significant issues by JSC ASE EC management together with the key stakeholders’ representatives.</p>
    <p>New items "Materials" and "Training" and "Education" were included in material topics of the Report, while Procurement practices,  Environmental Compliance and Supplier Environmental Assessment were excluded from the report.</p>
    <p>The report is prepared in compliance with GRI principles.</p>
    
    <p class="text-focus">
        High-priority topics of the Report – “Digital Transformation of the Engineering Division” and “Training and Professional Development of the Personnel under the Conditions of Digital Transformation”.
    </p>

    <h4><br><strong>Standards and Regulations</strong></h4>

    <br>The Report is developed according to the following regulatory documents.
    <strong class="mt-4">International standards and guidelines</strong>
    <ul class="mt-4">
        <li><a href="https://www.accountability.org/">АА1000 series standards (Institute of Social and Ethical AccountAbility).</a></li>
        <li><a href="https://www.globalreporting.org/standards/">Global Reporting Initiative Sustainability Reporting Standads<span class="color_GOST">(GRI SRS)</span></a></li>
        <li>
            <a href="http://integratedreporting.org/wp-content/uploads/2015/03/13-12-08-THE-INTERNATIONAL-IR-FRAMEWORK.docx_en-US_ru-RU.pdf ">
                Integrated Reporting International Standard (International < IR > Framework).
            </a>
        </li>
    </ul>

    <br><strong>Regulatory and legal framework of the Russian Federation.</strong>
    <ul class="mt-4">
        <li><a href="http://www.consultant.ru/document/cons_doc_LAW_8743/">Federal Law No. 208-FZ dated. 26.12.1995 “On Joint Stock Companies”.</a></li>
        <li><a href="http://www.garant.ru/products/ipo/prime/doc/70540276/">Letter by the Bank of Russia No.06-52/2463 dd. 10.04.2014 “On the corporate management code”.</a></li>
        <li><a href="http://www.consultant.ru/document/cons_doc_LAW_48699/bda4d01aecaa4df483db7ad5f9db6d49f3c1d535/">Federal Law No. 5485-1-FZ dd. 21.07.1993 "On state secret".</a></li>
        <li><a href="http://www.consultant.ru/document/cons_doc_LAW_48699/bda4d01aecaa4df483db7ad5f9db6d49f3c1d535/">Federal Law No.98-FZ dd. 29.07.2004 "On Commercial Secret".</a></li>
        <li><a href="https://www.alta.ru/tamdoc/06fz0149/">Federal Law No. 149-FZ dated 27.07.2006 “On information, information technologies and information security”.</a></li>
        <li><a href="http://base.garant.ru/70103036/">Federal Law No. 402-FZ of 06.12.2011 “On accounting”.</a></li>
    </ul>

    <br><strong>Rosatom State Corporation Regulatory documents</strong>
    <ul class="mt-4">
        <li><a href="http://www.rosatom.ru/upload/iblock/dde/ddea55cbbbfb210c4bf49d1e4e71b095.pdf">Policy of Rosatom State Atomic Energy Corporation in the area of public accountability.</a></li>
        <li><a href="http://www.rosatom.ru/upload/iblock/0c8/0c807dadd9b79d4bc5776122903d6b8a.pdf">Public annual reporting model standard for Rosatom State Atomic Energy Corporation’s key organizations (in view of public accountability).</a></li>
        <li><a href="http://www.rosatom.ru/social-respons/code-of-ethecs/">Ethical code of the Rosatom State Atomic Energy Corporation.</a></li>
    </ul>

    <br><strong>Regulatory documents of the Engineering Division</strong>
    <ul class="mt-4">
        <li><a href="../../file/комиссия.pdf" target="_blank">Regulation on JSC ASE EC Stakeholders Commission.</a></li>
        <li><a href="../../file/комитет.docx" target="_blank">Regulation on JSC ASE EC Public Accountability Committee.</a></li>
        <li>Company standard STO 8841271.012–2016 “Procedure for elaboration of the Rosatom State Atomic Energy Corporation’s public annual report for the reporting period”.</li>
    </ul>

    <div id="inform"><strong><br>Level of Application of GRI Guideline <span class="color_GOST">(GRI <span id="gri-102-54">102–54</span>)</span></strong></div>
    <br>This report has been prepared in accordance with the GRI Standards: Comprehensive option.

    <em><p>GRI Content Index, table of compliance with Standard < IR > see in <a href="../../appendixEn/1.pdf" target="_blank">Appendix 1</a> of the Book of Appendices.</p></em>

    <h4><br><strong>Report Scope</strong><br><br></h4> 

    <p><span class="color_GOST">(GRI <span id="gri-102-50">102-50</span>)</span> This Report summarizes the Division performance from 01.01.2017 to 31.12.2017.</p>
    <p>According to the minutes of the meeting of the public report Committee- Division news from 01.11.2017 in p. 3 the basic contour of the consoligali defined as "JSC ASE", JSC ASE EC, JSC "Atomenergoproekt", JSC "ATOMPROEKT", their affiliated organizations and other organizations in the contour of management of JSC ASE EC with a planned revenue of more than 2 bln RUR or numbering 2 thousand people.</p>
    <p>The company can change The report Boundaries depending on the topic to be disclosed.</p>
    <p>The boundaries of each material topic was established by officials in charge of this subject management. The boundaries of reporting is determined according to the list of organizations within the Division’s framework.</p> 
    <p>Accounting (financial) reporting of JSC ASE EC, JSC ASE, JSC Atomenergoproekt, JSC Atomproekt, PJSC Energospezmontazh, JSC NIKIMT- Atomstroy, was prepared in accordance with RAS placed at Interfax web-site:</p>
    <ul>
        <li><a href="http://www.e-disclosure.ru/portal/company.aspx?id=19054">JSC ASE EC</a>,</li>
        <li><a href="http://www.e-disclosure.ru/portal/company.aspx?id=36765">JSC ASE</a>,</li>
        <li><a href="http://www.e-disclosure.ru/portal/company.aspx?id=19524">JSC Atomenergoproekt</a>,</li>
        <li><a href="http://www.e-disclosure.ru/portal/company.aspx?id=20205">JSC ATOMPROEKT</a>,</li>
        <li><a href="http://www.e-disclosure.ru/portal/company.aspx?id=25762">PJSC Energospezmontazh</a>,</li>
        <li><a href="http://www.e-disclosure.ru/portal/company.aspx?id=26995">JSC NIKIMT-Atomstroy</a>.</li>
    </ul> 
    <p><span class="color_GOST">(GRI <span id="gri-102-45">102-45</span>, <span id="gri-102-49">102-49</span>)</span> As compared to the previous reporting period, the consolidation framework was not changed. Starting from 2015, consolidated financial management indicators are generated on the basis of eleven FRCs (Financial Responsibility Centers): JSC ASE EC, JSC ASE, JSC Atomenergoproekt, JSC ATOMPROEKT and seven organizations within the management framework (ASE-Engineering LLC, NUKEM Technologies GmbH, NIAEP-Service LLC, Trest Rosspetsenergomontazh LLC, Nukem Technologies Engineering Services GmbH, JSC NIKIMT Atomstroy, JSC Energospezmontazh).</p>  
    <p>In some sections of the Report part of indicators is given by organizations that have a significant impact – the specific aspect of the Company's activities. In such cases, the consolidation perimeter is described separately.</p>
    <p><span class="color_GOST">(GRI <span id="gri-102-51">102-51</span>)</span> Integrated Engineering Division's annual report for the previous year (2016) published on the website Company 30.05.2017 G.</p>

    <h4><br><strong>Information about the Auditor</strong></h4>
    <br>
    <p>Audit of accounting reporting of JSC ASE EC, JSC ASE, JSC Atomenergoproekt, JSC Atomproekt, PJSC Energospezmontazh, JSC NIKIMT- Atomstroy was performed by Nexia Pacoli LLC.</p>
    <p>Address: 119180, Moscow, Malaya Polyanka, 2, tel. +7 (495) 640 64 52, fax +7 (495) 640 64 53, e-mail: pacioli@pacioli.ru.</p>
    <p>Certificate of the state registration No. 856.235 of the Moscow Registration Chamber dated 23.06.1995, entered into the Uniform State Register with No. 1027739428716 issued by the Moscow Interdistrict Tax Inspectorate № 39 of the Ministry of Taxes and Levies on 22.10.2002.</p>
    <p>Membership in the self-regulatory organization of auditors – Member of Self-regulatory Organization of Auditors Association “Sodruzhestvo” (included into the list of auditors and auditing organizations Sodruzhestvo on 28.10.2016).</p>
    <p>The Report comprises target and estimated parameters in view of short-, mid- and long-term forecasts. The timing of plans/forecast disclosure in terms of separate indicators depends on the degree of confidentiality of information.</p>
    
    <h4><br><strong>Responsibility for Report Elaboration</strong></h4>
    <br>
    <p><span class="color_GOST">(GRI <span id="gri-102-32">102-32</span>)</span> The report approved by President of JSC ASE EC and by chief accountant of JSC ASE EC, the Board of Directors of JSC ASE EC, the Board of Directors of JSC ASE, the Board of Directors of JSC Atomenergoproekt, the decision of the sole shareholder of JSC ATOMPROEKT.</p>
    
    <h4><br><strong>Defining of the Report Content</strong></h4>
    <br>
    <p><span class="color_GOST">(GRI <span id="gri-102-46">102-46</span>)</span> <em>Materiality determination process</em>
    <p>During the report preparation, the material topics to be reflected in the report were identified. The works were performed as part of the communication with stakeholders based on Rapid Foresight technology. Materiality foresight has been arranged in accordance with the GRI and International < IR > Framework procedures for defining the report content.</p> 
    <p><strong>The priority issues of the Report are defined by JSC ASE EC management and stakeholders' representatives in due course of material issues identification. The priority issues of the Report are as follows:</strong></p>
    <ul>
        <li><strong>transformation of the Engineering Division of Rosatom State Corporation into a digital company;</strong></li>
        <li><strong>training and professional development of the personnel of the Company under the conditions of digital transition.</strong></li>
    </ul>

    <p>GRI index include information about 90 GRI indicators as per essential issues.</p>

    <br><span class="color_GOST">(GRI <span id="gri-102-47">102-47</span>)</span>
    
    <br><br><strong>Materiality Matrix</strong>
    <div>
        <small class="color_GOST">*Aim at a factor for more information.</small>
    </div>

    <div class="row">
        <div class="col-12">{% include "./table_info_about.html" %}</div>
    </div>
    
    <h4><br><strong>Report Verification</strong></h4> 
    <br>   
    <p><span class="color_GOST">(GRI <span id="gri-102-56">102-56</span>)</span> An independent auditor NP Consult, LLC was involved in verification of the non-financial information in the Report. Conclusion is provided in <a href="../../appendixEn/3.pdf" target="_blank">Appendix 3</a> of the Book of Appendices.</p>
    <p>The Report was subject to public/stakeholder verification procedures aimed at checking of materiality and completeness of the reporting data and the Company's response to stakeholders' requests. 
        <em>Conclusion is provided in chapter
            <a href="/conclusion">
                “Conclusion on the Public Assurance of the Report”
            </a>
            .
        </em>
    </p>
    <p>The Report was subject to public/expert assurance by Non-Financial Reporting Board of the Russian Union of Industrialists and Entrepreneurs and Russian Integrated Reporting Network.  Conclusion is provided in <a href="../../appendixEn/4.pdf" target="_blank">Appendices 4</a> and <a href="../../appendixEn/5.pdf" target="_blank">5</a> of the Book of Appendices.</p>
    <p>An internal audit of the process of elaboration of integrated public annual report of the Engineering Division was performed. The conclusion of the Internal Audit is provided in <a href="../../appendixEn/2.pdf" target="_blank">Appendix No. 2</a> of the book of Appendices.</p>
    
    <h4><br><strong>Disclaimer on Disclosure of Forecast Data</strong></h4>
    <br>
    <p>The Report contains statements of forecast nature with regard to production, financial, economic, social and other indicators characterizing the further development of the Company. Implementation of plans and intentions depends on the changing political, economic, social and legal situation in Russia and worldwide. In this connection, the actual performance results in the subsequent reports may differ from the forecasted ones.</p>
{% endblock %}

{% block scripts %}
    <script src="/js/about_report.js"></script>
{% endblock %}