{% extends "en/templates/page.html" %}

{% block link %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Table of Contents /</small></a></li>
    <li class="active"><small><strong> Highlights 2017</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/interactive.jpg);
{% endblock %}

{% block  titleText %}
    Highlights 2017
{% endblock %}

{% block  subtitleText %}
{% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div>
                <center><small class="color_GOST">*Hover on the chart for more information</small></center>
            </div>
            <div id="charts">
                <div class="col-lg-12 col-md-12 col-sm-12" id="ChartA" style="height: 400px;"></div>
            </div>
            
            <br>
            <h4><strong>The graph</strong></h4>
            <form id="radioForm">
                <input type="radio" id="radio_1" name="type" value="1" checked onclick="switchToLine()">
                <strong>Line graph</strong><br>
                <input type='radio' id='radio_2' name='type' value='2' onclick="switchToBar()">
                <strong>Histogram</strong>
            </form>
            <br>
            <form id="inputForm">
                <input type="checkbox" id="iai-1" value="1" checked="">
                <strong>
                    <label for="iai-1">
                        <div class="block">
                            <div class="hover">10-year Portfolio of Overseas Orders (traditional products and diversification), bin USD</div>
                            <span class="hidden">The dynamics is the consequence of the signature of contracts under new projects and implementation of the current contracts.In mid-term contractation of new powerful NPP is planned driving project portfolio up.</span>
                        </div>
                    </label>
                </strong><br>
                
                <input type="checkbox" id="iai-2" value="2" >
                <strong>
                    <label for="iai-2">
                        <div class="block">
                            <div class="hover">10-year Portfolio of New Products* (outside the scope of the Corporation), bin RUR</div>
                            <span class="hidden">A new product (business) – this is a product out of the scope of the complex offer to supply a nuclear power plant and research reactors, as well as Defense Procurement implementation. In 2015–2016 new products revenue and portfolio value was calculated taking into account intracompany balance, since 2017 only the volumes out of the Rosatom State Corporation scope (external customers) are considered. Due to this, the data for 2015–2016 in this report is re-calculated and demonstrates the total volume of new products revenue and portfolio only beyond the scope of Rosatom State Corporation.</span>
                        </div>
                    </label>
                </strong><br>

                <input type="checkbox" id="iai-3" value="3" >
                <strong>
                    <label for="iai-3">
                        <div class="block">  
                            <div class="hover">Revenue, bin RUR</div>
                            <span class="hidden">The revenue growth is related to work implementation under new projects in 2017 (e.g., El-Dabaa NPP, Paks II NPP, Bushehr-2 Power Units No. 2 and 3) and performance of a significant work scope at Belarus NPP which is currently in the active construction phase.</span>
                        </div>
                    </label>
                </strong><br>

                <input type="checkbox" id="iai-4" value="4" >
                <strong>
                    <label for="iai-4">
                        <div class="block">
                            <div class="hover">EBITDA, bin RUR</div>
                            <span class="hidden">Parameter of 2016 is indicated taking into account compensation for losses on Belene NPP (Bulgaria), in brackets, the parameter is specified without considering the compensation for losses on Belene NPP. Dynamics is shown to the parameter net of compensation.</span>
                        </div>
                    </label>
                </strong><br>

                <input type="checkbox" id="iai-5" value="5" >
                <strong>
                    <label for="iai-5">
                        <div class="block">    
                            <div class="hover">CAPEX, bin RUR</div>
                            <span class="hidden">Financing of investment projects in 2017 was implemented at the expense of the consolidated investment resource of Rosatom State Corporation.</span>
                        </div>
                    </label>
                </strong><br>

                <input type="checkbox" id="iai-6" value="6" >
                <strong>
                    <label for="iai-6">
                        <div class="block">
                            <div class="hover">Labour Productivity (in terms of proper revenue), mln RUR/capita</div>
                            <span class="hidden">The growth of labour productivity was caused by implementation of RPS-projects and introduction of advance technologies of construction and project management as well as growth of the scope of works performed using own resources.</span>
                        </div>
                    </label>
                </strong><br>

                <input type="checkbox" id="iai-7" value="7" >
                <strong>
                    <label for="iai-7">
                        <div class="block">   
                            <div class="hover">Number of Power Units in the Portfolio</div>
                            <span class="hidden">The number of power units in the Company portfolio remained the same, however, at the beginning of 2017, Kudankulam NPP was put to commercial operation, and Power Unit No. 1 of Novovoronezh NPP-2 was commissioned. In July 2017, new contracts for works under the third stage of Kudankulam NPP were signed, the project of construction of Units No. 5 and 6 has entered the stage of actual implementation.</span>
                        </div>
                    </label>
                </strong><br>
    
                <input type="checkbox" id="iai-8" value="8" >
                <strong>
                    <label for="iai-8">
                        <div class="block">
                            <div class="hover">Expenditures for Environmental Protection Measures, mln RUR</div>
                            <span class="hidden">In 2017, the growth of expenses was related mainly to increased costs of industrial environmental monitoring and the necessity to re-issue permitting documentation in the sphere of environmental protection. </span>
                        </div>
                    </label>
                </strong><br>
                <br>

                <h4><strong>Consumption of Power Resources.</strong></h4>
                <input type="checkbox" id="iai-9" value="9" >
                <strong>
                    <label for="iai-9">
                        <div class="block">
                            <div class="hover">Electrical Power, GWh</div>
                            <span class="hidden">Reduced consumption of energy resources in 2017 was related to commissioning at the end of 2016 of energy conservation equipment and favorable weather conditions during the heating season.</span>
                        </div>
                    </label>
                </strong><br>
                <input type="checkbox" id="iai-10" value="10" >
                <strong>
                    <label for="iai-10">
                        <div class="block">
                            <div class="hover">Thermal Power, TJ</div>
                            <span class="hidden">Reduced consumption of energy resources in 2017 was related to commissioning at the end of 2016 of energy conservation equipment and favorable weather conditions during the heating season.</span>
                        </div>
                    </label>
                </strong><br>
                <br>

                <h4><strong>Volume of waste</strong></h4>
                <input type="checkbox" id="iai-11" value="11" >
                <strong>
                    <label for="iai-11">
                        <div class="block">
                            <div class="hover">Total volume of waste, tons</div>
                            <span class="hidden">In 2017, the total volume of generated waste decreased, including waste of hazard classes IV and V that are removed to waste disposal area. Reduction of the generated waste volume is related to completion of works and commissioning of Rostov NPP Power Unit No. 4.</span>
                        </div>
                    </label>
                </strong>
                <br>
                
                <input type="checkbox" id="iai-12" value="12" >
                <strong>
                    <label for="iai-12">
                        <div class="block">
                            <div class="hover">Average Staff, pers.</div>
                            <span class="hidden">
                                The factors that influenced the increase of employees number in 2017:
                                <ul>
                                    <li> transfer to active phase of construction of Rooppur NPP, Bushehr-2 NPP, Kursk NPP-2, increase of work scope at the NPPs that are already in the active phase of construction (e.g., Belarus NPP);</li>
                                    <li>enhancing the competence of employees of the foreign projects designing division;</li> 
                                    <li>development of the Department of system engineering and IT within the digital transformation of the Engineering Division (3 per cent of the total increase in manpower) </li>
                                </ul>
                            </span>
                        </div>
                    </label>
                </strong><br>
                <input type="checkbox" id="iai-13" value="13" >
                <strong>
                    <label for="iai-13">
                        <div class="block">
                            <div class="hover">Total Number of Employees as of December 31 of Each Year, pers.</div>
                            <span class="hidden">
                                The factors that influenced the increase of employees number in 2017:
                                <ul>
                                    <li> transfer to active phase of construction of Rooppur NPP, Bushehr-2 NPP, Kursk NPP-2, increase of work scope at the NPPs that are already in the active phase of construction (e.g., Belarus NPP);</li>
                                    <li>enhancing the competence of employees of the foreign projects designing division;</li> 
                                    <li>development of the Department of system engineering and IT within the digital transformation of the Engineering Division (3 per cent of the total increase in manpower) </li>
                                </ul>
                            </span>
                        </div>
                    </label>
                </strong><br>
                
                <input type="checkbox" id="iai-14" value="14" >
                <strong>
                    <label for="iai-14">
                        <div class="block">
                            <div class="hover">Number of New Jobs, pcs</div>
                            <span class="hidden">
                                The factors that influenced the increase of employees number in 2017:
                                <ul>
                                    <li> transfer to active phase of construction of Rooppur NPP, Bushehr-2 NPP, Kursk NPP-2, increase of work scope at the NPPs that are already in the active phase of construction (e.g., Belarus NPP);</li>
                                    <li>enhancing the competence of employees of the foreign projects designing division;</li> 
                                    <li>development of the Department of system engineering and IT within the digital transformation of the Engineering Division (3 per cent of the total increase in manpower) </li>
                                </ul>
                            </span>
                        </div>
                    </label>
                </strong><br>

                <input type="checkbox" id="iai-15" value="15" >
                <strong>
                    <label for="iai-15">
                        <div class="block">
                            <div class="hover">Average Age of Employees, years</div>
                            <span class="hidden">The average age of the Division’s employees has been under 42 years for the last three years, and it demonstrates a tendency towards decreasing. This is caused by consistent attraction of young specialists with competences in the field of digital technologies, knowledge of foreign languages who are ready to perceive the experience and learn to take decisions in a responsible manner.</span>
                        </div>
                    </label>
                </strong><br>

                <input type="checkbox" id="iai-16" value="16" >
                <strong>
                    <label for="iai-16">
                        <div class="block">
                            <div class="hover">Salary and Other Benefits per one Employee, mln RUR</div>
                            <span class="hidden">The calculation was made on the basis of average headcount of the employees. The growth is caused, among other things, by annual wages indexation due to increase of consumer prices for goods and services.</span>
                        </div>
                    </label>
                </strong><br>
            </form>
        </div>
    </div>
    
{% endblock %}

{% block scripts %}
    <script src="/js/fm.revealator.jquery.min.js"></script>
    <script src="/js/echarts.min.js"></script>
    <script src="/js/chartsInteractiveEn.js"></script> 
{% endblock %}