{% extends "en/templates/page.html" %}

{% block link %}
    <link rel="stylesheet" href="/css/table.css">
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Table of Contents /</small></a></li>
    <li><a href="#"><small>CHAPTER 2 /</small></a></li>
    <li class="active"><small><strong> 2.3.</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/2.3.jpg);
	background-position-y: 55%;
{% endblock %}

{% block  titleText %}
    2.3. Intellectual Capital
{% endblock %}

{% block  subtitleText %}
{% endblock %}

{% block content %}
        <div class="blockLineLeftTxt mt-4">
            <p class="txtHead">The intellectual capital of the Division includes intangible assets, such as knowledge, technology and intellectual property. Intellectual capital is of fundamental importance for innovation and achievement of the strategic goals of the Division. Intellectual capital management includes contributions to the development of new and improvement of the existing technologies, preservation and enhancement of accumulated professional knowledge, innovative developments, <span class="block">
	<span class="hover">R&D</span>
	<span class="hidden">Research and development</span>
</span> and patenting of developments.</p>
        </div>

    <div class="row mt-4">
        <div class="col-lg-4 col-md-4 col-sm-12 bossPhoto" style="background-image: url(../img/аленьков.jpg); background-position-x: 40%;"></div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            
            <h5><strong>Vyacheslav Alenkov,
            <br>Director of System <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span>
            <br>and IT</strong></h5>

            <br><strong>What are the quantitative parameters and the efficiency of application of Multi-D technology in 2017?</strong>
            <em class="directSpeech"><p class="mt-4">&#8211; The <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division is using 40 modules of the unified information space integrated into the Multi-D technology, including the technology of comprehensive informational modeling taking into account the requirements of configuration and variation management. This technology has been implemented and is being actively used at nine <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> sites in Russia and abroad allowing us to comply with the <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>'s requirements under the <span class="block">
	<span class="hover">EPC</span>
	<span class="hidden-gri">Companies implementing a project on a turn-key basis. The functions of <span class="block">
	<span class="hover">EPC</span>
	<span class="hidden-gri">Companies implementing a project on a turn-key basis. The functions of EPC companies include designing, procurement and <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>.</span>
</span> companies include designing, procurement and <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>.</span>
</span> contracts in terms of development and submittal of the information model, reducing the time of approval of documentation by the <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>.</p>
            <p>Some digital products, like Multi-D IMS or Multi-D Integrated Schedule are supplied on the out-of-the-industry markets. E.g., a contract has been concluded for supply of Multi-D IMS to France, and a contract for introduction of Multi-D Integrated Schedule for the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of a high-speed railway Moscow – Kazan, has been implemented. </p></em>

            <br><strong>What are the advantages of Multi-D technology as a flagship project of the nuclear industry in the field of digitalization?</strong>
            <em class="directSpeech"><p class="mt-4">&#8211; We believe the main advantage of Multi-D technology is a comprehensive approach to the management of complex <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> facilities. Our experience in the introduction of new technologies of informational modeling and information management has shown us that it is not sufficient just to introduce the new software. The introduction of up-to-date technologies entails changes of business-processes of the company, it requires significant enhancement of the personnel competence in terms of their work in digital environment. Multi-D is not just an IT tool offered by a vendor. This is primarily a project management methodology established on the basis of the vast experience of ASE Group of Companies in management of complex capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> facilities, applied within an integrated IT-approach. Rendering services for the introduction of Multi-D, we offer an integrated approach: the analysis of the current project management system of the <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>, recommendations for process optimization, services for configuration of the tools in accordance with the <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>’s specific requirements, a package of training and consulting materials, etc. In brief, we offer to our <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>s a conceptually new standard of project management on the basis of Multi-D technology which makes it possible to implement complex capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> projects within the established deadlines and budget, with proper quality.</p></em>

            <br><strong>What are the possibilities of Multi-D technology in other industries?</strong>
            <em class="directSpeech"><p class="mt-4">&#8211; We believe that Multi-D technology is sufficiently universal and can be used outside the nuclear industry. As I mentioned earlier, this is an aggregate of methodology of business-processes, models, data bases, software solutions that makes it possible to manage the complete cycle of a capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> facility and create a unified information space for a formalized and legitimate interaction of specialists involved in designing, <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> and operation of the facility.</p>
            <p>The next logical step of development of Multi-D technology is the development on its basis of an industrial and IT platform of capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> facility management. It will be an absolutely universal solution without any link to the industry, which we will implement within the framework of the program “<span class="block">
                    <span class="hover">Digital Economy</span>
                    <span class="hidden">
                        Economy based on new methods of generation, collection, processing, storage, analysis and transfer of data and new digital technologies:
                            <br>&ndash; Robot technology.
                            <br>&ndash; Cyber physical systems.
                            <br>&ndash; Industrial Internet of things.
                            <br>&ndash; Communication networks of 5th generation.
                            <br>&ndash; Additive technologies.
                            <br>&ndash; Cognitive technologies.
                            <br>&ndash; Artificial intelligence.
                            <br>&ndash; Machine learning.
                            <br>&ndash; Big Data.
                            <br>&ndash; Block chain.
                            <br>&ndash; Multimachine systems.
                    </span>
                </span> of the Russian Federation”.</p></em>
        </div>
    </div>

    <div id="under" class="mt-4"><strong>2.3.1. Patenting of Intellectual Deliverables</strong></div>

    <p class="mt-4">Within the frames of the international patenting of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> technologies with VVER reactor plant, 106 national and regional applications for inventions abroad were submitted. Three investment projects related to the legal protection assurance of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division organizations technologies abroad for the period up to 2022 were developed and approved.</p>

    <br><small>Table 2.8. Patenting in the Russian Federation</small>
    <table class="table table-borderless table-responsive tableCenter textCenter middleTable">
        <thead>
            <tr>
                <th>Applications</th>
                <th>2015</th>
                <th>2016</th>
                <th>2017</th>
            </tr>
        </thead>
            <tbody>
                <tr>
                    <td>Submitted applications for receipt of patents for inventions, utility models, industrial samples</td>
                    <td>3</td>
                    <td rowspan="2"><strong>46</strong></td>
                    <td>21</td>
                </tr>
                <tr>
                    <td>Submitted applications for state registration of computer software and data bases</td>
                    <td>10</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td colspan="4"><strong>Received protection documents</strong></td>
                </tr>
                <tr>
                    <td>Inventions, utility models, industrial design</td>
                    <td>2</td>
                    <td rowspan="2">47</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Computer programs and databases</td>
                    <td>22</td>
                    <td>26</td>
                </tr>
                <tr>
                    <td>Number of inventions and utility models</td>
                    <td>2</td>
                    <td>6</td>
                    <td>21</td>
                </tr>
                <tr>
                    <td colspan="4"><strong>Know-how</strong></td>
                </tr>
                <tr>
                    <td>Production secrets (know-how) have been registered</td>
                    <td>-</td>
                    <td>7</td>
                    <td>3</td>
                </tr>
            </tbody>
    </table>

    <p class="mt-4">The purpose of patenting is to provide legal protection for intellectual deliverables (ID) within the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> technology with VVER <span class="block">
	<span class="hover">RP</span>
	<span class="hidden">Reactor plan</span>
</span> in the countries of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>. When submitting documentation to a foreign <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>, Rosatom ensures patenting of protectable solutions, which are disclosed in the documentation.</p>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <br><small>Table 2.9. Patenting abroad</small>
            <table class="table table-borderless table-responsive tableCenter middleTable">
                <thead>
                    <tr>
                        <th>Applications</th>
                        <th>2015</th>
                        <th>2016</th>
                        <th>2017</th>
                    </tr>
                </thead>
                <tr>
                    <tbody>
                        <tr>
                            <td>Submitted national and regional applications (34 countries of the world)</td>
                            <td>-</td>
                            <td>20</td>
                            <td>106</td>
                        </tr>
                        <tr>
                            <td>Submitted international applications in accordance with PCT procedure</td>
                            <td>4</td>
                            <td>3</td>
                            <td>10</td>
                        </tr>
                    </tbody>
            </table>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-0"></div>
    </div>
    
    <div id="under" class="mt-5"><strong>2.3.2. Innovation Projects Launched in 2017</strong></div>
    
    <div class="row mt-4">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h4 class="titlePage mt-4">Conceptual Design of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> Information Model at the Operation Stage</h4>
            <p class="mt-4">In order to develop a conceptual design for the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> information model (IM), the project of Leningrad <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>-2 was chosen as the subject area at the stage of operation, and the platform based on the Autodesk product line was used as the basic software solution for the project implementation.</p>
            
            <br><strong>In 2017:</strong>

            <ul>
                <li class="mt-2">concepts of new optional-package solutions for the needs of operating organizations were developed;</li>
                <li class="mt-2">analysis of feedback, assessments, requirements and proposals of operating organizations in terms of the information platforms being implemented was carried out;</li>
                <li class="mt-2">new automatic design systems requiring fewer resources for the development of the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> 3D model for the operational stage, were tested;</li>
                <li class="mt-2">options of the required specification of models were worked out;</li>
                <li class="mt-2">a methodological basis for the implementation of the action plan to develop a full-fledged IM of the entire <span class="block">
	<span class="hover">power unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> was developed;</li>
                <li class="mt-2">a number of practical recommendations aimed at improving the IM quality and increasing the effectiveness of information interaction of various participants in the IM generation at all stages of the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> life cycle;</li>
                <li class="mt-2">the possible ways of application of the augmented reality in the industry were considered.</li>
            </ul>

            <h4 class="titlePage mt-4">Pilot Project on BIM-design Approaches Implementation at El-Dabaa <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Egypt)</h4>
            
            <p class="mt-4">In 2017, the process of <span class="block">
	<span class="hover">reengineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> and design reorganization was carried out to reduce the time and cost of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> in the following areas:</p>
            
            <ul class="mt-4">
                <li class="mt-2">development of approaches and requirements for the development of an integrated 3D-model using the BIM modeling methodology;</li>
                <li class="mt-2">analysis of potential problems in the implementation of BIM-design and development of compensatory measures;</li>
                <li class="mt-2">selection and introduction in the design process of a set of software tools aimed at improving the quality and speed of designing;</li>
                <li class="mt-2">development of organizational and functional schemes and models for constructing an integrated design process;</li>
                <li class="mt-2">increase the degree of interaction between the project participants.</li>
            </ul>

            <h4 class="titlePage mt-4">Works on Arrangement of the Process of Typification and Cataloging of Design Solutions and Equipment of VVER <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>s:</h4>

            <ul class="mt-4">
                <li class="mt-2">analysis of equipment parameters for the purpose of its typification for further use in all VVER <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>s projects;</li>
                <li class="mt-2">analysis of design, diagram and layout solutions for the possibility of their use at all plants in the unchanged form (a standard solution);</li>
                <li class="mt-2">analysis of the reasons causing changes in the reference plant, development of proposals for minimizing the number of options for such solutions;</li>
                <li class="mt-2">obtaining necessary approvals to make successful decisions as standard ones in all enterprises of Rosatom State Corporation;</li>
                <li class="mt-2">development of proposals for optimizing the functionality and finalizing the EONCOM catalog.</li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-0"></div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h4 class="titlePage mt-4">Reducing Capital and Operating Costs for El-Dabaa <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Egypt) and Paks II <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Hungary) by Introducing New Design Solutions and Optimizing the Existing Ones</h4>
            
            <p class="mt-4">Working groups are established to carry out an <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> analysis of design requirements and solutions in order to identify and hedge risks that may lead to an increase in the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> time and cost, as well as to search for and implement new optimization solutions that increase the technical and economic performance of the projects under design.</p>
        
            <br><strong>Working groups carry out:</strong>

            <ul>
                <li class="mt-2">analysis and identification of the EPC-Contract requirements, leading to the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> cost increase;</li>
                <li class="mt-2">analysis of the site causes and conditions, leading to the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> cost increase;</li>
                <li class="mt-2">development of proposals for the application of alternative approaches and design methods, alternative technical solutions leading to reduction of the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> owning cost.</li>
            </ul>
            <p>Also, the works on application of mathematical tools and system analysis method for the resolution of industrial and optimization issues are conducted.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div id="margIntCap">
                <div class="blockLineLeftTxt">
                    <p class="headerPage">An example of the implemented innovation is the use of Semantic Web technology to manage <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> technical requirements.</p>
                </div>
            </div>
        </div>
    </div>


    <div id="under" class="mt-5"><strong>2.3.3. Project for Implementation of Information Technologies</strong></div>

    <ul class="mt-5">
        <li class="mt-2">Electronic technical document management (Electronic technical document management system was deployed in 2017 as part of IMS for Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, Paks II <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, Bushehr-2 <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> and Hahnikhivi-1 <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> projects. Within the latter project, the <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span> accepts documentation for review only when it is downloaded in the system. According to Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, Paks II <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, Bushehr-2 <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, the <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span> has been trained, additional functionality is being adjusted); </li> 
        <li class="mt-2">putting into commercial operation of the technical electronic document management system for Hanhikivi-1 <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> project;</li>
        <li class="mt-2">putting into commercial operation of the technical electronic document management system for Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, Paks II <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> projects;</li>
        <li class="mt-2">industry nomenclature catalog of equipment and materials for <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>.</li>
        <li class="mt-2">the structure of the classifier of the industry nomenclature catalog of equipment and materials for <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (EONCOM) is brought into compliance with the structure of the <span class="block"><span class="hover">MTR</span><span class="hidden">Material and technical resources</span></span> guide of the unified industry system for regulatory reference information management (UIS RRI);</li>
        <li class="mt-2">integration mechanism for 	<span class="block"><span class="hover">MTR</span><span class="hidden">Material and technical resources</span></span> data transfer from UIS RRI to EONCOM was implemented;</li>
        <li class="mt-2">restructuring of <span class="block"><span class="hover">MTR</span><span class="hidden">Material and technical resources</span></span> class templates has been carried out, allowing to store and transfer relevant information to external information systems;</li>
        <li class="mt-2">work has been done to test the <span class="block"><span class="hover">MTR</span><span class="hidden">Material and technical resources</span></span> data transfer technology from EONKOM to the SPF automated design system. Within the framework of this task, the technical specifications transfer were adjusted and verified for 1,474 classes of equipment;</li>
        <li class="mt-2">the functionality for automatic generation of production screens for Russian <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> projects was put into commercial operation; </li> 
        <li class="mt-2">a number of reports have been updated to automate and expand the analytical information in the module;</li>
        <li class="mt-2">integration with the IS “Electronic Obeya” is configured. Reports and visualizations from the Analytics module are placed in the IS “Electronic Obeya” including the grouping by projects, functional areas, areas of responsibility.</li>
    </ul>   


    <div id="under" class="mt-5"><strong>2.3.4. Multi-D Technology</strong></div>
    
    <p class="mt-5">The <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division possesses a high-level expertise in the area of complex capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> project management. A key to the Company’s success in projects management is availability of Multi-D Technologies – an advanced system of nuclear power plant lifecycle management. </p> 
    <p>Multi-D technology is aimed at optimization of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> and erection works and is based on detailed planning of the working operations sequence. The main purpose of the technology is reduction of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">Power Units</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> time period. </p> 
    <p>This technology can be used not only for nuclear industry tasks – it can be adopted as a standard for the capital facilities management in other sectors of economy.</p>
    <p>An integrated project management system, with Multi-D technology as one of the key tools, enabled the Company to be the first company in Russia which got accreditation for the 4-rd competence level of <span class="block">
	<span class="hover">IPMA</span>
	<span class="hidden">Enhancing the efficiency of the Company’s project performance in accordance with the best international practices in the field of project management. Confirmation of the company competence in the field of project management on the international level.</span>
</span> Delta in 2018.</p>

    <em><p>For information on Multi-D technology, see <a href="http://ase-ec.ru/sustainability/public-reporting/reports/">public annual report of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> division for the year 2016.</a>
</p></em>

    <h4 class="titlePage mt-5"><strong>Plans for 2018 and the mid-term:
</strong></h4>

    <ul class="mt-5">
        <li class="mt-2">implementation of innovative/new design solutions, design approaches, techniques and materials to be applied in <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> projects;</li>
        <li class="mt-2">creation of the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> Digital twin concept;</li>
        <li class="mt-2">implementation of the BIM-modeling approaches in the daily activities of the Division;</li>
        <li class="mt-2">participation, jointly with JSC Concern Rosenergoatom, in the program of creation of low-power nuclear power plants on the basis of RITM-200 reactors;</li>
        <li class="mt-2">implementation of approaches for unification of design solutions and equipment in the process of the Division’s performance;</li>
        <li class="mt-2">creation of the <span class="block">
	<span class="hover">R&D</span>
	<span class="hidden">Research and development</span>
</span> program aimed at reducing the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> and owning cost.</li>
    </ul>
{% endblock %}