{% extends "en/templates/page.html" %} 

{% block breadcrumb %}
<li>
    <a href="/content">
        <small>Table of Contents /</small>
    </a>
</li>
<li class="active">
    <small><strong>Milestones in 2017 </strong></small>
</li>

{% endblock %} 

{% block link %}
<link rel="stylesheet" href="/css/key_event_en.css">
{% endblock %}

{# {% block picture %}
    background-image: url(../img/chapters/key_events.png);
{% endblock %} #}

{% block header %}
    <div class="picture_theme_main d-flex align-items-end" style="background-image: url(../img/chapters/key_events.png);">
        <div class="title-wrapper">
            <div class="title">
                <h1>{% block  titleText %} Milestones in 2017 {% endblock %}</h1>
            </div>
            <div class="subtitle">
                {% block  subtitleText %}  {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{# {% block titleText%} Milestones in 2017 {% endblock %} 

{% block subtitleText%}
{% endblock%}  #}

{% block content %}
    <div class="monthCarousel">
        <img src="/img/calendar.png" style="width: 22px;">
        <span id="January">January</span>  
        <span id="February">February</span> 
        <span id="March">March</span>    
        <span id="April">April</span> 
        <span id="May">May</span> 
        <span id="June">June</span> 
        <span id="July">July</span>   
        <span id="August">August</span>  
        <span id="September">September</span>    
        <span id="October">October</span> 
        <span id="November">November</span>  
        <span id="December">December</span> 
        <span id="Even">Others</span>
    </div>

    <div id="carouselExampleIndicators" class="carousel carousel-fade pt-5">
        <img src="/img/arrow.png" style="width: 22px; padding-top: 10px;">
        <ol class="carousel-indicators" style="padding-left: 20px;">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="current-ev other-ev active winter"><div class="circle_winter"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="current-ev winter"><div class="circle_winter"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class="current-ev other-ev spring"><div class="circle_spring"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3" class="current-ev spring"><div class="circle_spring"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4" class="current-ev other-ev spring"><div class="circle_spring"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5" class="current-ev other-ev summer"><div class="circle_summer"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="6" class="current-ev summer"><div class="circle_summer"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="7" class="current-ev other-ev summer"><div class="circle_summer"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="8" class="other-ev autumn"><div class="circle_autumn"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="9" class="current-ev autumn"><div class="circle_autumn"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="10" class="current-ev other-ev autumn"><div class="circle_autumn"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="11" class="current-ev winter"><div class="circle_winter"></div></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="12"><div class="circle_etc"></div></li>
        </ol>
        
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="month">
                    <strong class="nameMonth">January</strong>
                </div>

                <ul class="month-events">
                    <li class="green-ev">
                        <a href="https://www.autodesk.ru/press-releases/archive/2017-01-18 ">
                            A partnership agreement with Autodesk corporation in the field of application of information modeling (BIM), was signed.
                        </a>
                    </li>

                    <li class="purple-ev"> <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 2 of Kudankulam <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (India) was brought to 100% power.</li>
                </ul>
            </div>
            <div class="carousel-item">
                <div class="month">
                    <strong class="nameMonth">February</strong>
                </div>
                
                <ul class="month-events">
                    <li class="purple-ev"> <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden hidden-right">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 1 of Novovoronezh <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>-2 was put to commercial operation.</li>
                </ul>
            </div>
            <div class="carousel-item">
                <div class="month">
                    <strong class="nameMonth">March</strong>
                </div>
                
                <ul class="month-events">
                    <li class="purple-ev">
                        <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden hidden-right">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 2 of Kudankulam <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (India) was put to commercial mode, a one-year period of warranty operation started.
                        <br>
                        The stage of civil and erection works at Bushehr-2 <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Iran) started.
                    </li>
                    <li class="green-ev"> Additional agreement with FSUE Mining and Chemical Plant was signed for increasing the scope of works for introduction of the integrated schedule – a project management tool (for management of time frame and costs).</li>
                </ul>
            </div>
            <div class="carousel-item">
                <div class="month">
                    <strong class="nameMonth">April</strong>
                </div>
                
                <ul class="month-events">
                    <li class="purple-ev">
                        Reactor pressure vessel of <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden hidden-right">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 1 of Belarus <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> was installed in the design position.

                        <br><br>
                        A Joint Statement between JSC Atomstroyexport and Nuclear Power Corporation of India representatives regarding the final acceptance of Kudankulam <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 1, was signed.

                        <br><br>
                        Under the Paks II <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> project (Hungary), the <span class="block">
	<span class="hover">EPC</span>
	<span class="hidden-gri">Companies implementing a project on a turn-key basis. The functions of EPC companies include designing, procurement and <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>.</span>
</span> Contract entered in full legal force including the financial obligations of the parties.
                    </li>
                </ul>
            </div>
            <div class="carousel-item">
                <div class="month">
                    <strong class="nameMonth">May</strong>
                </div>
                
                <ul class="month-events">
                    <li class="purple-ev">
                        JSC ASE EC has successfully passed a nuclear qualification audit performed by the Owner of Paks-II <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Hungary) and obtained certificate NO. SNQ/007/2017.
                        <br><br>
                        Power supply for auxiliary loads of Unit No. 2 of Novovoronezh-2 <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> was performed.</li>
                    <li class="green-ev">
                        Conference of Rosatom State Corporation on <span class="block">
                    <span class="hover">digital Economy</span>
                    <span class="hidden">
                        Economy based on new methods of generation, collection, processing, storage, analysis and transfer of data and new digital technologies:
                            <br>&ndash; Robot technology.
                            <br>&ndash; Cyber physical systems.
                            <br>&ndash; Industrial Internet of things.
                            <br>&ndash; Communication networks of 5th generation.
                            <br>&ndash; Additive technologies.
                            <br>&ndash; Cognitive technologies.
                            <br>&ndash; Artificial intelligence.
                            <br>&ndash; Machine learning.
                            <br>&ndash; Big Data.
                            <br>&ndash; Block chain.
                            <br>&ndash; Multimachine systems.
                    </span>
                </span> and transformation of the nuclear industry, was held, where representatives of JSC ASE EC demonstrated the company’s developments in the field of digitalization – a digital technological platform of life cycle management of complex <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities.</span>
</span> facilities Multi-D that was the winner at the international competition of <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities.</span>
</span> and technological innovations CETI AWARD 2016.
                    </li>
                    <li class="purple-ev">
                        Nukem Technologies GmbH and JSC NIKIMT-Atomstroy completed the active phase of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> the first stage facilities for decommissioning of Ignalina <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Lithuania). B1 Facility was put to commercial operation, cold tests were completed and hot tests started at Radioactive Waste Treatment and Storage Facility B 2, 3, 4.
                    </li>
                </ul>
            </div>
            <div class="carousel-item">
                <div class="month">
                    <strong class="nameMonth">June</strong>
                </div>
                
                <ul class="month-events">
                    <li class="purple-ev">
                        General Framework Agreement for the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of third stage of Kudankulam <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (India) was signed. The agreement envisages the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of Kudankulam <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">Power Units</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> 5 and 6.
                        <br><br>
                        Agreement between the Government of the Russian Federation and the Government of the People’s Republic of Bangladesh on cooperation in import to Russia of spent fuel from the Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, was signed.
                        <br><br>
                        Priority <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> survey including marine survey has been completed for the El-Dabaa <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> project (Egypt).
                    </li>
                    <li class="green-ev">
                        Rosatom State Corporation, represented by JSC ASE EC, became a member of center of competences for <span class="block">
                    <span class="hover">digital Economy</span>
                    <span class="hidden">
                        Economy based on new methods of generation, collection, processing, storage, analysis and transfer of data and new digital technologies:
                            <br>&ndash; Robot technology.
                            <br>&ndash; Cyber physical systems.
                            <br>&ndash; Industrial Internet of things.
                            <br>&ndash; Communication networks of 5th generation.
                            <br>&ndash; Additive technologies.
                            <br>&ndash; Cognitive technologies.
                            <br>&ndash; Artificial intelligence.
                            <br>&ndash; Machine learning.
                            <br>&ndash; Big Data.
                            <br>&ndash; Block chain.
                            <br>&ndash; Multimachine systems.
                    </span>
                </span> of the Government of RF.

                        <br><br>
                        JSC ASE EC became the representative of Building Smart alliance in Russia.

                        <br><br>
                        The main digital laboratory of JSC ASE EC was established.

                        <p class="text-focus">Ceremony of first concrete pouring into the reactor building foundation of <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 3 of Kudankulam <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (India) was held.</p>
                    </li>
                    <li class="green-ev">
                        Within the framework of XXI St.Petersburg international economic forum:

                        <ul>
                            <li>agreement with IBM was signed on cooperation in the field of digital transformation for successful reforming of business and expansion of Multi-D technology within the framework of management of capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> facilities life cycle;</li>
                            <li> agreement on establishment of Digital Transformation Institute was signed whose tasks are implementation of joint research, consulting, educational and pilot innovation projects and programs in the key industries of economy, with the Moscow School of Management SKOLKOVO and Center for Strategic Research “North-West”.</li>
                        </ul>
                    </li>
                    <li class="green-ev">
                        Within the framework of international forum “Atomexpo-2017”:
                        <ul>
                            <li> memorandum with SAP was signed on cooperation in the field of life cycle management of nuclear facilities;</li>
                            <li>agreement on educational and scientific-research cooperation was signed with National Research Nuclear University MEPhI, in the frame of which Higher School of <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> was established, an institution for training digital engineers and testing new solutions for digital business;</li>
                            <li>memorandum on strategic cooperation with the Russian representative office Hilti was signed.</li>
                            <li>memorandum on cooperation with Association on Development of Information Modeling Technologies in <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of buildings and public utilities (BIM-association), was signed;</li>
                            <li>memorandum with French company AssystemSA was signed on cooperation in the field of promotion and practical introduction of solutions based on Milti-D technologies for <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> operators in Europe, Middle East and North Africa.</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="carousel-item">
                <div class="month">
                    <strong class="nameMonth">July</strong>
                </div>
                
                <ul class="month-events">
                    <li class="purple-ev">
                        JSC Atomstroyexport and Nuclear Power Corporation of India (Ltd.) signed contracts for the first priority design works, elaboration of the <span class="block">
	<span class="hover">working documentation</span>
	<span class="hidden">Documentation developed on the basis of approved design documentation and meant for <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works performance.</span>
</span> and supply of main equipment for Units 5 and 6 of Kudankulam <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>. The project for <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of Kudankulam <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> Units 5 and 6 has entered implementation stage.
                        <br><br>
                       Akkuyu <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> project (Turkey) – “Report on Site Parameters” and <span class="block">
	<span class="hover">design documentation</span>
	<span class="hidden">Documentation containing materials in textual form and in maps (diagrams) determining the architectural, functional, process, structural, engineering and technical solutions to ensure <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> facilities, their parts, capital refurbishment if during such refurbishment structural and other properties of reliability and safety of capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> are affected.</span>
</span> was approved, development of the open pit has started.

                        <br><br>
                        Nukem Technologies and JSC NIKIMT-Atomstroy concluded contracts for steam generators dismantling for decommissioning of Biblis <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Germany).
                    </li>
                </ul>
            </div>
            <div class="carousel-item">
                <div class="month">
                    <strong class="nameMonth">August</strong>
                </div>
                
                <ul class="month-events">
                    <li class="purple-ev"> The <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of national radioactive waste storage facility with a long period of decay started (NUKEM Technologies GmbH, as part of the Russian-Bulgarian consortium).</li>
                    <li class="green-ev"> Agreement with JSC “Afrikantov OKBM” was signed that is aimed at introduction of an integrated schedule – a project management tool (in terms of time and cost). </li>
                </ul>
            </div>
            <div class="carousel-item">
                <div class="month">
                    <strong class="nameMonth">September</strong>
                </div>
                
                <ul class="month-events">
                    <li class="green-ev"> JSC ASE EC and the Government of Nizhny Novgorod region signed an agreement on cooperation in the field of application of information technologies.</li>
                </ul>
            </div>
            <div class="carousel-item">
                <div class="month">
                    <strong class="nameMonth">October</strong>
                </div>
                
                <ul class="month-events">
                    <li class="purple-ev">
                        A ceremony of commencement of works in the open pit of the main buildings of <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden hidden-right" style="min-width: 280px;">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 2 of Bushehr-2 <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Iran) was held.
                        <br><br>
                        Under the Hanhikivi-1 project (Finland), process of optimization of design and layout solutions for the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> was completed, a branch office was opened in Finland.

                        <p class="text-focus">Ceremony of first concrete pouring into the reactor building foundation of <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 4 of Kudankulam <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (India) was held.</p>
                    </li>
                </ul>
            </div>
            <div class="carousel-item">
                <div class="month">
                    <strong class="nameMonth">November</strong>
                </div>
                
                <ul class="month-events">
                    <li class="purple-ev"> License for designing and <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden hidden-right">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 1 (Bangladesh) was obtained.</li>
                    <li class="green-ev">
                        JSC ASE EC and the Industrial Development Fund of the Ministry of Industry and Trade of RF signed an agreement “On cooperation for the purpose of development of state industry information system”. 

                        <br><br>
                        Extra-industry PMC-service contract was signed with Electricite de France (EDF).

                        <p class="text-focus"> Ceremony of first concrete pouring into the reactor building foundation of <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 1 of Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Bangladesh) was held.</p>
                    </li>
                </ul>
            </div>
            <div class="carousel-item">
                <div class="month">
                    <strong class="nameMonth">December</strong>
                </div>
                
                <ul class="month-events">
                    <li class="purple-ev">
                        Certificates were signed on entering into legal force of commercial contracts for <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of El-Dabaa <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Egypt).
                        <br><br>
                        Under the Akkuyu <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Turkey) project, a ceremony of commencement of civil and erection works of preparatory period for non-nuclear part of the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> was held in accordance with the limited permission for <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> issued by TAEK.

                        <br><br>
                        Power start-up of <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 3 of Tianwan <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (China) was performed.

                        <br><br>
                        Reinforcement of foundation slab of reactor building of Unit No. 1 of Kursk <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>-2 started. 
                        <br><br>
                        Achievement of the stage of systems flushing with the open reactor of <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 2 of Novovoronezh <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> and Unit No. 1 Belarus <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>.

                        <br><br>
                        The reactor pressure vessel of <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 2 of Belarus <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> was installed in the design position.
                        <br><br>
                        Physical start-up of Unit No. 1 of Leningrad <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>-2 was performed, the license for the <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> operation was received.
                        <br><br>
                        Physical start-up of <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 4 of Rostov <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> was performed.
                    </li>
                </ul>
            </div>
            <div class="carousel-item after">
                <div class="month">
                    <strong class="nameMonth">Events after the Reporting Date (January–May 2018) </strong>
                </div>
                
                <ul class="month-events">
                    <li>
                        <strong>February</strong>
                        <ul>
                            <li>
                                Power start-up of <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 4 of Rostov <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> was held.
                            </li>
                            <li>An official handover ceremony of El-Dabaa <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Egypt) <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> site.</li>
                            <li>Putting into warranty operation and provisional acceptance of <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No.3 of Tianwan <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (China). </li>
                        </ul>
                        
                        <br><strong>March</strong>
                        <ul>
                            <li>Power start-up of <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 1 of Leningrad <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>-2 was held.</li>
                            <li>Handover of Rostov <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 4 for trial commercial operation.</li>
                        </ul>
                        
                        <br><strong>April</strong>
                        <ul>
                            <li>An official ceremony of first concrete pouring into the reactor building foundation of <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 1 of Akkuyu <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Turkey) was held.</li>
                        </ul>
                        
                        <br><strong>May</strong>
                        <ul>
                            <li>JSC ASE EC completed the voluntary international certification for projects, programs, portfolio management. Following its results the Company was awarded the International Project Management Association (<span class="block">
	<span class="hover">IPMA</span>
	<span class="hidden">Enhancing the efficiency of the Company’s project performance in accordance with the best international practices in the field of project management. Confirmation of the company competence in the field of project management on the international level.</span>
</span>) Certificate of 4th class of competence in the field of management of projects, programs, portfolio based on <span class="block">
	<span class="hover">IPMA</span>
	<span class="hidden">Enhancing the efficiency of the Company’s project performance in accordance with the best international practices in the field of project management. Confirmation of the company competence in the field of project management on the international level.</span>
</span>-DELTA.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="blockLineLeftTxt mt-4">
        <div class="mb-3">
            <strong class="nameMonth">Legend</strong>
        </div>

        <div id="current-btn">
            <div class="current-circle"></div>
            The current events of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division
        </div>
        
        <div id="other-btn">
            <div class="other-circle"></div>
            Events of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division as part of the digital transformation
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/js/key_event.js"></script>
{% endblock %}
