{% extends "en/templates/page.html" %} {% block breadcrumb %}
<li>
  <a href="/content">
    <small>Table of Contents /</small>
  </a>
</li>
<li>
  <a href="#">
    <small>CHAPTER 1 /</small>
  </a>
</li>
<li class="active">
    <small><strong>1.3</strong></small>
</li>
{% endblock %} 

{% block picture %}
    background-image: url(../img/chapters/1.3_markets.jpg);
    background-position-y: 70%;
{% endblock %}

{% block titleText%} 1.3. Target Markets {% endblock %} 
{% block subtitleText%} 
{# GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-6">102-6</a></span>
            <span class="hidden-gri">Markets in which the organization operates</span>
        </span>
    </li>
</ul> #}
{% endblock%}

{% block content %}
<div id="under">
  <strong>1.3.1. <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> and Operation's Market</div>

<div class="mt-4">
  <div id="Context">The Division is the <span class="block">
	<span class="hover">EPC</span>
	<span class="hidden">Companies implementing a project on a turn-key basis. The functions of EPC companies include designing, procurement and <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>.</span>
</span>-contractor of the majority of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">power units</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> under <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> and the leader on the Russian market. Following the results of 2017, the portfolio of orders in Russia comprises 8 <span class="block">
	<span class="hover">power units</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> at various stages of implementation. Foreign projects portfolio includes 25 <span class="block">
	<span class="hover">power units</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> in 10 countries worldwide.</div>

  <div>
    <div id="ChartFEn" style="width: 100%; height: 400px;" class="revealator-slideup revealator-once mt-4"></div>

    <br>
    <em>
      * Inclusion of <span class="block">
	<span class="hover">power units</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> in the 10-year portfolio of orders of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division is based on the conclusion of contract , with the exception of units of the portfolio – putting <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> into commercial operation.
      <br>Data of ROSATOM and <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division differ due to different methods of calculating the number of <span class="block">
	<span class="hover">power units</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span>.
      For more details see <a href="http://www.rosatom.ru/about/publichnaya-otchetnost/">Annual report of ROSATOM</a>.
    </em>

  <p class="text-focus mt-4">
    In 2017 the atomic power <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> share in the world energy consumption amounted to ~ 11 %. According to IAEA, 30 countries in the world generate atomic power, 13 of them depend on the electric energy generation by nuclear power plants by more than 1/4. Countries with the largest share of electric power generated by <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> are France (72.3 %), Slovakia (54.1 %), Ukraine (52.3 %), Belgium (51.7 %) and Hungary (51.3 %).
    <br><br>According to IAEA, as on 31.12.2007 there were 448 power reactors with a total capacity of 391.7 GW in operation (including temporarily shut down Japanese reactors). Another 59 reactors were under <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>.
    <br><br>Currently, Asian countries are dominant in the demand for <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> which is related to a rapid growth of demand for electric energy in this region.
    <br><br>The leading global analytic agencies predict a considerable growth of the installed capacity in the nuclear power <span class="block">
	<span class="hover">engineering.</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> By 2030 the International power agency, UxC Consulting company and the Global nuclear association expect the capacity growth, under a basic scenario, at existing <span class="block">
	<span class="hover">NPPs</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> from 445 to 468 GW. IAEA in its forecasts, within the similar horizon period, specifies the bottom and the top limit of the world’s <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> capacity to be from 345 to 554 GW.
  </p>
</div>

<div id="under" class="mt-5">
  <strong>1.3.2. Diversification Markets</strong>
</div>

<div class="mt-5">
  <div>
    Priority directions of diversification are:
    <ul>
      <li>market of decommissioning of nuclear and radiation hazardous facilities (DC NRHF), <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> and modernization of <span class="block">
	<span class="hover">RAW</span>
	<span class="hidden">Radioactive wastes</span>
</span> and <span class="block">
	<span class="hover">SNF</span>
	<span class="hidden">Spent Nuclear Fue</span>
</span> management facilities;</li>
      <li>service market in terms of life extension;</li>
      <li>market of project management consulting services (PMC-services).</li>
    </ul>
  </div>
  <div>
    <small>
      <strong>Table 1.2. Category of consumers, which the Division’s performance beyond the core business</strong>
    </small>
    <table class="table table-borderless table-responsive">
      <tr>
        <th>Business area</th>
        <th>Products/services</th>
        <th>Country</th>
        <th>Consumers</th>
      </tr>
      <tr>
        <td rowspan="33"><span class="block">
	<span class="hover">Construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of <span class="block">
	<span class="hover">RAW</span>
	<span class="hidden">Radioactive wastes</span>
</span> and <span class="block">
	<span class="hover">SNF</span>
	<span class="hidden">Spent Nuclear Fue</span>
</span> management facilities, DC NRHF</td>
        <td rowspan="23"><span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> and process works</td>
        <td>Austria</td>
        <td>Research and development institutes</td>
      </tr>
      <tr>
        <td>Armenia</td>
        <td>National regulators</td>
      </tr>
      <tr>
        <td>Belgium</td>
        <td>Fuel companies</td>
      </tr>
      <tr>
        <td>Great Britain</td>
        <td>National nuclear organizations</td>
      </tr>
      <tr>
        <td rowspan="5">Germany</td>
        <td>National industrial companies</td>
      </tr>
      <tr>
        <td>Power generating companies</td>
      </tr>
      <tr>
        <td>National industrial companies</td>
      </tr>
      <tr>
        <td>Research and development institutes</td>
      </tr>
      <tr>
        <td>RW and <span class="block">
	<span class="hover">SNF</span>
	<span class="hidden">Spent Nuclear Fue</span>
</span> management companies</td>
      </tr>
      <tr>
        <td>Netherlands</td>
        <td>National industrial companies</td>
      </tr>
      <tr>
        <td>UAE</td>
        <td>National industrial companies</td>
      </tr>
      <tr>
        <td>Bulgaria</td>
        <td>National nuclear organizations</td>
      </tr>
      <tr>
        <td>Iraq</td>
        <td>National regulators</td>
      </tr>
      <tr>
        <td rowspan="2">Russia</td>
        <td>Power generating companies</td>
      </tr>
      <tr>
        <td>Research and development institutes</td>
      </tr>
      <tr>
        <td>USA</td>
        <td>National industrial companies</td>
      </tr>
      <tr>
        <td rowspan="2">Ukraine</td>
        <td>Design consulting companies</td>
      </tr>
      <tr>
        <td>National regulators</td>
      </tr>
      <tr>
        <td rowspan="2">France</td>
        <td>International consortiums</td>
      </tr>
      <tr>
        <td>International industrial companies</td>
      </tr>
      <tr>
        <td rowspan="2">Switzerland</td>
        <td>Power generating companies</td>
      </tr>
      <tr>
        <td>RW and <span class="block">
	<span class="hover">SNF</span>
	<span class="hidden">Spent Nuclear Fue</span>
</span> management companies</td>
      </tr>
      <tr>
        <td>Japan</td>
        <td>International industrial companies</td>
      </tr>
      <tr>
        <td rowspan="10">General contract on the facility</td>
        <td>Bangladesh</td>
        <td>National nuclear organizations</td>
      </tr>
      <tr>
        <td>Hungary</td>
        <td>Power generating companies</td>
      </tr>
      <tr>
        <td>Lithuania</td>
        <td>Power generating companies</td>
      </tr>
      <tr>
        <td>Egypt</td>
        <td>National nuclear organizations</td>
      </tr>
      <tr>
        <td>China</td>
        <td>Power generating companies</td>
      </tr>
      <tr>
        <td>Belarus</td>
        <td>Federal State Enterprises</td>
      </tr>
      <tr>
        <td>India</td>
        <td>Federal State Enterprises</td>
      </tr>
      <tr>
        <td>Iran</td>
        <td>Federal State Enterprises</td>
      </tr>
      <tr>
        <td rowspan="2">Russia</td>
        <td>Power generating companies</td>
      </tr>
      <tr>
        <td>Federal State Enterprises</td>
      </tr>
      <tr>
        <td rowspan="2">Service</td>
        <td rowspan="2">Maintenance and Repair</td>
        <td>Iran</td>
        <td>National nuclear organizations</td>
      </tr>
      <tr>
        <td>Russia</td>
        <td>Power generating companies</td>
      </tr>
      <tr>
        <td rowspan="9">PMC</td>
        <td rowspan="9">Project Management</td>
        <td>Turkey</td>
        <td>Power generating companies</td>
      </tr>
      <tr>
        <td>China</td>
        <td>National nuclear organizations</td>
      </tr>
      <tr>
        <td>India</td>
        <td>National nuclear organizations</td>
      </tr>
      <tr>
        <td>Jordan</td>
        <td>National nuclear organizations</td>
      </tr>
      <tr>
        <td>Finland</td>
        <td><span class="block">
	<span class="hover">Construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> companies</td>
      </tr>
      <tr>
        <td>Czech Republic</td>
        <td>Power generating companies</td>
      </tr>
      <tr>
        <td rowspan="3">Russia</td>
        <td>Federal State Enterprises</td>
      </tr>
      <tr>
        <td>Power generating companies</td>
      </tr>
      <tr>
        <td>Fuel companies</td>
      </tr>
    </table>
    <br>
    <p>Systematically, all own developments including those in the field of information technologies and projects management are patented. Number of partnerships with key players on the Russian and foreign markets are developing day by day.</p>
    <p>The Company regularly participates in open competitions and tenders and carries out direct sales to the largest Russian and foreign companies.</p>
  </div>
</div>

  <script src="/js/echarts.min.js"></script>
    <script src="/js/chartsMarketsEn.js"></script>
{% endblock %}