{% extends "en/templates/page.html" %}

{% block link %}
    <link rel="stylesheet" href="/css/fm.revealator.jquery.min.css">
{% endblock %}

{% block breadcrumb %}
    <li><a href="/content"><small>Table of Contents /</small></a></li>
    <li><a href="#"><small>CHAPTER 2 /</small></a></li>
    <li class="active"><small><strong> 2.5.</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/2.5_natural.jpg);
{% endblock %}

{% block  titleText %}
    2.5. Natural Capital
{% endblock %}

{% block subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-201-2">201-2</a></span>
            <span class="hidden-gri">Financial implications and other risks and opportunities arising from climate change</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-12">102-12</a></span>
            <span class="hidden-gri">Initiatives, charters and principles that the organization supports</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-416-1">416-1</a></span>
            <span class="hidden-gri">Health and Safety Impact Assessment of Products and Services</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-11">102-11</a></span>
            <span class="hidden-gri">Precautionary principle</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-304-1">304-1</a></span>
            <span class="hidden-gri">Production sites owned, leased or managed by the organization and located in or adjacent to protected areas with high biodiversity value</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-304-2">304-2</a></span>
            <span class="hidden-gri">Description of the significant impact of the organization on biodiversity</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-304-3">304-3</a></span>
            <span class="hidden-gri">Saved and restored habitats</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-416-2">416-2</a></span>
            <span class="hidden-gri">The total number of cases of non-compliance with regulations and voluntary codes relating to the health and safety impact of products and services, by type of consequences</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-306-1">306-1</a></span>
            <span class="hidden-gri">Total discharges with indication of the quality of wastewater and the receiving facility</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-303-1">303-1</a></span>
            <span class="hidden-gri">The total amount of water abstracted by source</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-306-2">306-2</a></span>
            <span class="hidden-gri">The total mass of waste by type and method of treatment</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-306-4">306-4</a></span>
            <span class="hidden-gri">Transported waste</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-303-2">303-2</a></span>
            <span class="hidden-gri">Water sources that are significantly affected by the organization’s water intake</span>
        </span>
    </li>
</ul>
{% endblock %}

{% block content %}
    <div class="blockLineLeftTxt mt-4">
        <p class="txtHead">Natural capital means all renewable or non-renewable natural resources which, this way or another, are used by the Company during manufacture of goods/service rendering. Natural capital includes air, water, land, subsoil assets, forests, as well as biological diversity and ecosystem health. Natural capital management means contributions to respect for the environment and unconditional compliance with all necessary standards and requirements in environmental science and nuclear and radiation safety.</p>
    </div>

    <div class="row mt-4">
       <div class="col-lg-4 col-md-4 col-sm-12 bossPhoto" style="background-image: url(../img/стрельцов.jpg);" id="strelts"></div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            
            <h5><strong>Sergey Streltsov,
            <br>Director 
            <br>for Quality Management</strong></h5>

            <br><strong>Which works in the field of environmental, industrial and radiation safety were performed by the Division on the regional and international levels?</strong>
            <em class="directSpeech"><p class="mt-4">&#8211; In 2017 works for ensuring environmental, industrial and radiation safety and issue of permitting documentation, were performed as planned.</p>  
            <p>Positive conclusions of state environmental expert review on the basis of the materials of justification of the license for operations in the field of use of atomic energy were obtained for <span class="block">
	<span class="hover">power unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span>s No. 4 of Rostov NPP. Kursk Branch Office of JSC ASE EC has been granted the right to use water reservoirs, the relevant permitting documentation for discharge of polluting substances was obtained. Nuclear qualification audit has been passed and environmental license for expansion of Paks-II <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>project has been received. In November 2017, license for designing and <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> of Rooppur <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>was obtained.</p>
            <p>The operation of radioactive sources was organized in accordance with the requirements of regulatory documents in the field of use of nuclear power. No exceeding of annual effective dose of personnel radiation when working with radiation sources was revealed.</p></em> 
        
            <br><strong>In view of enlarging of management scope – which works were performed in the Division for creating a unified integrated management system and preparation for its certification in accordance with the requirements of the international standards?</strong>
            <em class="directSpeech"><p class="mt-4">&#8211; At the first stage, it is planned to establish a unified integrated management system in two key companies of the Division – JSC ASE EC and JSC ASE. In 2017 (this work also continued in 2018) a unified Guideline for Integrated Management system and a number of standards for common use were developed. A unified Policy in the field of quality, environmental protection, occupational safety and health was approved. In May 14–18, 2018 a certification audit of the unified Integrated Management System in JSC ASE EC and JSC ASE was performed, in accordance with the requirements of international standards <span class="block">
	<span class="hover">ISO</span>
	<span class="hidden-gri">A set of international standards on management the organization of a company aimed at ensuring a predictable and stable level of services.</span>
</span> 9001:2015, <span class="block">
	<span class="hover">ISO</span>
	<span class="hidden-gri">A set of international standards on management the organization of a company aimed at ensuring a predictable and stable level of services.</span>
</span> 14001:2015, OHSAS 18001:2007.</p></em> 
        </div>
    </div>

    <div class="row mt-4">
        <p class="text-focus">We regard safety and reliability of nuclear facilities as our primary concern and we are responsible for the results of our business.</p>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-4">
            <div class="blockLineRightTxt headerPage">
                <strong>In 2017, which was announced the Year of Economy in Russia, the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division achieved the following:</strong> 

                <ul class="mt-4">
                    <li>reduced the total volume of waste by 7%; </li> 
                    <li>reduced the consumption of electricity for in-house needs by 19%;</li>
                    <li>reduced the consumption of thermal energy for in-house needs by 22 %;</li>
                    <li>increased of expenses for environmental protection by 18%.</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 ol-sm-12 mt-4">
            <p>Work in the field of environmental protection performed by the Division is aimed at compliance with the requirements of environmental protection, mitigation of the negative impact on the environment and rational use of natural resources. </p>
            <p>The key companies of the division – JSC ASE EC and JSC ASE – are establishing an integrated environmental management system. In 2017, JSC ASE EC and JSC ASE had valid policies in the field of quality, ecology and occupational safety, the environmental aspect and their significance was identified. In January 2018, within the framework of transfer to international standard <span class="block">
	<span class="hover">ISO</span>
	<span class="hidden-gri">A set of international standards on management the organization of a company aimed at ensuring a predictable and stable level of services.</span>
</span> 14001:2015, joint Policy of JSC ASE EC and JSC ASE in the field of quality, environmental protection, occupational safety and health, was adopted. The strategic goal of the companies indicated in the joint Policy, is leadership strengthening on the global market of the <span class="block">
	<span class="hover">power unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span>s to be constructed with a priority of nuclear, radiation, industrial and <span class="block">
	<span class="hover">Environmental safety</span>
	<span class="hidden">Protection of environment and vital human interests against possible negative effects of economic and other activities, natural and man-induced emergency situations and their consequences.</span>
</span> of facilities, provision of safe labor conditions and environment preservation.</p>
            <p>In 2017, the Division facilities performed relevant works for ensuring environmental, industrial and radiation safety. Permitting documentation was issued, including JSC ASE EC where certificates for hazardous waste were re-issued, Kursk Branch of JSC ASE EC was granted the right to use the Seim river. Standards of allowable discharges were approved, permission for discharge of substances and microorganisms into the river was received. Novovoronezh Branch Office of Atomenergoproekt JSC developed the plan of maximum permissible release and received a permit for discharge of pollutants. </p> 
            <p>Planning the environmental parameters for 2018 is performed by structural divisions, separately by each area of activity. Consolidated data for 2018 on the planned environmental parameters of the Division were not generated.</p>
            
            <h4 class="mt-4"><strong>Consideration of Facilities Having a Negative Environmental Impact</strong></h4>
            
            <p class="mt-4">In 2017, the companies of the Division registered facilities that have a negative environmental impact (NEI), 18 NEI facilities were identified that belong to category II–IV (there are no category I facilities in the Division).</p>
            
            <br><br><small>Table 2.18. Facilities having a negative environmental impact* (NEI)</small>
            <table class="table table-borderless table-responsive textCenter">
                <thead>
                    <tr>
                        <th>Company</th>
                        <th>Category of NEI facility</th>
                        <th>Number of NEI facilities</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2">JSC ASE EC</td>
                        <td>III</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>IV</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>JSC ASE</td>
                        <td colspan="2">No NEI facilities</td>
                    </tr>
                    <tr>
                        <td>JSC ATOMPROEKT</td>
                        <td>III</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td rowspan="2">JSC Atomenergoproekt</td>
                        <td>III</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>IV</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>VDMU LLC</td>
                        <td>III</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>LLC Trest RosSEM</td>
                        <td colspan="2">No NEI facilities</td>
                    </tr>
                    <tr>
                        <td>SMU No.1 LLC</td>
                        <td>III</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td rowspan="2">JSC NIKIMT-Atomstroy</td>
                        <td>II</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>III</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>PJSC Energospezmontazh</td>
                        <td colspan="2">No NEI facilities</td>
                    </tr>
                    <tr>
                        <td>SPB NIII EIZ JSC</td>
                        <td>III</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <small class="colorFt">
                * In accordance with Article 4.2 of Federal Law No. 7-FZ “On Protection of Environment”, four categories of facilities are identified depending of the level of the impact on the environment:
                <ul>
                    <li>Facilities of category I – having a significant negative impact on the environment, related to the fields of application of the best accessible technologies;</li>
                    <li>Facilities of category II – having a moderate negative impact on the environment;</li>
                    <li>Facilities of category III – having an insignificant negative impact on the environment;</li>
                    <li>Facilities of category IV – having an minimal negative impact on the environment;</li>
                </ul>
            </small>
        </div>
    </div>
        
    <h4 class="mt-4"><strong>Natural Factors that Influence the Performance of the Division</strong></h4>
    
    <p class="mt-4">Natural and man-induced and environmental factors be studied and considered in the area and site of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>location:</p>

    <table class="table table-borderless table-responsive mt-4">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td>Hydro-meteorological processes and phenomena</td>
                <td>Flood, tsunami, ice phenomena on water streams (jams, dams), sea coast mode (upsurges, downsurges, storm waves), seiches, rise and fall of tides, changes of the water resources: extremely low discharge, anomalous decrease of the water level, strong wind, hurricane, tropical cyclone (typhoon), precipitation, extreme snow fall and snow cover, air temperature, avalanche, lightning stroke.</td>
            </tr>
            <tr>
                <td>Geological and geo-technical processes and phenomena</td>
                <td>Seismic-tectonic troubles, seismic dislocations, seismic elevations, earth crust recession, modern differentiated earth crust movements, tectonic creep, residual seismic deformations of the earth crust, earthquake (of any origin), volcano eruption, mud volcanoes, land slides, ground falls, mud slides, snow and stone avalanche, broken stones fall, erosion of coasts, slopes and riverbeds, avalanches and breakdowns, underground washing out, including karst erosion; permofrost-geological (cryogenic) processes, deformation of specific ground (karst, thermal karst, liquifaction, soil flow, underwashing).</td>
            </tr>
            <tr>
                <td>Factors creating external man-induced impacts </td>
                <td>Crash of aircraft and other flying objects, fire due to external reasons, explosion at the facility, releases of explosive, flammable, toxic steam, gas and aerosols into the atmosphere, explosion of creeping clouds; corrosion liquid discharges into surface and ground water, electric-magnetic radiation, spillage of oil and oil products in the near-coast areas of rivers, seas and oceans; burst of natural or artificial dams. </td>
            </tr>
        </tbody>
    </table>

    <div id="under" class="mt-5"><strong>2.5.1. Natural Safety Management at the Stage of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>Design</strong></div>

    <div class="row mt-5">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <p><span class="color_GOST">(GRI <span id="gri-102-12">102-12</span>)</span> During the designing of <span class="block">
	<span class="hover">NPPs</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> to be constructed in the Russian Federation, the developers of design and <span class="block">
	<span class="hover">Working Documentation</span>
	<span class="hidden">Documentation developed on the basis of approved design documentation and meant for <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> works performance.</span>
</span> are guided by the requirements of the Russian regulatory base valid in the field of use of atomic energy and recommendations of IAEA. </p>
            <p>The developed <span class="block">
	<span class="hover">Design documentation</span>
	<span class="hidden">Documentation containing materials in textual form and in maps (diagrams) determining the architectural, functional, process, structural, engineering and technical solutions to ensure <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> of capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> facilities, their parts, capital refurbishment if during such refurbishment structural and other properties of reliability and safety of capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> are affected.</span>
</span> undergoes public hearing and state environmental impact assessment.</p>
            <p>In view of introduction of new regulatory documents in 2017, the <span class="block">
	<span class="hover">Design documentation</span>
	<span class="hidden">Documentation containing materials in textual form and in maps (diagrams) determining the architectural, functional, process, structural, engineering and technical solutions to ensure <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> of capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> facilities, their parts, capital refurbishment if during such refurbishment structural and other properties of reliability and safety of capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> are affected.</span>
</span> of the operational and designed <span class="block">
	<span class="hover">NPPs</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> were analyzed in terms of compliance with the requirements of the new rules and regulations. </p>
            <p>Foreign <span class="block">
	<span class="hover">NPPs</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> are designed considering the regulatory basis of the countries where the <span class="block">
	<span class="hover">NPPs</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> will operate.</p>
            <p>Information about compliancewith indicated standards and documents is disclosed in specialized safety reports.</p>
            <p><span class="color_GOST">(GRI <span id="gri-416-1">416-1</span>)</span> In 2017, design works for implementation of updated measures for mitigation of the consequences of beyond design basis accidents at <span class="block">
	<span class="hover">NPPs</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> with VVER with anomalous external natural and man-induced events, developed with consideration of lessons learned from the Fukushima accident. </p> 
            <p><span class="block">
	<span class="hover">NPPs</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> are technically complex facilities, during the operation of which proposals are put forward aimed at enhancing their operational parameters. </p> 
            <p>Design institutes systematically perform works on the basis of the requirements and instructions of the <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>s who request to consider the experience of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>operation. Reports on operational experience are elaborated and sent to operating companies upon results of analyses of the reasons of equipment failure, power losses and shutdowns, analyses of proposals and performed design works.</p>
            <p>During the resolution of issues of ensuring safety of buildings and structures not containing nuclear and radiation media or safety related elements and systems , and during the resolution of general issues of technical safety and physical protection of the <span class="block">
	<span class="hover">NPP,</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> state-or-the -art technologies and decisions applied in other industries are taken into account.</p>
            <p>The target values of the parameters of the designed <span class="block">
	<span class="hover">NPP,</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> including the requirements and numerical value of the <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>demand in power used for in-house needs, are established by the <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span> in the Terms of Reference (ToR). The numerical value of the parameter is established by the <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span> at the stage of ToR development on the basis of analysis of the operational analogous <span class="block">
	<span class="hover">NPPs</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, calculation of energy consumption for in-house loads performed by the designing company at the instruction of the <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span> at the stage of the feasibility study.</p>
            
            <h4 class"mt-4"><strong>Reduction of in-house energy needs is reached due to implementation of measures enhancing the energy efficiency, in particular:</strong></h4>

            <ul class="mt-5">
                <li class="mt-2">selection of the <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>site with minimal distance from the water reserve and a small difference in elevation between the site and the water reserve, excluding the possibility of flooding the <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>site, to minimize the energy for pumping water for the process water supply systems;</li>
                <li class="mt-2">use of effective heat exchanging equipment with heat exchanging surfaces made from materials with high electric conductivity;</li>
                <li class="mt-2">use of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> materials and elements of civil structures with high thermal insulation properties; </li>
                <li class="mt-2">use of frequency regulation for powerful electric drives;</li>
                <li class="mt-2">use of modern lighting equipment with low power consumption;</li>
                <li class="mt-2">use of high capacity ventilation and air conditioning systems.</li> 
            </ul>

            <h4 class="mt-4"><strong>Environmental Impact</strong></h4>

            <p class="mt-4"><span class="color_GOST">(GRI <span id="gri-102-11">102-11</span>)</span> <span class="block">
	<span class="hover">NPPs</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> are designed in such a way that the radiation impact on the population and environment does not exceed the exposure dozes established by the regulation, and is maintained within the values that are significantly lower than the regulatory thresholds. <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> and technical solutions of the developed designs ensure releases of radionuclides below the allowable levels.</p>
            <p class="text-focus">Designed <span class="block">
	<span class="hover">NPPs</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> are not placed in special protected natural areas and in areas with high biological diversity.</p>
            
            <p class="mt-4">Non-radioactive emissions into the air from nuclear power plants are insignificant, they occur only from start-up and reserve boilers, diesel generator stations, periodically switched on in the inspection modes or at complete de-energization of nuclear power plants, and from repair work performed by units.</p>
        
            <h4 class="mt-4"><strong>Atmosphere impact</strong></h4>
            <p><span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>releases into the atmosphere are not radioactive and not significant, their sources being only the start-up and standby boilers that are periodically switched in the check-up modes or during a complete blackout of the <span class="block">
	<span class="hover">NPP,</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> diesel generator stations or repair works.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="headerPage blockLineLeftTxt">
                <p>An <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>design envisages and justifies the technical equipment and organizational measures aimed at ensuring the stability of the <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>safety-related systems and elements against external impacts.</p>
            </div>
        </div>
    </div>

    <br><small>Table 2.19. Releases of pollutants by different sources of power generation</small>
    <table class="table table-borderless table-responsive">
        <thead>
            <tr>
                <th>Type of power source</th>
                <th>Releases of NOX, SOX and other pollutants</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nuclear power plants</td>
                <td>Non-radioactive emissions into the air are less than 0,013 % of all the industrial emissions in RF.</td>
            </tr>
            <tr>
                <td>Hydro power plants</td>
                <td>Emissions from auxiliary equipment are comparable with <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>emissions.</td>
            </tr>
            <tr>
                <td>Thermal power plants</td>
                <td>50 % of all industrial emissions in RF.</td>
            </tr>
            <tr>
                <td>Alternative types of power source</td>
                <td>Emissions from auxiliary equipment.</td>
            </tr>
        </tbody>
    </table>

    <div class="row mt-4">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <p class="text-focus">The designed <span class="block">
	<span class="hover">NPPs</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> do not produce any significant effect on the growth of carbon dioxide releases in the atmosphere. <span class="block">
	<span class="hover">RAW</span>
	<span class="hidden">Radioactive wastes</span>
</span> incineration plants are equipped with effective systems of profound treatment of smoke gases and exhaust control.</p>
            <p>No ozone destroying substances are used at <span class="block">
	<span class="hover">NPPs</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> designed by the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division.</p>

            <h5 class="mt-5"><strong>Impact on water resources</strong></h5>
            
            <p class="mt-5">The valid regulatory base of RF does not allow the application of direct cooling systems. The <span class="block">
	<span class="hover">NPPs</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> that are designed by the Division, use circulation cooling systems with cooling towers where excessive heat is dispelled in the atmosphere. The water needed to replenish the irreparable losses in cooling systems due to evaporation, carry-over and blowdown, process needs, fire-fighting systems, watering the territory, is provided by the process water supply system. Designed <span class="block">
	<span class="hover">NPPs</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> are large water consumers. E.g., the volume of water consumption by a VVER <span class="block">
	<span class="hover">power unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> with the capacity of 100–1,255 MW is ~ 18–20 million <sup>3</sup> per year. </p>
            <p>The volume of water consumed by an <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>depends on the power of the <span class="block">
	<span class="hover">NPP,</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> the cooling technology and climatic conditions of the site.</p>
            <p>When the designed <span class="block">
	<span class="hover">NPPs</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> are placed near a source of water (a river, a lake), water for replenishing losses in the cooling systems will be taken from such sources if the required water consumption does not have a negative impact on the water reservoir which shall be confirmed by calculations and a comprehensive expert review of the design.</p>
            <p>In case of insufficient water in the reservoir, artificial reservoirs are created which are filled during high water period. </p>
            <p>The possibility to use protected groundwater for process water supply, from the legal and environmental viewpoint, and its technical and economic feasibility, shall be determined individually for each specific case. As a rule, ground waters are used for drinking water supply.</p>
            <p>The remoteness of municipal centers from an <span class="block">
	<span class="hover">NPP,</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> the expenses and the technical conditions of municipal water supply pipelines does not make it possible to use them to satisfy the need of water of the NPP. During the development of the feasibility study for the <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span><span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span>, municipal water supply pipelines are considered to be an option for water supply to the township for the <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>personnel.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="headerPage blockLineLeftTxt">
                <p>Release of pollutants with discharge water of the designed <span class="block">
	<span class="hover">NPPs</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> does not exceed the permissible values established by environmental protection authorities, they amount to a hundredth of a percent compared to thermal power plants emissions. Each further design uses the best available technologies of water discharge treatment.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h5 class="mt-5"><strong>Impact in biological diversity <span class="color_GOST">(GRI <span id="gri-304-1">304-1</span>, <span id="gri-304-2">304-2</span>, <span id="gri-304-3">304-3</span>, <span id="gri-304-4">304-4</span>)</span></strong></h5>
            
            <p class="mt-5">Land plots on which <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span><span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> is carried out are not located in areas with high biodiversity value, and, accordingly, there is no need for measures to restore the habitat.</p>
            <p>Nuclear power plants are not located in areas with flora and fauna listed in the Red book of Russia and the IUCN Red list.</p>
            
            <h5 class="mt-5"><strong>Strategy for preservation and restoration of habitation areas</strong></h5>
            
            <p class="mt-5">Environmental protection legislation of RF and the countries of operation are complied with at all the industrial sites of the operational and future <span class="block">
	<span class="hover">NPPs</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>:</p>
            
            <ul class="mt-4">
                <li class="mt-2">environment protection measures are performed;</li>
                <li class="mt-2">the impact on the environment is monitored;</li>
                <li class="mt-2">the relevant permitting environmental protection documentation is issued.</li>
            </ul>

            <p>The developed designs of <span class="block">
	<span class="hover">NPPs</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> foresee expenses for purchasing by the <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>departments special instruments for environmental monitoring during the <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>operation, as well as devices for rehabilitation of the land areas that were disturbed during the <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span><span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span>. The implementation of these measures facilitate the restoration of the rehabilitation areas of plants and animals.</p>
        
            <h5 class="mt-5"><strong>Climate-related risks <span class="color_GOST">(GRI <span id="gri-201-2">201–2</span>)</span></strong></h5>
        
            <p class="mt-5">Nuclear power plants are designed taking into account external influences typical for the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> site, including natural (including climatic). The applied design solutions that ensure the stability of the object to natural influences are designed for extreme temperatures and extreme water levels in the range of average repeatability once every 10,000 years. The cost of such constructive solutions are put in the estimated calculation of the cost of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> of nuclear power plants.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="headerPage blockLineLeftTxt mt-4"></div>
        </div>
    </div>


    <div id="under" class="mt-5"><strong>2.5.2. Natural Safety Management at the Stage of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span><span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span></strong></div>

    <div class="row mt-5">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="headerPage blockLineRightTxt">
                <p><strong>State Environmental Impact Assessment</strong></p> 
                <p>In 2017, two packages of documents for justification of license for activities in the field of use of atomic energy were submitted for state environmental impact assessment (SEIA).</p>
                <ul>
                    <li>Operation of Rostov <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span><span class="block">
	<span class="hover">power unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> 4;</li>
                    <li>Operation of Rostov <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span><span class="block">
	<span class="hover">power unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> 4 in 18-month fuel cycle with the reactor plant power at 104% of the nominal power.</li>
                </ul>
                <p>After the review of the above documentation by the experts of the Southern Federal District Department of Federal Service for Supervision of Natural Resource Usage, positive conclusions of SEIA expert commission were obtained.</p>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <p><span class="color_GOST">(GRI 416-1)</span> Under the RF environmental policy, one of the main criterion used for taking decision about the possibility of implementation of the planned operations is the <span class="block">
	<span class="hover">Environmental safety</span>
	<span class="hidden">Protection of environment and vital human interests against possible negative effects of economic and other activities, natural and man-induced emergency situations and their consequences.</span>
</span>.</p> 
            <p>Under the RF environmental policy, one of the main criterion used for taking decision about the possibility of implementation of the planned operations is the <span class="block">
	<span class="hover">Environmental safety</span>
	<span class="hidden">Protection of environment and vital human interests against possible negative effects of economic and other activities, natural and man-induced emergency situations and their consequences.</span>
</span>.</p>
            <p>The following criterion is used during the justification of <span class="block">
	<span class="hover">Environmental safety</span>
	<span class="hidden">Protection of environment and vital human interests against possible negative effects of economic and other activities, natural and man-induced emergency situations and their consequences.</span>
</span>: any <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>is the source of three main types of impacts on the land, the aquatic system and population of its region – radiation, chemical and thermal. </p> 
            <p>In accordance with Federal Law “On environmental expert review”, <span class="block">
	<span class="hover">Design documentation</span>
	<span class="hidden">Documentation containing materials in textual form and in maps (diagrams) determining the architectural, functional, process, structural, engineering and technical solutions to ensure <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> of capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> facilities, their parts, capital refurbishment if during such refurbishment structural and other properties of reliability and safety of capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> are affected.</span>
</span> for <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span><span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> undergoes state environmental expert review in the course of which it is established that the planned operations comply with the environmental requirements and it is determined whether the implementation of the project is permissible in terms of prevention of possible adverse impacts on the environment.</p>
            <p><span class="color_GOST">(GRI <span id="gri-416-2">416-2</span>)</span> In the reporting year no cases of non-compliance with the regulatory requirements and international standards in the field of impact of the products on health and safety, were revealed.</p>	
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="headerPage blockLineRightTxt mt-5">
                <p>Responsibility for organization, regulation and coordination of the activities in the sphere of organization of works for environmental protection is borne by quality director of JSC ASE EC. At <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> facilities, responsibility for the compliance with the requirements to environmental protection is borne by heads of structural divisions.</p>
                <p>In 2017, there were no accidents, incidents or anomalies during the use of radiation sources or emissions and releases of <span class="block">
	<span class="hover">Radioactive substances</span>
	<span class="hidden">Substances with radioactive nuclides in their structure.</span>
</span> into the environment. There were no cases of exceeding the control levels, agreed by Federal Medical and Biological Agency, of the main dose limits, internal releases of nuclides, pollution of air, surfaces of rooms, work places and equipment during works performance with radiation safety.</p>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h4 class="mt-5"><strong>Ensuring Nuclear and Radiation Safety During <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> of Nuclear Facilities and <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>Decommissioning</h4>
            
            <p class="mt-5">In the course of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span><span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span>, radiographic examination using radioisotope flaw detectors with closed radionuclide sources are applied to check the quality of welded joints, base metal and weld deposits of equipment and pipelines. </p> 
            <p>The operation of radioactive sources was organized in accordance with the requirements of regulatory documents in the field of use of nuclear power. </p> 
            <p>For the purpose of operating with sources of ionizing radiation, licenses are available for the right to perform works in the sphere of nuclear power issued by the state safety regulatory body. FMBA of Russia has granted sanitary and epidemiological permissions for the above operations. </p> 
            <p>Industrial radiation monitoring is performed in accordance with radiation monitoring program approved by FMBA of RF.</p> 
            <p>The persons responsible for ensuring radiation safety, accounting and supervision and physical protection from <span class="block">
	<span class="hover">Radioactive substances</span>
	<span class="hidden">Substances with radioactive nuclides in their structure.</span>
</span>, have undergone training, obtained certification and permissions of Federal Environmental, Industrial and Nuclear Supervision Service of Russia, for the right to perform works in the field of atomic energy use. </p> 
            <p>Personnel of group A was defined in the order. Individual exposure doses are registered. Quarterly and annual doses as well as the total dose during the whole working period are accounted as well. </p> 
            <p>No exceeding of annual effective dose of personnel radiation when planning and working with radiation sources was revealed.</p>
            <p>Registration and control of <span class="block">
	<span class="hover">Radioactive substances</span>
	<span class="hidden">Substances with radioactive nuclides in their structure.</span>
</span> are performed in accordance with <span class="block">
	<span class="hover">NP</span>
	<span class="hidden">Non-commercial partnership</span>
</span>-067-16 "General Rules for Accounting and Control of <span class="block">
	<span class="hover">Radioactive substances</span>
	<span class="hidden">Substances with radioactive nuclides in their structure.</span>
</span> and Radioactive Waste in Organization". </p>  
            <p>Ionizing radiation sources, flaw detectors, transport and storage casks are stored in stationary storage facilities in accordance with the requirements of radiation safety. </p> 
            <p>In order to ensure readiness to prevention of accidents at nuclear facilities, measures for prevention of accidents and incidents and documents determining the criteria for decision taking after radiation incidents, have been developed. There is a plan available to protect the personnel against radiation accident and its consequences approved by FMBA of RF. Programs and methods of emergency drills were developed. Emergency drills are conducted on a regular basis.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <p class="headerPage blockLineRightTxt">In 2017 there were no incidents according to INES scale of level 2 and higher.</p>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <p>During 2017 there were examinations of the observation of requirements of federal norms and rules in the sphere of the use of nuclear power during the operation of radiation sources. Such examinations are performed by organs of internal control of safety and quality, state regulatory authorities of atomic energy use and state regulatory authorities of safety of atomic energy use.</p>
            <p>The radiation safety assurance in organizations operating <span class="block">
	<span class="hover">Radioactive substances</span>
	<span class="hidden">Substances with radioactive nuclides in their structure.</span>
</span> is assessed as satisfactory.</p>
            
            <h5 class="mt-5"><strong>Ensuring Industrial Safety at <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> Sites</strong></h4>
            
            <p class="mt-5">Industrial safety is ensured in accordance with Federal Law of RF 21.07.1997 No. 116-FZ “On Industrial Safety of Hazardous Industrial Facilities”, the requirements of regulatory documents of RF and Unified Industry Policy of Rosatom State Corporation in the field of industrial safety.</p>
            <p>With the purpose of implementing the Unified Industry Policy of Rosatom State Corporation in the field of industrial safety, JSC ASE EC has issued the approved Policy of JSC ASE EC in the sphere of industrial safety.</p>
        </div>
    </div>

    <div id="pieNatCEn" class="revealator-slideup revealator-once mt-4"></div>

    <div class="row mt-5">
        <div class="col-lg-4 col-md-4 col-sm-0"></div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <p>In 2017, inspections of control over the compliance with the requirements to observation of industrial safety at hazardous industrial facilities, were performed. In the course of the performed inspections it was established that the companies operating hazardous industrial facilities comply with the requirements of industrial safety:</p>

            <ul class="mt-4">
                <li class="mt-2">hazardous industrial facilities are registered in the state register;</li>
                <li class="mt-2">civil liability for damage as a result of an accident at hazardous industrial facilities is insured;</li>
                <li class="mt-2">local normative acts have nominated the persons responsible for organization and performance of control over industrial safety at hazardous industrial facilities, over the maintenance of lifting structures in operable conditions and safe performance of works with such structures;</li>
                <li class="mt-2">job descriptions for the above persons have been developed, regulations on production control, industrial manuals and manuals for occupational safety for the operating personnel and the personnel involved in cargo slinging.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <p class="headerPage blockLineRightTxt">In 2017, stress-tests were performed at Belarus NPP. Stress-tests demonstrated the stability of the facility against external impacts. The expert review of stress-tests materials is performed by international expert organizations and specialists.</p>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <p>In branch offices of JSC ASE EC there are appointed persons who are in charge of monitoring of the status of industrial safety at <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> sites of hazardous industrial facilities; internal audits of safety are performed, industrial sites are inspected. Upon results of the audits the contractors receive prescriptions about elimination of the identified violations with further control of performing the prescription requirements.</p>
            <p>Measures performed within the framework of inspections and industrial control made it possible to avoid accidents in 2017 determined in the RF legislation as accidents at hazardous industrial facilities.</p>
            <p>The status of ensuring industrial safety in JSC ASE EC, considering the absence of accidents and incidents at hazardous industrial facilities, is evaluated as satisfactory.</p>
        </div>
    </div>

    <div id="under" class="mt-5"><strong>2.5.3. Results in the Field of Natural Protection</strong></div>

    <p class="mt-5"><span class="color_GOST">(GRI <span id="gri-306-1">306-1</span>)</span> In 2017, organizations which are part of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division, procuded a certain effect on the environment during industrial activities, <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> of <span class="block">
	<span class="hover">NPPs</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, operation of administrative and industrial facilities, in terms of releases of contaminants into the atmospheric air, placement of waste in specialized waste fields and discharge of contaminants into water.</p>

    <div class="row mt-4">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <small>Table 2.20. The volume of pollutants, tons</small>
            <table class="table table-borderless table-responsive textCenter">
                <thead>
                    <tr>
                        <th rowspan="2">Pollutant</th>
                        <th colspan="4">Amount of pollutants</th>
                    </tr>
                    <tr>
                        <th>2015</th>
                        <th>2016</th>
                        <th>2017</th>
                        <th>2017-2016/ 2016, %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sulphur dioxide</td>
                        <td>0.32</td>
                        <td>0.21</td>
                        <td>1.34</td>
                        <td>over +200</td>
                    </tr>
                    <tr>
                        <td>Carbon oxide</td>
                        <td>13.9</td>
                        <td>10.05</td>
                        <td>13.29</td>
                        <td>+32</td>
                    </tr>
                    <tr>
                        <td>Nitrogen oxide</td>
                        <td>3.74</td>
                        <td>2.82</td>
                        <td>4.75</td>
                        <td>+68</td>
                    </tr>
                    <tr>
                        <td>Other substances</td>
                        <td>61.55</td>
                        <td>63.41</td>
                        <td>57.32</td>
                        <td>-10</td>
                    </tr>
                    <tr class="rowBold">
                        <td>Total</td>
                        <td>79.54</td>
                        <td>76.51</td>
                        <td>76.72</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-0"></div>
    </div>

    <p class="mt-4">In 2017, due to addition of sources of emissions in Novovoronezh Branch Office of Atomenergoproekt JSC and changes of the method of accounting of emissions in some facilities, the calculation of the volumes of emissions was made on the basis of actual data (previously, the data specified in permissions for emissions were accounted). Retrospective re-calculation was not performed.</p> 

    <h4 class="mt-5"><strong>Impact on Water Resources</strong></h4>
    
    <p class="mt-5"><span class="color_GOST">(GRI 306-1)</span> The total volume of domestic, industrial and stormwater waste discharged mainly into the city sewage network, amounted to 7,757 thousand m<sup>3</sup>, of which:
</p>
    
    <ul class="mt-4">
        <li>7,641.3 thousand m<sup>3</sup> were discharged without treatment;</li> 
        <li>115.66 thousand m<sup>3</sup> were treated at local treatment facilities. </li>
    </ul>

    <p><span class="color_GOST">(GRI 303–3)</span> Circulating water supply is not used, we have no recycled and reused water.</p>

    <br><small>Table 2.21. Water discharge</small>
    <table class="table table-borderless table-responsive">
        <thead>
            <tr>
                <th>Branch Office</th>
                <th>Water discharge</th>
                <th>Receive water dischages*</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Volgodonsk Branch</td>
                <td>Via central treatment facilities of Rostov NPP.</td>
                <td>Central discharge facilities of Rostov NPP</td>
            </tr>
            <tr>
                <td>Baltic Branch</td>
                <td>Discharged to channel IN-18-8 after preliminary treatment at sewage mechanical and biological treatment facilities.</td>
                <td>Canal IN-18-8</td>
            </tr>
            <tr>
                <td>Kursk Branch</td>
                <td>
                    The discharge of drain water formed in the course of works performance for dewatering of the pit of units No. 1 and 2 under <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> of Kursk NPP-2. The discharged water corresponds to conditionally pure water category. No exceeding of maximal permissible concentration was revealed. 
                    <br><br><strong>In 2017:</strong>
                    
                    <ul class="mt-4">
                        <li>permission on granting a water reservoir for usage, was issued.</li>
                        <li>permission for discharge of substances of microorganisms into water reservoirs was issued. </li> 
                        <li>the branch office has the obligation to account the volume and quality of the discharged water.</li>
                    </ul>
                </td>
                <td>River Seym river (via Dnepr/892/360)</td>
            </tr>
        </tbody>
    </table>

    <small>*More information in Appendix 14</small>

    <br><br><small>Table 2.22. Total volume of consumed water with breakdown by sources <span class="color_GOST">(GRI <span id="gri-303-1">303-1</span>)</span></small>
    <table class="table table-borderless table-responsive textCenter middleTable">
        <thead>
            <tr>
                <th rowspan="2">List of water supply sources</th>
                <th rowspan="2">Source of water supply</th>
                <th colspan="4">Water consumption, thousand m<sup>3</sup></th>
            </tr>
            <tr>
                <th>2015</th>
                <th>2016</th>
                <th>2017</th>
                <th>(2017-2016)/ 2016, %</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Surface waters, including swamps, rivers, lakes and oceans</td>
                <td>Tsimlyansk storage lake</td>
                <td>35.3</td>
                <td>30.5</td>
                <td>27.6</td>
                <td>-10</td>
            </tr>
            <tr>
                <td>Underground waters (at Lesnoy Uyut recreation center, at Baltic <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span><span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> site)</td>
                <td>-</td>
                <td>6.9</td>
                <td>12.2</td>
                <td>11.7</td>
                <td>-5</td>
            </tr>
            <tr>
                <td>Municipal and other water supply systems</td>
                <td>Mosvodokanal JSC, SUE Water channel of Saint-Petersburg, Nizhegorodsky WATER CHANNEL, SE Belorussian NPP</td>
                <td>108.1</td>
                <td>127.5</td>
                <td>115.3</td>
                <td>-10</td>
            </tr>
            <tr class="rowBold">
                <td>Total without natural water inflow</td>
                <td></td>
                <td>150.3</td>
                <td>170.2</td>
                <td>154.6</td>
                <td>- 9</td>
            </tr>
            <tr>
                <td>Natural  water inflow</td>
                <td>Collector-drainage water in a pit of <span class="block">
	<span class="hover">power units</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> 1,2 of Kursk NPP</td>
                <td>-</td>
                <td>-</td>
                <td>7420.4</td>
                <td>-</td>
            </tr>
            <tr class="rowBold">
                <td>Total with natural water inflow</td>
                <td></td>
                <td>-</td>
                <td>-</td>
                <td>7575.0</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>

    <p class="mt-4">On the whole the reduction of consumption of water resources is related to the performance of organizational and technical measures. Water intake of organizations of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division in 2017 did not have a significant impact on water supply sources. <span class="color_GOST">(GRI <span id="gri-303-2">303-2</span>)</span></p>

    <h4 class="mt-5"><strong>Impact on the Soil</strong></h4>
	
    <p class="mt-5">In 2017, no reclamation works were implemented at Kursk NPP-2 and Rostov <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>sites. The work performance for reclamation is planned by the operating company at the final stage of the <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span><span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span>. The <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> of Rostov <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span><span class="block">
	<span class="hover">power units</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> 3 & 4 was followed by reclamation of 351,812 m<sup>2</sup> out of the totally disturbed 435,559 m<sup>2</sup>, that was underway within 2015–2017. The remaining part of the disturbed land, i.e. 83,747 m<sup>2</sup> is to be reclaimed at the final stage of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span>. </p>
    <p>The constuction of <span class="block">
	<span class="hover">NPPs</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> does not deteriorate the environment, including the soil.</p>

    <h4 class="mt-5"><strong>Waste</strong></h4>
	
    <p class="mt-5"><span class="color_GOST">(GRI <span id="gri-306-2">306-2</span>)</span> The <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> division <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> and operation facilities effect the industrial and consumer waste management in line with the environmental legislation of the Russian Federation, the countries of operation and the developed draft standards for waste production and limits for their disposal.</p>
	<p>Waste accumulation areas are available at all <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> and operation facilities. The <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division’s facilities for long-term waste storage and disposal are out of operation.</p>
	<p>Waste is accumulated in special containers, and as they are filled, the waste is handed over to specialized companies for further disposal, decontamination and placement in areas that are listed in the state register of waste storage facilities.</p>
	<p><span class="color_GOST">(GRI <span id="gri-306-4">306-4</span>)</span> Transportation and transfer of waste to third parties for their further use/decontamination/disposal is performed by specialized transport companies that have a license for this performance.</p>
	<p>The transportation, import, export or treatment of waste that are hazardous according to the Basel Convention on control over transborder transportation of hazardous waste and their removal, was not performed.</p>
	<p>In 2017, the total volume of generated waste decreased, including hazard classes IV and V waste that are removed to waste disposal area. Reduction of the generated waste volume is related to completion of works and commissioning of Rostov <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span><span class="block">
	<span class="hover">power unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 4.</p>

    <br><small>Table 2.23. Total volume of waste, tons</small>
    <table class="table table-borderless table-responsive">
        <thead>
            <tr>
                <th rowspan="2">Total amount of waste classes I-V</th>
                <th>2015</th>
                <th>2016</th>
                <th>2017</th>
                <th>(2017-2016)/ 2016, %</th>
            </tr>
            <tr>
                <td>4 728.93</td>
                <td>5 492.23</td>
                <td>5 109.85</td>
                <td>- 7</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div id="pieNatCEn2" class="revealator-slideup revealator-once"></div>

    <h4 class="mt-5"><strong>Energy Resources Consumption</strong></h4>

    <p class="mt-5">Reduced consumption of energy resources in 2017 was related to commissioning at the end of 2016 of energy conservation equipment and favorable weather conditions during the heating season.</p>

    <div class="row mt-4">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <small>Table 2.24. Consumption of power resources</small>
            <table class="table table-borderless table-responsive textCenter  middleTable">
                <thead>
                    <tr>
                        <th colspan="5">Energy consumption</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>2015</th>
                        <th>2016</th>
                        <th>2017</th>
                        <th>(2017-2016)/ 2016, %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Electrical power, GWh</td>
                        <td>46.21</td>
                        <td>39.81</td>
                        <td>32.39</td>
                        <td>-19</td>
                    </tr>
                    <tr>
                        <td>Thermal power, thousand TJ</td>
                        <td>204.37</td>
                        <td>202.045</td>
                        <td>158.31</td>
                        <td>-22</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-0"></div>
    </div>

    <br><small>Table 2.25. Fuel consumption and expenses for its purchase for vehicles and heating</small>
    <table class="table table-borderless table-responsive textCenter">
        <thead>
            <tr>
                <th rowspan="2">Fuel type</th>
                <th colspan="2">2015</th>
                <th colspan="2">2016</th>
                <th colspan="2">2017</th>
                <th>(2017-2016)/ 2016, %</th>
            </tr>
            <tr>
                <th>t</th>
                <th>mln RUR</th>
                <th>t</th>
                <th>mln RUR</th>
                <th>t</th>
                <th>mln RUR</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Gasoline</td>
                <td>1 486.32</td>
                <td>59.31</td>
                <td>1 476.75</td>
                <td>60.93</td>
                <td>1 284.6</td>
                <td>50.8</td>
                <td>- 13*</td>
            </tr>
            <tr>
                <td>Diesel fuel</td>
                <td>3 049.85</td>
                <td>99.74</td>
                <td>2 219.82</td>
                <td>97.53</td>
                <td>1 715.29</td>
                <td>64.35</td>
                <td>- 23*</td>
            </tr>
            <tr>
                <td>Natural gas</td>
                <td>1 435.06</td>
                <td>8.69</td>
                <td>1 525.01</td>
                <td>9.70</td>
                <td>1 276.93</td>
                <td>9.77</td>
                <td>-16*</td>
            </tr>
            <tr>
                <td>Coal</td>
                <td>116.58</td>
                <td>0.46</td>
                <td>104.30</td>
                <td>0.52</td>
                <td>124.00</td>
                <td>0.61</td>
                <td>+ 19**</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <small class="colorFt">
        * Due to optimization of expenses for in-house needs, reduction of the number of auxiliary transportation, use of rented transport, de-registration of vehicles, reduction of the volume of performed works, completion of the activity of Volgodonsk branch office of LLC Trest RosSEM, completion of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> of Rostov <span class="block">
	<span class="hover">NPP,</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> procurement of new equpment including diesel generator stations of lower capacity and higher efficiency. A considerable contribution to reducing fuel consumption was made by relocation of the employees of JSC ASE EC in Belarus engaged in the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> of Belarus <span class="block">
	<span class="hover">NPP,</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> from the city of Naroch (70 km from the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> site) to Ostrovets (20 km from the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> site).
        <br>** Coal was used for heating in the boiler of Lesnoy Uyut recreation center. Growth of coal consumption was caused by low temperature of atmospheric air at the beginning of the year.
    </small>

    <h4 class="mt-5"><strong>Used Materials <span class="color_GOST">(GRI 303-1)</span></strong></h4>
    
    <p class="mt-5">During civil and erection works, road filling at <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span><span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> facilities, the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division uses broken stone, sand and semi-products like bricks, metal structures and pipelines. </p> 
    <p>Accounting of the use of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> materials in weight and volume is performed by subcontractors that independently purchase raw materials in accordance with the <span class="block">
	<span class="hover">Working Documentation</span>
	<span class="hidden">Documentation developed on the basis of approved design documentation and meant for <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP </span>
	<span class="hidden">Nuclear Power Plant</span>
</span>construction from survey and design works to handing over to the customer for operation.</span>
</span> works performance.</span>
</span>.</p>
    <p>During the performance of administrative, economic and design activities, paper products are used that are purchased from external suppliers. The total volume of consumption of paper products by the Division in 2017 was 331.16 tons.</p>
    <p>The <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division keeps no record of treated or re-cycled waste.</p>
    
    <h4 class="mt-5"><strong>Financing of Environmental Protection Activities</strong></h4>
	
    <p class="mt-5">In 2017, the expenses for environmental protection amounted to 18 mln RUR, which is 18.2 % higher than in 2016.</p>

    <div class="row mt-4">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <small>Table 2.26. Expenses for environmental protection measures, mln RUR*</small>
            <table class="table table-borderless table-responsive  middleTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>2015</th>
                        <th>2016</th>
                        <th>2017 planned</th>
                        <th>2017 fact</th>
                        <th>&#916; 2017/ 2016 </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Expenses, mln RUR</td>
                        <td>22.5</td>
                        <td>15.2</td>
                        <td>8.4</td>
                        <td>18.0</td>
                        <td>18.2 %</td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <small class="colorFt">
                * Expenses are planned for each business. Consolidated data of the Division on the planned environmental parameters for 2018 have not been generated
                <br>The figures indicated in tables may differ from same ones calculated in the report due to rounding of figures.
            </small>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-0"></div>
    </div>

    <p class="mt-4">In 2017, the growth of expenses was related mainly to increased costs of industrial environmental monitoring and the necessity to re-issue permitting documentation in the field of environmental protection.</p>
{% endblock %}

{% block scripts %}
    <script src="/js/echarts.min.js"></script>
    <script src="/js/pieNatCapEn.js"></script>
    <script src="/js/fm.revealator.jquery.min.js"></script>
{% endblock %}