{% extends "en/templates/page.html" %}

{% block breadcrumb %}
    <li><a href="/content"><small>Table of Contents /</small></a></li>
    <li class="active"><small><strong>CEO Statement</strong></small></li>
{% endblock %}

{% block picture %}
    background-image: url(../img/chapters/президент.jpg);
    background-position-y: 25%;
{% endblock %}

{% block  titleText %} 
    CEO Statement
{% endblock %}

{% block  subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-14">102-14</a></span>
            <span class="hidden-gri">Statement of the most senior decision maker in the organization</span>
        </span>
    </li>
</ul>
{% endblock %}

{% block content %}
    

    <div class="row president-recourse">
        <div class="col-12">
            <div class="row leftimg">
                <div class="col-12 president-photo"><img src="/img/лимаренко.jpg" style="width: 100%;"></div>
                <div class="col-12">
                    <div class="president-info mt-2">
                        <div class="president-name mb-2">Valery I. Limarenko,</div>
                
                        <div class="president-description">
                            CEO of Rosatom State Corporation<br>
                            Engineering Division<br>
                        </div>
                    </div>
                </div>
            </div>
            
            <h4 class="titlePage">Dear colleagues and partners, dear friends,</h4>
            <br>
            this year has been vitally important for us as the decennial anniversary of the Rosatom State Corporation. We are proud to have reached this milestone with excellent achievements.

            <p>The physical start-up of the Rostov <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> Unit 4 has completes the whole era of commercial B-320 reactor <span class="block">
	<span class="hover">Power units</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> that have proven their safety and reliability both in Russia and abroad. This is an important stage in the history of nuclear power <span class="block">
	<span class="hover">engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> started by the Soviet specialists and completed by our staff now.</p>

            <p>It is symbolic that the physical start-up of the Leningrad <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>-2, a generation III+ unit, was held only several days after that memorable event. It is the second <span class="block">
	<span class="hover">power unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> of the new generation that we put into operation ahead of our competitors. At the same time, this symbolic event marks the completion of one series of reactors and the commencement of a new one.</p>

            <p>In 2017, we implemented the successful start-up of the Tianwan <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> Unit 3 in China, too. The first two <span class="block">
	<span class="hover">Power units</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> are considered to be the best among all <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>s in China. We are confident that the third <span class="block">
	<span class="hover">power unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> will be reliable and safe as well and will operate for the benefit of the Chinese people.</p>

            <p>As for the projects launched, we should principally point out the commencement of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> marked by the first concreting at the Kudankulam <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> Units 3 and 4. The third important start is the first concreting at Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> in the People’s Republic of Bangladesh. Nowadays, maintaining the leadership depends largely on the company’s integration into the emerging 
                <span class="block">
                    <span class="hover">digital Economy</span>
                    <span class="hidden">
                        Economy based on new methods of generation, collection, processing, storage, analysis and transfer of data and new digital technologies:
                            <br>&ndash; Robot technology.
                            <br>&ndash; Cyber physical systems.
                            <br>&ndash; Industrial Internet of things.
                            <br>&ndash; Communication networks of 5th generation.
                            <br>&ndash; Additive technologies.
                            <br>&ndash; Cognitive technologies.
                            <br>&ndash; Artificial intelligence.
                            <br>&ndash; Machine learning.
                            <br>&ndash; Big Data.
                            <br>&ndash; Block chain.
                            <br>&ndash; Multimachine systems.
                    </span>
                </span>. Our <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division is making good progress while keeping this track.</p>

            <p>We have been long involved in digitalization, and the main tool in this area is the Multi-D system that we have developed. We are creating currently an industrial IT platform that can be used by any company, both in Russia and abroad. We believe that our task consists in the active interaction with state enterprises to facilitate the development of the economy of the regions where we operate.</p>

            <p>For example, last year we concluded an agreement with the Government of the Nizhny Novgorod region on cooperation in the field of application of information technologies.</p>

            <p class="text-focus mt-4">3 physical start-ups of <span class="block">
	<span class="hover">Power units</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> and 3 first concretings are the achievements of year 2017. However, these figures reveal still more outstanding results.</p>
            
            <p>Within the framework of social responsibility, the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division of Rosatom State Corporation pursues a consistent policy of socially orientated business in the regions of operation, supporting social projects in the sphere of environmental protection, culture, sports, promotion of patriotism among the young generation.</p>

            <p>Moreover, we should mention the priorities of our company, such as development of personnel social support programs, creating conditions for employees personal self-fulfillment, career advancement of young specialists, enhancing the prestige of making a career in the nuclear industry.</p>
            
            <p>In order to ensure the stable economic status of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division in severe competition, we should bring together our efforts and capabilities. In every day work, our team shows its ability to maintain the technical leadership on the global market.</p>
        </div>
    </div>
{% endblock %}