{% extends "en/templates/page.html" %} 

{% block link %}
    <link rel="stylesheet" href="/css/fm.revealator.jquery.min.css">
{% endblock %}

{% block breadcrumb %}
<li>
    <a href="/content">
        <small>able of Contents /</small>
    </a>
</li>
<li>
    <a href="#">
        <small>CHAPTER 1 /</small>
    </a>
</li>
<li class="active">
    <small><strong>1.5</strong></small>
</li>
{% endblock %} 

{% block picture %}
    background-image: url(../img/prod_cap2.jpg);
    background-position-y: 45%;
{% endblock %}

{% block titleText%} 1.5. Risks and Opportunities {% endblock %}

{% block  subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-13">102-13</a></span>
            <span class="hidden-gri">Association Membership</span>
        </span>
    </li>
</ul>
{% endblock %}
{% block content %}
<div>
    <div>
        <div id="under">
            <strong>1.5.1. Risk Management</strong>
        </div>
        <div class="row mt-3">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <p>Within the framework of improvement of risk management and internal control system in 2017 the following works were performed:
                
                <ul>  
                    <li class="mt-2">weekly meetings in OBEYA format involving key managers of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> projects and the Company management. Reviewing the most important and critical risks and taking decisions aimed at risks reduction/exclusion; </li>
                    <li class="mt-2">implementation of Rosatom State Corporation project “Harmonization of the risk management system in compliance with the best international practice”, with KPMG international consulting company as a consultant. Kursk <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>-2 and Bushehr <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>-2 are chosen to be pilot projects. Testing of the project risk management system was made, risk-sessions involving key staff of design offices were held, risk management tools were offered, including the tools for quantitative assessment of schedule risks and project cost; </li>
                    <li class="mt-2">update of risk management standard for complex <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> projects of JSC ASE EC taking into account best international practice;</li>
                    <li class="mt-2">training ~ 430 people;</li>
                    <li class="mt-2">
                        the Company entry into ECRI international association (<span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> & <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> Risk Institute) <span class="color_GOST">(GRI <span id="gri-102-13">102-13</span>)</span>.
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="headerPage blockLineLeftTxt">
                    <strong>In the Division the Automated risk management system is used, the main functions of which are the following:</strong>
                    
                    <ul class="mt-3">
                        <li>automated risk identification;</li>
                        <li>generation of the data base of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> projects key risks;</li>
                        <li>projects risk map maintenance;</li>
                        <li>tracking the compensating measures performance schedule.</li>
                    </ul>
                </div>
            </div>
        </div>

        <br>
        <strong>Risk Insurance</strong>
        <p>The purpose of risk insurance is to ensure coverage of the Company’s property interests when carrying out of its production and economic activities, as well as when fulfilling the obligations under the existing contracts. </p>
        <p>Peculiarities of the insurance coverage in the Division are stipulated by the character of the performance to be carried out, projects geography, legislative aspects of countries-<span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, re<span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>s, <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover"> reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>s’ requirements, contractual obligations. </p>
        <p>Due to this, each particular project has its own unique insurance, the parameters of which depend on the terms of the contracts and agreements to be concluded, specifics of the region, as well as on the national legislation of the country where the project is implemented.</p>
        <p>Insurance is made in Russian and foreign insurance companies. Selection of insurers depends on legislative regulations of the <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover"> reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>’s country and the <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover"> reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>’s requirements. Where applicable, risks are allocated in Russian insurance companies that get pre-approval of Rosatom State Corporation.</p>
        <p>Insurance package of <span class="block">
	<span class="hover">CEW</span>
	<span class="hidden">construction and erection works</span>
</span> is made with mandatory involvement of reinsurance companies both international and Russian. If needed, specialized insurance brokers, for example, such as Nuclear insurance broker, AON, JLT, Marsh, Willis, UIB, Renomia are engaged for insurance.</p>
        <br>
        <small>
            <strong>Table 1.4. Types of insurance mostly used in projects implementation</strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <td>Insurance package of <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> and erection works (applicable for Bushehr-2 <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, Belarus <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>; planned to be applied for Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> projects).</td>
                <td>It ensures “all risks” coverage, i.e. it recovers damages caused to insured objects as a result of sudden and unexpected events not included in the exclusionary list in the insurance contract. In practice it means that almost any sudden and unexpected loss or damage occurred during the insurance period in relation to insured property located on the <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> site will be compensated. </td>
            </tr>
            <tr>
                <td>Insurance of equipment and documentation for a period of transportation (applicable to Bushehr-2 <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, Tianwan <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, Belarus <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, Kudankulam <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>; planned to be applied to Paks II <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>).</td>
                <td>Provides the insurance coverage of equipment, materials and documentation during transportation. </td>
            </tr>
            <tr>
                <td>Professional liability insurance (planned to be applied to El-Dabaa <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> and Paks II <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>). </td>
                <td>Provides for protection of material interests of the contractor related to the necessity to compensate for damage to third parties in connection with carrying out by him of his professional performance. Mostly used in relation to designers, builders and surveyors.</td>
            </tr>
            <tr>
                <td>Staff insurance.</td>
                <td>
                    Medical insurance of the personnel traveling outside the permanent place of residence within the official business trips.
                    <br>Medical insurance of the personnel on sites, in representative offices and branches.
                    <br>Personnel insurance against accidents and sicknesses.
                </td>
            </tr>
        </table>

        <p>Subcontractors’ works and personnel engaged in the Project shall be also insured. Subcontractors are responsible for insurance of their own <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> machinery and personnel.</p>
        
        <h4 class="mt-4"><strong>Risk Management Objectives for 2018 and in the Mid-term:</strong></h4>

        <ul class="mt-4">
            <li>Further development of the risk management process in compliance with the best international practice. </li>
            <li>Improvement of the risk-management culture proceeds via establishment of the risk owners’ responsibility (establishment of <span class="block">
	<span class="hover">KPI</span>
	<span class="hidden">Key Performance Indicator</span>
</span> and OPI), improvement of risk analysis quality in the course of planning and making decisions.</li>
            <li>Education of employees engaged in risk management processes, in ECRI (<span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> & <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> Risk Institute).</li>
            <li>Adaptation of the Automated risk management system to existing risk management practices at all <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> projects.</li>
            <li>
                Integration of the risk management process into “Project risk management” unit of 
                <span class="block"><span class="hover">the Total Cost Management Nuclear <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> (TCM NC) system implementation program*.</span><span class="hidden">* Total Cost Management Nuclear construction (TCM NC) – a new integrated cost and time management system for nuclear facilities construction, that ensures full coverage of all management processes with the focus on the cost management.</span></span> 
            </li>
        </ul>
    </div>

    <div class="mt-4">
        <div id="under">
            <strong id="riskmapup">1.5.2. Basic Risks and Opportunities</strong>
        </div>
        <p>Following the results of 2017, the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division’s key risks have been updated. </p>
        <small>
            <strong>Map of risks and opportunities of <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> division</strong>
        </small>
        <div>
            <small class="color_GOST">*Click on risk for more information on the map</small>
        </div>
    </div>
    <br>
    <div class="row">
        <div id="risk-map" class="row col-lg-12 col-md-8 col-sm-12 revealator-slideup revealator-once">
            <div class="col-lg-6 col-md-12 col-sm-12 text-center">
                <strong>Risks–threats</strong>
                {% include "./table1_en.html" %}
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 text-center">
                <strong>Risks–possibilities</strong>
                {% include "./table2_en.html" %}
            </div>
        </div>

        <div class="col-lg-12 col-md-4 col-sm-12 risks">
            <a name="contentAccordion" class="go-anchor" href="#riskmapup">to map ↑</a><br><br>
            <div id="contentAccordion">
                <div id="collapse0" class="collapse show" aria-labelledby="heading0" data-parent="#contentAccordion">
                    <br> Political and country-based risks
                    <div class="circle_num dblue">
                        <div id="heading1">
                            <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                1
                            </a>
                        </div>
                    </div>
                    <br> Commercial and financial risks
                    <div class="circle_num blue">
                        <div id="heading2">
                            <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                2
                            </a>
                        </div>
                        <div id="heading3">
                            <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                3
                            </a>
                        </div>
                        <div id="heading4">
                            <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                4
                            </a>
                        </div>
                        <div id="heading5">
                            <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                5
                            </a>
                        </div>
                    </div>
                    <br> Project risks
                    <div class="circle_num green">
                        <div id="heading6">
                            <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                6
                            </a>
                        </div>
                        <div id="heading7">
                            <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                7
                            </a>
                        </div>
                        <div id="heading8">
                            <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                8
                            </a>
                        </div>
                    </div>
                    <br> Reputation risks
                    <div id="heading9" class="circle_num yellow">
                        <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                            9
                        </a>
                    </div>
                    <br> Technological risks
                    <div id="heading10" class="circle_num gray">
                        <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                            10
                        </a>
                    </div>
                    <br> Human resources
                    <div id="heading11" class="circle_num bgray bgray_11">
                        <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                            11
                        </a>
                    </div>
                    <br> DC NRHF, <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> and modernization of RW and <span class="block">
	<span class="hover">SNF</span>
	<span class="hidden">Spent Nuclear Fue</span>
</span> management facilities 
                    <br> <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> service and modernization
                    <div class="circle_num dgray">
                        <div id="heading12">
                            <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                12
                            </a>
                        </div>
                        <div id="heading13">
                            <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                13
                            </a>
                        </div>
                    </div>
                    <br> Project Management Consulting services (PMC-services)
                    <div id="heading14" class="circle_num gray1">
                        <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                            14
                        </a>
                    </div>
                    <br> IT Risks
                    <div id="heading15" class="circle_num blue1">
                        <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                            15
                        </a>
                    </div>
                    <br> Human resources
                    <div id="heading16" class="circle_num blue1">
                        <a href="" class=" collapsed" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                            16
                        </a>
                    </div>
                </div>
                <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#contentAccordion">
                    <div class="circle_num dblue">
                        <a>1</a>
                    </div>
                    <br>
                    <br>
                    <strong>Risk (factor) a pointer indicates a trend
                    </strong>
                    Political risk.
                    <br> (Political and economic instability of target markets).
                    <br>
                    <br>
                    <strong>Trend discription</strong>
                    <br> Risk impact growth factors:
                    <br> Continued existence of sanctions on the part of the USA and the EU and retaliatory sanctions on the part of Russia. 
                    <br> The occurrence of the probability of imposing sanctions on individuals and legal entities in the field of nuclear technologies and as a result – the possible restriction of transactions with foreign companies for the supply of equipment for <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>s, etc.
                    <br>
                    <br> Risk mitigants:
                    <br> Development of cooperation with Southeast Asian nations. Improvement of relations with Turkey and Egypt.
                    <br>
                    <br>
                    <strong>Key performance on risk management and response to risks emerged in 2017. Risk management results in 2017.</strong>
                    <br> Participation in international forums.
                    <br> Intensity of negotiation efforts, including arrangement of visits of partner countries.
                    <br> Arrangement of foreign <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover"> reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>s’ representatives’ visits. 
                    <br> Looking for new markets.  
                    <br> Import substitution of technologies and equipment program implementation. 
                </div>
                <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#contentAccordion">
                    <div class="circle_num blue">
                        <a>
                            2
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Risk (factor) a pointer indicates a trend
                    </strong>
                    <br> Interest Rate Risk. 
                    <br> (unavailability of global financial resources).
                    <br>
                    <br>
                    <strong>Trend discription</strong>
                    <br> Considerable reduction of the Central Bank interest rate.
                    <br>
                    <br>
                    <strong>Key performance on risk management and response to risks emerged in 2017. Risk management results in 2017.</strong>
                    <br> The risk did not affect the Company in the reporting year.
                </div>
                <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#contentAccordion">
                    <div class="circle_num blue">
                        <a>
                            3
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Risk (factor) a pointer indicates a trend
                    </strong>
                    <br> Risk of state funding availability decrease.
                    <br> (change of the Russian macroeconomic indicators).
                    <br>
                    <br>
                    <strong>Trend discription</strong>
                    <br> Remaining relatively low price level for hydrocarbons.
                    <br> Deficit budget of Russia.
                    <br>
                    <br>
                    <strong>Key performance on risk management and response to risks emerged in 2017. Risk management results in 2017.</strong>
                    <br> Results: No significant losses related to reduction of available state funding. 
                </div>
                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#contentAccordion">
                    <div class="circle_num blue">
                        <a>
                            4
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Risk (factor) a pointer indicates a trend
                    </strong>
                    <br> Exposure to the credit risk of suppliers and <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover"> reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>s.
                    <br>
                    <br>
                    <strong>Trend discription</strong>
                    <br> Bankruptcy of Westinghouse and, as a consequence, – growth of requirements to economic security of the <span class="block">
	<span class="hover">general contractor</span>
	<span class="hidden">Party to the contract which assigns performance of certain types and packages of work under the contract to specialized contracting organizations – subcontractors. The General Contractor is fully responsible to the <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover"> reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span> for performance of the contractual work package and proper quality thereof, timely removal of defects and faults, etc.</span>
</span> and subcontractors.
                    <br>
                    <br>
                    <strong>Key performance on risk management and response to risks emerged in 2017. Risk management results in 2017.</strong>
                    <br> Within the framework of competitive procedures, the counterparties’ financial resources are assessed. The Company uses guarantees provided by the partner banks of Rosatom State Corporation.
                </div>
                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#contentAccordion">
                    <div class="circle_num blue">
                        <a>
                            5
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Risk (factor) a pointer indicates a trend
                    </strong>
                    <br> Currency risk.
                    <br>
                    <br>
                    <strong>Trend discription</strong>
                    <br> The incomplience between real exchange rates during the year 2017, and the rates in planning budgeting indicators in 2017.
                    <br>
                    <br>
                    <strong>Key performance on risk management and response to risks emerged in 2017. Risk management results in 2017.</strong>
                    <br> Control of net foreign exchange position.
                    <br> Individual approach to subcontractors, including calculating for the share of the currency component in the cost value.

                </div>
                <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#contentAccordion">
                    <div class="circle_num green">
                        <a>
                            6
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Risk (factor) a pointer indicates a trend
                    </strong>
                    <br> Risks of default under <span class="block">
	<span class="hover">EPC</span>
	<span class="hidden">Companies implementing a project on a turn-key basis. The functions of EPC companies include designing, procurement and <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>.</span>
</span>-contracts on <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> abroad, and of default under <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> contracts in the RF.
                    <br> (at the level of 2016).
                    <br>
                    <br>
                    <strong>Trend discription</strong>
                    <br> Due to the increase in the number of projects, there is a risk of insufficient resources to fulfill contracts, in particular labor resources, see risk 11.
                    <br>
                    <br>
                    <strong>Key performance on risk management and response to risks emerged in 2017. Risk management results in 2017.</strong>
                    <br> Unconditional execution of contracts conditions.
                </div>
                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#contentAccordion">
                    <div class="circle_num green">
                        <a>
                            7
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Risk (factor) a pointer indicates a trend</strong>
                    <br> Loss of contract, postponement of <span class="block">
	<span class="hover">EPC</span>
	<span class="hidden">Companies implementing a project on a turn-key basis. The functions of EPC companies include designing, procurement and <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>.</span>
</span>-contract related to <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> project.
                    <br> (at the level of 2016).
                    <br>
                    <br>
                    <strong>Trend discription</strong>
                    <br> High dependence of the <span class="block">
	<span class="hover">general contractor</span>
	<span class="hidden">Party to the contract which assigns performance of certain types and packages of work under the contract to specialized contracting organizations – subcontractors. The General Contractor is fully responsible to the <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover"> reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span> for performance of the contractual work package and proper quality thereof, timely removal of defects and faults, etc.</span>
</span> selection on political impact of competing countries.
                    <br>
                    <br>
                    <strong>Key performance on risk management and response to risks emerged in 2017. Risk management results in 2017.</strong>
                    <br> Intensification of the work with <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover"> reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>s.
                    <br> Holding negotiations between the management of Rosatom State Corporation and the government of a foreign <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover"> reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>. 
                    <br> Development of action plans on cooperation with a foreign <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover"> reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>. 
                    <br> Implementation of the time and cost reduction program in <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>. 
                    <br> Proactive position of the Company in work with the existing foreign <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover"> reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>s in relation to prospective projects.
                </div>
                <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#contentAccordion">
                    <div class="circle_num green">
                        <a>
                            8
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Risk (factor) a pointer indicates a trend</strong>
                    <br> Cutting of foreign <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover"> reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span> budgets.
                    <br> (1. Lack of funding in a number of countries where the Company has promising <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> projects. 
                    <br> 2. Limited project investment resources in the RF).
                    <br> (at the level of 2016).
                    <br>
                    <br>
                    <strong>Trend discription</strong>
                    <br> Changes in the macroeconomic performance of countries participating in projects.
                    <br>
                    <br>
                    <strong>Key performance on risk management and response to risks emerged in 2017. Risk management results in 2017.</strong>
                    <br> Operating performance using alternative financing sources, including commercial loans, hiring of partners and investors on alternative markets, including through involvement of Private Institution Rusatom International Network to implementation of measures in relation to alternative financing sources. Use of opportunities for redistribution of free credit resources between projects.
                    <br> Results: alternative proposals for financing promising projects were presented to foreign <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover"> reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>s.
                </div>
                <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#contentAccordion">
                    <div class="circle_num yellow">
                        <a>
                            9
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Risk (factor) a pointer indicates a trend</strong>
                    <br> Reputation Risk.
                    <br> (1. Major incidents in the global nuclear industry; 
                    <br> 2. Mass Media publications (in the RF and abroad) of articles discrediting Russian nuclear technologies on traditional and prospective markets).
                    <br>
                    <br>
                    <strong>Trend discription</strong>
                    <br> Possible expansion of sanctions of Western countries on cooperation in the field of nuclear technologies may adversely affect the reputation of the Division.
                    <br> In some cases, the Company's overseas projects development are faced with opposition from local public organizations and political structures.
                    <br> In general, this counterforceis relatively low, however, such events are periodically covered by the media.
                    <br>
                    <br>
                    <strong>Key performance on risk management and response to risks emerged in 2017. Risk management results in 2017.</strong>
                    <br> Measures aimed at strengthening the positive public attitude towards development of the nuclear energy industry by improvement of information transparency and open communication with all stakeholders.
                    <br> Regular interaction with the public and the mass media in the regions of <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> projects. Informing the public on all important events related to JSC ASE EC core business.
                    <br> Publication of the Company’s Reports including the Integrated Annual Report.
                    <br> Analysis of stakeholders’ structure, identification of their expectations, expansion of stakeholder groups, attraction of foreign stakeholders.
                    <br> Participation in Russian industrial events and international exhibitions and conferences.
                    <br> Strengthening the brand presence on foreign markets through marketing promotion of the brand.
                </div>
                <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#contentAccordion">
                    <div class="circle_num gray">
                        <a>
                            10
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Risk (factor) a pointer indicates a trend</strong>
                    <br> The risk of non-competitiveness of the technologies being developed (<span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> of the Russian design).
                    <br>
                    <br>
                    <strong>Trend discription</strong>
                    <br> Risk impact growth factors: 
                    <br> Active promotion of technologies from Korea and China.
                    <br> Enhancement of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> safety requirements.
                    <br> Development of new technologies of conventional fuels production.
                    <br> Improvement and cost-cutting of renewable technologies.
                    <br> Risk mitigants: 
                    <br> Development of its own production base, cooperation, innovation, ensuring the growth of indicators for import substitution.
                    <br> Reducing transaction costs, improving the quality of project performance and <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> work using digital transformation models.
                    <br>
                    <br>
                    <strong>Key performance on risk management and response to risks emerged in 2017. Risk management results in 2017.</strong>
                    <br> Evaluation of projects and technological developments according to the criteria of novelty, cost and quality in the pre-investment phase. Use of project management technologies and flexible Agile methodologies aimed at evaluation of the design and technology.
                    <br> Application of benchmarking and Lean management technologies (in the <span class="block">
	<span class="hover">RPS</span>
	<span class="hidden">Rosatom Production System</span>
</span> rules) for the growth of the qualification level, quality, enhancement of the organizational culture and the development of market competences. 
                    <br> Application of methods and models of public-private partnership (BOO, etc.)

                    <br> Assisting the <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover"> reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>-countries in developing their own nuclear infrastructure.
                    <br> Improvement of design quality, cost reduction at the next stages of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> life cycle, provided by the use of BIM models and Multi-D technologies.
                    <br> Diversification of activities, product "lines" and services – taking into account the diversity of <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover"> reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span> requirements. Mastering of new market sectors. Complex offers to consumers of products and services.
                </div>
                <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#contentAccordion">
                    <div class="circle_num bgray bgray_11">
                        <a>
                            11
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Risk (factor) a pointer indicates a trend</strong>
                    <br> Qualified personnel shortage risk.
                    <br>
                    <br>
                    <strong>Trend discription</strong>
                    <br> Risk impact growth factors:
                    <br>The lack / absence of specialists in the field of nuclear energy in the target countries for <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>.
                    <br> Lack of workers and engineers in the RF.
                    <br> Risk mitigants:
                    <br>Growth of attractiveness of nuclear energy enterprises as an employer.
                    <br>
                    <br>
                    <strong>Key performance on risk management and response to risks emerged in 2017. Risk management results in 2017.</strong>
                    <br> Cooperation with universities, support and development of student <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> teams.
                </div>
                <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#contentAccordion">
                    <div class="circle_num dgray">
                        <a>
                            12
                        </a>
                    </div>
                    <table class="table table-bordered table-responsive">
                        <tr>
                            <th>Risk (factor) a pointer indicates a trend</th>
                            <th>Trend discription</th>
                            <th>
                                Key performance on risk management and response to risk emerged in 2017.
                                <br> Risk managment result in 2017. 
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Non-conclusion of new foreign contracts for <span class="block">
	<span class="hover">RAW</span>
	<span class="hidden">Radioactive wastes</span>
</span> management and <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> decommissioning services. On the foreign market –subsidiaries: NUKEM Technologies GmbH, NUKEM Technologies <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Services GmbH. (1. Competition growth on market. 2. Transfer of a number of key tenders at the <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover"> reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>s’ initiative).</td>
                            <td>
                                The risk remained at the level of 2016.
                                <br>Refusal of some European countries to use nuclear power opens for the Company the opportunity (with consideration for European asset – Nukem) to strengthen its presence on the market of RW, <span class="block">
	<span class="hover">SNF</span>
	<span class="hidden">Spent Nuclear Fue</span>
</span> management facilities <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> and DC NRHF.
                            </td>
                            <td>
                                Negotiations with <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover"> reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>s and potential partners on the market. Cooperation with market integrators – Rosatom SC – JSC Techsnabexport, JSC Rusatom Service, Nukem Technologies Sales International GmbH.

                                <br> Results:
                                <br> Participation in a major tender for rendering services in the field of radioactive waste management during decommissioning of Kozloduy <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>. The tender results will be announced in 2018. 
                                <br> Overfulfillment of the plan for concluding new contracts on the market of Western Europe (Germany, France, Great Britain).
                            </td>
                        </tr>
                        <tr>
                            <td>Failure to meet deadlines for the implementation of concluded contracts at Ignalina <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>.</td>
                            <td>The risk remained at the level of 2016.</td>
                            <td>
                                Strengthening the project team.
                                <br> Optimization of interaction with the <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, <span class="block">
	<span class="hover"> reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> or other type of <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span> and the European Bank for <span class="block">
	<span class="hover"> Reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> and Development.
                                <br> Development of a project-oriented approach in the implementation of works at Ignalina <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>.
                                <br> Results:
                                <br> All key events of 2017 regarding the commissioning of the SRW storage and processing facility were completed on time. 
                                <br> The “cold” tests of the solid <span class="block">
	<span class="hover">RAW</span>
	<span class="hidden">Radioactive wastes</span>
</span> storage and processing facility were completed.
                            </td>
                        </tr>
                        <tr>
                            <td>Non-conclusion of new contracts as a result of increased competition on the Russian market for decommissioning and <span class="block">
	<span class="hover">RAW</span>
	<span class="hidden">Radioactive wastes</span>
</span> management.</td>
                            <td>The risk increased in comparison with 2016.</td>
                            <td>
                                Applications were submitted for the implementation of 6 <span class="block">
	<span class="hover">R&D</span>
	<span class="hidden">Research and development</span>
</span> projects in the field of development of new decommissioning and <span class="block">
	<span class="hover">RAW</span>
	<span class="hidden">Radioactive wastes</span>
</span> management technologies.
                                <br> Results:
                                <br> Applications review and making decisions on projects financing is planned for 2018.
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#contentAccordion">
                    <div class="circle_num dgray">
                        <a>
                            13
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Risk (factor) a pointer indicates a trend</strong>
                    <br> Loss of contract, postponement of contracts implementation in the segment of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> service and modernization.
                    <br> (tough competition on the part of local contractors).
                    <br>
                    <br>
                    <strong>Trend discription</strong>
                    <br> The company, with its unique Multi-D project management technology, has the potential to provide the market with consulting services for the <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> management of complex <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> facilities.
                    <br> Company's reputation and expertise allow retaining its market position.
                    <br>
                    <br>
                    <strong>Key performance on risk management and response to risks emerged in 2017. Risk management results in 2017.</strong>
                    <br> The application of best practices in the <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of nuclear power plants, obtained by the Company in the main segment (high-capacity nuclear power plants), allows to increase the competence in the provision of PMC services.
                    <br> The risk did not affect the Company in the reporting year.
                </div>
                <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#contentAccordion">
                    <div class="circle_num gray1">
                        <a>
                            14
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Risk (factor) a pointer indicates a trend</strong>
                    <br> Loss of contract, postponement of contracts in the segment of project management consulting (PMC Services). 
                    <br>(tight competition on the part of the existing players).
                    <br>
                    <br>
                    <strong>Trend discription</strong>
                    <br> The unique project management technology Multi-D makes it possible for the Company to provide the market with consulting services on management of complex <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> facilities.
                    <br>
                    <br>
                    <strong>Key performance on risk management and response to risks emerged in 2017. Risk management results in 2017.</strong>
                    <br> Application of best practices obtained by the Company in the core business of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover"> construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> makes it possible for us to build-up the competences in the PMC-services segment.
                </div>
                <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#contentAccordion">
                    <div class="circle_num blue1">
                        <a>
                            15
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Risk (factor) a pointer indicates a trend</strong>
                    <br> Transformation into a digital company.
                    <br>
                    <br>
                    <strong>Trend discription</strong>
                    <br> Development of the <span class="block">
                    <span class="hover">digital economy</span>
                    <span class="hidden">
                        Economy based on new methods of generation, collection, processing, storage, analysis and transfer of data and new digital technologies:
                            <br>&ndash; Robot technology.
                            <br>&ndash; Cyber physical systems.
                            <br>&ndash; Industrial Internet of things.
                            <br>&ndash; Communication networks of 5th generation.
                            <br>&ndash; Additive technologies.
                            <br>&ndash; Cognitive technologies.
                            <br>&ndash; Artificial intelligence.
                            <br>&ndash; Machine learning.
                            <br>&ndash; Big Data.
                            <br>&ndash; Block chain.
                            <br>&ndash; Multimachine systems.
                    </span>
                </span> in Russia, penetration of digital technology into all processes of operating activities. 
                    <br>
                    <br>
                    <strong>Key performance on risk management and response to risks emerged in 2017. Risk management results in 2017.</strong>
                    <br> Implementation of Data-oriented comprehensive digital management system. Digitalization and robotization of processes to improve the quality and speed of flow. Updating the infrastructure to support digital transformation.
                </div>
                <div id="collapse16" class="collapse" aria-labelledby="heading16" data-parent="#contentAccordion">
                    <div class="circle_num blue1">
                        <a>
                            16
                        </a>
                    </div>
                    <br>
                    <br>
                    <strong>Risk (factor) a pointer indicates a trend</strong>
                    <br> Increase of the personnel efficiency under conditions of transition to a digital company.
                    <br>
                    <br>
                    <strong>Trend discription</strong>
                    <br> Reducing transaction/time costs for processing information and for decisions’ making.
                    <br> Increase of the personnel effectiveness through the use of information technologies.
                    <br>
                    <br>
                    <strong>Key performance on risk management and response to risks emerged in 2017. Risk management results in 2017.</strong>
                    <br> Personal transformation of the staff, formation of the digital transformation leaders in JSC ASE EC and supporting leaders outside the company. Formation of basic knowledge and skills that contribute to the development and implementation of projects within the framework of transition to a digital company.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="/js/fm.revealator.jquery.min.js"></script>
{% endblock %}