{% extends "en/templates/page.html" %} 

{% block link %}
    <link rel="stylesheet" href="/css/fm.revealator.jquery.min.css">
{% endblock %}

{% block breadcrumb %}
<li>
    <a href="/content">
        <small>Table of Contents /</small>
    </a>
</li>
<li>
    <a href="#">
        <small>CHAPTER 2 /</small>
    </a>
</li>
<li class="active">
    <small><strong>2.6</strong></small>
</li>
{% endblock %} 

{% block picture %}
    background-image: url(../img/chapters/2.6_soc_rep.jpg);
{% endblock %}

{% block titleText%} 2.6. Social and Relationship Capital {% endblock %}

{% block subtitleText %}
GRI 
<ul id="gri-list">
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-40">102-40</a></span>
            <span class="hidden-gri">List of stakeholders with whom the organization interacts</span>
        </span>
    </li>
    <li>
        <span class="block">
            <span class="hover"><a href="#gri-102-42">102-42</a></span>
            <span class="hidden-gri">Principles for identifying and selecting stakeholders for interaction</span>
        </span>
    </li>
</ul>
{% endblock %}

{% block content %}
    <div class="blockLineLeftTxt">
        <p class="txtHead">Social and relationship capital includes: constructive cooperation with the main stakeholders, public acceptability of nuclear technologies, brand management, contributions to the development of the areas of operation, charity programs, etc.</p>
    </div>
    
    <div class="row mt-2">
        <div style="background-image: url(../img/деменцова-бел.jpg); background-position-x: 36%;" class="col-lg-4 col-md-4 col-sm-12 bossPhoto"></div>
        <div class="col-lg-8 col-md-8 col-sm-12 interview">
            <h5>
                <strong>Nina Dementsova,
                    <br>Head 
                    <br>of Communications Division</strong>
            </h5>
            <br>
            <strong>Which measures does the division undertake to enhance public acceptance of the development of nuclear technologies in the regions of operation?</strong>
            
            <em class="directSpeech">
                <p class="mt-4">- In our corporate commuications’s work we are guided by the strategy of external communications of Rosatom State Corporation and the goals that face the Division and the industry in general. Our publicactivity is aimed at increasing the trust of the population in regions of operations, social approval of the <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> plans, explanation of measures aimed at enhancing the safety of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>s of the Russian design. The Division fosters trust-based relations with the stakeholders and pursues the strategy of forming the ideology of public demand in nuclear power rather than the public acceptance of nuclear projects. </p>
                <p>Information about the events in the Division is regularly presented on internal and external websites, in numerous Russian and foreign publications, in social networking websites. We issue publications, photo and video materials, leaflets, booklets, books, including those for young people and school children, organize festivals and photo exhibitions, fairs for the public, press-tours for journalists to the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> facilities. </p>
                <p>In view of the fact that in many countries we do not only construct <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>s but create the nuclear industry, we are engaged in large-scale informational and communication work for elimination of radiological phobia and enhancing the acceptability of nuclear technologies. Considering the fact that the attitude towards the industry is not always emotionally neutral, we are trying to create maximally positive background about our business, we organize various culture events and support social programs.</p>
            </em>

            <br>
            <strong>Can you give us examples of such events in 2017?
</strong>
            
            <em class="directSpeech">
                <p class="mt-4">- In the reporting year the Division, jointly with Rosatom State Corporation, implemented project “Oriental horizon of the Russian atom” that demonstrated the reliability and safety of Russian nuclear technologies in India and Bangladesh. </p>
                <p>About 300 events were organized in the course of the project. In particular, in Chennai, India, the first festival of science and the first festival of Russian animation films were organized, competitions of pictures and models devoted to nuclear power <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> were held. About 57 thousand people participated in those events. </p>
                <p>One of the key events of the project was the opening in December 2017 of the first Public Counseling Office at an <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>, outside Russia. This is the Public Counseling Office of Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> in Bangladesh located next to the constructed <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> in Pabna province. The visitors of the Public Counseling Office of the city of Ishvardi can learn more about the nuclear power, about the first <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> in Bangladesh, about modern <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> technologies and unique safety systems of <span class="block">
	<span class="hover"><span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span>s</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> of the newest generation, and about the course of works at Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> site. Public Counseling Offices will be opened at other facilities of the Division.</p>
                <p>A number of scientific and educational books were published within the framework of the project: Nuclear ABC in Tamil language, comics about nuclear power in Bengali language. </p>
                <p>I would like to point out that “Oriental horizons of the Russian atom” was highly acknowledged in the professional PR-community – it received a diploma in nomination “International projects” of “ConTEXt” competition organized with the support of the Ministry of Energy of the Russian Federation.</p>
            </em>
        </div>
    </div>
    
    <div class="mt-5">
        <div id="under">
            <strong>2.6.1. Awards in 2017</strong>
        </div>
        
        <br>
        <small>
            <strong>Table 2.27. Awards in 2017</strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <th>Competition</th>
                <th>Achievements</th>
            </tr>
            <tr>
                <td>Power Awards for 2017</td>
                <td><span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 6 of Novovoronezh <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> was among the three winners in nomination “The best power plant” of the rating of POWER Magazine (USA).</td>
            </tr>
            <tr>
                <td><span class="block">
	<span class="hover">IPMA</span>
	<span class="hidden">Enhancing the efficiency of the Company’s project performance in accordance with the best international practices in the field of project management. Confirmation of the company competence in the field of project management on the international level.</span>
</span> Project Excellence AWARDS 2017</td>
                <td>Project “<span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 3 of Rostov <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>" got 2nd place on nomination “Mega-project”.</td>
            </tr>
            <tr>
                <td>CETI AWARD 2016</td>
                <td>Project management system Multi-d was announced the best in nomination “Mega-project”.</td>
            </tr>
            <tr>
                <td>All-Russian competition “BIM-technologies”</td>
                <td>Kursk <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>-2 project has been announced the winner in nomination “Technologies of information modeling during design of real estate facilities” Industrial and civil <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>”.</td>
            </tr>
            <tr>
                <td>All-Russia competition <span class="block">
	<span class="hover">Worldskills</span>
	<span class="hidden">International non-commercial movement aimed at improving the profile and recognition of skilled people, developing professional education by harmonization of the best practices and professional standards all over the world by arrangement and conduct of professional skills contests.</span>
</span> in the field of information technology Digitalskills
</td>
                <td>Team gold medal in nomination “Machine learning and big data".</td>
            </tr>
            <tr>
                <td>Competition “IT-project of the year” of the Ministry of Information Technologies, Communication and Mass Media of Nizhny Novgorod region</td>
                <td>Project “Digital trade platform Multi-D-Market” was announced the winner in nomination “The best IT-project of the state sector”.</td>
            </tr>
            <tr>
                <td>Industry competition “TeMP-2017”</td>
                <td>10 teams, two of which represented the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division, secured a place in the super final.</td>
            </tr>
            <tr>
                <td>‘RPS leaders” competition</td>
                <td>
                    Of the main six nominations of the competition, three nominations were won by representatives of the Division: 

                    <ul class="mt-2">
                        <li class="mt-2">in nomination “The best <span class="block">
	<span class="hover">RPS</span>
	<span class="hidden">Rosatom Production System</span>
</span>-project aimed at reducing production cost” – engineers of JSC ASE EC Evgeny Rats and Sergey Mikheev; </li>
                        <li class="mt-2">in nomination “Enhancing labor productivity" – erection specialists of civil structures of LLC Trest RosSEM Andrey Salnikov ;</li>
                        <li class="mt-2">for proposal to improve, in nomination “Efficiency of resources use (expenses, materials)”, first deputy director – chief engineer of branch office of jsc NIKIMT-Atomstroy of Kursk <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> director, Nikolay Kmitto, was commended.</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    
    <div class="mt-5">
        <div id="under">
            <strong>2.6.2. Main Communication Projects</strong>
        </div>

        <p class="mt-4"><strong>The main tasks of the Division in the field of communications:</strong></p>
        
        <ul class="mt-4">
            <li class="mt-2"> implementation of unified industry informational, advertisement and brand-policy of Rosatom State Corporation;</li>
            <li class="mt-2">organization of continuous informational exchange with mass media on the performance of the Division, organization of press-tours to <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>s, organization of PR-support of important events within the framework of the Company’s business;</li>
            <li class="mt-2">creating an image of the Company that is open for any partners interested in cooperation and communication, with companies, mass media. Public groups in Russia and abroad;</li>
            <li class="mt-2">informational support of implementation of long-term events plan, large investment projects implemented with the participation of the Division; </li>
            <li class="mt-2">advocacy of the advantages of Russian nuclear technologies on the Russian and foreign markets, also via informational centers in regions of operation.</li>
        </ul>

        <br>
        <small>
            <strong>Table 2.28. Participation in large international and federal communication projects and events</strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <th>Communication project</th>
                <th>Form of participation</th>
            </tr>
            <tr>
                <td>Opening of the public counseling office at Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span></td>
                <td>24.12.2017 – public counseling office was opened at Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> in Bangladesh For the first time project “The Public Counseling Office of Rosatom” was implemented outside the Russian Federation.</td>
            </tr>
            <tr>
                <td>The ceremony of first concrete pouring at Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span></td>
                <td>During the official ceremony of first concrete pouring at Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Bangaldesh), a press-tour of Russian federation mass media was organized. A number of image events in Pabna province was organized prior to first concrete pouring ceremony.</td>
            </tr>
            <tr>
                <td>Organization of a cultural event for foreign partners in Hungary</td>
                <td>A gala-concert of the famous Russian and Hungarian opera singers was organized within the framework of Atomex-Europe Forum.</td>
            </tr>
            <tr>
                <td>An official ceremony of commencement of works in the open pit of the main buildings of <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span> No. 2 of Bushehr <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> (Iran) was held </td>
                <td>Within the framework of the summit of the Caspian bordering states that took place in November 2017 in Tehran (Iran), a press-tour of Russian federal mass media was organized to Bushehr <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> – the first nuclear power plant in the Middle East.</td>
            </tr>
            <tr>
                <td>The Russian-Indial festival of animation films in India</td>
                <td>In partnership with All-Russia state television and broadcasting company, children’s channels “Karusel” and “Mult”, a Festival of Russian-Indian animation films was organized in India.</td>
            </tr>
            <tr>
                <td>Festival of science and technology in India</td>
                <td>The first Festival of science and technologies was organized in the city of Chennai (India). The central site of the Festival was planetarium named after B.M. Birla. The event was organized at 7 sites in Chennai, including schools and universities. Over 5000 children from 90 schools of Chennai visited the festival.</td>
            </tr>
            <tr>
                <td>International ecological expedition to Belarus <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> site</td>
                <td>In November 2017, at the initiative of JSC ASE EC, the second International ecological expedition to Belarus <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> site was organized. The data obtained in the course of environmental monitoring at the <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> site were the basis for the ecological certificate of Belarus <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>.</td>
            </tr>
            <tr>
                <td>NUCKIDS-2017
                </td>
                <td>Qualification contests for children’s participation in theatrical performances. Active participation in circulation of information about the first performance of the musical in St.Petersburg, distribution of tickets in social and non-governmental organizations of St.Petersburg and Leningrad region.</td>
            </tr>
            <tr>
                <td>Forsage-2017</td>
                <td>Thirty two young specialists of the Division participated in the Forum. Nineteen employees of the company were the prize-winners of Forsage, one specialist was the finalist of competition “Innovation leader of the nuclear industry – 2017”.</td>
            </tr>
        </table>
    </div>
    
    <div class="mt-5">
        <div id="under">
            <strong>2.6.3. Contribution to the Development of Regions of Operation</strong>
        </div>

        <p class="mt-4">In 2017, significant attention was paid to initiatives aimed at creating conditions of public acceptability of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> abroad and to the development of supporting infrastructure. A huge scope of works was performed at Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> and Paks-II <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> sites.</p>
        <p>In the reporting year, a joint project with the Government of Nizhny Novgorod region was successfully implemented for the third time. Agreement on interaction in sports development for the amount of 25 mln RUR creates additional conditions for support of children’s and amateur sports in the region. </p>
        <p>On the whole, contribution to the development of regions of operation are made mainly via investment projects (<span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of nuclear facilities) which entails the creation of new jobs, development of public infrastructure, tax payment, etc. A certain contribution to the development of the regions of operation of the Division is made via implementation of charity projects.</p>

        <h4 class="mt-5"><strong>Charity Projects </strong></h4>

        <div class="row mt-4">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <p>ASE Group of Companies – the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division of Rosatom State Corporation, pursuing the principles of corporate social responsibility in the nuclear industry, pays significant attention to fostering relationship with local communities in areas of operation.</p>
                <p>This work is of a systematic character, it is based on long-term trustworthy relations with regions of operation. One mechanism for fostering communication channels with the regions is suppport of local initiatives within the framework of implementation of charitable events of the Company.</p>
                <h4 class="mt-5"><strong>The priorities of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division during charitable programs are:</strong></h4>

                <ul class="mt-4">
                    <li class="mt-2">enhancing a positive image of the Company;</li>
                    <li class="mt-2">maintaining high social and cultural standards in the areas where nuclear facilities are located;</li>
                    <li class="mt-2">support of projects aimed at strengthening the socio-economic development of the regions;</li>
                    <li class="mt-2">support of environmental protection projects.</li>
                </ul>

                <h4 class="mt-5"><strong>The key local initiatives that are paid special attention to are as follows:</strong></h4>
                
                <ul class="mt-4">
                    <li class="mt-2">strengthening the material and technical base of health, culture and education institutions;</li>
                    <li class="mt-2">support for veteran organizations;</li>
                    <li class="mt-2">support of initiatives aimed at the preservation of live and health (disabled, aged, orphans, children in difficult circumstances, emergency medical help);</li>
                    <li class="mt-2">conducting cultural and sports events;</li>
                    <li class="mt-2">support of the nuclear industry information centers;</li>
                    <li class="mt-2">support and promotion of Russian nuclear technologies development projects on foreign markets;</li>
                    <li class="mt-2">support of faith-based organizations.</li>
                </ul>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="blockLineLeftTxt">
                    <div class="headerPage">
                        In 2017 a fifth competition of charitable projects among non-commercial organizations was held.

                        <br><strong>Nominations:</strong>

                        <ul class="mt-4">
                            <li class="mt-2">Culture and sports.</li>
                            <li class="mt-2">Environmental protection.</li>
                            <li class="mt-2">Patriotic initiatives.</li>
                            <li class="mt-2">Younger generation.</li>
                        </ul>

                        <br>When selecting the winners, special attention was paid to the following criteria: 


                        <ul class="mt-4">
                            <li class="mt-2">relevance of the resolved social problem, significance of the project for the social and cultural development of areas where the Company operates;</li>
                            <li class="mt-2">importance of the results of activities under the project;</li>
                            <li class="mt-2">degree of participation of the population, public, volunteers (this criterion envisages active involvement of the population in the resolution of the problem, identification and support of initiatives);</li>
                            <li class="mt-2">partnership with organs of state power and local self-government, commercial and non-commercial companies in the project implementation.</li>
                        </ul>

                        <br>The grant fund amounted to 26.4 mln RUR. The competition was provided with 181 requests, 115 were acknowledged as winners.
                    </div>
                </div>
            </div>
        </div>
        <p class="text-focus mt-4">In 2017, ASE Group of Companies – the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division of Rosatom State Corporation allocated 274.3 mln RUR, for charity activities. (In 2016 – 195.4 mln RUR).  </p>
        <div class="row revealator-slideup revealator-once">
            <div class="col-lg-6 col-md-6 col-sm-12" id="ChartDEn" style="height: 600px;"></div>
            <div class="col-lg-6 col-md-6 col-sm-12" id="ChartEEn" style="height: 600px;"></div>
        </div>
        
        <p class="mt-4">In 2017, significant attention was paid to implementation of initiatives aimed at creating the conditions of public acceptance of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> abroad and the development of social infrastructure.</p>
        <p>The following projects were implemented in the People’s Republic of Bangladesh (at Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> site): an orthodox church and a public counseling office were opened. </p>
        <p>The orthodox cathedral continued working at Kudankulam <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> site.</p>
        <p>Traditionally, significant attention was paid to work aimed at <span class="block">
	<span class="hover">reconstruction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of cathedrals in the regions of operation: the Assumption Cathedral of Sarov Monastery, the Holy Trinity-St. Sergius Lavra, Serafim Sarovsky Cathedral and Cathedral of Kursk Saints in the city of Kurchatov.</p>
        <p>In 2017, a joint project with the Government of Nizhny Novgorod region was successfully implemented for the third time. Agreement on interaction in sports development for the amount of 25 mln RUR creates additional conditions for support of children’s and amateur sports in the region.</p>
        
        <h4 class="mt-5"><strong>Plans for 2018</strong></h4>
        
        <p class="mt-4">In accordance with the draft list of charitable initiatives for 2018, about 395 mln RUR will be allocated for charity purposes. </p>
        <p>Among the most significant events in 2018 we should point out the following:</p>

        <ul class="mt-4">
            <li>In view of entering into force of the contract for El-Dabaa <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> in Egypt, ASE Group of Companies, jointly with Private Institution Rusatom International Network, are considering the possibility of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> of an Information Center of Nuclear Industry. </li>
            <li>Jointly with Private Institution Rusatom International Network, it is planned to perform certain works for creating public acceptability conditions of Paks <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> in Hungary. </li>
            <li>An orthodox church will be built at Belarus <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> site.</li>
        </ul>

        <p>In 2018, ASE Group of Companies – the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division of Rosatom State Corporation will continue fostering the relations with the local communities in the regions of operation.</p>

        <h4 class="mt-4"><strong>Taxes</strong></h4>
        
        <p class="mt-4">The <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division plays a significant role in forming the income part of the budget in areas where the company operates. </p>
        <p class="text-focus">In 2017, the volume of paid taxes was 6,263 mln RUR</p>
        
        <br>
        <small>
            <strong>Table 2.29. Taxes and fees imposed on and paid by organizations of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division, mln RUR</strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <td rowspan="2"></td>
                <th colspan="2">2015</th>
                <th colspan="2">2016</th>
                <th colspan="2">2017</th>
                <th colspan="2">∆ 2017 /2016</th>
            </tr>
            <tr>
                <td>Charged</td>
                <td>Paid</td>
                <td>Charged</td>
                <td>Paid</td>
                <td>Charged</td>
                <td>Paid</td>
                <td>Charged</td>
                <td>Paid</td>
            </tr>
            <tr class="rowBold">
                <td>Taxes and fees in total</td>
                <td>3 856</td>
                <td>7 968</td>
                <td>6 239</td>
                <td>5 453</td>
                <td>8 597</td>
                <td>6 263</td>
                <td>37.8 %</td>
                <td>14.84 %</td>
            </tr>
            <tr>
                <td colspan="9">Including:</td>
            </tr>
            <tr>
                <td>To Federal budget</td>
                <td>-7 293</td>
                <td>-1 382</td>
                <td>-2 574</td>
                <td>-5 126</td>
                <td>-3 041</td>
                <td>-2 663</td>
                <td>18.13 %</td>
                <td>-48.05 %</td>
            </tr>
            <tr>
                <td>To RF subjects budget</td>
                <td>389</td>
                <td>368</td>
                <td>157</td>
                <td>158</td>
                <td>194</td>
                <td>158</td>
                <td>23.81 %</td>
                <td>-0.18 %</td>
            </tr>
            <tr>
                <td>Local budgets </td>
                <td>37 </td>
                <td>38</td>
                <td>37</td>
                <td>36</td>
                <td>35</td>
                <td>38</td>
                <td>-6.05 %</td>
                <td>4.69 %</td>
            </tr>
            <tr>
                <td>Foreign countries budgets</td>
                <td>1 932 </td>
                <td>913</td>
                <td>2 105</td>
                <td>2 285</td>
                <td>2 958</td>
                <td>2 166</td>
                <td>40.52 %</td>
                <td>-5.21 %</td>
            </tr>
            <tr>
                <td>Taxpayers consolidated group income tax</td>
                <td>4 814</td>
                <td>4 088</td>
                <td>2 805</td>
                <td>4 507</td>
                <td>5 011</td>
                <td>3 006</td>
                <td>78.65 %</td>
                <td>-33.30 %</td>
            </tr>
            <tr>
                <td>Insurance fees to off-budget funds</td>
                <td>3 976 </td>
                <td>3 942</td>
                <td>3 709</td>
                <td>3 612</td>
                <td>3 440</td>
                <td>3 559</td>
                <td>-7.26 %</td>
                <td>-1.47 %</td>
            </tr>
        </table>
        <hr>
        <small>
            <em>
                *  The main volume of tax payments is VAT to be refunded from the budget (-) due to export operations for sales of equipment (reimbursement during sales charged with VAT 0%) for JSC ASE.
                <br>JSC ASE EC, JSC ASE, JSC Atomenergoproekt, JSC Atomproekt, LLC Trest RosSEM are members of taxpayers consolidated group (TCG) due to which they do not pay profit tax independently. The calculated and paid profit tax shows what has been remitted to the responsible member of TCG. 
                <br>The figures indicated in tables may differ from the same ones calculated in the report due to rounding of figures.
            </em>
        </small>
    </div>
    
    <div class="mt-5">
        <div id="under">
            <strong>2.6.4. Main Russian and International Agreements of 2017</strong>
        </div>
        <p class="mt-5">In 2017, the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> division was involved in active interaction and cooperation with a number of Russian and foreign companies, also in the field of digital technologies development.</p>

        <br>
        <small>
            <strong>Table 2.23. Main agreements in 2017 (Russian, international)</strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <th>Partner</th>
                <th>Document type</th>
                <th>Tasks</th>
                <th>Results</th>
            </tr>
            <tr>
                <td>Assystem </td>
                <td>Memorandum of understanding</td>
                <td>
                    <ul>
                        <li>Cooperation in the field of promotion and practical introduction of solutions based on Milti-D technologies for <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> operators in Europe, Middle East, North Africa and other countries.</li>
                        <li>Joint participation in designing, <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> and commissioning of new <span class="block">
	<span class="hover">Power Unit</span>
	<span class="hidden">A part of a nuclear power plant representing a set of main and auxiliary equipment, combined in a unified process system designed to generate electricity by using one or two turbine units with/without heat generating by converting the nuclear fuel energy.</span>
</span>s outside Russia.</li>
                        <li>Cooperation in the field of <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> and management of chains of suppliers of products and services for foreign enterprises and Russian power industry, including <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> and TPP equipment, in the countries of Europe, Middle East, North Africa and so on, </li>
                        <li>Cooperation in the field of services and works related to research nuclear facilities, joint participation in open tenders for International Thermonuclear Experimental Reactor ITER.</li>
                        <li>Cooperation in the field of the final stage of nuclear fuel cycle, decommissioning of nuclear facilities land <span class="block">
	<span class="hover">RAW</span>
	<span class="hidden">Radioactive wastes</span>
</span> treatment.</li>
                    </ul>
                </td>
                <td>
                    Development of strategy for promotion of industrial and technological digital platform on the international market.
                    <br>Conclusion of an income producing agreement with EDF for Multi-D services. 
                </td>
            </tr>
            <tr>
                <td>MEPhI </td>
                <td>Agreement on educational, scientific and technical cooperation</td>
                <td>
                    <ul>
                        <li>Development of new forms of personnel training for knowledge-driven economy considering changes to <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> professions that change under the impact of scientific and technical progress.</li>
                        <li>Training of personnel for processes management during the whole life cycle of a nuclear facility and complex facilities of other industrial sectors, including training of specialists for development of solutions in the field of digital production.</li>
                        <li>Target training of foreign students for work at <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>s constructed by JSC ASE EC abroad.</li>
                        <li>Training of personnel considering requirements to work in multicultural environment with the knowledge of English.</li>
                        <li>Organization of joint educational and research programs in the field of designing, <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, operation and decommissioning of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>s, in line with the long-term production program that is implemented by JSC ASE EC. </li>
                        <li>Development of digital technologies including VirtualReality-<span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span>, technologies of machine learning and artificial intelligence, development, testing and verification of program solutions, development of solutions of integration of calculation codes with automated design systems, creation and development of electronic catalogues, digital industrial and process and sales platforms for the whole life cycle of a nuclear facility and complex facilities of other industrial sectors. </li>
                        <li>Development of an infrastructure for implementation of joint projects in the field of <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span>, nuclear physics and computer sciences for non-nuclear sector in terms of the strategy of JSC ASE EC and Rosatom State Corporation for diversification of the industry enterprises, joint work for commercialization of the results of research and development by introducing them into production. </li>
                        <li>Organizing of industry, all-Russia and international conferences, forums and other public events dedicated to technology and personnel training for designing, <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, operation and decommissioning of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>s.</li>
                    </ul>
                </td>
                <td>
                    Development of strategic direction for establishment and introduction of an industrial and process digital platform.
                    <br>Creating a personnel reserve for the industry, giving possibilities for training, organization joint educational and research programs.
                </td>
            </tr>
            <tr>
                <td>Association of organizations for development of informational modeling in <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> and utility sector (BIM-association)</td>
                <td>Memorandum on cooperation</td>
                <td>
                    <ul>
                        <li>Development of informational modeling methods in <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>.</li>
                        <li>Development of industry and national standards and methodical guidelines for informational modeling of buildings and structures.</li>
                        <li>Mastering of informational modeling technologies, gaining experience in work with special software, improvement of organizational and functional structure of projects during designing of capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> facilities using informational modeling technologies, creation of library elements and project templates. </li>
                    </ul>
                </td>
                <td>
                    Development of strategic direction for establishment and introduction of an industrial and process digital platform.

                    <br>Joining an international association for promotion of Multi-D and informational modeling in <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>.
                    <br>Development of competences in the field of informational modeling in <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>.
                </td>
            </tr>
            <tr>
                <td>Limited Liability Company SAP CIS</td>
                <td>Memorandum of intent for creation of a Competence Center of nuclear facilities <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> on the basis of SAP solutions</td>
                <td>
                    <ul>
                        <li>Development of typical architecture of Unified Information Space of JSC ASE EC.</li>
                        <li>Inclusion into Muldi-D digital platform of SAP solutions introduced in JSC ASE EC within IPMS project. </li>
                        <li>Integration with related IT-systems of Rosatom State Corporation and its divisions, contractors and <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, reconstruction or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>s within the framework of the unified standard for electronic exchange of information during capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> and operation.</li>
                    </ul>
                </td>
                <td>
                    Development of strategic direction for establishment and introduction of an industrial and process digital platform. 
                    <br>Creation of a Competence Center of nuclear facilities <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> on the basis of SAP solutions which will make it possible for ASE reach a new level of capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> management by using tools of big data analysis, artificial intelligence and machine learning. 
                </td>
            </tr>
            <tr>
                <td>IBM East Europe/Asia Ltd.</td>
                <td>Agreement on cooperation</td>
                <td>
                    Strategic cooperation in the following fields:

                    <ul>
                        <li>development of digital transformation technology, in particular, solutions on the basis of technology for controlling logistical flows, development of predictive analysis, implementation of analytical solutions on the basis of artificial intelligence and machine learning using both the open technology stack and IBM Watson and IoT. </li>
                        <li>development of digital transformation technology, in particular, solutions on the basis of technology for controlling logistical flows, development of predictive analysis, implementation of analytical solutions on the basis of artificial intelligence and machine learning using both the open technology stack and IBM Watson and IoT. </li>
                    </ul>
                </td>
                <td>
                    Development of strategic direction for establishment and introduction of an industrial and process digital platform. 
                    <br>Development of strategy for promotion of digital platform on the international market.
                </td>
            </tr>
            <tr>
                <td>Hilti Distribution Ltd.</td>
                <td>Memorandum on cooperation</td>
                <td>Development of strategic cooperation in the field of information technologies aimed at promotion of solutions developed by HILTI, reduction of time period of designing and project implementation.</td>
                <td>
                    Development of strategic direction for establishment and introduction of an industrial and process digital platform. 
                    <br>Conclusion of a long-term agreement on cooperation and interaction in the field of development of Multi-D Market system within the industrial and process platform of the complete life cycle of complex <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> facilities for further use of these data in the format of automated design systems of the largest software vendors like Autodesk, AVEVA, Bentley Systems, Dassault Systemes, Intergraph PP&M, Siemens PLM, ets.
                </td>
            </tr>
            <tr>
                <td>
                    Non-governmental educational institution Moscow school of management Skolkovo.
                    <br>Center for Strategic Research “North-West”
                </td>
                <td>Agreement on cooperation</td>
                <td>
                    <ul>
                        <li>Methodical and consulting support for creation of digital platforms of Russian and international companies in various sectors of economy.</li>
                        <li>Research in the field of digitalization of economy, analysis and transfer of the best management practices.</li>
                        <li>Audits of companies in terms of compliance with the requirements for digitalization of business-processes, rendering services for improving the “digital maturity”.</li>
                        <li>Development and implementation of models of organizational changes for execution of projects for digitalization and transformation of companies’ business-models. </li>
                        <li>Development and launching of personnel training programs for digitalization of economy. </li>
                        <li>Introduction of digital technologies into the existing production and economic processes of companies, sharing best practices for introduction of successful digital technologies. </li>
                    </ul>
                </td>
                <td>
                    Development of strategic direction for establishment and introduction of an industrial and process digital platform. 
                    <br>Development of cooperation on the project basis for accumulation and sharing of the experience of digital transformation of state and commercial sectors of the Russian economy. 
                </td>
            </tr>
        </table>
    </div>
    
    <div class="mt-5">
        <div id="under">
            <strong>2.6.5. Engagement with Stakeholders</strong>
        </div>
        <div class="row mt-4">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <p class="text-focus">In our performance, we are pursuing to establish partnership and mutually advantageous relations with all the stakeholders.</p>
                <p>Engagement with stakeholders is performed in all the Division’s regions of operation. From 2017, the company has been involved in active work with <span class="block">
	<span class="hover">customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, reconstruction or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>s, partners, local media, public and environmental organizations, authorities and other stakeholders in the format of regular meetings, forums, conferences, exhibitions, round tables and press tours to <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> sites.</p>
                <p>Stakeholders’ rank map* <span class="color_GOST">(GRI <span id="gri-102-42">102-42</span>)</span></p>
                    <div id="ChartFEn" class="revealator-slideup revealator-once" style="height: 300px;"></div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="headerPage blockLineLeftTxt">
                    <span class="color_GOST"> (GRI <span id="gri-102-40">102-40</span>, 102-42) </span>
                    <strong>Principles of engagement with the stakeholders:</strong>
                    
                    <ul class="mt-4">
                        <li class="mt-2">The Principle of "Inclusivity” – the Company pursues the policy of informational openness and involvement of the personnel in the projects (<span class="block">
	<span class="hover">EIA</span>
	<span class="hidden">Environmental impact assessment</span>
</span>, public reporting, forums/exhibitions, publications, etc.)</li>
                        <li class="mt-2">Record and response principle – the Company considers the requests and demands of the main stakeholders, including the interest of those who cannot express their opinion (e.g., the future generations) and timely responds to the grounded requests and proposals.</li>
                        <li class="mt-2">Materiality principle – The Company interacts with the stakeholders on all the issues that are significant for the company and all the interested parties.</li>
                        <li class="mt-2">Mutual benefit principle – the Company strives to build interactions with the stakeholders on the basis of partnership and mutual benefit.</li>
                    </ul>
                </div>
            </div>
        </div>

        <br><br>
        <small>
            <strong>Table 2.24. Key stakeholders </strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <th>Key stakeholders</th>
                <th>Basic interests</th>
                <th>Methods of interactions </th>
            </tr>
            <tr>
                <td>Shareholders:
                    <br>Rosatom State Corporation, JSC “Atomenergoproekt”, JSC “Atomstroyexport”
                </td>
                <td>
                    <ul>
                        <li>Strategy implementation Economic efficiency.</li>
                        <li>Business sustainability Business process transparency.</li>
                    <ul>
                </td>
                <td>
                    <ul>
                        <li>Participation in implementation of the shareholder’s strategic objectives Improvement of the corporate management system Implementation of the Rosatom production system. </li>
                        <li><span class="block">
	<span class="hover">KPI</span>
	<span class="hidden">Key Performance Indicator</span>
</span> implementation.</li>
                    </ul>

                    <br>
                    <i>
                        Please refer to chapters 
                        <br>«<a href="/division_strategy">Strategic review</a>», 
                        <br>«<a href="/corporate_governance">Corporate governance</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="block">
	<span class="hover">Customer</span>
	<span class="hidden">A person or legal entity intending to carry out <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, reconstruction or other type of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> works which require a <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> permit.</span>
</span>s:
                    <br>JSC Rosenergoatom Concern, <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>D Company of Iran, JSC Slovenske Elektrarne”, NPCIL, Akkuyu Nucleer JSC, Jiangsu Nuclear Power Corporation (JNPC), Chinese Nuclear Power <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Corporation (CNPE), Chinese Nuclear Energy Industry Corporation (CNEIC), GU DSAE, EVN, FSNPC, NN EGC “Energoatom”
                </td>
                <td>
                    <ul>
                        <li>Implementation of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> plans. </li>
                        <li>Reduction of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> periods and cost.</li>
                        <li>Improvement of the quality of works.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Performance of contractual obligations.</li>
                        <li>Participation in the work of steering committees.</li>
                        <li>Mastering of up-to-date <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> technologies.</li>
                        <li>Bilateral visits.</li>
                    </ul>

                    <br>
                    <i>
                        Please refer to chapters 
                        <br>«<a href="/productive_capital">Manufactured capital</a>», 
                        <br>«<a href="/natural_capital">Natural capital</a>», 
                        <br>«<a href="/division_strategy">Strategic review</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>Partners: suppliers, contractors
                </td>
                <td>
                    <ul>
                        <li>Acquisition of new orders.</li>
                        <li>Company’s financial status. </li>
                        <li>Prospects of cooperation.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Open bidding.</li>
                        <li>Entering into long-term contracts with transparent pricing principles.</li>
                        <li>Participation in exhibitions and forums.</li>
                        <li>Bilateral visits.</li>
                        <li>Building up of strategic partnerships.</li>
                    </ul>

                    <br>
                    <i> 
                        Please refer to chapter 
                        <br>«<a href="/productive_capital">Manufactured capital</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>Personnel and companies representing employees’ interests: Trade union, Young professionals board, Veterans Board</td>
                <td>
                    <ul>
                        <li>Company’s development.</li>
                        <li>Professional and career promotion. </li>
                        <li>Labor safety requirements.</li>
                        <li>Fair remuneration.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Qualification training of personnel. </li>
                        <li>Staff pool programs. </li>
                        <li>Social support of employees. </li>
                        <li>Social partnership. </li>
                    </ul>

                    <br>
                    <i> 
                        Please refer to chapter  
                        <br>«<a href="/human_capital">Human capital</a>», 
                        <br>«<a href="/natural_capital">Natural capital</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>Local bodies of self-governance</td>
                <td>
                    <ul>
                        <li>Environmental and radiation safety. </li>
                        <li>Infrastructure development.</li>
                        <li>Taxes.</li>
                        <li>Creation of new jobs. </li>
                        <li>Implementation of social programmes.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Personnel qualification upgrade. </li>
                        <li>Management staff pool programmes. </li>
                        <li>Social support of employees. </li>
                        <li>Social partnership.</li>
                    </ul>

                    <br>
                    <i> 
                        Please refer to chapter 
                        <br>«<a href="/soc_rep_capital">Social and reputation capital</a>», 
                        <br>«<a href="/natural_capital">Natural capital</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>State inspection/regulatory authorities
                    <br>Federal Environmental, Industrial and Nuclear Supervision Service of Russia
                </td>
                <td>Meeting Russian and international legal requirements.</td>
                <td>
                    <ul>
                        <li>Obtaining licenses. </li>
                        <li>Conducting inspections. </li>
                        <li>Reporting. </li>
                        <li>Development of proposals for improvement of legislation.</li>
                    </ul>

                    <br>
                    <i>
                        Please refer to chapters 
                        <br>«<a href="/productive_capital">Manufactured capital</a>», 
                        <br>«<a href="/financial_capital">Financial capital</a>», 
                        <br>«<a href="/human_capital">Human capital</a>», 
                        <br>«<a href="/natural_capital">Natural capital</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>International organizations, including organizations of the nuclear sector:
                    <br>IAEA, WANO, WNA, Nuclear Energy Agency of the Economic Cooperation and Development Organization
                </td>
                <td>
                    <ul>
                        <li>Nuclear power development.</li>
                        <li>Environmental and radiation safety.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>International conferences/exhibitions/forums. Joint programmes.</li>
                        <li>Work in joint committees, commissions, expert teams dealing with nuclear power issues. </li>
                    </ul>
                    
                    <br>
                    <i>
                        Please refer to chapters 
                        <br>«<a href="/productive_capital">Manufactured capital</a>», 
                        <br>«<a href="/intellectual_capital">Intellectual capital</a>», 
                        <br>«<a href="/natural_capital">Natural capital</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>Professional associations: the RF Chamber of Commerce and Industry, the Russian Union of Industrialists and Entrepreneurs</td>
                <td>Prospects of cooperation. </td>
                <td>Forums/conferences/exhibitions.</td>
            </tr>
            <tr>
                <td>Bodies of state power: the RF Government, RF State Duma, RF Federation Council </td>
                <td>
                    <ul>
                        <li>Nuclear power development.</li>
                        <li>Environmental and radiation safety.</li>
                        <li>Infrastructure development.</li>
                        <li>Taxes.</li>
                        <li>Creation of new jobs. </li>
                        <li>Implementation of social programmes.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li><span class="block">
	<span class="hover">EIA</span>
	<span class="hidden">Environmental impact assessment</span>
</span> development. </li>
                        <li>Work in joint committees, commissions, expert teams dealing with nuclear power issues. </li>
                        <li>Public accountability.</li>
                        <li>Contribution to the development of regions of operation.</li>
                    </ul>
                    
                    <br>
                    <i>
                        Please refer to chapters 
                        <br>«<a href="/division_strategy">Strategic review</a>», 
                        <br>«<a href="/corporate_governance">Corporate governance</a>», 
                        <br>«<a href="/financial_capital">Financial capital”</a>», 
                        <br>«<a href="/productive_capital">Manufactured capital</a>», 
                        <br>«<a href="/soc_rep_capital">Social and Relationship capital</a>»,
                        <br>«<a href="/human_capital">Human capital</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>Insurance organizations: JSC SOGAZ and other</td>
                <td>Civil liability for causing harm due to deficiencies in works in the area of <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span>, design and <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> surveys that affect the safety of capital <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> facilities.</td>
                <td>
                    Insurance of civil liability risks and other types of insurance.
                    <br>
                    <i>
                        Please refer to chapters 
                        <br>«<a href="/risks_and_opportunities">Risk management</a>», 
                        <br>«<a href="/productive_capital">Manufactured capital</a>», 
                        <br>«<a href="/human_capital">Human capital</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>Finance and credit institutions:  “SAROVBUSINESSBANK” PJSC , Volgo-Vyatskiy-bank JSC, etc. </td>
                <td>Financing, debt financing.</td>
                <td>
                    Debt financing. 
                    <br>
                    <i>
                        Please refer to chapters 
                        <br>«<a href="/division_strategy">Strategic review</a>», 
                        <br>«<a href="/financial_capital">Financial capital</a>», 
                        <br>«<a href="/corporate_governance">Corporate governance</a>». 
                    </i>
                </td>
            </tr>
            <tr>
                <td>
                    Scientific community: 
                    <br><span class="block">
	<span class="hover">R&D</span>
	<span class="hidden">Research and development</span>
</span>, Academy of Sciences and other 
                </td>
                <td>
                    <ul>
                        <li>Development of sectoral research.</li>
                        <li>Development of innovative technologies.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Joint programmes. </li>
                        <li><span class="block">
	<span class="hover">R&D</span>
	<span class="hidden">Research and development</span>
</span> orders. </li>
                        <li>Scientific conferences.</li>
                    </ul>
                        
                    <br>
                    <i> 
                        Please refer to chapters 
                        <br>«<a href="/intellectual_capital">Intellectual capital</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>Company’s management</td>
                <td>Company’ strategy implementation.</td>
                <td>
                    <ul>
                        <li>Improvement of the management system.</li>
                        <li>Efficiency improvement programme.</li>
                    </ul>

                    <br>
                    <i>
                        Please refer to chapter 
                        <br>«<a href="/division_strategy">Strategic report</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>Population of the regions of operation</td>
                <td>
                    <ul>
                        <li>Creation of new jobs. </li>
                        <li>Contribution to the development of regions of operation.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Public counseling offices. </li>
                        <li>Social and charity programmes. </li>
                        <li><span class="block">
	<span class="hover">EIA</span>
	<span class="hidden">Environmental impact assessment</span>
</span> development.</li>
                    </ul>

                    <br>
                    <i> 
                        Please refer to chapters 
                        <br>«<a href="/human_capital">Human capital</a>», 
                        <br>«<a href="/natural_capital">Natural capital</a>», 
                        <br>«<a href="/soc_rep_capital">Social and relationship capital</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>Mass media</td>
                <td>Provision of prompt access to information about the Company’s activities.</td>
                <td>
                    <ul>
                        <li>Press-conferences and press tours.</li>
                        <li>Public accountability.</li>
                        <li>Updating of information at the site, official weblog, resources in the social networks.</li>
                    </ul>
                
                    <br>
                    <i> 
                        Please refer to chaptes 
                        <br>«<a href="/soc_rep_capital">Social and relationship capital</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>Educational institutions: the National Research Nuclear University (NiYaU MIFI), NSTU, NSU named after N.I. Lobachevsky, Ivanov State Power University and other</td>
                <td>
                    <ul>
                        <li>Personnel target training.</li>
                        <li>Development of sectoral research.</li>
                        <li>Development of innovative technologies.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Training, retraining and refresher training of employees. </li>
                        <li>Organization of students’ field periods.</li>
                        <li><span class="block">
	<span class="hover">R&D</span>
	<span class="hidden">Research and development</span>
</span> orders.</li>
                    </ul>

                    <br>
                    <i> 
                        Please refer to chapters 
                        <br>«<a href="/human_capital">Human capital</a>», 
                        <br>«<a href="/intellectual_capital">Intellectual capital</a>».
                    </i>
                </td>
            </tr>
            <tr>
                <td>Public organizations, including environmental organizations. Environmental fund named after V.I. Vernadsky, etc.</td>
                <td>
                    <ul>
                        <li>Social and charity programmes. </li>
                        <li>Social partnership. </li>
                        <li>Environmental protection.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Social and charity programmes .</li>
                        <li>Environmental expeditions. </li>
                        <li><span class="block">
	<span class="hover">EIA</span>
	<span class="hidden">Environmental impact assessment</span>
</span> development. </li>
                        <li>Public accountability.</li>
                    </ul>

                    <br>
                    <i> 
                        Please refer to chapters 
                        <br>«<a href="/natural_capital">Natural capital</a>», 
                        <br>«<a href="/soc_rep_capital">Social and relationship capital</a>».
                    </i>
                </td>
            </tr>
        </table>

        <h4 class="mt-5"><strong>Public Reporting System</strong></h4>

        <p class="mt-4">Public reporting system (PRS) was established in the Company in 2010. In 2016 the establishment of the <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> Division was completed. Due to expansion of the management scope and new tasks of the Division (transformation into a digital company) reorganization started in 2017.</p>

        <img src="/img/public_reportEn.jpg" style="width: 100%;">

        <br><br>
        <small>
            <strong>Table 2.25. 2017 results of PRS improvement</strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <th>Scopes of works</th>
                <th>Results of</th>
            </tr>
            <tr>
                <td rowspan="2">PRS improvement</td>
                <td>PRS improvement project has been developed.</td>
            </tr>
            <tr>
                <td>The membership of the public reporting committee has been updated and expanded.</td>
            </tr>
            <tr>
                <td rowspan="3">Interfaces with stakeholders</td>
                <td>A concept of the Division interaction with the stakeholders has been developed (within the framework of PRS updating).</td>
            </tr>
            <tr>
                <td>Design and technical assignment for updating of the interactive platform of all the stakeholders, have been developed.</td>
            </tr>
            <tr>
                <td>Works for updating of the stakeholders’ environment, also for the purpose of establishing a new 3C commission. </td>
            </tr>
            <tr>
                <td rowspan="2">Improvement of the regulatory and methodical basis</td>
                <td>A study of the existing processes of information collection for the public reporting purposes was performed, recommendations for their improvement were prepared. </td>
            </tr>
            <tr>
                <td>Regulatory documents for public reporting have been updated. Public Reporting Standard, Regulations on the Public Reporting Committee, Regulation on the Commission of Stakeholders. </td>
            </tr>
            <tr>
                <td rowspan="4">Improvement of the public reporting quality</td>
                <td>Expert assessment by the Russian Union of Industrialists and Entrepreneurs’ Center for Corporate Social Accountability and Non-Financial Reporting.</td>
            </tr>
            <tr>
                <td>Expert assessment of the Report by the Russian Integrated Reporting Network in terms of compliance with the International Standard <IR>.</td>
            </tr>
            <tr>
                <td>Investigation of the best practices of integrated reports preparation.</td>
            </tr>
            <tr>
                <td>Making video films and publishing articles on public reporting (”Economic Strategies” journal, Expert-RA rating agency web-site.) </td>
            </tr>
            <tr>
                <td>Personnel qualification upgrade</td>
                <td>Training workshop with the dedicated departments specialists, has been held.</td>
            </tr>
        </table>

        <br><br>
        <small>
            <strong>Table 2.26. The report’s awards for the Annual report 2016</strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <th colspan="2">Industry competition</th>
            </tr>
            <tr>
                <td>Competition of public reporting of Rosatom organizations </td>
                <td>
                    <ul>
                        <li>Winner in the category "Best annual report” of Rosatom State Corporation.</li>
                        <li>Winner in category “Public reporting efficiency”.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th colspan="2">National competitions</th>
            </tr>
            <tr>
                <td>The annual competition of the rating agency annual reports (Expert RA)</td>
                <td>
                    <ul>
                        <li>Winner in the "Best integrated annual report” category.</li>
                        <li>The highest mark – “5 start” in the rating of annual reports for 2016.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th colspan="2">International competitions</th>
            </tr>
            <tr>
                <td rowspan="7">League of American Communications Professionals </td>
                <td>6th place in the top-50 annual reports of the world.</td>
            </tr>
            <tr>
                <td>11th place in the top-80 annual reports of Europe.</td>
            </tr>
            <tr>
                <td>4th place in the top-20 annual reports of Russia.</td>
            </tr>
            <tr>
                <td>Platinum award in nomination “The best letter to shareholders” (of all the reports in Europe).</td>
            </tr>
            <tr>
                <td>Platinum award in nomination “The best letter to stakeholders” (of all the reports in the world).</td>
            </tr>
            <tr>
                <td>Platinum award for achievements in section “Power <span class="block">
	<span class="hover">Engineering</span>
	<span class="hidden">Engineering and consulting services of research design and engineering, calculation and analytical nature, preparation of projects feasibility studies, elaboration of recommendations in the field of production and management, i.e. a package of commercial services for preparation and support of the production and product distribution process, maintenance and operation of industrial, infrastructure and other facilities..</span>
</span> “ and “Equipment and Services” (1st place), gold award in s в section “Business Services” (2nd – 4th place).</td>
            </tr>
            <tr>
                <td>Platinum award in the “The best financial report” category.</td>
            </tr>
            <tr>
                <td rowspan="2">Australasian Reporting Awards</td>
                <td>Gold winner.</td>
            </tr>
            <tr>
                <td>Debut of the year (2nd place).</td>
            </tr>
            <tr>
                <td rowspan="4">MarCom Awards</td>
                <td>Platinum award in the “Corporation – the best corporate annual report” category.</td>
            </tr>
            <tr>
                <td>Platinum award in Annual Report / CSR Report “Writing – the best text of the report” category.</td>
            </tr>
            <tr>
                <td>Gold award in “Annual Report Cover – the Best Cover” category.</td>
            </tr>
            <tr>
                <td>Platinum award in the “E-Annual Report – the best interactive report” category.</td>
            </tr>
            <tr>
                <th rowspan="2">CRRA</th>
                <td>The best integrated report (3rd place).</td>
            </tr>
            <tr>
                <td>4th place in “Credibility Through Assurance” category.</td>
            </tr>
        </table>

        <br><br>
        <small>
            <strong>Table 2.27. Tasks for 2018 and mid-term prospects for PRS improvement</strong>
        </small>
        <table class="table table-borderless table-responsive">
            <tr>
                <th>Scopes of works</th>
                <th>Plans</th>
            </tr>

            <tr>
                <td rowspan="2">Interfaces with stakeholders</td>
                <td>Updating of the interactive platform of interaction with stakeholders, launch of 1.0 version of the Platform for engagement with stakeholders.</td>
            </tr>
            <tr>
                <td>Development of new membership of stakeholders commission.</td>
            </tr>
            <tr>
                <td>Improvement of the regulatory and methodical system</td>
                <td>
                    Development of draft of new system of information collection for the purpose of public reporting of JSC ASE EC on the basis of the results.
                    <br>A study of the existing processes of information collection for the public reporting purposes , recommendations for their improvement.
                </td>
            </tr>
            <tr>
                <td rowspan="5">Improvement of the public reporting quality</td>
                <td>A dialogue with stakeholders at an <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> site.</td>
            </tr>
            <tr>
                <td>Expert review of the Report by Center for Corporate Social Responsibility and Non-financial Reporting of the Russian Union of Industrialists and Entrepreneurs Russian Integrated Reporting Network.</td>
            </tr>
            <tr>
                <td>Study of the best practices of preparation of international reports by companies – international leaders in digital transformation.</td>
            </tr>
            <tr>
                <td>Issue of pilot booklets upon the results of the year at <span class="block">
	<span class="hover">construction</span>
	<span class="hidden">A whole process of <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> construction from survey and design works to handing over to the customer for operation.</span>
</span> site of Rooppur <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span> and Paks-II <span class="block">
	<span class="hover">NPP</span>
	<span class="hidden">Nuclear Power Plant</span>
</span>. </td>
            </tr>
            <tr>
                <td>Expansion of the list of partners for promotion of public reports of the Division.</td>
            </tr>
            <tr>
                <td>Personnel qualification upgrade</td>
                <td>Training workshop with specialists from profile divisions and seminar (webinar) with representatives of the main stakeholders.</td>
            </tr>
        </table>
</div>
{% endblock %}

{% block scripts %}
    <script src="/js/echarts.min.js"></script>
    <script src="/js/chartsSocRepCapEn.js"></script> 

    <script src="/js/fm.revealator.jquery.min.js"></script>
{% endblock %}