<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 281 301"
    enable-background="new 0 0 281 301" xml:space="preserve" class="un__ch15__svg" id="svg_ar">
    <g id="Layer_1">
        <g>
            <rect x="17.394" y="16.026" fill="#e4d5e9" width="52.472" height="52.47"></rect>
            <rect x="69.865" y="16.026" fill="#e4d5e9" width="52.471" height="52.47"></rect>
            <rect x="122.337" y="16.026" fill="#e4d5e9" width="52.47" height="52.47"></rect>
            <rect x="174.811" y="16.026" fill="#ECECEC" width="52.469" height="52.47"></rect>
            <rect x="227.279" y="16.026" fill="#ECECEC" width="52.469" height="52.47"></rect>
            <rect x="17.394" y="68.496" fill="#e4d5e9" width="52.469" height="52.47"></rect>
            <rect x="69.865" y="68.496" fill="#e4d5e9" width="52.471" height="52.47"></rect>
            <rect x="122.337" y="68.496" fill="#ECECEC" width="52.47" height="52.47"></rect>
            <rect x="174.811" y="68.496" fill="#ECECEC" width="52.469" height="52.47"></rect>
            <rect x="227.279" y="68.496" fill="#ECECEC" width="52.469" height="52.47"></rect>
            <rect x="17.394" y="120.97" fill="#e4d5e9" width="52.471" height="52.471"></rect>
            <rect x="69.865" y="120.97" fill="#ECECEC" width="52.471" height="52.47"></rect>
            <rect x="122.337" y="120.97" fill="#ECECEC" width="52.47" height="52.47"></rect>
            <rect x="174.811" y="120.97" fill="#ECECEC" width="52.469" height="52.47"></rect>
            <rect x="227.279" y="120.97" fill="#FFF" width="52.469" height="52.47"></rect>
            <rect x="17.394" y="173.44" fill="#ECECEC" width="52.471" height="52.471"></rect>
            <rect x="69.865" y="173.44" fill="#ECECEC" width="52.471" height="52.47"></rect>
            <rect x="122.337" y="173.44" fill="#ECECEC" width="52.47" height="52.47"></rect>
            <rect x="174.811" y="173.44" fill="#FFF" width="52.469" height="52.47"></rect>
            <rect x="227.279" y="173.44" fill="#FFF" width="52.469" height="52.47"></rect>
            <rect x="17.394" y="225.912" fill="#ECECEC" width="52.471" height="52.47"></rect>
            <rect x="69.865" y="225.912" fill="#ECECEC" width="52.471" height="52.47"></rect>
            <rect x="122.337" y="225.912" fill="#FFF" width="52.47" height="52.47"></rect>
            <rect x="174.811" y="225.912" fill="#FFF" width="52.469" height="52.47"></rect>
            <rect x="227.279" y="225.912" fill="#FFF" width="52.469" height="52.47"></rect>
        </g>
        <g>
                <polyline fill="none" stroke="black" stroke-width="0.5" points="17.394,278.382 17.394,16.026 69.865,16.026 69.865,278.382
                122.337,278.382 122.337,16.026 174.811,16.026 174.811,278.382 174.811,278.382 227.279,278.382 227.279,16.026 279.748,16.026
                279.748,278.382 17.394,278.382 17.394,225.912 279.748,225.912 279.748,173.44 17.394,173.44 17.394,120.97 279.748,120.97
                279.748,68.496 17.394,68.496 17.394,16.026 279.748,16.026
                "></polyline>


                <polyline fill="none" stroke="#8D8F90" stroke-width="2" points="17.394,278.382 17.394,16.026 279.748,16.026 279.748,278.382 17.394,278.382
                "></polyline>
                <polyline fill="none" stroke="#7b2d92" stroke-width="2" points="17.394,173.44 17.394,16.026 174.811,16.026 174.811,68.496 122.337,68.496 
                122.337,120.97 69.865,120.97 69.865,173.44 17.394,173.44
                "></polyline>
                <polyline fill="none" stroke="#63B22B" stroke-width="2" points="122.337,278.382 279.748,278.382 279.748,120.97 227.279,120.97 227.279,173.44
                174.811,173.44 174.811,225.912 122.337,225.912 122.337,278.382
                 "></polyline>
            </g>
        <g>
            <text transform="matrix(1 0 0 1 25.5049 10)" fill="#CED5EA" font-family="Arial" font-size="7">High Opportunities</text>
            <text transform="matrix(1 0 0 1 176 10)" fill="#ECECEC" font-family="Arial" font-size="7">Medium Opportunities</text>
            <text transform="matrix(0 -1 1 0 10 200.9043)" fill="black" font-family="Arial" font-size="7">Exposure (potential gain)</text>
            <text transform="matrix(1 0 0 1 176 290)" fill="#00ae00" font-family="Arial" font-size="7">Low Opportunities</text>
            <text transform="matrix(1 0 0 1 130 290)" fill="black" font-family="Arial" font-size="7">Possibility</text>
            <text transform="matrix(1 0 0 1 25.5049 272.9629)" fill="black" font-family="Arial" font-size="5.9104">Very High</text>
            <text transform="matrix(1 0 0 1 86.2388 272.9629)" fill="black" font-family="Arial" font-size="5.9104">High</text>
            <text transform="matrix(1 0 0 1 137.0127 272.9629)" fill="black" font-family="Arial" font-size="5.9104">Medium</text>
            <text transform="matrix(1 0 0 1 190.3008 272.9629)" fill="black" font-family="Arial" font-size="5.9104">Low</text>
            <text transform="matrix(1 0 0 1 232.5225 272.9629)" fill="black" font-family="Arial" font-size="5.9104">Very low</text>
            <text transform="matrix(0 -1 1 0 25.6289 60.9302)" fill="black" font-family="Arial" font-size="5.9104">Very High</text>
            <text transform="matrix(0 -1 1 0 25.6279 105.0513)" fill="black" font-family="Arial" font-size="5.9104">High</text>
            <text transform="matrix(0 -1 1 0 25.6279 160.8281)" fill="black" font-family="Arial" font-size="5.9104">Medium</text>
            <text transform="matrix(0 -1 1 0 25.6279 207.9043)" fill="black" font-family="Arial" font-size="5.9104">Low</text>
            <text transform="matrix(0 -1 1 0 25.6279 264.1426)" fill="black" font-family="Arial" font-size="5.9104">Very low</text>
            <text transform="matrix(1 0 0 1 36.6143 237.3115)" fill="black" font-family="Arial" font-size="8.0214"> </text>
        </g>
        <g id="Layer_2">
            <g id="heading15">
                    <a class="go-anchor collapsed" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15" href="#contentAccordion">
                        <circle cx="97" cy="95" r="6" stroke="#54d335" fill="#54d335" />
                        <text x="91" y="99" font-size="9" fill="white">15</text>
                    </a>
                </g>
                <defs>
                    <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="0" refY="2" orient="auto">
                        <polygon fill="#8fb5e1" points="0 0,4 2,0 4"></polygon>
                    </marker>
                </defs>
                <line x1="104" y1="105" x2="87" y2="99" stroke="#8fb5e1" stroke-width="1" marker-end="url(#arrowhead)"></line>
                <g id="heading16">
                        <a class="go-anchor collapsed" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16" href="#contentAccordion">
                            <circle cx="150" cy="95" r="6" stroke="#54d335" fill="#54d335" />
                            <text x="144" y="99" font-size="9" fill="white">16</text>
                        </a>
                    </g>
                    <defs>
                        <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="0" refY="2" orient="auto">
                            <polygon fill="#8fb5e1" points="0 0,4 2,0 4"></polygon>
                        </marker>
                    </defs>
                    <line x1="157" y1="105" x2="140" y2="99" stroke="#8fb5e1" stroke-width="1" marker-end="url(#arrowhead)"></line>
        </g>
</svg>